[2018-11-12 04:13] soumya-ashok commented on #472
@alexandrosk - The PD page shows configuration options. If the shopper taps the "Add to Cart" button before selecting product configuration, then the screen scrolls to where the first configuration option begins, with a notification to choose an option.
@awilcoxa I assume the configuration part is out of scope for this issue, since we are just dealing with the sticky footer?

The add to cart stick

[2018-11-12 16:23] pcvonz opened #493 "Fallback image / page for offline experience"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-12 18:03] #320 closed

[2018-11-12 18:20] pcvonz commented on #476
Hey @ericerway I can look into this.

[2018-11-12 19:13] #436 closed

[2018-11-13 10:59] AlexeyKaryka commented on #365
@zetlen Could you please provide identifier of footer links block if it already exists in venia sample data?

[2018-11-13 11:46] dmtrkad commented on #472
@soumya-ashok, Could you please provide "operation in Progress" design to cover the loading condtition?What's time interval to show "Ticked button"-state in case to proceed with next selection?

@awilcoxa , @ericerway, Do we need to handle errors and unexpected behavior? What kind of screen or alert messages we need to show ?

Estimation:
1. Sticky footer - 1SP
2. "Add to cart" - ? (Need details t

[2018-11-13 16:42] soumya-ashok commented on #472
@dmtrkad The operation in progress would be a button state where the style switches to outline, and there is an indeterminate progress indicator as shown with the 3 dots. I am not sure what you mean by "provide the design". It would not be a static image so I'm not sure what to do here.

The ticked button state would need to remain for 2-3 seconds and then change back to "Add to Cart" - @jimbo doe

[2018-11-13 16:45] Vinai opened #497 "[UPWARD] Discussion: reducing boilerplate for inline resolver"
As a developer writing UPWARD configuration, it would be nice to be able to specify string values in UPWARD yaml with less boilerplate.

## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[x ] `upward-spec`

## This issue is a:

[ ] Bug
[x ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

##

[2018-11-13 16:46] soumya-ashok commented on #471
@dmtrkad
1. If there is only one image in the carousel that would be the "active" one, so it should be a filled circle - the same as the leftmost in the attached mockups.
2. Not sure if you're asking me or telling me that the Venia sample data images have a background and I am unclear what examples to provide here.

[2018-11-13 18:36] pcvonz commented on #476
[Docker image of the product ratings branch](https://hub.docker.com/r/vonzimp/magento_pwa/)

#### Setting up ratings with current Venia sample data

:rotating_light:  **Note:** This will probably be unnecessary in the future.

Before adding a product review via graphql follow these steps:

1. In the admin panel select `STORES` > `Rating`
2. For each item in the table (e.g. Price, Quality, etc) set

[2018-11-13 21:55] jcalcaben opened #500 "[Documentation] Update AppShell references to App"
## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[x] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[x] Documentation issue
[ ] Other (Please Specify)

## Description

The AppShell module has been renamed to App in #499 so the docs need to be updated to reflect this change.

## Expected resul

[2018-11-14 08:05] AlexeyKaryka commented on #462
@soumya-ashok could you please provide me styles for the state field and validation block when state has validation error?

[2018-11-14 08:09] AlexeyKaryka commented on #462
@jimbo could you please clarify where I should place common styles for incorrectly filled fields and for validation blocks?

[2018-11-14 10:39] #388 closed

[2018-11-14 15:29] Starotitorov opened #502 "Navigate user from order confirmation page to create account page"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-14 15:32] Starotitorov opened #503 "[Improvement] Add support of empty and loading states to List from peregrine"
## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[x] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-14 23:39] soumya-ashok commented on #462
@AlexeyKaryka - I have made some changes to form field styles based on a detailed discussion with @jimbo and @jcalcaben today. I will share the updated error one with you shortly.

[2018-11-15 08:38] Kroonax opened #504 "Uncaught ReferenceError: item is not defined"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-15 09:19] #504 closed

[2018-11-15 09:23] Kroonax commented on #413
Same problem here, did you find a solution ?

[2018-11-15 11:20] Starotitorov opened #506 "Implement endpoints to fetch data for purchase history and order details pages"
## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[x] `upward-js`
[ ] `upward-spec`

## Description

Right now Magento allows to fetch data about orders only for admin role. We need to use /orders endpoint to fetch data for the purchase history page https://github.com/magento-research/pwa-studio/issues/294. We also need /orders/

[2018-11-15 11:51] robin31 commented on #504
@Kroonax how did you solve this? Also having this issue.

[2018-11-15 13:21] Kroonax commented on #504
How unpolite from me.

There was a (I guess ?) mistake in the components/CategoryList.js

Line 35

[code]

Should be (I believe) :

[code]

[2018-11-16 08:39] Kroonax opened #510 "Implement some kind of server-side rendering for SEO"
Referencing #247 , we need to have some kind of content generated/served by the server.

## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |

[2018-11-16 10:51] Starotitorov commented on #267
There is an issue with running CI jobs for https://github.com/magento-research/pwa-studio/pull/505. This issue blocks merging of the pull request. @zetlen, I need you help, I can run all test, lint, prettier, builds scripts locally, but CI jobs fail.

[2018-11-16 10:55] Starotitorov commented on #363
@soumya-ashok, @ericerway, @awilcoxa, @zetlen What should be a behavior for "Continue shopping" button, according to mockups we need to close drawer. There is no problem to implement this. But maybe it is better to navigate user to sign in form and change text of the button? Because after changing password user will try to login once again

[2018-11-16 15:25] ericerway opened #514 "Discovery for Account details in Venia (MVP+)"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-module`
[ ] `pwa-devdocs`

## Description

As a shopper I want to view account details on Venia including contact, address, orders and other related information so that I can make an informed, accurate or repeat purchase in the future.

#### Assumptions
- Discovery will be timeboxed to be

[2018-11-16 16:02] zetlen opened #515 "Add instrumentation to work with E2E WebDrivers"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[x] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

## Description

**As an end-to-end testing automation engineer, I want to be able to detect when the the React PWA has finished loading any p

[2018-11-16 16:59] soumya-ashok commented on #363
@Starotitorov Once the user enters their email, they will actually need to go to their email, and click a link - that link may or may not open in the same browser depending on if they're on an iOS or Android device. They will need to choose a new password there and be prompted to sign in.

This continue shopping is to keep them on the site in the mean time and will take them back to the screen the

[2018-11-16 20:15] soumya-ashok commented on #462
Required form field, when the input is active and there is an error -
![form-field-active-required-error](https://user-images.githubusercontent.com/25960021/48644969-d78eb980-e9a9-11e8-8c70-f53899e2597c.png)

Required form field, when the field is not active and there is an error -
![form-field-static-required-error](https://user-images.githubusercontent.com/25960021/48644973-dbbad700-e9a9-11e8-8e

[2018-11-16 20:18] #24 closed

[2018-11-16 20:18] #438 closed

[2018-11-16 22:43] soumya-ashok commented on #460
Adobe does have some good stock photo options, but none of those would be royalty free. For a start, maybe we could leverage an existing Venia lifestyle image such as this one - https://master-7rqtwti-a6terwtbk67os.demo.magentosite.cloud/media/gene-cms/v/e/venia_outfit-3_0943_2.jpg for one of the home page images.

It does not really match the tone / aesthetic we have at the moment, but satisfies

[2018-11-16 22:47] ericerway commented on #460
@soumya-ashok thanks for your help; let's add this as a homepage image below the categories for now to demonstrate the CMS. We can link to venia-skirts when ready but this can be static for now. Thanks!

[2018-11-16 22:56] soumya-ashok commented on #460
40% off banner on the home page now has the Venia lifestyle image - https://magento.invisionapp.com/share/K5P65T3HVRQ

[2018-11-16 23:00] soumya-ashok opened #517 "Venia basic component specs"
Description of visual specs for a set of basic Venia UI components

Color
Typography
Buttons
Form fields
Shopping cart icon
------------------------
![venia-component-specs.jpg](https://images.zenhubusercontent.com/5b89562fba905a6006740695/7bee369e-6e09-4bff-83d9-fd81242ed071)

[2018-11-19 08:29] codeAdrian opened #519 ""Interactive mockup" Invision links in docs are no longer viewable"
## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[x] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-19 08:45] codeAdrian commented on #421
Hello @zetlen @ericerway , I would like to work on fixing this issue. I suggest fixing it by applying CSS to allow scroll in all drawers (navigation, minicart, etc.).

[2018-11-19 12:21] vitalics opened #521 "[Feature] Integrate bundlesize for current CI/CD process"
## This issue is for the following packages:

[x] `venia-concept`
[x] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-19 13:03] ennostuurman opened #522 "NPM run build error"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-19 13:52] adrian-martinez-interactiv4 commented on #522
When you install through composer, create your project from version: `2.3.0-beta32`, GraphQL schema seems to have breaking changes in `2.3-develop`

[2018-11-19 14:50] ericerway commented on #375
Thanks @AlexeyKaryka let's use your suggestion (enable-javascript) for now and revisit after community feedback. I see pros/cons especially if there are offline considerations but want to understand the IE/Edge limitations in a different issue. Thanks again.

[2018-11-19 19:38] AlexeyKaryka commented on #365
@zetlen excuse me, could you please repeat how I can share content block for footer links for venia sample data? Am I right that I should propose my changes in the repository of venia sample data, if so could you please share link to this repo, because it seems like there are multiple repos with similar names and I’m not sure what repo I should go to
https://github.com/PMET-public

[2018-11-19 19:42] supernova-at commented on #349
# Client Needs to Know

The following section outlines the pieces of information the client will need to know.

## From the M2 Backend

  1. Which payment methods are enabled? (PayPal, Braintree, Stripe, etc.)
  1. Which payment methods within Braintree are enabled? (PayPal, Credit Card, Venmo, Apple Pay, etc.)

## From the User

  1. Which payment method to use?
  1. If Braintree, which payment m

[2018-11-19 19:57] AlexeyKaryka commented on #375
@zetlen could you please clarify whether access to assets is available in the current condition of upward implementation. Looks like I can't connect image to the mustache's template for the disabled js scenario after some configuration of venia-upward.yml in similar way like for favicon(which is also doesn't appear at browser tab).

[2018-11-19 20:16] zetlen commented on #375
@AlexeyKaryka The current UPWARD implementation cannot directly handle binary assets, which is logged as #408. I am working on #398 which should solve #408.

However, you shouldn't need to stream an image to serve an image. The favicon route is not strictly necessary--it was for demonstration purposes only, and it could have been served from the `static` DirectoryResolver. If you save your image i

[2018-11-19 21:58] ericerway commented on #272
Covered by #452 for immediate needs by @Serunde -- marking as dupe for now. Thanks!

[2018-11-19 21:58] #272 closed

[2018-11-19 22:00] #460 closed

[2018-11-19 22:00] #267 closed

[2018-11-19 22:01] #500 closed

[2018-11-19 22:20] #265 closed

[2018-11-19 23:30] ericerway commented on #294
Moving to Sprint 30 for review while fetch endpoints are explored.

[2018-11-19 23:30] ericerway commented on #350
Moving to Sprint 30 for review while fetch endpoints are explored.

[2018-11-19 23:44] ericerway commented on #349
@JStein92 let's add you as a reviewer for this one instead given some of the internal dependencies and upcoming holidays. @supernova-at joined our team last week and is going to tackle this one as a proof of concept. Thanks!

[2018-11-19 23:49] ericerway commented on #445
Tentative estimate of 3 points - @jcalcaben let me know if this should be updated. Thanks!

[2018-11-20 10:14] ennostuurman commented on #522
@adrian-martinez-interactiv4 yes thank you this fixes the build issue. Would be nice to have this requirement in the setup docs under "Prerequisites"  as well , see https://github.com/magento-research/pwa-studio/blob/release/2.0/pwa-devdocs/src/venia-pwa-concept/setup/index.md so if you agree I will issue a PR for this.

[2018-11-20 15:08] jcalcaben commented on #445
I think this can be closed as a copy of #517

[2018-11-20 15:13] jcalcaben commented on #522
@ennostuurman I think it would be helpful to include that information on the setup page. Let me know when you create a PR for this change and I will review.

[2018-11-20 16:46] ennostuurman commented on #522
@jcalcaben issued PR ^^

[2018-11-20 19:37] ericerway commented on #351
@Starotitorov let's start this ASAP as this is needed to link the new Purchase History work merged with #501. Remember we will *only* have items for Purchase History and Sign Out for the first release so let's keep this simple. Thanks!

[2018-11-20 20:30] #468 closed

[2018-11-20 20:33] ericerway commented on #461
Simplified and assigning @jimbo to investigate. Let's look at a basic first iteration and revisit shortly afterwards. Thanks!

[2018-11-21 09:58] mhhansen commented on #236
please if there are still issues regarding the ubuntu distro approach, open up a new issue providing steps to reproduce. closing this for now, thanks!

[2018-11-21 09:58] #236 closed

[2018-11-21 13:03] #522 closed

[2018-11-21 17:26] ennostuurman opened #536 "PDP data fetch error because of GraphQL onserver variable"
PDP Data Fetch Error because of onserver variable in GraphQL .

## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| ----------

[2018-11-21 17:47] ennostuurman commented on #469
@m1kash looks like you're running on a dev-develop 2.3 instance? I had issues with M2.3 dev branch as well . Advised M2.3 version is 2.3.0-beta32 , documents will be updated soon, see for reference https://github.com/magento-research/pwa-studio/blob/release/2.0/pwa-devdocs/src/venia-pwa-concept/setup/index.md

[2018-11-21 18:06] supernova-at opened #537 "Component Display Names"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[x] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

n/a

## Description

The [React Developer Tools extension](https://chrome.google.com/webstore/detail/react-developer-tools/f

[2018-11-22 09:10] vitalics commented on #537
@supernova-at duplicate #449

[2018-11-22 09:15] Starotitorov commented on #351
@ericerway Just to clarify, right now purchase history page will not be integrated to the application. We need to add support of client side routes to our venica-concept application first. Also, https://github.com/magento-research/pwa-studio/pull/501 contains only static markup for the story, we need to merge https://github.com/magento-research/pwa-studio/pull/439 with code related to data fetchin

[2018-11-22 14:52] jcodo commented on #413
I resolved this issue by copying the contents of `vendor/magento/sample-data-media-venia/catalog` to `pub/media/catalog`. Hope this helps.

[2018-11-23 10:36] dmtrkad commented on #390
@ericerway , @zetlen, @awilcoxa Probably we need a find a solution  as a 1st step

[2018-11-23 10:37] Starotitorov commented on #502
https://github.com/magento-research/pwa-studio/pull/496

[2018-11-23 10:38] dmtrkad commented on #502
@zetlen , @jimbo , @supernova-at Could you please review a PR in order to continue with next steps ?

[2018-11-23 12:54] ennostuurman commented on #536
Can not replicate issue in new pwa-build. Works fine with fixture sample data as well. So closing this issue.

[2018-11-23 12:54] #536 closed

[2018-11-23 14:03] Starotitorov commented on #351
Pull request with the implementation and test https://github.com/magento-research/pwa-studio/pull/541
Pull request with the docs https://github.com/magento-research/pwa-studio/pull/542

[2018-11-26 10:39] Starotitorov opened #544 "[Blocker]: Issue related to now-build script"
## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-26 10:50] Starotitorov commented on #514
@ericerway Do we have mockups for the story?

[2018-11-26 11:48] Starotitorov commented on #514
According to REST API docs we have an endpoint to fetch information about the current customer: `/V1/customers/me` The response contains such fields as email, firstname, lastname and array of addresses. I guess we can use this endpoint for the story.

[2018-11-26 11:51] Starotitorov commented on #514
We need to finish this story https://github.com/magento-research/pwa-studio/issues/506 to fetch information about orders.

[2018-11-26 13:59] #340 closed

[2018-11-26 14:01] ericerway opened #545 "Venia homepage thumbnails are skewed"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-26 14:08] ericerway commented on #514
Not for discovery, we discussed in grooming that we can use the basic LUMA layout/details for this particular story in VIEW ONLY mode. We'll address editing in the future. Thanks.

![image](https://user-images.githubusercontent.com/2686596/49018980-6a6de780-f152-11e8-8f6a-6a844933750f.png)

[2018-11-26 14:15] AlexeyKaryka commented on #467
Tasks:

- [ ] Create and set up GraphQL mutation schema for creating new wishlist items on the backend side(at now there is only schema for retrieving existing wishlist items)

- [ ] Create GraphQL mutation schema on the frontend side

- [ ] Reinstate "Add to wishlist button" and set up it for processing graphql requests

- [ ] Implement temporary confirmation of successful adding to a wishlist

[2018-11-26 14:53] AlexeyKaryka commented on #467
Blocked by https://github.com/magento/magento2/issues/19410

[2018-11-26 16:00] supernova-at commented on #537
@vitalics oops! We'll sort them next grooming it looks like - thanks!

[2018-11-26 16:15] Jordaneisenburger commented on #545
It's not because of image compression:

**change this:**
[code]
**To**
[code]

[2018-11-26 16:30] #435 closed

[2018-11-26 19:04] pcvonz commented on #454
Just added simple validation to check if a field is populated or not. Not sure how exactly we want the UX for this to go, but here is an example of what I have so far:

![shipping-validation](https://user-images.githubusercontent.com/6378569/49035845-d65c4a00-f16a-11e8-83f0-2c382a18ba9b.gif)

[2018-11-27 12:28] AlexeyKaryka opened #549 "Add initial user's details fetching"
## This issue is for the following packages:

[ X ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ X ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-27 18:15] ericerway commented on #514
For this discovery story/spike we should implement all of them and create stories for those that are not possible. Read only mode. We'll be pulling from the data within Magento 2 already for Veronica Costello in this case. Thanks.

[2018-11-27 20:11] m1kash commented on #469
Well yeah, the issue doesn't arise anymore, but now images on the PWA environment are not displayed (even though it's OK on regular Magento). See attached images
![image](https://user-images.githubusercontent.com/19195462/49108051-3b618e00-f298-11e8-85ae-f94b4dc2070e.png)
![image](https://user-images.githubusercontent.com/19195462/49108632-b6777400-f299-11e8-9950-020cfa85f0a4.png)

[2018-11-27 21:01] zetlen opened #552 "GraphQL queries in .graphql files get stuck in Babel cache"
## This issue is for the following packages:

[x] `venia-concept`
[x] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

## Description

As observed by @jimbo in https://github.com/magento-research/pwa-studio/pull/550#discussion_r236769512, changes to `.graphql`

[2018-11-27 21:04] zetlen opened #553 "Add variant information to cart item display"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

## Description

With the merging of #550 the storefront supports configurable products, but the cart item display doesn't reflect the chosen

[2018-11-27 21:49] pcvonz opened #555 "Add Storybook back to Venia"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-27 22:52] #278 closed

[2018-11-27 23:05] #283 closed

[2018-11-28 08:09] zetlen commented on #375
@AlexeyKaryka Thanks for the great work in #534. I'm following up in this issue to note that when I reviewed your pull request, I realized we could configure UPWARD to serve the `media` folder with a second DirectoryResolver. I take back my advice to use a CopyWebpackPlugin! So I removed it for you before merging your PR.

[2018-11-28 12:06] Starotitorov commented on #514
@ericerway, @soumya-ashok  Should I use styling from Luma theme or it is better to try to use Venia styling and some common components from venia-concept package?

[2018-11-28 14:27] ericerway opened #558 "Venia favorite icon only partially showing (render)"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-28 14:44] #545 closed

[2018-11-28 15:38] soumya-ashok commented on #514
@Starotitorov I think that the reference image is more for content. Styling should be based on Venia. I can create a mockup with Venia styling if that would be helpful.

[2018-11-28 15:44] ericerway opened #559 "Update review and testing for 2.3.0-release with Venia"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-28 15:56] Starotitorov commented on #514
@soumya-ashok It will be great if you provide a mockup for the page. Right now I used Luma page and just changed Luma colors to our Venia theme colors.

![my-account](https://user-images.githubusercontent.com/11873143/49163801-f47aa380-f33e-11e8-97b1-4edbcba2b777.PNG)

![addresses](https://user-images.githubusercontent.com/11873143/49163810-f80e2a80-f33e-11e8-8afb-ea0a404e3d03.PNG)

[2018-11-28 23:11] #375 closed

[2018-11-28 23:12] soumya-ashok commented on #514
@Starotitorov - What you have is good for a start, but it needs some adjustment based on the styles we're defining for Venia. I am currently reviewing the styles, and will send you feedback.

[2018-11-29 00:42] #558 closed

[2018-11-29 00:43] #372 closed

[2018-11-29 00:44] #374 closed

[2018-11-29 07:12] boguskrzysiek opened #560 "Entire app is being re-rendered on navigation|minicart toggle."
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[x] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

## Description

Toggling minicart or navigation causes re-render of the entire application.

## Expected result:

Toggling minicart|navigatio

[2018-11-29 07:41] boguskrzysiek commented on #560
Actually the entire app is being re-rendered on nav | minicart toggle.

[2018-11-29 07:57] vphat28 opened #561 "Cannot find module 'envalid'"
Hi
I followed this guide https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/ to install Venia but when I was trying to run "npm run build" command I get this error in the output

@magento/venia-concept: Cannot find module 'envalid'

## This issue is for the following packages:

[ x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward

[2018-11-29 11:53] Starotitorov opened #562 "Informed package refactor for input components"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[x] Tech Debt

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             |  |
| Oper

[2018-11-29 12:15] Starotitorov opened #563 "State management refactor for navigation drawer"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[x] Tech Debt

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             |  |
| Oper

[2018-11-29 12:19] Starotitorov opened #564 "Direct URL refactor for account login and SEO"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[x] Tech Debt

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             |  |
| Oper

[2018-11-29 13:51] vitalics opened #565 "[Styles]: Close button displayed incorrect for cart"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-29 14:29] Starotitorov commented on #514
@ericerway, @awilcoxa As I mentioned before, we will not be able to finish this task until this issue https://github.com/magento-research/pwa-studio/issues/506 is resolved. So, am I right that it will be better not to include static markup for "Recent Orders" section to this page and move the implementation of the static markup for this particular section and data fetching in separate story?

Also

[2018-11-29 14:43] ericerway commented on #562
Updated with more descriptive title for issue. Thanks!

[2018-11-29 14:43] ericerway commented on #563
Updated with more descriptive title for issue. Thanks!

[2018-11-29 14:44] ericerway commented on #564
Updated with more descriptive title for issue. Thanks!

[2018-11-29 14:48] ericerway commented on #456
@vitalics can you confirm if this is still happening with the recent changes? Thanks.

[2018-11-29 14:50] ericerway commented on #243
Reviewing a few outstanding issues; @kroonax can you confirm if this is still happening with the recent UPWARD and 2.3.0 changes? Thanks!

[2018-11-29 15:12] soumya-ashok commented on #514
@ericerway and I had a talk yesterday, and I won't be providing a mockup for this at this time, I am marking your screenshots up with feedback for changes @Starotitorov . Hope that clarifies things. Thanks!

[2018-11-29 16:13] Starotitorov commented on #514
@soumya-ashok, ok, understood, thank you. When will you be able to provide the feedback?

[2018-11-29 16:24] jcodo opened #566 "urlResolver query returns null with '.html' but responds correctly without."
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-29 16:55] soumya-ashok commented on #514
@Starotitorov - Please use the suggested content and specs to make changes to your existing page and let me know if you have questions.

![venia-myacc](https://user-images.githubusercontent.com/25960021/49237991-1a4a8b80-f3c5-11e8-92fe-32abe47b8178.jpg)

[2018-11-29 17:47] ericerway opened #567 "Venia does not use store configuration base URLs"
Configuration of media directories can vary between installations of Magento, but the Venia Concept storefront is strongly opinionated that you're using `/pub` as your document root. We should instead infer media urls from the below GraphQL query, and update `venia-upward.yml` and `util/makeUrl.js` to be more flexible when detecting and proxying media requests.

[code]

## This issue is for the fo

[2018-11-29 21:41] mageclass commented on #567
Hello, as a reported of this bug on Twitter, I'm glad to provide more details on this.

### Environment

**OS:** Mac OS X Mojave
**NodeJS version:** v8.12.0
**npm version:** 6.4.1

### Installation

In my local web root `/usr/local/var/www/magento23` I have 2 folders:

- pwa-studio v1.1 (cloned from https://github.com/magento-research/pwa-studio.git)
- pwa-studio-backend (Magento 2.3.0 installed t

[2018-11-30 08:37] vitalics commented on #456
@ericerway it happens, when something wrong with backend side. I suppose that Magento cache is full and cannot put the new objects. The issue is not in PWA-Studio, it can be Magento internal issue

[2018-11-30 08:41] vitalics commented on #456
@ericerway Same error is visible if Magento backend is failed and not respond for venia rest requests

[2018-11-30 10:00] deepanshu27193 commented on #413
Same Here.

[2018-11-30 10:17] deepanshu27193 commented on #567
Same Here.

Only thing I changed is:
MAGENTO_BACKEND_URL="http://127.0.0.1/magento23pwa/"

[2018-11-30 10:35] vitalics commented on #447
for now we need to limit it to the default branch and not to PRs, since PRs are not deployed.

[2018-11-30 10:39] vitalics commented on #440
currently we try to use MFTF, for testing existing application

[2018-11-30 10:39] #440 closed

[2018-11-30 11:35] jcodo commented on #566
Found a solution. You must have '.html' suffixes enabled in Magento 2 Configuration.
https://magento.stackexchange.com/questions/19880/why-magento-has-html-suffix

[2018-11-30 11:35] #566 closed

[2018-11-30 11:39] dwirt opened #569 "Error in Swatches prevents Installation of Sample Data"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-30 11:52] thanhdv2811 commented on #413
It didn't solve my problem.
I still can reproduce it in magento 2.3 release version and pwa-studio tag v2.0.0-rc.14

[2018-11-30 12:03] jcodo commented on #552
👍

[2018-11-30 13:45] AlexeyKaryka opened #571 "Fix up checkout form right shift"
## This issue is for the following packages:

[ X ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ X ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-30 13:50] ericerway commented on #456
OK, we'll keep open for now and find a better approach to handle failed Venia REST requests then. Thanks @vitalics.

[2018-11-30 13:52] ericerway commented on #567
Thanks for all the great details. I'll defer the troubleshooting to @zetlen -- but had one question, does this happen with the example M2.3.0 cloud instance in .env.dist as well or just the updated MAGENTO_BACKEND_URL?

[2018-11-30 13:58] Starotitorov opened #573 "Implement recent orders section on account details page"
## This issue is for the following packages:

[x] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-30 14:17] vitalics commented on #571
duplicate #565

[2018-11-30 14:19] #571 closed

[2018-11-30 15:18] mageclass commented on #567
Yes, it does! Because it took me a long time to figure out the installation process, at some point I tried with the default MAGENTO_BACKEND_URL, but the results were the same.

[2018-11-30 15:32] magefan commented on #561
@vphat28 , please try to run
`npm install envalid`
before
`npm run build`

[2018-11-30 15:50] gil-- opened #575 "Focus Trapping for Menu & Cart"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[x] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[x] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

## Description

When opening any of the overlay/modals such as cart, main menu, or filters, focus is not does not change to these "modals" an

[2018-11-30 15:58] gil-- opened #576 "iOS Icon & Loading/Splash Screen Support"
## This issue is for the following packages:

[X ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[X ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-11-30 16:00] zetlen commented on #422
Thanks, @Starotitorov! We de-prioritized this because the title and metadata are most important on initial load, for SEO and SMO, but it's still confusing when the user sees the browser title. Definitely worth looking at.

[2018-11-30 16:22] ericerway commented on #576
Thanks @gil-- this is great and would be a great addition to what we currently have for Venia. Let's make sure to include @rowan-m on the review and use a simulator for testing vs. Chrome DevTools..

[2018-11-30 20:42] ericerway commented on #567
Got it. Thanks for clarifying, we'll take a look. 👍

[2018-11-30 22:01] pcvonz commented on #454
Seems to be a duplicate of #462?

[2018-11-30 22:06] pcvonz commented on #462
@AlexeyKaryka Hey, how far did you get in this issue? @JStein92 Already created a lot of the styles. I migrated them into a new component `<InputWrapper />`. You can take a look at what I've done [here](https://github.com/bargreenellingson/pwa-studio/tree/shipping-address-validation-454). Hopefully we didn't duplicate a lot of work :wink:
![address](https://user-images.githubusercontent.com/637856

[2018-11-30 22:30] AlexeyKaryka commented on #462
@pcvonz Hi, I worked with this issue about 4 days. You can take a look at my pr https://github.com/magento-research/pwa-studio/pull/492
As I see from attached animation you've changed placement of address form fields from 2 fields per row to 1

[2018-11-30 22:33] pcvonz commented on #462
Yeah, that's the layout from this mockup: https://magento.invisionapp.com/share/WQN5F7BYBPG#/screens/326530316

[2018-11-30 22:38] AlexeyKaryka commented on #462
@pcvonz As far as I see there are now issues to implement this mockup

[2018-12-01 04:27] mbrzuzy opened #579 "npm run build errors"
## This issue is for the following packages:

[ x ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ x ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-12-01 09:07] deepanshu27193 commented on #413
At my end, It's working perfect with the default cloud URL.
Only changing the MAGENTO_BACKEND_URL to local codebase gives the problem.

I have found the code which is expecting Magento to be hosted from the pub directory rather than from the root directory.
Issue is at:
https://github.com/magento-research/pwa-studio/blob/release/2.0/packages/venia-concept/src/util/makeMediaPath.js#L19

Solution:
C

[2018-12-01 09:08] deepanshu27193 commented on #567
At my end, It's working perfect with the default cloud URL.
Only changing the MAGENTO_BACKEND_URL to local codebase gives the problem.

I have found the code which is expecting Magento to be hosted from the pub directory rather than from the root directory.
Issue is at:
https://github.com/magento-research/pwa-studio/blob/release/2.0/packages/venia-concept/src/util/makeMediaPath.js#L19

Solution:
C

[2018-12-03 05:35] zetlen commented on #423
We are deliberately not making any efforts to further integrate REST APIs into our codebase. Under any other circumstances, this would be a great idea. But our project strongly prefers GraphQL as a data access layer, and we want to maintain pressure on the Magento GraphQL effort to add coverage. So we don't want to make it more convenient to use REST.

We have to strike a balance between feature i

[2018-12-03 05:35] #423 closed

[2018-12-03 06:19] zetlen commented on #441
Here is a short summary of the issues we uncovered at our first scoping meeting last Thursday with @melnikovi, @rganin, @bbatsche, and @billygilbert. We may have a followup meeting to define and size the research-spike story, but I think we can do it on Slack, for less interruption to everyone’s schedule. Here is what we discussed:
-	The UPWARD middle tier must handle all HTTP requests to the stor

[2018-12-03 08:56] spik3s commented on #45
Hey guys, I think I can help you with this section :)

[2018-12-03 11:10] mrtuvn opened #583 "Can't connect to storefront after build successfull"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[ ] Feature suggestion
[ ] Documentation issue
[X] Other (Problem with setup. This maybe common case. Server host in guest machine docker with installed apache server with node and npm)

### Environment

| Question

[2018-12-03 14:41] senthil134 opened #584 "Unexpected token error"
We are trying to build the project by using "**npm run build**" command. We are getting following error

from root folder :
![image](https://user-images.githubusercontent.com/8088538/49380152-eeb60100-f736-11e8-8180-ec9a0e1b90ca.png)

from pwa-studio-release-2.0\pwa-studio-release-2.0\packages\venia-concept folder:

![screenshot](https://user-images.githubusercontent.com/8088538/49431570-d942e480-

[2018-12-03 15:05] ericerway commented on #553
Assigned to @JStein92 - let's groom this in realtime based on your interested in taking it.

[2018-12-03 15:23] jcalcaben commented on #45
That would be great @spik3s ! I'll remove the `help wanted` label

[2018-12-03 15:45] pcvonz commented on #562
I'd like to take a crack at this. @JStein92 and I worked in a few places right as we made the commitment to use Informed.

[2018-12-03 15:54] dmtrkad commented on #562
@pcvonz , Hey Paul, Let's wait for approval from @ericerway and @zetlen to continue working on it and sync up with changes we got to exclude double work effort from each side.

[2018-12-03 17:33] sharkySharks opened #585 "Add pre-push git hook for quicker dev feedback and reduce CI failures"
Add `pre-push` hook to repo to reduce common issues that fail in CI when submitting pull requests, notably: `npm run prettier`, `npm run lint`, and `npm test`.

## This issue is for the following packages:

[ ] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`
[X]  repo level

## This issue is a:

[ ] Bug
[X] Feature suggestion
[ ] Documentatio

[2018-12-03 17:57] ericerway commented on #476
Marking on hold until graphql-ce/pull/227 is updated and merged.

[2018-12-03 18:05] pcvonz commented on #335
Since @jimbo created the `app.js`, miniCart doesn't re render on every route change. This is a non issue as far as I know.
When the `miniCart` is opened, it does trigger those two requests still. Can I get a confirmation that this is still something that should be worked on, or is that desired behavior?

[2018-12-03 18:08] ennostuurman commented on #553
hey @JStein92 I have created PR #582 for this . Understood from @ericerway that you'd been doing work for this already as well which I wasn't aware off.  I definitely would like to compare our results or maybe we could even combine both?

[2018-12-03 18:39] sharkySharks opened #587 "Need deployment environment with shared credential manager and AWS access control group for team"
Need to have a deployment environment that integrates with CI outside of individual credentials held by @zetlen . Also should have credentials in a shareable credential manager for those who need/are given access.

_Update:_
With IAM roles you can create different access groups for individual logins, this seems to be the best way forward since the credential manager would be mostly for CI access.

[2018-12-03 19:11] sharkySharks commented on #124
Adding myself here as this is something I want to look into over the coming weeks.

[2018-12-03 19:34] ericerway commented on #553
I'd love for @JStein92 to finish this out but get a quick review from @ennostuurman who appeared to show interest at the same time in an effort to work on a quick starter story. We'll find more "good first issue" stories for everyone -- good problem to have. Thanks!

[2018-12-03 20:10] JStein92 commented on #553
Ok, just pushed a prettier pass to #558 (whoops) - looking forward to a review :)

[2018-12-04 04:19] spik3s commented on #45
@jcalcaben Do you have somewhere any rough docs of how is Magento PWA going to use the service worker?

[2018-12-04 06:57] codeAdrian commented on #421
Hi @JStein92 , I was waiting for a go-ahead, but if you have created a PR, feel free to take this. Thank you.

[2018-12-04 15:16] #559 closed

[2018-12-04 15:18] ennostuurman commented on #583
@mrtuvn I am running PWA Studio with local Magento instance on Docker as backend on Ubuntu Bionic without issues . So maybe I can help you getting up and running.

Just to be sure, are you running PWA Studio from Ubuntu shell directly or from within your Docker container?

[2018-12-04 15:40] ennostuurman commented on #469
@m1kash  looks like you're using a local Magento 2.3 instance for your back-end ( http://magento-edu.local/ ). From what I see there's probably some misconfiguration on your local Magento instance / server but I can only guess. So here's some questions / remarks that might help you to solve the issue:

1) do the requested images exist on the local Magento instance?
2) are file / folder permissions

[2018-12-04 15:56] ennostuurman commented on #569
hey @dwirt just a quick reply to get you started

- the advised Magento instance is the latest release of M2.3 (not the beta32) . Docs will be updated, see PR #577
- you read the sample docs so probably an unnecessary question but just to be sure: are you running PHP 7.1 ? As there are issues with PHP 7.2 (not sure if related to yours tho) , see https://magento-research.github.io/pwa-studio/venia-

[2018-12-04 16:27] ericerway opened #594 "Accessibility improvements for Venia (Lighthouse)"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[X] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[X] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version

[2018-12-04 20:52] #242 closed

[2018-12-04 20:53] #241 closed

[2018-12-04 21:03] jimbo commented on #562
Hi everyone. I'd like to chime in and provide some context.

#### The description of this issue is correct.

We're using `informed` to manage form and field state. Fields should be rendered inside a `Form` element, which will store form values and other state. This library creates event listeners and updates state automatically, so our field components should be stateless (generally).

#### This w

[2018-12-04 21:08] jimbo commented on #562
I understand that PRs have already been opened to resolve this issue. Hopefully my comments above will provide some insight as to what I'll be looking for.

@Starotitorov Yes, `informed` provides the `asField` HOC if you need to make a custom field. In our case, I don't think we need to customize the underlying inputs, so we should avoid the HOC and simply wrap the component (e.g., `Text`).

[2018-12-04 21:40] Starotitorov commented on #562
Also, in out common Input component we are going to add reset button to clear input value when use press it, so we definitely need this hoc.

[2018-12-04 21:52] sharkySharks opened #597 "validate node version lower and upper bound in package.json"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [x] repo level

## This issue is a:

- [x] Bug - causing bugs at least
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other

### Environment

| Question                    |    Answer     |
| --------------------------- |

[2018-12-05 01:48] mrtuvn commented on #583
@ennostuurman i am running pwa studio inside docker container use docker exec command to connect
Problem may come from docker can't forward port to host machine

[2018-12-05 09:17] vitalics opened #598 "[Bug Styles]: Cart checkout. Background is not make black"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-05 10:22] vitalics commented on #579
@mbrzuzy currently, we do not have any guidelines for windows 10, since magento2 officially [support](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html) *nix systems. You can try to use[ bash on windows](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/) instead.

[2018-12-05 10:45] Starotitorov commented on #461
@ericerway In my opinion, we can split this story into smaller ones.
As far as I understand, we have three scenarios and it is possible to have separate designs for them.
1. Splash screen. We need to show it when user loads Venia app from homescreen.
2. Loading indicator when we execute GraphQL query `urlResolver` to understand what page we need to render for the url. It is a loading indicator for

[2018-12-05 12:02] codeAdrian commented on #549
Hello, PR has been created to fix this issue: https://github.com/magento-research/pwa-studio/pull/599

[2018-12-05 12:37] codeAdrian commented on #565
Hello, I have submitted PR which fixes this issue: https://github.com/magento-research/pwa-studio/pull/600

[2018-12-05 13:38] ericerway commented on #565
Fantastic, thanks @codeAdrian! Every contribution counts.

[2018-12-05 14:14] ennostuurman commented on #583
@mrtuvn yep that could be the issue. But why run PWA Studio inside Docker when you can run it directly in the shell? That's how I use it and is probably less error prone with regard to port and network configurations.

So:

- install PWA Studio code base in your home folder
- change MAGENTO_BACKEND_URL in venia-concept .env file to the Magento store url of your Docker instance
- startup Docker
- r

[2018-12-05 15:00] Starotitorov commented on #461
@ericerway, @awilcoxa, @soumya-ashok, splash screen have already been added, all required information has already been added to manifest.json:

![splash-screen](https://user-images.githubusercontent.com/11873143/49521954-8b9fa800-f8b7-11e8-953b-982d2cf1e328.png)

[2018-12-06 03:20] mrtuvn commented on #583
thanks i will try it again

[2018-12-06 11:10] #502 closed

[2018-12-06 11:16] Starotitorov commented on #461
So, we found out that splash screen has already been implemented. @ericerway, @soumya-ashok. we need designs to start implementing:

1. Loading indicator when we execute GraphQL query urlResolver to understand what page we need to render for the url. It is a loading indicator for the whole page.
2. Indicator to show progress loading some data on the page. For example, when we render a collection o

[2018-12-06 13:25] Starotitorov opened #603 "Reset navigation drawer state when user closes it"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-06 13:35] Starotitorov opened #604 "Reset internal states of Sign In and Create Account forms inside the navigation drawer"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-06 13:41] Starotitorov opened #605 "Add git pre-push hook"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-06 13:59] vitalics opened #606 "[Bug]: Carousel without indicator and styles and logic"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [X] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-06 14:10] vitalics opened #607 "[Bug]: Product image carousel does not update to reflect variant config"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-06 14:14] vitalics commented on #565
Update. Production check. this issue was fixed, close button displaying correctly:
![image](https://user-images.githubusercontent.com/8816260/49589359-43958980-f97a-11e8-89d2-6ddf87248379.png)
Reason for close. Fixed

[2018-12-06 14:18] codeAdrian commented on #565
Hello, thanks for confirming the fix. I'm just wondering if we should keep the issue open until PR has been approved and merged? Since issues are synced with Zenhub and used for tracking fixes and features.

[2018-12-06 14:42] JStein92 opened #608 "No way to close "checkout" panel in minicart"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

When a user selects "checkout", they are locked into the checkout process and can not close out of the pa

[2018-12-06 14:47] JStein92 opened #609 "Checkout button does not render if minicart is opened right after refresh"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

If the user opens their minicart right after a page refresh or initial page load, the "checkout" button w

[2018-12-06 15:31] ericerway commented on #461
Work remains to build on top of the placeholder Venia splash/load experience. Reassigning for now. Thanks.

[2018-12-06 16:16] vitalics commented on #81
## Possible solution:
- read google web payments apps [arcticle](https://developers.google.com/web/fundamentals/payments/payment-apps-developer-guide/web-payment-apps)
- create `payment-manifest.json` file
- create payment method on back-end side(pay, checkout)
-  implement payment according [this docs](https://developers.google.com/web/fundamentals/payments/merchant-guide/deep-dive-into-payment-r

[2018-12-06 16:16] soumya-ashok commented on #604
@Starotitorov I am not sure this is a bug. The preferred experience would be not to reset the form state because that means the user would need to enter all the information again. Will discuss with @jimbo

[2018-12-06 16:18] soumya-ashok commented on #603
@Starotitorov There are situations in which resetting the drawer to show the main menu would be applicable, but I am not sure that it would apply to every single use case. Will discuss with @jimbo and send an update.

[2018-12-06 19:51] ericerway commented on #605
Defer to @zetlen on issue priority. Unsure the business value over other priorities. Thanks.

[2018-12-06 19:54] Starotitorov commented on #605
I have implemented this today and created a pull request https://github.com/magento-research/pwa-studio/pull/610.

[2018-12-06 22:37] ericerway commented on #96
Reviewing some of our older issues -- @rowan-m can you confirm if this is still the case after all of the recent changes including UPWARD? Thanks!

[2018-12-07 10:28] aliaathil opened #612 "npm run build error"
node version :10.14.1
npm version:6.4.1

error found
Using environment variables from .env
Unexpected token < in JSON at position 0

The current default backend for Venia development is:

	https://release-dev-rxvv2iq-zddsyhrdimyra.us-4.magentosite.cloud/

The configured MAGENTO_BACKEND_URL in the current environment is

	http://localhost/magento223/

Consider updating your .env file or environment

[2018-12-07 10:50] codeAdrian opened #613 "Improve Minicart & Checkout Totals"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-07 11:04] hervebackstage opened #614 "Feedback on page: /venia-pwa-concept/component/filter/"
## This issue is for the following packages:

- [x] `venia-concept`

## This issue is a:

- [x] Bug
- [x] Documentation issue

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             |2.3.0 |
| Operating System + version  | Ubuntu 19.04.1 LTS |
| node.js version (`node -v`) | v8.12.0 |
| npm version (`npm -v`)

[2018-12-07 11:38] Starotitorov commented on #607
@vitalics, @ericerway Right now for each product we receive an array of `media_gallery_entries` with images for different views of the product. Also, for configurable products we receive an array of `variants`. Each `product` inside `variant` object contains `media_gallery_entries` array, but each media_gallery_entry contains only one image with label "Main" now. In general, we can implement this,

[2018-12-07 15:01] ericerway commented on #81
Marking as duplicate.

[2018-12-07 15:01] #81 closed

[2018-12-07 15:02] #28 closed

[2018-12-07 15:02] ericerway commented on #28
Closed with #248. Cleaning up older stories in backlog post-2.3.0

[2018-12-07 15:10] ericerway opened #617 "Add indicator to shopping cart in Venia header"
## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[ ] `peregrine`
[ ] `pwa-module`
[ ] `pwa-devdocs`

## Description

As a shopper, I want to know if I have items in my Venia shopping cart for purchase so that I know what to do next as a shopper online.

(insert updated design here)

#### Assumptions
- Working shopping cart; ability to capture # of items (backen

[2018-12-07 15:41] zetlen commented on #493
@pcvonz There are some irregularities with ServiceWorker caching right now, but now that we've merged your awesome work in #486, I don't know what the repro is for this issue. Is it still valid?

[2018-12-07 15:43] zetlen commented on #441
Associated internal ticket is https://magento2.atlassian.net/browse/MAGECLOUD-2983.

[2018-12-07 16:03] ericerway opened #618 "Component status for PWA Studio (Venia) *WIP*"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-07 16:43] ericerway opened #619 "[Documentation]: Writing new components with PWA Studio (Venia+Peregrine)"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-07 16:50] ericerway commented on #493
Suggestion for @jimbo at grooming to consider content vs. asset fallback similar to what is being done for Categories on Homepage.

[2018-12-07 17:03] ennostuurman opened #620 "CMS blocks don't render"
As a developer I want to be able to add CMS block content using the `<CmsBlocks />` as suggested in merged PR https://github.com/magento-research/pwa-studio/pull/277 . However CMS blocks don't render.

## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug

[2018-12-07 17:41] ericerway opened #622 "Offline experience for PWA *WIP*"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-07 17:42] ericerway opened #623 "EPIC: Accessibility for PWA *WIP*"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-07 18:34] ericerway commented on #614
Thanks for reporting! Good timing, sorting and filtering is coming soon (work is partial) as we review the new GraphQL work after 2.3.0 but we just merged a fix that removes these for now in #531 until they return. Closing for but happy to reopen if you still have questions. Thanks again.

[2018-12-07 18:34] #614 closed

[2018-12-07 19:05] #437 closed

[2018-12-07 21:00] #576 closed

[2018-12-07 21:36] jimbo commented on #604
When the form is submitted or unmounted, the values should be cleared. But the form should not be unmounted or cleared when the drawer is merely closed. The drawers are stateful and intended to retain their state while hidden.

[2018-12-07 21:37] jimbo commented on #603
This is working as intended, in general.

[2018-12-07 21:37] #603 closed

[2018-12-07 21:41] gil-- opened #625 "Kebab button does not work in certain browsers (non-chromium?)"
Minicart Kebab button currently uses `onFocus` which seems to not work in Firefox and Safari (iOS & Desktop).

## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Enviro

[2018-12-07 21:43] gil-- commented on #625
As an aside, when debugging this, I found it odd that the kebab button was located within the minicart component folder. It seems like it would be a useful global component in the future such as for wishlist, etc. Might be ideal to move it to a more global scope than within minicart.

[2018-12-07 21:47] gil-- commented on #625
Also, some of the issues I'm seeing are related to cross-browser issues. Not sure if the Magento team does cross-browser internal testing but it may be interesting to incorporate [cypress]https://www.cypress.io/) test cases especially whenever they added Firefox support as that would provided automated browser testing in Chrome & Firefox and ensure these sorts of bugs get caught via CI than human.

[2018-12-07 21:51] #452 closed

[2018-12-07 21:51] #279 closed

[2018-12-07 21:51] #609 closed

[2018-12-07 21:53] #459 closed

[2018-12-07 23:13] ericerway commented on #617
Updated post-grooming and assigned to @ennostuurman -- @soumya-ashok can fast follow with any updates when she has time to reflect an indicator vs. counter approach. Thanks!

[2018-12-09 11:05] ennostuurman commented on #612
@aliaathil

1) Does your PWA Studio install work with the pre configured backend url?

2) Two (wild) guesses based upon the info that you provided:

- I am not sure if http://localhost/magento223/ will work so try to change configured backend url to a valid domain preferably served from https , like https://magento223.local/ .
- do you use git ? An unexpected ` < ` token might indicate an unresolv

[2018-12-10 05:36] aliaathil commented on #612
Thank for reply
im using ubuntu 16.04 LTS
Magento version. 2.3.0

Error log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'build' ]
2 info using npm@6.4.1
3 info using node@v10.14.1
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle @magento/pwa-studio@2.0.0~prebuild: @magento/pwa-studio@2.0.0
6 info lifecycle @magento/pwa-studi

[2018-12-10 06:44] aliaathil opened #626 "Cannot query field "fashion_color""
## This issue is a:
- [ ] Documentation issue

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             |2.3.0 |
| Operating System + version  | Ubuntu 16.04 |
| node.js version (`node -v`) | 10.14.1 |
| npm version (`npm -v`)      | 6.4.1 |

## Description

Using environment variables from .env
Errors found!

/v

[2018-12-10 07:18] codeAdrian opened #627 "Checkout layout breaks after visiting category page"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-10 07:49] nisha-ti commented on #626
I have the same issue

[2018-12-10 07:50] codeAdrian commented on #627
This issue will be fixed when following PR is merged: https://github.com/magento-research/pwa-studio/pull/628

@ericerway @jimbo @zetlen , let me know if I need to make any adjustments.

[2018-12-10 11:21] ennostuurman commented on #612
hey @aliaathil looking at issue https://github.com/magento-research/pwa-studio/issues/626 . Seems you solved this issue because you managed to go a step further in the build now by using a valid domain http://magento223.local instead of  http://localhost/magento223/ ?

Can you please confirm so we can close this one?

[2018-12-10 11:50] khoimm92 commented on #612
@aliaathil Could you explain how to fix above issue?

[2018-12-10 11:57] ennostuurman commented on #626
@aliaathil this is the GraphQL query validation which runs with ` npm run build ` and ` npm watch:venia ` .

This happens because you're running against a Magento instance that has no Venia sample data and because the Venia GraphQL queries for product options fashion_color and fashion_size are hardcoded.

Uncomment the fashion_color and fashion_size in both  ` packages/venia-concept/src/queries/ge

[2018-12-10 13:30] AlexeyKaryka commented on #594
@soumya-ashok could you please provide new color for the footer text? current one doesn't match contrast ration in the lighthouse

[2018-12-10 13:58] Jordaneisenburger commented on #584
I've also ran into this exact issue, although i forgot how i've fixed it. I will try to reproduce and fix again.

[2018-12-10 14:08] vitalics opened #629 "[Styles]: Cart footer actions displays in row instead of column"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-10 14:14] #565 closed

[2018-12-10 14:19] codeAdrian commented on #629
Duplicate of the issue: https://github.com/magento-research/pwa-studio/issues/627

PR submitted: https://github.com/magento-research/pwa-studio/pull/628

[2018-12-10 14:20] ericerway commented on #629
Agreed with @codeAdrian -- duplicate, marking as closed. Thanks.

[2018-12-10 14:20] #629 closed

[2018-12-10 14:30] vitalics opened #631 "[Bug]: SignIn header is not change after login"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-10 14:48] vitalics opened #633 "[Bug]: Main menu. DOM append in wrong sequence for user"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-10 16:10] tjwiebell commented on #567
@zetlen

There are two problems here that I think can be easily resolved.

1) `venia-upward.yml` assumes requests for `media/` should just proxy to `env.MAGENTO_BACKEND_URL`, which breaks if your instance is not using `/pub` as your document root. As @deepanshu27193 pointed out, updating M2 server config resolved their problem. I think we can just document how to configure Venia to match your M2 c

[2018-12-10 16:31] ericerway opened #636 "EPIC: Accessibility improvements for Venia (Lighthouse)"
From pwa-studio created by [ericerway](https://github.com/ericerway) : magento-research/pwa-studio#594

## This issue is for the following packages:

[X] `venia-concept`
[ ] `pwa-buildpack`
[X] `peregrine`
[ ] `pwa-devdocs`
[ ] `upward-js`
[ ] `upward-spec`

## This issue is a:

[ ] Bug
[X] Feature suggestion
[ ] Documentation issue
[ ] Other (Please Specify)

### Environment

| Question

[2018-12-10 16:31] ericerway commented on #594
Kamino cloned this issue to [magento-research/pwa-studio](https://github.com/magento-research/pwa-studio/issues/636)

[2018-12-10 17:00] supernova-at commented on #349
This has been deferred in favor of reducing the current number of open PRs.

Development-wise, I'm taking over #464 (Search) and then I can get back to this one.

[2018-12-10 18:57] ericerway commented on #373
No longer an issue; this is resolved on the server/UPWARD side. Closing for now.

[2018-12-10 18:57] #373 closed

[2018-12-10 19:22] JStein92 commented on #493
Waiting for fallback image mockup from @soumya-ashok to proceed

[2018-12-10 22:16] ericerway commented on #245
Ready to start after we landed shipment/payment methods PR last week via @supernova-at and Bargreen. Thanks!

[2018-12-10 22:16] ericerway commented on #244
Ready to start after we landed shipment/payment methods PR last week via @supernova-at and Bargreen. Thanks!

[2018-12-10 22:19] ericerway commented on #46
Ready for grooming after we landed offline in 2.3.0 -- let's review/discuss documentation needed w/r/t external resources available on this topic. Thanks.

[2018-12-10 23:04] soumya-ashok commented on #493
Background color #f6f6f6 will cover the intended area of the image.
Icon in #707070 will be centered in the area. The icon will scale based on the area available. I will slack you the SVG @JStein92 since Github doesn't support that format here.

Specs for icon sizing based on image context. Not all cases are specifically covered, but should provide a reasonable guide.
![venia-placeholder-image](ht

[2018-12-10 23:06] soumya-ashok commented on #594
@AlexeyKaryka Text color #707070 should satisfy the contrast requirement, please let me know if it doesn't.

[2018-12-11 07:01] codeAdrian commented on #633
Hello. I believe that this issue was related to the checkout layout being broken. The fix for it was pulled into release. Please check again and let us know if it persists. I have tried to reproduce this issue with fix applied and everything was looking good.

[2018-12-11 07:02] codeAdrian commented on #627
This issue was fixed by merging the PR. @ericerway, you can close this issue.

[2018-12-11 10:00] ennostuurman commented on #469
@m1kash see my reply from last week, did you manage to get PWA Studio running on your end?

[2018-12-11 10:01] ennostuurman commented on #569
hello @dwirt did you manage to get PWA Studio running based upon my last weeks advise?

[2018-12-11 10:32] vitalics opened #640 "[Bug]: Error message for configurable product"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-11 12:06] vitalics opened #641 "[Optimization]: Rendering product detail page"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [X] Feature suggestion
- [X] Optimization
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :----

[2018-12-11 12:14] vitalics opened #642 "[Optimization]: Rendering header when route was change"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [X] Feature suggestion
- [X] Optimization
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :----

[2018-12-11 12:31] Starotitorov commented on #594
@soumya-ashok, yeah, this color satisfies the requirement, thank you.

[2018-12-11 12:35] AlexeyKaryka commented on #594
@soumya-ashok could you please also provide new text color for the add-to-cart button?

[2018-12-11 13:07] vitalics opened #643 "[Optimization]: Reduce request timing"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [X] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [X] Feature suggestion
- [X] Optimization
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :----

[2018-12-11 14:03] vitalics commented on #598
Update.
- inside `.miniCart-body` add `<button class="mask-root" />`
- `miniCart-footer` add `z-index: 2` and remove margins and paddings
- `form-footer flow-footer` remove margin
DOM:
![image](https://user-images.githubusercontent.com/8816260/49805608-9306fb80-fd66-11e8-8275-cccace9999b7.png)
RESULT:
![image](https://user-images.githubusercontent.com/8816260/49805630-a1edae00-fd66-11e8-8156-b8613

[2018-12-11 14:18] #627 closed

[2018-12-11 14:53] Starotitorov commented on #631
The problem with the logic we use to determine the title of the navigation panel:

[code]

At the same time we make two checks to understand if we need to render Sing In and Create Account forms or not:

`const isOpen = !isSignedIn && isCreateAccountOpen;`

`const isOpen = !isSignedIn && isSignInOpen;`

In general, I believe it is better to refactor our navigation drawer, I created an issue https:

[2018-12-11 14:56] soumya-ashok commented on #594
Why do we need a new text color for the add to cart button? @AlexeyKaryka

[2018-12-11 15:03] Starotitorov commented on #594
According to audit results, the color of the text does not satisfy color contrast requirement.

![add-to-cart-button](https://user-images.githubusercontent.com/11873143/49808999-dd8c7600-fd6e-11e8-8d6f-02338d5ebaf4.PNG)

[2018-12-11 15:21] AlexeyKaryka opened #644 "[Bug]Pagination retain its current page after moving to any other page"
## This issue is for the following packages:

- [ X ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ X ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Ma

[2018-12-11 15:38] aliaathil commented on #626
@ennostuurman thanks

[2018-12-11 15:38] #626 closed

[2018-12-11 15:39] aliaathil commented on #612
i have changes the url to http://magento223.local  solved the issue thanks @ennostuurman

[2018-12-11 15:39] #612 closed

[2018-12-11 15:59] zetlen commented on #363
We first envisioned this scenario taking place entirely in a drawer, @Starotitorov. Conceptually, this would mean that the "Continue Shopping" button simply dismisses the drawer, just like the close button.  In terms of app flow, this would the drawers to be routed application states, as we discussed in October, with metadata describing the page that underlaid the drawer when it opened. We can imp

[2018-12-11 16:02] zetlen commented on #390
For now, email templates should be implemented manually using the same original assets used to build the PWA. We need to talk about what kind of email workflow is acceptable; Magento frontend developers who maintain local instances can edit email templates directly, but if you're working from a remote instance in our new workflow, the story is less clear. Adding labels to indicate that further dis

[2018-12-11 16:05] zetlen commented on #555
@pcvonz Your first bullet point answers your second! The `FETCH_ROOT_COMPONENT` module is provided by the `MagentoRootComponentsPlugin`, so our shared Webpack config can just add that plugin and Storybook should resolve the virtual module just fine.

As we work, we want to migrate code from `webpack.config.js` into Buildpack plugins, just like we want to migrate Venia UI into Peregrine. Creating a

[2018-12-11 16:12] ennostuurman commented on #626
yw @aliaathil glad it helped and thanks for closing the issue .

[2018-12-11 16:12] ennostuurman commented on #612
thanks @aliaathil for the confirmation and closing the issue. cc: @khoimm92 , here ^^ you have your answer ;-)

[2018-12-11 16:20] zetlen opened #645 "Refactor UPWARD for better errors and stack traces"
## This issue is for the following packages:

- [ ] `venia-concept`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [x] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [x] Documentation issue
- [x] Other (Please Specify) **Refactor**

## Description

_As a PWA Studio developer, I want server-side errors in UPWARD to display clear message and

[2018-12-11 16:20] zetlen commented on #456
@ericerway @vitalics The upward-js library needs better error handling, with pointers to source code and virtual stack traces. The best way to accomplish this is with a concrete syntax tree, and I have a small project to refactor UPWARD to include one. I just opened https://github.com/magento-research/pwa-studio/issues/645 to track this.

[2018-12-11 16:23] vitalics commented on #456
I suppose we can close this issue.
Reason: a new story just opened

[2018-12-11 16:23] #456 closed

[2018-12-11 16:30] ennostuurman commented on #617
hi @soumya-ashok

I did development on this one today and it's technically almost ready , only need to write some additional unit tests and do the layout.

**Functionality:**
In this  solution the cart indicator will show number of items in the cart, i.e. 1x product A + 2 x product B = 3, in case of an empty cart the counter will not be visible.

Can you confirm the above is correct functionality?

[2018-12-11 17:04] zetlen commented on #454
Closing in favor of #462, which has more activity and data.

[2018-12-11 17:04] #454 closed

[2018-12-11 17:14] zetlen commented on #335
That's desired behavior; if the minicart changed in another tab or session, then this session won't know until it requests new data. Basically, cart data is volatile and should be regularly re-checked.

[2018-12-11 17:19] zetlen commented on #335
And you're right--this was fixed by @jimbo in #268.

[2018-12-11 17:21] zetlen commented on #587
@sharkySharks What kind of shared credential manager do you recommend? In our Cloud instances, we have shareable and inheritable environment variables, and that seems like a good start. But CircleCI also needs access to these environment variables.

One thing we could do is make our own cloud instance handle the push webhook, and use the CircleCI to dispatch new CI builds. This requires a lot of n

[2018-12-11 17:48] ericerway commented on #633
Agreed. @vitalics can you please verify after yesterday's changes? Otherwise we can mark this as closed. Thanks.

[2018-12-11 19:21] zetlen commented on #421
Closed by #590.

[2018-12-11 19:21] #421 closed

[2018-12-11 19:47] ntoombs19 opened #648 "Request to own the Shop the Look category page for the Venia Storefront"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [x] Other (Please Specify) - Building out the "Shop the Look" category page in the Venia storefront

## Description

I am interested in building the

[2018-12-11 23:00] dwirt commented on #569
I got it working on a different machine, so the problem was probably with the environment

thanks!

[2018-12-11 23:01] #569 closed

[2018-12-12 10:09] Starotitorov commented on #585
https://github.com/magento-research/pwa-studio/issues/605

[2018-12-12 12:44] Starotitorov opened #650 "Category component is not unmounted when user navigates between categories using navigation panel."
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-12 14:07] vitalics opened #652 "[Bug]: Double slash in request"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-12 14:41] vitalics opened #655 "[Bug]: Authorized user cannot add product to cart"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-12 15:27] ericerway opened #656 "Update pwa-studio to fix security vulnerabilities 12.6.18"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-12 16:44] ennostuurman commented on #569
hi @dwirt glad you managed to get PWA Studio up and running. Thank you for the confirmation and closing the issue!

[2018-12-12 17:30] ericerway commented on #625
Thanks for the report! Marking this for grooming to address the kebab and tagging @sharkySharks to incorporate in a separate spike/issue on browser testing with automation.

[2018-12-12 19:46] dambrogia opened #657 "Question: How to extend theme rather than overwrite."
I have been reading through the docs casually for the last week or two. I can see that contributions are being made in bunches in the docs as well as the pwa codebase. Thank you for all of the work you've done. I think this is an awesome move by the Magento team and I think we can all agree it is much needed.

My question is:

Is it going to be possible to extend from the venia theme rather than j

[2018-12-12 22:36] ericerway opened #658 "Generation of robots.txt file for SEO"
## This issue is for the following packages:

- [X] `venia-concept`
- [X] `pwa-buildpack`
- [X] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-13 10:55] Starotitorov commented on #594
@soumya-ashok, I updated styles for 'Add to Cart' button. It seems that our colors combination for both buttons do not satisfy color contrast requirements. I still receive the same warning:

Background and foreground colors do not have a sufficient contrast ratio.

![add-to-cart](https://user-images.githubusercontent.com/11873143/49934079-755ca200-fede-11e8-8eeb-e7ad547a436a.PNG)

[2018-12-13 12:37] AlexeyKaryka commented on #656
Unfortunately link https://github.com/magento-research/pwa-studio/network/alerts leads to 404 page

[2018-12-13 12:59] codeAdrian opened #661 ""Remove Item" in Minicart usability issue"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-13 14:18] ericerway commented on #656
Appears to be owner access only in GH and link is not 100% helpful. We just need to upgrade minimatch, lodash and string which are in pwa-devdocs -- vulnerabilities were found in the package-lock.json file. Thanks!

[2018-12-13 14:31] AlexeyKaryka commented on #575
seems like proposed https://ui.reach.tech/dialog is the most convenient way to handle focus within modals, there are number of css tricks and js libraries to trap focus within block, but I suppose library with react components is much more easier to integrate.

[2018-12-13 15:21] soumya-ashok commented on #594
@Starotitorov I believe I already resolved this with @jimbo by increasing the size of the button text. Please follow his spec. Also, I just checked the contrast rating (screenshot attached) and it does pass - just not for small text.

<img width="740" alt="screen shot 2018-12-13 at 9 21 01 am" src="https://user-images.githubusercontent.com/25960021/49948162-809cd700-feb8-11e8-8c91-8456e09c7f6c.png

[2018-12-13 15:24] vitalics opened #662 "[Bug]: Cannot Edit cart item"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-13 16:32] Serunde commented on #662
`Edit Cart Item` is a hard-coded placeholder page. Now that the work on Configurable Products (#278) is complete, this page can be fully implemented. I think this issue might be more applicable as a feature request.

[2018-12-13 19:21] ntoombs19 commented on #648
- How will the product/category/attribute data be added and by whom?
- Assuming each "look" is a category, how should each category be displayed individually?
- The main images for each look are quite large. With load speed being an important consideration for PWA, how large (size and quality) should the images be and should the images be lazy loaded?
- I think this page would be a good candidate

[2018-12-13 22:07] ennostuurman commented on #617
@soumya-ashok thank you I adjusted my previous  accordingly and issued PR ^^ .

Screenprint cart icon empty cart:

![magento-pwa-studio-issue-617-cart-icon-empty-cart](https://user-images.githubusercontent.com/1906257/49970489-c34bc700-ff2b-11e8-821b-865f84fe73eb.png)

Screenprint cart icon filled cart:

![magento-pwa-studio-issue-617-cart-icon-filled-cart](https://user-images.githubusercontent.co

[2018-12-13 22:16] ericerway commented on #662
Agreed. Let's groom this tomorrow as a feature request based on the details from the report. Thanks everyone!

[2018-12-13 22:18] ericerway opened #665 "Edit cart for configurable products in Venia PWA"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [X] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-13 22:18] ericerway commented on #662
Kamino closed and cloned this issue to [magento-research/pwa-studio](https://github.com/magento-research/pwa-studio/issues/665)

[2018-12-13 22:18] #662 closed

[2018-12-13 22:40] brendanfalkowski commented on #617
I think this might be too subtle an idea for the real world. I'd bet 80% of people could not guess whether the cart is empty/full just from seeing the outline vs solid state. Whereas a counter leaves no question.

In a client's backlog, I actually have a ticket to make the counter even more prominent based on customer feedback that it's hard to read on small screens.

The current button:

<img wid

[2018-12-13 23:00] ericerway commented on #648
Thanks for the feedback @ntoombs19 -- will definitely want to get @soumya-ashok involved as we get started but hopeful we can look at discovery work in advance. Thanks again.

[2018-12-14 09:55] ennostuurman commented on #617
hey @brendanfalkowski thanks for chiming in! I agree with you and a visible counter was the original setup.  But I'll leave this decision up to @soumya-ashok .

Just out of interest, what quantity do you use for the counter count? In the example you provided, the counter displays 22 items in cart. Is that total (different) products in cart or total of ordered items?

[2018-12-14 10:21] dmtrkad commented on #312
@sharkySharks Could you please comment on it ?

[2018-12-14 14:13] AlexeyKaryka commented on #656
As far as I've found out there are no opportunities to update string, lodash and minimatch packages. Each of them are used in pwa-devdocs only as dependencies of other packages and a few of these packages require old minor version. Apart from that string package doesn't have any patches yet, so nothing to update; Lodash 4.17.5 which is recommended to update to isn't placed on npm yet, the lattest

[2018-12-14 16:16] AndreyChorniy commented on #561
Thank you @magefan

[2018-12-14 16:25] rowan-m opened #668 "Images should be lazy-loaded and responsive"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

Images are currently loaded via an `<img>` tag. On simpler, lighter pages where the majority of the conte

[2018-12-14 17:30] gil-- opened #669 "Venia Localization w/ i18n"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [X] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-14 17:46] JStein92 commented on #493
@ericerway @zetlen Can we spin off the Offline/Not Found page styling to a separate issue? I feel like although it's in the scope of 'offline functionality' it doesn't belong in the same issue as fallback images  Also it would be a good `first issue`/`help wanted`.

[2018-12-14 18:58] soumya-ashok commented on #617
@brendanfalkowski and @ennostuurman - The decision to leave the counter out is a temporary one because we are trying to work through some issues with the original ideas we were considering. I'll share the details here, and your feedback is welcome.

Design 1:
![screen shot 2018-12-14 at 12 51 10 pm](https://user-images.githubusercontent.com/25960021/50021638-596d0500-ff9f-11e8-9575-074e24a4eac6.pn

[2018-12-14 19:22] supernova-at commented on #617
This is what I was going to comment on. While perhaps a cart with 99+ items in it is a relative rarity, deciding a "breaking" point like this is a great idea, lest our number completely overpower our icon.

I found [this discussion](https://ux.stackexchange.com/questions/85175/is-a-notification-counter-needed) to have some useful ideas in it, specifically:

Admittedly in our case though, the numbe

[2018-12-14 19:54] brendanfalkowski commented on #617
@soumya-ashok — The site is https://ne.carrierenterprise.com, screenshot:

![screen shot 2018-12-14 at 11 49 22 am](https://user-images.githubusercontent.com/214924/50024149-54578800-ff96-11e8-80dc-9087ce21e3a8.png)

I would follow design 2, but increasing the font-size further. Given the choice between highlighting the state (empty/full) and the count (value), I'd probably always argue for the qu

[2018-12-14 20:11] soumya-ashok commented on #617
@ennostuurman For your question regarding the number of items, the way you have it listed is how I assumed it would function. The actual number of items regardless of the "type".

[2018-12-14 20:15] soumya-ashok commented on #617
@brendanfalkowski Agree with you on the count being of higher importance. Will tweak the element based on this discussion.

@supernova-at For a retail site 99+ would be a rarity, but may not be in a B2B context. We don't have to worry about that for now. I was curious about the upper bound because it impacts the space occupied by the counter. Thanks for the feedback!

[2018-12-14 20:31] supernova-at commented on #449
Closed by #667.

[2018-12-14 20:31] #449 closed

[2018-12-14 20:39] #537 closed

[2018-12-14 21:45] ericerway commented on #665
@soumya-ashok we can move this to "In Progress" once you have a moment to add the correct image from the prototype. Thanks!

[2018-12-14 22:08] soumya-ashok commented on #617
@ennostuurman  Let's go ahead and use the below treatment for the cart. The image shows the following states:
1. No items
2. 1-10 items
3. More than 10 items
![screen shot 2018-12-14 at 3 28 07 pm](https://user-images.githubusercontent.com/25960021/50028313-e2db0200-ffb4-11e8-89a2-b83ba6669516.png)

@ericerway As an enhancement, I'd like to explore adding an animation in the following cases to cal

[2018-12-14 22:16] soumya-ashok commented on #665
Mockup for reference
![mini cart - edit](https://user-images.githubusercontent.com/25960021/50032803-8b8c6000-ffbb-11e8-823e-4991aa2d56e9.jpg)

[2018-12-14 22:45] brendanfalkowski commented on #617
@soumya-ashok — Looks really good 👍 I'm not sold on the threshold idea the more I see it.

Most of my work is B2B, and they do have 1000 item orders but it's always in the user's interest to see an accurate summation of their cart volume as a sanity check.

There's easily room in the UI for 4 digits, and with a threshold you trade a usable character for the `+` sign so it's not ever saving space (

[2018-12-14 23:01] soumya-ashok commented on #617
@brendanfalkowski thanks!
I agree that a + is less meaningful than an actual number and if we can show 10+ we can probably show up to 99 without using the +.

Appreciate the additional context on B2B. Since my knowledge of that realm is limited, does the number of items in the cart in a B2B scenario impact buying decisions? I would assume that those purchasers are very used to seeing high numbers

[2018-12-15 00:44] brendanfalkowski commented on #617
@soumya-ashok — I'm most familiar with B2B selling as a distributor, which roughly means they have three types of buyers.

1. A small company where the buyers is also quoting/installing a specific "job" they're doing for their customer.
1. A mid-size company where the buyer is an entire role, and they're sourcing materials for many jobs constantly.
1. A large company where the buyer is stocking it

[2018-12-17 09:15] vitalics commented on #669
As for me, I used [react-i18next](https://github.com/i18next/react-i18next) since i18n have nice [documentation](https://www.i18next.com/translation-function/essentials) and has scale and

[2018-12-17 09:39] vitalics commented on #668
@rowan-m for react we're used redux and trunk for asynchronous interaction. In this case I presume  we should get an image from store after triggering action(e.g. `getImagesFromBackend()`) and before getting an answer from store, use variable `isLoading` and `isLoaded` which declared on store.

[2018-12-17 10:16] AlexeyKaryka commented on #361
Tasks for frontend

- [ ] Create component with filtering fields and buttons

- [ ] Create filter button on Category page, clicking this button should lead to Filter modal component

[2018-12-17 12:56] Starotitorov commented on #658
@ericerway, I am a little bit confused. `User-agent `, `Allow`, `Disallow`, `Sitemap`, `Clean-param`, `Crawl-delay` are only valid fields for a robots.txt files. At the same time, you can specify `<meta name="robots" content="noindex">` inside `<head>` to tell crawler not to index the page. Also, you can add `<meta name="robots" content="nofollow" />` to forbid following all links on the page or `

[2018-12-17 13:31] Jordaneisenburger commented on #657
@dambrogia The idea behind the venia-concept is really a reference theme. It's not meant to be the new Luma. But i understand the reason you ask the question because i had the same question and altho it's not recommended i've created my own theme that uses `venia-concept` as a fallback so my `components`, `rootComponents`, `queries` folders etc. only have overwritten/extended components from `veni

[2018-12-17 13:45] ericerway commented on #658
This story is not ready to start but we need an answer for robots.txt with PWA including Lighthouse. This needs to be groomed.

[2018-12-17 13:55] AlexeyKaryka commented on #361
Am I right that layouts and content of all options besides Color aren't defined yet?

[2018-12-17 14:07] real34 commented on #668
Gatsby image is one interesting component implementing this: https://www.gatsbyjs.org/packages/gatsby-image/

There are rooms for improvement though, but it would be a good idea to see what could be shared between both implementations.

[2018-12-17 16:00] ennostuurman commented on #617
@brendanfalkowski thanks for the detailed answers. :+1:  It certainly helped my understanding of cart counters.  Displaying "total units" seems the most logical approach both for B2C and B2B in terms of clarity and sanity check.

@soumya-ashok thanks for picking up the discussion, interesting to see how much rationale there can be behind a seemingly obvious UI cdetail. I have some additional quest

[2018-12-17 16:04] #656 closed

[2018-12-17 17:46] sharkySharks commented on #585
Already being covered in PR #610

[2018-12-17 17:48] sharkySharks commented on #585
Closing as duplicate

[2018-12-17 17:48] #585 closed

[2018-12-17 23:17] gil-- opened #675 "IE11 Support"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [X] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-18 08:18] tungdtisobat commented on #655
Hi @vitalics
It's not implemented yet, but you can implement yourself via rest.

[2018-12-18 10:17] dmtrkad commented on #655
@ericerway Could you please approve this item i order to be included in our queque ? Moreover, looks like this item more closer to userstories than a bug.

[2018-12-18 13:15] soumya-ashok commented on #617
@brendanfalkowski Appreciate the detailed response, I understand the B2B context and persona better now.

@ennostuurman On the topic of animation, the shopping cart is actually not supposed to automatically open when an item is added during an active session. The original intent was to have the counter update and a toast display with the message "item added to cart". The shopper needs confirmation

[2018-12-18 17:34] ericerway commented on #675
Thanks @gil-- fully agree I'm hoping to address with graceful degradation when we fully address accessibility beyond Lighthouse requirements. That said given the limitations of IE11 the experience will not be optimal. /cc @awilcoxa to consider for the roadmap/backlog.

[2018-12-18 18:45] gil-- commented on #675
@ericerway Sounds good! Even just adding a message saying "Please use a supported browser to continue on this site"... etc. for unsupported browsers

[2018-12-18 19:28] awilcoxa opened #678 "Training: Intro Video for Venia Implementation/Setup"
Tracking issue for effort to create an introductory video for Venia setup topic: https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/

Result: 2-3 minute video hosted via youtube channel to supplement help docs.

## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

##

[2018-12-18 19:30] awilcoxa commented on #678
@jcalcaben issue here for tracking

[2018-12-18 19:38] brendanfalkowski opened #679 "Buildpack PWADevServer should gracefully fall back to localhost if host/cert fails"
## This issue is for the following packages:

- [x] `venia-concept`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-18 20:53] awilcoxa commented on #655
@dmtrkad item is approved for work. I'll move to ready to start and you can assign to team.

[2018-12-18 22:39] #139 closed

[2018-12-18 22:41] ericerway commented on #155
Duplicate with #349 which uses PaymentRequest. Marking as closed.

[2018-12-18 22:41] #155 closed

[2018-12-18 22:42] ericerway commented on #132
Replaced with new Venia+CMS work including components. Marking as closed.

[2018-12-18 22:42] #132 closed

[2018-12-18 22:46] ericerway commented on #349
Merging several related payments stories in Zenhub this afternoon. Adding a note that this should incorporate client-side security when choosing method of supported payment methods.

[2018-12-18 22:47] ericerway commented on #178
Duplicate with #349. Comments and notes migrated as needed.

[2018-12-18 22:47] #178 closed

[2018-12-18 22:49] ericerway commented on #179
Duplicate with #349. Marking as closed.

[2018-12-18 22:49] #179 closed

[2018-12-18 22:54] ericerway commented on #127
Marking as complete with 2.3.0 -- improvements will be managed separately.

[2018-12-18 22:54] #127 closed

[2018-12-19 06:34] 472756921 commented on #584
@Jordaneisenburger Do you have a solution?

[2018-12-19 12:41] AlexeyKaryka commented on #361
@soumya-ashok one more question: can I use design of "Size" section from product page in this Filter page?

[2018-12-19 13:06] AlexeyKaryka commented on #361
@ericerway what do you mean by "Utilizes SSR for filtering;"? Is that about case when after clicking "Apply filters" url gets filter parameters and category page fetches data using those url query parameters?

[2018-12-19 15:20] AlexeyKaryka commented on #361
Seems like magento doesn't have graphql endpoints for configurable options params, for instance "color", and they are stored only in items, so the only available case is to gather all items, and sent filtered colors, unfortunately this case will has too low performance and for me it's better to create new domen in graphql schema which will be charge of all configurable options params, so for examp

[2018-12-19 17:12] #190 closed

[2018-12-19 17:15] ericerway commented on #335
Marking as closed; this is fixed with #268 -- @pcvonz let us know if this continues to be an issue. Thanks!

[2018-12-19 17:15] #335 closed

[2018-12-19 17:22] ericerway commented on #552
Marking as closed w/r/t #568 #601 #533 - @zetlen please confirm if this is not fully addressed and we can reopen. Thanks!

[2018-12-19 17:22] #552 closed

[2018-12-19 19:38] tjwiebell opened #681 "[BUG] DefinitionIterator Longhand Error"
Server doesn't respond with sample upward config

## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [x] `upward-php`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

Starting an upward-php server using

[2018-12-19 19:40] #681 closed

[2018-12-20 09:54] vitalics commented on #675
@gil-- @ericerway @awilcoxa  we does not support IE11. It describes on [definition of quality](https://github.com/magento-research/pwa-studio/wiki/Definition-Of-Quality#browser-support)  document. We support browsers more than 5%(>5%). See [browserlist ](https://browserl.ist/?q=%3E5%25) for more

[2018-12-20 10:17] dmtrkad commented on #579
@sharkySharks , Could you please have a look on it and update within actual status ?

[2018-12-20 10:19] dmtrkad commented on #584
@sharkySharks , Could you please have a look on it as well in order to put it on work to Devops queque ?

[2018-12-20 10:36] dmtrkad commented on #636
@ericerway , Are there any PBIs in "Ready for development" status that could be picked by us into this epic?

[2018-12-20 12:30] Starotitorov opened #683 "Setup eslint to sort object properties and destructure keys alphabetically"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-20 14:09] ericerway commented on #636
Not yet, we have determined that this needs to be further groomed and associated with the core Peregrine (components) work first.

[2018-12-20 15:01] AlexeyKaryka opened #684 "Checkout layout is broken in safari"
## This issue is for the following packages:

- [ X ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ X ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Ma

[2018-12-20 15:59] awilcoxa opened #686 "UAT: Sign In Button Style Incorrect"
The sign in button in the left drawer for Venia is incorrect. The styling should be corrected to ensure adherence to design spec.

Issue #1 from: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Button Location:
1) Left Drawer, bottom
2) Left Drawer > Sign In> Sign in form

Fix to button should include:
"Medium" size
Dark gray
Fill style

- [ x] `venia-concept`
- [ ] `pwa-buildpack`
- [x

[2018-12-20 16:00] awilcoxa commented on #686
Current:
![image](https://user-images.githubusercontent.com/44207440/50295597-059a6a00-043e-11e9-859e-2924c4434584.png)

Fixed:
![image](https://user-images.githubusercontent.com/44207440/50295624-164ae000-043e-11e9-858d-6d3e51af3399.png)

[2018-12-20 16:03] awilcoxa opened #687 "UAT: Correction to Required Field Indicator"
Required field indicator should be corrected in order to ensure adherence to current design.

All fields should be corrected to apply correct styling.

Issue #2: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

- [ x] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x ] Bug
- [ ] Feature suggestion

[2018-12-20 16:04] awilcoxa commented on #687
Current Version:
![image](https://user-images.githubusercontent.com/44207440/50295807-89eced00-043e-11e9-8f07-e3b8bd528e7d.png)

Fixed Version:
![image](https://user-images.githubusercontent.com/44207440/50295823-92452800-043e-11e9-8239-1e411ee0c901.png)

[2018-12-20 16:07] awilcoxa opened #688 "UAT: Correct "Create an Account" button"
Update styling to current version of "Create an Account" Button contained within the left drawer to apply updated design specs.

Issue #4: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x ] Bug
- [ ] Feature suggestion
- [ ] Documentation iss

[2018-12-20 16:11] awilcoxa opened #689 "UAT: correct "Forgot Your Password Link" color"
Correct the text and color of the "forgot your password" link to adhere to current design spec.

Corrections:
Update color to #C0123F
Change text to read "Forgot password?"

Issue #5: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [ x] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upw

[2018-12-20 16:14] awilcoxa opened #690 "UAT: "Dresses" link results in 500 error"
The "Dresses" link in the main nav drawer (left) resolves to a 500 internal server error. It should point to the same URL as the category page navigation for "Dresses"

Issues #6: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-s

[2018-12-20 16:15] awilcoxa commented on #690
In checking this, I'm not seeing the same behavior. Requires additional investigation.

[2018-12-20 16:20] awilcoxa opened #691 "UAT: Category Pages Missing Title and Banner"
Category pages are currently missing the category title and hero banner. Title should be displayed as according to design spec.

Isuse # 7: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x ] Bug
-

[2018-12-20 16:21] awilcoxa commented on #691
Current version (as displayed on "Dresses" category):
![image](https://user-images.githubusercontent.com/44207440/50296822-ee10b080-0440-11e9-9a72-bf7eb9cf753b.png)

Correct Version:

![image](https://user-images.githubusercontent.com/44207440/50296854-fd8ff980-0440-11e9-9872-b568f1fc2b33.png)

[2018-12-20 16:29] awilcoxa opened #692 "UAT: Shopping Cart "More Actions" Indicator Corrections"
The "More Actions" (kebab) indicator within the Shopping Cart is currently not correct according to design.

Issue # 8: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Corrections:
Color #212121
top-aligned to the text

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

#

[2018-12-20 16:30] awilcoxa commented on #692
Current version:
![image](https://user-images.githubusercontent.com/44207440/50297324-311f5380-0442-11e9-8142-76664c1c3d7c.png)

Updated version:

![image](https://user-images.githubusercontent.com/44207440/50297345-3a102500-0442-11e9-8843-2c281c4c1209.png)

[2018-12-20 16:36] awilcoxa opened #693 "UAT: Correction to Checkout Subtotal text"
Text and formatting for "Subtotal" are currently incorrect within the right nav drawer during checkout (when items are contained within cart).

Issue 9:https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Current Version: "Subtotal (# Items) ($Amount)"
Correct version "Cart Total: ($Amount) (# Items)"

## This issue is for the following packages:

- [ x] `venia-concept`
- [ ] `pwa-buildpack`

[2018-12-20 16:37] awilcoxa commented on #693
Current Version:
![image](https://user-images.githubusercontent.com/44207440/50297749-27e2b680-0443-11e9-95fb-dd251192c0b7.png)

Correct Version:
![image](https://user-images.githubusercontent.com/44207440/50297765-316c1e80-0443-11e9-8ad2-69473d4620dd.png)

[2018-12-20 16:40] awilcoxa opened #694 "UAT: Styling for "Checkout" Button is Incorrect"
The current styling for the "Checkout" button in the right hand nav drawer (when items are added to cart) is incorrectly not in adherence to design.

Issue 10: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Corrections to be applied:
"Medium" size
Dark gray
Fill style

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pw

[2018-12-20 16:41] awilcoxa commented on #694
Current Version:

![image](https://user-images.githubusercontent.com/44207440/50298000-bce5af80-0443-11e9-8bee-795ce55001c0.png)

Correct Version;

![image](https://user-images.githubusercontent.com/44207440/50298015-c5d68100-0443-11e9-9ada-3f06614bedcf.png)

[2018-12-20 16:46] awilcoxa opened #695 "UAT: Checkout Drawer Incorrect Styling"
There are currently various inconsistencies within the checkout drawer, including text and styling issues. Issues should be resolved to adhere to current design.

Issue 11: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Corrections Include:
Prompt text color #C0123F
Get it by pre-populated with a default shipping method
Place order changed to "Confirm Order"
Disabled button style for "C

[2018-12-20 16:46] awilcoxa commented on #695
Current:

![image](https://user-images.githubusercontent.com/44207440/50298319-7a70a280-0444-11e9-85d9-8ece7ceb7e35.png)

Correct:

![image](https://user-images.githubusercontent.com/44207440/50298331-8197b080-0444-11e9-9206-7119c8b92f2a.png)

[2018-12-20 16:53] awilcoxa opened #696 "UAT: Mask is not applied to background view in Checkout"
During the checkout flow when the right hand navigation drawer is open, a mask should be applied to the cart as indicated in design.

Issue 14: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [x ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ x] B

[2018-12-20 16:53] awilcoxa commented on #696
Current:

![image](https://user-images.githubusercontent.com/44207440/50298730-75602300-0445-11e9-9a91-39a385991321.png)

Correct:

![image](https://user-images.githubusercontent.com/44207440/50298741-7b560400-0445-11e9-80ca-aadcc002b030.png)

[2018-12-20 16:55] awilcoxa opened #697 "UAT: "Place Order" interaction has no result"
The "Place Order" button does not correctly navigate to order confirmation.

Issue 15: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [ x] `venia-concept`
- [ ] `pwa-buildpack`
- [ x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [

[2018-12-20 16:58] awilcoxa opened #698 "UAT: Site Header is not Sticky"
The current site header is not sticky throughout the entire Venia storefront. The site header should be sticky and should be in view during scroll interactions according to design spec. Issue applies to all pages.

Issue 16: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [ x] `venia-concept`
- [ ] `pwa-buildpack`
- [x ] `peregrine`
- [ ] `

[2018-12-20 17:01] awilcoxa opened #699 "UAT: Image Carousel Indicator Issues"
Image Carousel indicator is currently missing and does not correctly indicate state (carousel place).
Carousel indicator (circle) should be filled according to user's current place within image carousel.

Issue 17: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Image carousel Scrolling arrows are missing. Carousel should contain left and right arrows to indicate scrolling action.

Issue

[2018-12-20 17:02] awilcoxa commented on #699
Current:

![image](https://user-images.githubusercontent.com/44207440/50299209-a9881380-0446-11e9-97a8-7680789b469f.png)

Correct:

![image](https://user-images.githubusercontent.com/44207440/50299221-b278e500-0446-11e9-9fb8-31b63c1a45fc.png)

[2018-12-20 17:08] awilcoxa opened #700 "UAT: Color Swatches Missing Tooltips"
On the Product Display Page when a product has color options/configurations and swatches are displayed, selecting a color does not correctly display a tooltip for color name.

Issue 19: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [x ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `u

[2018-12-20 17:11] awilcoxa opened #701 "UAT: Size Selection Missing Tooltips"
On the Product Display Page, when a product has size configuration and a size is selected the size swatch does not correctly display a tooltip with the full name of the size. Sizes are also displayed in reverse order (largest to smallest), sizes should be displayed from smallest to largest.

Issue 20: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

## This issue is for the following pack

[2018-12-20 17:12] awilcoxa commented on #701
Current:

![image](https://user-images.githubusercontent.com/44207440/50299757-0df7a280-0448-11e9-8628-2d365a99d17a.png)

[2018-12-20 17:15] awilcoxa opened #702 "UAT: Quantity Selector Missing dropdown/selection Indicator"
On the Product Display Page, the quantity indicator currently does not contain the dropdown or selector indicator. This indicator should be displayed in order to indicate interaction.

Issue 21: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Correction:
Apply dropdown arrow indicators to quantity field

## This issue is for the following packages:

- [x ] `venia-concept`
- [ ] `pwa-buil

[2018-12-20 17:15] awilcoxa commented on #702
Current:

![image](https://user-images.githubusercontent.com/44207440/50299958-95ddac80-0448-11e9-97ca-291e8e06f7b6.png)

Correct:

![image](https://user-images.githubusercontent.com/44207440/50299972-9f671480-0448-11e9-8846-17e666e8bceb.png)

[2018-12-20 17:19] awilcoxa opened #703 "UAT: "Add to Cart" Incorrect Styling and Placement"
Add to Cart button on the PDP is currently not displayed according to design. The button should be displayed as a sticky footer with correct styling for primary CTA.

Issue 22: https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

Corrections:
Add to cart lives in a sticky footer on the PD page
Button styling: Medium size, Primary teal, Fill style

## This issue is for the following packages:

[2018-12-20 17:19] awilcoxa commented on #703
Current:

![image](https://user-images.githubusercontent.com/44207440/50300130-1a302f80-0449-11e9-8c8d-b604b12deb09.png)

Correct:

![image](https://user-images.githubusercontent.com/44207440/50300141-1f8d7a00-0449-11e9-98ff-08f56548ec58.png)

[2018-12-20 18:57] jimbo commented on #683
@supernova-at I generally don't ask people to sort things alphabetically in PR feedback. It's always been a thing where, if we care enough, we can apply lint rules (as suggested here).

@Starotitorov I'm hesitant to apply a lint rule to accomplish this because such rules tend to be overly strict. That said, I think the destructuring rule would be safe.

[2018-12-20 18:57] jimbo commented on #683
We use [`@magento/eslint-config`](https://www.npmjs.com/package/@magento/eslint-config) for our lint rules.

[2018-12-21 02:10] #561 closed

[2018-12-21 05:15] premamdckap opened #705 "npm run build error"
While executing npm run build, getting the following error.

lerna ERR! npm run build -s exited 2 in '@magento/venia-concept'

node -v => 10.14.2
npm -v => 6.4.1
Magento => 2.3
Ubuntu => 16.04

Help me to resolve this issue!

[2018-12-21 07:23] priyankagarg8 opened #706 "Error in executing command npm run build on windows"
Log file:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.4.1
3 info using node@v11.5.0
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle @magento/pwa-studio@2.0.0~prebuild: @magento/

[2018-12-21 08:00] AlexeyKaryka commented on #361
branch with created components for filter button and filter modal: https://github.com/magento-research/pwa-studio/tree/feature/category-filter

[2018-12-21 11:10] mhhansen commented on #706
Hey! currently you've to have unix based (linux/osx) to run and build pwa.
refer to the [issue 236](https://github.com/magento-research/pwa-studio/issues/236#issuecomment-424472546) for a side approach, installing ubuntu as a windows subsystem.

[2018-12-21 11:37] mhhansen commented on #705
Hey! couldn't be able to get a `npm run build exited 2 in '@magento/venia-concept'`
Can you provide a deeper spec of the error from console you're getting so others can take a look and jump in to assist you, or that's the only line you get?

**just in case**
Double check if your Magento is in `developer` mode (so instrospection is allowed). you can always use default url in the `.env` file, [from

[2018-12-21 13:44] Jordaneisenburger commented on #705
Might also wanna try installing node 8.x.x since that's the one referred to in the docs

[2018-12-21 14:30] AlexeyKaryka commented on #691
It looks like GraphQL schemas on backend-side don't provide banner images for categories

[2018-12-21 14:41] AlexeyKaryka commented on #703
Actually sticky footer is implemented in https://github.com/magento-research/pwa-studio/pull/659
I have question regarding color of "Add to Cart" button: in issue that I've covered by above PR button's color is described as black, but here I see venia-teal color, so what's the color should be?

[2018-12-21 14:44] AlexeyKaryka commented on #699
This issue is covered by https://github.com/magento-research/pwa-studio/pull/615

[2018-12-21 15:44] AlexeyKaryka commented on #689
This issue is covered by this PR #708

[2018-12-21 15:45] AlexeyKaryka commented on #692
This issue is covered by this PR #708

[2018-12-21 15:45] AlexeyKaryka commented on #687
This issue is covered by this PR #708

[2018-12-21 15:45] AlexeyKaryka commented on #693
This issue is covered by this PR #708

[2018-12-21 15:45] AlexeyKaryka commented on #688
This issue is covered by this PR #708

[2018-12-21 15:45] AlexeyKaryka commented on #686
This issue is covered by this PR #708

[2018-12-21 16:02] AlexeyKaryka commented on #702
Actually current state of quantity field provide indicator icon, it look as on screenshot:
![image](https://user-images.githubusercontent.com/25349273/50351331-d9bcd880-0552-11e9-82ba-32b77928c8e2.png)
So what is the actual and up-to-date design for this indicator? Like on my screen or like on screen in this issue?

[2018-12-21 19:15] supernova-at commented on #683
🖖

[2018-12-21 19:18] #555 closed

[2018-12-22 12:43] Starotitorov commented on #698
@awilcoxa, we do not have permissions to view the page https://wiki.corp.magento.com/display/FF/Venia+UX+Issues

[2018-12-22 13:30] AlexeyKaryka commented on #701
Having tooltips for size swatches is also hard-reaching because data with configurable options for sizes currently doesn't contain information about full size names, I assume that creating mapping with short size name - full size name pairs isn't quite a good solution. So it's need to fill information about full size names into configurable_options of sizes apart from short size names

[2018-12-22 13:31] Starotitorov commented on #690
@awilcoxa, I can not reproduce the issue.

[2018-12-23 11:46] mhhansen commented on #679
looks like it fails to add the certificate into your nss db (can't double check, don't have installed it).
but seems that the `brew list` throws a hit (or a false positive, due to a bug in that validation) so it goes for that option...

try this [devcert PR fix](https://github.com/davewasmer/devcert/pull/30) out:
[code]

cause the path that's failing is being built based on the assumption that you

[2018-12-24 03:10] 472756921 commented on #579
I tried it on Ubuntu， it's success.
There are some unknown errors in the windows system.

[2018-12-25 10:07] roma-glushko opened #713 "Invariant failed errors on navigating to Venia frontend"
Could not run develop/production instance of Venia. Got errors in browser console and blank page.

## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Que

[2018-12-25 14:07] ranahemantkumar opened #714 "npm run build error for default backend url"
I am trying npm run build command after successfully using npm install on pwa-studio on my local system
## This issue is for the following packages:

- [ ] `venia-concept`
- [# ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [# ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

[2018-12-26 07:08] senthil134 commented on #584
Thank you for ur comment.

We are getting same error in macOS. Please let us know your config details.(NodeJs version, npm)

[2018-12-26 11:33] Jordaneisenburger commented on #584
Valet+ 1.0.21 (make sure you don't use a higher version because it will break on certificate)
NodeJS v8.12.0
Npm 6.4.1

Hope this helps

[2018-12-26 11:43] sathishkumar555 commented on #714
I also facing the same issue

[2018-12-27 08:14] AlexeyKaryka opened #715 "Cannot set shipping method in checkout"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2018-12-27 12:51] senthil134 commented on #584
Thank you @Jordaneisenburger It's working fine in macOS

[2018-12-27 12:51] #584 closed

[2018-12-27 14:59] Muhammad-Bin-Tabassum commented on #612
Hi @ennostuurman hope you are doing good :)
can you please help me regarding this error that is when i run this command _**sudo npm run build**_
please follow the screenshots urls
**Console:** https://prnt.sc/m071zm
**Log file:** https://prnt.sc/m072uq

**Note:** i can bypass this error when i run build with **-f** flag but i want to fix this error.

[2018-12-27 16:21] JStein92 commented on #360
UI is done on this - Currently waiting for https://github.com/magento/graphql-ce/pull/259 to be fixed/merged so we can use query variables for sorting

[2018-12-28 06:04] brendanfalkowski commented on #679
@mhhansen — Thanks for that idea — got it working again! I tried running `brew install nss` first, and that allowed `npm run watch:venia` to build. I'm wondering if me recently updating to macOS Mojave broke something symlinked by `brew` on my machine.

I tried testing your original approach by running `brew uninstall nss` and fixing the "devcert" bug's PR manually, but I couldn't get `npm run wat

[2018-12-28 11:18] ennostuurman commented on #612
hello @Muhammad-Bin-Tabassum glad you solved it, the best issues are the ones that are solved by .... yourself, often asking a question to someone else makes the issue suddenly more clear to yourself  ;-) .

I see that the error messages are luckily clear enough when you run against a Magento instance in production mode, i.e. "Cannot validate queries because the configured backend ... disallows in

[2018-12-28 13:36] Jordaneisenburger commented on #714
This most likely has to do with Windows best chances are switching to a UNIX (mac/linux) based system. Even if you fix this issue more will appear. I suggest waiting until it's more thoroughly tested on Windows or wait for docker support.

[2018-12-31 11:03] Muhammad-Bin-Tabassum commented on #612
Hi @ennostuurman actually documentation is clear but after cloning pwa-studio and run `npm install` everything was fine but during running build i got above dependency errors, as i have also checked in pwa-studio package.json file but didn't find these in it, I have new setup of linux but this shouldn't be a reason for these dependencies.

[2018-12-31 11:08] ranahemantkumar commented on #714
Thanks @Jordaneisenburger . Closing it for now.

[2018-12-31 11:08] #714 closed

[2019-01-02 13:23] shaarif-titech opened #719 "Cannot set static port in PWA studio"
node version :11.0.0
npm version:6.4.1
magento version: 2.3
ubuntu version: 18.04.1 LTS

PWA not setting port.
Reffered url : https://magento-research.github.io/pwa-studio/pwa-buildpack/reference/pwa-dev-server/#specifying-a-port

Set PWA_STUDIO_PORTS_DEVELOPMENT=10010  in .env file but showing

Using environment variables from .env
[pwa-buildpack:WebpackTools:PWADevServer.js] This project's dev s

[2019-01-02 14:12] #683 closed

[2019-01-02 15:56] vitalics opened #720 "[Server Side] Vega Security Vulnerabilities"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [X] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-02 16:07] awilcoxa commented on #698
@Starotitorov the page doesn't have any additional information on this issue that isn't already contained here in the ticket. The invision prototype has additional screens for the concept of the "sticky header" see here: https://magento.invisionapp.com/share/YMO2OUHX84B#/screens/320124803

the top menu/banner should be sticky during scrolling actions.

[2019-01-02 16:14] awilcoxa commented on #697
@Starotitorov steps to replicate:
Add item to cart
Add shipping information
Click "Place order"

What should happen: directed to order confirmation screen, prototype here: https://magento.invisionapp.com/share/YMO2OUHX84B#/screens/320124839

What actually happens: ???? (can't confirm since as of today I am not able to save shipping information in order to enable the place order button when on now.

[2019-01-02 16:19] awilcoxa commented on #690
@dmtrkad @Starotitorov Yes, as indicated in my 1st comment, I wasn't able to reproduce this either. It was something that @soumya-ashok ran across but may no longer be an issue. If no one can reproduce then we should simply close this as "invalid"

[2019-01-02 17:24] awilcoxa commented on #640
discussed in grooming, there is a larger issue here for graceful fallback or error state for when similar conditions are met.  @zetlen for ticket to represent this larger issue and we will create dependency here.

[2019-01-02 18:46] awilcoxa commented on #631
@supernova-at to confirm that the referenced commit (7d4bae2) actually addresses this issue. If true, we'll close this ticket as resolved.

[2019-01-03 10:11] dmtrkad commented on #361
@zetlen , Could you please review Alexey's commit ?

[2019-01-03 11:33] Starotitorov commented on #655
@jimbo, @supernova-at, could you please review this pull request https://github.com/magento-research/pwa-studio/pull/685. I need to collect feedback from you to proceed with the implementation, there are some open questions that need to be discussed, I wrote you an email.

[2019-01-03 11:55] Starotitorov commented on #701
@zetlen, @jimbo, @supernova-at, I guess we need discuss the question related to sorting size options and `value_index` property. Should we just display size options sorted by `value_index` in descending order or it is better to change `value_index` for each size option in Magento CMS?

[2019-01-03 12:01] Starotitorov commented on #701
@zetlen, @jimbo, @supernova-at, I agree with this comment https://github.com/magento-research/pwa-studio/issues/701#issuecomment-449570347, it is better to add a separate property with full size name to each size option and receive this information from the backend. What do you think, guys?

[2019-01-03 12:18] dmtrkad commented on #686
@jimbo , @supernova-at , Could you please review it ?

[2019-01-03 12:20] dmtrkad commented on #687
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:20] dmtrkad commented on #691
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:21] dmtrkad commented on #694
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:21] dmtrkad commented on #702
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:21] dmtrkad commented on #700
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:21] dmtrkad commented on #699
@jimbo , @supernova-at Could you please review it ?

[2019-01-03 12:31] Starotitorov commented on #363
This feature was implemented in this pull request https://github.com/magento-research/pwa-studio/pull/513. The documentation for the story was added in this pull request https://github.com/magento-research/pwa-studio/pull/520.

[2019-01-03 12:31] #363 closed

[2019-01-03 12:32] dmtrkad commented on #690
@soumya-ashok , in case this issue is not reproducible for you, please update it with the status or provide steps to get specified the actual result into the desciption.

[2019-01-03 12:34] dmtrkad commented on #594
@ericerway , Do we need to close this one as implemented ?

[2019-01-03 12:39] dmtrkad commented on #514
@ericerway . looks like  https://github.com/magento-research/pwa-studio/issues/573 is still blocked. Is that a priority to finish it or we could unlink it and make a progress on this PBI (https://github.com/magento-research/pwa-studio/issues/514)

[2019-01-03 12:45] Starotitorov commented on #514
@soumya-ashok, I addressed your comment in this pull request https://github.com/magento-research/pwa-studio/pull/570, the pull request is waiting for a code review.

[2019-01-03 13:08] Starotitorov commented on #573
It is required to implement required endpoints https://github.com/magento-research/pwa-studio/issues/506 to start the implementation

[2019-01-03 13:13] codeAdrian opened #721 "Create Account page form input style issue"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-03 13:20] Starotitorov commented on #698
@awilcoxa, thank you for the response, the bug was fixed in this pull request https://github.com/magento-research/pwa-studio/pull/711/files.

[2019-01-03 13:53] Starotitorov commented on #361
I created a pull request with changes made by Alexey https://github.com/magento-research/pwa-studio/pull/722

[2019-01-03 14:41] Starotitorov commented on #721
I can take a look, the issue is also related to Create Account form inside navigation drawer. The issue appeared after adding new TextInput component to the form.

[2019-01-03 15:20] Muhammad-Bin-Tabassum commented on #612
Yes @ennostuurman it might be my local problem but still i'm eager to know why it has happened anyhow i will find some way.

[2019-01-03 16:55] #652 closed

[2019-01-03 21:17] supernova-at commented on #264
Closed by #639.

[2019-01-03 21:17] #264 closed

[2019-01-04 13:14] Starotitorov commented on #715
@AlexeyKaryka I can not reproduce the issue. Could you, please, check one more time? Maybe the issue has already been fixed. If you still faces the same issue, please, provide more details and steps to reproduce.

[2019-01-04 13:19] #650 closed

[2019-01-04 19:52] #244 closed

[2019-01-04 20:06] supernova-at commented on #349
I am jumping back on this one.

[2019-01-04 20:16] supernova-at commented on #349
The [LUMA Community Edition](http://uxdemo.corp.magento.com/ce/) and [LUMA Enterprise Edition](http://uxdemo.corp.magento.com/ee/) sample store fronts do not provide a way to pick a payment method other than `Check / Money Order`.

[2019-01-04 20:19] ericerway commented on #349
You may need to start from a local M2 instance, configure via Braintree and the methods should appear then as options using a sandbox account. Worth double checking with @zetlen and others who had some ideas as well. Thanks!

[2019-01-05 12:13] ennostuurman commented on #617
@soumya-ashok

- I updated PR #https://github.com/magento-research/pwa-studio/pull/664 according to the designs in https://github.com/magento-research/pwa-studio/issues/617#issuecomment-447493564 .
- the counter reflects the total number of items in the cart
- as discussed instead of the 99+ we will always show the real qty , see attached screen prints the layout is now even fool proof for 9999 it

[2019-01-06 18:55] AlexeyKaryka commented on #715
@Starotitorov I've rebased to the latest release/2.0 branch and looks like the error still remains, what I did:
1) I've wiped cookies
2) Added item "Carmina Necklace" from the accessories category
![image](https://user-images.githubusercontent.com/25349273/50740292-79d65b00-11fd-11e9-95e4-6b537295c5b8.png)
3) Successfully filled "Ship To" and "Pay With"
4) Chose "Flat Rate" item in "Get it by", cl

[2019-01-07 06:31] sharathr3 commented on #612
@ennostuurman  please help me to regarding this error.
<img width="443" alt="error1" src="https://user-images.githubusercontent.com/5915596/50752351-f6a41c00-1273-11e9-9f0f-181d9eb99330.PNG">

[2019-01-07 06:53] aliaathil commented on #612
can you  attach compete log
Reomve node modules and run npm intsall and try again may solve issue

[2019-01-07 15:17] soumya-ashok commented on #617
@ennostuurman Thank you for the work, looks great!

[2019-01-07 15:20] soumya-ashok commented on #361
@AlexeyKaryka I have been on PTO, and just returned. I'v worked out a few options for the design of the rest the filtering sections besides color, but will need the team to provide feedback before I can share the finalized approach with you.

[2019-01-07 17:08] ennostuurman commented on #583
hey @mrtuvn did you manage to get PWA Studio running?

[2019-01-07 17:45] supernova-at opened #730 "Multi-Shipment Options"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-07 18:05] sharkySharks commented on #605
This has been implemented.

[2019-01-07 18:05] #605 closed

[2019-01-07 18:13] sharkySharks opened #731 "Fix bug with pre-push hook and failing configureHost.spec test"
## This issue is for the following packages:

- [ ] `venia-concept`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-07 19:53] jcalcaben commented on #323
I think this issue can be closed since the docs have already been created:
* https://magento-research.github.io/pwa-studio/technologies/upward/reference-implementation/

[2019-01-07 20:04] #245 closed

[2019-01-07 21:04] zetlen commented on #598
Thanks, @vitalics, for an excellent summary of this issue. Potentially fixed by #717.

[2019-01-07 21:09] sirugh commented on #376
Spitballing some notes/ideas/planning around this:

* FeatherIcons seems to give you all or nothing in regards to its exports. It doesn't look like you can import specific icons.
* We can use webpack stats to compare various icon package sizes (if the publisher doesn't already list it) and then pick whichever is "lightest".
* Because of the "dynamic" nature of `Icon` component we probably cannot u

[2019-01-07 21:14] jcalcaben commented on #415
Talked with @awilcoxa and came to an agreement to close this issue as it would require too much maintenance to stay relevant.

Open to revisiting this if anyone can come up with a more automated/maintainable way of generating and updating the information.

[2019-01-07 21:14] #415 closed

[2019-01-07 22:40] ericerway commented on #376
Thanks for the readout @sirugh -- @jimbo can help with the rationale and collaboration on which option to move forward with on this one.

[2019-01-08 09:01] Jordaneisenburger commented on #713
Probably not the problem but just to make sure please update NodeJS to match the prerequisites as described in the [docs](https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/) NodeJS >=10.14.1 LTS

[2019-01-08 18:22] #461 closed

[2019-01-08 19:34] #323 closed

[2019-01-09 17:08] awilcoxa commented on #420
Should have been resolved by previous field changes. Should attempt to replicate and if we can't then close this out.

[2019-01-09 17:17] awilcoxa commented on #469
Closing as this doesn't appear to be a current issue. If this error is still occurring please re-open

[2019-01-09 17:17] #469 closed

[2019-01-09 17:21] awilcoxa commented on #579
This issue is dependent on work being done by @sharkySharks to add support for Windows.

[2019-01-09 17:24] awilcoxa commented on #598
Duplicate of #696  closing issue.

[2019-01-09 17:24] #598 closed

[2019-01-09 17:26] sharkySharks opened #734 "Get PWA Studio running in Docker container"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [x] `all`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------

[2019-01-09 17:30] sharkySharks commented on #583
Work will be tracked through #734 .

[2019-01-09 17:33] sharkySharks commented on #126
work being picked up under #734

[2019-01-09 17:34] sharkySharks commented on #124
docker work being tracked under #734

[2019-01-09 17:35] sharkySharks commented on #579
Work in progress for docker container being tracked under #734
Having a docker environment to run PWA Studio under should resolve a number of issues related to development on Windows.

[2019-01-09 17:41] supernova-at commented on #631
Confirmed that this is fixed on https://magento-venia.now.sh/ as of right now:

![jan-09-2019 11-39-44](https://user-images.githubusercontent.com/13182778/50917545-6563af80-1403-11e9-94c3-cf76ad70f172.gif)

Agreed that this logic could be made cleaner, but this bug is resolved.

[2019-01-09 17:41] #631 closed

[2019-01-09 17:59] zetlen opened #735 "[Bug] Store UIs do not display or recover from unexpected errors"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

The Venia storefront becomes unresponsive and unrecoverable when it experiences an error it can't handle.

[2019-01-09 20:04] awilcoxa commented on #644
@zetlen given that the PR was closed, is this issue still relevant?

[2019-01-09 20:14] awilcoxa commented on #294
@jimbo is purchase history merged/released? Anything left to do for this issue?

[2019-01-09 20:20] #313 closed

[2019-01-09 21:06] #553 closed

[2019-01-09 21:13] #594 closed

[2019-01-09 21:17] #549 closed, assigned to nobody

[2019-01-09 21:59] danielvanmil commented on #657
For me it's also not very clear what Venia exactly is and/or will be? It is a reference implementation, but can it be used in production as is (by for example changing some colors etc.) or should we start from scratch and use the Peregrine as basis? Although the app is not very complex, it's not that simple to just start from zero. Any thought/documentation on this topic? Thanks

[2019-01-09 22:23] sharkySharks opened #736 "Flaky test behavior: await wait()"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-09 23:46] Jordaneisenburger commented on #657
I've been working on a wrapper in which you can create a custom theme* that will fallback on the venia-concept storefront. The idea is the same as you are used to in regular Magento 2. I find this way of working really easy because when i spin up my own theme* i just see the latest version of venia-concept but with my custom overwrites or components. This way i can keep pulling the latest pwa-stud

[2019-01-10 05:52] brendanfalkowski commented on #731
Getting hung up on this too trying to push a PR branch to my fork.

Just subscribing here so I get notified when 729 is cleared.

[2019-01-10 15:19] pcole0083 commented on #471
@ericerway I am very interested in taking on this issue. I've been following the PWA progress since October and I actually have some of this feature completed locally. I'm happy to chat and discuss the requirements and the design direction.

[2019-01-10 15:53] sirugh opened #739 "Switch from feather icons to a material icon."
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature/Update
- [ ] Documentation issue
- [ ] Other (Please Specify)

## Description

After discussion with UX, Venia Concept should use material design icons instead of feather-icons.

See #733,

[2019-01-10 16:04] sharkySharks commented on #736
fixed by #738

[2019-01-10 16:04] #736 closed

[2019-01-10 16:20] sharkySharks commented on #597
#624 closes this

[2019-01-10 16:20] #597 closed

[2019-01-10 16:21] sharkySharks commented on #731
this has been merged now - @brendanfalkowski

[2019-01-10 16:21] #731 closed

[2019-01-10 17:20] sharkySharks commented on #312
rather than vagrant, I have made progress on getting a secure local dev environment running in docker in #734 . Will update all related issues once work is complete, starting work is in #682 .

[2019-01-10 18:24] Serunde opened #740 "[Bug] Redundant Configurable Product In Cart"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-10 18:38] #376 closed

[2019-01-10 20:27] brendanfalkowski opened #741 "Failed lint makes GitHub block pushing upstream changes to my remote fork"
## This issue is for the following packages:

- [ ] `venia-concept`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-10 20:55] brendanfalkowski commented on #741
Looks like Node >= 10.14.1 is now required:
https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/

That's why the pre-commit linter was failing. After updating Node from 8.9.3 I was able to push to my fork.

[2019-01-10 20:55] #741 closed

[2019-01-10 21:22] zetlen commented on #719
Uh oh! That should be working; can you please show me the output of `lsof -i :10010` on your system?

[2019-01-11 11:48] renjith174 opened #746 "npm run build error - GraphQL introspection is not allowed even in developer mode"
node version: v8.10.0
npm version: v3.5.2

magento/pwa-studio@2.0.0

error found even in developer mode

[2019-01-11 14:58] ennostuurman commented on #612
@sharathr3 did you manage to get PWA studio running as per recommendations from @aliaathil ?

So from PWA Studio project root:

1) > npm run clean:all
2) > npm install
3) > npm run build

[2019-01-11 17:31] ennostuurman commented on #617
@soumya-ashok thank you, that was my first impression too however looking at the designs here https://github.com/magento-research/pwa-studio/issues/617#issuecomment-447493564 the empty cart is also filled.

However if you feel an outline cart for no items in cart is better from UX POV, I can change this as yet.

[2019-01-11 17:36] soumya-ashok commented on #617
@ennostuurman The design initially did have a filled icon because the outline version wasn't in the library I was using, but it is now. Here is an example of the outline icon - https://magento.invisionapp.com/share/8ZPPEYD7BGS

I do think the outline icon to indicate an empty cart works better than a filled one.

[2019-01-11 17:45] supernova-at opened #747 "Braintree: Add PayPal to Payment Options"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-11 18:09] supernova-at opened #748 "Submit Credit Card Info to M2 Backend"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [x] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-11 19:35] dani97 opened #749 "Required fields are not indicated in checkout and on placing order throws error"
## This issue is for the following packages:

- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-11 20:15] sirugh commented on #351
Additional related PRs: #570, #572

[2019-01-11 20:19] brendanfalkowski commented on #746
May not solve the issue, but you need Node 10.14.1+ following some changes in the past few weeks. Probably a good idea to start off updating your Node version.

[2019-01-11 20:28] travisdetert commented on #626
This is closed, but this happens with the default 2.3 and pwa repos I downloaded yesterday...

[2019-01-13 04:40] kumarbikash411 opened #750 "unable to start vernia theme after all module installation.."
Issue while starting the vernia theme
![image](https://user-images.githubusercontent.com/36724659/51081642-a79a3300-171a-11e9-9e70-90fc3dde3366.png)

not able to start the theme getting issue saying

Error: Cannot find module 'dotenv'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:603:15)
    at Function.Module._load (internal/modules/cjs/loader.js:529:25)
    at Module.re

[2019-01-13 14:22] ennostuurman commented on #617
hi @soumya-ashok, thank you for the confirmation.

I updated PR #664 to show the shopping cart icon with an outline layout when the cart is empty , see screenprint.

![pwa-studio-cart-counter-empty-outline-only](https://user-images.githubusercontent.com/1906257/51086404-ecd45a00-1746-11e9-9334-899cdf83e3cc.png)

[2019-01-13 14:56] ennostuurman commented on #626
@travisdetert what do you mean with default 2.3 . Is that a default M2.3 instance (with default Magento sample data) or the PWA MAGENTO_BACKEND_URL="https://release-dev-rxvv2iq-zddsyhrdimyra.us-4.magentosite.cloud/" (see packages/venia-concept/.env.dist ) with Venia sample data?

[2019-01-14 06:18] renjith174 commented on #746
@brendanfalkowski Thanks for your reply.
I have updated the node version to the latest stable version. But the issue still persists.

Thanks

[2019-01-14 12:50] Jordaneisenburger commented on #750
Hi @kumarbikash411 based on the provided screenshot i assume you didn't check the docs see https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/ this should solve your problems

[2019-01-14 12:52] Jordaneisenburger commented on #746
You need to run Magento in developer mode. To check what you are running do this `bin/magento deploy:mode:show` if the results looks like `Current application mode: developer.` you need to run `bin/magento deploy:mode:set developer`

[2019-01-14 14:34] DmytroStognii opened #756 "npm run build error Windows 10"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x ] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Mage

[2019-01-15 09:40] renjith174 commented on #746
@Jordaneisenburger
I have already enabled developer mode and it's still not working.

[2019-01-15 20:17] brendanfalkowski commented on #746
Not sure what to suggest, but maybe:

[code]

Things are still changing often here, so you could be in a "bad version" hole.

[2019-01-18 04:00] syedsaleem086 opened #763 "Error: Cannot find module '@magento/pwa-buildpack'"
## This issue is for the following packages:

- [x] `venia-concept`

## This issue is a:

- [x] Bug

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             | 2.3.0 |
| Operating System + version  | Ubuntu 18.04 |
| node.js version (`node -v`) | v10.15.0 |
| npm version (`npm -v`)      | 6.4.1 |
| Magento Mode |

[2019-01-18 08:37] ngglobaliasoft123 opened #764 "image not found in magento pwa venia setup ?i try all way which describe here but still it not working"
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [x] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [x] Documentation issue
- [x] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magent

[2019-01-18 08:38] #764 closed

[2019-01-18 08:39] ngglobaliasoft123 commented on #764
image not found in magento 2.3 pwa venia system .

[2019-01-18 19:42] JStein92 opened #767 "Create Account validation should trigger on blur"
When creating an account, async email availability check should asynchronously run after user blurs input, not after a form submission. Password validation should show in real time as well.

![validate](https://user-images.githubusercontent.com/27716099/51409161-d565ea00-1b15-11e9-87be-0041e6305275.gif)
## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ]

[2019-01-18 20:39] supernova-at commented on #748
#744 was updated to include this functionality, therefore this follow up ticket is no longer needed.

[2019-01-18 20:39] #748 closed

[2019-01-19 00:31] brendanfalkowski opened #769 "Query validation in GraphQL Playground is broken"
While testing GraphQL endpoints I noticed that query validation in GraphQL Playground throws a false-negative for proper queries with query variables.

The validator fails but the query still runs.

## This issue is for the following packages:

- [ ] `venia-concept`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [x] Bug
- [

[2019-01-20 19:45] mpopov commented on #756
Having the same issue

[2019-01-22 10:01] roma-glushko commented on #713
Hi @Jordaneisenburger Thank you for replay! I have upgrade my NodeJs and now I have these:

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| Magento version             | 2.3 (a local instance with Venia sample data, branch: 2.3) |
| Operating System + version  | macOS High Sierra 10.13.3 |
| node.js version (`node -v`) | v11.6.0 |
| npm version (`n

[2019-01-22 10:34] roma-glushko commented on #713
@Jordaneisenburger Do you mean running `npm run clean:all && npm run clean:dist` from project root? I have ran these clean commands then then ran `npm install` in directories again. The same result was got 😞

[2019-01-22 10:36] roma-glushko commented on #713
@Jordaneisenburger wondering if you can run this pwa studio without such issues, then what is/was your nodejs/npm versions? I feel like this is a cause 🤔

[2019-01-22 10:39] Jordaneisenburger commented on #713
@roma-glushko i haven't tried to install the latest version of pwa-studio yet. I've created this repo https://github.com/Jordaneisenburger/fallback-studio could you check to see if it makes any difference ?

[2019-01-22 11:35] roma-glushko commented on #713
@Jordaneisenburger Wow, full reinstall of GIT repo helps here, finally 😮
![2019-01-22_13-31-36](https://user-images.githubusercontent.com/9402690/51533056-758b7e00-1e4a-11e9-9dbc-2d9e50657297.png)
Sorry that I did not get to solution with checking out your repo, I added this point to my to-do list to check what's going on there 🙌

Thank you very much for helping ❤️

[2019-01-22 11:35] #713 closed

[2019-01-22 12:05] Jordaneisenburger commented on #713
No problem!

[2019-01-22 15:51] JStein92 opened #771 "Navigation panel accrues significant delay over time"
![peek 2019-01-22 07-37](https://user-images.githubusercontent.com/27716099/51546861-ed8d8000-1e19-11e9-9500-8b286638c86a.gif)

The left navigation panel accrues a click handler delay over time - the more you navigate it, the worse it gets.

Reproduce by clearing application cache, then simply opening and closing the side nav over and over.

## This issue is for the following packages:

- [x] `ven

[2019-01-22 15:57] sirugh commented on #471
@pcole0083 there is currently an open PR for this work. See #615.

I'm in the middle of reviewing it but I would love another set of eyes on it if you have some time. Feel free to ping me here or on Slack if you have any questions.

My hope is to finish it up and merge this week.

[2019-01-22 16:04] ivy00johns opened #772 "[Bug] Some DOM elements on a Product page use "classes" instead of "class" causing MFTF automation issues."
## This issue is for the following packages:
- [X] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:
- [X] Bug
- [ ] Feature suggestion
- [ ] Documentation issue
- [ ] Other (Please Specify)

### Environment

| Question                    |    Answer     |
| --------------------------- | :-----------: |
| PWA envi

[2019-01-22 16:34] awilcoxa commented on #361
@zetlen @jimbo issue/PR has been picked up by @codeAdrian but there's still the outstanding question that Alexey brought up about how to handle the gap of graphql endpoints. Can either of you weigh on on the topic w/ Adrian and figure out path forward?

[2019-01-22 17:07] #772 closed

[2019-01-22 19:54] soumya-ashok commented on #361
https://magento.invisionapp.com/share/S2Q41VCR45C - Updated screens for filters

[2019-01-23 07:11] codeAdrian commented on #361
@soumya-ashok , thank you for the updated designs.

@awilcoxa , can you assign me to this issue so I can easily keep track of it?

[2019-01-23 08:32] vasilii-b commented on #422
Hi! I'd like to have a look on the issue. Can someone assign it to me, please? Thank you!

[2019-01-23 11:34] Banhawy opened #775 "Feedback on page: /venia-pwa-concept/setup/"
## This issue is for the following packages:

- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

## This issue is a:

- [ ] Bug
- [ ] Feature suggestion
- [ x ] Documentation issue
- [ ] Other (Please Specify)

## Description

The documentation is very useful when it comes to setting up a development environment locally, but the

[2019-01-23 12:37] Banhawy commented on #775
Found some relevant documentation here [https://magento-research.github.io/pwa-studio/pwa-buildpack/reference/pwa-dev-server/](url)

[2019-01-23 12:37] #775 closed

[2019-01-23 15:54] sharkySharks commented on #734
Updating this ticket.

**Current progress includes:**
* PWA is running in a Docker container over https
* https was achieved using self-signed certificates and mounting them on the proxy container
* custom local url support, ie https://pwa-docker.local, using an nginx reverse-proxy to route the requests from the url to the app container
* PWA service worker confirmed working and the application is

[2019-01-23 16:12] jissereitsma commented on #626
I'm bumping into the same issue, while the attribute `fashion_color` exists as an EAV attribute (as being part of the demo data). As far as I understood the GraphQL API, it would require a custom (Venia?) module to explicitly add this EAV attribute to the GraphQL schema (see https://devdocs.magento.com/guides/v2.3/graphql/ for mentioning of this).

The module `magento/module-catalog-sample-data-ve

[2019-01-23 16:17] travisdetert commented on #626
@ennostuurman that is correct, I followed the install directions per the docs with the newly downloaded packages (at the time), I had to run install a few times to get it to install the sample data, but when that did seem to add products, I saw different results than the online demo.  Not saying it's impossible that I didn't miss a step, but I am pretty sure I followed it line for line.  Commentin

[2019-01-23 16:23] jissereitsma commented on #626
A module - say `magento/module-catalog-sample-data-venia` will need to add a file `etc/schema.graphqls` file with the following contents:

[code]

This theoretically should be it. However, I'm still struggling with it.

[2019-01-23 17:21] awilcoxa commented on #703
Added dependency to issue #472  since both issues appear to be addressed in #659

[2019-01-23 17:24] awilcoxa commented on #702
Closing as non-issue

[2019-01-23 17:24] #702 closed

[2019-01-23 17:59] sirugh commented on #257
This issue is stale. Closing for now. @marcelowu or others, if you have this problem please open a new issue.

[2019-01-23 17:59] #257 closed

[2019-01-23 21:06] sirugh commented on #514
Is this something we still want to do @soumya-ashok @awilcoxa? The mocks [here](https://magento.invisionapp.com/share/WQN5F7BYBPG#/screens/322904233) don't contain anything for these pages.

If this is outdated or part of some prior sprint that got tabled we can close this IMO.

[2019-01-23 21:19] sirugh commented on #767
@JStein92 nice find with `asyncValidateOnBlur`! It may be as simple as replacing the validation functions on the fields we care about with that function -- this could be a one-liner, even.

👍

[2019-01-23 21:45] sirugh opened #779 "[FEATURE]"
**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

**Is your feature request related to a problem? Please describe.**
On the PDP, in desktop (> 1024px) there is no indicator as to which thumbnail/image is selected.

**Describe the solution you'd like**
When I ho

[2019-01-23 21:46] tjwiebell opened #780 "Integrate UPWARD with Magento"
This issue a little open-ended at the moment, but we need to design a solution that allows upward-php to intercept all requests to Magento, and given the request structure, process the request or pass it off to Magento.

##### Solution 1 - Magento Module #####
Our initial idea was to have a simple module that would add a `Router` implementation to `RouterList`, which would match a specific pattern

[2019-01-23 21:46] #780 closed

[2019-01-23 21:53] cherdman commented on #360
Blocked by https://github.com/magento/graphql-ce/pull/259

[2019-01-23 21:55] cherdman commented on #361
Blocked by https://github.com/magento/graphql-ce/pull/259

[2019-01-23 21:58] #445 closed

[2019-01-23 22:05] #467 closed

[2019-01-23 22:06] #441 closed

[2019-01-23 22:09] #678 closed

[2019-01-23 22:17] cherdman opened #781 "Recreating Venia components using Adobe XD"

[2019-01-23 22:52] sharkySharks opened #782 "Add Windows support for Docker setup"
This is a follow up issue to #734 . This issue is to add support for Windows in the Docker setup script so that Windows users can run PWA.

Work to complete:

`docker/run-docker` setup script needs to support Windows environment, including:
- adding values to the `/etc/hosts` file
- automated SSL/TLS certification creation and setup
- testing in Windows to get `docker-compose` workflow to work pro

[2019-01-23 22:52] sharkySharks commented on #782
#570

[2019-01-23 22:53] sharkySharks commented on #734
Moving Windows support to separate issue. Will complete setup for running on Mac, follow up work for Windows support will be in issue #782

[2019-01-24 04:49] aliaathil commented on #626
@jissereitsma I think you have not installed sample data or had some errors in while installing
please follow the steps
https://magento-research.github.io/pwa-studio/venia-pwa-concept/install-sample-data/

[2019-01-24 05:47] jissereitsma commented on #626
I actually found that files in my `venia/dist/js` folder were still pointing to an old setup. Fixed it for myself anyway.

[2019-01-24 16:35] sirugh opened #783 "[FEATURE] Toasts."
**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

**Is your feature request related to a problem? Please describe.**
The banner used to display online/offline text currently exists as a component that displays some text related specifically to whether the app i

[2019-01-24 16:40] sirugh commented on #514
Per discussion yesterday it seems the discovery has been done and we know what we can get from the API. We are going to close the PR for now and if we decide to prioritize this work we can revisit it.

[2019-01-24 16:40] #514 closed

[2019-01-24 19:39] supernova-at opened #784 ""[BUG] Full Screen Checkout Drawer""
Once the shopper taps into the checkout drawer, they should enter a "full screen" overlay where the shopping cart header is not seen.

Issues should be resolved to adhere to current design:  https://magento.invisionapp.com/share/HVP22925B2Q

## This issue is for the following packages:

- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upwar

[2019-01-24 21:37] sirugh commented on #351
I believe all we needed was purchase history and sign out links for this per @ericerway's comment from November. Further Account Menu work can be opened as a new issue.

[2019-01-24 21:37] #351 closed

[2019-01-24 22:31] #126 closed

[2019-01-25 19:49] supernova-at commented on #617
Closed by #664.

[2019-01-25 19:49] #617 closed

[2019-01-26 05:46] dani97 commented on #644
@awilcoxa I have fixed this issue in #760

[2019-01-28 21:53] #349 closed

[2019-01-29 19:03] supernova-at commented on #695
Assigning to myself, as I am taking over this ticket.

[2019-01-30 05:58] VitaliyBoyko opened #791 "[BUG] Unit tests from an IDE not being ran"
**Describe the bug**
Since the last update (changing package manager from NPM to Yarn), I’ve got an error running unit tests form the PhpStorm.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the latest `develop` branch and configure the Yarn workspace
2. Add new Jest runner with the Default Configuration file project_root/jest.config.js
3. Try to run some tests
4. See error

**E

[2019-01-30 20:58] #679 closed

[2019-01-30 21:51] #398 closed

[2019-01-30 21:52] cherdman commented on #398
Resolved for the general case (https://github.com/magento-research/pwa-studio/pull/757)

[2019-01-30 22:22] jcalcaben opened #796 "[Documentation] Venia component portability"
Create documentation based on work done in:

https://github.com/magento-research/pwa-studio/pull/788

[2019-01-31 10:08] cnu115 commented on #626
I commented "fashion_color" and "fashion_size" then build was running successfully but in PDP( product detailed page ) page item color and size, unable to add to the cart.
For this any solution ???

[2019-01-31 17:42] soumya-ashok commented on #783
@jimbo and @sirugh
**Initial design for toasts:**

- User dismissed messages have the X icon to the right.
- Time dismissed messages have a related icon on the left.
- Action messages can be dismissed by clicking the action link, or ignored by clicking the X.

_We haven't determined if and what cases will call for an ignored message to be resurfaced, what the time interval should be to resurface a

[2019-01-31 18:15] belbiy commented on #783
@soumya-ashok , i like the overall clean aesthetic. But i feel the border separating the body of the toast and dismiss/icon is too heavy for this style. Please consider making it lighter or even removing it:

![toast-border](https://user-images.githubusercontent.com/752610/52074949-a9ecf180-2550-11e9-96b2-8049a9fb67d4.png)

For **actionable** toasts, I also think that the `Action` button is too cl

[2019-01-31 19:22] soumya-ashok commented on #783
Thanks for the feedback @belbiy - will work on changes.

[2019-01-31 19:48] brendanfalkowski commented on #783
@belbiy — Good points, I agree:

- Border — Has too much visual weight. I would remove it and use whitespace for separation.
- Action — Left alignment improves clickable area. Doesn't look like a link or button as styled.
- Stacking — Making people traverse notifications feels like a chore. The app (by design) probably shouldn't ever pop more than two notifications at once, and it'd be fine to sta

[2019-01-31 20:50] eboxrocks opened #801 "[BUG] WebPack Dependency"
When I try to install Venia via yarn, even against the test demo server, I am running into the following issue that appears to be a problem with the package.json.

Node v11.9.0
Yarn v1.13.0
MacOS Sierra 10.12.6

I have changed the dev dependency to ~2.0.0-rc.19 so that they match which removed the warning below, but still have the same error.

Here is the output of my build locally:

yarn run v1.1

[2019-01-31 20:55] soumya-ashok commented on #783
@brendanfalkowski Thanks for weighing in, all great points!
Will have a look at your examples.

[2019-01-31 20:58] eboxrocks commented on #801
Actually closing, I cloned again, re-ran the build and it worked the next time. Not sure what happened prior.

[2019-01-31 20:58] #801 closed

[2019-02-01 20:16] #687 closed

[2019-02-01 20:16] #688 closed

[2019-02-01 20:16] #689 closed

[2019-02-01 20:16] #692 closed

[2019-02-01 20:16] #693 closed

[2019-02-01 20:16] #686 closed

[2019-02-01 20:16] #694 closed

[2019-02-01 21:05] #695 closed

[2019-02-01 23:02] brendanfalkowski opened #807 "[BUG] Hardcoded color in category title"
**Describe the bug**
The category title has `color: black` hardcoded.

**Expected behavior**
Should use `color: rgb(var(--venia-text))`.

**Please let us know what packages this bug is in regards to:**
- [x] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

[2019-02-02 00:47] brendanfalkowski opened #809 "[BUG] Pre-push hook fails after change from NPM to Yarn when using a Git GUI"
**Describe the bug**
When using a Git GUI like Tower or Sourcetree, the PATH environment variable in the shell is not sourced from a profile with PATH modifications like a terminal app is.

#610 added a pre-push hook that runs Prettier and ESLint, which requires Node and Yarn in the PATH.

From the terminal, running `git push` works.

From a Git GUI, pushing fails with an error like:

[code]

This

[2019-02-02 01:14] brendanfalkowski commented on #575
I've done some work on focus trapping, and it can be a lose/lose situation depending on the context.

For example, you trigger a menu or modal and move focus to the first focus-able element in that container. But that element may not be the first element in the container — it's just the first element that can receive focus — so an assistive tech begins reading from the point of focus and ends up s

[2019-02-04 04:50] syedsaleem086 opened #810 "error code ELIFECYCLE"
**Always getting above error tried to resolve using these methods**
`npm cache clean --force`
delete `node_modules` folder
created empty directory `node_modules` and given full permission
`chmod -R a+rwx ./node_modules `

**To Reproduce**
Ubuntu 18.04
Use NVM to install Nodejs
use the latest LTS Edition 10.15.1
Clone this repository using git

**Expected behavior**
Should complete without error

*

[2019-02-04 06:01] cnu115 opened #811 "item is undefined (PDP)[BUG]"
**Describe the bug**
I am having an issue in PDP page
when i am selecting the color and size and when i am click on "add to cart" button throwing an error item is undefined
any one can help this issue ???

**To Reproduce**
Steps to reproduce the behavior:
Magento sample data.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2019-02-04 09:02] ennostuurman commented on #626
hey @cnu115 if you're running against a Magento instance with Venia sample data then commenting out the variants in the GraphQL query will indeed error when trying to add products to cart.

So are you running Magento PWA Studio against a local Magento instance with Venia data?

If that's the case does your local PWA Studio also have these issues with the default configured MAGENTO_BACKEND_URL (see

[2019-02-04 09:42] ennostuurman commented on #811
hey @cnu115 I believe this is the same issue https://github.com/magento-research/pwa-studio/issues/626#issuecomment-459288423 ? See my reply to that.

[2019-02-04 09:48] cnu115 commented on #626
Hi **@ennostuurman** I am not running Venia sample data, I am running Magento sample data.

For default configured MAGENTO_BACKEND_URL working fine. For Magento sample data it's throwing an error item is undefined.
Venia sample data having only configurable product.

What about store having simple products as well as configurable products ??

[2019-02-04 09:51] cnu115 commented on #811
Hi @ennostuurman Thanks for the response. I'll looking into that

[2019-02-04 12:49] DmitryShmaliuk commented on #661
Please, assigned to me.

[2019-02-04 15:06] DmitryShmaliuk commented on #784
Please, assign to me.

[2019-02-04 15:42] #807 closed

[2019-02-04 20:11] #749 closed

[2019-02-04 21:59] #691 closed

[2019-02-05 01:44] dpatil-magento opened #814 "Unable to update quantity in shopping cart"
Description:
After adding a product to cart user is unable update quantity via the text field or with the small triangle (increase/decrease) present side of text field.

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart.
2. Now try editing qty of product in cart (on right side drawer/panel )

Expected behavior:
User should be able to update quantity either by typ

[2019-02-05 01:57] dpatil-magento opened #815 "User doesn't have option to edit Quantity/Color/Size on Edit Cart Item right drawer/panel."
Description:
After adding a product to cart, user is unable to  edit color/size/quantity under Edit Cart Item right drawer/panel

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart.
2. Now click on edit item option present under more options (3 vertical dots).

Expected behavior:
User should be presented with options to update Color, Size and/or Quantity for th ep

[2019-02-05 02:03] dpatil-magento opened #816 "[BUG] Update Content of Checkout Receipt"
Description:
After placing an order on Venia store front, Order Number displayed on Venia store front is different than order number displayed on Admin UI.

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart.
2. Complete the order checkout process (Place the order).
3. Note the order number displayed on storefront and compare the same on Admin UI >Sales>Order

Exp

[2019-02-05 02:11] dpatil-magento opened #817 "Venia storefront does not display newly created category until browser cache is cleared."
Description:
After adding a new category/product on Admin UI, Venia storefront does not display new items until browser cache is cleared.

Steps to reproduce the behavior:
1. Add a new category on Admin UI.
2. Assign a product to newly created category.
3. Navigate to storefront and Refresh the page.

Expected :
User should be able to see newly created category and product.

Actual:
Until user cle

[2019-02-05 02:29] dpatil-magento opened #818 ""Update Cart" button does not work on Edit Cart Item right drawer."
Description:
"Update Cart" button does not work Edit Cart Item right drawer/panel.

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart.
2. Now click on edit item option present under more options (3 vertical dots).
3. Click on update Cart button.

Expected behavior:
Shopping Cart right drawer should be displayed with updated attributes(qty/color/size) if any.

Act

[2019-02-05 02:37] dpatil-magento commented on #420
@awilcoxa  this issue is reproducible on for sign-in flow if user enters invalid username/pwd and clicks on sign-in button.

![image.png](https://images.zenhubusercontent.com/5c585c5aecb0076f3e898431/3f8acbdc-f32f-49e6-9294-864085181617)

[2019-02-05 02:51] dpatil-magento opened #819 "User friendly error message is not displayed on clicking sign-in button after entering invalid details."
Description:
User friendly error message is not displayed on clicking sign-in button after entering invalid details.

Steps to reproduce the behavior:
1. Go to Venia storefront and Click on sign In button on Main menu (Left drawer).
2. Enter valid email and invalid password and click on Sign-in Button.

Expected :
User should just see invalid inputs related error message.

Actual:
User is shown wi

[2019-02-05 07:58] henktheunissen opened #820 "[BUG] Fatal error when running 'yarn install'"
**The bug**
I am getting an fatal error when running yarn install.

**To Reproduce**
Steps to reproduce the behavior:
1. yarn install (Step 2 of https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/)

**Preconditions**
Docker running with Windows containers
Npm installed

**Error**

 - Device: PC
 - OS: Windows 10
 - NPM version 6.4.1
 - Node Version 10.15.1

[2019-02-05 15:03] dpatil-magento opened #821 "User ends up in blank screen when they click on checkout button and then try to remove item from the cart."
Description:
Add to Cart > Click on Checkout > Remove item from cart > Ends up in blank screen.

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart.
2. Click on Checkout button and now click on "remove item" option present under more options (3 vertical dots).

Expected behavior:
Shopping Cart right drawer should be displayed with message "There are no items in yo

[2019-02-05 15:10] dpatil-magento opened #822 ""Right drawer" shopping cart panel is not responsive to adjust to mobile screen size (PFA screens)"
Description:
Right drawer shopping cart panel is not responsive to adjust to the mobile screen size (Tested on Iphone SE)

Steps to reproduce the behavior:
1. Go to Venia storefront and a add product to cart on a small screen mobile device.
2. Observe the shopping cart.

Expected behavior:
Shopping Cart right drawer UI should be responsive enough to adjust to different screen sizes.

Actual :
Part

[2019-02-05 16:20] dpatil-magento opened #823 "Unwanted page skeleton with page navigator displayed when user clicks on category which doesnt contain any products."
Description:
Unwanted page skeleton with page navigator displayed (PFA screen) when user clicks on category which doesn't have any products.

Steps to reproduce the behavior:
1. Create a new category on Admin UI and don't assign any products to it.
2. Navigate to Venia storefront (clear browser cache if venia storefront is already accessed on the browser ).
3. Click on newly created category.

Exp

[2019-02-05 17:11] #796 closed

[2019-02-05 17:29] dpatil-magento opened #824 "User is unable to scroll to Sign In button on mobile device if there are more categories."
Description:
Mobile specific: When there are more categories user cant scroll to Sign in button. It blocks user from signing to the account.

Steps to reproduce the behavior:
1. Create more categories which should cross length of mobile device around 8-10. (For iphone SE its 8 or greater).
2. On Venia storefront open Main menu Left drawer and try to scroll to Sign In button.

Expected behavior:
Ei

[2019-02-05 17:34] sirugh commented on #811
@cnu115 please let us know if your issue is resolved by #626.

[2019-02-05 17:43] cnu115 commented on #811
Pwa Studio it will work for only venia sample data ??. Or it will support Magento sample data also ??

I installed venia sample data then my issue reloved.But for Magento sample data still I am facing an issue.

[2019-02-05 18:03] dpatil-magento opened #825 "Focus doesnt move to top of the page if user scrolls down and clicks on some product on category page."
Description:
Focus doesn't move to top of the page if user scrolls down and clicks on some product.

Steps to reproduce the behavior:
1. Go to Venia storefront and click on any category which has more products.
2. Scroll down the page and click on any product.

Expected:
Product details page should always be displayed with focus on top of the page.

Actual:
Product details page is displayed but fo

[2019-02-05 18:18] dpatil-magento opened #826 "User unable to remove items hidden behind checkout panel (Cart item scrolling area not getting auto adjusted when checkout section opens))"
Description:
When user has say 5-7 item sin cart and clicks on checkout and wants to remove say 7th item from the cart, user cant do that action as scrolling area is not getting auto adjusted when checkout section is opened.

Steps to reproduce the behavior:
1. Navigate to Venia storefront and add say 6-7 items.
2. on Right drawer panel click on Checkout.
3. Now try to remove/edit/update cart item

[2019-02-05 19:04] dpatil-magento opened #827 ""Confirm Password" text field and "Submit" button hides behind mobile keypad and there is no way user can see until keypad is closed."
Description:
Tested on Iphone 5 SE device :
"Confirm Password" text field and "Submit" button hides behind mobile keypad and there is no way user can see until keypad is closed. The issue here is user dont get to know what is being typed in the field confirm password field and once that part is done user has to close the keypad in order to click on Sign-in button. (Not a smooth flow)

Steps to rep

[2019-02-05 19:31] zetlen commented on #819
Duplicate of #735.

[2019-02-05 21:03] dpatil-magento opened #828 "On switching bewteen categories, page navigation of current category use previous category page number instead of showing default (1st) page of the category.)"
Description:
On switching between categories, page navigation of current category use previous category page number instead of showing default (1st) page. Eg : Say navigate to page 3 of Category A > Now switch to Category B. You can see 3rd page of Category B has been displayed instead of displaying 1st page.

Steps to reproduce the behavior:
1. Navigate to Venia store front "Bottoms" category and

[2019-02-05 21:12] dpatil-magento opened #829 "Page navigation First Page (<<) and Last page (>>) looks disbaled on first and last pages respctively but they are clickable."
Description:
First page and Last page navigators/anchors are looks disabled but on click they still perform same function as they are enabled.

Steps to reproduce the behavior:
1. Go to Venia storefront and navigate to category which has say 4 pages.
2. Now when you are on 1st page scroll down and try to click on disabled first page anchor (<<)   or click on disabled last page anchor (>>) if you a

[2019-02-05 22:24] dpatil-magento opened #830 "After placing an order if user clicks on Create account button then create account page Email, First and last name field contains value as Null instead of values used during order placement."
Description:
Place an order as guest and click on "Create Account" button > Create account page displays with "null" as values for Email, First and Last name.

Steps to reproduce the behavior:
1. Go to Venia storefront as guest and Place an order.
2. Click on Create account button on order confirmation page.

Expected behavior:
Create account page should be displayed with pre-filled email, first a

[2019-02-06 00:34] dani97 commented on #829
@dpatil-magento I could not reproduce this issue

[2019-02-06 11:23] VitaliyBoyko opened #833 "[REFACTORING] Refactor the createAccount form"
In order to follow the principle of least astonishment, providing refactoring of createAccount form component is required.
All hardcoded validators should be removed. Instead, utilize ```packages/venia-concept/src/util/formValidators.js``` as a single approach for validation.
Basic implementation has been done in magento-research/pwa-studio#770.

[2019-02-06 14:19] dpatil-magento commented on #829
@dani97 I tried today on latest code and its working.

[2019-02-06 14:20] #829 closed

[2019-02-06 14:42] rowan-m commented on #820
Similar error here on a fresh Ubuntu 18.10 minimal install:
[code]
This adds in both Python and GCC as requirements for the development environment, as per https://github.com/nodejs/node-gyp#installation

I worry this complicates things for a lot of developers, is it possible to make this optional or perhaps drop in something like https://www.npmjs.com/package/wasm-zopfli instead? I'm not sure how

[2019-02-06 15:10] rowan-m commented on #820
Specifically it looks like it's [`shrink-ray-current`](https://www.npmjs.com/package/shrink-ray-current) in [`upward-js/package.json`](https://github.com/magento-research/pwa-studio/blob/release/2.0/packages/upward-js/package.json#L50) that's pulling this in.

[2019-02-06 15:44] awilcoxa opened #837 "Add Additional Fields to Checkout Form"
**Please let us know what packages this feature is in regards to:**
- [x ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

Currently, the checkout form for billing address inherits additional fields like first/last name from the "ship to section." While this was intentional by design, there is an edge case to consider where this co

[2019-02-06 15:45] awilcoxa commented on #837
![image](https://user-images.githubusercontent.com/44207440/52353315-ee1a3f00-29f3-11e9-9505-4c7e937ba5a9.png)

[2019-02-06 16:13] rowan-m commented on #820
For anyone looking to get past this point on Ubuntu (and probably other Debian-based distros too) is:
[code]

[2019-02-06 16:22] jimbo commented on #820
Thanks for the detailed report, Rowan. I share your concern, and I'll look into whether we can make some of these dependencies optional.

[2019-02-06 16:52] sirugh opened #839 "Venia Unit Test Coverage for 2.0"
# What

Our test coverage for Venia is abysmal. This issue is to track our progress in updating the coverage numbers which, at time of writing, are less than 50%.

Additionally we should work to migrate tests from `enzyme` to `react-test-renderer` at the same time.

https://itnext.io/testing-react-16-3-components-with-react-test-renderer-without-enzyme-d9c65d689e88

# How

If you want to help, che

[2019-02-06 16:52] awilcoxa opened #840 "[Documentation] Venia component specs"

[2019-02-06 16:54] awilcoxa opened #841 "Bug: Order Confirmation displays wrong ID"

[2019-02-06 16:55] sirugh commented on #839
Speaking of, I'll be writing coverage for `TextArea`!

[2019-02-06 16:55] jimbo commented on #839
And if you reference this issue from a PR, make sure not to use a [keyword that would close it](https://help.github.com/articles/closing-issues-using-keywords/).

[2019-02-06 16:56] awilcoxa opened #842 "Add support for 2.3 develop"
As a product, the existing version of PWA studio (Venia) should ensure that all GraphQL queries conform to new schema changes released in 2.3.1 in order to ensure compatibility.

[2019-02-06 16:57] awilcoxa opened #843 "Dynamically display store name and year in Footer"

[2019-02-06 16:58] awilcoxa opened #844 "Media gallery display based on option selection"

[2019-02-06 16:59] awilcoxa opened #845 "Add product to cart for authorized user"
POC

[2019-02-06 17:01] awilcoxa opened #846 "Component for Filter Button"

[2019-02-06 17:03] awilcoxa opened #847 "Update Cart Items"

[2019-02-06 17:05] awilcoxa opened #848 "Close Cart View and "Continue Shopping""
A user in the cart view should be able to click a button, besides the `x`, that takes them back to the page they were on (category/product/etc). This could be a button that reads `Continue Shopping` and is located to the left of the "Checkout" button in the cart view.

[2019-02-06 17:06] awilcoxa opened #849 "[Documentation] Migrate UPWARD docs to devdocs"

[2019-02-06 17:07] awilcoxa opened #850 "Changed createElement import"
See PR for details

[2019-02-06 17:15] awilcoxa commented on #846
This issue may now be related to #361 and the previously submitted PR (#722) may now be a duplicate based on the new PR by @codeAdrian (#797)

If the newer PR makes the previous redundant then we should close both #846 and #722

[2019-02-06 17:18] awilcoxa opened #851 "feat(upward): Add JSON file parsing to upward-js and asset introspection to Venia templates"
see PR for detail

[2019-02-06 17:19] awilcoxa opened #852 "Add/Update Test for Navigation"
see PR for details

[2019-02-06 17:20] awilcoxa opened #853 "Fix Product Page Scroll Behavior"

[2019-02-06 18:02] #696 closed

[2019-02-06 19:04] dpatil-magento opened #854 "system fails to query for "<space>0<space<1>""
Description:
Enter " 0 1" in search box and hit enter >> Infinite loading spinner.  Not a business use case but system fails to query.

Steps to reproduce the behavior:
1. Navigate to Venia storefront and click on Search icon.
2. Enter " 0 1" in search field and hit enter.

Expected behavior:
No results found message should be displayed.

Actual :
Infinite loading spinner, search never returns res

[2019-02-06 19:18] dpatil-magento opened #855 ""Add to Cart" button does not handle multiple clicks properly."
Description:
When user clicks on Add to Cart button multiple times then Cart gets updated as separate product for each click.

Steps to reproduce the behavior:
1. Go to Venia storefront and navigate to any product details page.
2. Select size and color and now click on Add to Cart button multiple times.

Actual:
Cart gets updated for each click as separate product.

Possible Solution:
"Add to cart

[2019-02-06 19:35] #849 closed

[2019-02-06 19:35] jcalcaben commented on #849
Closing issue as duplicate of #181

[2019-02-06 20:04] sirugh commented on #839
Now writing tests for `ProductImageCarousel`.

[2019-02-06 20:10] awilcoxa commented on #684
closing as PR is merged

[2019-02-06 20:10] #684 closed

[2019-02-06 20:15] #521 closed

[2019-02-06 20:15] awilcoxa commented on #521
Closed as PR is merged

[2019-02-06 20:17] awilcoxa commented on #462
PR is merged, existing bug is being tracked through separate issue #735

[2019-02-06 20:17] #462 closed

[2019-02-06 20:19] awilcoxa commented on #416
PR #592 is merged

[2019-02-06 20:19] #416 closed

[2019-02-06 20:21] awilcoxa commented on #562
closing issue as related PRs were closed, it does not appear that the team is planning any additional work against this issue.

[2019-02-06 20:21] #562 closed

[2019-02-06 20:21] awilcoxa commented on #606
closing as PR is merged

[2019-02-06 20:21] #606 closed

[2019-02-06 20:22] awilcoxa commented on #625
closing as PR is merged

[2019-02-06 20:22] #625 closed

[2019-02-06 20:22] awilcoxa commented on #699
PR is merged

[2019-02-06 20:22] #699 closed

[2019-02-06 20:24] #847 closed