[2021-04-30 06:34] #3147 closed

[2021-04-30 15:22] sirugh opened #3152 "[bug]: No way to edit billing address once check/mo is selected and "review order" clicked"
**Describe the bug**

Once a user has selected check/mo payment method and clicked "Review Order", there is no way to modify billing address unless they refresh the page and re-select/re-submit

**To reproduce**

Steps to reproduce the behavior:
1. Go to [https://venia.magento.com](https://venia.magento.com/)
1. Add a product to cart
1. Go to checkout (as guest).
1. Fill out details and select "ch

[2021-04-30 15:22] sirugh commented on #3152
@magento export issue to JIRA project PWA as Bug

[2021-04-30 15:33] sirugh commented on #3151
Please provide the output of your `yarn build:report` command (if possible). Otherwise, provide details as described in the original issue template ie Magento version, PWA Studio version, node, yarn, npm versions, etc.

[2021-04-30 17:01] Amooryjubran commented on #3151
Thank you for getting back to me.
This is what i'm getting when I do the command.

<img width="818" alt="Screen Shot 2021-04-30 at 12 59 52 PM" src="https://user-images.githubusercontent.com/54118716/116728473-f6d00480-a9b3-11eb-81c1-6ce55e80dd9b.png">

[2021-04-30 17:11] sirugh commented on #3151
Ok, perhaps you do not have that version of pwa studio. In that case we need you to provide all the info requested )

[2021-04-30 17:31] Amooryjubran commented on #3151
the pwa version is Magento 2.3.3,  Node is v16.0.0, yarn is 1.22.5, npm is 6.14.11.

<img width="688" alt="Screen Shot 2021-04-30 at 1 31 50 PM" src="https://user-images.githubusercontent.com/54118716/116731969-6e079780-a9b8-11eb-926a-06395e3e4b61.png">

[2021-04-30 17:45] sirugh commented on #3151
@revanth0212 didn't you notice a recent issue with this command? I forget the specifics.

[2021-05-01 17:03] lilbumblebear opened #3153 "Setting up and deploying multiple websites"
**Describe the request**
 I have read the documentation for setting up and deploying a single website for a Magento instance with PWA (and have one running successfully). I would really appreciate some additional documentation about how this should work for multiple websites on the same Magento instance

**Possible solutions**
 It would be nice to know:
1. Should we create separate PWA projects (y

[2021-05-02 16:57] MajorKuprich commented on #3144
@sirugh @fooman
Thank You for Your help.
I've reopened topic due to still persist errors with 404 on existing category page.
Testing with Magento 2.4.2 instance.

1. Homepage not render some of categories images:
![](https://i.imgur.com/Lral0pM.png)

2. Can't access to some of categories (these which not load properly images on homepage):
![](https://i.imgur.com/bONp3fw.png)

3. Configurable/bundl

[2021-05-02 17:56] MajorKuprich opened #3154 "[bug]: Docker can't connect to Magento instance."
**Describe the bug**

Docker can't connect to local Magento instance.

**To reproduce**

Steps to reproduce the behavior:

1. Install Magento 2.4.2 with sample data, base url: https://magento.loc.
2. Install Venia 10.0.0.
3. Set up .env.docker:
[code]
4. Run the `docker/run-docker` script.
5. Step 9/15 in docker (yarn build) throw errors about not found provided **MAGENTO_BACKEND_URL**.

**Expecte

[2021-05-03 09:03] Jordaneisenburger opened #3155 "[doc]: Better spliceSource documentation"
**Describe the request**
As a developer the docs around the [spliceSource](https://magento.github.io/pwa-studio/pwa-buildpack/reference/targetables/TargetableModule/#targetablemodulesplicesourceinstruction--this) function are fairly slim and hard for me to figure out the actual API. The example below isn't valid because we need to supply `['after', 'at', 'before'`] which I personally don't underst

[2021-05-03 09:52] Jordaneisenburger opened #3156 "[feature]: Add the possibility to allow certain packages to change code outside their namespace"
**Is your feature request related to a problem? Please describe.**
As an agency we sometimes need to change `@magento/package` code from within our own packages `@experius/package` as an example we need to change the way a part of pwa studio works or do a bugfix that's not yet in the current released version of PWA Studio.

A more concrete example would be [this](https://github.com/magento/pwa-stu

[2021-05-03 18:18] sirugh commented on #3156
@magento export issue to JIRA project PWA as Story

[2021-05-04 06:19] jerschipper commented on #3156
Is it possible for me to take a look into this and create a PR for this issue? I would also like to have this feature, but i'm not sure on how the core team thinks about this enhancement?

[2021-05-04 07:05] chatart commented on #3120
@wesleyalmd is there a chance that you provide the solution anytime soon ? :D

[2021-05-04 13:35] sirugh commented on #3156
@jerschipper we welcome contributions! If you'd like to give it a shot, please do, and let us know that you are working on it.

[2021-05-04 17:11] jmelkun commented on #3151
@Amooryjubran Have you tried setting the version of yarn using this command:
`yarn set version berry`
This resolved the issue for me.

[2021-05-05 16:46] jcalcaben commented on #3149
@ak77-prime was this from a search result?

[2021-05-05 19:31] jcalcaben commented on #3155
@magento export issue to JIRA project PWA as Story

[2021-05-05 22:57] ak77-prime commented on #3149
that is correct

[2021-05-06 10:38] #2669 closed

[2021-05-06 13:10] dkozlowskianl opened #3160 "Feedback on page: /technologies/magento-compatibility/"
How do we find the pwa studio version?

[2021-05-06 14:07] sirugh opened #3161 "[bug]: price filter incorrectly fetches/displays"
**Describe the bug**

In the event that a different price filter is applied after a price filter is already applied, the query will only be for the first price filter, not the combination of the two.

This behavior might be interpreted as a bug but is actually a mis-implementation of the UI for the price filter which _only_ allows a "range" ie `{ "from": "0", "to": "100" }`.

We have several optio

[2021-05-06 14:07] sirugh commented on #3161
@magento export issue to JIRA project PWA as Bug

[2021-05-06 14:38] #3059 closed

[2021-05-06 17:55] #3114 closed

[2021-05-06 20:11] #2934 closed

[2021-05-07 14:04] m2-assistant[bot] opened #3165 "[Issue] Use token for font-family in toast"
The toast component does not use font-family token.

[2021-05-07 14:19] sirugh commented on #3165
@magento export issue to JIRA project PWA as Bug

[2021-05-07 14:27] m2-assistant[bot] opened #3166 "[Issue] [FEATURE] Added default Rendertron support"
This issue is automatically created based on existing pull request: magento/pwa-studio#3058: [FEATURE] Added default Rendertron support

---------

## Description

Many frontend frameworks rely on JavaScript to show content. This can mean Google might take some time to index your content or update the indexed content. One workaround option is to implement dynamic rendering. Dynamic rendering means

[2021-05-07 14:29] sirugh commented on #3166
@magento export issue to JIRA project PWA as Story

[2021-05-07 14:34] m2-assistant[bot] opened #3167 "[Issue] [BUGFIX] Replace the mediaBackendUrl when the feature onboard is used"
This issue is automatically created based on existing pull request: magento/pwa-studio#3122: [BUGFIX] Replace the mediaBackendUrl when the feature onboard is used

---------

## Description

if IMAGE_OPTIMIZING_ORIGIN is set to onboard it should replace the mediaBackendUrl with the current window.location
When the media url is different from the admin url it won't be replaced and could result in C

[2021-05-08 16:23] shrimallamanoj opened #3173 "Error: Command failed: yarn workspace graphql-cli-validate-magento-pwa-queries run prepare"
Getting this kind of error when executing this command yarn install

Error: Command failed: yarn workspace graphql-cli-validate-magento-pwa-queries run prepare

[2021-05-10 01:33] wesleyalmd commented on #3120
In a few days I will present the solution for peregrine and venia-ui. I created a module to intercept the productFullDetail talon and add an unavailable button, maybe useful to provisionally solve problem.

https://github.com/wesleyalmd/pwa-studio-product-unavailable

[2021-05-10 13:25] sreevidyaJ opened #3174 "[bug]: Trying to create custom page using pwa studio not working"
Hi Team,

I'm trying to create a custom page using pwa studio. I have followed exact same steps mentioned in https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/add-a-static-route/.

 i did yarn start, it throwing below error
  ⓧ  Could not configure or access custom host. Using loopback... Cannot read property 'staging' of undefined
  ℹ  Launching UPWARD server
http://0.0.0.0:5

[2021-05-10 16:09] #1222 closed

[2021-05-10 17:16] jcalcaben commented on #3160
@dkozlowskianl you can look at your project's `package.json` file and check the `@magento/peregrine` dependency. This dependency closely follows the PWA Studio version.

In the future I will include a table in the release notes detailing the different package version changes included in a release.

[2021-05-10 19:04] jcalcaben commented on #3149
it looks like you ran into on an old page that no longer exists. we've updated the search index so it won't show up again.

You can find GraphQL docs about PWA Studio on this page: https://magento.github.io/pwa-studio/technologies/basic-concepts/graphql/

[2021-05-10 19:04] #3149 closed

[2021-05-11 12:13] #3174 closed

[2021-05-11 12:14] sreevidyaJ commented on #3174
it is working

[2021-05-11 14:51] sirugh commented on #3174
Hi @sreevidyaJ, do you mind adding a little detail about what the issue was and what you did to remedy it? Would be nice to add some helpful info incase someone else has a similar issue in the future.

[2021-05-12 07:43] aigarsMage commented on #2931
Having the same issue on latest pwa and magento

[2021-05-12 14:34] jissereitsma commented on #2342
To further document this issue, it seems that this bug is related to the following issue: https://github.com/jonschlinkert/is-invalid-path/issues/2 A PR to fix this has been created as well https://github.com/jonschlinkert/is-invalid-path/pull/3 but it seems as if the creator is no longer maintaining this package.

My recommendation would be to abandon the usage of this package alltogether and sim

[2021-05-12 15:39] sirugh commented on #2342
Thanks for the input @jissereitsma! We would welcome a contribution (from anyone 😄) that:

* Copies https://github.com/jonschlinkert/is-invalid-path/blob/master/index.js to our repo as a utility within `create-pwa/util`.
* Removes the `is-invalid-path` dependency from the [create-pwa/package.json](https://github.com/magento/pwa-studio/blob/develop/packages/create-pwa/package.json#L40).
* Replaces

[2021-05-12 15:39] sirugh commented on #2342
@magento export issue to JIRA project PWA as Bug

[2021-05-12 18:20] #3165 closed

[2021-05-13 15:17] sirugh commented on #3102
@magento export issue to JIRA project PWA as Story

[2021-05-13 19:02] #3100 closed

[2021-05-17 05:33] jissereitsma commented on #2342
@sirugh I wanted to confirm as a step one whether this would be a smart idea. A bummer is that I don't have a Windows machine to test this on. First 3 steps don't require much, except for minor stuff.

[2021-05-17 12:52] sirugh commented on #2342
@jissereitsma I the issue you noted is relevant - the dependency is outdated. So regardless of whether the rest of the app actually functions on Windows, we will at least have to do this first step, after which we can open further bugs/issues if Windows support is desired. I will note that in the past our PM has stated that this is not something we will support right now, but if community folks wa

[2021-05-17 19:17] sirugh commented on #3154
@magento export issue to JIRA project PWA as Bug

[2021-05-17 19:20] sirugh commented on #3167
@magento export issue to JIRA project PWA as Bug

[2021-05-17 19:21] sirugh commented on #3160
In the future please use the [discussions tab](https://github.com/magento/pwa-studio/discussions) or the public slack to ask questions like this, thanks!

[2021-05-17 19:21] #3160 closed

[2021-05-17 19:22] sirugh commented on #3151
@magento export issue to JIRA project PWA as Bug

[2021-05-17 19:44] sirugh commented on #3173
Closing this for lack of detail. Please follow the issue template and re-open if you continue to have problems.

[2021-05-17 19:44] #3173 closed

[2021-05-17 19:45] sirugh commented on #3153
@magento export issue to JIRA project PWA as Story

[2021-05-17 19:47] sirugh commented on #3117
Closing for lack of response. Please reopen and provide the info requested if you continue to have an issue.

[2021-05-17 19:47] #3117 closed

[2021-05-17 20:02] sirugh commented on #1106
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:02] sirugh commented on #1112
Ticket is cancelled.

[2021-05-17 20:02] #1112 closed

[2021-05-17 20:05] sirugh commented on #1126
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:06] sirugh commented on #1134
Closing - handled by other wishlist epic tickets.

[2021-05-17 20:06] #1134 closed

[2021-05-17 20:09] sirugh commented on #1469
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:09] sirugh commented on #1468
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:10] sirugh commented on #1160
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:11] sirugh commented on #1276
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:16] #1284 closed

[2021-05-17 20:17] sirugh commented on #1453
CSP is now done via upward headers.

[2021-05-17 20:17] #1453 closed

[2021-05-17 20:18] sirugh commented on #1527
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:47] sirugh commented on #1631
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:47] sirugh commented on #1641
Closing as stale.

[2021-05-17 20:47] #1641 closed

[2021-05-17 20:50] sirugh commented on #1767
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:51] sirugh commented on #1749
@magento export issue to JIRA project PWA as Bug

[2021-05-17 20:52] sirugh commented on #1748
@magento export issue to JIRA project PWA as Bug

[2021-05-17 20:52] sirugh commented on #1670
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:53] sirugh commented on #1706
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:53] sirugh commented on #1708
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:53] sirugh commented on #1712
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:54] sirugh commented on #1743
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:54] sirugh commented on #1744
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:55] sirugh commented on #1746
Closing as done.

[2021-05-17 20:55] #1746 closed

[2021-05-17 20:56] sirugh commented on #1774
Closing as cancelled.

[2021-05-17 20:56] #1774 closed

[2021-05-17 20:56] sirugh commented on #1776
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:57] sirugh commented on #1831
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:57] sirugh commented on #1858
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:57] sirugh commented on #1940
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:58] revanth0212 commented on #1767
We can do this if the Query calls are GET-based instead of POST. Since now all the GQL queries in Venia are GET, we can add corresponding rules in the SW to cache for a certain time period.

[2021-05-17 20:58] sirugh commented on #1950
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:59] sirugh commented on #1954
@magento export issue to JIRA project PWA as Story

[2021-05-17 20:59] sirugh commented on #2020
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:01] sirugh commented on #2326
This specific instance is resolved. If there are more, please open further issues!

[2021-05-17 21:01] #2326 closed

[2021-05-17 21:01] sirugh commented on #2373
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:02] sirugh commented on #2413
Closing as this is more of a question. Please use the discussions tab or the public slack in the future!

[2021-05-17 21:02] #2413 closed

[2021-05-17 21:02] sirugh commented on #2521
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:03] sirugh commented on #2589
Closing as this is a question - in the future use the discussions tab or the public slack, thanks!

[2021-05-17 21:03] #2589 closed

[2021-05-17 21:04] sirugh commented on #2666
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:05] #3085 closed

[2021-05-17 21:05] sirugh commented on #3148
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:07] sirugh commented on #1490
Closing as cancelled

[2021-05-17 21:07] #1490 closed

[2021-05-17 21:08] sirugh commented on #1947
Closing as cancelled.

[2021-05-17 21:08] #1947 closed

[2021-05-17 21:09] sirugh commented on #2186
@magento export issue to JIRA project PWA as Bug

[2021-05-17 21:12] sirugh commented on #2591
Closing as stale.

[2021-05-17 21:12] #2591 closed

[2021-05-17 21:12] sirugh commented on #2650
Closing as Stale

[2021-05-17 21:12] #2650 closed

[2021-05-17 21:13] sirugh commented on #3070
@magento export issue to JIRA project PWA as Story

[2021-05-17 21:15] sirugh commented on #3120
Closing as there appears to be a solution.

[2021-05-17 21:15] #3120 closed

[2021-05-17 21:16] sirugh commented on #3144
@magento export issue to JIRA project PWA as Bug

[2021-05-17 21:27] lilbumblebear opened #3179 "[feature]: Tappable Peregrine Hooks"
**Is your feature request related to a problem? Please describe.**
I was trying to extend one of the peregrine hooks (not talons).  Ex: I wanted to add a boolean "isSmall" to the useWindowSize hook.

**Describe the solution you'd like**
I would like to be able to extend the hooks in the same manner as the talons.  They ALMOST work, but I see "new entry" in the ContextProvider instead of the "isSma

[2021-05-18 01:08] sirugh commented on #3179
@magento export issue to JIRA project PWA as Story

[2021-05-18 16:09] #3155 closed

[2021-05-18 18:55] sirugh commented on #2342
As per https://magento.github.io/pwa-studio/frequently-asked-questions/ we're not supporting Windows development necessarily, but if someone from community wants to do this work (as detailed by my above comment) we're open to accepting it.

Until then this will sit in "ready for dev" or eventually be closed as stale.

[2021-05-19 08:07] Eddcapone commented on #2413
@sirugh , yes it is a question, one were I expected the answer in the documentation so I pointed out that this question remains unanswered in it.

[2021-05-19 17:52] #3124 closed

[2021-05-20 08:55] tuna2smc opened #3183 "[feature]: Support sass by default for styling"
**Is your feature request related to a problem? Please describe.**

Sass now poplular but i don't see it's used in project. Any reason of that or core team already plan for that
https://magento.github.io/pwa-studio/tutorials/enable-sass-less-support/
found this but this is tutorial and we need some workarounds to make it work. So can we consideration to add support sass to code base

One of the mo

[2021-05-20 14:14] sirugh commented on #3183
@magento export issue to JIRA project PWA as Story

[2021-05-22 12:37] jh0l commented on #2931
This is my brief understanding but it seems at least in the sample store data, for each product it's default media entry is also a variant. So as the redundant variant has the same `file` and `label` attributes as the default entries, because of how a thumbnail's key is created in the carousel component, unique thumbnails generate the same key so react loses track of the list of thumbnails.
You ca

[2021-05-23 02:31] jh0l opened #3185 "[bug]: Duplicate react component key props produced when selecting variants in product detail carousel"
**Describe the bug**

This is my brief understanding but it seems at least in the sample store data, for each product it's default media entry is also a variant. So the variant that is the same as the default also has the same file and label attributes. This in turn causes the Thumbnail components for the default and the variant matching the default to have the same same key so react loses track o

[2021-05-23 02:34] jh0l commented on #3185
@magento I am working on this

[2021-05-23 02:35] jh0l commented on #3185
@magento add to contributors team

[2021-05-23 02:35] jh0l commented on #3185
@magento I am working on this

[2021-05-23 12:10] larsroettig commented on #2750
https://github.com/larsroettig/create-pwa-studio-extension

[2021-05-23 12:10] #2750 closed

[2021-05-23 12:12] larsroettig commented on #2976
@magento I am working on this

[2021-05-23 19:22] sirugh commented on #3185
@magento export issue to JIRA project PWA as Bug

[2021-05-24 14:20] sirugh opened #3188 "[doc]: Update (or remove) project coding standards wiki"
**Describe the request**
The coding standards wiki was supposed to be a living document but hasn't been updated in some time, likely around when we started adding [graphql](https://github.com/magento/pwa-studio/wiki/Project-coding-standards-and-conventions#passing-graphql-operations-to-a-talon). But as you can see, even the gql docs are dated as we now recommend passing an `operations` object inst

[2021-05-24 14:20] sirugh commented on #3188
@magento export issue to JIRA project PWA as Task

[2021-05-24 15:37] sirugh commented on #3151
yarn set version berry
This resolved the issue for me.

Did you try this?

[2021-05-24 18:04] kwadro opened #3189 "category page"

[2021-05-24 18:11] tkacheva commented on #2976
@plamenh Thanks for bringing this issue to our attention. Certainly lack of support of Cyrillic (as well as other alphabets like Chinese or Arabic) is a miss. however changing the default font from one to another won't solve the problem as there is no option that works for all. We are currently working on the new theming concept for PWA and I make sure to include that as a requirement.

[2021-05-24 19:34] #3189 closed

[2021-05-25 09:56] shadyjamal opened #3190 "build can fail due to graphql line comments"
Config:
[code]
Magento Core and PWA studio are in separate servers.

when running yarn build in PWA studio folder, i faced a FetchError.

**Expected behavior**

Build to finish

**Debug Report**

[code]

after some debugging, i found out that the error happens during webpack bundling, at this line :
`const mediaUrl = await getMediaURL();`

so i decided to test if i can do a request to my backend f

[2021-05-25 18:09] Flyingmana opened #3192 "[bug]: unhandled edgecase for path "/undefined""
**Describe the bug**

When accessing a page with the path `/undefined` like for example `https://venia.magento.com/undefined`, then this leads to a list of errors till the page breaks. (was posted by someone else in slack)

**To reproduce**

Steps to reproduce the behavior:

see description.

**Expected behavior**

getting the expected page for this url without errors.

**Screenshots**

!https://u

[2021-05-25 18:17] m2-assistant[bot] opened #3193 "[Issue] Fix Service Worker matching external top-level URLs"
This issue is automatically created based on existing pull request: magento/pwa-studio#3191: Fix Service Worker matching external top-level URLs

---------
## Description

At the moment the Service Worker matches any external top-level path (e.g. https://any.external.domain.com/?query_params) as a home url, as `isHomeRoute` makes a mere string equality check against `url.pathname`. This makes it r

[2021-05-25 18:17] sirugh commented on #3193
@magento export issue to JIRA project PWA as Bug

[2021-05-25 18:20] sirugh commented on #3192
Thanks for the bug report and debug! We would love a PR/fix if anyone feels up for it.

[2021-05-25 18:20] sirugh commented on #3192
@magento export issue to JIRA project PWA as Bug

[2021-05-26 13:24] volodymyrDashuk commented on #3143
@magento I am working on this

[2021-05-26 20:40] shadyjamal commented on #3190
i figured out the problem, some firewall rules in the backend server were blocking the requests during build (getMediaUrl, getUnionAndInterfaceTypes) because of the comments in the queries:
`# Get the media URL from the store configuration.
`
`# Introspect the GraphQL schema to obtain information about its types.
`
so to fix it either change the rules, or remove these comments.

[2021-05-26 20:52] sirugh commented on #3190
Hmm according to the [spec](https://spec.graphql.org/June2018/#sec-Comments) these are valid graphql file comments. Would you mind giving me some more info about the firewall rule that was blocking requests?

Obviously we could just remove the comments but I'm more interested in solving this issue going forward, so we could:

a) prevent future comments from being added to any `.graphql` files via

[2021-05-26 21:20] shadyjamal commented on #3190
first i'm still a beginner when its comes to Graphql, Magento2 architecture.
when i discovered that the firewall rule caused the problem and asked the sysAdmin, he said that these comments may lead to triggering SQL injection type attacks.

he may be wrong, but i decided to remove the comments and not to take any risk.

[2021-05-26 22:09] #3115 closed

[2021-05-27 14:26] sirugh commented on #3190
That's fine - it should be trivial to strip comments from the imported string before transmission. I'll write up a PR.

[2021-05-27 14:35] sirugh commented on #3190
See https://github.com/magento/pwa-studio/pull/3196 for fix :)

[2021-05-27 14:38] sirugh commented on #3156
@jerschipper are you still working on this?

[2021-05-27 14:42] sirugh commented on #2796
@Frodigo I'm sorry I must have missed your question.

I don't think the country field warnings are related, they seem to be coming from informed after we upgraded it.

That said, I wonder if the dialog is not passing initial values properly. [Here](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js#L226-L228) you can see that `for

[2021-05-28 20:07] sirugh opened #3200 "[feature]: source-mapped dependencies need to render properly"
**Is your feature request related to a problem? Please describe.**
A dependency (such as [magento-storefront-event-collector](https://github.com/adobe/magento-storefront-event-collector)) might pre-minify and provide source maps for its assets.

We (venia-concept) _also_ minify and provide source maps for content, effectively "double" minifying these dependency assets.

A user may want to debug or

[2021-05-29 11:02] huykon commented on #3161
@sirugh this should only 1 selected of that, right?

[2021-05-29 16:33] shrimallamanoj commented on #3173
- I have installed Node (version v16.0.0), yarn (version 1.22.10) and npm (version 7.10.0)
 - Tried to install yarn install command and faced this
![image](https://user-images.githubusercontent.com/70339528/120077769-a38fc580-c0c9-11eb-89c9-6cd36e162f4d.png)

do you need any other details, please let me know?

[2021-05-29 21:51] sirugh commented on #3173
Are you developing on Windows or WSL? Im not sure windows will work at this time.

[2021-05-29 21:54] sirugh commented on #3161
I'm not sure if these are supposed to work like single select radios or multi select checkboxes. Two questions -

* Is it possible to query gql with two or more price filters?
* What does Luma do?

If we can answer those questions we will have a good idea of what we need to do here ☺️

[2021-05-31 01:48] huykon commented on #3161
1. I think price filters must 1
2. The Luma theme only support single select for this

[2021-05-31 02:43] sirugh commented on #3161
Ok I'll verify #1 and update this issue when I get back Tuesday :)

[2021-05-31 11:00] huykon commented on #3192
why the route is `/undefined` will different with `/not-found` ?

[2021-06-01 05:57] lehighjcut commented on #2230
@jimbo testing locally, it looks like network status is solely `1` (the normal loading state) or `7` (ready). Therefore, you wouldn't get any more info from using `networkStatus` instead of `loading`.

It seems like the approach @davemacaulay came up with is the best and only option, unless if Apollo were to incorporate this use case into the API

[2021-06-01 14:27] m2-assistant[bot] opened #3203 "[Issue] magento/pwa-devdocs#: Fixes example in TargetableReactComponent page"
This issue is automatically created based on existing pull request: magento/pwa-studio#3202: magento/pwa-devdocs#: Fixes example in TargetableReactComponent page

---------
## Description
Tried to use this example, but it didn't work.

Fixes example in TargetableReactComponent page to the existing documentation.

## Affected documentation pages
https://magento.github.io/pwa-studio/pwa-buildpack/re

[2021-06-01 14:27] sirugh commented on #3203
@magento export issue to JIRA project PWA as Story

[2021-06-01 14:31] m2-assistant[bot] opened #3204 "[Issue] magento/pwa-devdocs#: Fixes example in Create Targetable objects section"
This issue is automatically created based on existing pull request: magento/pwa-studio#3201: magento/pwa-devdocs#: Fixes example in Create Targetable objects section

---------
## Description
Tried to use this example, but it didn't work.

Fixes example in Create Targetable objects block.

## Affected documentation pages
https://magento.github.io/pwa-studio/tutorials/targetables/#access-the-target

[2021-06-01 14:31] sirugh commented on #3204
@magento export issue to JIRA project PWA as Story

[2021-06-01 14:45] sirugh commented on #3161
Ok - I updated the description of this ticket. We still need to have our PM/UX evaluate this issue and provide guidance for desired solution.

[2021-06-02 13:36] jerschipper commented on #3156
@sirugh I really would like to do this. But i'm having trouble finding the correct time for it.
The idea i had to solve this was to make the
` file: packages/pwa-buildpack/lib/WebpackTools/ModuleTransformConfig.js`
and in that file the isBuiltin method to not to check on the package.json name, but make it check on the pwa-studio key in the package.json. That key is required to make the logic work

[2021-06-02 18:29] aagasi opened #3209 "Sidebar menu not filtering by include_in_menu attribute."
**Describe the bug**

Sidebar menu not filtering by include_in_menu attribute.

**To reproduce**

1. Go to Categories.
2. Make some of the categories **include_in_menu** false and some true.
3. Check your PWA
4. See how all of categories are visible instead of only the ones with **include_in_menu** seet to true.

**Expected behavior**

PWA sidebar menu should only show the **include_in_menu** cate

[2021-06-02 18:32] sirugh commented on #3209
@magento export issue to JIRA project PWA as Bug

[2021-06-02 18:44] aagasi commented on #3209
@magento I am working on this

[2021-06-02 18:45] aagasi commented on #3209
@magento add to contributors team

[2021-06-02 18:45] aagasi commented on #3209
@magento I am working on this

[2021-06-02 19:11] #2976 closed

[2021-06-02 19:24] sirugh commented on #3151
Closing this for now - there's not enough information for us to debug and there have been some solutions provided. If the problem persists, please open a new bug report and fill out the provided template in full. Thanks!

[2021-06-02 19:24] #3151 closed

[2021-06-02 19:36] #1106 closed

[2021-06-02 19:41] #1767 closed

[2021-06-02 19:43] #1749 closed

[2021-06-02 19:44] #1748 closed

[2021-06-02 19:46] #1670 closed

[2021-06-02 19:55] #1831 closed

[2021-06-03 13:53] #3204 closed

[2021-06-03 23:16] fooman opened #3217 "[bug]: Query uses non existing WishlistVisibilityEnum in CE"
**Describe the bug**

WishlistVisibilityEnum is used in a query but is not defined in a schema in CE.
https://github.com/magento/magento2/search?q=WishlistVisibilityEnum

**To reproduce**

1. Run `validate-queries` against a CE back-end - details here https://github.com/magento/pwa-studio/pull/3198#discussion_r645189203
2. Note output

**Expected behavior**

Only graphql types supported by the bac

[2021-06-04 10:08] chatart commented on #2930
@Jordaneisenburger hey, could you please share with us or give some tips on how you build it ? :)

[2021-06-04 10:14] Jordaneisenburger commented on #2930
Hi @chatart I started a blog but didn't finish it yet. But hope it sort of helps https://dev.to/jordaneisenburg/enhanced-ecommerce-in-pwa-studio-1cjl

[2021-06-04 15:37] #3203 closed

[2021-06-07 15:16] #1858 closed

[2021-06-07 15:21] #1940 closed

[2021-06-07 15:21] anthoula commented on #1940
Work has been completed as part of https://github.com/magento/pwa-studio/pull/2686

[2021-06-07 15:23] #1950 closed

[2021-06-10 15:57] #3166 closed

[2021-06-10 16:16] KrishnaK-Z commented on #2930
@Jordaneisenburger How do you add the data to the data layer.

[2021-06-10 17:58] #3190 closed

[2021-06-10 23:29] LucasCalazans commented on #3152
Hey @sirugh, I could not reproduce this issue on develop.

Is it missing some step?

Evidence:
https://www.loom.com/share/12343c3ef53a4b8d9565aa37532e9d33

[2021-06-11 16:34] #3102 closed

[2021-06-11 17:40] #3193 closed

[2021-06-11 21:33] fnhipster commented on #3148
That's correct.

[2021-06-14 15:24] #2186 closed

[2021-06-14 16:04] anthoula commented on #2186
We have not seen a demand for this. Closing this issue

[2021-06-14 16:31] LucasCalazans commented on #2968
This would be a great feature.

I'm creating a content type for a Dynamic Blocks type. It's working using the `setContentTypeConfig` but I need to call it in some component (Or in `index.js`).

But I would love to create an extension that is ready to use after the `yarn add`, and this idea would  help in this scenario

[2021-06-14 18:19] #3209 closed

[2021-06-14 20:50] #1708 closed

[2021-06-14 20:51] #1744 closed

[2021-06-14 20:52] #1776 closed

[2021-06-15 19:01] spencer1573 commented on #2957
this is definitely not fixed. I noticed an issue when copying over venia code. the parser is looking at the commented out code... is there a reason for this? I can't get my project to run without modifying a certain node modules file to not call .type when the thing being parsed is undefined. i'm not sure why there was no checking for undefined in this file

@magento/directive-parser/src/Parser.js

[2021-06-15 19:07] spencer1573 commented on #2239
I can confirm that this issue is not fixed. see # [2957](https://github.com/magento/pwa-studio/issues/2957#issuecomment-861756855)

[2021-06-17 07:07] PrakashLakhara commented on #2318
I am getting "not a valid domain name" when I run **yarn buildpack create-custom-origin packages/venia-concept**
Logs:
[code]

[2021-06-21 16:16] #3167 closed

[2021-06-21 18:10] isibaguette opened #3244 "[feature]: Save for later credit card on checkout page using Braintree"
Hello,

Is there a way to add the Save for later checkbox on the checkout page for a credit card? Indeed, I'm using Braintree and in the checkout page, I would like to have the ability to Save a payment for later. I've checked in the pwa-studio code and on braintree settings and I found no informations about that.

Thank you

**Please let us know what packages this feature is in regards to:**
- [

[2021-06-23 17:16] spencer1573 opened #3247 "When logged in, and guest checkout disabled, there is a guest checkout not allowed error that prevents the checkout process."
**Describe the bug**

When logged in, and guest checkout disabled, there is a guest checkout not allowed error that prevents the checkout process.

**To reproduce**

Steps to reproduce the behavior:

1. In admin make sure that braintree is enabled.
2. In admin make sure that guest checkout is disabled.
3. run `yarn watch`
4. log into a previously made account.
5. Navigate to an item and add it to

[2021-06-23 17:28] #3247 closed

[2021-06-23 17:29] spencer1573 commented on #3247
accidentally closed... making another issue

[2021-06-23 17:31] spencer1573 opened #3248 "When logged in, and guest checkout disabled, there is a guest checkout not allowed error that prevents the checkout process."
**Describe the bug**

When logged in, and guest checkout disabled, there is a guest checkout not allowed error that prevents the checkout process.

**To reproduce**

Steps to reproduce the behavior:

1. In admin make sure that braintree is enabled.
2. In admin make sure that guest checkout is disabled.
3. run `yarn watch`
4. log into a previously made account.
5. Navigate to an item and add it to

[2021-06-28 15:22] #3183 closed

[2021-06-28 15:25] supernova-at commented on #3183
👋  @tuna2smc - thanks for your write up!

found this but this is tutorial and we need some workarounds to make it work.

If you don't mind, can you share with us the workarounds you had to perform? We'd like to update our documentation as opposed to supporting Sass by default for now. Thanks!

[2021-06-28 20:08] supernova-at commented on #3179
Hey @lilbumblebear , thanks for the write-up!

The Peregrine hooks _should_ be tappable (see https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/targets/peregrine-declare.js#L37.).

We are tracking this internally but it is assigned a low priority.

If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2021-07-01 07:15] yogesh-seepossible opened #3256 "[feature]: Add Current Development Branch To "yarn create @magento/pwa""
Hello, I am new to Magento PWA Studio, I am creating new apps using `yarn create @magento/pwa`, Which is working nicely.
But code with `yarn create @magento/pwa` bit older than this current development branch. More Specifically there are no features like adding a wish list in `yarn create @magento/pwa` and exist in Github repo. How I can get those changes in my project?

**Please let us know what

[2021-07-02 17:11] #3192 closed

[2021-07-05 11:45] maheshwaran-1343 commented on #1963
Hi @tjwiebell , @ankitpatel2931 any one have managed to get stripe integration working with PWA studio.

[2021-07-05 12:30] maheshwaran-1343 opened #3258 "PWA Studio with Stripe Payment Integration"
Hi Team,

I have configured PWA studio with Magento 2. Now, I want to know how to implement **stripe payment integration** with the PWA storefront? Could you please provide any guidance on how can I implement this?

Thanks.

https://github.com/magento/pwa-studio/issues/1963

[2021-07-05 21:59] fooman commented on #3256
You can run the packaging command yourself that creates the create-pwa scaffolded project `DEBUG_PROJECT_CREATION=true ./packages/pwa-buildpack/bin/buildpack create-project`

I have this running [here](https://github.com/fooman/pwa-studio-starter) which creates a weekly snapshot.

[2021-07-07 15:29] 0m3r commented on #2968
@LucasCalazans You can use this workaround. it works for all RichContent components in project

In your extension, you need to add fake richContentRenderer

https://magento.github.io/pwa-studio/venia-ui/reference/targets/#richContentRenderers

intercept.js
[code]
lib/components/FakeComponent/index.js
[code]

detectFakeComponent.js must always return false
[code]

Now In fakeComponent.js you can ca

[2021-07-12 18:47] davemacaulay commented on #2020
Hey @jihadbek here are some answers to your questions expanding on Anthoula's above.

- Full Page Caching is part of Magento core and won't have an impact on performance for PWA Studio.
- If you're running a production store it'd be advisable to run the back-end in production mode, running in developer mode may cause slow downs in areas which could impact PWA Studio.
- We currently only have suppo

[2021-07-12 18:47] #2020 closed

[2021-07-12 19:57] tjwiebell commented on #3144
@MajorKuprich - thank you for the clarification after upgrading to 2.4.2. We've spun a couple internal bugs and stories off of this, and will leave it open to track progress. We primarily work with our own Venia Sample Data, but as you've discovered, the Luma sample data does expose some unsupported features.

1. We do not support placeholder assets served from the `/static` directory of the backe

[2021-07-13 04:55] m2-assistant[bot] opened #3264 "[Issue] Add newsletter in footer"
This issue is automatically created based on existing pull request: magento/pwa-studio#3262: Add newsletter in footer

---------

## Description

Add Newsletter in the footer
## Related Issue

Closes #ISSUE_NUMBER.

## Acceptance

### Verification Stakeholders

### Specification

## Test Plan

## Screenshots / Screen Captures (if appropriate)
![image-1-732x388](https://user-images.githubuserconten

[2021-07-13 15:28] supernova-at opened #3267 "User friendly form errors"
## Summary

Forms sometimes have errors. Currently Venia shows the user the direct error returned from GraphQL:

https://user-images.githubusercontent.com/13182778/125478454-4167acf5-5fa8-4959-8a58-a4fbc6483795.png

We should show a user friendly message instead.

## How to Reproduce

Since this issue deals with errors in the backend, you can dig into core Magento GraphQL code to trigger an error

[2021-07-13 16:42] pankhurigoel commented on #3267
@mangento I am working on this

[2021-07-14 07:22] sparkcl89 opened #3268 "CAPTCHA will be deferred to a future sprint."
CAPTCHA will be deferred to a future sprint.

_Originally posted by @ericerway in https://github.com/magento/pwa-studio/issues/270#issuecomment-423654937_

[2021-07-14 07:22] #3268 closed

[2021-07-14 07:28] crabbynguyen commented on #3248
Sam issue here

[2021-07-14 18:15] chris-brabender opened #3271 "[feature]: reCaptcha in forms"
**Is your feature request related to a problem? Please describe.**
In order to prevent / limit bot attacks on Magento forms (and APIs), Magento has implemented reCaptcha across all customer facing forms. PWA Studio has not yet implemented this same functionality for the Venia storefront.

https://docs.magento.com/user-guide/stores/security-google-recaptcha.html

**Describe the solution you'd like*

[2021-07-15 13:49] supernova-at commented on #3267
Hi @pankhurigoel , the original description mentions

but you actually don't need the guard around `console.log` statements. They will be stripped out in `production` via our Webpack configuration:

https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js#L254.

[2021-07-19 15:09] anthoula commented on #3200
Looks like there is a solution proposed above, that we would be interested in reviewing a PR.

[2021-07-19 15:10] #3200 closed

[2021-07-22 08:43] pankhurigoel commented on #1470
@magento I am working on this

[2021-07-22 08:43] pankhurigoel commented on #1470
@magento add to contributors team

[2021-07-22 08:45] pankhurigoel commented on #1470
@magento I am working on this

[2021-07-23 14:40] m2-assistant[bot] opened #3294 "[Issue] [FEATURE] Improve className format during development"
This issue is automatically created based on existing pull request: magento/pwa-studio#3293: [FEATURE] Improve className format during development

---------
## Description
When in development finding where a component is located should be as easy as possible. When inspecting an element identifying a component by it's classname is a easy way to do so hence I improved the classname by adding the pa

[2021-07-23 15:03] larsroettig commented on #3294
@magento export issue to JIRA project PWA as Story

[2021-07-23 18:51] m2-assistant[bot] opened #3296 "[Issue] Waiting for button actions to complete mutations."
This issue is automatically created based on existing pull request: magento/pwa-studio#3295: Waiting for button actions to complete mutations.
##  Description

We are using cy.wait a lot in our Cypress tests, and this is an anti-pattern.

Follow the Cypress docs here: <https://docs.cypress.io/guides/references/best-practices#Unnecessary-Waiting> to implement a better strategy that will increase th

[2021-07-23 18:51] supernova-at commented on #3296
@magento create JIRA from issue

[2021-07-23 18:56] supernova-at commented on #3296
@magento export issue to JIRA project PWA as Story

[2021-07-23 19:06] #2318 closed

[2021-07-23 19:06] #1660 closed

[2021-07-23 19:06] #1665 closed

[2021-07-23 19:06] #2404 closed

[2021-07-23 19:07] #895 closed

[2021-07-23 19:07] #1771 closed

[2021-07-23 19:07] #1990 closed

[2021-07-23 19:07] #2281 closed

[2021-07-23 19:07] #1669 closed

[2021-07-23 19:07] #2411 closed

[2021-07-23 19:07] #2435 closed

[2021-07-26 14:27] maheshwaran-1343 commented on #3258
Hi Team,

Do you have any update here?

Thanks.

[2021-07-26 14:56] supernova-at commented on #3264
@magento export issue to JIRA project PWA as Story

[2021-07-26 18:34] supernova-at commented on #3143
@volodymyrDashuk how is this going? Are you still working on this?

[2021-07-27 15:15] tjwiebell commented on #3076
@plamenh - I reviewed the linked PR, and as that warning indicates, that line should be unreachable and was a fallback for an unnecessary work around for testing. The `AVAILABLE_STORE_VIEWS` global is populated at build time by making `availableStores` gql requests, so if the current logic is not working as expected, there's something going on at buildtime.

I suggest manually running [this buildt

[2021-07-27 15:15] #3076 closed

[2021-07-27 16:21] m2-assistant[bot] opened #3297 "[Docs] Changed Pagebuilder components location"
This issue is automatically created based on existing pull request: magento/pwa-studio#3287: Changed Pagebuilder components location

---------

## Description

Update documentation according to the changes in the project

## Related Issue

Closes #ISSUE_NUMBER.

## Acceptance

### Verification Stakeholders

### Specification

## Verification Steps

#### Test scenario(s) for direct fix/feature

##

[2021-07-27 16:22] supernova-at commented on #3297
@magento export issue to JIRA project PWA as Story

[2021-07-27 16:35] supernova-at commented on #3267
@magento export issue to JIRA project PWA as Story

[2021-07-27 16:49] #3267 closed

[2021-07-27 16:50] supernova-at commented on #3267
I accidentally synced to a new issue when there was already one created. See PWA-882.

[2021-07-27 16:53] m2-assistant[bot] opened #3298 "[Issue] magento/pwa-devdocs#: Adds grammar fixes to the Internationalization page"
This issue is automatically created based on existing pull request: magento/pwa-studio#3274: magento/pwa-devdocs#: Adds grammar fixes to the Internationalization page

---------
## Description

This pull request (PR) provides grammar fixes and code fixes in the examples to the existing documentation.

## Affected documentation pages

https://magento.github.io/pwa-studio/technologies/basic-concepts

[2021-07-27 16:53] supernova-at commented on #3298
@magento export issue to JIRA project PWA as Story

[2021-07-27 17:48] m2-assistant[bot] opened #3300 "[Issue] magento/pwa-devdocs#: Adds a solution to a possible error during SASS loader installation"
This issue is automatically created based on existing pull request: magento/pwa-studio#3269: magento/pwa-devdocs#: Adds a solution to a possible error during SASS loader installation

---------
## Description

Tried repeating the steps but faced an error during SASS loader installation.
Adds a solution to a possible error during SASS loader installation to the existing documentation.

## Affected

[2021-07-27 17:51] supernova-at commented on #3300
@magento export issue to JIRA project PWA as Story

[2021-07-27 18:06] m2-assistant[bot] opened #3301 "[Issue] magento/pwa#: Adds the possibility to display a cmsPage using an identifier"
This issue is automatically created based on existing pull request: magento/pwa-studio#3265: magento/pwa#: Adds the possibility to display a cmsPage using an identifier

---------
## Description

Adds the possibility to display a cms component using an identifier

[2021-07-27 18:08] supernova-at commented on #3301
@magento export issue to JIRA project PWA as Story

[2021-07-27 18:33] m2-assistant[bot] opened #3302 "[Docs] Update webpack to WebpackTools"
This issue is automatically created based on existing pull request: magento/pwa-studio#3261: Update webpack to WebpackTools

---------

## Description

TODO: Describe your changes in detail here.

## Related Issue

Closes #ISSUE_NUMBER.

## Acceptance

### Verification Stakeholders

### Specification

## Test Plan

#### Test scenario(s) for direct fix/feature
Example
-   Verify user is able to app

[2021-07-27 18:35] supernova-at commented on #3302
@magento export issue to JIRA project PWA as Story

[2021-07-27 18:42] supernova-at commented on #2968
@magento export issue to JIRA project PWA as Story

[2021-07-27 18:45] m2-assistant[bot] opened #3303 "[Docs]: Fixes example in TargetableReactComponent page"
This issue is automatically created based on existing pull request: magento/pwa-studio#3259: magento/pwa-devdocs#: Fixes example in TargetableReactComponent page

---------
## Description

Tried to use this example, but it didn't work.

Fixes example in _TargetableReactComponent page_ on _setJSXProps(element, props, [options]) section_ to the existing documentation.

## Affected documentation page

[2021-07-27 18:45] supernova-at commented on #3303
@magento export issue to JIRA project PWA as Story

[2021-07-27 18:47] m2-assistant[bot] opened #3304 "[Issue] Update en_US Translation for ErrorView"
This issue is automatically created based on existing pull request: magento/pwa-studio#3236: Update en_US Translation for ErrorView

---------
## Description
Fix warning for Error View Translation having the wrong identifier in the `en_US.json`

## Acceptance

There should be no warning for missing translation on the ErrorView component.

### Verification Stakeholders

## Test Plan

- Visit a page

[2021-07-27 18:47] supernova-at commented on #3304
@magento export issue to JIRA project PWA as Bug

[2021-07-27 18:48] m2-assistant[bot] opened #3305 "[Issue] Fix incorrect prop type for Icon"
This issue is automatically created based on existing pull request: magento/pwa-studio#3229: Fix incorrect prop type for Icon

---------
Currently there are prop type errors on a fresh install of venia, due to Icon expecting a function, when in all reality, it's expecting an element type. I've made this quick fix in this PR

[2021-07-27 18:49] supernova-at commented on #3305
@magento export issue to JIRA project PWA as Bug

[2021-07-28 14:00] #3303 closed

[2021-07-28 14:13] #3301 closed

[2021-07-28 15:58] #3304 closed

[2021-07-28 16:30] #3300 closed

[2021-07-28 16:35] supernova-at commented on #3271
@magento export issue to JIRA project PWA as Story

[2021-07-28 20:46] #3185 closed

[2021-07-29 08:36] #3305 closed

[2021-07-29 13:14] #3298 closed

[2021-08-02 15:31] m2-assistant[bot] opened #3311 "[Issue] MDVA-39577: URL Rewrite is not working properly on Venia PWA"
This issue is automatically created based on existing pull request: magento/pwa-studio#3309: MDVA-39577: URL Rewrite is not working properly on Venia PWA

---------
## Description
Steps:

1. Open Magento admin panel
2. Create a simple product with URL simple123.html
3. Marketing > SEO & Search > URL Rewrites
4. Create a new redirect:
- Request Path = natural-da-terra/products/123-raspberry-test
-

[2021-08-02 15:32] supernova-at commented on #3311
@magento export issue to JIRA project PWA as Bug

[2021-08-02 19:54] Seeila opened #3314 "[Bug]: Categories/Products URLs are not changed when switching between store with differents languages"
**Describe the bug**
Hi,

My team is developing a pwa-studio solution for multilingual websites (fr-en) and we came across an issue:
The client have usually already a Magento website and are using translated urls for their products and categories.
When changing the language, it works fine if the url key stays the same and is not translated, but if the url key is translated, the path is not updated

[2021-08-03 14:06] #2968 closed

[2021-08-05 17:12] supernova-at opened #3322 "[bug]: France Region/State in billing form is displaying as integer value instead of Name"
URL - https://develop.pwa-venia.com/

### JIRA

https://jira.corp.magento.com/browse/PWA-1712

### To Reproduce
1. Add product to cart and go to checkout form
2. Enter shipping address with **France** as country and select shipping method
3. Enter payment method, uncheck billing is same as shipping and enter France country but different address
4. Click on Review order button
5. Now observe the re

[2021-08-06 12:37] kirillvidyuk opened #3327 "Wrong redirect processing on product detail page"
**Describe the bug**

Wrong redirect when visiting PDP by url_key + '/' character

**To reproduce**

Steps to reproduce the behavior:

1. Open Product Detail Page with url_key + '/' character at the end (e.g. /default/silver-amor-bangle-set.html -> /default/silver-amor-bangle-set.html**/**)

**Expected behavior**

1. Redirected to /default/silver-amor-bangle-set.html after page loading

**Screensh

[2021-08-06 17:02] drpayyne opened #3330 "[bug]: Numerous warnings during set-up"
**Describe the bug**

Numerous warnings about dependencies are thrown when setting up PWA Studio

[code]

**To reproduce**

Steps to reproduce the behavior:

1. Run `yarn create @magento/pwa`

**Expected behavior**

No warnings to be displayed. Or at least to reduce the number of warnings currently thrown.

**Possible solutions**

Improve the peer dependencies to fix most of the version warnings.

[2021-08-06 17:54] #3148 closed

[2021-08-06 18:38] #3297 closed

[2021-08-09 17:20] pedrochiossi commented on #3322
@magento I am working on this

[2021-08-09 18:04] #3311 closed

[2021-08-11 04:18] mikeastral opened #3339 "[bug]: Error: Cannot find module 'workbox-build/build/options/schema/webpack-generate-sw'"
**Describe the bug**

It seems that after releasing v.11.0.0 the tutorials are not working anymore.  Many yarn commands are failing, such as watch, build

I follow the current tutorial:
[https://github.com/magento/pwa-studio/blob/develop/pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md](url)

After executing `yarn create @magento/pwa` and cd into the folder the execution of

[2021-08-11 04:47] arjunadobe commented on #3339
Workbox 6.2.0 was released before 3 days, and our workbox-webpack-plugin dependency has a minor constraint on workbox-build: ^6.0.2, so it’s now picking up workbox-build@6.2.0 which is not backward compatible with 6.0.2.

Fix for this, in your package.json please add this resolution

`  "resolutions": {
    "workbox-build": "~6.0.2"
  },`

#3329

[2021-08-11 12:28] mikeastral commented on #3339
Problem fixed, thanks

[2021-08-11 13:43] abdul-hameed-dev commented on #2100
@sirugh i am getting same issue, please can you help me out from this issue

[2021-08-11 17:48] pedrochiossi commented on #3330
@magento I am working on this

[2021-08-11 22:11] #3339 closed

[2021-08-11 22:11] mikeastral commented on #3339
Problem fixed

[2021-08-12 14:03] #3152 closed

[2021-08-13 17:55] guilhermeamadowj commented on #2342
@sirugh I want to contribute to this issue.

[2021-08-16 15:30] supernova-at commented on #3330
@magento export issue to JIRA project PWA

[2021-08-16 16:00] #3296 closed

[2021-08-17 13:13] antoine-fontaine opened #3347 "[bug]: Background repeat not working on safari"
**Describe the bug**

When creating a banner / column / row with a background, the background-repeat property is automatically set to true on safari

**To reproduce**

Steps to reproduce the behavior:

1. Create a CMS page
2. Insert a banner with an image with low width
3. Set the Background Repeat property to no
4. Save page
5. See the result in front on Safari

**Expected behavior**

The backgro

[2021-08-17 13:42] larsroettig commented on #3347
@magento export issue to JIRA project PWA as Bug

[2021-08-17 16:44] guilhermeamadowj commented on #2342
@magento I am working on this

[2021-08-18 00:11] sirugh opened #3350 "[bug]: add to favorites icon is misaligned on category pages"
**Describe the bug**

On category pages, such as https://develop.pwa-venia.com/default/venia-bottoms.html?page=1, the heart icon for the "add to favorites" is misaligned with the "add to cart" button.

![image](https://user-images.githubusercontent.com/1278869/129816495-2bb1c8e2-db34-4d60-b81c-5458747089a0.png)

**To reproduce**

Steps to reproduce the behavior:

1. Go to https://develop.pwa-venia

[2021-08-18 11:24] larsroettig commented on #3350
@magento export issue to JIRA project PWA as Bug

[2021-08-18 11:29] larsroettig commented on #3258
@maheshwaran-1343 pls ask this question in community slack.

You can use https://marketplace.magento.com/stripe-stripe-payments.html and need to implement frontend by your self-reference you could find here https://github.com/magento/pwa-studio/tree/develop/packages/extensions/venia-sample-payments-checkmo

[2021-08-18 11:29] #3258 closed

[2021-08-18 13:45] bdenham opened #3352 "[doc]: Fix typo issues in docs that lead to errors in development if you follow the docs as is."
**Describe the request**
Fix typo issues in docs that lead to errors in development if you follow the docs as is.

**Possible solutions**
See PR: https://github.com/magento/pwa-studio/pull/3340/files

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (ie. spelling, organization)

[2021-08-18 13:55] bdenham commented on #3352
@magento I am working on this

[2021-08-18 14:53] #3352 closed

[2021-08-18 15:07] supernova-at commented on #3350
@magento export issue to JIRA project PWA as Bug

[2021-08-18 15:40] #3302 closed

[2021-08-19 23:56] renatolovato opened #3358 "[doc]: A short, simple sentence describing the doc request"
**Describe the request**
Hey everyone,

On the page [Modify the Footer Component](https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/modify-site-footer/) in the section **Import new App component** there is an error. It says in the file `src/index.js` the developer should change the imports

[code]

However, those lines are inside the Adapter Component.

**Possible solutions**

[2021-08-21 04:52] sarbjeet-cmsDev opened #3360 "[feature]: Guest Newsletter Subscription Form"
**Is your feature request related to a problem? Please describe.**
The capture visitors email are necessary on every eCommerce for marketing and PWA Studio front-end is not different from others.

**Describe the solution you'd like**
Define new Newsletter Component

**Additional context**
I will submit a PR, so this issue is just for reference.

*Mocks*
**Desktop**
![image](https://user-images.git

[2021-08-21 05:05] sarbjeet-cmsDev commented on #3360
@magento I am working on this

[2021-08-23 14:48] #3322 closed

[2021-08-23 16:22] #3350 closed

[2021-08-24 05:17] Glenn-Domin commented on #3339
I'm actually getting the same thing happening, both with and without the resolution bit added (I came to this after the snippet was already in there).
My package.json
[code]

[2021-08-25 05:12] JordanDDisch opened #3366 "Better service worker documentation for images"
The current Magento PWA does a lot of custom service worker related things. As developers who use Magento PWA we need better documentation on how the custom service worker code works. In this case images are fetched by service worker if the image is in cache and meets certain requirements. The requirements are that the final image path is the same and that it is not below a certain width. If a dev

[2021-08-25 05:21] Glenn-Domin commented on #3339
Turns out updating everything workbox-related to 6.2.4 fixed it.

[2021-08-25 15:55] aagasi opened #3367 "[bug]: Context null on Graphql query when Catalog Permissions enabled"
**Describe the bug**

We are experiencing an issue with the processing of a query. It's throwing the following error:

ERROR:

`report.ERROR: Call to a member function getExtensionAttributes() on null {"exception":"[object] (GraphQL\\Error\\Error(code: 0): Call to a member function getExtensionAttributes() on null at /var/www/html/vendor/webonyx/graphql-php/src/Error/Error.php:174, Error(code: 0):

[2021-08-25 16:27] m2-assistant[bot] opened #3369 "[Docs] Update Adapter docs"
This issue is automatically created based on existing pull request: magento/pwa-studio#3357: Update index.md

---------
I don't know when it changed but the file says that the file src/index.js has the line:

import App, { AppContextProvider } from '@magento/venia-ui/lib/components/App';

But it is actually inside the Adapter component.

## Description

TODO: Describe your changes in detail here.

[2021-08-25 16:29] supernova-at commented on #3369
@magento export issue to JIRA project PWA as Bug

[2021-08-25 16:36] m2-assistant[bot] opened #3370 "[Issue] [cypress] Update product snaps after icon adjustment"
This issue is automatically created based on existing pull request: magento/pwa-studio#3362: [cypress] Update product snaps after icon adjustment

---------

## Description

Snap updates were missed with the update in #3351

## Related Issue

n/a

## Acceptance

### Verification Stakeholders

### Specification

## Verification Steps

#### Test scenario(s) for direct fix/feature

1. `yarn test:head

[2021-08-25 16:37] supernova-at commented on #3370
@magento export issue to JIRA project PWA as Bug

[2021-08-26 07:56] Rado-encoder opened #3377 "[bug]: GraphQL cacheable requests always have "Authorization Bearer" header"
Description:

Magento provides Varnish config to cache GraphQL requests see [here](https://devdocs.magento.com/guides/v2.4/graphql/caching.html)
And for customer specific requests, Varnish should not cache the response as per the following :

``{{
# Authenticated GraphQL requests should not be cached by default
if (req.url <sub> "/graphql" && req.http.Authorization </sub> "^Bearer") {
    return (

[2021-08-27 00:24] fooman opened #3379 "[bug]: npx @magento/pwa-buildpack create-env-file missing dependency"
**Describe the bug**

[code]

**To reproduce**

Steps to reproduce the behavior:

as per devdocs from [here](https://magento.github.io/pwa-studio/pwa-buildpack/reference/buildpack-cli/create-env-file/)
1. `git clone`
2. `cd pwa-studio`
3. `npx @magento/pwa-buildpack create-env-file --use-examples .`
4. see error

**Expected behavior**

No error

**Screenshots**

If applicable, add screenshots to h

[2021-08-28 14:03] shamseerahammedm opened #3381 "Web pack error on fresh start after installing magento pwa in ubuntu 21.04"
**Describe the bug**

Web pack error on fresh start after installing magento pwa in ubuntu 21.04

**To reproduce**

Steps to reproduce the behavior:

1. Install magento pwa studio with "yarn create @magento/pwa" command
2. start with "yarn run watch"

**Screenshots**
![1](https://user-images.githubusercontent.com/20143226/131220284-db9e4c21-3301-447f-9bac-dec1c11270da.png)

**Debug Report**
yarn r

[2021-08-30 05:39] dani97 opened #3384 "[bug]: Mega menu is not accessible in keyboard tab order"
**Describe the bug**

Mega menu sub categories are not accessible.

**To reproduce**

Steps to reproduce the behavior:

1. Open PWA home page
2. move to mega menu item with keyboard tab order
3. Press down, enter, space, arrow keys to access sub menu
4. You would not be able to interact with sub categories.

**Expected behavior**

mega menu should implement https://www.w3.org/TR/wai-aria-practices

[2021-08-30 15:11] #1631 closed

[2021-08-30 15:39] david-ziffity opened #3386 "Feedback on page: /tutorials/pwa-studio-fundamentals/modify-site-footer/"
Section - Import new App component
could not find the below line in src/index.js
import App, { AppContextProvider } from '@magento/venia-ui/lib/components/App';

[2021-08-31 01:54] CoutoDev commented on #3386
@david-ziffity Me neither, so I try to find it by myself. I found it after look for the exact sentence `import App, { AppContextProvider } from '@magento/venia-ui/lib/components/App';` in Venia-ui components, this line is in `node_modules/@magento/venia-ui/lib/components/Adapter/adapter.js`, so I override this file and change this line to fit the tutorial.. And then update the `Adapter` import in

[2021-08-31 12:50] horisur opened #3390 "magentodockermagento241_redis_1 Cannot start service redis"
Hello Team,

I have try to install PWASacndi them in my local server.
But  when i run  **dc up -d --remove-orphans**  commnad .
Error is shown like below the screen short so can you please help  me and please say me how to solve that error
![Screenshot from 2021-08-31 18-19-40](https://user-images.githubusercontent.com/89849855/131505424-0be9f546-4095-4f64-8ba2-ce4f22a96f56.png)

[2021-09-01 07:27] KostiantynFandeliuk commented on #3143
Good afternoon everyone.

@sirugh As far as I noticed, we are working with informed.
When I disabled the code with input fields, this notification disappeared for me. Also in the developer's repository there is a mention of this error.
We can try to apply it in solving this problem. https://github.com/joepuzzo/informed/issues/287

[2021-09-01 11:05] aigarsMage opened #3392 "Feedback on page: /tutorials/intercept-a-target/change-static-assets-directory/"
Hey, while setting up custom favicon, I tried this, but it was never working. So I went into @node_modules/@magento/venia-ui/upward.yml and checked the upward config for staticFromRoot and I think it should be amended to the below in the tutorial.

from:
[code]

To:

[code]

[2021-09-01 20:28] #3156 closed

[2021-09-06 13:34] #3088 closed

[2021-09-06 23:24] fooman opened #3402 "[bug]: Braintree Checkout broken"
**Describe the bug**

New component is missing an import.

**To reproduce**

1. checkout with braintree enabled
2. See error

**Expected behavior**

Checkout without error

**Screenshots**

![image](https://user-images.githubusercontent.com/455508/132265326-fee631f3-bd0d-49f5-8dbe-afb7baefe885.png)

![image](https://user-images.githubusercontent.com/455508/132265315-151757a5-77d3-4a21-b86f-1f34fe4

[2021-09-06 23:55] fooman commented on #3402
Would be great if such an issue could be caught via CI.

[2021-09-07 00:06] fooman commented on #3402
There is also a follow on issue with the payment nonce

[code]

[2021-09-07 11:50] sivamind opened #3403 "[feature]: connect graphql to nodejs orm implementation"
I would like to use below nodejs orm instead of magento zend orm.

https://github.com/Genaker/nodejento

is there a way to connect this?

[2021-09-07 12:35] sivamind commented on #3403
if below statement is true, i would like to connect new orm such as eloquent orm or nodejs orm for magento.
Magento 2 has legacy code based on abandoned Zend Framework 1 with really ugly ORM on top of outdated Zend_DB. Zend_DB is not even in the latest version.
https://github.com/Genaker/laragento

[2021-09-07 13:19] sivajik34 commented on #3403
Atleast for pwa we need to use latest orm by extending resolver classes.
Present front end is latest technology,but backend is legacy tech such as zend_db.
So can we do both backend and frontend latest technology?

[2021-09-09 08:27] ngtankhoa opened #3408 "Fix convert locale from Magento standard to react-intl BCP 47 language code"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@magento/venia-ui@8.0.0` for the project I'm working on.

Function `toReactIntl` in node_modules/@magento/venia-ui/lib/util/formatLocale.js which Convert locale from Magento standard to react-intl BCP 47 language code, don't work as expected.

[code]
According to

[2021-09-09 15:21] guilhermeamadowj commented on #2351
@Jordaneisenburger Any news on this? We are having the same problem here.

[2021-09-09 21:44] #3330 closed

[2021-09-10 13:30] #3294 closed

[2021-09-13 02:08] huykon commented on #3384
@dani97 I checked site https://develop.pwa-venia.com/ and follow your steps but the menu working well. It's not like your report

[2021-09-13 09:12] dani97 commented on #3384
@huykon only down arrow interaction works, but we have to implement it like this https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-2/menubar-2.html#code-ex-1. Also we have to provide role attribute for submenu and menu items for screen reader to identify the submenus.

[2021-09-13 14:23] huykon commented on #2866
What is the decision for this issue ? @ericerway @jcalcaben @sirugh

[2021-09-13 15:07] jcalcaben commented on #2866
@huykon @wesleyalmd @KevinGorjan This feature is currently on our roadmap. We are still weighing our options for an optimal solution and UX mocks are still in development. Since this feature is already being tracked internally in an upcoming epic, I'm closing this issue.

[2021-09-13 15:07] #2866 closed

[2021-09-13 16:15] #3369 closed

[2021-09-13 17:58] supernova-at commented on #2025
Hey y'all, I'm closing this issue as it is encompassed in an upcoming epic. We want to put thought into- and be intentional about the design here.

[2021-09-13 17:58] #2025 closed

[2021-09-14 07:56] huykon commented on #3360
This issue related to PR created #3262

[2021-09-14 08:18] huykon opened #3415 "[feature]: Comparison products should be worked"
**Is your feature request related to a problem? Please describe.**
As a shopper I would like to have the comparison feature on Venia storefront like Magento default. Should we integrate this feature.
![download](https://user-images.githubusercontent.com/9253798/133221750-c29c9e83-aafe-4a3b-8e14-8061a6549b4b.png)

**Describe the solution you'd like**
The api CRUD is available https://devdocs.magent

[2021-09-14 08:30] huykon opened #3416 "[feature]: Share product to friends via email should be worked"
**Is your feature request related to a problem? Please describe.**
As a shopper, I would like to have feature share product via email to my friends like Magento default on PWA Venia storefront. The graphQl api is already and to show this feature we should enable this on backend

<img width="1287" alt="Screen Shot 2021-09-14 at 3 24 18 PM" src="https://user-images.githubusercontent.com/9253798/1332

[2021-09-14 08:54] huykon opened #3417 "[feature]: ReOrder feature should have in storefront"
**Is your feature request related to a problem? Please describe.**
As a shopper I would like to use re-order an order like Magento default on Venia storefront

**Describe the solution you'd like**
The api is available https://devdocs.magento.com/guides/v2.4/graphql/mutations/reorder-items.html

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-09-16 14:58] chris-brabender opened #3418 "[bug]: Dynamic Blocks GraphQL returns non-qualified blocks"
**Describe the bug**

2.4.3 Introduced a new GraphQL query for Dynamic Blocks (https://devdocs.magento.com/guides/v2.4/graphql/queries/dynamic-blocks.html) which should return matching configured Dynamic Blocks for a customer. Dynamic blocks can be configured in several ways for eligibility including:

- Customer Segment (guest, registered or other configured attributes)
- Related Promotions (Cart

[2021-09-16 16:45] amitmaurya1024 commented on #2009
did you solve this problem ?

[2021-09-17 05:51] amitmaurya1024 commented on #2009
**magento/pwa-studio/blob/v8.0.0/packages/pwa-buildpack/lib/WebpackTools/plugins/RootComponentsPlugin.js#L168-L168 6**

`)}')}`;`

replace with following line

`).replace(/\\/g, '/')}')}`;`

[2021-09-17 06:12] amitmaurya1024 opened #3424 "setup magento pwa on windows local machine"
Hello Masters,

**OS** - Windows 10
**Node version** - 12.13
**Yarn version** - 1.22

I'm trying to install the PWA on my localhost machine. During installation I've faced lot of issues and fixed those issue now issue is when I run yarn run watch:venia it gets run with 100% then gives this error and PWA hosted URL. This error coming on both ( browser and terminal
I'm getting the following issue on

[2021-09-20 12:07] mikeoloughlin commented on #2949
Just ran into this issue and correct you have to enable guest checkout or patch this file
`vendor/magento/module-quote-graph-ql/Model/Cart/CheckCartCheckoutAllowance.php`

Which is doing an exact match on a getter which returns a string.
[code]

[2021-09-20 20:50] #3347 closed

[2021-09-21 14:38] #2999 closed

[2021-09-22 13:05] LucasCalazans opened #3434 "[bug]: Error: Cannot find module 'workbox-build/build/options/schema/webpack-generate-sw'"
**Describe the bug**

I'm receiving the following error when I try to run `yarn watch` after the scaffolding command

[code]

**Related Issue**

#3339

**To reproduce**

1. Run `yarn create @magento/pwa` with all the default answers
2. `cd <project-folder>
3. `yarn buildpack create-custom-origin .`
4. `yarn watch`
5. See the error

**Expected behavior**

The application should be run after the `ya

[2021-09-22 14:33] daniloaldm commented on #2949
@Kein1945 @mikeoloughlin

What worked for me was modifying the file:
`vendor/magento/module-quote-graph-ql/Model/Cart/CheckCartCheckoutAllowance.php`

[code]

[2021-09-22 21:28] anthoula commented on #2923
Hi @0m3r, thanks for the write-up! Page Builder _should_ be extensible now, with your contribution here: https://github.com/magento/pwa-studio/pull/3307

[2021-09-22 21:30] #2923 closed

[2021-09-23 08:48] EkaterinaMaksimlyuk opened #3437 "Using functions in mst templates"
Mst templates support lambda functions, but they must come from outside.  In this case, the upward can send a function to the template.  But when I try to do this, I see this err error: Context properties must be dot-separated strings, cannot begin with a dot and must contain word characters [a-zA-Z0-9_] or / [ ] -. How I can add js function and send this to mst template?

[2021-09-23 09:59] magento2demo opened #3438 "[bug]: Braintree Integrated Paypal, Apple Pay, Google Pay not showing in PWA"
**Describe the bug**

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Possible solutions**

Add any i

[2021-09-23 15:40] aloksinha3110 opened #3439 "PWA Shop not working"
Hello
I have install PWA on my server and It's running on my server with 67.1.20.x:43204 but after some minutes its stop working. I don't know what is the issue. If I run the below cmd this starts working again.
npm run build && NODE_ENV=production PORT=43024 npm run stage:venia

Can anyone suggest what's causing this issue?

[2021-09-23 16:06] aloksinha3110 commented on #3439
yarn run v1.22.5
$ yarn workspace @magento/venia-concept start
$ buildpack serve .
  ℹ  PORT is set in environment: 43024
  ℹ  NODE_ENV=production, will not attempt to use custom host or port
  ℹ  Launching UPWARD server
http://:43024/
  ✔
     UPWARD server running.

but when I close the CLI terminal its stops working, How to fix it.

[2021-09-27 05:56] magento2demo opened #3442 "[feature]: Magento B2B Commerce feature Not avilbale in PWA"
We are using Magento ver. 2.4.3 Commerce and we are developing the PWA.

We are not able to use any B2B features in PWA for exp: Quote features

- So on the Cart page quote feature is not available
- My account section no B2B features available

Can you tell me when we will get its all features in pwa.

[2021-09-27 05:58] magento2demo commented on #3438
We are using Magento ver. 2.4.3 commerce and integrated the Braintree.

but only a credit card is available as a payment option. but
- Paypal not available with Braintree
- Google pay and apple pay not available with Braintree
- amazon pay not available with pwa

How e can add in pwa please guide

[2021-09-27 06:14] magento2demo opened #3443 "[bug]: Contact Us Page Feature not avilable in PWA"
We are using Magento ver. 2.4.3 commerce

There is no feature available for the contact us page.

Please guide how we can add this page in pwa

[2021-09-27 13:52] magento2demo opened #3445 "[bug]: Live search not working in pwa"
I have integrated Live search in Magento ver. 2.4.3 commerce but its not working in pwa and all product not appear after Live search setup.

Please share guidline

[2021-09-27 15:26] sezio commented on #3386
Faced the same problem today.
@CoutoDev is right : the tutorial should be updated with exact steps he describes

Thanks @CoutoDev

[2021-09-27 20:15] supernova-at commented on #3418
@magento export issue to JIRA project PWA as Bug

[2021-09-28 15:34] guilhermeamadowj opened #3451 "[bug]: cartId being saved as null value on localStorage"
**Describe the bug**
During the login process, the cart id becomes null for a moment and is saved on localStorage in between the old cart id and new cart id values.

**To reproduce**
Steps to reproduce the behavior:

1. Add a product to the cart
2. Go to the edit shopping bag (cart page)
3. Sign in using header menu
4. See the described behaviour

**Expected behavior**
Only save cart information o

[2021-09-29 02:43] huykon commented on #3451
The _null_ value of your log is localStorage removed key **cartId**. It's not stored null value

[2021-09-29 11:42] guilhermeamadowj commented on #3451
The cart context also returns a null value during this process.
Is this a normal behaviour then?

[2021-09-29 12:48] karangar commented on #2025
Can you please provide us the changes?

[2021-09-30 05:06] magento2demo commented on #2025
Please share the patch file so we can setup the product options

[2021-09-30 17:52] #3264 closed

[2021-09-30 21:05] luke-denton-aligent opened #3458 "[feature]: Prevent the body of the page from scrolling while the menu is open"
**Is your feature request related to a problem? Please describe.**
Two related issues:
As a user, when I open the mobile menu, I find that I'm still able to scroll the background page.
As a user, when I open a modal, I find that I'm still able to scroll the background page.

**Describe the solution you'd like**
When the menu is open, lock the page from scrolling, so that I can only scroll the inne

[2021-09-30 21:18] luke-denton-aligent commented on #3458
I have been looking into the code for this, and can see that scroll lock is implemented, but commented out. So now I'm a bit confused what the expected behaviour is

[2021-10-01 01:42] supernova-at commented on #3402
@magento export issue to JIRA project PWA as Bug

[2021-10-01 04:41] karangar commented on #2025
@magento/pwa-studio-team Anyone has Patch please share here show we can implement.

[2021-10-03 11:39] mrtuvn opened #3462 "[doc]: guide for setup tailwind"
**Describe the request**
Any documents related with setup this feature ?
Thanks

Added file tailwind.css in packages/venia-concept/src/ and import some basic components but after build seem class styles not applied
Example ultility class from tailwind
![markup](https://user-images.githubusercontent.com/1908873/135755590-fb6f19ec-7164-4ee7-b78d-c4a930d5059b.png)

Is this feature under development o

[2021-10-04 22:33] #3074 closed

[2021-10-06 17:37] supernova-at opened #3466 "Release 12.0.0 Checklist"
# PWA Studio Release Process

This document details the process to perform a release of PWA Studio.

There are two "stages" of release: Release to Marketing or "RTM", and General Availability or "GA".

## Release to Marketing

The Release to Marketing (RTM) release is the initial release candidate.

### RTM Checklist

- [x] Cut a new git branch based from `develop` named `release/12.0.0`
- [x] Inf

[2021-10-06 21:15] Watch3ruk opened #3468 "Region is required in PWA although this option is disabled in Magento , and is not required on normal storefront ."
Region is required in PWA although this option is disabled in Magento , and is not required on normal storefront .

A clear and concise description of what the bug is.

Steps to reproduce the behavior:
Set default country to United Kingdom , disable State is Required for UK .
Try to create order , in SHIPPING INFORMATION - state will be required ,

**Screenshots**

![Checkout - Garden Haven - Goog

[2021-10-07 10:32] kvydiuk opened #3469 "No robots meta tag in head tag"
**The robots meta tag not added to the head tag.**
Search Engine Robots -> Default Robots setting not reflecting on front-end.
![image](https://user-images.githubusercontent.com/9048430/136367568-71d74514-cdd5-4a30-ad17-120d42d49b1d.png)
See tag docs: https://developers.google.com/search/docs/advanced/robots/robots_meta_tag

**Solution:**
The meta tag is added to head tag and reflects configuratio

[2021-10-12 23:16] luke-denton-aligent opened #3484 "[bug]: Focus ring not visible for breadcrumbs"
**Describe the bug**

Keyboard users will have a great deal of trouble determining when they're focused on breadcrumbs due the edges of the focus ring being cut off

**To reproduce**

Steps to reproduce the behavior:

1. Go to https://venia.magento.com/default/juno-sweater.html
2. Click on the text "Juno Sweater" in the breadcrumbs (this isn't a link)
3. Press Shift + TAB
4. See error
5. TAB/Shift

[2021-10-13 09:51] alteyss commented on #675
Hello,

Can we have an update on IE11 support?

Looks like even the demo storefront is not working with IE11 : [demo](https://venia.magento.com/default/)

Thank you for your help.

[2021-10-13 14:39] ericerway commented on #675
IE11 is no longer supported for Magento 2 including the Venia storefront with Magento 2.4+ in mid-2020. At that time, M2 admin (~0.5%) and worldwide usage (~1.5%) for IE11 is extremely low. Other major platforms have already dropped IE11 including Microsoft for their own products. Here are the latest requirements: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

That s

[2021-10-14 18:15] dineshvb opened #3488 "Configurable images are not shown in Edit Cart Item menu"
**Describe the bug**

The edit form in the Cart page displays the **parent product's** image for **configurable** products, and also the images doesn't change on toggle.

**To reproduce**

Steps to reproduce the behavior:

1. Go to the [Venia Home page](https://venia.magento.com/)
2. Add a configurable product to the cart.
3. Go to the cart page.
4. Edit the item.
5. You could see that the configu

[2021-10-15 15:17] Jordaneisenburger opened #3490 "[feature]: Improve caching for js bundles/chunks"
**Is your feature request related to a problem? Please describe.**
For a PWA Studio developer using the scaffolder to kickstart their project we'd expect them to build custom code ontop of the scaffolded app meaning that the functionalities that change a lot will be their own local code instead of `node_modules`.

What happens right now is that we on buildtime we create a `client.js` bundle that h

[2021-10-15 15:20] Jordaneisenburger commented on #3490
@magento I am working on this

[2021-10-15 19:01] Jordaneisenburger opened #3492 "[bug]: Duplicate splitChunks configuration"
**Describe the bug**
Whilst investigating #3490 I noticed that there is a duplicate configuration of the splitChunks functionality.

**To reproduce**
https://github.com/magento/pwa-studio/blob/4aaef469edf797cfb17823316229646425004e52/packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js#L149 is also configured on https://github.com/magento/pwa-studio/blob/4aaef469edf797cfb178

[2021-10-15 19:01] Jordaneisenburger commented on #3492
@magento I am working on this

[2021-10-18 20:49] #3143 closed

[2021-10-21 09:25] Jordaneisenburger opened #3503 "[feature]: Possible wrong usage of useMemo"
**Is your feature request related to a problem? Please describe.**
Inside the Product Talon I believe that the `useMemo` used for the `productUrlSuffix` is too agressive since we're not doing any expensive calculations inside the `useMemo`,  since there is a cost of using `useMemo` I believe this to have a negative impact on the performance.

https://github.com/magento/pwa-studio/blob/1ea34ff5dcc7

[2021-10-25 09:34] jaballah-dorsaf opened #3510 "payment problem"
Hello ! I installed pwa-concept v12 and I am using Magento 2.4.3-p1 back-end, I found a problem When ordering a product at the stage of filling out the payment form despite the desktop version it works fine, you find a screenshot which explains the problem in the console, thanks for your hel
![Capture2](https://user-images.githubusercontent.com/55697769/138671746-e9a0e45b-96b9-4101-ba49-e4ad3af56a

[2021-10-25 09:39] jaballah-dorsaf opened #3511 "Payment Problem"
Hello ! I installed pwa-concept v12 and I am using Magento 2.4.3-p1 back-end, I found a problem When ordering a product at the stage of filling out the payment form despite the desktop version it works fine, you find a screenshot which explains the problem in the console, thanks for your he
![Capture2](https://user-images.githubusercontent.com/55697769/138672613-726fe91f-3ba4-4f1f-830e-68033c4e907

[2021-10-25 12:05] jaballah-dorsaf opened #3512 "frontend problem (home page)"
hi, I installed pwa-concept v12 and I am using Magento 2.4.3-p1 backend, I noticed that pwa displays the same magento homepage, I want to separate magento2 and pwa frontend (exp: frontend magento2 = home page 2 and frontend pwa = home page 3) , thank you for your help
<img width="928" alt="home2" src="https://user-images.githubusercontent.com/55697769/138691389-2994d3eb-75c3-4ed3-86c6-4324e37b8a47

[2021-10-26 03:21] MinhOmega opened #3517 "[feature]: Hidden payload request in PWA"
**Hidden query params string or payload in header request**
Had some reason so i need to hidden or encode this.
![image](https://user-images.githubusercontent.com/49482201/138803195-4cd32896-789a-4748-b3d9-e8b1681cd6de.png)
Image 1: I use pwa version 10 and in future will upgrade to 11 & 12. With use option `useGETForQueries: true`
![image](https://user-images.githubusercontent.com/49482201/138803

[2021-10-26 15:47] jaballah-dorsaf opened #3522 "Problem Payment Method"
Hi team , I installed the v12 version of a pwa with a magento v2.4.3 back-end, I have a payment method problem in pwa, I have already added payment methods in Magento but does not display on pwa, how I can correct this problem .
<img width="856" alt="payment method2" src="https://user-images.githubusercontent.com/55697769/138914586-b325a74d-0440-4255-979e-c95687291635.PNG">
<img width="861" alt="p

[2021-10-30 16:30] sermagnus commented on #3434
I confirm the problem, encountered today launching the yarn create command

It can be fixed with:
`yarn add workbox-webpack-plugin`

[2021-11-01 10:31] jaballah-dorsaf opened #3530 "[bug]: Payment is currently unavailable in checkout default"
Hi team , I installed the v12.0 version of a pwa with a magento v2.4.3 back-end, Payment methods aren't showing in PWA checkout. I already enabled them in the Magento 2 backend ,  I think PWA Studio offers an offiline checkmo payment extension : https://github.com/magento/pwa-studio/tree/develop/packages/extensions/venia-sample-payments-checkmo
but installing the extension shows this error, as you

[2021-11-01 10:32] jaballah-dorsaf commented on #3530
@magento I am working on this

[2021-11-01 15:40] #2639 closed

[2021-11-02 19:43] supernova-at commented on #3492
@magento export issue to JIRA project PWA as Story

[2021-11-02 19:49] supernova-at commented on #3484
@magento export issue to JIRA project PWA as Bug

[2021-11-05 15:53] JustinConabreeAbsolunet opened #3539 "[bug]: Environment variables not parsed in template.html when runing watch"
Discovered by community member

Using the `templateContent` parameter of the webpack's HtmlWebpackPlugin bypasses the environment variable parsing. Most likely related to the following found in the [plugin's github](https://github.com/jantimon/html-webpack-plugin#writing-your-own-templates)

The reason for using this to begin with was the UPWARD inlining changes. When running watch, we bypass upwa

[2021-11-08 19:59] #3492 closed

[2021-11-09 18:58] #3484 closed

[2021-11-10 10:26] alecarg opened #3547 "[bug]: Duplicate inline <style>s after 'composes'"
**Describe the bug**

It would seem like an exact duplicate of the expected <style> tag produced by a venia css file is being added to the DOM. This duplicate is only added after one `composes` a class from that venia css file; if the `composes` is removed, the duplicate <style> tag disappears. The problem is that the duplicate <style> tag is being added **after** our own custom <style> tag (resul

[2021-11-10 19:51] #476 closed

[2021-11-16 12:59] Jordaneisenburger opened #3554 "[bug]: Yarn bundlesize is failing on the SERVER chunk"
**Describe the bug**

When running the bundleSize checker it fails on the SERVER chunk

**To reproduce**

Steps to reproduce the behavior:

1. from root run yarn bundlesize
2. Notice it fails on SERVER.js chunk

**Expected behavior**

It passes the chunk size checks

**Possible solutions**

A simple fix would be to exclude the server chunk from the main glob pattern like so:
`./packages/storefront

[2021-11-16 17:41] #2887 closed

[2021-11-16 21:26] #3466 closed

[2021-11-16 21:27] supernova-at commented on #3554
@magento export issue to JIRA project PWA as Bug

[2021-11-16 21:28] supernova-at commented on #3547
@magento export issue to JIRA project PWA as Bug

[2021-11-16 21:28] supernova-at commented on #3547
Thanks for the report, @alecarg - we'll investigate!

[2021-11-16 21:31] supernova-at commented on #3517
Hi @MinhOmega , I'm not quite sure what you're asking for here, would you mind providing more detail? I'm assuming these are screenshots of the network tab?

[2021-11-16 21:33] supernova-at commented on #3511
Closing as duplicate of #3510 (thanks @Watch3ruk )

[2021-11-16 21:33] #3511 closed

[2021-11-16 21:34] supernova-at commented on #3490
@magento export issue to JIRA project PWA as Story

[2021-11-16 21:35] supernova-at commented on #3488
@magento export issue to JIRA project PWA as Story

[2021-11-16 21:36] supernova-at commented on #3469
@magento export issue to JIRA project PWA as Story

[2021-11-17 03:27] gitamitgit opened #3558 "[bug]: Product Price do not display properly when Offer price is added, on Product details page."
**Describe the bug**

Product Price do not display properly when Offer price is added, on Product details page.

**To reproduce**

Steps to reproduce the behavior:

1. Install Magento 2.4.3
2. Create new product and assign price for example - $ 255.
3. Inside Advanced Pricing assign $240 to Wholesale Customer Group.
4. create a new customer or assign `Wholesale` customer group to a customer.
5. No

[2021-11-17 20:08] #3069 closed

[2021-11-19 09:01] JDhere opened #3565 "[bug]: Cannot find field "newsletter_enabled" on type StoreConfig, while building the pwa-studio"
**Describe the bug**

I have installed all the dependencies for the installation and have cloned the repo and gave `yarn install`.

I change the base url in the .env to my ip.
`MAGENTO_BACKEND_URL=http://192.168.x.xx/`

Then I ran the `yarn build` command

Then this error is coming:

For more information, refer to the 12.1.0 release notes here: https://github.com/magento/pwa-studio/releases/tag/v1

[2021-11-19 09:06] JDhere commented on #3565
@magento I am working on this

[2021-11-19 09:12] Gokul19919 commented on #3565
Iam also facing this issue

[2021-11-19 16:49] rasmuswikman opened #3566 "[doc]: Deployment on eg. Google Cloud Run"
**Describe the request**

Currently there is a Dockerfile called `prod.dockerfile` that uses the environment file `docker/.env.docker.prod`.

If I understand correctly, the only way to change these variables is by editing the `docker/.env.docker.prod` directly when deploying to production. Either manually or by variable substitution in a CI/CD pipeline.

**Possible solutions**

By using `--build-a

[2021-11-19 18:58] m2-assistant[bot] opened #3568 "[Issue] Venia Package > Adding devcontainer"
This issue is automatically created based on existing pull request: magento/pwa-studio#3556: Venia Package > Adding devcontainer

---------
It's going to add the devcontainer configuration to the project, making it easier to start to work from local and remote environments, like Github Codespace.

![Screen Shot 2021-11-16 at 5 38 20 PM](https://user-images.githubusercontent.com/610598/142077917-58

[2021-11-19 18:58] supernova-at commented on #3568
@magento export issue to JIRA project PWA as Story

[2021-11-19 18:58] m2-assistant[bot] opened #3569 "[Issue] Adding devcontainer to the root repo"
This issue is automatically created based on existing pull request: magento/pwa-studio#3557: Adding devcontainer to the root repo

---------
This PR adds a devcontainer to the root folder running specific commands to the main repo, it's going to speed up the development process to contributors start to code.

![Screen Shot 2021-11-16 at 5 38 20 PM](https://user-images.githubusercontent.com/610598/

[2021-11-19 18:59] supernova-at commented on #3569
@magento export issue to JIRA project PWA as Story

[2021-11-19 22:25] rasmuswikman commented on #1712
I don't know if this is still relevant, but there is a GitHub action called **Lighthouse CI Action** that can do this.

https://github.com/marketplace/actions/lighthouse-ci-action

Here's a sample i ran on my Venia instance (located in `.github/workflows/lighthouse.yml`):

[code]

By supplying the `LHCI_GITHUB_APP_TOKEN` and enabling a branch protection rule in GitHub, the results can be made as s

[2021-11-20 23:26] drpayyne opened #3570 "[bug]: Price filter not showing currency symbol"
**Describe the bug**

Is there a reason why the price filter doesn't display the currency symbol? This is something I'm happy to contribute if someone gives me a 👍🏽. It seems too basic that I feel something is blocking this?

**Screenshots**

<img width="154" alt="image" src="https://user-images.githubusercontent.com/22623301/142743731-ef4cb8c7-25a7-492c-a329-e87340e0c800.png">

**Please let us kn

[2021-11-20 23:27] drpayyne commented on #3570
@magento I am working on this

[2021-11-22 05:00] gitamitgit commented on #3558
@magento-admin , same price issue for customer group offer price is coming on Product Listing page.

[2021-11-22 15:43] 0m3r commented on #3547
I have the same problem and look like it appears after v12.1 upgrade

I think It's maybe because [addImport](https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableESModule.js#L28) use [prependSource](https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableModule.js#L94)
[code]
prepen

[2021-11-23 09:43] huanth commented on #2342
Hello, I have read the user manual but still do not know how to do the above steps, please explain more or have a video tutorial to help me, I really need it and don't have a solution.
 - Copies https://github.com/jonschlinkert/is-invalid-path/blob/master/index.js to our repo as a utility within create-pwa/util.
 - Removes the is-invalid-path dependency from the create-pwa/package.json.
 - Replace

[2021-11-23 12:49] Watch3ruk commented on #3565
in magento root  :
`composer require magento/pwa`
then :
`php bin/magento module:enable --clear-static-content Magento_ContactGraphQlPwa
php bin/magento module:enable --clear-static-content Magento_NewsletterGraphQlPwa
php bin/magento module:enable --clear-static-content Magento_QuoteGraphQlPwa`

[2021-11-24 10:27] 0m3r commented on #3512
would you like to have a different theme for each store view?

[2021-11-24 10:41] jaballah-dorsaf commented on #3512
@0m3r ,  yes i like to have a different theme for each store view?

[2021-11-24 11:44] 0m3r commented on #3512
@jaballah-dorsaf I can give you my workaround but it requires modification both in Magento 2 and PWA-studio

[code]

[2021-11-24 12:24] 0m3r commented on #3439
I think you terminate the PWA server when you close your terminal.

If you want to start your application permanently you need something PM2
https://stackoverflow.com/questions/12701259/how-to-make-a-node-js-application-run-permanently
https://swissuplabs.com/blog/how-to-start-using-magento-2-pwa-studio-on-your-hosting-a-complete-guide/#how-to-use-pwa-studio-with-pm2

[2021-11-25 07:04] #3565 closed

[2021-11-25 08:21] 0m3r commented on #3512
https://github.com/magento/pwa-studio/milestone/26

[2021-11-25 15:19] Jordaneisenburger commented on #3539
@magento I am working on this

[2021-11-25 15:21] Jordaneisenburger commented on #3539
@magento add to contributors team

[2021-11-25 15:22] Jordaneisenburger commented on #3539
@magento I am working on this

[2021-11-26 13:40] jaballah-dorsaf opened #3581 "Problem access a product"
Hi , I installed the v12.0 version of a pwa with a magento v2.4.3-p1 back-end , I get an error if I access a product , can you help me
<img width="927" alt="fiche produit" src="https://user-images.githubusercontent.com/55697769/143589085-eba82518-d61b-4c4e-8e30-dd4ea73b87c5.PNG">
<img width="959" alt="venia product" src="https://user-images.githubusercontent.com/55697769/143589434-89f79764-a95a-4d

[2021-11-26 22:10] ronytran opened #3582 "[doc]: Could not find a matching version of package magento/venia-sample-data."
Hello everyone,

**Describe the request**
I have installed venia-sample-data on my local by following this guide https://developer.adobe.com/commerce/pwa-studio/guides/packages/venia/sample-data/, but I got an issue in **step 2** below:

[InvalidArgumentException]
Could not find a matching version of package magento/venia-sample-data. Check the package spelling, your version constraint and that th

[2021-11-29 16:55] iron-udjin opened #3583 "[bug]: Faild to build under FreeBSD"
**Describe the bug**

I'm trying to build v12.1.0 under FreeBSD 13

**To reproduce**

Steps to reproduce the behavior:

1. fetch https://github.com/magento/pwa-studio/archive/refs/tags/v12.1.0.tar.gz
2. tar xf v12.1.0.tar.gz
3. cd pwa-studio-12.1.0
4. yarn

**Result:**

[code]

[2021-11-30 10:31] codynguyen1 opened #3585 "[bug]: Order history crash on order items that have no image"
Order history crashes when an order contains items that have no image
### Preconditions
1. Product is created with no image associated with it.
1. Product is configured to show up in the storefront.

### Steps to reproduce the behavior:
1. Login to Venia
1. Place order with the product that has no image
1. View order history

### Expected behavior

Can view the order normally
### Actual

Applicati

[2021-12-01 09:17] laurentlepee commented on #3582
Hi @ronytran ,

got same issue, I don't know if I/We miss something or there is a real issue.
To get around you can add content of `requires` and `repositories` like in https://github.com/magento/pwa-studio/issues/261#issuecomment-427603993 in your composer.json, it will do the job.

I hope this helped

[2021-12-01 15:05] ronytran commented on #3582
Hi @laurentlepee sure, thanks for your comment.

[2021-12-01 16:59] supernova-at commented on #3070
Jeremy Charron is going to work on this one.

[2021-12-03 14:39] JDhere opened #3595 "[feature]: Adding payment method for "Cash on Delivery""
**Is your feature request related to a problem? Please describe.**
The payment method for cash on delivery is required. I cannot handle only with the braintree payment method.

**Describe the solution you'd like**
Add a payment method for "cash on delivery"

**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `pereg

[2021-12-06 21:22] #3568 closed

[2021-12-06 21:22] #3569 closed

[2021-12-07 06:55] chiranjeevi-cj opened #3602 "[bug]: Breadcrumbs 'Shop' link redirects to '/shopnull'"
**Describe the bug**

1. In magento admin, if we set an empty value to Category URL Suffix(Stores->configuration->catalog->catalog->search engine optimization)
1. When we call storeConfig query it will return null.
`query{storeConfig{id<ins>category*url_suffix</ins>_*typename`}}
{{{
    "data": {
        "storeConfig": {
            "id": 1,
            "category*url*suffix": null,
            "__

[2021-12-07 06:55] chiranjeevi-cj commented on #3602
@magento I am working on this

[2021-12-07 10:27] chiranjeevi-cj commented on #3602
Hi @mikhaelbois, Have a look at this issue.  I faced this issue in my project. I have raised a PR(simple and small fix).

[2021-12-07 11:15] santiagozky commented on #3582
hello,
Im having the same issue with no luck. executing that script from #261 does not seem to have worked. the composer.json seems updated, but I dont see any venia stuff  being installed.

[2021-12-07 16:15] papiliond commented on #3379
Is there a workaround for this?

[2021-12-08 02:38] fooman commented on #3379
You can add the package manually, ie something like
`yarn add --dev compression`

[2021-12-09 17:33] supernova-at commented on #3602
@magento export issue to JIRA project PWA as Bug

[2021-12-09 17:38] m2-assistant[bot] opened #3607 "[Issue] Improve Gallery/AddToCartButton.js"
This issue is automatically created based on existing pull request: magento/pwa-studio#3573: Improve Gallery/AddToCartButton.js

---------
## Description
0) Replace mergeClasses to useStyle
1) AddToCartIcon and OutOfStockIcon did't work properly

[code]
defaultClasses.icon is always hidden and parent component can't change it

## Related Issue

PWA-1392
https://github.com/magento/pwa-studio/commit

[2021-12-09 17:41] supernova-at commented on #3607
@magento export issue to JIRA project PWA as Bug

[2021-12-10 13:41] hardikKgn opened #3610 "[bug]: UpwardServerError: Request did not evaluate to a valid response"
UpwardServerError: Request did not evaluate to a valid response, because:
Error: Context value 'veniaPageTypeNonce' not defined in {
  veniaResponse: {
    resolver: 'conditional',
    when: [ [Object], [Object], [Object] ],
    default: 'veniaAppShell'
  },
  staticFromRoot: { inline: { status: 200, headers: [Object], body: [Object] } },
  contentTypeFromExtension: {
    when: [ [Object], [Object

[2021-12-10 15:37] #3070 closed

[2021-12-10 21:34] #3602 closed

[2021-12-11 09:45] jinojacob15 opened #3614 "Need "infinite scrolling" feature in product listing page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-11 13:13] larsroettig opened #3615 "[feature]: Proposal for a better checkout design"
# Proposal for a better checkout design

After working with an actual project based on **PWA Studio**, I realized the Checkout page is not adequately prepared for complex international projects. I have been thinking a lot about improving the checkout in the last few days.

I decided to discuss this publicly to get more opinions and develop the **PWA Studio** developer experience to the next level.

[2021-12-11 13:16] larsroettig commented on #3615
@jimbo can you review my ideas here ?

[2021-12-11 20:44] bilalyaqoob commented on #2581
how to fix this issue?

[2021-12-13 09:51] 0m3r commented on #3390
scandipwa/docker project is [here](https://github.com/scandipwa/magento-docker)

[code]
lools like some service already use 6379 port, you can check this with command
[code]

[2021-12-13 20:44] #3607 closed

[2021-12-14 20:25] larsroettig commented on #3615
Yes, would we nice some payments that already preauthorize the total amount to get a valid token.
I added a new endpoint to trigger this later in checkout when the user clicks `place order`, which makes the checkout complex.

The second Problem is order total is often used to filter unavailable payments out from the collection like `COD`.
https://docs.magento.com/user-guide/payment/cash-on-deliver

[2021-12-15 14:49] laurentlepee commented on #3386
Still facing this issue. Tank's @CoutoDev for this working solution.

[2021-12-16 11:56] jdperez128 opened #3618 "[bug]: Widget\Link does not convert the link for PWA"
**Describe the bug**

If I have one cms page/block and I create one Widget\Link for one category for example, and I get this page/block in my PWA Studio I receive one url with the Magento Domain, not the link of my PWA domain.

**To reproduce**
Magento Admin: https://{admin_magento.com}
PWA Studio: https://{pwa_studio.com}

Steps to reproduce the behavior:

1.- Go to _Magento Admin_, Content -> Pa

[2021-12-17 15:59] wesleyalmd commented on #3503
maybe the `storeConfig` query data should be in a context, like for example:

[code]

[2021-12-21 05:34] VijayKH commented on #2491
Hello Team,
Philippines currency symbol sign not showing in safari browser.
Its is showing price like PHP22.200.

<img width="301" alt="Screenshot 2021-12-21 at 11 01 16 AM" src="https://user-images.githubusercontent.com/7091771/146876704-bd1c2061-50fe-412c-9416-8a27df94efe4.png">
<img width="1085" alt="Screenshot 2021-12-21 at 11 01 35 AM" src="https://user-images.githubusercontent.com/7091771/14

[2021-12-21 05:38] sanganinamrata commented on #2491
@VijayKH I'm also facing the same issue since too long!!

[2021-12-21 21:42] #3539 closed

[2021-12-22 05:49] fooman commented on #3615
| applying gift cards and discounts at checkout - do you recommend to move coupon code and gift cards before payment methods to respect subtotal threshold that payment methods might require?

The checkout should ideally be flexible enough to cater for any order. Venia then provides a best practice reference implementation.

| zip, country code, phone are optional based on config - the config setti

[2021-12-22 10:20] VijayKH opened #3621 "[bug]: Page builder product collection's price+currency is not updating on currency changes."
**Describe the bug**

While changing currency from the header dropdown, prices in page builder product collections are not getting updated.

**To reproduce**

Steps to reproduce the behavior:
1. Go to 'Veni Home page'
1. Change currency from header dropdown.
1. Scroll down to 'Top Sellers' section
1. You can see prices are not updated in chosen currency.

**Expected behavior**

Prices should be di

[2021-12-28 11:37] vladyslav-sikailo-decima opened #3623 "[bug]: Something went wrong on the homepage. ModuleConcatenation bailout because of useCmsPage.js"
I have installed PWA Studio using this instruction https://devdocs.magento.com/guides/v2.4/pwa/
With my own Magento CE 2.4.3 instance
With yarn as a package manager

Started frontend in developer mode using `yarn watch`

Then I go to frontend and see 'Oops! Something went wrong. Sorry about that.'
![image](https://user-images.githubusercontent.com/84075222/147561679-cdd27ec9-1878-4abe-ad91-c1c877f

[2021-12-28 11:40] iradchenmagento commented on #3623
Same issue may be there is some problems with cache ?

[2021-12-28 12:25] vladyslav-sikailo-decima commented on #3623
I have re-created CMS Page with 'home' url key and it helped me. Now I see correct homepage.

[2021-12-28 12:25] #3623 closed

[2021-12-30 12:43] KostiantynFandeliuk commented on #3621
@magento I am working on this

[2021-12-30 13:42] KostiantynFandeliuk commented on #3621
@magento add to contributors team

[2021-12-30 14:07] KostiantynFandeliuk commented on #3621
To fix the issue it is needed to add:

/node_modules/@magento/pagebuilder/lib/ContentTypes/Products/products.js

[code]

As a result, we have correct currency displayed in the Top block after switching the currency

[2021-12-30 15:55] gamul commented on #2930
@Jordaneisenburger Could you please share the full toutorial about a solution to add GTM to venia project? Thank you in advance!

[2022-01-01 15:55] vsmshaik opened #3629 "Textinput floating label"
How to create floating label
Official site for components documentation

[2022-01-03 09:57] chris-brabender opened #3630 "MSI support with BOPIS"
## Problem Statement

MSI modules enable merchant to manage product inventory across different sources (werehouses, stores, pickup locations etc),maintain quantities for sales and handle shipments to complete orders. PWA Studio doesn't support the product stock across multiple sources and doesn't provide the option [to select a pickup location as a delivery method.](https://docs.magento.com/user-g

[2022-01-04 22:46] mywebcom opened #3632 "[bug]: PWA multiple wishlist: storefront still showing create whishlist button when reach max number of allowed wishlists configured in magento"
**Describe the bug**

When customer creates certain number of wishlist and reach the max number of allowed wishlist configured in magento admin.

<https://docs.magento.com/user-guide/marketing/wishlist-configuration.html>

create a list button is still showing on the storefront. logically, the button should be removed once the max number is reached.

**To reproduce**

Steps to reproduce the behavi

[2022-01-04 22:50] mywebcom opened #3633 "[feature]: delete wishlist from the store front"
**Is your feature request related to a problem? Please describe.**
Customers should be able to manage the wishlist they created in the past, such as deleting.

**Describe the solution you'd like**
Add delete button next to the wishlist items

[2022-01-05 17:08] supernova-at commented on #3632
@magento export issue to JIRA project PWA as Bug

[2022-01-05 17:09] supernova-at commented on #3633
@magento export issue to JIRA project PWA as Story

[2022-01-05 21:32] supernova-at opened #3634 "[bug]: Duplicate Styles"
The latest (`12.1.0`) release duplicates style definitions.

This results in application bloat, as all styles are included in the bundle twice.
This could also have a performance impact, as the browser has to parse and apply additional and unnecessary styles.

Note that the screenshot below shows the add to cart button on the PDP only as an example - this occurs at least on the PDP, Category, and

[2022-01-05 21:33] supernova-at commented on #3634
@magento export issue to JIRA project PWA as Bug

[2022-01-06 10:09] Watch3ruk opened #3635 "[bug]: {"error":"No definition for env.MAGENTO_BACKEND_URL"} upward PHP"
Upward php ( Magento_UpwardConnector) throws {"error":"No definition for env.MAGENTO_BACKEND_URL"} upward js works fine on this same instance .

**To reproduce**

Steps to reproduce the behavior:

1. run latest all up to date PWA on magento instance using upward php and upward js .

**Expected behavior**

in both cases we will have a store view of Venia

**Screenshots**

![https___store ostoya co

[2022-01-08 06:54] fooman commented on #3615
One thing to add: the current checkout implementation hard codes shipping address and shipping method selection as a step. This will need to be adjustable so that things like gift card only orders are possible that only need billing info and payment.

[2022-01-11 06:26] svgroup4501 opened #3642 "Issue while run validate-queries"
I am using Magento 2.4.3 and running the latest version of PWA and while running **yarn validate-queries**, facing the below issue.

yarn run v1.22.4
$ yarn run download-schema && graphql validate-magento-pwa-queries --project test
$ graphql get-schema --project test --insecure
⚠ Internal server error: {"response":{"errors":[{"message":"Internal server error","extensions":{"category":"internal"},"

[2022-01-11 08:33] svgroup4501 opened #3643 "Graphql not found for below queries"
Magento: 2.4.3
PWA: release 12.0.1

test@test:~/pwa-studio$ yarn validate-queries
yarn run v1.22.4
$ graphql validate --keepClientFields --noStrictFragments

error
in /pwa-studio/packages/peregrine/lib/talons/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.gql.js:
 - Unknown type WishlistVisibilityEnum.
 - Cannot query field createWishlist on type Mutation.
error
in /pwa-studio/packa

[2022-01-11 09:21] #3642 closed

[2022-01-12 17:49] m2-assistant[bot] opened #3647 "[Issue] Rename Link's prefetchType prop"
This issue is automatically created based on existing pull request: magento/pwa-studio#3646: Rename Link's prefetchType prop
##
## Description

For the `Link` component, rename the boolean prop `prefetchType` to `shouldPrefetch`. The former appears to indicate it will contain a type rather than a boolean, causing some confusion. The approach herein

- Deprecates the existing `prefetchType` prop to

[2022-01-12 17:49] supernova-at commented on #3647
@magento export issue to JIRA project PWA as Story

[2022-01-14 11:06] Risto-T opened #3649 "[bug]: Webpack hot reload broken"
**Describe the bug**

Changing e.g. CSS styles will perform a full reload on the page in dev mode.

**To reproduce**

Steps to reproduce the behavior:

1. yarn watch
2. Go to the page
3. Add background: black; to root element in @magento/venia-ui/lib/components/Header/header.module.css
4. Page reloads

**Expected behavior**

Whenever possible Webpack HMR (Hot Module Replacement) should update the

[2022-01-14 11:50] drpayyne commented on #3458
Can someone please look into this? It seems rather simple. Thank you.

[2022-01-19 09:53] yogesh-seepossible opened #3651 "[feature]: Looking for facebook pixel, FB pixel integration for the pwa-studio"
**Facebook pixel integration for the pwa-studio**
Right now there is no feature regarding '**facebook pixel integration**'. is there a reference for the same?

**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2022-01-19 11:53] jaydubb12 opened #3652 "[bug]: Cannot query field "newsletter_enabled" on type "StoreConfig""
**Describe the bug**
When building v12.1.0, branch = develop on my local machine, I noted the following fatal error" Error: Cannot query field "newsletter_enabled" on type "StoreConfig".

This error was thrown via the error protocol  in the following file /magento-pwa-studio/packages/pwa-buildpack/lib/Utilities/graphQL.js:54, while running line 62 const ``` storeConfigData = await getStoreConfigDa

[2022-01-20 08:22] larsroettig opened #3656 "Magento Tax summary schould also contain addtional taxes"
**Is your feature request related to a problem? Please describe.**
In Magento, it is possible to create an own Taxes type that is added to `applied_taxes` in checkout and cart

We should sum all sum taxed here or :
https://github.com/magento/pwa-studio/blob/4e71fb849a454c0bd0d20d5d4729f579a0c8c75d/packages/venia-ui/lib/components/CartPage/PriceSummary/taxSummary.js#L13

**Describe the solution you

[2022-01-20 08:30] #3656 closed

[2022-01-21 13:54] dupadhyay3 commented on #3415
@magento I am working on this

[2022-01-21 13:54] dupadhyay3 commented on #3415
@magento add to contributors team

[2022-01-21 18:53] dupadhyay3 commented on #3415
@magento I am working on this

[2022-01-21 19:50] dupadhyay3 commented on #3415
@magento export issue to JIRA project PWA as Story

[2022-01-24 12:36] Jordaneisenburger commented on #3110
@evan-burrell this is also an issue for a project I'm working on, your fix seems to resolve the issue and makes the routes tappable again.

[2022-01-25 16:24] sonnybooth-amp commented on #3610
Did you ever find a solution? Came across the same error myself.

[2022-01-25 17:40] anthoula commented on #3630
@magento export issue to JIRA project PWA as Story

[2022-01-25 17:46] anthoula commented on #3621
@magento create issue from PR

[2022-01-25 17:47] anthoula commented on #3621
@magento export issue to JIRA project PWA as Bug

[2022-01-25 17:57] anthoula commented on #3652
@magento export issue to JIRA project PWA as Bug

[2022-01-25 17:59] anthoula commented on #3649
@magento export issue to JIRA project PWA as Bug

[2022-01-25 18:01] anthoula commented on #3635
@magento export issue to JIRA project PWA as Bug

[2022-01-25 18:03] anthoula commented on #3629
@magento export issue to JIRA project PWA as Story

[2022-01-25 18:04] anthoula commented on #3618
@magento export issue to JIRA project PWA as Bug

[2022-01-25 18:05] anthoula commented on #3614
@magento export issue to JIRA project PWA as Story

[2022-01-25 18:06] anthoula commented on #3610
@magento export issue to JIRA project PWA as Bug

[2022-01-25 18:07] anthoula commented on #3595
@magento export issue to JIRA project PWA as Story

[2022-01-25 23:47] robin31 commented on #3110
Well I guess the routes is already tappable and tapping does work, but it gets loaded twice.
Once from the:
[code]
That one is not tapable and will always load the default routes and add them.
And once from the:
[code]
Also containing the default routes. So removing or changing routes will always keep the original due the the extra untappable addRoutes.

[2022-01-26 09:08] sonnybooth-amp commented on #3610
Adding (Magentos)

[code]

to my projects upward.yml fixed this issue but now I have the error  "Error: Unrecognized resolver type: computed"

[2022-01-26 17:52] anthoula commented on #3615
@magento export issue to JIRA project PWA as Story

[2022-01-26 20:17] larsroettig opened #3669 "[bug]: product_url_suffix cloud be return as null from backend"
**Describe the bug**

product_url_suffix cloud be returned as null from backend see https://docs.magento.com/user-guide/catalog/catalog-urls.html#html-suffix

**To reproduce**

Steps to reproduce the behavior:

1. Go to backend under Store Config -> Catalog -> Search  Engine
2. Make Product URL Suffix empty
2. Click on save clean cache
3. Go to Product listing Page
4.  You will see the  following

[2022-01-27 15:50] #3647 closed

[2022-01-31 19:25] larsroettig commented on #3615
Yep good point :+1:

[2022-02-01 20:34] #3554 closed

[2022-02-03 21:51] LordZardeck commented on #3517
I'm actually not sure what exactly the author is saying, but I'm actually curious as to why `useGETForQueries` was set to true. Especially since there's a limitation with URL length limits.

[2022-02-04 10:44] ankitseepossible commented on #3610
@magento any solution ? I also have the error.

[2022-02-04 19:57] joseamietta opened #3692 "[bug]: Cannot query field \"custom_attributes\" on type \"ProductInterface\""
**Describe the bug**

I installed the last pwa studio version 12.2.0 in my local environment and connect whit Magento Commerce 2.4.3-p1 and sample data.
When I navigate to some product I have an error with the GraphQL query of getProductDetailForProductPage.
The error is Cannot query field \"custom_attributes\" on type \"ProductInterface\".
And checking Magento Catalog_Product module, custom_attri

[2022-02-06 16:30] Watch3ruk commented on #3692
you need to update your composer.json in magento changing / adding : (for CE )
"magento/module-upward-connector": "2.0.0",
"magento/pwa": "0.1.0"
then obviously php/bin upgrade , d:c and deploy content . and in your pwa folder
git checkout main .

[2022-02-07 08:10] fooman commented on #3615
I am just going to drop this into this discussion but it may as well be a separate proposal for overhauling just the totals display.

I am currently adding a new total below the subtotal as shown in the below screenshot:

![image](https://user-images.githubusercontent.com/455508/152744954-0f51a5d2-9d16-43ad-9d3d-b6dc24658b46.png)

To achieve this the following is required:
1. Back-end module to ad

[2022-02-07 10:40] ankitseepossible commented on #3610
@sonnybooth-amp : I just solved error by replacing old project's `venia-ui/upward.yml` with new project's `venia-ui/upward.yml`.

veniaResponse:
    resolver: conditional
    when:
        - matches: request.url.pathname
          pattern: '^/(graphql|rest|media)(/|$)'
          use: veniaProxy
        - matches: request.url.pathname
          pattern: '^/(robots\.txt|favicon\.ico|manifest\.json)'

[2022-02-07 12:26] joseamietta commented on #3692
Thanks @Watch3ruk but it didn't work. Anyway, I can't find custom_attributes declared in ProductInterface.

[2022-02-07 13:57] Watch3ruk commented on #3692
try this :
git clone git@github.com:magento-commerce/magento2-pwa.git ext/magento/magento2-pwa

composer config minimum-stability dev
composer config repositories.ext path "./ext/*/*/*"
Make sure that you have
 "ext": {
            "type": "path",
            "url": "./ext/*/*/*"
        },
        "0": {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
--
c

[2022-02-07 15:57] Watch3ruk commented on #3692
ok try :
composer require magento/module-pwa -W
composer require magento/module-upward-connector -W

[2022-02-07 16:01] larsroettig opened #3693 "[bug]: LocaleProvider leads to duplicate query and unnecessary rerender"
**Describe the bug**

**To reproduce**
* Add https://github.com/welldone-software/why-did-you-render
* Create an Empty Page
* Visit console.log on the new Page
* you get the following messages
![Screenshot from 2022-02-07 16-59-29](https://user-images.githubusercontent.com/5289370/152824377-8e26738e-5bb7-4980-b5f9-8aa64472cf22.png)

**Expected behaviour**
* No  Error appears

**Screenshots**

**Po

[2022-02-07 16:51] anthoula commented on #3629
Thank you for the feedback. Please provide additional details for your issue.

[2022-02-07 16:53] anthoula commented on #3651
For 3rd party pixel integration, we would gladly accept a community contribution, to provide a solution to this, as an extension.

[2022-02-07 17:12] anthoula commented on #3652
Thank you for the feedback. The current compatibility matrix are versions: PWA Studio 12.2.0, Magento 2.4.3, and Upward Connector 2.0.0.

[2022-02-07 17:12] #3652 closed

[2022-02-07 17:15] anthoula commented on #3610
Thank you for the feedback. The current compatibility matrix are versions: PWA Studio 12.2.0, Magento 2.4.3, and Upward Connector 2.0.0. If issue still occurs with current compatible modules, please reopen as a Bug.

[2022-02-07 17:15] #3610 closed

[2022-02-08 22:12] tkacheva commented on #3615
@fooman and @larsroettig,
we are looking into extending checkout and making shipping step to be removed/replaced to enable virtual products and virtual gift cards like @fooman  pointed out. A use case for replacing a shipping step will be in-store pickup. Do you guys have any other use cases in mind for the shipping step extensibility?

[2022-02-09 21:43] supernova-at commented on #3693
@magento export issue to JIRA project PWA as Bug

[2022-02-11 03:24] MaxTa91 opened #3699 "[bug]: Venia cached on Macbook M1"
**Describe the bug**

I am using Macbook 1 and Google Chrome browser.
When I visit this url https://venia.magento.com/ ---> It is showing the old homepage. (Tried to close tab and reopen a new tab).
![Screen Shot 2022-02-11 at 10 19 20](https://user-images.githubusercontent.com/11706605/153532730-a02a90f2-1445-4708-86a2-903b519809cf.png)

However, I open this URL on Incognito Window. It is showing

[2022-02-14 04:26] adarshkhatri commented on #1459
When I have Out of stock in the product query, then it gives me this response:
`{
  "data": {
    "products": {
      "total_count": 1,
      "items": []
    }
  }
}`

If I am relying on `total_count` (let's say on the category page), then it will be misleading for that page?
Am I missing something here?

[2022-02-14 04:37] adarshkhatri commented on #1459
When I have Out of stock product in the product query, then it gives me this response:
{ "data": { "products": { "total_count": 1, "items": [] } } }

If I am relying on total_count (let's say on the category page), then it will be misleading for that page? Any thoughts/work around on this?

[2022-02-15 15:09] GeKVe opened #3708 "Update networkUtils.js to check saveData mode"
**Describe the request**

 

Add data saver verification before prefetching images.

[Data Savers](https://source.android.com/docs/core/data/data-saver) allow users to signal to a site if they would prefer lighter data-usage where possible. PWA Studio respects Save-Data preferences where `navigator.connection.saveData` is supported by the browser.

[2022-02-17 22:17] #3418 closed

[2022-02-22 08:31] oefterdal opened #3714 "[doc]: Luma and Venia cloud deployment"
From the release notes, I can read this "_Luma and Venia can now be deployed to the same cloud environment — This deployment option makes it easier for customers to deploy their PWA site alongside their existing Luma site while they migrate from Luma to Venia._"

But how do we actually configure it on the cloud enviornment?

[2022-02-22 19:40] sebaskun98 commented on #3649
Hello!
Any progress with this issue?
I tried some different things, but the hot reload doesn't work.
Maybe any workaround meanwhile the issue is being resolved. Thanks!

[2022-02-23 09:39] GeKVe commented on #3530
Have experienced these symptoms when extension is not properly added to the PWA package.json. Make sure it's added as a `*dev*Dependency` (not `dependency`).

[2022-02-23 10:15] fooman opened #3716 "[bug]: Order statuses are decoupled from the back-end"
**Describe the bug**

A refunded order will show a wrong status. Custom order statuses are not shown.

**To reproduce**

Steps to reproduce the behavior: Refund an order in the admin. Create a custom order status and assign it to an order.

1. navigate to /order-history
2. notice PWA-Studio's own take on order statuses

**Expected behavior**

The frontend should accurately show the status of the o

[2022-02-23 10:19] fooman commented on #3716
A few other things not quite right with this [implementation](https://github.com/magento/pwa-studio/blob/1fe1329b45bb584f138e351a77ddebef2ebfeb13/packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js#L44). Checking for 'Complete' would not work if the language is not English and/or the label was changed.

It's also a stretch to translate Complete to Delivered. In a default Magento environm

[2022-02-23 12:07] Rado-encoder commented on #3377
@alecarg nothing so far, not sure why haven't they looked into it yet!

[2022-02-28 14:41] anthoula commented on #3716
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:42] anthoula commented on #3699
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:43] anthoula commented on #3643
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:47] anthoula commented on #3585
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:48] anthoula commented on #3583
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:49] anthoula commented on #3581
@magento export issue to JIRA project PWA as Bug

[2022-02-28 14:50] m2-assistant[bot] opened #3718 "[Issue] Image not showing"
This issue is automatically created based on existing pull request: magento/pwa-studio#3709: Image not showing

---------
Image tag from pagebuilder won't show in frontend.
Image tag has "data-set" attribute when getting from pagebuilder, it is "src" attribute written the code file.
We are getting wrong attribute, so we had to override this "configAggregator.js" to change ".getAttribute("src")" to

[2022-02-28 14:52] m2-assistant[bot] opened #3719 "[Issue] Fix typo in component import name; consolidate import"
This issue is automatically created based on existing pull request: magento/pwa-studio#3648: Fix typo in component import name; consolidate import
##
## Verification Steps

1. Navigate to a category.
1. Make sure "Add to Cart" button exists.
1. Click "Add to Cart" button.

## Description

This fixes two nitpicks:

* The `button` in the import was inconsistent with both the file name and component.

[2022-02-28 14:52] anthoula commented on #3719
@magento export issue to JIRA project PWA as Bug

[2022-02-28 19:58] anthoula commented on #3583
Thank you for the feedback. You could try a different version of Node: v12 or v14. If issue still occurs with these versions, please reopen as a Bug.

[2022-02-28 19:58] #3583 closed

[2022-02-28 20:02] anthoula commented on #3643
Thank you for the feedback. The modules it's looking exist in Enterprise Edition. Please check that your backend is using an EE version. If issue still occurs with compatible backend version, please reopen as a Bug.

[2022-02-28 20:02] #3643 closed

[2022-02-28 20:07] anthoula commented on #3699
Thank you for the feedback. It looks like the first screenshot shows that a user navigated to the Second Store View using the Store Switcher, and the other incognito screenshot displays the Default Store View. Persisting the last visited store view is expected behavior.

[2022-02-28 20:07] #3699 closed

[2022-02-28 21:59] fooman commented on #3716
As further suggestion if the frontend should display data differently depending on how far an order has progressed relying on the order state https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/Api/Data/OrderInterface.php#L29 would be the way to go. It is language independent and works in conjunction with custom order statuses.

[2022-03-01 17:01] anthoula commented on #3581
Thank you for the feedback. Please provide additional details for your issue, including steps to reproduce. If issue still occurs with steps, please reopen as a Bug.

[2022-03-01 17:01] #3581 closed

[2022-03-02 10:32] MinhOmega commented on #3434
Any luck here, even i run
`yarn add workbox-webpack-plugin -W`
It still get this errors

[2022-03-04 10:18] hiepnhaht opened #3728 "[bug]: favicon.ico, manifest.json 404 (Not Found) and error {{#pageTypeNonce}} show on footer"
I have setup a storefront project, after run yarn run build. When I access url: https://ania-pwa.arrowhitech.net/
1. favicon.ico, manifest.json 404 (Not Found)
https://ania-pwa.arrowhitech.net/manifest.json 404 (Not Found)
23Manifest: Line: 1, column: 1, Syntax error.
favicon.ico:1          GET https://ania-pwa.arrowhitech.net/favicon.ico 404 (Not Found)
2. In footer showing error like below
{{#pa

[2022-03-07 15:09] anthoula commented on #3728
@magento export issue to JIRA project PWA as Bug

[2022-03-07 16:50] #3728 closed

[2022-03-07 17:48] anthoula commented on #3728
Thank you for the feedback. We would need some additional information and steps to reproduce. For additional support, please see our Slack channel: https://magentocommeng.slack.com/messages/C71HNKYS2

[2022-03-08 17:22] #3621 closed

[2022-03-10 00:35] naag-pal opened #3732 "how to add NextJs to pwa-studio to extend with nextjs features?"

[2022-03-11 16:31] ryantfowler commented on #3714
@oefterdal here's the related commit which appears to enable this feature: https://github.com/magento/magento2-upward-connector/commit/cffe292c3b81951457f1edb03c138b84a1623287 . User Athar brought this up in the following Slack comment: https://magentocommeng.slack.com/archives/C71HNKYS2/p1647015768346209.

[2022-03-11 20:01] OneCricketeer commented on #3732
Hi @naag-pal . There is internal effort to add NextJS. Stay tuned!

[2022-03-12 17:14] naag-pal commented on #3732
That's nice.

Can you please provide some details,
what changes might required - to try from my side, so that I can try extending it from my side as well.

Would be nice few details regarding this, what the best way to extend NextJs on top of pwa studio.

[2022-03-14 16:07] OneCricketeer commented on #3732
If you look at our `package.json`, there is no dependency on `next` library, or scripts at this time, so there is nothing to add/extend yet. It will be a migration effort from the existing scripts and libraries that our team has prioritized.

[2022-03-14 17:36] TMNRokas opened #3737 "[bug]: Image placeholder height gets overriden by tailwind preflight styles"
**Describe the bug**

Placeholder of Image component is supposed to have a specific height, but it gets overridden by global img rule:
node_modules/tailwindcss/lib/plugins/css/preflight.css
Line: 247
`img,
video {
  max-width: 100%;
  height: auto;
}`

Above rule overrides height that is supposed to be set by attribute in:
node_modules/@magento/venia-ui/lib/components/Image/image.js
`height={talon

[2022-03-15 15:50] #3669 closed

[2022-03-16 13:55] svalveson commented on #2874
@KevinGorjan @magento Any update on this?

[2022-03-21 09:26] MinhOmega opened #3744 "[issues]: Warning when complie and run in local about `maximumFileSizeToCacheInBytes`"
**Describe the bug**

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:

1. Run `yarn venia run watch`
2. Issues warning showing in console but site still loading withou problem

**Expected behavior**

Compiled successfull withou warning.

**Screenshots**

![image](https://user-images.githubusercontent.com/49482201/159233822-c3ed3906-7cf8-4fd3-

[2022-03-21 14:43] anthoula commented on #3737
@magento export issue to JIRA project PWA as Bug

[2022-03-21 15:29] anthoula commented on #3744
Thank you for the feedback. We would need some additional information. If it is happening in production as well, please reopen. For additional support, please see our Slack channel: https://magentocommeng.slack.com/messages/C71HNKYS2

[2022-03-21 15:29] #3744 closed

[2022-03-21 20:22] #3585 closed

[2022-03-22 17:37] #3503 closed

[2022-03-22 17:39] #3632 closed

[2022-03-28 16:41] tjwiebell commented on #3635
Any runtime variables needed by the application will need to be configured at the web server layer, they will not be automatically injected from the `.env`. For nginx I would expect to see lines like `fastcgi_param MAGENTO_BACKEND_URL https://venia.magento.com;`.

https://developer.adobe.com/commerce/pwa-studio/tutorials/production-deployment/checklist/#important-environment-variables

[2022-03-28 16:41] #3635 closed

[2022-04-01 10:56] Jordaneisenburger opened #3748 "[bug]: Filter delimiter is likely to fail under some circumstances"
**Describe the bug**

When you have a filter label that looks like "Audio, Video & Multimedia" the default delimiter "," is not going to work and it will send a part of the label to the backend instead of the attribute code.

**To reproduce**

Steps to reproduce the behavior:

1. Add an attribute to the filters with a comma in the label
2. Go to category page and click that new filter and note tha

[2022-04-01 10:57] Jordaneisenburger commented on #3748
Please let me know what delimiter we should use and I can create a PR

@magento I am working on this

[2022-04-04 13:30] damsu opened #3750 "[Issue] "Products per page" category selector present in Venia UI kit but not in code."
The "products per page" selection dropdown appears in the Venia UI kit but is not present as a feature in Venia codebase.

Was it added by mistake to Venia UI kit or is it planned to release in the near future?

See "Show 12" dropdown in screenshot bellow:

<img width="1188" alt="image" src="https://user-images.githubusercontent.com/22027914/161554192-68552329-e9ec-45e6-aaa3-dccdd38322c0.png">

[2022-04-04 14:58] m2-assistant[bot] opened #3751 "[Issue] changed the reference of base docker images from dockerhub to jfrog"
This issue is automatically created based on existing pull request: magento/pwa-studio#3745: changed the reference of base docker images from dockerhub to jfrog

---------

## Description

TODO: Describe your changes in detail here.

## Related Issue

Closes #ISSUE_NUMBER.

## Acceptance

### Verification Stakeholders

### Specification

## Verification Steps

#### Test scenario(s) for direct fix/

[2022-04-04 18:49] #3751 closed

[2022-04-11 11:12] tuna2smc commented on #3183
Tried tutorials but sass styles seem not load after all
Followed exactly steps by steps
In my opinion docs seem not cover enough, we should add more details

[2022-04-11 11:13] tuna2smc commented on #3183
css module works totally fine. But i think use sass along with css would be great improvements

[2022-04-11 11:16] tuna2smc commented on #3183
"dependencies": {
    "node-sass": "^7.0.1",
    "sass": "~1.43.4",
    "sass-loader": "^10.0.0"
  }

[2022-04-11 13:45] tuna2smc commented on #3183
![sass](https://user-images.githubusercontent.com/82012895/162753119-f6464d2c-491d-446f-901e-d07947d967cb.png)

[2022-04-11 13:46] tuna2smc commented on #3183
This seem not work in my case

[2022-04-11 13:48] tuna2smc opened #3758 "[doc]: Sass support not work as expected"
**Describe the request**
A clear and concise description of the documentation request or where the documentation can be improved.
Old topic (Closed)
https://github.com/magento/pwa-studio/issues/3183
Details added in old link topic

**Possible solutions**
How would you word this addition or change?

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know wh

[2022-04-11 14:52] anthoula commented on #3758
@magento export issue to JIRA project PWA as Story

[2022-04-12 15:33] #3750 closed

[2022-04-12 15:50] dobooth commented on #3758
@tuna2smc Let me know what you think of the changes in the PR above. If you have a specific version for npm (or any other changes), please let me know.

[2022-04-13 08:05] ankits789 commented on #2318
i am getting the same issue you are getting did you found the solution for this @PrakashLakhara

[2022-04-14 13:57] #3758 closed

[2022-04-14 14:41] tuna2smc commented on #3758
added details in my previously post. But seem now docs changed. I will give it a try later

[2022-04-14 14:49] arendarenko opened #3762 "Homepage slider creates unexpected GET-requests"
**Describe the bug**

Hello,
I noticed unexpected GET-request to `{hostname}/null` on the homepage during first website load. Sometimes it's taking 0.5-1 sec which impacting overall load speed.

Most likely this issue is caused by image slider on homepage, considering it's not reproducible on the other pages and when you click on the circle to open next slide - another `/null` request is being sen

[2022-04-15 11:11] Dave-W opened #3764 "[bug]: Product details not displaying when product url suffix is trailing slash"
**Please let us know what packages this bug is in regards to:**
 - < > `venia-concept`
 - < > `venia-ui`
 - < > `pwa-buildpack`
 - <x> `peregrine`
 - < > `pwa-devdocs`
 - < > `upward-js`
 - < > `upward-spec`
 - < > `create-pwa`

[2022-04-16 10:44] TeddyMageplaza1 commented on #3565
Thank you!

[2022-04-17 07:36] butterfly1924 commented on #3762
@magento I am working on this

[2022-04-17 07:36] butterfly1924 commented on #3762
@magento I am working on this

[2022-04-17 07:37] butterfly1924 commented on #3762
@magento add to contributors team

[2022-04-17 07:39] butterfly1924 commented on #3762
@magento I am working on this

[2022-04-17 11:39] amareshtiwari opened #3765 "[bug]: A short, simple sentence describing the bug"
I am getting an error when I run the below command

yarn buildpack create-custom-origin packages/venia-concept

  ⓧ  error:0308010C:digital envelope routines::unsupported
  ⓧ  Error: error:0308010C:digital envelope routines::unsupported
error Command failed with exit code 1. info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

PHP     : 8.1
Magento : 2.4.4
Node

[2022-04-17 14:13] butterfly1924 commented on #3765
@magento I am working on this

[2022-04-17 16:15] butterfly1924 commented on #3765
@amareshtiwari Hello amareshtiwari, this is caused by the latest version of Node.js version 17.8.0. You can check out the same issue here https://github.com/webpack/webpack/issues/14532. You can try adding a new node option `--openssl-legacy-provider`. You may also downgrade your node.js to v16 LTS version, which will fix this issue.

[2022-04-17 16:17] butterfly1924 commented on #3764
@magento I am working on this

[2022-04-17 16:33] butterfly1924 commented on #3708
@magento I am working on this

[2022-04-18 08:35] amareshtiwari commented on #3765
Hi @butterfly1924 ,

The issue has been resolved but after running this command `yarn run build && yarn run stage:venia` I didn't see any changes in my frontend.

![WhatsApp Image 2022-04-18 at 2 03 29 PM](https://user-images.githubusercontent.com/14758163/163781468-d1dec0ae-0f0c-4bf2-8006-056acd310601.jpeg)
![image](https://user-images.githubusercontent.com/14758163/163781511-516bc6f6-36df-4984-9

[2022-04-18 14:28] anthoula commented on #3765
@magento export issue to JIRA project PWA as Bug

[2022-04-18 14:29] anthoula commented on #3764
@magento export issue to JIRA project PWA as Bug

[2022-04-18 14:30] anthoula commented on #3762
@magento export issue to JIRA project PWA as Bug

[2022-04-18 14:43] #3732 closed

[2022-04-18 15:31] anthoula commented on #3765
Thank you for the feedback. Node v17 & 19 are not supported. Please downgrade to Node v16.

[2022-04-18 15:32] #3765 closed

[2022-04-18 16:36] amareshtiwari commented on #3765
Hi @anthoula ,

I have downgraded the node version from v17.8.0 to v16.14.2

So kindly check again and let me know

Thanks!

[2022-04-18 20:48] luke-denton-aligent opened #3766 "[feature]: Remove increase/decrease buttons of quantity selector from the tab index"
**Is your feature request related to a problem? Please describe.**
Currently when tabbing through a PDP, a user has to tab twice to get passed the quantity selector. If the value in the quantity selector is greater than 1, then the user will have to tab 3 times to get passed it:

First tab press: Decrease button
Second tab press: quantity input
Third tab press: Increase button
Forth Tab press: nex

[2022-04-18 21:02] luke-denton-aligent opened #3767 "[bug]: When on mobile, quantity value isn't automatically selected, forcing a user to have to manually clear the old value before entering a new one"
**Describe the bug**

When on mobile and selecting the quantity input on the PDP, the current value isn't automatically selected, meaning a user has to use the back space key on their keyboard before entering the quantity that they would actually like.

Further, we're not able to use the up and down arrow keys on a keyboard to increase/decrease the value.

**To reproduce**

Steps to reproduce the

[2022-04-18 21:06] luke-denton-aligent commented on #3766
@Jordaneisenburger Can you please review

[2022-04-18 21:06] luke-denton-aligent commented on #3767
@Jordaneisenburger Can you please review?

[2022-04-19 06:30] Imran4191 opened #3768 "Magento 2 : How to show search bar for always in PWA venia-ui`"
Now search bar is showing after clicking the search icon. But I want to show the search bar for always, don't need to click the search icon. How can I do that?

[2022-04-19 06:45] TheRealHunzik commented on #2552
Hello There @mercs600 & @jcalcaben

do you have found any solution for this?

[2022-04-19 07:26] Imran4191 commented on #3768
@magento I am working on this

[2022-04-19 07:27] Imran4191 commented on #3768
@magento add to contributors team

[2022-04-19 13:48] skisielewicz9bits opened #3770 "[bug]: When venia is hosted on docker, network requests run queued"
**Describe the bug**

We are facing performance issues in our project based on venia concept, main issue for now are as in the topic queued requests ran from storefront. When we launch the upward server on main OS(Ubuntu 21.10) everything seems fine as in the screenshoot below:
![image](https://user-images.githubusercontent.com/104010814/164017453-d434f26e-a1ef-4369-9cff-faec7162b485.png)
The prob

[2022-04-19 13:52] naag-pal opened #3771 "[doc]: A deployment of dist folder using upward-js and node+express - graphql is failing"
PWA Studio has a
MAGENTO_BACKEND_URL is : http://XXXXXXX.compute-1.amazonaws.com/

yarn build and copied /dist to a folder where upward-js and node+express is exist.

using @magento/upward-js and express on the node server

const { createUpwardServer } = require('@magento/upward-js');

async function serve() {
  await createUpwardServer({
    port: '8082',
    bindLocal: true,
    logUrl: true,

[2022-04-19 20:24] isibaguette opened #3772 "[bug]: CartPage - Update item is not taking the proper colour"
**Describe the bug**

On the cart page, when editing a item, changing the size without updating the colour, it takes an other colour.

**To reproduce**

Steps to reproduce the behavior:

1. Go to 'Tops' category, Select the product "Phoebe Cardigan"
2. Choose colour and size (ex: Rain/L)
3. Add to Cart
4. Go to cart page (click on "Edit shopping cart" in the minicart)
5. Edit item: Select a new co

[2022-04-20 16:25] spjoshis commented on #3565
When i was installing `magento/pwa`, it gave below error
[code]

Below are the environment details
Magento: 2.4.4
PHP: 8.1.4

[2022-04-20 16:31] Watch3ruk commented on #3565
ok , and you need help with ? says it all .
magento/module-contact-graph-ql-pwa 0.2.0 requires php ~7.3.0 you have 8.1.4 , rest fails on this . wait till pwa 12.4 they will have php 8.1 support .
or fork  magento/pwa ^0.2.0 , made the changes install from the fork.

[2022-04-21 15:17] spjoshis commented on #3565
Thanks

[2022-04-23 08:58] spjoshis opened #3779 "Graphql Cannot query field "route" on type "Query". error in route query"
I am implementing Magento PWA Studio with Magento `2.4.2-p1` as backend. Magento PWA studio is using `route` query to get page information such as CMS page, product page.

The issue is in fresh installation does not contain route module. I have installed all the components mentioned in [`https://github.com/magento/pwa-studio/releases/tag/v12.1.0`](https://github.com/magento/pwa-studio/releases/tag

[2022-04-24 08:31] spjoshis commented on #3779
This issue is fixed when i upgraded Magento to 2.4.3. Thanks

[2022-04-24 08:31] #3779 closed

[2022-04-25 14:11] anthoula commented on #3771
@magento export issue to JIRA project PWA as Bug

[2022-04-25 14:11] anthoula commented on #3770
@magento export issue to JIRA project PWA as Bug

[2022-04-25 14:17] anthoula commented on #3768
@magento export issue to JIRA project PWA as Bug

[2022-04-25 14:18] anthoula commented on #3767
@magento export issue to JIRA project PWA as Bug

[2022-04-25 14:18] anthoula commented on #3766
@magento export issue to JIRA project PWA as Story

[2022-04-25 15:51] anthoula commented on #3766
Thanks for your feedback! We are planning to include accessibility improvements to the quantity stepper in an upcoming feature epic that is currently `In Progress`, and will include this feedback for review.

[2022-04-25 16:04] anthoula commented on #3768
Thanks for your feedback! For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-04-25 16:04] #3768 closed

[2022-04-25 16:09] anthoula commented on #3771
Thanks for your feedback! For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-04-25 16:09] #3771 closed

[2022-04-27 09:28] amareshtiwari commented on #3765
@anthoula  Why we are getting {{#pageTypeNonce}}{{#webpackChunks}}{{/webpackChunks}} {{/pageTypeNonce}}
After installation of PWA ?

[2022-04-27 15:12] JesusIasenzaniro16 opened #3807 "[bug]: Redirect to login when user is not logged in"
Good day all,
In the version of venia 12.1 if you are not logged in and you try to browse writing manually the path It will redirect you to the login page , the redirection happens also if you log out.
But in the 12.3, It allows you to browse without being logged in,

Steps to reproduce the behavior:

1. Go to home page without signing in
2. Go to a category writing the path manually
3. See the er

[2022-04-27 16:32] OneCricketeer commented on #3770
@skisielewicz9bits Would you mind sharing your docker-run command(s)?

[2022-04-28 07:31] skisielewicz9bits commented on #3770
@OneCricketeer hey, we are facing this issue on every setup(staging or local), here is my dockerfile for local development:
`##############################################################
# This file is intended to be used with ./docker-compose.yml #
##############################################################

FROM node:16.6.0-alpine as build
# working directory
WORKDIR /usr/src/app

# global e

[2022-04-28 15:26] Jordaneisenburger commented on #2239
Just noticed that the issue isn't resolved in version 12.2

[2022-04-28 20:54] NathaliePHPro opened #3810 "[bug]: 404 pages don't return 404 status code"
**Describe the bug**

If the visitor enters a non existing URL, the network requests returns a 200 StatusCode while showing the Magento no route page. However it should return a 404 StatusCode

**To reproduce**

Steps to reproduce the behavior:

1. Go to venia.magento.com/venia-bottoms/venia-pants.html?page=1
2. Open your Inspect tool
3. Go to the network tab
4. Change the URL to https://venia.mag

[2022-04-28 23:22] mrtuvn commented on #3462
close because team already integrated tailwindcss

[2022-04-28 23:22] #3462 closed

[2022-04-29 17:30] JustinConabreeAbsolunet opened #3812 "[bug]: Mega menu collapses when trying to select sub-category on 12.4"
**Describe the bug**

When trying to click on a sub category (ex Bottoms > Pants & Shorts) the menu collapses. This is due to the PageLoadingIndicator positioning of `relative` taking precedent over the positioning {{{}absolute{}}}.

**To reproduce**

Steps to reproduce the behavior:
1. Hover over first level category. Menu will open
1. Try to select second level category

**Expected behavior**

(

[2022-04-29 17:47] yaroslav-qlicks commented on #3547
Same issue still reproduced on latest PWA v12.4

[2022-05-02 06:32] skisielewicz9bits commented on #3770
No, commad that is launching container is based on that https://github.com/magento/pwa-studio/blob/develop/docker/run-docker

[2022-05-02 13:27] OneCricketeer commented on #3770
Thanks

I see that's using the included docker-compose. Just wanted to verify you're not modifying anything with that

[2022-05-02 13:55] skisielewicz9bits commented on #3770
@OneCricketeer no, we just added few env vars

[2022-05-02 15:46] justinconabree opened #3814 "[bug]: Regions select stuck in loading state in checkout when US is disabled"
**Describe the bug**

When United States is not selected in the backend General > Country Options > Allow Countries configuration, the checkout fails to load the "States" field in the checkout. This is because it passes `US` to the `GetRegions` by default but this returns a graphql error when US is not active. When there is only one country available this causes the checkout to fully break as ther

[2022-05-02 16:08] JustinConabreeAbsolunet commented on #3814
## Update
Changing the `.env` file's `DEFAULT_COUNTRY_CODE` to a country code that is allowed fixes the issue. Suggestion would be to make that default value fetched from a query on build time

[2022-05-02 21:23] baiciluigi commented on #2318
Hi, set the value for CUSTOM_ORIGIN_ADD_UNIQUE_HASH to false and it should work.

[2022-05-04 11:54] 0m3r opened #3818 "[bug]: React Warning: Each child in a list should have a unique "key" prop. in ItemsReview component"
I see react warning in my dev console

[code]

**To reproduce**

Steps to reproduce the behavior:

1. Go to checkout
2. Open dev console
3. See warning

**Expected behavior**

console without simple errors

**Screenshots**

![Знімок екрану з 2022-05-04 14-43-43](https://user-images.githubusercontent.com/412612/166674816-d3cf40cd-a43e-4098-957b-1bd9008967bf.png)

**Possible solutions**

https://git

[2022-05-04 20:27] m2-assistant[bot] opened #3820 "[Issue] AC-2789::Focus not set to newly visible content (pattern)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3817: AC-2789::Focus not set to newly visible content (pattern)

---------

## Description

Focus not set to newly visible content (pattern)

Reproduction Steps
Locations (representative sample):

Global Header
Search Results

At a tablet or mobile breakpoint (smaller than ~1020px) , press Tab to move through th

[2022-05-04 20:28] supernova-at commented on #3820
@magento export issue to JIRA project PWA as Bug

[2022-05-04 20:30] m2-assistant[bot] opened #3821 "[Issue] AC-2785::Custom dropdown controls lack appropriate name and state inf…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3816: AC-2785::Custom dropdown controls lack appropriate name and state inf…

---------
…ormation.

## Description

Custom dropdown controls lack appropriate name and state information.

Environment
Adobe Magento - Venia

Context
Windows; Chrome 88; JAWS 2021

Reproduction Steps
[NODE][body>div:nth-of-type(1)>*:

[2022-05-04 20:30] m2-assistant[bot] opened #3822 "[Issue] AC-2478::Search results summary information not announced to screen r…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3806: AC-2478::Search results summary information not announced to screen r…

---------

## Description

[NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-child(2)]

1. With JAWS operating, press Tab to move through the content.
2. When keyboard focus is on Search, press Enter or Space to activate it.
3. Enter

[2022-05-04 20:30] m2-assistant[bot] opened #3823 "[Issue] AC-2480::Flyout panels do not trap focus while open"
This issue is automatically created based on existing pull request: magento/pwa-studio#3805: AC-2480::Flyout panels do not trap focus while open

---------

## Description

Flyout panels do not trap focus while open

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88

Reproduction Steps
Locations (representative sample):

Global Header
Search Results
1. Using keyboard only, from a se

[2022-05-04 20:30] m2-assistant[bot] opened #3824 "[Group 2][Issue] AC-2482::Screen readers not informed when new page view loads. (patte…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3803: AC-2482::Screen readers not informed when new page view loads. (patte…

---------
…rn: No announcement for new page view)

## Description

Screen readers not informed when new page view loads.

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88; JAWS 2021

Reproduction Steps
Locations (repres

[2022-05-04 20:30] m2-assistant[bot] opened #3825 "[Issue] AC-2483::Contrast insufficient - custom blue focus indicator"
This issue is automatically created based on existing pull request: magento/pwa-studio#3802: AC-2483::Contrast insufficient - custom blue focus indicator

---------

## Description

Contrast insufficient - custom blue focus indicator

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88;

Reproduction Steps
Locations (representative sample):

Global Header
Landing Page
Search Results
P

[2022-05-04 20:30] m2-assistant[bot] opened #3826 "[Issue] AC-2486::contrast insufficient - medium grey text (Search Results)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3801: AC-2486::contrast insufficient - medium grey text (Search Results)

---------

## Description

Contrast insufficient - medium grey text

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88;

Reproduction Steps
search "short" - [NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-child(3)]

1. U

[2022-05-04 20:31] m2-assistant opened #3827 "[Issue] BUG#AC_2495::Items within actions menu receive keyboard focus when no…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3800: BUG#AC_2495::Items within actions menu receive keyboard focus when no…

---------
…t visible.

## Description
Items within actions menu receive keyboard focus when not visible.

Environment

Adobe Magento - Venia

Context

Windows 10; Chrome 88;

Reproduction Steps

select "Blouses & Shirts" > select "Susa

[2022-05-04 20:31] m2-assistant[bot] opened #3828 "[Group 2][Issue] BUG#AC-2499::When focusing on 'Venia' image while using screen reader…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3799: BUG#AC-2499::When focusing on 'Venia' image while using screen reader…

---------

## Description

When focusing on "Venia" image while using screen reader "Venia Venia" is announced.

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88; JAWS 2021

Reproduction Steps
Locations (representative

[2022-05-04 20:31] m2-assistant[bot] opened #3829 "[Issue] AC-2787 Keyboard only users are not able to access sub-navigation links"
This issue is automatically created based on existing pull request: magento/pwa-studio#3798: AC-2787 Keyboard only users are not able to access sub-navigation links

---------

## Description

Keyboard only users are not able to access sub-navigation links.

Environment
Adobe Magento - Venia

Context
Windows 10; Chrome 88;

Reproduction Steps
[NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-chi

[2022-05-04 20:31] m2-assistant[bot] opened #3830 "[Group 2][Issue] AC-2786::Shopping bag button does not programmatically communicate st…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3793: AC-2786::Shopping bag button does not programmatically communicate st…

---------

## Description
Shopping bag button does not programmatically communicate state. (Global Header)

**Reproduction Steps**
[NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-child(2)]

1. With JAWS operating and items in your

[2022-05-04 20:31] m2-assistant[bot] opened #3831 "[Issue] AC-2791::Current state of custom controls not announced. (Shopping Bag)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3792: AC-2791::Current state of custom controls not announced. (Shopping Bag)

---------

## Description
Current state of custom controls not announced. (Shopping Bag)

**Reproduction Steps**
select "Blouses & Shirts" > select "Susanna Draped Tank" > add product to cart > select bag > select "Edit Shopping Bag"

[2022-05-04 20:31] m2-assistant[bot] opened #3832 "[Issue] AC-2493::Items within actions menu are not operable for keyboard-only…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3791: AC-2493::Items within actions menu are not operable for keyboard-only…

---------

## Description
Items within actions menu are not operable for keyboard-only users (Shopping Bag)

**Reproduction Steps**
select "Blouses & Shirts" > select "Susanna Draped Tank" > add product to cart > select bag > select "E

[2022-05-04 20:31] m2-assistant[bot] opened #3833 "[Issue] AC-2497::Credit card entry format is not descriptive. (Checkout - Pay…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3790: AC-2497::Credit card entry format is not descriptive. (Checkout - Pay…

---------

## Description
Credit card entry format is not descriptive. (Checkout - Payment)

**Reproduction Steps**
select "Blouses & Shirts" > select "Susanna Draped Tank" > add product to cart > select bag > select "Edit Shopping Bag

[2022-05-04 20:31] m2-assistant[bot] opened #3834 "[Issue] AC-2490::Contrast insufficient - product image selected state indicat…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3789: AC-2490::Contrast insufficient - product image selected state indicat…

---------

## Description
Contrast insufficient - product image selected state indicator (Product Detail Page)

**Reproduction Steps**
select "Blouses & Shirts" > select "Susanna Draped Tank" - [NODE][body>div:nth-of-type(1)>*:nth-chil

[2022-05-04 20:31] m2-assistant[bot] opened #3835 "[Issue] AC-2496::Contrast insufficient - light grey text (Checkout - Payment)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3788: AC-2496::Contrast insufficient - light grey text (Checkout - Payment)

 
## Description

Contrast insufficient - light grey text (Checkout - Payment)

**Reproduction Steps**
select "Blouses & Shirts" > select "Susanna Draped Tank" > add product to cart > select bag > select "Edit Shopping Bag" > select "Pr

[2022-05-04 20:31] m2-assistant opened #3836 "[Issue] AC-2484::Contrast insufficient - carousel navigation buttons (Landing…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3787: AC-2484::Contrast insufficient - carousel navigation buttons (Landing…

---------

## Description
Contrast insufficient - carousel navigation buttons (Landing Page)

**Reproduction Steps**
[NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-child(3)]

1. Use a color contrast checker to compare foreground a

[2022-05-04 20:31] m2-assistant[bot] opened #3837 "[Issue] AC-2788::Form fields have visual labels that are not programmatically…"
This issue is automatically created based on existing pull request: magento/pwa-studio#3786: AC-2788::Form fields have visual labels that are not programmatically…

---------

## Description
Form fields have visual labels that are not programmatically associated with their inputs (pattern: Form field(s) lack accessible name)

**Reproduction Steps**
Locations (representative sample):

Global Header

[2022-05-04 20:31] m2-assistant[bot] opened #3838 "[Issue] AC-2792::Common inputs lack autocomplete attributes (pattern)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3785: AC-2792::Common inputs lack autocomplete attributes (pattern)

---------

## Description
Common inputs lack autocomplete attributes (pattern)

Locations (representative sample):

Checkout - Shipping Information
Checkout - Payment
1. Manually inspect markup for inputs in Guest Checkout form for autocomplete

[2022-05-04 20:33] supernova-at commented on #3821
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:33] supernova-at commented on #3822
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:34] supernova-at commented on #3823
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:34] supernova-at commented on #3824
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:34] supernova-at commented on #3825
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:34] supernova-at commented on #3826
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:34] supernova-at commented on #3827
@magento export issue to JIRA project PWA as Bug

[2022-05-04 20:35] supernova-at commented on #3828
@magento export issue to JIRA project PWA as Bug

[2022-05-04 20:35] supernova-at commented on #3829
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:35] supernova-at commented on #3830
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:35] supernova-at commented on #3831
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:35] supernova-at commented on #3832
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:35] supernova-at commented on #3833
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:36] supernova-at commented on #3834
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:36] supernova-at commented on #3835
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:36] supernova-at commented on #3836
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:36] supernova-at commented on #3837
@magento export issue to JIRA project PWA as Story

[2022-05-04 20:55] bskimball opened #3839 "Cannot watch or build project"
**Describe the bug**
Running watch or build commands result in "As of version 12.1.0, PWA Studio requires the appropriate PWA metapackage to be installed on the backend."
![image](https://user-images.githubusercontent.com/5348828/166823513-1161bb2b-f7ec-4079-9504-a0f620763554.png)

This same issue occurs on a Magento hosted backend as well as my custom backend.

I have installed the open source me

[2022-05-06 16:29] bskimball commented on #3839
This issue occurred because there was an error which occurred when querying the graphql schema. The error message is misleading because the Open Source meta package was successfully installed.

[2022-05-06 16:29] #3839 closed

[2022-05-06 21:32] chrom commented on #3565
Magento 2.4.4
`
 composer require magento/pwa
Info from https://repo.packagist.org: #StandWithUkraine

In PackageDiscoveryTrait.php line 375:

  Could not find a matching version of package magento/pwa. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stable). `

[2022-05-09 14:26] anthoula commented on #3818
@magento export issue to JIRA project PWA as Bug

[2022-05-09 14:27] anthoula commented on #3812
@magento export issue to JIRA project PWA as Bug

[2022-05-09 14:28] anthoula commented on #3810
@magento export issue to JIRA project PWA as Bug

[2022-05-09 14:28] anthoula commented on #3807
@magento export issue to JIRA project PWA as Bug

[2022-05-09 15:52] anthoula commented on #3807
@JesusIasenzaniro16 Is this scenario for users that do not have category permissions, and they access the category page? If not, can you provide more details on the user pre-conditions where this behavior occurs?

[2022-05-09 16:40] anthoula commented on #3810
@NathaliePHPro Thanks for the feedback. This is expected given the current `upward.yml` in venia-ui. That initial request is for the appShell, which is successfully returned with a 200, and much later there is a `ResolveURL` request which then informs us that URL isn’t valid.

For additional support, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us

[2022-05-09 16:40] #3810 closed

[2022-05-10 07:33] JesusIasenzaniro16 commented on #3807
Hello @anthoula, yes, if the user is not logged in,
the web shouldn't let the user browse through the page and if they try it, the user should be redirect to the sign in page,
for example in this image I am not logged in:

<img width="575" alt="2022-05-10 09_31_36-" src="https://user-images.githubusercontent.com/102374154/167573851-aa2f14c7-a98d-43f8-aa80-0981db99f116.png">

[2022-05-10 12:20] fabiomangano opened #3846 "[bug]: Warning message using components exported from @magento/venia-drivers"
**Describe the bug**
Hi, I'm following this tutorial to learn the basic of Pwa Studio:
https://www.simicart.com/blog/magento-pwa-studio-tutorial-the-basics/?simipwa=1

Importing Link component from @magento/venia-drivers gives this error:

WARNING in ./src/drivers.js
export 'Link' was not found in '@magento/venia-ui/lib/drivers

**To reproduce**
Import the Link component.

[code]
**Expected behavi

[2022-05-10 14:41] m2-assistant[bot] opened #3847 "[Issue] Make Apollo links customizable"
This issue is automatically created based on existing pull request: magento/pwa-studio#3842: Make Apollo links customizable

---------
## Description

Allow Apollo links to be customized by a `configureLinks` prop to `Adapter` / `useAdapter`. Also, while we're at it, extract the links into their own modules.

This can either follow #3757 or we can combine them here.

### New component/talon signat

[2022-05-11 17:20] michaelyu0123 commented on #3812
The resolution will be made in https://github.com/magento/pwa-studio/pull/3850

[2022-05-11 17:20] #3812 closed

[2022-05-12 11:08] ankitseepossible opened #3853 "[bug]: pathname.match is not a function"
**Describe the bug**

I yesterday download latest PWA studio version (12.4.0) and also set Magento back end url in .env file project running successfully but when I try to browse any category from menu then It throws an error **"pathname.match is not a function"**.

**To reproduce**

Steps to reproduce the behavior:

1. yarn watch
2. open app in browser
3. Click on any menu / sub item
4. See error

[2022-05-13 14:21] justinconabree opened #3854 "[bug]: Gallery item Add To Cart configurable product redirect URL doesn't match tile URL"
**Describe the bug**

When clicking the add to cart button on a configurable product gallery item (the PLP for instance) the URL you're redirected to doesn't match the URL used on the product tile.

**To reproduce**

Steps to reproduce the behavior:

1. Go to https://venia.magento.com/venia-bottoms/venia-pants.html?page=1
2. Click on the Add To Cart button for Gloria Palazzo Pants
3. Will be redir

[2022-05-14 15:59] huykon commented on #3846
@fabiomangano we should import **Link** from `react-router-dom` like [this](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/Footer/footer.js#L4)

[2022-05-16 14:20] anthoula commented on #3854
@magento export issue to JIRA project PWA as Bug

[2022-05-16 14:23] anthoula commented on #3818
@magento export issue to JIRA project PWA as Bug

[2022-05-16 14:29] anthoula commented on #3714
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:30] anthoula commented on #3708
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:34] #3618 closed

[2022-05-16 14:38] anthoula commented on #3582
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:40] anthoula commented on #3570
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:40] anthoula commented on #3566
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:41] anthoula commented on #3558
@magento export issue to JIRA project PWA as Bug

[2022-05-16 14:47] anthoula commented on #3517
Thank you for the feedback. We would need some additional information. Closing until further information is provided. For additional support, please see our Slack channel: https://magentocommeng.slack.com/messages/C71HNKYS2

[2022-05-16 14:47] #3517 closed

[2022-05-16 14:50] anthoula commented on #3512
Theming is a feature on our roadmap that we are aiming to release soon. Please see our [Product Roadmap](https://github.com/magento/pwa-studio/wiki/Roadmap) for more details!

[2022-05-16 14:50] #3512 closed, assigned to jaballah-dorsaf

[2022-05-16 14:51] #3510 closed

[2022-05-16 14:54] anthoula commented on #3458
@magento export issue to JIRA project PWA as Story

[2022-05-16 14:55] anthoula commented on #3445
@magento export issue to JIRA project PWA as Bug

[2022-05-16 14:56] anthoula commented on #3443
@magento export issue to JIRA project PWA as Bug

[2022-05-16 14:57] anthoula commented on #3442
B2B features are on our roadmap. Please see [Product Roadmap](https://github.com/magento/pwa-studio/wiki/Roadmap) for more details!

[2022-05-16 14:57] #3442 closed

[2022-05-16 14:58] #3439 closed

[2022-05-16 15:14] tkacheva commented on #3443
Contact Us page is added with PWA v12.2 release
https://venia.magento.com/contact-us

[2022-05-16 15:14] #3443 closed

[2022-05-16 16:42] anthoula commented on #3438
Thank you for the feedback. Only Braintree credit card payments are currently supported, but we will be adding extension points to enable other payment type support. We will gladly accept a PR for additional payment type support!

[2022-05-16 16:42] #3438 closed

[2022-05-16 16:46] anthoula commented on #3445
Thank you for the feedback. Live Search extension support is planned for release in June! Stay tuned.

[2022-05-16 16:49] anthoula commented on #3458
Thank you for the feedback. From a UX perspective, it is ok to lock the background from scrolling when side menu is open.We are tracking this internally but it is assigned a low priority.  If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2022-05-16 16:57] #3522 closed

[2022-05-16 17:05] anthoula commented on #3558
Thanks for the feedback, we recently fixed Product Pricing: https://github.com/magento/pwa-studio/pull/3760/

[2022-05-16 17:06] #3558 closed

[2022-05-16 17:08] anthoula commented on #3570
If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2022-05-16 17:10] anthoula commented on #3582
Thanks for your feedback, these docs have recently been updated. For additional support, please see our Slack channel: https://magentocommeng.slack.com/messages/C71HNKYS2

[2022-05-16 17:11] #3582 closed

[2022-05-16 17:23] anthoula commented on #3854
Thanks @JustinConabreeAbsolunet ! We'll add this to some upcoming work 👍

[2022-05-17 03:35] #3847 closed

[2022-05-17 15:41] anthoula commented on #3807
@JesusIasenzaniro16 Thanks for the info. To confirm, does this user have restricted category permissions set, and therefore, should not be able to browse the restricted category?

[2022-05-17 18:04] #3824 closed

[2022-05-17 18:04] #3828 closed

[2022-05-17 18:04] #3830 closed

[2022-05-17 18:31] anthoula commented on #3846
@fabiomangano `venia-drivers` has been deprecated for quite some time, and will be fully removing it soon. Consider importing from `react-router-dom` instead

[2022-05-17 18:31] #3846 closed

[2022-05-18 08:10] JesusIasenzaniro16 commented on #3807
Hello @anthoula, I think we are not using that restricted category, because we want to all the new user to register before they can browse through the page

[2022-05-18 18:00] drpayyne commented on #3570
Hello, yes. I will get around to contributing this back in the next couple of weeks. Thank you!

[2022-05-19 22:23] OneCricketeer commented on #3566
Hi @rasmuswikman is this ticket still necessary?

I see you have set _runtime variables_

[code]

So, what is the use-case for providing _build time_ variables with `--build-arg`?

[2022-05-20 13:14] jurvi opened #3862 "[feature]: PWA Studio / Venia Support for Login As Customer Magento Commerce feature"
**Is your feature request related to a problem? Please describe.**
I have a customer that needs to use Login as Customer feature in Magento Commerce, but it seems like PWA Studio doesn't support it.

**Describe the solution you'd like**
Support the Login as Customer feature. Correctly handle the "/loginascustomer/login/index/?secret=..." route, log the admin user in as the chosen customer, and sho

[2022-05-20 15:42] anthoula commented on #3714
Hi @oefterdal . Thanks for your feedback. Please take a look at the [Developer Docs for Multi-Sites](https://developer.adobe.com/commerce/pwa-studio/guides/packages/upward/multi-site/), and feel free to message us in our [Slack Channel](https://magentocommeng.slack.com/messages/C71HNKYS2) if you need any clarifications on this.

[2022-05-20 15:42] #3714 closed

[2022-05-23 14:24] anthoula commented on #3862
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:28] anthoula commented on #3437
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:30] anthoula commented on #3417
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:30] anthoula commented on #3416
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:31] anthoula commented on #3415
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:33] anthoula commented on #3403
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:36] anthoula commented on #3390
Thank you for the feedback. If this issue is still actual, and need additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-23 14:38] #3381 closed

[2022-05-23 14:40] anthoula commented on #3379
Thanks for your feedback. For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-23 14:40] #3379 closed

[2022-05-23 14:40] anthoula commented on #3377
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:41] anthoula commented on #3367
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:42] anthoula commented on #3366
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:43] anthoula commented on #3358
@magento export issue to JIRA project PWA as Story

[2022-05-23 14:44] anthoula commented on #3327
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:44] anthoula commented on #3314
@magento export issue to JIRA project PWA as Bug

[2022-05-23 14:45] #3271 closed

[2022-05-23 14:53] anthoula commented on #3256
Thanks for your feedback! For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-23 14:59] anthoula commented on #3244
@magento export issue to JIRA project PWA as Story

[2022-05-23 20:16] #3327 closed

[2022-05-23 20:18] anthoula commented on #3327
Thank you for the feedback. If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2022-05-23 20:20] anthoula commented on #3403
Thanks for your feedback! For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-23 20:20] #3403 closed

[2022-05-23 20:21] anthoula commented on #3415
Thanks for your feedback. If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2022-05-23 20:22] #3415 closed

[2022-05-23 20:23] anthoula commented on #3416
Thanks for your feedback. If you have figured this out and would like to contribute your solution back to core, we'd gladly accept it!

[2022-05-23 20:23] #3416 closed

[2022-05-23 20:24] anthoula commented on #3424
Thanks for your feedback! For support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-23 20:24] #3424 closed

[2022-05-24 10:52] #3392 closed

[2022-05-24 13:17] #3386 closed

[2022-05-25 15:33] anthoula commented on #3437
Thanks for your feedback. If you are still seeking support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-05-26 03:50] JollySandhu opened #3869 "Venia doesn't work with base Magento instance 2.4.3-p2"
**Describe the bug**

Venia doesn't work with base Magento instance 2.4.3-p2

**To reproduce**

**Steps to reproduce the behavior:**

- Install Magento 2.4.3-p2 by composer on server.
- Install Venia 12.3.0 on local.
- Set up .env file for PWA (point MAGENTOBACKENDURL param to Magento app).
- Install metapackage on magento side.
- Reindex & flush cache from Magento side.
- Build modules & start st

[2022-05-26 13:53] Watch3ruk commented on #3869
hi ,
it's related to your install as it works with 2.4.3-p2 and 2.4.4 .
can you share console output please

[2022-05-26 15:18] #3358 closed

[2022-05-27 11:41] fooman commented on #3862
Log in as customer is also available in Magento Open Source.

[2022-05-31 16:26] #3833 closed

[2022-06-01 09:59] hoangss commented on #3037
hi @sirugh do we have any update for this?

[2022-06-01 12:30] rashzero opened #3872 "errorPolicy in graphQL query"
hello, I would like to ask how you can specify the errorPolicy in the graphQL request inside the upward.yml file, when either data or an error comes in the response, then there are no problems, but I have a request in which both data and errors come in and immediately fall into an error , although I want to ignore it and display the partial data that came

[2022-06-01 13:25] JustinConabreeAbsolunet opened #3873 "[bug]: Certain talons and hooks cannot be wrapped"
**Describe the bug**

Peregrine exposes its talons and hooks based on the file name. If the talon or hook does not export a variable with the same name, wrapping causes the error below. There are a select few that export default instead of a named variable.
[code]

**To reproduce**

Steps to reproduce the behavior:

1. Using targets, wrap one of the talons that exports default instead of a named v

[2022-06-01 15:44] JustinConabreeAbsolunet commented on #3873
@magento add to contributors team

[2022-06-06 14:32] anthoula commented on #3872
Thanks for your feedback! For additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-06-06 14:32] #3872 closed

[2022-06-06 14:37] anthoula commented on #3853
Thanks for your feedback. We were not able to reproduce. If this issue is still actual, and for additional support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-06-06 14:38] #3853 closed

[2022-06-07 12:48] donqric commented on #3434
Here to report that this also might happen when running `npm install` rather than `yarn install` beforehand

[2022-06-08 05:14] liezsm commented on #3610
this works for me. Thanks!

[2022-06-09 13:46] 0m3r commented on #3490
hello @Jordaneisenburger could you send your diff for this feature
I want to move the code of my custom vendor into a standalone bundle/chunk

[2022-06-10 11:35] 0m3r commented on #3490
Something like below
@vvendor/kernel/lib/intercept.js
[code]

[2022-06-10 19:24] agaraban commented on #3807
Hello, you will have to use category restrictions, I leave you the link of the documentation: https://docs.magento.com/user-guide/catalog/category-permissions.html

[2022-06-13 05:06] theiconnz opened #3877 "[bug]: root:local-intercept.js need targets"
**Describe the bug**

I know this may not be a bug of PWA Studio but if someone interested or have encounter the issue I'll submit here

After installing successfully, I had to add public directory instead venia-ui so I've add following to localIntercept() function

    targets.of('@magento/pwa-buildpack').transformUpward.tap(def => {
        def.staticFromRoot.inline.body.file.template.inline =

[2022-06-13 14:12] anthoula commented on #3877
Hey @theiconnz , thanks for the write-up!

[2022-06-13 14:12] #3877 closed

[2022-06-16 10:14] aivankov-cloud opened #3884 "[bug]: Check/Money Order Payment doesn't work for Specific Countries."
**Describe the bug**
PWA checkout doesn't have revalidation for payment methods after change county in billing address.
As per attached screenshot  query should return value for **available*payment*methods** should be "Check / Money order". but returning empty array when followed below steps

**To reproduce**
Steps to reproduce the behavior:

1. Choose `United States`  for the General > Country Op

[2022-06-19 00:26] Vasile-Peste commented on #3565
`Error 503 Backend fetch failed`
Right after enabling the modules...

[2022-06-19 00:27] Vasile-Peste commented on #3565
`Error 503 Backend fetch failed`
Backend response right after enabling the components...

[2022-06-20 12:44] JesusIasenzaniro16 commented on #3807
Hello @agaraban, thanks for the reply

we can't use the solution of using category permissions because we are using the magento open source not the Adobe Commerce, the option in the admin is not available for us.

In the  version 12.1 of venia we implemented a solution using the code I share before,
but since the version 12.3 it stopped working, maybe the component we use before is not been used a

[2022-06-20 13:52] anthoula commented on #3884
@magento export issue to JIRA project PWA as Bug

[2022-06-20 16:40] Vasile-Peste opened #3886 "Fresh installation, product details not loading"
**Describe the bug**
Fresh installation, Magento 2.4 and pwa studio created by following the official guide
https://developer.adobe.com/commerce/pwa-studio/tutorials/setup-storefront/

The website loads and the catalogs also but I'm not able to load the details of a single product in the product page.

<img width="1644" alt="Screenshot 2022-06-20 at 18 38 28" src="https://user-images.githubusercon

[2022-06-25 19:55] Vasile-Peste commented on #3886
Is this project still maintained?

[2022-06-25 20:55] Vasile-Peste commented on #3886
Finally I have resolved by installing the version described at https://github.com/magento/magento2-pwa/ and updating composer.

[2022-06-25 20:55] #3886 closed

[2022-06-29 18:36] #3001 closed

[2022-06-29 18:36] #3834 closed

[2022-06-29 18:36] #3821 closed

[2022-06-29 18:36] #3835 closed

[2022-07-04 12:06] Zwernemann opened #3900 "Link to pwastudio.io not working"
**Describe the request**
Documentation of PWA Studio package should be located at https://pwastudio.io
This link is not working.

**Possible solutions**
Enable the link to pwastudio.io

**Please let us know whether this is a new topic or a topic change request:**
 - [x ] New Topic Request (ie. missing entire topic/section)
 - [ ] Topic Change Request (ie. spelling, organization)

[2022-07-08 11:21] 0m3r commented on #3818
Fixed in v12.5.0

https://github.com/0m3r/pwa-studio/blob/v12.5.0/packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js

https://github.com/magento/pwa-studio/pull/3856

[2022-07-08 11:21] #3818 closed

[2022-07-11 15:52] dobooth commented on #3530
@jaballah-dorsaf Did the package.json suggesting fix this for you?

[2022-07-12 07:38] Buuhuu opened #3901 "[bug]: peregrine useGiftOptions has a dependency to venia-ui"
**Describe the bug**

Iiuc peregrine should not have any dependencies to venia-ui. With https://github.com/magento/pwa-studio/pull/3540/files#diff-cc37332b8508bbba81a4a3c25ab8261cb592076309b4c9faf4b331a53930c24d however a dependency was added from `useGiftOptions.js` to `@magento/venia-ui/lib/util/formValidators`.

**Expected behavior**

No dependencies from peregrine to venia-ui.

**Possible solu

[2022-07-13 05:22] CallMeSudhanshu commented on #3424
@amitmaurya1024 @anthoula is this issue resolved ? where can i find the solution ?

[2022-07-13 14:44] anthoula commented on #3424
For support on your question, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us).

[2022-07-13 15:59] anthoula commented on #3900
@magento export issue to JIRA project PWA as Bug

[2022-07-13 22:01] anthoula commented on #3900
That URL is a redirect to https://developer.adobe.com/commerce/pwa-studio/

[2022-07-13 22:01] #3900 closed

[2022-07-14 07:35] Zwernemann commented on #3900
@anthoula The link is still not working.
![image](https://user-images.githubusercontent.com/52236002/178927719-be3f84b2-a2dd-4249-a208-9a086cdf20a8.png)

[2022-07-14 16:20] #3838 closed

[2022-07-15 06:03] Zwernemann commented on #3900
@anthoula You closed this task, but the link is still not working.

[2022-07-15 14:55] justinconabree opened #3904 "[feature]: Adding tax information to order confirmation gql"
**Is your feature request related to a problem? Please describe.**
Analytics eventing for order confirmation will frequently require tax information. Also enables easier customisation of order confirmation page to show order totals including tax breakdown.

**Describe the solution you'd like**
Fetch tax data in the order confirmation gql

**Please let us know what packages this feature is in regar

[2022-07-15 15:41] justinconabree opened #3906 "[bug]: Link component failing with 12.5 when no prefetch"
**Describe the bug**

The Link component can prefetch the link's page information. When this prefetch flag is false, it unsets the query that's used. This is failing as of 12.5 (which included an Apollo update).

**To reproduce**

Steps to reproduce the behavior:

Link component isn't implemented anywhere in base venia. Would need to use the component and not pass in `shouldPrefetch`

**Expected b

[2022-07-18 14:39] m2-assistant[bot] opened #3908 "[Issue] Fixing issue with Link when shouldPrefetch isn't passed"
This issue is automatically created based on existing pull request: magento/pwa-studio#3907: Fixing issue with Link when shouldPrefetch isn't passed

---------
## Description

12.5 updated Apollo client which seems to be stricter about what is passed to useLazyQuery. Must pass in a valid query regardless of whether or not it will be executed

- Fixing issue with apollo error due to undefined query

[2022-07-18 14:39] m2-assistant[bot] opened #3909 "[Issue] Adding tax information to order confirmation gql"
This issue is automatically created based on existing pull request: magento/pwa-studio#3905: Adding tax information to order confirmation gql

---------

## Description

Tax information is frequently required for analytics eventing and in general to show the user on the order confirmation page. This data should be fetched by default when completing the order.

## Related Issue

Closes #3904

## Ac

[2022-07-18 14:41] anthoula commented on #3909
@magento export issue to JIRA project PWA as Story

[2022-07-18 14:56] anthoula commented on #3408
Feel free to open a pull request to make this contribution!

[2022-07-18 15:41] #3836 closed, assigned to nobody

[2022-07-18 16:35] #3908 closed

[2022-07-18 17:07] #3837 closed

[2022-07-18 19:05] #3827 closed, assigned to nobody

[2022-07-19 16:04] rtsehynka-gm opened #3910 "[feature]: Add 3D Secure for Braintree in PWA Studio"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-19 16:17] #3910 closed

[2022-07-25 07:43] levtronix commented on #2704
@magento add to contributors team

[2022-07-25 13:20] CallMeSudhanshu commented on #2810
@sirugh @ericerway what is the progress on this issue ? the windows development environment still seem to have issues related to webpack and other compilation issues in the latest develop branch

[2022-07-25 14:42] #3823 closed

[2022-07-25 15:09] anthoula commented on #3900
Thanks @Zwernemann - the new link is https://developer.adobe.com/commerce/pwa-studio/ and we've updated some instances in documentation where the old vanity url remained.

[2022-07-25 20:27] VladimirZaets opened #3913 "GJSS TEST ISSUE #1"
**Describe the bug**

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Possible solutions**

Add any i

[2022-07-25 20:28] VladimirZaets commented on #3913
@adobe export issue to Jira project PWA

[2022-07-26 04:54] Dencer opened #3914 "overlapped all the images but still not refreshing while add to home"
<img width="446" alt="Screenshot 2022-07-26 at 10 22 45 AM" src="https://user-images.githubusercontent.com/6223586/180926225-b6d586b4-7987-43ea-8527-f615d09a0a84.png">

[2022-07-26 11:36] nonni96 opened #3915 "[bug] Item being removed from cart after editing to the same configurable option."
**Describe The Bug**

Item is being removed from the cart when editing to the same configurable option as before and pressing 'update'.

**To reproduce**

1. Go to https://venia.magento.com/thick-leather-braided-belt.html
2. Choose any size of the belt
3. Add to your cart
4. Go to 'Edit Shopping Bag'
5. Click on the 'edit item' button of the item you added to the cart
6. Click the same size you ha

[2022-07-26 18:40] #3913 closed

[2022-07-26 18:41] VladimirZaets opened #3917 "GJSS test issue #2"
**Describe the bug**

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Possible solutions**

Add any i

[2022-07-26 18:41] VladimirZaets commented on #3917
@adobe export issue to Jira project PWA

[2022-07-26 18:44] #3917 closed

[2022-07-28 04:55] Dencer opened #3919 "[Docs]: How to implement Push notification in PWA Studio"
It will be great if you provide us some steps in Frontend and backend .

[2022-07-28 20:02] anthoula commented on #3919
@adobe export issue to Jira project PWA

[2022-07-28 20:05] anthoula commented on #3915
@adobe export issue to Jira project PWA as Bug

[2022-07-28 20:31] anthoula commented on #3914
@Dencer Thank you for the feedback. Please provide additional details for your issue: Steps to reproduce, expected results, actual results.

[2022-07-28 20:50] m2-assistant[bot] opened #3920 "[Issue] AC-3522::Product search result with items count is not being read by screen reader"
This issue is automatically created based on existing pull request: magento/pwa-studio#3891: AC-3522::Product search result with items count is not being read by screen reader

---------

## Description
product search result with items count is not being read by screen reader

Pre Conditions:

Have Venia setup working with Magento 2.4.5-alpha2 in the local.
Have sample data available in the instan

[2022-07-28 20:51] anthoula commented on #3920
@adobe export issue to JIRA project PWA as Story

[2022-07-28 21:00] m2-assistant[bot] opened #3921 "[Issue] AC-3522::Product search result with items count is not being read by …"
This issue is automatically created based on existing pull request: magento/pwa-studio#3882: AC-3522::Product search result with items count is not being read by …

---------
…screen reader

## Description

product search result with items count is not being read by screen reader

**Pre Conditions:**

Have Venia setup working with Magento 2.4.5-alpha2 in the local.
Have sample data available in th

[2022-07-28 21:01] anthoula commented on #3921
@adobe export issue to JIRA project PWA as Story

[2022-07-29 06:37] Dencer commented on #3914
Actually for mobile its working fine , but for desktop icon is not coming.

[2022-07-29 13:03] dilipjha100 opened #3922 "ProductAttributeMetadata is not declared in GraphQL schema In detail page"
{"errors":[{"debugMessage":"Config element \"ProductAttributeMetadata\" is not declared in GraphQL schema","message":"Internal server error","extensions":{"category":"internal"},"trace":[{"file":"\/srv\/users\/axmagento\/apps\/axmagento\/public\/vendor\/magento\/framework\/GraphQl\/Schema\/Type\/TypeRegistry.php","line":68,"call":"Magento\\Framework\\GraphQl\\Config::getConfigElement('ProductAttri

[2022-07-29 14:44] anthoula commented on #3914
Thank you @Dencer . Can you provide steps to reproduce, and versions where this is occurring?

[2022-08-02 14:48] anthoula commented on #3914
For additional support on your issue, please see our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us)

[2022-08-02 14:48] #3914 closed

[2022-08-02 14:51] Dencer commented on #3914
Actually in Chrome browser I am getting it my app image is not updated, but its working while installing in mobile .

[2022-08-02 19:49] anthoula commented on #3919
Hi @Dencer - We are tracking this internally, and planning to work on a guide on how this may be done. In the meantime, please reach out to our [PWA community Slack channel](https://github.com/magento/pwa-studio/wiki#contact-us) for additional support.

[2022-08-03 13:51] SergioDonati opened #3924 "[bug]: NoProductsFound component not work properly"
**Describe the bug**

Component NoProductsFound still use category id instead of uid.

**To reproduce**

Steps to reproduce the behavior:

1. Go to in category page
2. Click on filter without products
3. NoProductsFound will render with warnings

**Expected behavior**

No show warnings and validation errors

**Possible solutions**

NoProductsFound and useNoProductsFound should use uid and expect a

[2022-08-04 08:49] V-Arakelyan opened #3926 "[bug]: useLink operations empty object destructuring"
Hi guys!

I've encountered during projects upgrade from PWA 10.0.0 -> 12.5.0 this chunk of the code, which breaks projects execution, and I believe there is some logic written wrong in `@magento/peregrine/lib/talons/Link/useLink.js`:
![image](https://user-images.githubusercontent.com/98821693/182804553-38bb6fc2-a52c-4854-8a04-2b8e3469e178.png)

`const operations = shouldPrefetch ? mergeOperations(

[2022-08-16 18:17] #3922 closed

[2022-08-16 18:18] anthoula commented on #3924
@adobe export issue to JIRA project PWA as Bug

[2022-08-16 18:19] anthoula commented on #3926
@adobe export issue to JIRA project PWA as Bug

[2022-08-16 18:22] m2-assistant[bot] opened #3934 "[Issue] Gomage/plugin braintree three d secure"
This issue is automatically created based on existing pull request: magento/pwa-studio#3933: Gomage/plugin braintree three d secure
##  

**Please let us know what packages this bug is in regards to:**
 - <x> `venia-concept`

 - <x> `venia-ui`

 
## Test Plan
* Enable Braintree 3D secure in admin
  * Verify user can place order using sample Visa and master cards
  * Verify user can place order whe

[2022-08-16 18:23] anthoula commented on #3934
@adobe export issue to JIRA project PWA as Bug

[2022-08-22 17:00] m2-assistant[bot] opened #3937 "[Issue] Logo misses required alt property for image"
This issue is automatically created based on existing pull request: magento/pwa-studio#3936: Logo misses required alt property for image
##
In my installation, the Image component requires the `alt` property, but the `Logo` component does not render one.

### Test Plan
1. Verify logo image has alt property
2. Run cypress to make sure nothing broken
3. Click on Venia logo in desktop and mobile by b

[2022-08-22 17:00] anthoula commented on #3937
@adobe export issue to JIRA project PWA as Bug

[2022-08-22 17:13] m2-assistant[bot] opened #3938 "[Issue] AC-3522::Product search result with items count is not being read by …"
This issue is automatically created based on existing pull request: magento/pwa-studio#3935: AC-3522::Product search result with items count is not being read by …

---------

## Description

product search result with items count is not being read by screen reader

Pre Conditions:

Have Venia setup working with Magento 2.4.5-alpha2 in the local.
Have sample data available in the instance
Have Goo

[2022-08-22 17:14] anthoula commented on #3938
@adobe export issue to JIRA project PWA as Story

[2022-08-23 14:15] JustinConabreeAbsolunet commented on #3926
Probably a duplicate of https://github.com/magento/pwa-studio/issues/3906

[2022-08-23 14:47] alecarg commented on #3810
+1

[2022-08-23 14:56] chris-brabender commented on #3854
@anthoula - is there any update on this issue?

[2022-08-23 20:36] anthoula commented on #3854
@adobe export issue to JIRA project PWA as Bug

[2022-08-23 20:37] anthoula commented on #3854
@chris-brabender This has been reprioritized and is in our backlog

[2022-08-23 21:18] m2-assistant[bot] opened #3939 "[Issue] AC-2790::No visual indication of focus on buttons."
This issue is automatically created based on existing pull request: magento/pwa-studio#3864: AC-2790::No visual indication of focus on buttons.

---------

## Description

Description
No visual indication of focus on buttons.

Environment
Adobe Magento - LUMA

Context
Windows 10; Chrome 88;

Reproduction Steps
Locations (representative sample):

Search Results
Sub-Category landing page
Mini Cart
C

[2022-08-23 21:19] anthoula commented on #3939
@adobe export issue to JIRA project PWA as Story

[2022-08-23 21:21] m2-assistant[bot] opened #3940 "[Issue] AC-2489::Page title for search page not informative (Search Results)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3931: AC-2489::Page title for search page not informative (Search Results)

---------

## Description

Reproduction Steps
search "short" - [NODE][body>div:nth-of-type(1)>*:nth-child(1)>*:nth-child(3)]

1. Execute a site search and observe the page title in the browser tab.

Actual Behavior
The search page does n

[2022-08-23 21:22] anthoula commented on #3940
@adobe export issue to JIRA project PWA as Story

[2022-08-24 12:53] #3924 closed

[2022-08-24 17:56] #3820 closed

[2022-08-25 08:48] sanganinamrata opened #3943 "[bug]: AC-2481::Flyout panels do not trap focus while open"
**Describe the bug**

This issue is created for pull request: https://github.com/magento/pwa-studio/pull/3942: AC-2481::Flyout panels do not trap focus while open

**To reproduce**

Steps to reproduce the behavior:

1. Go to 'Any category page in developer mode'
2. Scroll down to 'console window'
3. See an error attached in below screenshot.
<img width="990" alt="Screen Shot 2022-08-25 at 12 49 37