[2019-09-06 14:14] #1622 closed

[2019-09-06 16:48] #1320 closed

[2019-09-06 17:10] #1546 closed

[2019-09-06 17:56] #1583 closed

[2019-09-06 20:23] #1597 closed

[2019-09-06 20:56] #1334 closed

[2019-09-09 09:39] amsterdamharu opened #1641 "[feature]: Gallery items creates new items even if items didn't change"
Gallery items components re [creates new items](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/Gallery/items.js#L38-L45) even if items did not change. This causes the items in list to execute render function.

Instead only map items [when items changed](https://github.com/amsterdamharu/pwa-studio/blob/d63b803/packages/venia-ui/lib/components/Gallery/items.js#L6

[2019-09-09 14:05] cherdman opened #1645 "[bug]: GitHub Security Alerts"
Describe the bug
GitHub's automated security fixes has identified issues with four dependencies: `eslint-utils`, `open`, `diff`, `sync-exec`

https://github.com/magento/pwa-studio/network/alerts

[2019-09-09 14:39] dpatil-magento opened #1646 "[task]: PWA 4.0 regression testing"
Execute all test cycles listed in test plan.

<img width="685" alt="image" src="https://user-images.githubusercontent.com/40405790/64540351-adfea000-d2e5-11e9-91b5-078801ed7201.png">

[2019-09-09 14:47] jcalcaben opened #1647 "[doc]: Revise 4.0.0 release notes"
**Describe the request**

Update the 4.0.0 release notes with up to date information about the release.

**Possible solutions**

Update `CHANGELOG.md`

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (ie. spelling, organization)

[2019-09-09 18:39] revanth0212 commented on #1623
1. Separating out runtime code from actual code into a separate chunk will only load the actual code when a new build is generated. This step will create 3 chunk as opposed to 2 as of today, namely, client (which contains business logic), runtime (which contains webpack related logic) and vendors (which contains all the node_modules logic needed by client).
2. Adding hash to chunk file names, will

[2019-09-09 18:40] dpatil-magento opened #1649 "[bug]: Fix version number for `babel-preset-peregrine`"
**Describe the bug**
`babel-preset-peregrine`  has version number 2.1.0 instead of 1.0.0 as its new package.

**To Reproduce**
Steps to reproduce the behavior:
1. Go package.json of `babel-preset-peregrine`

**Expected behavior**
Version number should be 1.0.0

[2019-09-09 19:39] #1649 closed

[2019-09-10 06:18] dpatil-magento opened #1653 "[bug]: "shop the look" category image does not load when fastly enabled backend is used."
**Describe the bug**
 "shop the look" category image does not load when backend with fastly is used.

**To Reproduce**
1. Set Fastly enabled Magento backend URL and build and deploy application locally or on AWS.
2. Go to venia home page.

**Expected behavior**
All category an dimages should load.

**Actual behavior**
Category shows up but image does not load. Also on entering the category, first

[2019-09-10 08:38] bgindikagamage commented on #1225
add new apollo hook for mutation .. (use psot method not get method)

[2019-09-10 13:37] sirugh commented on #1599
We attempted to utilize `useReducer` and context instead of redux but found it too troublesome when it came down to orchestrating asynchronous actions between components at different locations in the app. For now we are just going to move Redux to peregrine along with the actions, stores, and other related code (`venia-ui` depends on `peregrine`, not the other way around).

[2019-09-10 13:37] #1599 closed

[2019-09-10 15:02] dpatil-magento commented on #1645
`sync-exec`  can be deferred to future release. BUt `open` and `diff` needs to go in 4.0.0

[2019-09-10 15:13] dpatil-magento opened #1655 "[bug]: GitHub Security Alerts - `open`"
GitHub's automated security fixes has identified issues with four dependencies:  `open`

https://github.com/magento/pwa-studio/network/alerts

These need to be addressed prior to the release of 4.0.0

[2019-09-10 15:15] dpatil-magento opened #1656 "[bug]: GitHub Security Alerts - `sync-exec`"
GitHub's automated security fixes has identified issues with four dependencies:  `sync-exec`

https://github.com/magento/pwa-studio/network/alerts

[2019-09-10 16:04] dpatil-magento commented on #1609
Successfully deployed to cloud starter env.

[2019-09-10 16:04] #1609 closed

[2019-09-10 17:47] supernova-at opened #1657 "Upgrade Apollo View Layer"
PWA Studio depends on [apollo-client](https://github.com/apollographql/apollo-client) and (currently) its React view layer integration [react-apollo](https://github.com/apollographql/react-apollo).

As of `v3.0.0` of `react-apollo`, however, Apollo recommends using hooks for all new Apollo code going forward. In addition to following best practices, PWA Studio can realize a 50% Apollo bundle size

[2019-09-10 18:00] sirugh opened #1658 "[bug]: Product Full Detail allows adding to cart without all required options selected"
**Describe the bug**
A product should only be allowed to be added to cart if all the required options are selected. For example we require a color _AND_ a size to be selected, however currently if you select one of them then the `add to cart` button is enabled and you can click it. This will throw an error because the API requires both options.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-09-10 18:20] supernova-at opened #1659 "Apollo Client Advanced Configuration"
A full list of configuration options for `apollo-client` can be found at https://www.apollographql.com/docs/react/essentials/get-started/#configuration-options.

Please ensure the following options are set appropriately:

1. `fetchOptions` / `headers`

We always want to send the `Accept-Encoding` header with `gzip` listed.
Note: Is this a default? Requests appear to already include this header.

2

[2019-09-10 18:30] supernova-at opened #1660 "Change the bigger venia-ui direct "dependencies" to "peerDependencies""
We want developers to be able to control the versions of the larger and more important dependencies of our libraries. The tool for doing this is `peerDependencies` in `package.json`.

A good example of what we want is the package.json in Peregrine: it depends on libraries like `@apollo/react-hooks`, but instead of making them transitive "hard" dependencies, it allows the downstream dependent proje

[2019-09-10 18:47] supernova-at opened #1661 "Improve Cache Hits for PDPs"
Apollo's [InMemoryCache](https://www.apollographql.com/docs/react/v2.5/advanced/caching/#inmemorycache) is a normalized data store that serves as our Apollo cache.

It has a [configuration option](https://www.apollographql.com/docs/react/v2.5/advanced/caching/#configuration) called `cacheRedirects` which gives us an opportunity to serve PDP data from the cache instead of having to re-fetch product

[2019-09-10 18:50] supernova-at opened #1662 "Fix Simple Product Heuristic Fragment Matcher"
By default, `apollo-cache-inmemory` uses a heuristic fragment matcher. Since PWA Studio is using fragments on unions and interfaces, we will need to use an `IntrospectionFragmentMatcher`.

Apollo provides a guide on how to accomplish this here:
https://www.apollographql.com/docs/react/advanced/fragments/#fragments-on-unions-and-interfaces

**Acceptance Crtieria**
1. The console warning that appear

[2019-09-10 19:22] supernova-at opened #1663 "Enable Apollo useQuery partialRefetch"
After moving to Apollo's new hooks in #1657, ensure that the `partialRefetch` option on the `useQuery` hook is set to `true`.

The Apollo docs say:

See https://www.apollographql.com/docs/react/api/react-hooks/#options.

Side note: It would be great if consumers didn't have to set this value on *every* usage of `useQuery` 😉

[2019-09-10 20:27] #1602 closed

[2019-09-11 13:05] supernova-at opened #1665 "Use Apollo's OptimisticUI"
Optimistic UI is a pattern to simulate the results of a mutation and update the UI even before receiving a response from the server. This affects the perceived performance of the app to make it _feel_ faster.

In appropriate places throughout Venia, implement Optimistic UI via Apollo.

Some places that it could be implemented include:
  1. Add to cart
  2. Update item in cart
  3. Remove item from

[2019-09-11 13:13] supernova-at opened #1666 "Normalize the Apollo Cache"
Apollo Client splits out each object in a GraphQL result with a `__typename` and an `id` (or `_id`) property into its own entry in the Apollo cache.

Returning a value from a mutation with an `id` property will automatically update any queries that fetch the object with the same `id`.

Please see the [Apollo Guide for Normalization](https://www.apollographql.com/docs/react/advanced/caching/#normal

[2019-09-11 13:23] supernova-at opened #1667 "Implement Apollo Retry Link"
PWAs are often touted for high latency / poor connection situations. As such, we should attempt to retry network operations that fail.

The `apollo-link-retry` link provides exponential backoff, and jitters delays between attempts by default.

[Here is how to compose Apollo Links](https://www.apollographql.com/docs/link/composition/) and this `apollo-link-retry` should be inserted before the `apol

[2019-09-11 13:32] supernova-at opened #1668 "Replace REST Cart Operations with GraphQL Mutations"
Magento 2 GraphQL defines mutations on the cart that PWA Studio is not yet taking advantage of.

In fact, they even have a [checkout tutorial](https://devdocs.magento.com/guides/v2.3/graphql/tutorials/checkout/checkout-customer.html).

The bulk of our REST usage is in the context of managing the cart, so see if we can't replace that with GraphQL calls instead.

It would be great if we didn't have

[2019-09-11 13:38] supernova-at opened #1669 "Batch Initial Data Needs"
To decrease the number of roundtrips to the server, create a GraphQL query that fetches all the initial data that a PWA storefront would need.

This could include:
  * The navigation tree
  * The list of categories
  * The cart and its details
  * Store configuration / information

See the [getCategory query](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/queries/getCateg

[2019-09-11 13:45] supernova-at opened #1670 "Add Comments to GraphQL Queries"
GraphQL supports the `#` character for comments in a GraphQL query.

We should document our queries just like we document our JavaScript functions, including:

* A good semantic name
* The purpose / description of the query
* What each input parameter is

[2019-09-11 15:00] supernova-at opened #1671 "Upgrade to @apollo/react-testing"
There are a few places (like [this](https://github.com/magento/pwa-studio/blob/fa0a4c9b45757c272f6b745c546e8b61b1da40db/packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js#L3)) where we're using `react-apollo/test-utils`.

We should upgrade to the new `@apollo/react-testing` library:
https://www.apollographql.com/docs/react/api/react-testing/#installation

[2019-09-11 15:07] zetlen commented on #1623
1. **Runtime chunk** -- I've experimented with this before and not found a great improvement, but there are a lot of settings to tweak and I may have gotten it wrong. I'd love to see a demo that improves performance.
2. **Minification** -- I'm very interested in the changes we might see from `babel-minify`, but I'm concerned that there would be a regression in our tree-shaking. Right now, the Ters

[2019-09-11 15:41] supernova-at opened #1672 "Consolidate Apollo Usage"
Venia has the idea of "drivers" (alias `@magento/venia-drivers`) to promote portability.

As part of this process, we create an Apollo Client in [the Venia drivers Adapter](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/drivers/adapter.js#L60).

Peregrine also has the idea of portability, and uses `ApolloContext` in its [useApolloContext hook](https://github.com/magento/p

[2019-09-11 15:41] revanth0212 commented on #1623
Thanks for that @zetlen. I'll work on the numbers to get more insights into the suggestions I made earlier.

The runtime chunk will change with every run of webpack even if the app code has not changed. Separating it out will not make the UI fetch client and vendors code because they haven't changed making the refresh look faster.

Honestly, I am not sure how did that work but as most of the disco

[2019-09-11 17:34] supernova-at commented on #1624
# GraphQL in PWA Studio

PWA Studio uses [GraphQL](https://graphql.org/) to query the [Magento GraphQL API](https://devdocs.magento.com/guides/v2.3/graphql/index.html).

# Dependencies and Configuration

## Apollo

PWA Studio leverages [Apollo](https://www.apollographql.com/docs/react/) to request and cache GraphQL data, and update the UI.

Currently, PWA Studio depends on the [Apollo Client](http

[2019-09-11 17:43] supernova-at opened #1673 "[Research Story] Audit Service Worker for Performance Improvements"
**What?**
Examine PWA Studio code for patterns of inefficient data consumption and caching, focusing on the service worker.

**Why?**
Conserving data use increases performance, reduces server load, and lowers bandwidth costs for users; it directly correlates to good user experiences.

**How?**
- Explore ServiceWorker optimizations:
  - Optimize caching strategies for our business use cases (Ex. ca

[2019-09-11 17:47] supernova-at commented on #1624
Here are the things the [GraphQL API caches](https://devdocs.magento.com/guides/v2.3/graphql/caching.html).

[2019-09-11 18:51] brendanfalkowski commented on #1670
As I understood it (and got stung) comments were not supported in GQL unless explicitly enabled because they chose to formalize a string literal `@desc` instead.

https://github.com/graphql/graphql-js/pull/927

It got me in trouble because IDEs didn't update to reflect the default removal of comments, and that caused the schema to fail validation in some of my early GQL work with PWA Studio.

I'd

[2019-09-11 18:52] revanth0212 commented on #1623
With Client Side caching is enabled and runtime bundle is separated and App code has been modified, a new client build is generated. Meaning when user refreshes or does a page transition after new deployment, only 443KB (New client.js) of data is downloaded instead of 1.08MB of data (New client.js and old vendors.js) as of today.

![image](https://user-images.githubusercontent.com/35203638/6472579

[2019-09-11 19:53] supernova-at commented on #1645
#1674 has been opened to address a vulnerability.

Please see [this internal document](https://wiki.corp.magento.com/pages/viewpage.action?pageId=120467454) for more information.

[2019-09-12 13:50] supernova-at opened #1677 "GetNavigationMenu Query Inefficiency"
In our `getNavigationMenu` query, [there is a comment](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/queries/getNavigationMenu.graphql#L11-L12) that explains an inefficiency in the query:

Track down `graphql-ce/374` and see if we can resolve this now.

[2019-09-12 14:12] supernova-at opened #1678 "Remove or Update Catalog Mock Data"
The [catalog mock data](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/actions/catalog/mockData.js) is not consistent with the results of the [getNavigationMenu GraphQL query](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/queries/getNavigationMenu.graphql) and therefore causes confusion.

Either update this file or remove it entirely.

[2019-09-12 15:11] jcalcaben opened #1679 "[doc]: Publish draft documentation for 4.0.0 features"
**Describe the request**

There is draft documentation for 4.0.0 features that need to be published. This can be done after 4.0.0 officially releases or before (since the features are already available as alpha packages in npm).

**Possible solutions**

Move draft documentation topics into appropriate directories and add table of content entries.

**Please let us know whether this is a new topic o

[2019-09-13 11:29] subhajyotiint opened #1681 "[bug]: Magento 2.3.2 - PWA - phtml Graphql fetching Issue via Static Block"
**Describe the bug**
When trying to call a phtml file in a static block, it's returning the null or empty value of the phtml file, but return the static HTML contents.

**To Reproduce**
Steps to reproduce the behavior:
1. admin create a static  block,
2. Then call a phtml file, and save it
3. Fetch the static block using graphql
4. See the issue

**Expected behavior**
Returning the phtml content.

[2019-09-13 11:38] subhajyotiint opened #1682 "[bug]: Widget in static block fetching error using graphql"
**Describe the bug**
Called a Product listing widget in a static block it's working properly in Magento frontend, but when trying to fetch the static content by using graphql then the error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin,
2. Create a static block
3. Call product listing by using widget
4. Fetch the static block using graphql
5. See the error

**Expected b

[2019-09-13 14:13] Jordaneisenburger commented on #1662
@supernova-at I've just implemented this solution in our project, I can make a PR if you're interested ?

[2019-09-13 15:05] sirugh opened #1684 "Merge directory actions/state/etc into checkout slice"
The directory state slice should be merged into the checkout slice in Peregrine

[2019-09-13 15:06] sirugh opened #1685 "Merge checkoutReceipt actions/state into checkout"
The checkoutReceipt actions/state/etc should be combined with the checkout slice.

[2019-09-13 16:25] revanth0212 commented on #1623
Also, as of today the service worker is not minified and cached. Working on that along with moving the service worker register logic to a cached file of its own so it won't be downloaded more than once (mainly because the register never changes). It doesn't make sense to leave it in the bundle as well since the bundle can change over time but the register logic doesn't.

[2019-09-13 19:30] supernova-at commented on #1624
Closing as "completed".

[2019-09-13 19:30] #1624 closed

[2019-09-15 11:22] MKostiantyn commented on #1658
#mm19pl

[2019-09-15 13:15] nmalecki commented on #1682
#mm19

[2019-09-16 14:26] awilcoxa commented on #982
This was already worked on and merged in PR #1395. If we discover other lighthouse driven issues those of course go right into grooming process. This discovery issue is meant to address larger accessibility compliance standards for future Venia implementation.

[2019-09-16 14:35] awilcoxa commented on #982
Probably fair to state that our target for WCAG 2.1 compliance should be AA level given that it's specifically required by EU Directive (which seems to be the most strict standard that is currently set).

Here's the list of AA requirements: https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_customize&levels=a%2Caaa#top

@soumya-ashok let's work to build out a chart displaying where we c

[2019-09-16 14:51] #642 closed

[2019-09-16 14:51] #641 closed

[2019-09-16 14:58] awilcoxa commented on #791
@VitaliyBoyko I'm closing this ticket for now given stale state. If you're still experiencing this please let us know by re-opening the ticket or reaching out via the community slack channel.

[2019-09-16 14:58] #791 closed

[2019-09-16 15:00] awilcoxa commented on #973
Moved to modular component library milestone for @jimbo and @sirugh review. If this is already accounted for in existing work then we can close this ticket.

[2019-09-16 15:02] dhaecker opened #1688 "[feature]: Enable CI/CD to Allow For Running Against Different Cloud Environments"
**Issue**
Current CI/CD for PWA Studio is limited to running against a single cloud environment which prevents other projects from adding seeded data for functional testing. This issue is currently preventing the Page Builder team from adding desired minimal gui functional testing coverage that runs during the CI/CD process

**Acceptance Criteria**
Allow CI/CD for PWA Studio to run against user de

[2019-09-16 15:04] zetlen opened #1689 "[feature]: Enable native image lazy-loading in browsers"
**Is your feature request related to a problem? Please describe.**
Like all other assets in a PWA, images should not load until they're needed. In a traditional webpage (and an older browser), images load when the page loads--even if they're way down the screen! The "lazy loading" technique developed to correct this.

In a lazy load, the code assumes an image is only needed when it appears in the

[2019-09-16 15:04] awilcoxa commented on #1134
Consolidating new shopper components to the Storefront and Theming milestone for further consideration

[2019-09-16 15:04] awilcoxa commented on #1136
Consolidating new shopper components to the Storefront and Theming milestone for further consideration

[2019-09-16 15:05] awilcoxa commented on #1133
Consolidating new shopper components to the Storefront and Theming milestone for further consideration. Closing this Epic and we will track effort against new milestone and possibly break work back out after review.

[2019-09-16 15:05] #1133 closed

[2019-09-16 15:16] awilcoxa commented on #1185
Moved all open items to milestone "CICD Improvements phase 2" closing this epic as completed given delivery of phase 1 improvements

[2019-09-16 15:16] #1185 closed

[2019-09-16 15:21] awilcoxa commented on #1370
closing this ticket as progress on stepper functionality has moved forward

[2019-09-16 15:21] #1370 closed

[2019-09-16 15:22] awilcoxa commented on #1371
@codynguyen1 do you have any updates here based on @zetlen last comment? Please let us know if you're still seeing the same issue.

[2019-09-16 15:24] awilcoxa commented on #1443
@zetlen

[2019-09-16 15:30] dpatil-magento commented on #1688
@dhaecker Currently `pwa-tests` have 2 versions.  branch `sampledata_master` runs tests on sample data installed instance. We use this one currently because of https://github.com/magento/pwa-studio/issues/1244.

There is also `master`  `develop` branch where tests first generate data via API's then test and clean-up data.  But here we can not use MFTF CLI commands as testing against remote Magento

[2019-09-16 15:39] codynguyen1 commented on #1371
I had to send store id, customer id, user session id and currency code along with GraphQL/Rest requests to receive the right user-based content, now it is working fine, just hoped there could be a solution that I did not have to do it manually.

[2019-09-16 15:39] #1371 closed

[2019-09-16 15:43] dhaecker commented on #1688
@dpatil-magento Since we are blocked by creating data using the Magento APIs in MFTF (#1244), we would have to have seeded data to run our tests against. If we were to add sample data to support Page Builder testing, then we would have to add this sample data to the Home Page since this is the only page that can be used with the current PWA limitations. Since we can only edit the Home Page, this w

[2019-09-16 15:44] zetlen commented on #1657
A 50% bundle size savings? I can't believe these deals! 💵 💸 💰

We will need to replace all instances of the `Query` component. Is that a separate story?

[2019-09-16 15:45] zetlen commented on #1660
Our own implementation of `useQuery` is causing some regressions in later versions of apollo-client. This would be rectified by fixing #1657 .

[2019-09-16 17:50] zetlen commented on #1659
The apollo client is essential to our Peregrine hooks. What do you think of putting this configurator in Peregrine itself, @jimbo and @supernova-at ?

[2019-09-16 18:09] awilcoxa commented on #973
Closing since the work is contained in #1604

[2019-09-16 18:09] #973 closed

[2019-09-16 18:12] #944 closed

[2019-09-16 18:18] awilcoxa commented on #1400
Will be addressed in discovery/research effort for #1623

[2019-09-16 18:18] #1400 closed

[2019-09-16 18:29] awilcoxa commented on #1271
Closing based on grooming review.

[2019-09-16 18:29] #1271 closed

[2019-09-16 18:38] awilcoxa commented on #1413
Removed bug label and categorizing this as a new feature request for multi-store support. Moving to backlog as new feature prioritization for grooming.

[2019-09-16 18:38] zetlen commented on #1413
@bordeo It is a documentation issue as @supernova-at pointed out. We should make it clearer in documentation that you're supposed to add the new env var definition to `packages/pwa-buildpack/envVarDefinitions.json`.

[2019-09-16 18:41] awilcoxa commented on #1225
Blocked by effort needed to switch to Apollo hooks, we'll revisit at the time that we've made that switch in #1657

[2019-09-16 18:43] awilcoxa commented on #1377
Will revisit this after completion of Modular Component Library milestone

[2019-09-16 18:45] awilcoxa commented on #1490
@Jordaneisenburger is this still an active issue? Can you ping us/update if so.

[2019-09-16 18:50] awilcoxa commented on #1052
Closing this bug assuming the issue no longer occurs, if it does, please re-open the bug and provide repro steps.

[2019-09-16 18:50] #1052 closed

[2019-09-16 18:51] awilcoxa commented on #1682
Needs review from @zetlen @sirugh

[2019-09-16 18:53] awilcoxa commented on #1681
needs review @zetlen @sirugh

[2019-09-16 18:59] awilcoxa commented on #1474
@supernova-at

[2019-09-16 19:00] awilcoxa commented on #895
@jimbo

[2019-09-16 19:01] #1655 closed

[2019-09-16 20:20] sirugh commented on #1684
@jimbo do you think the `catalog` slice is the right place for this? It feels a little more generic.

Also, there is a `countries` query in GQL and also a `directory/countries` rest endpoint. Are they the same thing?

[2019-09-16 20:22] sirugh commented on #1684
Answer: No it can go in `checkout`.

Updated accordingly :)

[2019-09-16 21:17] dpatil-magento commented on #1646
Execution complete.

[2019-09-16 21:17] #1646 closed

[2019-09-17 05:22] Jordaneisenburger commented on #1474
Adding #1662 for more context about the solution.

[2019-09-17 12:50] sirugh commented on #1662
@Jordaneisenburger definitely, or we can talk about it in the public channel first, or in here! Whatever works for you.

[2019-09-17 12:56] sirugh commented on #1377
For future-me, or whomever picks this up -- the reason we are pushing back on this is that we are making some changes to the Peregrine API and directory structure. Those may be applicable to the Toast work and since this issue will likely require a refactor we may as well wait.

[2019-09-17 15:01] Jordaneisenburger commented on #1662
@sirugh I'll make a PR so that we have something tangible to talk about

[2019-09-17 15:01] #1504 closed

[2019-09-17 15:14] dpatil-magento opened #1692 "[bug]: Remove storybook CI check"
**Describe the bug**
storybook CI check is not needed.

[2019-09-17 15:36] #1656 closed

[2019-09-17 16:02] supernova-at commented on #1623
@revanth0212 can we close this research story?

[2019-09-17 17:51] zetlen opened #1693 "[feature]: NPM initializer for "npm init" to make a new PWA"
**Is your feature request related to a problem? Please describe.**
You shouldn't have to clone the core repo to start a project. PWA Studio should be a dependency.

**Describe the solution you'd like**
Scaffolding and an initializer.

**Describe alternatives you've considered**
A yeoman generator, but no, that's a legacy tool at this point and it has unnecessary features.
A GitHub "template reposi

[2019-09-17 19:37] #1685 closed

[2019-09-17 20:16] sirugh commented on #1632
@jimbo when you say this do you mean do this work in the context creator like [here](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/context/user.js#L21) or in the reducer's initialState?

[2019-09-17 21:37] jimbo commented on #1632
The former.

[code]

[2019-09-17 21:41] cherdman opened #1695 "Release Checklist 4.0.0 - GA"
### GA
- [x]   Merge release 4.0.0 to master with new release tag and pre-release in github (Automated )
- [x]   Publish to NPM/package managers (Automated )
- [x]   Copy CHANGELOG to Github release details @dpatil-magento
- [x]   Publish devdocs  @jcalcaben
- [x]   Release  upward-php @dpatil-magento
- [x]   Release upward-connector @dpatil-magento
- [x]   Deploy latest on Cloud Pro Staging env @

[2019-09-17 21:44] cherdman opened #1696 "Release Checklist 4.0.0 - RTM"
### RTM Release Date and TIme - 09/20/19 1pm CST
### RTM
- [x] Author & Merge Release Notes to ./changelog.md  @jcalcaben
- [x] Commit Release Notes @jcalcaben
- [x] Approve/signoff build @dpatil-magento
- [x] Tag `rc-1` to packages and publish packages to NPM  @dpatil-magento
- [x] Verify AWS deploy & scale configuration @dpatil-magento
- [x] Deploy to Magento Cloud Pro Staging  @dpatil-magento

[2019-09-17 21:52] #1684 closed

[2019-09-18 03:18] fooman commented on #1681
This issue looks like more related to the GraphQl project than PWA - I'd suggest filing the same issue there https://github.com/magento/graphql-ce

[2019-09-18 14:27] supernova-at commented on #1625
# Results

## Metrics Affected

* [First Contentful Paint](https://developers.google.com/web/tools/lighthouse/audits/first-contentful-paint?utm_source=lighthouse&utm_medium=unknown)
* [First Meaningful Paint](https://developers.google.com/web/tools/lighthouse/audits/first-meaningful-paint?utm_source=lighthouse&utm_medium=unknown)
* [Time to Interactive](https://developers.google.com/web/tools/ligh

[2019-09-18 14:50] ericerway opened #1697 "[doc]: README update for pwa-studio"
**Describe the request**
Update to the README for pwa-studio is needed in preparation for our 4.0.0 release and activities at MLEU. Original content was suitable for early work but needs to reflect the current state of PWA Studio, Peregrine, Venia -- while encouraging new contribution and getting started (demos, screens) where possible. Need to refresh current contributors and any new guidance fro

[2019-09-18 15:31] supernova-at commented on #1673
This is a great article: https://jakearchibald.com/2014/offline-cookbook/

[2019-09-18 16:21] sirugh opened #1699 "Remove purchase history/details"
These are unused components. You cannot even navigate to them right now. It's more work to maintain them as is given all the change we've gone through with Peregrine. If we want to reimplement these in the future we can certainly look back at the code but IMO we should delete it so we don't have to maintain it anymore.

[2019-09-18 16:37] revanth0212 commented on #1623
Yes we can since all the findings are addressed in #1691

[2019-09-18 16:37] #1623 closed

[2019-09-18 16:48] dpatil-magento commented on #1692
Related PR - https://github.com/magento/pwa-studio-cicd/pull/20

[2019-09-18 16:53] sirugh commented on #1281
The contributor hasn't commented or updated the PR in a few weeks so I closed it with a comment explaining that.

We're still hoping someone can take this work across the finish line. If you want to do this, let us know! Just branch off the old PR and make the changes requested and we can reopen the PR or open a new one.

Thanks!

[2019-09-18 17:42] #1547 closed

[2019-09-18 17:47] sirugh commented on #1699
Doing this with #1632

[2019-09-18 17:47] #1699 closed

[2019-09-18 17:48] dpatil-magento opened #1704 "Migrate PWA CICD to PWA AWS account."
PWA CICD on AWS currently setup on Shared/Regression AWS account. Now we have got new PWA specific AWS account, which can be fully managed by PWA team.

Need to migrate entire PWA CICD to new AWS account.

- [x]   Host Zones in AWS r53
- [x]   Add PWA domains to r53
- [x]   Create S3 buckets for storage with expiration rules.
- [x]   Create parameter store variables
- [x]   Create pull request to

[2019-09-18 19:18] Jordaneisenburger opened #1705 "[bug]: getProductDetailByName.graphql is not solid since we can have multiple products with the same name"
**Describe the bug**
In `venia-ui` we use the query `getProductDetailByName.graphql` but merchants can have products with the same name. Right now if I remember correctly it picks the first match it finds

**Expected behavior**
Queries the actual product instead of the first match found

**Possible solutions**
Change the variable`name` for `sku` / `parentSku` based on if that's available or not

*

[2019-09-18 19:26] supernova-at opened #1706 "Measure the Performance of each Release"
# Summary

Create a document (internal? public?) that tracks PWA Releases and the performance metrics  identified below.

As part of this ticket, please also create a document that describes exactly how we measure each, so that it is trusted and repeatable. See [the issue](https://github.com/magento/pwa-studio/issues/1625#issuecomment-532709923).

## Metrics Identified

### Built / Deployed Asset

[2019-09-19 06:47] Jordaneisenburger commented on #1662
@sirugh PR open at #1707

[2019-09-19 13:32] supernova-at opened #1708 "Load Images Progressively"
# Overview

PWA Studio [has code in place](https://github.com/magento/pwa-studio/blob/fd465cae18132bd0c9b713af908f517d05d88acc/packages/venia-ui/lib/util/images.js#L26) to load the correct image sizes based on responsive design patterns.

What this issue aims to tackle is the related but slightly different concept of "progressive image loading". Progressive image loading is a technique used to aff

[2019-09-19 13:44] sirugh commented on #1708
Have you heard the good word about the new attribute in chrome, "loading"?

https://addyosmani.com/blog/lazy-loading/

[2019-09-19 13:50] supernova-at opened #1709 "Route-based Code Splitting"
# Overview

A lot of our recommendations from Google Page Speed Insights and WebPageTest are around delivering smaller JS payloads:

![Screen Shot 2019-09-19 at 8 36 24 AM](https://user-images.githubusercontent.com/13182778/65248909-97600200-dab8-11e9-8940-5d4f7459c81f.png)

# The Ask

Investigate alternate approaches to where we split our code in an effort to deliver smaller JS payloads.

# A Pos

[2019-09-19 13:56] supernova-at opened #1710 "Document Performance Measurement Tools"
# Overview

Research story #1625 identified several metrics to measure and how to measure them.

# The Ask

Document (tutorials / guides preferably) how to measure using each of the following tools:

* [Google Page Speed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fvenia.magento.com%2F)
* [WebPageTest](https://webpagetest.org/)
* [React Component Profiler](ht

[2019-09-19 14:00] supernova-at commented on #1625
- [x] Write-up of audit results and proposed changes
- [x] Actions and next steps created in the form of GitHub issues

[2019-09-19 14:16] supernova-at opened #1711 "WebPageTest GitHub Action"
# Overview

Each PR into PWA Studio gets a unique, custom deployment powered by our CI process.
WebPageTest is an important tool for measuring our deployed artifact.

# The Ask

Install the [WebPageTest GitHub Action](https://github.com/marketplace/actions/webpagetestaction) to run against every PR and report WebPageTest results.

[2019-09-19 14:20] supernova-at opened #1712 "Integrate Page Speed Reporting into CICD process"
# Overview

Google Page Speed Insights is a subset of Lighthouse, an important tool for measuring the performance of the Venia reference PWA storefront.

<https://developers.google.com/speed/docs/insights/v5/get-started?utm_source=lh-chrome-ext>
# The Ask

Implement [page speed reporting](https://github.com/GoogleChromeLabs/psi) as part of our CI process to report on the important metrics of Googl

[2019-09-19 14:25] supernova-at opened #1713 "Redirect HTTP traffic on venia.magento.com"
# Overview

Our Lighthouse Audit shows that Venia is only 6/7 "PWA Optimized" because the site https://venia.magento.com does not redirect HTTP traffic to HTTPS:

![Screen Shot 2019-09-19 at 9 22 30 AM](https://user-images.githubusercontent.com/13182778/65252807-35ef6180-dabf-11e9-944b-34f197a8dbb5.png)

# The Ask

Redirect HTTP traffic to HTTPS on venia.magento.com.
See https://developers.google.

[2019-09-19 14:28] supernova-at opened #1714 "Enable GZIP on Server"
# Overview

JSON + GZIP is one of GraphQL's [recommended best practices](https://graphql.org/learn/best-practices/#json-with-gzip):

Gzipping responses from the backend will reduce the number of bytes transferred over the wire back to the client.

Note that PWA Studio is already sending the `Accept-Encoding: gzip` header with its GraphQL requests, so we can see immediate results when GZIP is enabl

[2019-09-19 15:21] sirugh opened #1715 "[feature]: Make a `withRouter` hook and use it"
**Is your feature request related to a problem? Please describe.**
We use the `withRouter` HOC in several places.

[code]

**Describe the solution you'd like**
If there is a hook equivalent we should use it _or_ we should roll our own.

[code]

**Describe alternatives you've considered**
The alternative is that we leave it as is but I'd rather not ;)

[2019-09-19 15:44] supernova-at commented on #1710
There is no associated PR for this issue.
Instead, please review this Wiki page: https://github.com/magento/pwa-studio/wiki/How-We-Measure-Performance.

[2019-09-19 16:02] supernova-at commented on #1692
Related PR 👍

[2019-09-19 16:33] supernova-at commented on #1659
If we like the extensibility model we've adopted for webpack configs, I think that could make sense here too.

"Here's what PWA Studio expects (baseline / default), you can overwrite some things if you want to".

[2019-09-19 16:43] brendanfalkowski commented on #1708
Same as? https://github.com/magento/pwa-studio/issues/1689

Helped test the canary release of the `loading` attribute, and it's in pretty good shape now.

[2019-09-19 16:50] dpatil-magento commented on #1710
These might be testing flows but good to document?
1. Currently we measure performance of home page only.  But we should start tracking Category and Product page too.  How about search results page?
2. Mostly in phase 2, we should try tracking checkout flow as well?  Its Being a overlay not sure, I would say good to track time taken once use clicks on Confirm button till Confirm screen.

On WPT Ad

[2019-09-19 19:33] supernova-at commented on #1706
The idea is that this "metrics collection" would be done as part of each release.

[2019-09-19 19:45] supernova-at commented on #1708
Thanks for the links!

This issue is intended to be slightly different than lazy loading - I meant for this ticket to take over once the browser knows that it should definitely show the target image.

I'm envisioning that at this time, the browser would request both the placeholder - either a small version of the actual image, or an inlined (possibly animated) "loading" image - and the full image.

[2019-09-19 19:53] supernova-at opened #1719 "HeadTag Cascading Update"
Immediately after our first render there is a cascading update:

![Screen Shot 2019-09-18 at 8 57 34 AM](https://user-images.githubusercontent.com/13182778/65155188-69b08580-d9f2-11e9-9eb4-362a4ac0be40.png)

Investigate `HeadTag.componentDidMount` and `MagentoRouteHandler.componentDidMount`, the former of which scheduled a cascading update.

If there are code changes that can be made to avoid the

[2019-09-19 19:54] dpatil-magento commented on #1692
Merged to cicd repo.

[2019-09-19 19:54] #1692 closed

[2019-09-19 19:59] sirugh commented on #1719
We don't own HeadTag: https://github.com/tizmagik/react-head/blob/master/src/HeadTag.js

[2019-09-19 19:59] jcalcaben opened #1720 "[doc]: State management"
**Describe the request**

We need topic that explains how to do state management with PWA Studio libraries.

**Possible solutions**

A topic that should answer the following questions:

- What is state management?
- What are common state management strategies/libraries?
- How does PWA Studio manage state in Venia?
- What do I need to do to manage state using PWA Studio libraries?

[2019-09-19 20:01] sirugh commented on #1720
@jimbo we should probably help out with this when possible.

[2019-09-19 20:11] supernova-at commented on #1625
Well it turns out I did mostly the wrong kind of investigation on this one.

Re-opening to dive back into React-specific performance (via the React Profiler).

[2019-09-19 20:12] supernova-at commented on #1625
# Audit Results

## Use performance profilers in Chrome dev tools and other browsers, including Safari in the iOS Simulator

## Record profile information while using all storefront UI behaviors: navigation, selection, filtering, cart, checkout

## Identify areas where many re-renders from high up in the render tree are occurring in a short time

## Investigate any common patterns which cause exce

[2019-09-19 20:20] #1603 closed

[2019-09-19 20:34] jcalcaben opened #1721 "[doc]: Update project wiki"
**Describe the request**

The project wiki is out of date.

**Possible solutions**

Update the project wiki with more up to date information about the project, how to contribute, dependency management, etc.

[2019-09-19 21:41] soumya-ashok opened #1723 "Make pagination bar non-sticky"
The current implementation of pagination has it fixed at the bottom of the window.
Research indicates that it would be better for this element not to be fixed.
Pagination controls can be placed at the bottom of the page under all the product listings.

[2019-09-19 21:47] soumya-ashok opened #1724 "[bug]: States on continue shopping button in empty cart"
**Describe the bug**
On the desktop site, when the pointer hovers over the button, the text disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the shopping cart on desktop veniapwa.com
2. Move the mouse pointer over the "continue shopping" button

**Expected behavior**
Button in static state is dark gray background, white text
Button in mouse-over state is teal background, whi

[2019-09-19 21:49] sirugh commented on #1723
@soumya-ashok can you expand or provide a mock for this? I'm a little confused by what you're asking for here.

[2019-09-19 21:50] sirugh commented on #1723
Also, is this something we can do with a toggle/configuration so people can do it either way?

[2019-09-19 21:51] soumya-ashok opened #1725 "Remove Venia logo from loading state"
It is not best practice to have brand elements associated with any potentially negative scenarios such as loading states that may or may not lead to a successful and quick page load.

The recommendation is to remove the logo from all loading states and to either use a generic icon or just plain text.

Scope:
* Replace existing Venia branded logo with provided asset (SVG or CSS icon)

PO would pref

[2019-09-19 21:54] sirugh commented on #1725
Oh wow. Didn't know that!

Any suggestions for what these should look like now? Are you talking about the spinner?

[2019-09-20 12:11] kweij commented on #1570
It's working in the current `develop` version, so .. whatever it was, it's fixed.

[2019-09-20 12:11] #1570 closed

[2019-09-20 13:50] #1632 closed

[2019-09-20 14:10] sirugh commented on #1721
Include updates to installing, adding dependencies through `yarn` and using the `resolutions` field in package.json

[2019-09-20 14:25] soumya-ashok commented on #1725
@sirugh I recently learned this myself! Yes, I mean the spinner. We can keep just the text for now until we land on a more elegant solution. Would that work?

[2019-09-20 14:36] supernova-at commented on #1725
It'll work but "perceived performance" wants some sort of indication that _something_ is happening. A think a simple animation is better than static text in that regard.

[2019-09-20 14:39] sirugh commented on #1725
How about spinning text :D

[2019-09-20 14:41] sirugh commented on #1711
Can we use actions that require secrets in our public repo? I don't think so :(

[2019-09-20 14:42] sirugh commented on #1714
Should we open this issue with the graphql team?

[2019-09-20 14:43] sirugh commented on #1713
@cherdman @ericerway who owns this host?

[2019-09-20 14:51] dpatil-magento commented on #1696
QA sign-off on 53a1c009b5c8e8eccc3d8afe67a1547726829400

[2019-09-20 15:14] soumya-ashok commented on #1725
@supernova-at Could we use the 3 blinking dots?
@sirugh :P

[2019-09-20 15:20] soumya-ashok commented on #1723
@sirugh People can definitely customize and utilize the pattern that works best for their context, but the standard design that we have would have the pagination inline under page content.

In the gif below, you can see how the pagination bar is sticky until we reach the end of the page, where it attaches itself to the page. We just need to remove the sticky state and have it live at the bottom of

[2019-09-20 16:02] sirugh commented on #1723
[![Image from Gyazo](https://i.gyazo.com/d51cab6f805bb65d6c00f59fd8517680.gif)](https://gyazo.com/d51cab6f805bb65d6c00f59fd8517680)

^ gif of current functionality which we *do not want*. We want it to always be at the bottom under the images, like where it is when you scroll down far enough.

[2019-09-20 16:05] jcalcaben opened #1728 "[doc]: JSDocs for Peregrine List components"
**Describe the request**

Create or update comment blocks in for the Peregrine [List components][] so that they adhere to [JSDocs][] standards.

[jsdocs]: https://devdocs.io/jsdoc/
[list components]: https://github.com/magento/pwa-studio/tree/develop/packages/peregrine/lib/List

**Possible solutions**

Add JSDoc comment blocks to the Peregrine List components:

* List
* Items
* Item

See [useListS

[2019-09-20 16:10] jcalcaben opened #1729 "[doc]: JSDocs for ProductImageCarousel components"
**Describe the request**

Create or update comment blocks in for the Venia-UI [ProductImageCarousel][] component so that it adhere to [JSDocs][] standards.

[jsdocs]: https://devdocs.io/jsdoc/
[productimagecarousel]: https://github.com/magento/pwa-studio/tree/develop/packages/venia-ui/lib/components/ProductImageCarousel

**Possible solutions**

Add JSDoc comment blocks to the Carousel component in

[2019-09-20 16:17] jcalcaben opened #1730 "[doc]: JSDocs for basic Venia UI components"
**Describe the request**

Create or update comment blocks for some of the basic Venia-UI component so that they adhere to [JSDocs][] standards.

[jsdocs]: https://devdocs.io/jsdoc/

**Possible solutions**

Add JSDoc comment blocks to the following basic components:

* [Modal][]
* [Mask][]
* [Trigger][]
* [Logo][]
* [Button][]
* [Button Group][]

[modal]: https://github.com/magento/pwa-studio/blob/

[2019-09-20 16:18] zetlen commented on #1725
@soumya-ashok Too bad about the spinner being a worst practice--it's very attractive.

This might be an opportunity to introduce the [emerging best practice of page skeletons](https://blog.iamsuleiman.com/stop-using-loading-spinner-theres-something-better/). There's a ready-made [React component](https://www.npmjs.com/package/react-loading-skeleton) to implement it quickly. This could be an explor

[2019-09-20 16:34] dpatil-magento commented on #1696
All checks complete.

[2019-09-20 16:34] #1696 closed

[2019-09-20 19:34] brendanfalkowski commented on #1723
FWIW, we removed sticky pagination already (also sticky header). It looks cool, but we try to always err on letting the user have their full screen for content rather than a fixed UI.

[2019-09-20 19:37] soumya-ashok commented on #1723
@brendanfalkowski Yes, agreed. Thanks for adding to the discussion! :)

[2019-09-20 20:02] revanth0212 commented on #1673
# Service Worker

Service Worker can do a lot of things to speed up the app. It can per-cache, pre-fetch, cache on request and update on request among other things. But each of the above-mentioned features of the Service Worker comes with disadvantages of their own depending on the type of client they are serving.

There are mainly 2 types of clients we will be serving:
1. Desktop Environments
2.

[2019-09-20 20:42] #1634 closed

[2019-09-21 01:00] zetlen commented on #472
This ticket is currently unassigned and @soumya-ashok has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, bear these things in mind:

- This is a major change to the product page UI, so it would be a larger contribution.
- Venia is both an example app, a starter template, and a component library, so its code needs to be clear and

[2019-09-21 01:10] zetlen commented on #1723
This ticket is currently unassigned and @soumya-ashok has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, bear these things in mind:

- This ticket is an enhancement, not a bug. The current sticky footer is not broken, it's just not the UX choice that we want Venia to make.
- Note that the Venia CSS modules do not have any backwa

[2019-09-21 01:21] zetlen commented on #1724
This ticket is currently unassigned and @soumya-ashok has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, it should be relatively simple to fix. It would be a good way to get started on the PWA Studio development stack!

[2019-09-21 01:25] zetlen commented on #1728
This ticket is currently unassigned and @jcalcaben has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, bear these things in mind:

- [JSDoc works much like JavaDoc](https://devdocs.io/jsdoc/) and other docblock comment systems. JSDoc doesn't use all the same directives as PHP documentation, so use the reference manual to find wha

[2019-09-21 01:27] zetlen commented on #1729
This ticket is currently unassigned and @jcalcaben has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, [see the comment here for tips on JSDoc contribution.](https://github.com/magento/pwa-studio/issues/1728#issuecomment-533756378).

[2019-09-21 01:28] zetlen commented on #1730
This ticket is currently unassigned and @jcalcaben has helpfully suggested it for Munich Contribution Day 2019. If you want to take this ticket at Munich Contribution day, [see the comment here for tips on JSDoc contribution.](https://github.com/magento/pwa-studio/issues/1728#issuecomment-533756378).

[2019-09-21 05:35] zetlen commented on #1705
Ever since we merged #1529 we don't actually have a real reason to have separate GraphQL query files! I think we perhaps shouldn't have them; they are an antipattern, as @jimbo pointed out to me long ago, because queries are supposed to be colocated with views--that's the point of GraphQL's flexibility.

[2019-09-21 06:15] zetlen opened #1731 "[bug]: Post-install script should stop suggesting custom origin setup once it's complete"
**Describe the bug**
When checking out and installing dependencies, a post-install script runs which logs:

[code]

It continues to log that custom origin notice even after you have run the command. It should detect that you've already run the command and stop logging.

**To Reproduce**
Steps to reproduce the behavior:
1. From repository root, run `yarn run watch:venia`.
2. If necessary, go throug

[2019-09-21 07:53] zetlen opened #1732 "[bug]: react-feather is still including unused icons in the bundle"
**Describe the bug**
The `react-feather` library is supposed to support "tree-shaking", where Webpack can eliminate unused code from its bundle. However, it's not working for `react-feather`:

![image](https://user-images.githubusercontent.com/1643758/65369218-5d0d7680-dc18-11e9-9b99-7c1f04f1e752.png)

In #1415 we updated to react-feather 2.0, but it's still not tree shaking.

**To Reproduce**
Ste

[2019-09-21 08:03] zetlen opened #1733 "[bug]: Search and Create Account should load asynchronously on request instead of in main bundle"
**Describe the bug**
The Search and CreateAccount RootComponents should load asynchronously, like all other RootComponents such as Product and Category. Instead, [the router statically imports them](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/App/renderRoutes.js) to manually specify them in the bundle.

These should change to dynamic imports, to reduce the s

[2019-09-21 08:18] LukasKiederle commented on #1724
I am currently working on it

[2019-09-21 09:29] LukasKiederle commented on #1724
I setup magento 2.3.2 with the current pwa-studio instance and the bug was not reproducable. It works as expected.

[2019-09-21 10:13] LukasKiederle commented on #1731
I am currently working on it

[2019-09-21 11:18] #1731 closed

[2019-09-21 12:29] LukasKiederle commented on #1723
I am working on it

[2019-09-21 13:20] andreasemer opened #1736 "Missing Newline in the Generate SSL certificate command"
In step 4 of https://magento.github.io/pwa-studio/venia-pwa-concept/setup/ there is the command "yarn buildpack create-custom-origin packages/venia-concept".

If you don't have a newline in the end of your host file (in OSX /etc/hosts) the current state is, that the new entry is added in the same line of existing entries, so the entry is not working.

[2019-09-21 13:45] andreasemer commented on #1736
Issue is fixed here https://github.com/davewasmer/devcert/pull/36

[2019-09-22 08:01] LukasKiederle commented on #1730
I am working on it

[2019-09-22 08:45] LukasKiederle opened #1737 "Rem size for pagination height is not rendered the same in every browser"
**Describe the bug**
The height of the paginations (Classes: category-pagination-3J2 and pagination-root-3sn) are not the same in firefox, chrome and safari.
*Height:* (see Screenshots)
- chrome, firefox: 58px
- safari: 62px

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the category view in chrome and safari
2. Inspect the pagination element
3. check their heights in both browsers

[2019-09-22 08:48] LukasKiederle commented on #1737
I am working on it

[2019-09-22 10:12] joniklas commented on #1724
Can confirm: Works as expected on Chrome Version 76.0.3809.132 (Official Build) (64-bit) Mac Mojave

[2019-09-22 13:03] #1723 closed

[2019-09-22 13:15] #1737 closed

[2019-09-22 13:42] andreasemer commented on #1736
The code is merged.

[2019-09-22 13:42] #1736 closed

[2019-09-23 13:16] paales commented on #1110
Wanted to comment on this as we've been burned very heavily in the past when relying on client side rendering only and we've came to the conclusion that proper SSR is absolutely required.

In the end, even though Google can render pages with their render engines, their html-scraper is x-amounts of time as fast, which reflects in the ranking of a page.

And besides that, 'pre rendering' on the serv

[2019-09-23 13:40] #1719 closed

[2019-09-23 13:52] supernova-at opened #1739 "Build-time GraphQL"
# Overview

Run-time calls to the GraphQL API to fetch data introduce latency and delay to the application.
Investigate whether we can fetch any data that the initial load of the application needs at build time and preload the application with it.

## Risks / Caveats

1. We don't know the frequency of builds. It may be entirely possible that the site is only ever "built" once.
1. We don't know the

[2019-09-23 13:55] supernova-at commented on #1617
Check the Risks & Caveats section of #1739 for issues we may run into when fetching GraphQL data at build time.

That said, "store name" should theoretically not change all that often 😄

[2019-09-23 13:59] supernova-at opened #1740 "GET or POST GraphQL queries"
# Overview

[The Magento GraphQL documentation](https://devdocs.magento.com/guides/v2.3/graphql/caching.html) states

# The Ask

Determine the pros & cons of sending GET `query` requests to GraphQL instead of POST.

1. This "full page" caching may not be applicable to PWAs
1. This may have negative side effects

[2019-09-23 14:05] supernova-at opened #1741 "Venia Adapter Optimization"
# Overview

On initial application load, the [VeniaAdapter](https://github.com/magento/pwa-studio/blob/release/4.0/packages/venia-ui/lib/drivers/adapter.js) component takes order(s) of magnitude more time than other components:

![](https://user-images.githubusercontent.com/13182778/65333560-59c9aa80-db86-11e9-9221-d98dbcc833f0.png)

# The Ask

Investigate the `VeniaAdapter` component and determin

[2019-09-23 14:33] supernova-at opened #1742 "Fix Lazy Loading SearchBar"
# Overview

On initial load of the application, one specific instance of the `Route` component takes an order of magnitude more time than other components to load:

![](https://user-images.githubusercontent.com/13182778/65333560-59c9aa80-db86-11e9-9221-d98dbcc833f0.png)

When we drill down into this

![](https://user-images.githubusercontent.com/13182778/65334514-2425c100-db88-11e9-9cc0-c45a5a6489

[2019-09-23 14:38] sirugh commented on #1732
This used to work. I'm wondering if [this change](https://github.com/magento/pwa-studio/blob/develop/packages/venia-concept/webpack.config.js#L24) to the webpack config introduced this problem.

[2019-09-23 14:43] sirugh commented on #1732
Oh, no, that's not the problem... [THIS IS!!!](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/package.json#L40)

[2019-09-23 14:44] sirugh commented on #1733
Is this possibly related to #1742?

[2019-09-23 14:45] supernova-at opened #1743 "MagentoRouteHandler Cascading Update"
# Overview

`MagentoRouteHandler` [schedules a cascading update](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/Router/magentoRouteHandler.js#L44-L51) in its `componentDidMount` lifecycle method.

From [Dan Abramov](https://github.com/reduxjs/react-redux/issues/834#issuecomment-352045884):

# The Ask

Refactor / rework `MagentoRouteHandler` so that it does not schedule a

[2019-09-23 14:46] supernova-at commented on #1743
It may be the case that this component cannot avoid a cascading update (it depends on `window.location`).

If that's the case, please close this issue as "not a bug".

[2019-09-23 14:49] sirugh commented on #1724
Cool, this has probably been fixed on `develop` then. FWIW we should be using the `develop` branch release for noting bugs: https://develop.pwa-venia.com/

[2019-09-23 14:49] #1724 closed

[2019-09-23 14:54] supernova-at opened #1744 "Category Page Performance"
# Overview

The category page performance profile looks like this for its initial load:

![](https://user-images.githubusercontent.com/13182778/65355027-97dec280-dbb6-11e9-9cd5-4a27b7a0167d.png)

![](https://user-images.githubusercontent.com/13182778/65355037-9dd4a380-dbb6-11e9-830c-94444c819e91.png)

# The Ask

Investigate the Category page for performance improvements.
The primary candidates for

[2019-09-23 15:30] supernova-at opened #1746 "PDP Item Selection Performance"
# Overview

On the PDP (for example), selecting an option (color, size) for the first time leads to an expensive operation inside the `Items` component:

![Screen Shot 2019-09-23 at 10 27 15 AM](https://user-images.githubusercontent.com/13182778/65439455-cba32d80-ddec-11e9-8e7a-6e09ecc5d7a1.png)

Note that updating its child `Item` components only takes about half the total time.

# The Ask

Inves

[2019-09-23 15:38] supernova-at opened #1747 "Unnecessary Renders when Opening the Cart drawer"
# Overview

Here is the performance profile when opening the cart drawer for the first time:

![](https://user-images.githubusercontent.com/13182778/65342168-c9946100-db97-11e9-9df3-d36b0dc7529b.png)

Here are the timing details:

![](https://user-images.githubusercontent.com/13182778/65342689-d6fe1b00-db98-11e9-8e57-8174ec04ae5d.png)

Note that this is all before we get the details of the cart an

[2019-09-23 15:43] supernova-at opened #1748 "Opening Checkout Form updates MiniCart Body"
# Overview

Opening the checkout drawer has the following performance profile:

![](https://user-images.githubusercontent.com/13182778/65354266-b6dc5500-dbb4-11e9-8588-36ac614a8cfb.png)

# The Ask

Investigate why the `MiniCart/Body` component is being updated here. If we can get rid of that update, this transition becomes a lot smoother.

[2019-09-23 15:45] supernova-at opened #1749 "Duplicate Updates on Checkout Form Submissions"
# Overview

It appears we are getting duplicate updates on checkout form submissions such as address form, payments form and shipping method form.

Here is the address form for example:

![](https://user-images.githubusercontent.com/13182778/65354440-23efea80-dbb5-11e9-8d2c-a286fcb58d24.png)

Note: the number of duplicate updates may be related to how many fields are in the form.

[2019-09-23 15:46] sirugh commented on #1748
Can you identify what changes triggered the updates? In this case I think `minicart` and `checkout` share a state in `step`, so changes to it may cause the updates.

[2019-09-23 16:01] sirugh commented on #1749
Are you saying that each form is updated twice or are you talking about the smaller spikes within the chart?

[2019-09-23 16:16] awilcoxa commented on #982
We have established clear next steps for requirements gathering and will continue to track additional discovery/research through internal Confluence page: https://wiki.corp.magento.com/display/FF/PWA+Studio+Accessibility+Research

Will publish results in to backlog and dev docs as we move forward.

[2019-09-23 16:16] #982 closed

[2019-09-23 16:19] supernova-at commented on #1625
Issues created and added to performance milestone https://github.com/magento/pwa-studio/milestone/20

[2019-09-23 16:20] #1625 closed

[2019-09-23 17:41] #1697 closed

[2019-09-23 18:12] #1390 closed

[2019-09-23 18:33] supernova-at commented on #1673
If the build changed wouldn't it produce a new artifact that would have an updated timestamp and that would invalidate the cache?

Retailers and users are not going to like that 😬

I like this approach and hopefully we can hide those implementation details from the application.

Super cool!

[2019-09-23 19:15] revanth0212 commented on #1673
You will only know that after you request the file. If we can version the index.html or use the time of build as version number, we can utilize background sync structure to request and cache new index.html file.

You are right. This will be hard on them. We definitely have to come up with a better solution to this. Something like updating the UI without an explicit refresh.

[2019-09-23 19:36] jcalcaben opened #1756 "[doc]: Talons documentation"
**Describe the request**

The concept of "Talons" needs documentation.

**Possible solutions**

A topic that answers the following questions:

* What are Peregrine Talons?
* Why are they needed?
* How do they work?
* How can developers use them?

Use this draft as a starting point: https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/README.md

**Please let us know whet

[2019-09-23 19:39] sirugh commented on #1756
Should these even be called `mixins`?

https://reactjs.org/blog/2016/07/13/mixins-considered-harmful.html
https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750

[2019-09-23 19:44] supernova-at commented on #1756
It is a very overloaded term in front end development.

[2019-09-24 07:49] vishalkatkar-seniority opened #1759 "[doc]: Webpack less configuration"
Currently pwa repository provide with cssModule integration. If any user want to add a less file in their project he/she will be get better idea  by reading this document.

[2019-09-24 14:24] supernova-at commented on #1756
@jcalcaben talons

![image](https://user-images.githubusercontent.com/13182778/65520370-12585c80-dead-11e9-82ff-d631e1f87875.png)

[2019-09-24 15:36] dpatil-magento opened #1760 "[feature]: Add support to Pagebuilder Backend URL."
**Is your feature request related to a problem? Please describe.**
Page Builder needs specific magento backend to use to build PB PWA PR's as data is different.

**Describe the solution you'd like**
Update codebuild to use backend based on branch name.

**Describe alternatives you've considered**
NA

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-24 15:40] dpatil-magento commented on #1760
Related PR -https://github.com/magento/pwa-studio-cicd/pull/23

[2019-09-24 15:44] supernova-at commented on #1733
#1742 is concerned with the loading of the `SearchBar` component; I think this issue is talking about the Search page itself

[2019-09-24 16:12] supernova-at commented on #1710
I have updated the document 👍

[2019-09-24 16:12] #1710 closed

[2019-09-24 18:28] dpatil-magento opened #1761 "[bug]: Fix `upward-php` security alerts."
Fix security alerts https://github.com/magento-research/upward-php/network/alerts

[2019-09-24 18:29] dpatil-magento opened #1762 "[bug]: Fix `directive-parser` security alerts."
Fix security alerts https://github.com/magento-research/directive-parser/network/alerts

[2019-09-24 18:30] dpatil-magento opened #1763 "[bug]: Fix `magento-eslint` security alerts"
Fix security alerts https://github.com/magento-research/magento-eslint/network/alerts

[2019-09-24 19:37] revanth0212 opened #1766 "[feature]: Implement image caching at Service Worker Level."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
Always cache the best resolution version of an image.

1. If a higher resolution version is requested, fetch the higher resolution image, bust the cache, insert this image and return the image to the client. If fetcher failed, return the available image to the client. If the fe

[2019-09-24 19:44] revanth0212 opened #1767 "[feature]: Implement graphQL query caching at Service Worker Level."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
As of today, we are not caching graphQL query results. This will be useful when it comes to offline experience and also quick instant responses when it comes to data that might not change often like `storeConfig`.

1. When a graphQL call is made, analyze if it is a GET or POST

[2019-09-24 20:13] revanth0212 opened #1769 "[feature]: Implement product image pre fetching."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
As of today, we do not prefetch images on the products page. For instance if the user is looking at image number X, we can make the service worker request images X-1 and X+1 for a smoother and faster experience. This can be achieved by the react component as well. We can make t

[2019-09-24 20:22] revanth0212 opened #1771 "[feature]: Implement background sync at the Service Worker Level."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
We can implement background sync as part of the service worker. This feature of the service worker will periodically update the cache of certain requests like the catalog, product availability, comments, ratings (when the user is on a certain product page), order status, etc. T

[2019-09-24 20:37] revanth0212 opened #1772 "[feature]: Implement API to listen to postMessages from Service Worker."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
Implement an API to listen to messages sent by the service worker using postMessage API. This can particularly useful to tell the client when new data is available. For instance, as mentioned in #1766 and #1767, we can return cached data if the service is unreachable or taking

[2019-09-24 20:38] revanth0212 opened #1773 "[feature]: Refactor sw.js for future work."
**Is your feature request related to a problem? Please describe.**
Needed for #1673

**Describe the solution you'd like**
sw.js can be broken up into modules to make it scalable and maintainable for future enhancements.

**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upwar

[2019-09-24 20:53] revanth0212 opened #1774 "[feature]: Implement utilities to help with Service Worker decision making based on environments."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
Behavioral logic needs to be implemented into the Service Worker. For instance, only prefetch route based bundles when on WiFi and desktop or background sync only if on Wifi or High-Speed internet. These helper functions need to be implemented as utility functions because they

[2019-09-24 21:00] revanth0212 opened #1776 "[feature]: Implement optimistic updates API."
**Is your feature request related to a problem? Please describe.**
Maybe related to #1673

**Describe the solution you'd like**
This is something that needs a bit of caution while using. We can use optimistic updates to improve the performance of the app by returning a fake yes from the Service Worker about the update. If for some reason the update fails, a message will be posted back to the clien

[2019-09-25 14:00] supernova-at commented on #1776
We can do this via Apollo too - see #1665 .

[2019-09-25 17:41] revanth0212 opened #1781 "[feature]: Cache only 1 version of HTML and return that for all routes."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
As of today, all routes get the same HTML file even if the request originated as `/`, `/search.html` or `/venia-tops.html` or `/valeria-two-layer-tank.html` but with a different name. The problem arises when the user directly goes to a certain products page during the offline m

[2019-09-25 17:52] revanth0212 opened #1782 "[feature]: API to get details about the latest build."
**Is your feature request related to a problem? Please describe.**
Related to #1673 and #1781

**Describe the solution you'd like**
This API will be useful to know whether to request HTML file and replace that in the cache or keep using the cached version.

This API call can return information like when was the last time a new build was generated and the UI can compare that against the stored valu

[2019-09-25 18:19] revanth0212 opened #1783 "[feature]: Separate out app shell into its own bundle."
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
The app shell is the parent for the whole app content. Any page we go to, the app shell stays the same. Separating it out into its own bundle, we can request it once and then keep using it till something changes. That can be potential gains in terms of performance and offline f

[2019-09-25 18:24] jimbo opened #1784 "[feature]: Revisit certain components to create talons"
**Is your feature request related to a problem? Please describe.**

We're extracting the logic from Venia components into Peregrine talons. Some components have logic that needs to be revisited and potentially reworked before a talon can be created, though.

**Describe the solution you'd like**

Revisit the following components:

- Button
- ButtonGroup
- Checkbox
- Checkout/
   - Form
   - Label

[2019-09-25 19:57] supernova-at commented on #1662
I took this one over and have updated #1707.

[2019-09-26 14:58] revanth0212 opened #1789 "[misc]: Tests for sw.js"
**Is your feature request related to a problem? Please describe.**
Related to #1673

**Describe the solution you'd like**
Write tests for sw.js. Now that a lot of things will be changing relative to current sw.js, having tests will help.

**Please let us know what packages this feature is in regards to:**
- [x] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-dev

[2019-09-26 15:57] #1760 closed

[2019-09-26 16:36] #1693 closed

[2019-09-26 21:10] #1742 closed

[2019-09-27 06:27] Jordaneisenburger opened #1796 "[bug]: Webpack build times get slower in bigger projects"
**Describe the bug**
While developing we save files a lot. Every save triggers webpack and makes it compile again. There seems to be a speed issue with every subsequent re-compile taking longer and longer.

**Some numbers:**

Initial  `yarn run watch:storefront` / `yarn run watch:all`:

<img width="829" alt="Screenshot 2019-09-27 at 08 08 48" src="https://user-images.githubusercontent.com/19858728

[2019-09-27 12:45] supernova-at commented on #1665
This issue is on `hold` until we upgrade to use Apollo's hooks in #1657 , and implement cart mutations in #1668 .

[2019-09-27 14:39] revanth0212 commented on #1796
We merged #1691 recently that has some changes done to the webpack config. You might wanna check that once. I see that in the screenshots you have the `MediaBackendURLFetcherPlugin` which was removed a while ago.

[2019-09-27 14:54] zetlen commented on #1796
@Jordaneisenburger That `UpwardIncludePlugin` hook error is pretty interesting. The `UpwardIncludePlugin` is pretty new; it's unit tested, but it isn't proven in production scenarios. It may be that we need to add some cleanup in it; maybe every time it invokes `CopyWebpackPlugin` it needs to remove the previous assets?

[2019-09-27 14:55] zetlen commented on #1789
https://hackernoon.com/service-worker-testing-made-easy-9a2d8e9aa50 might be a good start.

[2019-09-27 14:57] awilcoxa opened #1800 "[doc]: Update Technologies Section"
Good feedback from community member:

It would be helpful if the PWA docs had a design patterns section that explained and showed examples of techniques “invented here” and “not invented here”. Most of these concepts are new to me, and it’s often hard to figure out if this is a Magento-ism or React-ism.

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic

[2019-09-27 16:08] jimbo commented on #1308
So, `ErrorView` is designed to be a page-level view that reflects server-side routing states:

- `loading`
- `notFound`
- `internalError`

It was not designed to be rendered within other pages as a generic error view, and not designed to have other arbitrary error states added to its internal map. At some point, though, that's exactly what happened: a change was made to the `Product` component and

[2019-09-27 16:54] #1729 closed

[2019-09-27 17:09] #1720 closed

[2019-09-27 18:08] revanth0212 opened #1804 "[feature]: Module based chunking along with route based chunking."
**Is your feature request related to a problem? Please describe.**
Related to #1673 #1765 #1783

**Describe the solution you'd like**
We can chunk the app based on its availability requirement in the app. For instance, the left drawer is needed in all the pages. We can separate out the left drawer or combine that with app shell and sever it as a bundle of its own so it should be cached on the UI a

[2019-09-27 18:15] #1709 closed

[2019-09-27 18:34] awilcoxa opened #1805 "[doc]: Debugging and Troubleshooting Guides"
Create or improve existing documentation to clearly define steps/guides for troubleshooting and debugging when running into issues with PWA Studio. Additional discovery required to identify topics/common problem areas.

**Please let us know whether this is a new topic or a topic change request:**
 - [ x] New Topic Request (ie. missing entire topic/section)
 - [ x] Topic Change Request (ie. spellin

[2019-09-27 20:26] dpatil-magento commented on #1704
There will be some down time when we switch to new account as we are using same domains in new and old AWS account.  So, storefront will not be accessible until domain registry gets updated.

[2019-09-30 05:13] Jordaneisenburger commented on #1796
Thanks will check it out

[2019-09-30 14:28] jcalcaben commented on #1805
@jeff-matthews is this something that the knowledge-base team needs to be responsible for or the docs team?

[2019-09-30 14:29] rancollier opened #1808 "[bug]: When express-sharp is down, the media files don't get served."
When express-sharp is down, the media files don't get served.
[code]
@zetlen found a possible solution.
https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/upward.yml#L15
needs to be updated to: `pattern: '^/(graphql|rest|media)(/|$)'`

[2019-09-30 14:32] sharkySharks commented on #1704
@dpatil-magento you have 2 domains that you can use in your environments. I believe you are only using one of these domains currently for production: `pwa-venia.com`, but you also have `pwa-venia-staging.com`, so I would probably set up your staging environment to use the staging url and when that is proven to work, and we have your code in terraform, then it will be trivial to update prod and tur

[2019-09-30 14:41] jeff-matthews commented on #1805
I'm glad you asked @jcalcaben! Troubleshooting content belongs on the [Magento Knowledge Base](https://support.magento.com/hc/en-us), so it's the Support team's responsibility.

We're actually in the process of migrating all troubleshooting content from the devdocs site to the Help Center. PWA content should follow the same guidelines.

[2019-09-30 15:28] revanth0212 commented on #1781
If the HTML changes in the future we can show a message like this

![image](https://user-images.githubusercontent.com/35203638/65892895-a70b0080-e36c-11e9-8c37-01c24be4dc8f.png)

so the user can click and update the app.

This solution, I feel, might be annoying since customers who are shopping would not like to reload a page.

The second solution would be to use versioning API and request the cur

[2019-09-30 15:30] revanth0212 commented on #1782
This API will be used to achieve the performance benefits mentioned in #1781

[2019-09-30 15:43] #1673 closed

[2019-09-30 18:37] awilcoxa commented on #1771
Scope of issue should address enablement of background sync functionality but not all of the possible implementations/use cases

[2019-09-30 18:39] awilcoxa commented on #1769
Need to decide whether we should do this at service worker level or within the image carousel component of Peregrine @jimbo @sirugh

[2019-09-30 18:41] awilcoxa commented on #1767
Additional discovery required for application of Apollo functionality here, need to determine need to have this caching at the SW vs Apollo. @revanth0212 @zetlen

[2019-09-30 18:45] awilcoxa commented on #1748
investigate if this issue still occurs after implementation of list Talon by @sirugh

[2019-09-30 18:45] awilcoxa commented on #1748
might be related to #1807

[2019-09-30 18:48] awilcoxa commented on #1747
Moving to backlog for consideration at later date

[2019-09-30 18:50] awilcoxa commented on #1746
needs additional discovery to determine cause, may be resolved by Talons work for product options (big maybe?)

[2019-09-30 18:52] awilcoxa commented on #1744
additional discovery required, should revisit after Peregrine effort

[2019-09-30 18:56] awilcoxa commented on #1743
Should address in future update but may require refactor of route handler

[2019-09-30 19:39] supernova-at commented on #1767
Here's the [Apollo documentation](https://www.apollographql.com/docs/react/caching/cache-configuration/) (and https://www.apollographql.com/docs/react/caching/cache-interaction/).

Emphasis mine:

If we don't want to use the cached version of a query, we can just use a different [fetchPolicy](https://www.apollographql.com/docs/tutorial/queries/#customizing-the-fetch-policy).

[2019-09-30 20:20] revanth0212 commented on #1804
This needs more research. Need to check on what Root Components Chunking is and how is that is related to what this issue addresses.

[2019-10-01 14:52] supernova-at commented on #1678
This file has been removed in #1496 and this issue can be closed when that PR is merged.

[2019-10-01 15:26] revanth0212 opened #1815 "[refactor]: Refactor ServiceWorkerPlugin.js"
**Is your feature request related to a problem? Please describe.**
Needed for #1773.

**Describe the solution you'd like**
The `ServiceWorkerPlugin.js` is a wrapper around the `WorkboxWebpackPlugin` which created the `sw.js` file for the app to consume. As of today, it does a lot more code checking and verification than needed. It needs to be modified to just do the compilation of Service Worker c

[2019-10-01 15:27] revanth0212 commented on #1773
On hold due to #1815

[2019-10-01 15:32] supernova-at commented on #1672
`VeniaAdapter` does use the same client for `ApolloContext.Provider` and `ApolloProvider`.

`ApolloProvider` is used for `Query` and `ApolloConsumer`.
`ApolloContext` is used for `useContext`.

[2019-10-01 16:31] #1728 closed

[2019-10-02 13:48] supernova-at commented on #1663
This issue is on `hold` until #1657 is complete.

[2019-10-02 13:50] supernova-at commented on #1711
Hmm, good question. I was hoping the secret would live in GitHub configuration and not in our repo. We may have to close this if we can't do it securely.

[2019-10-02 18:01] jimbo opened #1821 "Create talons for app shell components"
**Is your feature request related to a problem? Please describe.**

This work is part of the effort to extract component logic from Venia into Peregrine (#1604).

**Describe the solution you'd like**

Create talons for components within the following subdirectories of `venia-ui/lib/components`:

- [x] `App` (#1828)
- [x] `FilterModal`
- [x] `Footer` (#1860)
- [x] `Header` (#1793)
- [x] `SearchBar`

[2019-10-02 18:02] jimbo opened #1822 "Create talons for left drawer components"
**Is your feature request related to a problem? Please describe.**

This work is part of the effort to extract component logic from Venia into Peregrine (#1604).

**Describe the solution you'd like**

Create talons for components within the following subdirectories of `venia-ui/lib/components`:

 - [x] `AuthBar` (#1751)
 - [x] `AuthModal` (#1752)
 - [x] `CategoryTree` (#1754)
 - [x] `CreateAccount

[2019-10-02 18:02] jimbo opened #1823 "Create talons for right drawer components"
**Is your feature request related to a problem? Please describe.**

This work is part of the effort to extract component logic from Venia into Peregrine (#1604).

**Describe the solution you'd like**

Create talons for components within the following subdirectories of `venia-ui/lib/components`:

- [x] `Checkout` (#1775)
- [x] `MiniCart` (#1807)

**Please let us know what packages this feature is i

[2019-10-02 18:03] jimbo opened #1824 "Create talons for main page components"
**Is your feature request related to a problem? Please describe.**

This work is part of the effort to extract component logic from Venia into Peregrine (#1604).

**Describe the solution you'd like**

Create talons for components within the following subdirectories of `venia-ui/lib/components`:

- [x] `CategoryList` (#1755)
- [x] `CreateAccountPage` (#1778)
- [x] `Gallery` (#1791)
- [x] `ProductFu

[2019-10-02 18:03] jimbo opened #1825 "Create talons for generic components"
**Is your feature request related to a problem? Please describe.**

This work is part of the effort to extract component logic from Venia into Peregrine (#1604).

**Describe the solution you'd like**

Create talons for components within the following subdirectories of `venia-ui/lib/components`:

- [x] `Image` (#1803)
- [x] `Pagination` (#1812)

**Additional context**

The following subdirectories

[2019-10-02 20:50] #823 closed

[2019-10-02 20:50] #1678 closed

[2019-10-03 15:43] cherdman commented on #1695
Let's GA on Monday, October 7.

[2019-10-03 16:04] supernova-at commented on #1804
#1765 introduced route-based code splitting.

Edit: Oh I see you've already linked it :P :)

[2019-10-03 17:30] zetlen commented on #1808
Hey, this is an oversight in `upward.yml` and I've got it fixed in #1830, which also updates express-sharp to the version that respects `NODE_TLS_REJECT_UNAUTHORIZED=0`.

[2019-10-03 17:47] #1741 closed

[2019-10-03 17:56] zetlen opened #1831 "[feature]: Custom templates for create-pwa scaffolding"
With `buildpack create-project` and `npm init @magento/pwa`, you can scaffold a new project based on `venia-concept`. Right now, it can only `venia-concept` as a template.

However, most of the work for custom templates is already done!

- The `createProject` function searches for template source on both the filesystem and NPM
- The template package itself contains instructions on how it should be

[2019-10-03 22:58] zetlen commented on #1805
We need to add this stuff to the docs:

- Using `build:dev` to make uncompressed bundles, to debug things you can't reproduce in dev mode
- Using the `DEBUG` environment variable to control the logging by the [debug library](http://npmjs.com/package/debug) used in our NodeJS tools
- Installing and using the React , Apollo, and GraphQL dev tools
- Using the GraphQL Playground

[2019-10-03 23:16] zetlen opened #1840 "[bug]: Dev server route cache gets stuck after one GraphQL error"
**Describe the bug**
If the GraphQL endpoint is broken during the first pageload on a fresh session, the app will fail to load because it can't resolve the current URL into an entity. That's expected.

However, once that failure has happened, the app won't be able to load that page _even after the GraphQL endpoint is working again._

**To Reproduce**
Steps to reproduce the behavior:
1. In a clean

[2019-10-04 04:28] dpatil-magento opened #1842 "[bug]: Images are not loading in Iphone device and also on Mac Safari."
**Describe the bug**
Blank image placeholder displaying on Venia storefront in IPhone device. Tried in Iphone SE and Pro. Works in Samsung (s10e).  Tried both in Chrome and Safari on Iphone.  Mac Safari also has the issue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home, Category or Product page in iphone `develop` branch
https://develop.pwa-venia.com/

**Expected behavior**
Images

[2019-10-04 13:49] supernova-at opened #1843 "Making GraphQL Calls"
In `venia-ui` and `venia-concept` we use `apollo-client` and `@apollo/react-hooks` hooks to make GraphQL calls and update the Venia reference storefront.

In `buildpack` and `peregrine` though, we are currently simply `fetch`ing data via POST requests to the `/graphql` endpoint on `MAGENTO_BACKEND_URL`.

I'm curious if we can't use an `apollo-client` in `buildpack` and `peregrine`. Doing so can DR

[2019-10-04 14:36] nadavspi opened #1844 "[bug]: Field labels aren't associated with inputs"
**Describe the bug**
The `<Field>` component, used in checkout and account forms, outputs the text label in a `<span>` instead of a `<label>` that's properly associated with the input.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a product to cart.
2. Expand the cart and proceed to checkout.
3. Within the checkout shipping address form, inspect or click an input label.

**Expected beh

[2019-10-04 16:03] sirugh commented on #1825
Donezo.

[2019-10-04 16:03] #1825 closed

[2019-10-04 16:04] sirugh commented on #1823
#1807
#1775

[2019-10-04 16:04] #1823 closed

[2019-10-04 16:05] #1822 closed

[2019-10-04 16:15] supernova-at commented on #1074
Here is where we set up the Terser Webpack Plugin: https://github.com/magento/pwa-studio/blob/c548fa8f8ecd1dd4beacbfecc7c22c694e1f9f74/packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js#L330-L347.

[2019-10-04 16:25] supernova-at commented on #1542
To populate the `venia-concept/dist` folder, run `yarn build`.

New paths are of the following form:

![Screen Shot 2019-10-04 at 11 23 39 AM](https://user-images.githubusercontent.com/13182778/66223626-88bd4180-e699-11e9-89df-1759ef7ecf42.png)

We want to update the [bundlesize entries in package.json](https://github.com/magento/pwa-studio/blob/develop/package.json#L94-L103) to match these filena

[2019-10-04 16:28] supernova-at commented on #1227
A common mixup is to add the Banner Plugin (which injects a comment) before the Terser Plugin which (as of #1074) will remove all comments 😛 .

Be sure to add the Banner Plugin after the Terser Plugin 👍

[2019-10-04 17:50] #1844 closed

[2019-10-04 18:26] Banhawy commented on #1074
I've been using the terser plugin with `terserOption.output.comments` set to false for a while now and forgot to share my results.

I honestly could not see any difference in output, all comments seemed to be extracted before and after adding the option.

After reviewing today I found out that the `terserOption.output.comments` option is set to `false` by default as per the plugin documentation.

[2019-10-04 19:57] dpatil-magento commented on #1704
Closing this one as most of the tasks have been completed. We will have new ticket for tracking actual migration date and Name server update request.

[2019-10-04 19:57] #1704 closed

[2019-10-04 20:05] dpatil-magento opened #1847 "Migrate PWA CICD to PWA AWS account Part2"
- [x]   Raise request to NameServer updates for existing domain.  10/11
- [x]   Once NS updates, verify everything works and start migration.
- [x]   Merge supporting PR https://github.com/magento/pwa-studio-cicd/pull/24 to `master`  10/18

[2019-10-04 20:49] dpatil-magento commented on #1842
Broken by - https://github.com/magento/pwa-studio/pull/1690

[2019-10-05 08:54] shikhamis11 opened #1850 "Product Images not showing"
**Describe the bug**
Product Images not showing on fresh pwa -studio installation

**To reproduce**
Steps to reproduce the behavior:
1. Go to pwa-studio home page
2. Click on category available
3. Click on any product which has image available
4. Product images not showing

**Expected behavior**
Product Images Should display

**Screenshots**
![Screenshot_2019-10-05_14-22-36](https://user-images.gi

[2019-10-05 19:07] dani97 commented on #1732
@sirugh  @zetlen I found two version of react-feather from lock file
In venia-ui https://github.com/magento/pwa-studio/blob/bcfe8f6aea8c354f6ec481f513b4ceaafe5282d2/packages/venia-ui/package.json#L40
and venia-concept https://github.com/magento/pwa-studio/blob/bcfe8f6aea8c354f6ec481f513b4ceaafe5282d2/packages/venia-concept/package.json#L100
I guess this is causing the issue all along, can we make

[2019-10-05 19:08] dani97 commented on #1732
Sorry @sirugh  you found it already  :+1:

[2019-10-06 15:56] RanadeepPolavarapu commented on #1730
I'll take this.

[2019-10-06 16:37] RanadeepPolavarapu commented on #1542
I'll take this.

[2019-10-07 13:32] sirugh commented on #1850
Thanks for the bug report! Can you provide us with an HAR, a repro link, (and in a private message, your magento back-end) as well as any console logs/errors you see on this page? Those would help identify the issue :)

[2019-10-07 14:47] #1732 closed

[2019-10-07 14:58] #1679 closed

[2019-10-07 15:11] revanth0212 commented on #1804
Yeah, this adds chunking on top of what #1765 offers. #1765 already gives us a boost with a smaller `client.js` which can be broken up into even smaller chunks using module-based chunking.

[2019-10-07 15:34] jcalcaben commented on #1413
Closing this issue since we just published topics covering environment variables:

* [Configuration Management](https://magento.github.io/pwa-studio/pwa-buildpack/configuration-management/)
* [Create environment file](https://magento.github.io/pwa-studio/pwa-buildpack/reference/buildpack-cli/create-env-file/)
* [Load environment file](https://magento.github.io/pwa-studio/pwa-buildpack/reference/bu

[2019-10-07 15:34] #1413 closed

[2019-10-07 16:23] revanth0212 opened #1857 "[feature]: Mirror UPWARD route handling in the Service Worker."
**Is your feature request related to a problem? Please describe.**
Related to #1673.

**Describe the solution you'd like**
The service worker resolves routes using first available rather than the best available route checking. Use the route management structure provided in UPWARD yaml file. For now, it will be manually done by the developer but in the future, [it will be handled by an automated fu

[2019-10-07 16:26] revanth0212 opened #1858 "[feature]: Automate service worker route creation logic."
**Is your feature request related to a problem? Please describe.**
It will be an addition to what #1857 does.

**Describe the solution you'd like**
We need to write a function that will automatically read the upward yaml's route handler and creates the service worker route handler because they need to be in sync.

**Describe alternatives you've considered**
For now, they will be done manually by t

[2019-10-07 16:33] supernova-at commented on #1074
Oh okay awesome - thanks! I'll close this issue then 👍

[2019-10-07 16:33] #1074 closed

[2019-10-07 16:35] supernova-at commented on #1782
Might #1227 benefit from this too?

[2019-10-07 16:54] sirugh commented on #1074
@supernova-at did you check the open PR for this issue: https://github.com/magento/pwa-studio/pull/1855

[2019-10-07 16:56] sirugh commented on #1074
Looks like, on `develop`, `yarn build` does indeed strip comments so the PR may be unnecessary.

That said, `sw.js` for some reason is not minified and still contains comments. I'm not sure how that file gets generated though.

[2019-10-07 20:53] revanth0212 opened #1861 "[bug]: favicon not loading in stage mode."
**Describe the bug**
Venia favicon is not loading in the stage mode. Works fine in watch mode.

**To reproduce**
Steps to reproduce the behavior:
1. Run `yarn build && yarn stage:venia`.
2. Go to the URL mentioned in the terminal.
3. No favicon should be loaded even though the service responsed with 200.

**Expected behavior**
favicon should show up in the tab just like in `watch` mode.

**Screens

[2019-10-07 22:01] #1542 closed

[2019-10-07 22:14] dpatil-magento opened #1862 "CICD - Add GoogleMap API key to build to support PageBuilder."
Add GoogleMap API key as env variable to support Pagebuilder.
Pr - https://github.com/magento/pwa-studio-cicd/pull/25

[2019-10-07 22:16] dpatil-magento opened #1863 "Merge `master` back to `develop`"
Merge `master` branch to `develop`

[2019-10-07 22:54] hkdAdminHkGithub commented on #756
hmm

[2019-10-08 08:05] ankitpatel2931 opened #1864 "Issue with CMS page in PWA"
Hi Team,

I need help in PWA magento 2.3.
I have configured PWA venia theme successfully.
Category and product pages and all other things working fine with PWA.

When I am trying to run default CMS page of magento 2 it gives me error like below.
1) magento2url/privacy-policy-cookie-restriction-mode => Working Fine (Normal without PWA)
2) magento2pwaurl/privacy-policy-cookie-restriction-mode => giv

[2019-10-08 13:33] supernova-at commented on #1677
https://github.com/magento/graphql-ce/issues/374 was closed and a fix supposedly went in with https://github.com/magento/graphql-ce/issues/567.

[2019-10-08 13:34] Jordaneisenburger opened #1866 "[BUG]: Product pages ending with a trailing slash / result in wrong message"
**Describe the bug**
When the user for some reason ends the url with a "/" it shows a wrong error message.

**To reproduce**
Steps to reproduce the behavior:
1. Go to https://develop.pwa-venia.com/athena-tank-dress.html
2. You see a working PDP
3. Go to https://develop.pwa-venia.com/athena-tank-dress.html/
4. See error "This Product is currently out of stock. Please try again later."

**Expected b

[2019-10-08 15:30] supernova-at commented on #1669
This may not be advisable.

It's easy enough to look at the initial batch of requests Venia makes and combine them into a single query. But how do we keep that query up-to-date when any component can be dropped into the initial page load flow?

[2019-10-08 17:58] #1667 closed

[2019-10-08 18:57] #1840 closed

[2019-10-08 19:14] #1474 closed

[2019-10-08 19:14] #1662 closed

[2019-10-08 21:15] #1677 closed

[2019-10-09 16:34] #1863 closed

[2019-10-09 16:36] #1862 closed

[2019-10-09 16:41] dpatil-magento commented on #1695
All listed tasks complete, closing this one.

[2019-10-09 16:41] #1695 closed

[2019-10-09 16:58] #1815 closed

[2019-10-09 16:58] #1773 closed

[2019-10-09 21:04] dpatil-magento opened #1875 "Update PWA cloud env's."
Update PWA Cloud instances with latest Magento version.

[2019-10-10 09:01] bwaters opened #1877 "docker/run-docker errors on ubuntu because of bash string comparisons"
**Describe the bug**
docker/run-docker fails on Ubuntu 16 due to strict interpretation of sh versus bash

**To reproduce**
On Ubuntu 16
git clone pwa-studio
docker/run-docker

exits on "An Error occurred during setup"

**Expected behavior**
completes successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the pr

[2019-10-10 15:38] revanth0212 commented on #1782
Not needed anymore since we have decided to not worry about fetching HTML multiple times. [We will be using SW to fetch the HTML in the background](https://github.com/magento/pwa-studio/pull/1874).

[2019-10-10 15:38] #1782 closed

[2019-10-10 16:10] sirugh commented on #1782
I actually think this'd still be useful in terms of serving information about the package such as versions of dependencies or uptime or even still the date the build was last run.

[2019-10-10 16:23] #1657 closed

[2019-10-10 16:23] #1672 closed

[2019-10-10 19:24] #1808 closed

[2019-10-10 19:24] #1842 closed

[2019-10-10 20:36] dpatil-magento commented on #1875
Updated details in shared wiki.

[2019-10-10 20:36] #1875 closed

[2019-10-10 21:29] sirugh commented on #1843
Just remember `buildpack` is server side (and sometimes only at initialization time of the studio) and `peregrine` is runtime.

[2019-10-11 10:58] ThibaultAndreis commented on #1864
It's a work in progress, you can check feature/page-builder to see if it's what you need.

[2019-10-11 16:36] #1756 closed

[2019-10-11 16:54] #1866 closed

[2019-10-11 18:16] dpatil-magento opened #1883 "Update MFTF Tests release, next release, tagging etc."
1. Release PWA4.0 compatible MFTF Test suite release.
2. Create Jira Tests for current PWA release.

[2019-10-11 18:17] dpatil-magento commented on #1883
https://github.com/magento-research/pwa-tests   New release tags `4.0.0` and `v4.0.0_sampledata`  published.

[2019-10-11 20:51] dpatil-magento commented on #1883
Created New tests and referenced is pwa-tests repo.

[2019-10-11 20:51] #1883 closed

[2019-10-12 00:20] brendanfalkowski opened #1885 "[bug]: 4.0.0 update, FetchError: request to graphql failed, reason: unable to verify the first certificate"
**Describe the bug**
After updating to PWA Studio 4.0.0, `yarn run build` fails when verifying the certificate for the GraphQL endpoint.

**To reproduce**
Steps to reproduce the behavior:
1. Updated existing project to PWA Studio 4.0.0
2. `yarn install`
3. `yarn run build`
4. See error

[code]

**Expected behavior**
Build should finish.

**Additional context**

I had this issue back in March, but

[2019-10-13 16:23] dani97 commented on #1210
@zetlen  @supernova-at  @awilcoxa
pwa-studio/packages/venia-ui/lib/components/CreateAccount/asyncValidators.js has validateEmail action  that calls /rest/V1/customers/isEmailAvailable but we have not used it anywhere.

From latest Graphql we have isEmailAvailable query too.
![Screenshot 2019-10-13 at 9 51 45 PM](https://user-images.githubusercontent.com/13298685/66718638-b6c22480-ee03-11e9-916d-f2

[2019-10-14 05:27] ankitpatel2931 commented on #1864
Not getting you exactly. I want to open cms page in PWA same like magento 2. Currently I am getting error as I describe above. Could you please elaborate how can I achieve this?

[2019-10-14 07:36] ThibaultAndreis commented on #1864
This feature is currently being developed under the name of "page builder" but not released yet, you can check how it works in the feature/page-builder branch or test it.

[2019-10-14 08:07] ankitpatel2931 commented on #1864
Ok. Thanks for the reply.

[2019-10-14 14:48] sirugh commented on #1885
Can you paste output of `DEBUG=pwa-buildpack:* yarn build`?

[2019-10-14 15:36] #1877 closed

[2019-10-14 16:39] #1730 closed

[2019-10-14 18:24] brendanfalkowski commented on #1885
Same error as the original error exit, just adds the `.env` var dump (obfuspiced the keys)

[code]

[2019-10-14 19:37] brendanfalkowski commented on #1885
From Slack — add `NODE_TLS_REJECT_UNAUTHORIZED=0` in your `.env`

This works (same as using HTTP) but I'm not sure if this is a Node thing or undocumented Magento thing. It's not part of the generated `.env` file.

[2019-10-14 20:19] sirugh opened #1892 "[SPIKE]: Extensibility via React Portals"
# Extensibility via Portals Spike

This spike will investigate _additive_ (not _destructive_ ie. deletion/replacement) extensibility through use of [React Portals](https://reactjs.org/docs/portals.html). Using Portals for extensibility allows us to work around the potential issues of Webpack aliasing for replacement. Aliasing is good for global replacement of module imports and maybe even useful f

[2019-10-15 13:28] supernova-at commented on #1861
I noticed this on our deployments of the latest [develop](https://develop.pwa-venia-staging.com) and [release / master](https://magento.pwa-venia-staging.com/) too.

[2019-10-15 16:35] #1647 closed

[2019-10-15 17:04] cherdman commented on #1521
https://jira.corp.magento.com/browse/PWA-36

[2019-10-15 17:06] cherdman commented on #1568
https://jira.corp.magento.com/browse/PWA-37

[2019-10-15 17:07] cherdman commented on #1539
https://jira.corp.magento.com/browse/PWA-38

[2019-10-15 17:09] cherdman commented on #1510
https://jira.corp.magento.com/browse/PWA-39

[2019-10-15 17:11] cherdman commented on #1503
https://jira.corp.magento.com/browse/PWA-40

[2019-10-15 17:12] cherdman commented on #1445
https://jira.corp.magento.com/browse/PWA-41

[2019-10-15 17:13] cherdman commented on #1438
https://jira.corp.magento.com/browse/PWA-42

[2019-10-15 17:15] cherdman commented on #1383
https://jira.corp.magento.com/browse/PWA-43

[2019-10-15 17:16] cherdman commented on #1291
https://jira.corp.magento.com/browse/PWA-44

[2019-10-15 17:21] cherdman commented on #1186
https://jira.corp.magento.com/browse/PWA-46

[2019-10-15 17:22] cherdman commented on #1112
https://jira.corp.magento.com/browse/PWA-47

[2019-10-15 19:31] #1857 closed

[2019-10-15 19:31] #1861 closed

[2019-10-15 21:42] cherdman commented on #1774
https://jira.corp.magento.com/browse/PWA-48

[2019-10-15 21:43] cherdman commented on #1772
https://jira.corp.magento.com/browse/PWA-49

[2019-10-15 21:46] cherdman commented on #1771
https://jira.corp.magento.com/browse/PWA-50

[2019-10-15 21:47] cherdman commented on #1769
https://jira.corp.magento.com/browse/PWA-51

[2019-10-15 21:48] cherdman commented on #1767
https://jira.corp.magento.com/browse/PWA-52

[2019-10-15 21:50] cherdman commented on #1766
https://jira.corp.magento.com/browse/PWA-53

[2019-10-15 21:55] cherdman commented on #1746
https://jira.corp.magento.com/browse/PWA-54

[2019-10-15 21:58] cherdman commented on #1689
https://jira.corp.magento.com/browse/PWA-56

[2019-10-15 22:01] cherdman commented on #1669
https://jira.corp.magento.com/browse/PWA-57

[2019-10-15 22:03] cherdman commented on #1668
https://jira.corp.magento.com/browse/PWA-62

[2019-10-15 22:04] cherdman commented on #1666
https://jira.corp.magento.com/browse/PWA-63

[2019-10-15 22:05] cherdman commented on #1665
https://jira.corp.magento.com/browse/PWA-64

[2019-10-15 22:06] cherdman commented on #1663
https://jira.corp.magento.com/browse/PWA-65

[2019-10-15 22:08] cherdman commented on #1661
https://jira.corp.magento.com/browse/PWA-66

[2019-10-15 22:09] cherdman commented on #1660
https://jira.corp.magento.com/browse/PWA-67

[2019-10-15 22:10] cherdman commented on #1659
https://jira.corp.magento.com/browse/PWA-68

[2019-10-15 22:13] cherdman commented on #1781
https://jira.corp.magento.com/browse/PWA-69

[2019-10-15 22:15] cherdman commented on #1783
https://jira.corp.magento.com/browse/PWA-70

[2019-10-15 22:16] cherdman commented on #1789
https://jira.corp.magento.com/browse/PWA-71

[2019-10-15 22:18] cherdman commented on #1804
https://jira.corp.magento.com/browse/PWA-72

[2019-10-16 15:34] sirugh commented on #1210
So I was just poking around looking for low-hanging rest calls to convert and I did this before realizing there was an issue :(

Apologies if you were already working on it @dani97! I'll push what I have and we can figure out what to do from there.

[2019-10-16 16:16] jcalcaben commented on #1721
There is no PR associated with this issue, but the following wiki pages have been updated and should be reviewed:

* https://github.com/magento/pwa-studio/wiki/Definition-Of-Quality
* https://github.com/magento/pwa-studio/wiki/Dependency-Management
* https://github.com/magento/pwa-studio/wiki/Project-coding-standards-and-conventions
* https://github.com/magento/pwa-studio/wiki/PWA-Studio-Developme

[2019-10-16 17:24] frqnck commented on #1591
The whole idea of components and Storybook is to promote decoupling. Having these in place from the start go made a lot of sense. Let the community create/update the missing stories, create the edges cases, etc. Further down the line, having this in place would certainly help refactoring these unstable components' API. The idea was good, scrapping it is an error.

StorefrontUI is leveraging Storyb

[2019-10-16 18:11] supernova-at commented on #1721
This one needs some work. It starts off talking about `npm` and `lerna` which we don't use anymore, and I think the example

[code]

should be

[code]

[2019-10-16 19:01] sirugh commented on #1591
@frqnck I get that. While we would all love to see people adding stories to storybook it just isn't happening and our team doesn't have bandwidth to maintain or add to them as we would like. That said, maybe instead of removing them we need to open some `help wanted` issues to add storybook for specific components.

Thank you, sincerely, for your feedback! It alone will probably stop us from a com

[2019-10-16 19:39] davemacaulay commented on #1864
@ThibaultAndreis @ankitpatel2931 `feature/page-builder` does not include a CMS Page router, which is required to fix the issue described here.

[2019-10-16 21:10] awilcoxa opened #1901 "[feature]: Gift cards in Venia"
As a shopper, I want to be able to use a gift card during my checkout process in order to apply my gift card balance to my existing order. The gift card balance should be deducted from my total order and I should be able to see this in my checkout summary.

### JIRA issue for design
https://jira.corp.magento.com/browse/UXD-173

Acceptance criteria:
Venia Storefront supports gift card entry
Uses Gr

[2019-10-16 21:15] awilcoxa commented on #251
Already delivered as a part of #253, repurposing issue to represent text change required per @soumya-ashok

[2019-10-17 00:25] frqnck commented on #1591
Great to hear. Requesting ˋHelp wantedˋsounds a very good idea. I would likely contribute to this effort. Sadly at present Storybook does not run out of the box and seems broken so getting this back up and running would be the first call. I will try to take a look into it and see if I can help with a fix.

[2019-10-17 03:07] dani97 commented on #1210
No problem @sirugh. I didn't start working on this issue.

[2019-10-17 19:21] dani97 commented on #1767
There are queries in Magento which should not be cached, like isEmailAvailable query when creating customer account. So to escape such queries from SW,  we can use the fetch policy of apollo.

[2019-10-17 19:56] sirugh opened #1903 "[feature]: Replace rest sign in with graphql mutation"
We should replace the old `signIn` action and associated state with a use of the "log in" mutation:

[code]

We really only use the `signIn` action in two places, `useSignIn` and `useCreateAccount` and those could just use the mutation. We should also create a utility function for accessing/modifying the token.

In the same change we should expect to also clear all old "sign in" state from the sto

[2019-10-18 13:36] idziakjakub commented on #1864
Hi @ankitpatel2931,

I have a workaround to render HTML from CMS Page content, please just replace content in file:

`packages/venia-ui/lib/RootComponents/CMS/cms.js`

to:

[code]

[2019-10-18 16:07] awilcoxa commented on #1824
Closing as completed

[2019-10-18 16:07] #1824 closed

[2019-10-18 16:22] awilcoxa commented on #360
Revisit of previously completed design and UI from previous PR, needs evaluation of GraphQL  dependency

[2019-10-18 16:30] awilcoxa commented on #251
Needs evaluation to determine if GQL is being used and if the proper back end integration for email is completed

[2019-10-18 18:27] cherdman commented on #360
https://jira.corp.magento.com/browse/PWA-73

[2019-10-18 18:29] cherdman commented on #1489
https://jira.corp.magento.com/browse/PWA-23

[2019-10-18 18:31] cherdman commented on #1136
https://jira.corp.magento.com/browse/PWA-23

[2019-10-18 18:35] cherdman commented on #1134
https://jira.corp.magento.com/browse/PWA-76

[2019-10-18 18:36] cherdman commented on #251
https://jira.corp.magento.com/browse/PWA-77

[2019-10-18 18:40] cherdman commented on #1901
https://jira.corp.magento.com/browse/PWA-78

[2019-10-18 18:50] cherdman commented on #1714
https://jira.corp.magento.com/browse/PWA-25

[2019-10-18 18:50] #1714 closed

[2019-10-18 18:50] cherdman commented on #1713
https://jira.corp.magento.com/browse/PWA-26

[2019-10-18 18:50] #1713 closed

[2019-10-18 18:55] cherdman commented on #947
https://jira.corp.magento.com/browse/PWA-24

[2019-10-18 20:56] jcalcaben commented on #1805
Created the following internal issues to move the current troubleshooting topics to the Magento Knowledge Base:

* KB-361
* KB-362
* KB-363
* KB-364
* KB-365

[2019-10-18 21:05] jcalcaben opened #1906 "[doc]: Debugging with PWA Studio"
**Describe the request**

Debugging in PWA Studio

**Possible solutions**

A new topic that covers the following:

* What is debugging?
* Why debug?
* How to enable debugging in PWA Studio

**More information**

Using build:dev to make uncompressed bundles, to debug things you can't reproduce in dev mode

Using the DEBUG environment variable to control the logging by the debug library used in our

[2019-10-18 21:11] jcalcaben opened #1907 "[doc]: Developer tools"
**Describe the request**

Documentation on useful developer tools

**Possible solutions**

A new topic that provides a list of useful developer tools such as the React , Apollo, and GraphQL dev tools

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change request:**
 - [x] New Topic Request (ie. missing entire

[2019-10-18 21:14] jcalcaben opened #1908 "[doc]: Using GraphQL playground"
**Describe the request**

A topic that describes the GraphQL playground feature in PWA Studio

**Possible solutions**

A topic that covers the following:

* What is the GraphQL playground
* How to use the GraphQL playground

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change request:**
 - [x] New Topic Req

[2019-10-18 21:15] jcalcaben commented on #1805
Created github issues for docs requested by @zetlen:

#1906
#1907
#1908

[2019-10-18 21:17] jcalcaben commented on #1805
Closing this issue since there is nothing left to do for it. We will continue to monitor requests for troubleshooting and/or debugging topic and determine whether it should be in the KB or docs site.

[2019-10-18 21:17] #1805 closed

[2019-10-18 23:16] brendanfalkowski opened #1909 "[bug]: invalid "veniaResource" reference in upward.js comments"
**Describe the bug**
In `packages/venia-ui/upward.js` there's a reference to `veniaResource` which doesn't exist. It should be `veniaResponse`.

**Additional context**
Only affects comments.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `

[2019-10-18 23:17] brendanfalkowski commented on #1909
Assign to me, PR incoming.

[2019-10-18 23:31] brendanfalkowski opened #1911 "[bug]: Button component is exported twice"
**Describe the bug**
The `Button` component is exported twice.

**Expected behavior**
The named component is exported only as the default export.

**Additional context**
I don't think this actually matters for execution, I just haven't seen this done anywhere else.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `p

[2019-10-18 23:31] brendanfalkowski commented on #1911
Assign to me, PR incoming.

[2019-10-18 23:41] brendanfalkowski opened #1913 "[bug]: standardize GQL spacing"
**Describe the bug**
In `.graphql` files some use 2-space not 4-space indentation.

**Expected behavior**
All GQL files use 4-space indentation.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
The Prettier config doesn't seem to apply to this file type.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [x]

[2019-10-18 23:48] brendanfalkowski commented on #1913
Note: I tested adding `.graphql` files to the NPM scripts for Prettier, but this hits some issues in `packages/upward-spec` so I dropped that change:

![Screen Shot 2019-10-18 at 4 47 44 PM](https://user-images.githubusercontent.com/214924/67134457-108d6a80-f1c7-11e9-8a6b-b94cf215fc15.png)

[2019-10-19 00:01] brendanfalkowski opened #1915 "[bug]: remove redux.compose() where not needed"
**Describe the bug**
`redux.compose()` is sometimes used with a single argument, which isn't necessary:
https://redux.js.org/api/compose

**Expected behavior**
The function passed as an argument can be called directly because no composition is needed.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [

[2019-10-19 00:30] brendanfalkowski opened #1917 "[bug]: avoid JS-wrapped text nodes in JSX"
**Describe the bug**
In JSX, replaces simple text nodes like:
`<div>{'The text node'}</div>`

With the simpler:
`<div>The text node</div>`

The extra verbosity to treat a text node as a JS string seems like clutter.

Note: no idea if this does something for somebody, but I'm not a fan of the verbosity and it seems to be the exception. I heard somewhere that VS Code may auto-insert this but IDK.

*

[2019-10-21 06:17] ankitpatel2931 commented on #1864
Hi @idziakjakub,

I am getting error like below after adding code. When I run sudo yarn run build from pwa-studio direectory.

ERROR in ../venia-ui/lib/RootComponents/CMS/cms.js
Module not found: Error: Can't resolve '@apollo/react-hooks' in '/var/www/html/dalvey-m2/pwa-studio/packages/venia-ui/lib/RootComponents/CMS'
 @ ../venia-ui/lib/RootComponents/CMS/cms.js 10:0-47 18:18-26
 @ ../venia-ui/lib

[2019-10-21 07:39] idziakjakub commented on #1864
Hello @ankitpatel2931,

are you sure you are using the latest version of PWA Studio?
Most components in PWA Studio are using '@apollo/react-hooks' library.
Please double check your installation.

[2019-10-21 08:27] idziakjakub commented on #1864
@ankitpatel2931 you don't need my fix anymore, because branch `feature/page-builder` is now merged to `develop`. You have to pull new changes from the branch and it will work.

[2019-10-21 08:32] zetlen commented on #1885
This belongs to a general family of usability problems that come with using a local Magento instance. The main things we have to do are:

- Make it easy to give the Magento instance a valid self-signed TLS certificate
- Make the Magento instance respond over HTTPS and redirect from HTTP to HTTPS
- Expose the SSL certificate and key to the environment running PWA Studio
- Configure both the Node.js

[2019-10-21 08:36] zetlen commented on #1864
Open Source Magento needs to display CMS pages easily too. It won't be ideal, because we can't safely process the HTML and we'll have to inject it, but this would be a great issue for making a Peregrine talon to do that!

[2019-10-21 08:37] zetlen commented on #1915
This is a quick fix and a great first issue! It's just code cleanup.

[2019-10-21 08:42] zetlen commented on #1528
Perfect for a React-based learning bug. We're doing some extra renders and we need to stop.
You'll need:
- The Chrome step debugger
- React developer tools

[2019-10-21 08:49] zetlen commented on #1590
This is maybe a harder problem to solve, but it's probably solvable with some carefully chosen breakpoints. You'll need:

- The Chrome debugger
- The React developer tool extension

[2019-10-21 08:51] zetlen commented on #1612
Who wants to add loader options to `configureWebpack`? This will be a fun exercise in contribution to Buildpack. You'll need

- Some experience with NodeJS
- Connect a debugger (like Chrome or VSCode) to the running Node process
- The Webpack configuration API open in another tab.

[2019-10-21 08:53] zetlen commented on #1617
We already have a relatively new plugin which gets the media URL from GraphQL at build time. Who wants to extend it?

You'll need:

- Some experience with NodeJS and Webpack plugins
- Connect a debugger (like Chrome or VSCode) to the running Node process
- The Webpack configuration API open in another tab
- A GraphiQL environment (or the GraphQL playground!) to test GraphQL queries

[2019-10-21 09:39] shikhamis11 opened #1919 "Product price is not changing while changing configurable options"
**Describe the bug**
Product price is not changing while changing configurable options

**To reproduce**
Steps to reproduce the behavior:
1. Go to pwa-studio home page
2. Click on category available
3. Click on any config product which has multiple options with different prices
4.choose the differnt options one by one

**Expected behavior**
The product price should change with the options

**Pleas

[2019-10-21 11:26] shakyShane opened #1921 "[bug]: Upon removing the last layered navigation filter, the url search segment is not cleared"
**Describe the bug**
Upon removing the last layered navigation filter, the url `search` segment is left with empty `?&`

**To reproduce**
Steps to reproduce the behavior:
1. Go to any product list
2. Select 1 or more filters & hit click 'apply filters'
3. remove all filters
4. see `?&` in the url bar

**Expected behavior**
the url is cleaned of search params

**Please let us know what packages thi

[2019-10-21 11:55] wigman opened #1924 "Error 'request to [MAGENTO_BACKEND_URL] failed, reason: self signed certificate'"
**Describe the bug**
When using a invalid/self-signed certificate, `yarn run build` and `yarn run watch` will fail with the error message 'request to [MAGENTO_BACKEND_URL] failed, reason: self signed certificate'.
This error can be ignored with an environment variable, which would be helpful when developing.

**To reproduce**
Steps to reproduce the behavior:
1. Run a local instance of Magento with

[2019-10-21 12:21] idziakjakub opened #1925 "[feature] Compatibility with multiple websites and stores"
**Is your feature request related to a problem? Please describe.**
I have current working Magento with one website and one store view. I want to create a second website and store view and use PWA Studio on a storefront.
When I installed PWA Studio and connected it with a new website URL I'm getting data from the first `default` website (CMS pages, products, categories). I checked PWA Studio code a

[2019-10-21 13:23] shakyShane commented on #1528
I've looked into this - the issue is actually because the initial page render may return a media collection containing 3 items - but then following an option selection there is always 1 extra image - this causes the re-render and fetch of a separate image.

[2019-10-21 13:28] sirugh commented on #1528
I actually think this was fixed when I worked on the carousel or product page talons.

[2019-10-21 13:38] sirugh commented on #1528
Yea just double checked on `develop`, this is not an issue any more.

[2019-10-21 13:38] #1528 closed

[2019-10-21 16:01] #1909 closed

[2019-10-21 16:15] jcalcaben commented on #1553
This issue is currently blocked by: #1244

[2019-10-21 16:37] revanth0212 commented on #1774
Removing from the Performance Milestone for now. Will revisit in the future.

[2019-10-21 16:38] revanth0212 commented on #1771
Background sync is not available in all the browsers as of today. Removing from the Performance Milestone for now. Will revisit in the future.

[2019-10-21 16:41] revanth0212 commented on #1804
This has a high workload. Removing from the Performance Milestone for now. Will revisit in the future.

[2019-10-21 16:47] jimbo commented on #1917
We've actually been doing this intentionally, though not rigorously.

Every text node in the app represents tech debt: each one is essentially a hardcoded string that will eventually (read: someday) need to be extracted and run through an internationalization utility. So they'll all be JS expressions eventually.

In the meantime, there may be minor benefits to being explicit with strings instead o

[2019-10-21 17:34] #1924 closed

[2019-10-21 17:34] #1443 closed

[2019-10-21 17:42] revanth0212 commented on #1917
Closing because related [PR](https://github.com/magento/pwa-studio/pull/1918) is closed.

[2019-10-21 17:42] #1917 closed

[2019-10-21 18:31] soumya-ashok commented on #360
Scott and I have reviewed sort, some design changes need to be made. Will be working on that this week @awilcoxa .

[2019-10-21 18:39] #1781 closed

[2019-10-21 19:26] brendanfalkowski commented on #1917
@jimbo Oh I see, maybe you want the opposite PR...

![merry](https://user-images.githubusercontent.com/214924/67236233-ba563c80-f3fd-11e9-986e-b55770d4e35c.gif)

[2019-10-21 19:50] cherdman commented on #947
Reopening for visibility and will close once we publish our plans for extensibility and Marketplace integration.

[2019-10-21 20:04] #1847 closed

[2019-10-21 20:30] revanth0212 commented on #1767
I am not sure of the Apollo policy. Definitely something to look into. Meanwhile, it is no possible to cache POST calls in the browser cache storage. There is an open issue in SW Spec repo to enable this https://github.com/w3c/ServiceWorker/issues/693. Although this is an open issue, I am not sure if this will be implemented any time soon, since this issue was open since 2015. There is a workaroun

[2019-10-22 10:48] ankitpatel2931 commented on #1864
Hi @zetlen , @idziakjakub , @ThibaultAndreis , @davemacaulay ,

Thanks for the replay.
Magento 2 CMS page working fine in PWA setup after taking pull from develop branch.

[2019-10-22 10:48] #1864 closed

[2019-10-22 14:04] supernova-at commented on #1721
Newest changes look good 👍

[2019-10-22 15:27] #1227 closed

[2019-10-22 16:10] jcalcaben commented on #1721
Closing issue as there is nothing specific left to do.

[2019-10-22 16:10] #1721 closed

[2019-10-22 16:18] sirugh opened #1928 "[chore]: Move .graphql files from queries/ directory to the component directory where they are used"
## Goal

* Move all `.graphql` from `/queries` directory into the directory where they are used. For example, `queries/createAccount.graphql` is used by the `CreateAccount` component so we should move the graphql file to `venia-ui/lib/components/CreateAccount/`.
* Ensure all tooling around queries is updated if necessary. There may be paths hardcoded to look in `queries/` and if so, it needs to be

[2019-10-22 16:41] supernova-at commented on #1928
Just chiming in from the Apollo caching perspective: I think this is fine, but we will want to use and share `fragments` to ensure we get cache hits, which may mean overfetching in some particular cases.

A good example is the Category page requesting details about a Product. To render its UI, the Category page only really needs a subset of that data (like `name`, `small_image`, `price`), but the

[2019-10-22 17:50] sirugh commented on #1928
Yea, so `fragments` may be a shareable thing but optimizing right now to create a `fragment/` directory may be overkill (especially since they don't quite work). Good call out though @supernova-at !

[2019-10-22 18:56] brendanfalkowski commented on #1590
Retested after updating to PWA Studio 4.0.0 + dependencies in our project. The errors are slightly more informative now (probably the React version bump), but the issue still occurs.

![Screen Shot 2019-10-22 at 11 51 44 AM](https://user-images.githubusercontent.com/214924/67319955-76793b00-f4c2-11e9-9814-415bc24d1cb4.png)

The workaround (just restart the watch process) is fast enough that I prob

[2019-10-22 19:15] sirugh commented on #1658
Resolved in talon conversion work.

[2019-10-22 19:15] #1658 closed

[2019-10-22 19:35] brendanfalkowski commented on #1928
Caveat: improves learning + onboarding new devs.

It was super nice having all queries in the same folder so I could easily compare their structure, naming, etc.

Also, I never would have noticed #1913 if the files were spread out in components.

[2019-10-22 19:35] dpatil-magento opened #1930 "[bug]: Filters: unable to select fashion color filters"
**Describe the bug**
User is unable to select Fashion colors filters.

**To reproduce**
1. Go to any category and click on Filters button on `develop` https://magento.pwa-venia.com/
2. On Filters drawer expand Fashion Color section.
3. Click on any Fashion color.

**Expected behavior**
Color should get selected as Filter.

**Expected behavior**
Colors are no more getting selected.

Note - Works fi

[2019-10-22 19:44] sirugh commented on #1930
These are being rewritten right now in #1884. Check with @jimbo and see if he has fixed this in the refactor. If he has, we can close this.

[2019-10-22 20:02] #1915 closed

[2019-10-22 20:24] #1911 closed

[2019-10-22 20:44] #1210 closed

[2019-10-22 20:55] soumya-ashok commented on #1134
Full LUMA parity for wish list will need My Account. Are we expecting to deliver the full feature or do we want to consider a "light" route with guest wish list and no My Account management @awilcoxa  - Can discuss this more once you are back from MLEU.

[2019-10-22 20:58] soumya-ashok commented on #1901
Gift cards also have a My Account side to them, but for this milestone, we will be delivering the cart version as demo-ed by @schensley at the last design review. @awilcoxa

[2019-10-23 08:55] duckchip opened #1931 "[feature]: Provide .gitignore file when setting up new pwa using npm init @magento/pwa"
Hi guys,

I just set up a new pwa project using `npm init @magento/pwa` and noticed that the .gitignore file is missing.

It would be nice if this comes by default :)

Thx in advance!

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [ ] `venia-ui`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `cre

[2019-10-23 15:16] revanth0212 commented on #1783
Moving it out of Performance Milestone for now. Should revisit this in the future.

[2019-10-23 18:18] dani97 commented on #1715
@sirugh  https://reacttraining.com/react-router/core/api/Hooks can we use this. They just replace withRouter with four hooks but we can will be using one or other in our code

[2019-10-23 18:24] dani97 commented on #1715
https://reacttraining.com/blog/react-router-v5-1/

[2019-10-23 18:32] sirugh commented on #1715
Please do give this a shot!

[2019-10-23 18:44] dani97 commented on #1715
Thanks @sirugh

[2019-10-23 20:30] brendanfalkowski commented on #1715
@dani97 @sirugh — I saw this yesterday, same idea: https://usehooks.com/useRouter/

[2019-10-24 02:12] dani97 commented on #1715
@brendanfalkowski  Thanks for your suggestion, but we are using mostly location and history in most places, so I guess `useLocation`  gives more readability than `useRouter`.

[2019-10-24 03:49] abolivar opened #1934 "[feature]: Support for nodejs >= 12.x in magento/venia-concept"
The status: Active for version NodeJS 10.x LTS ends in April/2020

**Please let us know what packages this feature is in regards to:**
- [X] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2019-10-24 14:47] #1913 closed

[2019-10-25 16:54] #1377 closed

[2019-10-25 19:15] schensley commented on #1136
Updated the UX Deliverables ticket for this item.
Ready for review.

https://jira.corp.magento.com/secure/RapidBoard.jspa?rapidView=2089&projectKey=UXD&view=detail&selectedIssue=UXD-171

[2019-10-25 19:27] schensley commented on #1901
PNG and MP4 design deliverables attached to: https://jira.corp.magento.com/browse/UXD-173
Please review.

[2019-10-28 19:36] revanth0212 commented on #1766
This is already being done by the SW.

[2019-10-28 19:41] revanth0212 commented on #1766
My bad. There seems to be some change that needs to be done. Clearly even if a high-resolution version is avaialable the SW is still requesting a low-resolution image.

![image](https://user-images.githubusercontent.com/35203638/67711924-f9056d00-f990-11e9-8cb5-41732777542a.png)

[2019-10-28 20:03] jonfres commented on #1281
Hello, is there someone interested on this issue? Otherwise I'll ask for it.

[2019-10-28 23:09] LucasCalazans commented on #1934
A good thing to say is that the documentation says that NodeJS >=10.14.1 is compatible.
https://magento.github.io/pwa-studio/venia-pwa-concept/setup/#prerequisites

[2019-10-29 01:07] LucasCalazans commented on #1931
Working on this issue

[2019-10-29 12:44] LucasCalazans opened #1940 "[feature]: Get the catalog page size using GraphQL query"
**Is your feature request related to a problem?**
We need to get the catalog page size value from the `storeConfig` query, since that it is already implemented on the Magento GraphQL.

**Additional context**
Magento GraphQL implementation: https://github.com/magento/graphql-ce/pull/650

Files where it needs to be replaced:
* https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/

[2019-10-29 12:48] abolivar commented on #1934
Yes, but you will not install it if you have 11 or 12, the package.json for venia-concept sets:

`"engines": {
    "node": "10.x",
    "yarn": ">=1.12.0"
  }`

At first glance I don't see anything depreciated with node 12, and it should only be replaced by:
`"engines": {
    "node": ">=10.x",
    "yarn": ">=1.12.0"
  }`

Which is the dependency version in the other packages

[2019-10-29 13:37] sirugh commented on #1281
You've got it @jonfres!

[2019-10-29 16:34] revanth0212 commented on #1766
Fixed it.

Left is Develop and Right is with PR #1938 changes.

Look at the fetch times for the last 2 images. It is less on the right side because the cached version is being returned by the SW.

![image](https://user-images.githubusercontent.com/35203638/67788129-b8b0f800-fa3f-11e9-9c53-2db5f599df3c.png)

[2019-10-29 17:33] schensley commented on #1489
Initial wireframe design.
https://jira.corp.magento.com/browse/UXD-182

[2019-10-29 18:27] zetlen commented on #1565
I wouldn't worry about the peerDependencies issue. It doesn't change the fact that we need to do a dependency audit. I was pre-emptively worrying about confusion, but it's not a thing.

[2019-10-29 19:38] #1930 closed

[2019-10-29 19:56] zetlen commented on #1682
@subhajyotiint This looks like a real issue, but you would have better luck if you opened it in the https://github.com/magento/graphql-ce repository instead. This issue is about the behavior of the GraphQL API alone, and not any PWA Studio code, so the GraphQL team will be better at handling it.

[2019-10-29 19:56] #1682 closed

[2019-10-29 19:57] zetlen commented on #1681
Thanks, @fooman! He's right, @subhajyotiint. This, like the other issue you've opened, is a better fit for the graphql-ce maintainers.

[2019-10-29 19:57] #1681 closed

[2019-10-29 19:58] zetlen commented on #1503
Closing in favor of the internal [JIRA ticket](https://jira.corp.magento.com/browse/PWA-40), since this issue  involves CI access only available to the core team.

[2019-10-29 19:58] #1503 closed

[2019-10-29 20:05] zetlen commented on #1660
Renaming this issue to clarify something about peregrine and venia-ui.

[2019-10-29 20:45] zetlen opened #1942 "[bug]: Build and watch fail with bad error message when environment validation fails"
**Describe the bug**
Since #1832 and the new `configureWebpack` structure, trying to run the dev server or build with an invalid environment will log a strange error message.

[code]

It's not properly handling an error state returned by `loadEnvironment()`.

**To reproduce**
Steps to reproduce the behavior:
1. Check out the develop branch and install.
2. Run `DEV_SERVER_PORT=bad yarn run watch:ve

[2019-10-29 22:59] sirugh commented on #1489
Gotta keep this stuff in JIRA now! :D

[2019-10-30 04:37] DevAwais opened #1944 "symbolick link"
how to we create symbolik link with venia in htdocs magento?

[2019-10-30 15:45] abelyanvahe opened #1947 "[bug]: Not able to get the filters state outside filter modal, coz now it is private"
**Describe the bug**
So I see that you moved the state to local state. But if you remember, the getCategory query happens in the category component, which is outside the FilterModal component. So How you are going to get the filters there in order to send it with the getCategory query?
In the previous version, I could easily get it from Redux via context, but now I don't see any ways.
Thanks in ad

[2019-10-30 19:37] zetlen commented on #1767
This should stay open because we don't strictly need to use CacheStorage to cache things in the ServiceWorker. It is the simplest approach, and ServiceWorker is designed for it, so @revanth0212 is right that we should use CacheStorage as soon as we can.

However, ServiceWorkers can still intercept fetches with non-GET HTTP methods. We can store responses in an indexedDB and build Response objects

[2019-10-30 19:40] zetlen commented on #1590
Thanks for the update. This _might_ be an incompatibility between Redux `connect()` and lazy-loaded React classes. This shouldn't normally happy, because `connect()` should be called synchronously at class definition. But if you need to late-bind `connect()`, I found this article with a method:

https://medium.com/front-end-weekly/the-power-of-redux-and-react-lazy-bdeb21028f43

[2019-10-30 20:19] abelyanvahe commented on #1947
Hi @jimbo . Thanks for your reply. I would prefer the first option. useFilterState should belong to the category component. In that case we can use it easily in the category query.

[2019-10-30 20:19] abelyanvahe commented on #1947
If you could do that and deploy, that would be great)

[2019-10-30 20:31] jimbo commented on #1947
@abelyanvahe It'll have to go through our pipeline; it's not something we're just going to build right now and deploy. 😅

For now, I'd suggest pulling filter params from the URL or pinning to an earlier commit. Alternatively, if you already have a changeset in mind, please consider opening a pull request. Thank you!

[2019-10-30 20:34] zetlen commented on #1725
Add the skeleton! Thanks @LucasCalazans

[2019-10-30 21:10] brendanfalkowski commented on #1725
Requesting @soumya-ashok approval:
![source](https://user-images.githubusercontent.com/214924/67899135-e4ef7600-fb1e-11e9-9eae-4f148cacea7c.gif)

[2019-10-31 11:42] TomashKhamlai commented on #1432
:bell: magento/graphql-ce#500

[2019-10-31 13:43] soumya-ashok commented on #1725
@zetlen @brendanfalkowski The page skeleton is what we have been wanting to do for loading state so if that's possible now, then let's try that for sure.

[2019-10-31 15:29] sirugh commented on #1225
We have since switched to apollo hooks but auto-cancellation doesn't seem baked in. We have options:

a) debounce input
b) [AbortController](https://evilmartians.com/chronicles/aborting-queries-and-mutations-in-react-apollo#howto) (This is experimental and would require polyfills.)

[2019-10-31 16:57] #1715 closed

[2019-10-31 17:02] zetlen opened #1950 "[feature]: Update to graphql-cli@4.0.0-alpha and use codegen"
**Is your feature request related to a problem? Please describe.**
The 3.x version of the `graphql-cli` tool has some bugs including https://github.com/Urigo/graphql-cli/pull/447, which aren't being fixed because they're working on version 4.0.0. Let's adopt the 4.0 alpha, which includes some much better features including **codegen, which would give us TypeScript definitions and autocomplete for

[2019-10-31 17:42] #1772 closed

[2019-11-01 16:47] #1931 closed

[2019-11-01 17:33] #1225 closed

[2019-11-01 17:46] #1689 closed

[2019-11-01 18:44] #1615 closed

[2019-11-01 20:41] zetlen opened #1954 "[feature]: Third parties should be able to tap in to talons"
_Emerged from [discussion about deprecating `venia-drivers`](https://gist.github.com/jimbo/95a7574d6f0002335b12fd708f6323bf)._

## Description
We may not want to encourage devs to stub out or redirect our core dependencies, _but_ we want them to be able to implement _interceptors around Peregrine talons_.

The clearest use case for this is analytics: a third party should be able to "tap in" to the

[2019-11-01 20:54] jimbo commented on #1954
This is very cool ideation. I'm intrigued by the `NormalModuleReplacementPlugin` approach, since it would offer a lot of customization while leaving the talons themselves pristine.

If we end up having to do the global event bus, it wouldn't be the end of the world though.

[2019-11-03 19:22] dani97 commented on #1733
@zetlen  https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/AuthModal/authModal.js, because of this **createAccount**  component is present in main bundle. The client bundle doesn't have search component now as of #1742

[2019-11-04 15:35] sirugh commented on #1954
Neat idea! If we go with an event bus we will likely end up with _tons_ of emitter code sprinkled throughout, which detracts from readability and maintainability. With the interceptor pattern we only have to harden around the talon API which should be stable anyways.

[2019-11-04 19:57] sirugh commented on #1821
Donezo

[2019-11-04 19:57] #1821 closed

[2019-11-04 20:02] sirugh commented on #1604
This is pretty much done -- We've got a few root component talons to write (maybe) but beyond that there should be no major changes on how the talons should be written.

[2019-11-04 20:02] #1604 closed

[2019-11-04 20:47] revanth0212 opened #1958 "Implement Progressive Image Loading"
**Is your feature request related to a problem? Please describe.**
Images in the gallery page only have 2 states, load full image or don't load at all.

![image](https://user-images.githubusercontent.com/35203638/68156315-3463e680-ff11-11e9-96aa-6f72948e027e.png)

**Describe the solution you'd like**
Load images progressively.

1. UI Requests image.
2. Service Worker intercepts the image request.

[2019-11-05 00:43] fooman commented on #1954
I am guessing we would have some similar process to how the `upward.yml` files are currently read from all packages and then merged? For example `webpack.extend.js` in the package root folder and this is where we can add `configureWebpack()` ?

I am currently envisaging that in an ideal scenario `yarn add @fooman/example` is all that is needed to provide a PWA component that customises/builds on t

[2019-11-05 08:10] devaviarain commented on #1944
kindly tell me how to we create symbolik link with venia theme in htdocs magento?

[2019-11-05 14:35] Jordaneisenburger opened #1959 "[bug]: Bundlesize can't run because of wrong path"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. build venia
2. run `npx bundlesize`

**Expected behavior**
Green output that all bundles pass

**Possible solutions**
Inside package.json in root change the following:

**from:** ./packages/venia-concept/dist/+([0-9]).ASTERIK.js
**to:** ./packages/venia-concept/dist/+([0-9

[2019-11-05 14:41] #1959 closed

[2019-11-05 16:10] sirugh commented on #1489
Tracking in JIRA now. See [PWA-74](https://jira.corp.magento.com/browse/PWA-74).

[2019-11-05 16:10] #1489 closed

[2019-11-05 19:02] sirugh commented on #613
Of note:

* We are currently using REST for cart/checkout. We can either use REST for this work or we can use GraphQL (if graphql can handle what we need for checkout).

[2019-11-06 11:16] ankitpatel2931 opened #1963 "PWA Studio with Stripe and Sagepay"
Hi Team,

I have configured pwa studio with magento 2. Now, I want to know how to implement sage pay payment integration with pwa store front? Could you please provide any guidance how can I implement this?

Thanks.

[2019-11-06 11:24] shuafried commented on #747
When is this planned to release?

[2019-11-06 18:59] #1638 closed

[2019-11-07 12:56] #1290 closed

[2019-11-07 13:25] paales commented on #1529
What I'm scared of, is that the forced compatibility with PHP is the whole reasoning behind this issue. It seems that because UpwardPHP isn't able to do SSR, we create rationalisations/reasons why SSR isn't required.

Please note that Polymer is using the same reasoning, because nobody can SSR webcomponents. Nothing has been invented or changed in the spec to allow this.. They are not doing CSR be

[2019-11-07 16:45] supernova-at commented on #1663
Closing this issue in favor of the JIRA one.

[2019-11-07 16:45] #1663 closed

[2019-11-07 19:00] dpatil-magento commented on #1942
re-verified after recent commits, looks good.

[2019-11-07 19:00] #1942 closed

[2019-11-07 21:20] sirugh commented on #613
After talking with @awilcoxa we're deciding that this work should probably just wait for the eventual refactor of checkout since that design will include these things anyways. Just to elucidate our options:

a) Use REST
 - requires small refactor such as moving submission of address to before checkout rather than _on_ checkout and re-requesting `/totals` after each step.
 - requires UX/design for

[2019-11-08 07:09] DevAwais opened #1967 "[doc]: Telling me plz how to build pwa from scratch"
**Describe the request**
A clear and concise description of the documentation request or where the documentation can be improved.

**Possible solutions**
How would you word this addition or change?

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire t

[2019-11-08 15:49] dani97 commented on #1671
@supernova-at Is this still valid, I don't see any usage of `react-apollo/test-utils`

[2019-11-08 15:56] dani97 commented on #1460
@dpatil-magento couldn't reproduce the issue. Can you check this still an issue.

[2019-11-08 16:01] dani97 commented on #1921
https://github.com/magento/pwa-studio/pull/1884 should have fixed this issue. Couldn't reproduce too,

[2019-11-08 17:32] sirugh commented on #1921
Sweet! Closing.

[2019-11-08 17:32] #1921 closed

[2019-11-08 17:37] schensley commented on #1136
The UX Deliverables ticket has been updated with a design for Coupon Code for the current Venia cart page for your consideration.  https://jira.corp.magento.com/browse/UXD-171

[2019-11-08 17:41] dani97 commented on #1565
We may have to consider refactoring some dependencies. eg. debug-error-middleware in buildpack. It is not in active development or support for months.
https://github.com/matthisk/debug-error-middleware/pull/2

[2019-11-08 18:05] dani97 commented on #1565
Ran security update found 23 vulnerabilities mostly becuase of handlebarjs
![Screenshot 2019-11-08 at 11 27 52 PM](https://user-images.githubusercontent.com/13298685/68499831-3e267a80-0280-11ea-9549-fd281d8da76a.png)

Updated Lerna vulnerablities dropped to 10.

yarn audit v1.19.1
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ high          │ Prototype Pollution

[2019-11-08 18:31] dani97 opened #1968 "[bug]: Replace 'debugErrorMiddleware' dependency from buildpack and upward js"
**Describe the bug**
`debugErrorMiddleware` package is used in `buildpack` and `upward js`. This package is not updated for months and has high security vulnerabilities because of handlebar js detected by yarn audit.

**To reproduce**
Steps to reproduce the behavior:
1. Run yarn audit. 23 vulnerabilities will be shown.
2. Run yarn upgrade lerna.
3. Run yarn audit again, number of vulnerabilities w

[2019-11-11 19:25] zetlen commented on #1954
@fooman That's a workflow we want to enable. We're starting with explicit declaration of the modules to incorporate. Implicit merging of modules is something we're used to in the Magento ecosystem, but it has some debuggability problems; we'd like to stick with our flags approach for now.

However, we would be interested in automation and helper tools which generate a lot of this explicit configur

[2019-11-11 23:10] tjwiebell commented on #1885
@zetlen
I'm going to assume @brendanfalkowski and I have both jumped on the Valet train, and the first two bullets are simple (`valet secure`). Exposing these self-signed certs will require some investigation, but seems feasible given we've been able to leverage the same functionality with `devcert`.

While this sounds like a perfect long term vision, I did want to propose a simple change right no

[2019-11-12 01:49] fooman commented on #1954
Thanks @zetlen for getting back to me. I am not 100% sure that I understand the current plan. Are you saying for now we would have in my installation instructions `yarn add @fooman/example` followed by please find your webpack config file and add
[code]
in the special section? Agree that some helper script would be beneficial as hand editing files never goes well (missing comas, finding the right

[2019-11-12 17:04] #1661 closed

[2019-11-12 17:11] tjwiebell commented on #1590
@brendanfalkowski - Sounds like this is low priority for you, but was curious if you could help with some additional repro detail. This error looks familiar, but I haven't seen it pop up in the last couple weeks, so I'm curious if it was resolved by a component re-factor in the latest `develop` line.

[2019-11-12 20:59] awilcoxa commented on #1967
Hi @DevAwais If you have specific questions on implementing/building a PWA please direct them to community slack channel and we would be happy to assist (I've sent you an invite via email).

[2019-11-12 20:59] #1967 closed

[2019-11-12 21:53] brendanfalkowski commented on #1590
@tjwiebell — If I'm roughing out UI for 6 hours, hot-reload errors probably cause me to restart the watch process 25-75x. Most days I probably lose 10-20 minutes to restarting the build.

The workaround is easy and always works (restart the build) so it's high-annoyance but low-priority for me to spend time on — only because it looks like tooling's domain and looks like a rabbit hole.

Over PWA 2.

[2019-11-12 22:47] dpatil-magento commented on #1460
@dani97 Updated steps, can you try with updated steps once?

I'm able to reproduce with updated steps on https://develop.pwa-venia.com/

[2019-11-13 16:22] sirugh commented on #1590
@brendanfalkowski is that second video one of you editing a RootComponent?

I tried making almost identical changes to the `Product` RootComponent and I could not get it to throw in the same manner :(

[2019-11-13 18:06] sirugh commented on #1590
Looks like the `staticContext` warning is "resolved" in #1966 except it still breaks (shows a shell of button and no text).

[2019-11-13 18:37] dani97 commented on #1725
@LucasCalazans  https://github.com/danilowoz/react-content-loader.
https://github.com/buildo/react-placeholder
I found these two libraries,  you may have already chosen a better library, just check these two.

[2019-11-13 20:42] brendanfalkowski commented on #1590
Both videos are editing a root component (brendan.js) but similar errors occur when adding/using imports for any component in my experience.

The "hot-reload leads to empty shell w/ header/footer but no content and no console/devtools errors" issue happens sometimes too. I haven't paid enough attention to spot the sequence that causes it though.

[2019-11-13 21:18] #1789 closed

[2019-11-13 21:32] sirugh commented on #1590
@brendanfalkowski check out the PR. 🙏 Hoping it fixes the issue for ya!

[2019-11-14 17:03] sirugh commented on #1301
Moving to JIRA.

[2019-11-14 17:03] #1301 closed

[2019-11-15 13:18] shikhamis11 opened #1980 "Email validation missing in sign in form"
**Describe the bug**
Email validation missing in sign in form

**To reproduce**
Steps to reproduce the behavior:
1. Go to pwa-studio home page
2. Click on navigation
3. Go for Sign in
4. Sign In form email field has only required validation

**Expected behavior**
Sign In form email field must have email as well as required field validation

**Please let us know what packages this bug is in regards

[2019-11-15 19:32] #1590 closed

[2019-11-18 14:44] dani97 commented on #1460
Yes I can reproduce it now, care became empty too

[2019-11-18 16:14] #1761 closed

[2019-11-18 16:17] sirugh commented on #1762
Now tracked in JIRA.

[2019-11-18 16:17] #1762 closed

[2019-11-18 16:18] sirugh commented on #1763
Now tracked in JIRA

[2019-11-18 16:18] #1763 closed

[2019-11-19 14:07] niklaswolf opened #1986 "[feature]: Make pagination page buffer configurable"
**Is your feature request related to a problem? Please describe.**
It's currently not possible to show more than the standard 5 pages with the peregrine pagination talon.

**Describe the solution you'd like**
Peregrine pagination talon should support configuration of pages to show. The page buffer constant that is used right now should be given to the talon via props.

**Describe alternatives you'

[2019-11-19 16:12] #1919 closed

[2019-11-20 16:57] supernova-at commented on #1281
@jonfres any updates on this one?

[2019-11-20 18:15] brendanfalkowski commented on #1281
@supernova-at — I implemented this months ago. It wouldn't be much work to migrate this into Venia styling. Assign to me?

@soumya-ashok Can you post the mockup of the layout/coloring you last had okay'ed to implement? I think it got lost in another ticket.

[2019-11-20 18:40] sirugh commented on #1281
Done. @brendanfalkowski I think Soumya is on PTO for a few days so it might be a while.

[2019-11-20 23:46] brendanfalkowski opened #1990 "[bug]: Directive parser for root components fails"
**Describe the bug**

A root component's default export must be sourced from `/components`. If it lives in the same folder as the root component's `index.js` then the Magento directive parser will fail the build with this error when certain imports (for me, API fetching with useQuery) are called.

[code]

**To reproduce**

Create a new root component like this:

File: /RootComponents/CustomerInfo/

[2019-11-21 02:02] robdunn commented on #1928
Happy to take this on. Seems like a good one to get familiar with the project. Thanks!

[2019-11-21 14:59] MaksymShcherbyna opened #1991 "[feature]: Implement list/grid switcher for PLP"
**Description**
Currently theme doesn't have any alternatives for change PLP view. So my offer is implement toggle button, for example, near title to change view. As example, please see screens below.

Before click on button:
![gridView](https://user-images.githubusercontent.com/57752997/69349079-d6106500-0c7f-11ea-8e38-4b59fad2aa9d.png)

After click on button:
![listView](https://user-images.gith

[2019-11-21 15:57] #1766 closed

[2019-11-21 15:57] #1769 closed

[2019-11-21 16:31] #1980 closed

[2019-11-21 16:32] zetlen commented on #1885
FYI @tjwiebell @brendanfalkowski I'm working on a more robust fix for this issue; at runtime, all our contact with the Magento backend should go through one UPWARD-created proxy, and that proxy should be configurable at runtime to include a custom certificate authority. The image opt middleware should work more like a compression middleware: instead of placing its own calls, it should just transfo

[2019-11-21 19:27] tjwiebell commented on #1885
Fixed by #1969

[2019-11-21 20:03] awilcoxa commented on #1486
Closing as won't fix, while we haven't formalized a device support policy I'm making the call that Iphone5/SE falls outside of the future scope.

[2019-11-21 20:03] #1486 closed

[2019-11-21 20:20] awilcoxa commented on #365
Closing this as it's not a bug/defect but an enhancement to current footer design. Will reevaluate as future feature enhancement.

[2019-11-21 20:20] #365 closed

[2019-11-21 23:39] gauravagarwal1001 opened #1996 "Apply Filters button is enabled after removing all selected category in category filter"
**Describe the bug**
Apply Filters button is enabled after removing all selected category in category filter.

**To reproduce**
Steps to reproduce the behavior:
    1. Go to any category page.
    2. Click on filter button.
    3. Select some category and click on apply button.
    4. Again open category filter and remove all category selection .
    No filter is selected but apply button is enabl

[2019-11-21 23:55] gauravagarwal1001 opened #1998 "Email validation missing in forgot password form"
**Describe the bug**
 Email validation in forgot password form.

**To reproduce**
Steps to reproduce the behavior:
Go to pwa-studio home page
Click on navigation
Go for Sign in and then click on forgot password link
Forgot password form email field has only required validation

**Expected behavior**
Forgot password form email field must have email as well as required field validation

**Please let

[2019-11-25 21:21] zetlen commented on #1885
Reopening to have a trackable issue for #2005 to run CI against.

[2019-11-25 21:22] zetlen commented on #1885
Reopening to have a trackable issue for #2005 to run CI against.

[2019-11-26 11:32] shikhasshukla opened #2006 "Development Url Issue on Server"
I have uploaded my Pwa studio on server "test.demo.com" which is already secured and i set the .env  file with following details
DEV_SERVER_HOST=test.demo.com
DEV_SERVER_PORT=5000
so every time my project is running at "http://test.demo.com:5000/". But Pwa features are not working as my url is not secure. How to set https for my url when project is build.

[2019-11-27 11:29] ankitpatel2931 commented on #1963
Hi Team,

Do you have any update here?

Thanks.

[2019-11-27 14:53] tjwiebell commented on #1963
@ankitpatel2931
Payment processors have their own unique way of integrating with your storefronts, so I can't provide you a concrete solution for SagePay, but there's nothing special about PWA Studio you need to account for. SagePay should have documentation for how to integrate their gateway in your site, and the extension you're using for Magento should support those APIs. We consider Magento he

[2019-11-27 14:53] #1963 closed

[2019-11-29 12:15] WaqasMumtaz opened #2009 "webpack issue when yarn run build"
ERROR in (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js?id=webpack-inject-module-1
    Module not found: Error: Can't resolve './..
                                                enia-uilibRootComponentsCMSindex.js' in 'C:\xampp\htdocs\magento\pwa-studio\packages\venia-concept'
     @ (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js?id=webpack-inject-module-1 5:71-177

[2019-12-02 07:46] zetlen commented on #1954
That's the current plan. Hey, it sounds like you manage to avoid hand-editing text files in your usual workflow. Do you find you have to edit some XML? What are the biggest pitfalls in your own work?

[2019-12-02 14:02] NamCt1191995 commented on #2009
`enia-uilibRootComponentsCMSindex.js`.
Seems like you are missing path separator `/`. I suggest you checking folder structure.

[2019-12-02 14:04] NamCt1191995 commented on #2006
On version 4.
`CUSTOM_ORIGIN_ENABLED = 1`

Lower version it should be `MAGENTO_BUILDPACK_PROVIDE_SECURE_HOST`

[2019-12-03 17:53] #1460 closed

[2019-12-04 08:47] fooman commented on #1954
@zetlen I am currently only speaking from the standpoint of non PWA Magento extensions. And from there I can totally second the need for simplification. Currently to install an extension into Magento it's about 5 to 7 different steps (which can differ depending on what mode Magento itself is in - as an aside [trying to fix that too](https://github.com/extdn/installer-m2) bringing it down to 1 step

[2019-12-04 16:02] zetlen commented on #1954
@fooman Thanks for taking the time to explain. One more question if you can:

How do you manage the priority order of installed modules? Do you edit config.php directly? Is there another tool or workflow you use? Or do you find that you just don't need to do it that often?

[2019-12-04 16:37] supernova-at commented on #1733
Closed by #1765 .

[2019-12-04 16:37] #1733 closed

[2019-12-04 17:46] sirugh commented on #1733
@supernova-at did you mean to close this? #1955 references this as the issue for it.

[2019-12-04 17:46] sirugh commented on #1733
@supernova-at did you mean to close this? #1955 references this as the issue for it.

[2019-12-04 20:51] supernova-at commented on #1733
I did, yeah - these are two separate things. I updated the reference in #1955.

[2019-12-04 22:35] fooman commented on #1954
@zetlen editing config.php by hand is not recommended. Magento reads all `etc/module.xml` files in which you can define a sequence (ie this module should come after this, this and that one) and then writes out the sequence into the `app/etc/config.php` file (ie your hand editing would get overwritten). An example is [here](https://github.com/fooman/emailattachments-implementation-m2/blob/develop/s

[2019-12-05 16:47] zetlen commented on #1954
Thank you, @fooman . From time to time I need my memory refreshed, and there's so much going on in our core teams that sometimes an external contributor has the clearest view.

[2019-12-05 17:46] vpberiya opened #2016 "Host venia theme on server but generated secure url not run on other devices."
Generate ssl certificate for **CUSTOM_ORIGIN_EXACT_DOMAIN**=www.pwa.com using command **yarn buildpack create-custom-origin packages/venia-concept**.

after excuting the **yarn run build && yarn run stage:venia** generate the secure url like https://www.pwa.com but this secure the url only run securely for my own pc but on another devices not run becuase of invalild certificate.

[2019-12-05 18:27] sirugh commented on #2016
Correct, the `create-custom-origin` script generates a certificate for local development only. You'll need an actual certificate when hosting your server for production.

[2019-12-05 18:27] #2016 closed

[2019-12-06 04:30] vpberiya commented on #2016
How to connect actually certificate with our venia theme folder on server

[2019-12-06 14:05] ankitpatel2931 commented on #1963
Hi @tjwiebell ,

Thanks for the Update.
It's really helpful.

[2019-12-06 15:59] #1577 closed

[2019-12-06 18:15] sirugh commented on #1998
Now tracked in JIRA: https://jira.corp.magento.com/browse/PWA-191

[2019-12-06 18:15] #1998 closed

[2019-12-06 18:17] sirugh commented on #1996
Now tracked in JIRA: https://jira.corp.magento.com/browse/PWA-220

[2019-12-06 18:17] #1996 closed

[2019-12-06 18:52] sirugh commented on #1991
Sorry but this isn't a feature that we're looking to implement in PWA Studio. You are, of course, welcome to fork and apply the changes you made to your own repository. In the future we hope to make it easier to customize/extend the code for your own needs but currently we are just trying to harden around the current UI before making any major refactors or unplanned UX decisions.

[2019-12-06 18:52] #1991 closed

[2019-12-10 06:44] niranjan-gondaliya commented on #999
I am also facing same issue with venia storefront.
Getting  : **Unknown or expired paymentMethodNonce** error in payment log.

[2019-12-10 11:48] jihadbek opened #2020 "[doc]: Production PWA Studio Performance Optimization"
Hi,
i try to find a good documentation for performance related configs and optimization needed when using PWA studio, the points which i am ( and maybe others ) not sure about similar to some settings of magento which i dont know if it does affect PWA performance or not like :
- Full Page Cache and other types of caching.
- Running Magento in Developer or production modes
- Server Side Optimizatio

[2019-12-10 22:33] rossmc opened #2021 "[doc]: Add a tutorial to help beginners get started with PWA Studio"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a tutorial series to help beginners get started with PWA Studio.

**Possible solutions**
Start a new tutorial series called _PWA Studio Fundamentals_ based on some I created in my [own repository](https://github.com/rossmc/how-to-venia#how-to-articles).

**Screenshots**
Suggested first doc...
![localhost_3000_tuto

[2019-12-10 23:08] rossmc opened #2023 "[doc]: Add a project-setup doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio.

**Possible solutions**
Describe in for beginners how to use `@magento/pwa` command to setup a new PWA studio project.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic o

[2019-12-11 16:10] #1968 closed

[2019-12-11 17:07] cherdman commented on #1892
@revanth0212  and @zetlen , I'm closing this issue and the related spike PRs.

[2019-12-11 17:07] #1892 closed

[2019-12-12 07:38] ankitpatel2931 opened #2025 "[feature request]: Custom Option not showing on PDP page of PWA"
**Describe the bug**
Product's custom option showing fine on magento pdp page but now showing on pwa pdp page

**To reproduce**
Steps to reproduce the behavior:
1. Go to PDP page on PWA.
In my case https://magento-venia-concept-wxtj9.local.pwadev:9367/strive-shoulder-pack.html
Please refer Magento 2 front-end https://drive.google.com/file/d/1ZD1ODjOTMzUAEgFDPORTqKIoSy19niKM/view?usp=sharing
![Scre

[2019-12-12 14:08] sirugh commented on #2025
This isn't a bug,  it's just not a feature we included. Also worth mentioning for whomever works on this is that we have since merged the add/update actions from REST to GraphQL which means the error may differ if you attempt to add an item without required customization options.

cc @awilcoxa for prioritization

[2019-12-12 20:35] awilcoxa commented on #1944
@DevAwais you can reach out to @jcalcaben to discuss. Closing this issue.

[2019-12-12 20:35] #1944 closed

[2019-12-12 20:36] awilcoxa commented on #2006
Closing as resolved, thanks @NamCT246

@shikhasshukla if you're still having issues feel free to post in the community slack channel.

[2019-12-12 20:36] #2006 closed

[2019-12-12 20:37] awilcoxa commented on #2009
closing this issue, @WaqasMumtaz if you're still having the issue feel free to post with detailed info to our community slack channel.

[2019-12-12 20:37] #2009 closed

[2019-12-12 21:24] sirugh commented on #2009
For additional context, it looks like you're trying to run PWA Studio on a windows machine, which we don't currently support.

[2019-12-16 06:25] ankitpatel2931 commented on #2025
Hi @sirugh ,

Thanks for consider this as new feature request.
May I know tentative time for this feature?

Thanks.

[2019-12-16 06:26] RuslanPloskonosEWave opened #2031 "Page Builder content: Image element duplicates on the web-site"
**Describe the bug**
If **Image** element is added for Product using Page Builder then when user open this Product on the Front-End side and check added Page Builder content - Image duplicates on the web-site (see attached video)

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'Magento admin page'
2. Create New Product
3. While creating New Product, go to Content->Description
4. Click

[2019-12-16 20:39] #2021 closed

[2019-12-16 20:40] #2023 closed

[2019-12-17 15:41] #1986 closed

[2019-12-18 14:48] niklaswolf commented on #669
Just my two cents from our project:
We built a really simple translation system ourself using Context and a useTranslation-Hook which is giving access to the translation-API. We started only with plain text translations, but there are some use cases where you want to replace some variables with components.

Just as an example "I accept the %terms% and confirm that I have read and understood the %c

[2019-12-23 13:09] pankajvc opened #2044 "[bug]: sw.js:5 Uncaught ReferenceError: window is not defined"
**Describe the bug**
when I run project then i face this type of error, error is window is not defined.

**To reproduce**
Steps to reproduce the behavior:
1. Clone the project
2. Yarn install
3. docker/run-docker
4. then See error

**Expected behavior**
Help solve this error

**Screenshots**
![image](https://user-images.githubusercontent.com/34762752/71359603-02870c00-25b3-11ea-8194-f7dda4c3502e.p

[2019-12-26 03:16] haunguyen1989 opened #2045 "[bug]: Error 500 for load image category and product"
Describe the bug
Images of categories & products are not shown on the frontend -- instead the request returns a 500. Following that image-url yields a 500 with the body-text:
Status Code: **500 Internal Server Error**
https://magento-venia-concept-3328z.local.pwadev:8048/media/catalog/category/timeless.jpg?auto=webp&format=pjpg&width=80&height=100&fit=cover

**- I have test url:**
https://magento-

[2019-12-26 09:56] WaqasMumtaz commented on #2009
Please give me some idea how to i build structure project i mean some example ?

[2019-12-27 18:40] ankitpatel2931 opened #2047 "[feature]: Logo from magento 2 theme store configuration"

[2019-12-30 18:25] SirCoolness opened #2049 "[bug]: Upward JS is having trouble serving binary files"
**Describe the bug**
Upward-js seems to have issue serving binary files (images, archives, etc) through the FileResolver.

**To reproduce**
Steps to reproduce the behavior:
1. Run in staging `yarn run stage:venia`
2. Open `http://<served host>/favicon.ico`
3. It should come out empty or with an error

**Expected behavior**
GET favicon in browser.

**Additional context**
This seems to be related to

[2019-12-30 18:35] treestonemedia commented on #2049
👍

[2020-01-03 13:52] mRicooo commented on #675
Hi,

Can we have an update for IE11 support ?

Right now, we can't use pwa-studio for some of our clients.
They can't accepted that 5% or 10% of their customers will be able to purcharse.

[2020-01-06 13:54] skynixukraine commented on #1409
@Akiyama246  please reopen, it still does not pass store code to headers

[2020-01-07 13:26] rossmc opened #2060 "[doc]: Add a project-structure doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners the files generated with the @magento/pwa command, the basic project structure and an intro to how routing works in PWA studio project.

**Screenshots**
If applicable, add screenshots to help

[2020-01-07 13:40] rossmc opened #2062 "[doc]: Add a add-a-static-route doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to add a static route to your PWA Studio app in PWA studio project.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new

[2020-01-07 13:48] rossmc opened #2064 "[doc]: Add a update-site-footer doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to update-site-footer  in a PWA studio project.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic ch

[2020-01-07 13:55] rossmc opened #2066 "[doc]: Add a props-proptypes doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to use props-proptypes in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change

[2020-01-07 14:02] rossmc opened #2068 "[doc]: Add a css-modules doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to use css-modules in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change req

[2020-01-07 14:09] rossmc opened #2070 "[doc]: Add a component-state doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to use component-state in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change

[2020-01-07 14:14] rossmc opened #2072 "[doc]: Add a reuse-a-venia-component doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to use reuse-a-venia-component in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topi

[2020-01-07 14:19] rossmc opened #2074 "[doc]: Add a explore-graphql doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to explore-graphql in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change req

[2020-01-07 14:22] rossmc opened #2076 "[doc]: Add a use-magentos-graphql-api doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to use use-magentos-graphql-api in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a top

[2020-01-07 14:28] rossmc opened #2078 "[doc]: Add a manage-state-with-redux doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to manage-state-with-redux in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic ch

[2020-01-07 14:33] rossmc opened #2080 "[doc]: Add a preparing-to-go-live doc in new tutorial series for beginners"
**Describe the request**
As discussed with @jcalcaben on slack, I'm proposing to add a number of tutorial to help beginners get started with PWA Studio (#2021).

**Possible solutions**
Describe for beginners how to preparing-to-go-live in a PWA Studio app.

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic chang

[2020-01-07 14:38] rossmc opened #2082 "[doc]: Updates to first two pwa-studio-fundamentals tutorial docs"
**Describe the request**
After adding several new tutorial docs in pwa-studio-fundamentals, the first two tuts from the series need to be slightly updated.

**Possible solutions**
Update docs with correct links and new info

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please let us know whether this is a new topic or a topic change request:**
 - [x] New Topic Req

[2020-01-07 19:51] awilcoxa commented on #2049
Added to backlog for prioritization in next grooming

[2020-01-08 08:08] subhastak commented on #2009
I have the same issue in windows. Is there any solution for this?

[2020-01-08 19:27] #2049 closed

[2020-01-08 22:21] dpatil-magento commented on #2045
@haunguyen1989  Is this related to  https://github.com/magento/pwa-studio/pull/2005 ?

[2020-01-10 10:06] subhastak commented on #2009
Dear sirugh, have you come up with a solution to this? Please share.

[2020-01-10 21:38] brendanfalkowski commented on #1281
Hi @soumya-ashok, did you have a layout/colorized mockup of the quantity stepper?

I may have some time next week, and it looks like https://github.com/magento/pwa-studio/pull/2094 has a placeholder for this.

[2020-01-13 14:57] sirugh commented on #1281
@brendanfalkowski we have an internal ticket with mocks, https://jira.corp.magento.com/browse/PWA-119. It looks to me like it's just black/white. Here's some screenshots I took of them that should show the desired alignment on mobile/desktop. Try to control spacing with variations of `1rem`.

[2020-01-14 07:58] subhastak opened #2099 "windows"

[2020-01-14 08:00] #2099 closed

[2020-01-14 08:32] subhastak opened #2100 "[bug]: webpack issue when yarn run build"
ERROR in (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js?id=webpack-inject-module-1
Module not found: Error: Can't resolve './..
enia-uilibRootComponentsCMSindex.js' in 'C:\xampp\htdocs\magento\pwa-studio\packages\venia-concept'
@ (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js?id=webpack-inject-module-1 5:71-177
@ multi (webpack)-inject-plugin/dist/webpack-inject-plugin.

[2020-01-14 19:16] sirugh commented on #2100
This is being tracked with https://github.com/magento/pwa-studio/issues/898, closing as duplicate. Please follow that issue for updates!

[2020-01-14 19:16] #2100 closed

[2020-01-14 19:52] awilcoxa commented on #2047
Closing issue, see discussion on PR #2046

[2020-01-14 19:52] #2047 closed

[2020-01-14 20:05] davemacaulay commented on #2031
Page Builder doesn't current support rendering within Catalog Products out of the box, we only support CMS Pages.

The issue you're seeing is due to PWA Studio simply rendering the master storage format as direct HTML. If you have the same content in a CMS Page you'll see this is handled correctly.

[2020-01-14 20:05] #2031 closed

[2020-01-17 15:29] larsroettig opened #2105 "[feature]: Allow to use `connectToDevTools` for `VeniaAdapter`"
**Is your feature request related to a problem? Please describe.**
To use the Apollo Browser extension is required to use set
`connectToDevTools: true` on adapter create.

*Browser extension:*
https://www.apollographql.com/docs/react/development-testing/developer-tooling/

**Describe the solution you'd like**

Allow setting `connectToDevTools: true` on developer mode for https://github.com/magento

[2020-01-17 16:21] zetlen commented on #2105
I spoke with @larsroettig in Slack about this and he's working on a PR for it.

[2020-01-17 17:23] larsroettig commented on #1308
@jimbo i will work on it now

[2020-01-18 15:15] rossmc opened #2109 "[bug]: venia-static files don't load out-of-the box with scaffolding command"
**Describe the bug**
Files such as `manifest.json` and `favicon.ico` do not load after you create a project with the _create-pwa_ scaffolding command.

The issue is slightly different if you start running the project with `yarn run watch` or `yarn start`.

**To reproduce**
Steps to reproduce the behavior:
1. Creat a clean PWA Studio project with
[code]
2. Open the project in a browser.  Note that

[2020-01-20 16:22] disvroian commented on #1110
Hello;
Is there any follow up on this?
Or any solution good to use to do SEO?

[2020-01-21 16:14] awilcoxa commented on #2109
Flagged for prioritization during backlog grooming

[2020-01-21 16:18] awilcoxa commented on #2045
Flagged for prioritization during backlog grooming

[2020-01-21 16:19] awilcoxa commented on #2044
Flagged for prioritization during backlog grooming

[2020-01-21 16:22] awilcoxa commented on #2025
Hi @ankitpatel2931 we're currently planning to address support for additional product types and product fields later in the year (likely Q2/Q3). If you'd like to contribute to this feature or take it on now we would welcome your help and can follow up further.

[2020-01-21 16:25] awilcoxa commented on #1990
Following grooming, team flagged as a P3 (average) priority. Bug currently remains in backlog and will be addressed following any existing P0-P2 bugs. We can re-prioritize based on additional information from community (@brendanfalkowski).

[2020-01-21 17:43] sirugh commented on #2105
Unless I'm mistaken this property is only exposed as a way to enable dev tools in production or to manually disable the dev tools in development. Check out Apollo's [documentation](https://www.apollographql.com/docs/react/development-testing/developer-tooling/#configuration).

After installing the chrome extension I'm able to view Apollo dev tools, the cache, and used queries/mutations on the `dev

[2020-01-21 17:43] #2105 closed

[2020-01-22 16:43] dpatil-magento commented on #1627
Refer Jira ticket.

[2020-01-22 16:43] #1627 closed

[2020-01-22 16:43] dpatil-magento commented on #1438
Refer Jira ticket.

[2020-01-22 16:43] #1438 closed

[2020-01-22 16:44] dpatil-magento commented on #1445
Its done.

[2020-01-22 16:44] #1445 closed

[2020-01-22 23:11] sharkySharks commented on #1438
we should discuss at some point putting your infrastructure in code outside of the bash scripts, like with terraform.

[2020-01-24 22:38] sirugh commented on #1996
I'm going to close this for now, if you want to try to solve it in the future, open a new issue but let's discuss the solution before you give it a shot so we can save everyone some time :)

[2020-01-25 15:38] larsroettig commented on #1940
Work on this :-)

[2020-01-26 15:51] larsroettig opened #2117 "[feature]: Use Apollo Client for `resolveUnknownRoute.js`"
**Describe the solution you'd like**

As a Developer, I want to have which Graphql Queries are sent. For this, in developer mode, we can use `Apollo Client Developer Tools` to see what happens in our application.

**Describe alternatives you've considered**
`resolveUnknownRoute.js` should use Apollo Client for send request to Magento.
see : https://github.com/magento/pwa-studio/blob/1835796386fff8

[2020-01-27 08:17] WaqasMumtaz opened #2118 "[bug]:Product detail page some products not retrieve data with query"
(1 issue :) In RootComponents Products folder the issue is >>Uncaught TypeError: Cannot read property 'items' of undefined .

(1 issue :) Uncaught DOMException: Failed to execute 'pushState' on 'History': A history state object with URL 'http://ups/' cannot be created in a document with origin 'http://localhost:65039' and URL 'http://localhost:65039/'

(3 issue :) Main page data does not showing a

[2020-01-27 19:09] ankitpatel2931 commented on #2025
Yeah. I am interested. How can I help you?

On Tue, Jan 21, 2020 at 9:52 PM Andrew Wilcox <notifications@github.com>
wrote:

--

  Ankit Jasani
Magento 2 Certified Developer
  +91 908-181-2804 live:c7add3fb77e06f28
  ankitpatel2931@gmail.com

[2020-01-27 19:26] #1800 closed

[2020-01-27 21:59] larsroettig opened #2120 "[feature]: Proposal Refactoring for store configuration load"
With the current design of loading store configuration, in some cases, we are forced to have dependency between
loading store configuration and loading product data. With the proposal, I will give a short overview of which configuration we should load from Magento Backend. Also, how we can refactor the current state.

### Current State
Currently, we only consider the Magento store configuration fo

[2020-01-27 22:28] fooman commented on #2120
Any chance of something like

Load store config at build time and seed it into the service worker. If it gets updated in the admin the service worker somehow (insert unknown to me wizardry here) is able to invalidate the config and retrieves the latest version?

[2020-01-27 22:45] shochdoerfer commented on #2120
@fooman the service worker could inspect the HTTP headers sent from the server. Once a certain header is set, reload the store config from the endpoint and cache it again. The Magento API would need to set that header only when the store config was changed.

[2020-01-28 08:11] niklaswolf commented on #2120
I also think the service worker will be key here. I'm not quite sure which headers are supported right now by the graphql endpoints, but it also would be great for other usecases to have the basic headers supported that workbox is taking into account: https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-update#how_are_updates_determined

[2020-01-28 10:49] fooman commented on #2120
These issues sound related
https://github.com/magento/pwa-studio/issues/1617
https://github.com/magento/pwa-studio/issues/1669

[2020-01-28 12:18] Jordaneisenburger commented on #2120
In our current project that's in development we load storeconfig once and save it in context so we can reuse it everywhere. We are going with the `pollInterval` option on `useQuery` so we don't have to do any redeploying.

We've made a hook called `useStoreConfig()` and a context that looks like
[code]
This gives us the opportunity to extend our base Storefront config easily for custom projects

[2020-01-28 12:23] larsroettig commented on #2120
@Jordaneisenburger how you handle`query dependency`?  `StoreConfigProvider` should be loaded as the first thing? Also, I think this should be supported by **PWA Studio** out of the box

[2020-01-28 12:25] Jordaneisenburger commented on #2120
Yeah you can do something like this in your `src/index.js` i think something like this is what pwa studio could also provide out of the box indeed.

[code]

[2020-01-29 22:03] #1308 closed

[2020-01-30 00:24] luke-denton-aligent opened #2127 "[feature]: Ability to import and transpile JSX files"
**Is your feature request related to a problem? Please describe.**
JSX is a common file type used when creating React components, and I would like to continue to use it as a file extension as it makes it much easier to identify React related JS from regular, non React JS, when looking through file directories

**Describe the solution you'd like**
The ability to import JSX files, without having to

[2020-01-30 20:08] revanth0212 commented on #2120
Nice details @larsroettig

At the initial looks of it, `StaleWhileRevalidate` strategy in the SW for the store config will address the issue at hand.

We can couple this along with bundle time fetch as well if needed.

[2020-01-31 11:02] vchirkov opened #2130 "[feature]: As a developer I want to be able to add PageBuilder Content Type Configs dynamically"
**Is your feature request related to a problem? Please describe.**
atm [PageBuilder config](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/RichContent/PageBuilder/config.js) only allows adding new types in static way by manually editing the code. As a developer I need a way to add content type configs dynamically based on various conditions.

**Describe the sol

[2020-01-31 17:40] larsroettig commented on #360
@awilcoxa i will work on it

[2020-01-31 17:43] soumya-ashok commented on #360
@larsroettig Thanks for picking this up. @schensley will be sharing the desktop mocks and working with you on implementation.

Mobile XD prototype : https://xd.adobe.com/view/15934509-f803-4dc8-7075-885b7e9e7407-63a2/

Screens:
![Product Sort](https://user-images.githubusercontent.com/25960021/73561306-5f7da980-441e-11ea-8be1-37c6ef5929c4.png)

![Product Sort – 2](https://user-images.githubusercon

[2020-01-31 19:28] schensley commented on #360
Sorting for desktop
![Venia_Cart_Desktop_00](https://user-images.githubusercontent.com/19538346/73568184-898a9800-442d-11ea-801d-4431a6bad6ed.png)
![Venia_Cart_Desktop_01_SortingOptions](https://user-images.githubusercontent.com/19538346/73568186-898a9800-442d-11ea-83ae-82403c982523.png)
![Venia_Cart_Desktop_02_HoverState](https://user-images.githubusercontent.com/19538346/73568187-898a9800-442d-1

[2020-01-31 23:10] BioSehnsucht commented on #1110
This was just released but I'm unclear on how to use it with PWA (they have a flowchart but it doesn't show how/where it would actually connect to PWA, etc)

https://seosnap.io/ / https://github.com/experius/SeoSnap

I would prefer something that didn't require quite so much extra baggage to implement, myself.

[2020-02-01 11:24] gohoney opened #2134 "[bug]: A short, simple sentence describing the bug"
after run sudo yarn run stage:venia successfuly and then open pwa store homepage. the circle small image only display one not five
my all version is recentely
how to fix it
GET /media/timeless.jpg?auto=webp&format=pjpg&width=80&height=100&fit=cover 404 68.649 ms - -
GET /media/outside.jpg?auto=webp&format=pjpg&width=80&height=100&fit=cover 404 103.650 ms - -
GET /media/carefree.jpg?auto=webp&forma

[2020-02-03 08:24] alexander-kaftan-techdivision opened #2135 "[bug]: wrong file ending for react javascript files"
The react javascript files should end with .jsx. It may transpiles into correct js but just because of a very nice Transpiler.
Bugs appear if you open the files with an editor/ide:
They may detect plain javascript which causes them to mark the jsx extensions as errors
and provide an incorrect syntax highlighting.

[2020-02-03 09:06] alexander-kaftan-techdivision opened #2136 "[bug]: Inconsistent handling of DEV_SERVER_SERVICE_WORKER_ENABLED"
In the documentation DEV_SERVER_SERVICE_WORKER_ENABLED is documented to be checked against 1.
But in packages/venia-ui/lib/util/swUtils.js the check is:
process.env.DEV_SERVER_SERVICE_WORKER_ENABLED === 'true';

Additionally I saw another check (in a index.js, but I don't find the code):
... if(... && process.env.DEV_SERVER_SERVICE_WORKER_ENABLED)

which is entirely wrong, because process.env.DEV_

[2020-02-03 16:24] awilcoxa commented on #1222
Marked as P4S4 low priority during grooming, will re-address if this becomes a larger issue with community.

[2020-02-03 16:26] awilcoxa commented on #1490
marked as P3S3 low priority after grooming

[2020-02-03 16:30] awilcoxa commented on #1796
Marked as P3S3 low priority during grooming

[2020-02-03 16:33] awilcoxa commented on #1947
Marked as P3S3 low priority during grooming

[2020-02-03 16:35] awilcoxa commented on #2134
@gohoney can you please provide additional information here including an accurate description/title for the bug, screenshots of the behavior, and accurate repro steps?

[2020-02-03 16:41] awilcoxa commented on #77
closing legacy epic for now, we have newer stories that represent current thinking on magento admin integration and we'll pick up the conversation there: #2120

[2020-02-03 16:41] #77 closed

[2020-02-03 16:43] awilcoxa commented on #163
closing this story for now as we have additional (newer) stories to represent effort for implementing recommended/similar products.

[2020-02-03 16:43] #163 closed

[2020-02-03 16:45] awilcoxa commented on #247
Closing legacy issue as we've addressed SEO via multiple recent tickets. We'll create new tickets to address current PWA Studio gaps for SEO.

[2020-02-03 16:45] #247 closed

[2020-02-03 16:48] awilcoxa commented on #294
https://jira.corp.magento.com/browse/PWA-276

[2020-02-03 17:09] awilcoxa commented on #300
closing this epic as legacy, will open a new epic to address current online/offline priorities.

[2020-02-03 17:09] #300 closed

[2020-02-03 17:19] awilcoxa commented on #350
Closing as obsolete, new cart/checkout experience accounts for new order summary.

[2020-02-03 17:19] #350 closed

[2020-02-03 17:27] awilcoxa commented on #476
removed hold label, GraphQL dependency is merged. We'll revisit prioritization of rating/reviews feature.

[2020-02-03 17:31] awilcoxa commented on #1958
Should also account for offline image, see previous issue: https://github.com/magento/pwa-studio/issues/493

[2020-02-03 17:32] awilcoxa commented on #493
Closing this legacy issue and will track as requirement in more recent issue: https://github.com/magento/pwa-studio/issues/1958

[2020-02-03 17:32] #493 closed

[2020-02-03 17:35] awilcoxa commented on #613
https://jira.corp.magento.com/browse/PWA-184

[2020-02-03 17:37] awilcoxa commented on #619
closing as we're addressing with new docs topics that have been previously delivered as well as new tutorials.

[2020-02-03 17:37] #619 closed

[2020-02-03 17:38] awilcoxa commented on #636
closing as duplicate

[2020-02-03 17:38] #636 closed

[2020-02-03 17:45] awilcoxa commented on #730
Addressing as a part of upcoming chart/checkout workflows. closing this issue for now and will open a new issue/PR for that effort.

[2020-02-03 17:45] #730 closed

[2020-02-03 17:50] awilcoxa commented on #668
related to: https://github.com/magento/pwa-studio/issues/1958

[2020-02-03 17:55] awilcoxa commented on #1144
https://jira.corp.magento.com/browse/PWA-243

[2020-02-03 18:01] awilcoxa commented on #1194
closing as resolved, if additional issues exist specific to this issue please re-open

[2020-02-03 18:01] #1194 closed

[2020-02-03 18:04] awilcoxa commented on #1281
https://jira.corp.magento.com/browse/PWA-119

[2020-02-03 18:07] #1323 closed

[2020-02-03 18:08] #1455 closed

[2020-02-03 18:10] dpatil-magento commented on #1510
Its completed, running webpagetest on CI.

[2020-02-03 18:10] #1510 closed

[2020-02-03 18:11] dpatil-magento commented on #817
This is no more valid. Feature works as expected now.

[2020-02-03 18:11] #817 closed

[2020-02-03 18:12] awilcoxa commented on #1397
Closing for now, will re-open or address if issue becomes a priority.

[2020-02-03 18:12] #1397 closed

[2020-02-03 18:13] awilcoxa commented on #1453
closing as resolved

[2020-02-03 18:14] dpatil-magento commented on #1539
Tracked in Jira.

[2020-02-03 18:14] #1539 closed

[2020-02-03 18:14] dpatil-magento commented on #1521
Tracked in Jira.

[2020-02-03 18:14] #1521 closed

[2020-02-03 18:14] dpatil-magento commented on #1383
Tracked in Jira.

[2020-02-03 18:14] #1383 closed

[2020-02-03 18:14] dpatil-magento commented on #1291
Tracked in Jira.

[2020-02-03 18:14] #1291 closed

[2020-02-03 18:15] dpatil-magento commented on #1244
Tracked in Jira.

[2020-02-03 18:15] #1244 closed

[2020-02-03 18:15] dpatil-magento commented on #1187
Tracked in Jira.

[2020-02-03 18:15] #1187 closed

[2020-02-03 18:15] dpatil-magento commented on #1186
Tracked in Jira.

[2020-02-03 18:15] #1186 closed

[2020-02-03 18:20] dpatil-magento commented on #906
This has been fixed or no more reproducible in PWA 5.0 release.

[2020-02-03 18:20] #906 closed

[2020-02-03 18:45] awilcoxa commented on #1906
closing as resolved: https://magento.github.io/pwa-studio/pwa-buildpack/troubleshooting/

[2020-02-03 18:45] #1906 closed

[2020-02-03 18:46] awilcoxa commented on #1907
closing as resolved

[2020-02-03 18:46] #1907 closed

[2020-02-03 18:47] awilcoxa commented on #1908
closing as resolved: https://magento.github.io/pwa-studio/technologies/basic-concepts/graphql/

[2020-02-03 18:47] #1908 closed

[2020-02-03 19:11] dpatil-magento commented on #1688
Now PWA and PB AWS PR instances running on separate backend instances.

[2020-02-03 19:11] #1688 closed

[2020-02-03 19:43] awilcoxa commented on #2045
closed by #2005

[2020-02-03 19:43] awilcoxa commented on #2045
Re-opening until PR is merged

[2020-02-03 19:45] awilcoxa commented on #2136
Needs further review by @zetlen @revanth0212

[2020-02-03 19:52] awilcoxa commented on #2135
closing as duplicate of #2127

[2020-02-03 19:52] #2135 closed

[2020-02-03 19:57] awilcoxa commented on #898
closed for inactivity

[2020-02-03 19:57] #898 closed

[2020-02-03 20:00] awilcoxa commented on #2118
@WaqasMumtaz  can you provide additional information and detailed repro steps?

[2020-02-03 20:03] awilcoxa commented on #1705
fixed in previous PR

[2020-02-03 20:03] #1705 closed

[2020-02-03 21:52] dpatil-magento commented on #2044
I tried but could not reproduce this issue.
1. checkout `develop` branch.
2. `yarn install`
3. `bash docker/run-docker`
4. Open dev tools and navigate to Home, Category, Product  - No Console errors.

My 8080 port is already in use, so ran on 8008. ( docker/.env.docker.dev > DEV_SERVER_PORT )
![image](https://user-images.githubusercontent.com/40405790/73694085-01aac500-469d-11ea-92b5-a590393f383f.

[2020-02-04 09:13] gohoney commented on #2134
![QQ图片20200204170006](https://user-images.githubusercontent.com/53387016/73730423-b1516700-4771-11ea-8114-31e97210d292.png)
@awilcoxa   I step by step folowing the magento2 official tutorial to install pwa-studio
only MAGENTO_BACKEND_URL="https://master-7rqtwti-mfwmkrjfqvbjk.us-4.magentosite.cloud/" replace witn myself  domain of magentostore that have install sample data successfuly and can open

[2020-02-04 09:20] gohoney commented on #2134
![m2_issuse_001 md](https://user-images.githubusercontent.com/53387016/73730942-9b907180-4772-11ea-8663-d5bdd0e28bfb.png)

[2020-02-04 16:23] awilcoxa commented on #1453
Re-opening as the referenced PR was a merge to a different repo. Still remains a priority for PWA Studio

[2020-02-04 18:42] #1885 closed

[2020-02-04 23:05] gamul commented on #360
The same button "Filter" opens an MODAL section. Early mocks for sorting were also with modal bottom drawer. Why have you changed your mind?!
Why do we get new UI element instead of stylish, unified and predictable UI?!

[2020-02-04 23:12] tjwiebell commented on #2109
From my investigation there are a few problems here:
* Runtime development assets are not available when loading `upward.yml` from root when doing `yarn watch` (requiring you to manually copy to get them working). Worth noting on first build, these assets are available when running `yarn start`, which loads the config from `/dist/upward.yml` where `/dist/venia-static` happens to be present.
* Asse

[2020-02-05 04:30] #2082 closed

[2020-02-05 04:38] #2080 closed

[2020-02-05 04:43] #2078 closed

[2020-02-05 04:45] #2076 closed

[2020-02-05 04:46] #2074 closed

[2020-02-05 04:47] #2072 closed

[2020-02-05 04:48] #2070 closed

[2020-02-05 04:49] #2068 closed

[2020-02-05 04:50] #2066 closed

[2020-02-05 04:51] #2064 closed

[2020-02-05 04:53] #2062 closed

[2020-02-05 04:54] #2060 closed

[2020-02-05 15:58] mercs600 opened #2141 "export 'PriceSummaryQuery' was not found in './priceSummary'"
**Describe the bug**
Console issues when I run `yarn watch:venia`

**To reproduce**
Steps to reproduce the behavior:
1. Clone last version of develop
2. Just run `yarn watch:venia`
3. See warning:

[code]

**Expected behavior**

I expect that current version of develop is working without the issues in console.

**Additional context**
Issue source - > https://github.com/magento/pwa-studio/commit/0d

[2020-02-06 17:09] awilcoxa commented on #2044
@pankajvc are you still experiencing this issue? I'll close based on Dev's last comment but feel free to re-open with additional repro details if you're still seeing this.

[2020-02-06 17:09] #2044 closed

[2020-02-06 22:54] #2141 closed

[2020-02-07 04:43] pankajvc commented on #2044
@awilcoxa , @dpatil-magento  Thanks for the support. I have fixed this issue.

[2020-02-08 10:13] deiserh commented on #1126
assigned to Me I will work on it.

[2020-02-08 10:19] LukasKiederle commented on #1333
I will take this task.

[2020-02-08 11:19] deiserh commented on #1633
assigned

[2020-02-08 14:56] LukasKiederle opened #2152 "[feature]: Render Social Media Icons in Footer with configurable href url"
**Is your feature request related to a problem? Please describe.**
At some point usually Magento Customers want Social Media icons to link their personal news-feeds on their page. In my experience this is most of the time displayed in the footer.

**Describe the solution you'd like**
I want to have a module which displays the most used Social Media icons (Instagram, Facebook, Twitter, Youtube) wit

[2020-02-08 14:58] LukasKiederle commented on #2152
I am currently working on a prototype for this.

[2020-02-09 14:16] mrtuvn commented on #2136
@sharkySharks

[2020-02-10 19:35] #2109 closed

[2020-02-11 04:08] luke-denton-aligent opened #2158 "[feature]: CMS pages should display Content Heading and update page title in <head> to reflect the page that a user is on"
**Is your feature request related to a problem? Please describe.**
I've created a new page using Page Builder, and loaded it through PWA Studio. I notice that Content Heading that I've set in the admin isn't displayed anywhere in the app. In Luma, this is displayed, so I would assume we'd want to retain that feature? Similarly, the title displayed in the browser tab remains as "Home Page - Venia",

[2020-02-11 05:04] vpberiya opened #2160 "can any one help Related to push notification"
Push notification is implemented already or not?
if implemented then please help how to use and know the folder structure there implement.

[2020-02-11 16:14] sirugh commented on #1432
* Custom attributes will get added to the schema after you flush the config cache.

* ProductAttributeFilterInput on 2.3.4:
    https://i.gyazo.com/869d6bddc4840780426879282900f130.png

* When we click "Apply Filters" the filter state is updated locally. In the Apply
callback we can access that state which will be keyed filter name and value.
* We should be able to pass an input object for filter

[2020-02-11 16:45] larsroettig opened #2161 "[bug]: imageCacheHandler is not working on Firefox"
**Describe the bug**
The Image Cache will not be prepared on Firefox main problem  [effectiveType ](https://developer.mozilla.org/en-US/docs/Web/API/NetworkInformation/effectiveType)
is not supported there.

Check for this Flag:
https://github.com/magento/pwa-studio/blob/dbda97e0e48147adfdbb2e20c2b4988d53fd4917/packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js#L111

Implement

[2020-02-11 17:09] revanth0212 commented on #2161
Nice catch @larsroettig

I will look into that soon.

[2020-02-12 16:01] awilcoxa commented on #2161
Created in core backlog for grooming (PWA-370)

[2020-02-12 16:18] awilcoxa commented on #2160
Hi @vpberiya this is a topic better suited for the community [#pwa ](https://magentocommeng.slack.com/messages/C71HNKYS2) slack channel.

We currently don't have specific dev docs around enabling push notifications but it's certainly possible today.

I'm closing this ticket for now since this is more of a best practice/implementation question.

[2020-02-12 16:18] #2160 closed

[2020-02-12 16:20] #2134 closed

[2020-02-14 12:27] clarah31 commented on #2009
Is there a solution to the problem?
I can't find a file called
./..enia-uilibRootComponentsCMSindex.js

[2020-02-16 14:00] huykon opened #2170 "[bug]: Protocol "http:" not supported. Expected "https:""
**Describe my bug**
I am using pwa-studio version 5.0. I want to develop on my localhost, but when I put my localhost (without https), I received this error. How can I fix this?

[2020-02-16 19:44] larsroettig commented on #2170
@huykon we don't support HTTP with PWA Studio is better to use the command

[2020-02-16 19:45] larsroettig commented on #2170
@awilcoxa  can be closed works as expected

[2020-02-16 21:02] larsroettig opened #2171 "[feature]: Create an own @types package that contains type definitions"
**Is your feature request related to a problem? Please describe.**

To support **TypeScript** it is necessary to have an own **types package** for `peregrine` and `venia-ui`.  React and other Libraries have an own **@types** package that holds the type definition.

**Describe the solution you'd like**
I want to use *TypeScript* for own components that based on `venia-ui` but then I also need to wr