[2020-02-17 01:42] huykon commented on #2170
@larsroettig that mean I can not develop PWA on localhost?

[2020-02-17 16:08] larsroettig commented on #1725
@awilcoxa is this still todo?  then will take this

[2020-02-18 03:47] mrtuvn commented on #2170
default project bring to you https work in local ! Do you get the latest code
When you at step 3 you create ssl cert in that so you will have test https cert in local

[2020-02-18 08:50] Jordaneisenburger opened #2172 "[feature]: Extended prices for cart details"
**Is your feature request related to a problem? Please describe.**
Since 2.3.4 we have more prices available via GraphQL, we should update the cart detail prices.

**Describe the solution you'd like**
I want all possible prices to be available in my cart context

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `

[2020-02-18 09:44] Jordaneisenburger commented on #2172
PR open @ https://github.com/magento/pwa-studio/pull/2173

[2020-02-18 15:53] sirugh commented on #2172
@Jordaneisenburger have you looked at the new cart work and how we fetch/request data there? It's a little more divided in that there's not _one place_ where you can define/request data like there is with the cart context. That's because the new approach is based more on requesting data as necessary *per component* instead of all at once like we might expect with REST.

I'm hesitant to add new fie

[2020-02-19 08:47] Jordaneisenburger commented on #2172
Awesome! Totally missed that one, my bad

[2020-02-19 08:47] #2172 closed

[2020-02-19 10:13] koushikch7 commented on #898
I am Facing the same issue in my windows environment.

[2020-02-19 10:16] koushikch7 commented on #1255
@tjwiebell Seems to be Searching for the alternative is not the solution rather than fixing the issue! what you say?

[2020-02-20 02:45] luke-denton-aligent opened #2177 "[bug]: Footer gets pushed out of viewport even if page content is short"
**Describe the bug**
Regardless of the height of a pages' content, the footer will never be within the viewport.

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'https://venia.magento.com/'

**Expected behavior**
As the page's content is small, just a simple list of categories, I would expect to see the footer also within the viewport, but it's completely out of view, and I have to scr

[2020-02-20 17:55] #1281 closed

[2020-02-21 03:21] luke-denton-aligent opened #2186 "[bug]: Using the Products content type in PageBuilder will break GraphQL queries for that page"
**Describe the bug**
I am attempting to create a home page for my PWA using PageBuilder. I've added a Products content type to the bottom of the page. In order to test what renders in the PWA, I've added a simple condition of price being greater than 2, and limiting the block to displaying only 5 items.

When attempting to load the home page through the PWA app, the page content simply shows `Page

[2020-02-21 15:33] ivoruumz commented on #1255
@vocaloid123 I have the same problem. Have you find a solution?

[2020-02-21 19:53] davemacaulay commented on #2186
Thanks for the bug report, this seems unrelated to our previous fix for Products using GraphQL: https://github.com/magento/magento2/blob/5f3b86ab4bd3e3b94e65429fed33f748d29c1bbe/app/code/Magento/CatalogGraphQl/etc/graphql/di.xml#L141

Are you able to provide us more details on what the "Internal server error" is that's being produced by the query? Looking into Magento's var/log and var/report fold

[2020-02-21 22:53] jimbo commented on #2177
Thanks for creating this issue. Believe it or not, the current implementation is the expected behavior. The `min-height: 100vh` here is simply enforcing a design requirement, which is that a page should fill at least that much vertical space.

The real issue here is that the home page is too sparse. It's a home page, so it should contain big hero images, banners, and calls to action, but right now

[2020-02-21 22:53] #2177 closed

[2020-02-23 04:31] luke-denton-aligent commented on #2177
Thanks for the response @jimbo. Does that mean this CSS doesn't get applied to non-home page pages? Certainly the home page will have more than just a category jump menu, but not every page is a home page, and there could very well be pages that don't have _that_ much content. Perhaps a simple contact hours page, or about us page etc.

[2020-02-23 04:35] luke-denton-aligent commented on #2186
Hi @davemacaulay, thanks for checking this out. I'm using a Magento Cloud instance to provide the data, so I'm not entirely sure how to check the `var` directory. Am I able to get to the logs through the admin?

[2020-02-24 14:50] chris-brabender commented on #669
Currently working on a solution for this, should have something to demo in the next week or two. Fetches translated phrases from Magento backend at build, generates translation json files and and uses i18next for the translation engine.

[2020-02-24 17:24] sirugh commented on #669
@chris-brabender interesting - how does it serve the languages for runtime?

[2020-02-24 21:47] #2127 closed

[2020-02-24 23:11] #360 closed

[2020-02-25 10:03] atwixfirster opened #2190 "[bug]: Call mergeCarts to merge guest and customer carts within customer login"
**Describe the bug**
PWA does not merge `guest` and `customer` shopping carts.

**To reproduce**
**1.** As `guest`, add any product into shopping cart
**2.** Login as a registered `customer`
**3.** Verify customer's shipping cart

**Actual result**
Customer's cart **does not** contain a product which has been added into guest's cart

**Expected behavior**
Customer's cart contains a product which h

[2020-02-25 15:56] tjwiebell commented on #668
Venia core seems to be making good use of srcsets now, in addition to `loading=lazy` props that are pretty widely supported now; so this scope should be narrowed to the addition of art direction `<picture>` elements into the core Image component.

[2020-02-25 16:07] awilcoxa commented on #162
Closing as obsolete.

[2020-02-25 16:07] #162 closed

[2020-02-25 16:08] awilcoxa commented on #1110
Addressing with extensibility framework/POC from @zetlen, closing this issue for now and will follow up with additional issues/stories

[2020-02-25 16:08] #1110 closed

[2020-02-25 16:15] #675 closed

[2020-02-25 16:16] awilcoxa commented on #747
Needs additional core team research prior to defining implementation details.

Better approach may be to determine payment integrations as an extension rather than preferring Braintree implementation.

Moving back to core backlog for further definition.

[2020-02-25 16:19] awilcoxa commented on #668
closing as the majority of effort has been addressed in previous PR.

[2020-02-25 16:19] #668 closed, assigned to nobody

[2020-02-25 16:42] awilcoxa commented on #1126
Initial POC for push notifs: order status change (ex.  order is shipped) creates a push notification for user with app installed and opt-in selected

[2020-02-25 19:43] niklaswolf commented on #669
Just want to add, that as the developer of the PWA I don't want to have to edit Magento translation files just to add some custom translations for example. If it would be like this I'd have to setup a development instance just to add translation strings, this would make no sense in my opinion!

[2020-02-26 03:41] codynguyen1 commented on #2170
For the 5.0 version, we can manually change it at:
pwa-studio/packages/pwa-buildpack/lib/Utilities/graphQL.js
by switching:
`const { Agent: HTTPSAgent } = require('https');`
to
`const { Agent: HTTPSAgent } = require('http');`

[2020-02-26 22:03] alonronin opened #2198 "[feature]: change Dockerfile.env to env.Dockerfile"
*Is your feature request related to a problem? Please describe.**
Using `Dockerfile.dev` or `Dockerfile.prod` you'll lose syntax highlighting as `Dockerfile` should be the extention.

**Describe the solution you'd like**
Changing to `dev.Dockerfile` and `prod.Dockerfile` etc. will be much more convenient.

[2020-02-27 16:22] hoangtrankeen commented on #2170
@codynguyen1 I already modified this file as you said but with the latest version, it does not work.
How can i develop PWA on local machine ?

[2020-02-27 19:01] kandy commented on #1725
There is good example of skeleton UI for  catalog page to product page transition https://demo.scandipwa.com/

[2020-02-28 09:42] codynguyen1 commented on #2170
@hoangtrankeen  a little tricky there, you'd need to run:
`yarn run build`
and then change the file at pwa-studio/packages/pwa-buildpack/lib/Utilities/graphQL.js
and then avoid running yarn run build again, just run watch and stage.
I tried and it works with both venia concept and our project packages

[2020-02-28 14:08] thierry2015 commented on #1934
Any development on this?

[2020-03-01 21:51] luke-denton-aligent commented on #2186
Hi @davemacaulay, are you able to provide any more assistance with this?

Thanks

[2020-03-01 23:28] luke-denton-aligent opened #2203 "[bug]: GraphQL query to get categories returns categories that are "disabled" in admin"
**Describe the bug**

I have been trying to request all categories, categories' children, and categories' children's children (etc.) for my progressive web app, but the application is crashing when it tries to read `children_count` of the category in `useCategoryTree` (a talon in peregrine).

The issue appears to be that disabled categories that have children that _aren't_ disabled, are still retu

[2020-03-02 15:12] vasilii-b commented on #1126
Hi @awilcoxa, @soumya-ashok ,
Could you please re-share the link for mockups? It says it reached the quota limit.
Thank you!

[2020-03-02 15:47] davemacaulay commented on #2186
Hey @luke-denton-aligent you'll be able to SSH into the Magento Cloud instance and view the contents of the `var` folder. You can retrieve the SSH host from the Magento Cloud UI.

[2020-03-02 16:01] soumya-ashok commented on #1126
@vasilii-b We no longer use Invision as a tool and we are in the process of revisiting the design. Is this issue something you would be interested in working on immediately / in the near future?

[2020-03-02 16:03] vasilii-b commented on #1126
@soumya-ashok I'd like to work on it in the near future.

[2020-03-02 16:32] soumya-ashok commented on #1126
@vasilii-b Okay. Will discuss with the team and get back to you.

[2020-03-02 17:45] #2161 closed

[2020-03-02 21:13] awilcoxa commented on #2190
on logout should retain current functionality with a cart reset.

Good candidate for community, moving top of backlog for additional prioritization and detail.

[2020-03-02 21:23] awilcoxa commented on #472
Closing issue as updated designs no longer call for sticky footer.

[2020-03-02 21:23] #472 closed

[2020-03-02 21:40] awilcoxa commented on #1315
Closing as will not do

[2020-03-02 21:40] #1315 closed

[2020-03-02 21:43] awilcoxa commented on #1565
closing as done

[2020-03-02 21:43] #1565 closed

[2020-03-02 21:44] awilcoxa commented on #1432
Currently in progress, removing help wanted label

[2020-03-02 21:49] awilcoxa commented on #1333
Closing for now, we'll want to revisit this again once we have a better solution for I18n.

[2020-03-02 21:49] #1333 closed

[2020-03-02 21:58] awilcoxa commented on #1725
@soumya-ashok can we find a new SVG to replace the logo, we'll keep the scope of this ticket small and specific to logo replacement and can create follow on ticket for page skeleton implementation.

[2020-03-02 22:01] awilcoxa commented on #1633
can go into next release but need to evaluate to ensure backwards compatibility, keeping in backlog

[2020-03-02 22:02] awilcoxa commented on #1617
removing help wanted and needs additional core investigation

[2020-03-02 23:36] fooman commented on #2203
Hey @luke-denton-aligent I believe you might get a quicker path to resolution posting GraphQl issues directly on the main Magento 2 repository [here](https://github.com/magento/magento2/issues) as I believe the PWA Studio team is not directly involved with that aspect (unless a fix involves adjusting the query before sending it which I believe is always less preferable than fixing the server respo

[2020-03-02 23:55] luke-denton-aligent commented on #2186
Thanks @davemacaulay. Unfortunately it appears that the "Internal Server Error" message isn't _actually_ an internal server, it's instead a string that the GraphQL resolvers will output when there is an error. For that reason, nothing is appearing in the logs.
I've asked one of the BE devs if they can try and debug this, but I think it would be better if someone from Magento's side can step throug

[2020-03-02 23:57] luke-denton-aligent commented on #2203
Thanks for the response @fooman, I completely agree. I shall create the issue over there and close this one

[2020-03-02 23:57] #2203 closed

[2020-03-03 08:27] vasilii-b opened #2204 "[feature]: Shipping form fields shown as not required (UI), whereas they are from the code"
**Describe the bug**
The shipping form fields are not visually required at first glance. They are actually required from the codebase and this is told to the customer after he/she presses the "Use Address" button.

**To reproduce**
Steps to reproduce the behavior:
1. Go to a product page
2. Add the product to the cart
3. Open the cart
4. Click on the "Checkout" button
5. Press the button to add th

[2020-03-03 09:04] Jordaneisenburger commented on #2204
@vasilii-b there is a new cart page in the works. So I'm pretty sure the drawer functionality will be obsolete very soon. Unfortunately Github is not very up-to-date at the moment. @sirugh Do you have a status on the development for the cart page ?

[2020-03-03 13:22] paales commented on #1110
@awilcoxa Can you link this issue in the replacement issues/stories?

[2020-03-03 15:31] Jordaneisenburger commented on #1612
I believe this is already possible by pushing new loaders into `clientConfig.module.rules` in `webpack.config.js` we do the same for `.scss` files for a project that's build via the creat-pwa command.

[2020-03-03 16:08] awilcoxa commented on #1126
Will update description of issue to reflect that this is a spike with the expected outcome being research and POC that highlights a number of different approaches to providing push notifs for an order status change.

[2020-03-03 16:18] awilcoxa commented on #1928
@tjwiebell to fill in detail on expected pattern to follow for this issue.

[2020-03-03 16:27] awilcoxa commented on #1612
@zetlen  can you weigh in on Jordan's comment?

[2020-03-03 16:30] awilcoxa commented on #1958
@revanth0212 to clarify scope of issue, is this specific to only progressive image loading?

[2020-03-04 09:37] vasilii-b opened #2209 "[feature]: Display category description (with PageBuilder support as well) on the category view"
**Is your feature request related to a problem? Please describe.**
The category description is not shown to the users on the category view page.

**Describe the solution you'd like**
As a store owner, I'd like to show the description of the current category the customers are viewing.
It would be also nice so it supports the PageBuilder adjustments to the category description.

**Describe alternati

[2020-03-04 09:47] vasilii-b commented on #2209
I have PR in progress for this, so please let me know whenever should there be any notes or something else I should consider.
Thank you!

[2020-03-04 11:06] vasilii-b opened #2210 "[feature]: PDP - update price when quantity changes"
# Description
It would be nice that the product price is updated once the quantity is changed on the PDP.

1. Go to a product page
2. See the product price
3. Scroll down to the "quantity" input
4. Change the quantity. E.g. 2
5. See the product price changes

**Describe the solution you'd like**
When the product quantity changes, the product price should adjust accordingly, so the customer knows r

[2020-03-04 12:49] megastallman opened #2212 "Venia storefront is not accessible"
I'm getting `{"error":"No definition for veniaResponse.status"}` in a browser.

Steps to reproduce the behavior:
1. Install venia-concept 5.0.1 with yarn, on magento 2.3.4 fresh install.
2. Use the php module-upward-connector 1.0.0.
3. In Magento Admin interface, navigate to: Stores → Configuration → General → Web → Upwards Configuration
4. Set the UPWARD file yaml to: /srv/public_html/node_module

[2020-03-04 16:15] tjwiebell commented on #2212
@megastallman

You also need two runtime environment variables, so please be sure that `MAGENTO_BACKEND_URL` and `NODE_ENV` or set. Though I think there's some minor confusion here.

I'm going to see if we can prioritize some documentation updates, because it may not be clear that the instructions for the upward-connector are intended to imply you're creating your own application (venia-concept) a

[2020-03-04 19:53] vasilii-b commented on #669
@niklas-wolf wouldn't you need a development instance to grab other data like products, categories, system configs, etc. etc.? 🤔

[2020-03-04 19:59] vasilii-b commented on #669
btw, may I give it a try? Which solution should we take here? https://github.com/i18next/react-i18next?
Thank you!

[2020-03-04 20:47] niklaswolf commented on #669
Yes but this can be managed by backend devs. As a frontend dev it would be very annoying to have to touch the backend instance just for translations. I see why it’s handy to use Magento translations in some way, as there is much that already exists. But I think there should at least be an option to add translation strings on the frontend side.

[2020-03-05 06:28] vasilii-b commented on #669
I think I see your point, @niklas-wolf. You want to be able to adjust, add new translations from the custom PWA theme, let's say. Whereas the main translations come from the backend (as an option).
Did I get it right?

[2020-03-05 19:14] tjwiebell commented on #2190
@atwixfirster - you get first dibs on this issue if you want it, otherwise we'll open it up to the community during the sync meeting tomorrow. We're making an effort to guide contributors more, so some notes on that change.

### Implementation Guidance
- `packages/venia-ui/lib/components/SignIn/signIn.js`
  - Add merge cart mutation and pass to talon, please just make a private member, don't add t

[2020-03-05 21:23] atwixfirster commented on #2190
Hi, @tjwiebell !

Thank you so much for your notices but I am not good in PWA coding. Let's pass this one to a strong PWA contributor.

Thanks again!

[2020-03-06 11:38] andrewbess opened #2223 "[bug]: The breadcrumbs have the bug if the product assigned only "default" category or isn't assigned anything category."
**Describe the bug**
There is a problem in the talon "useProductFullDetail".
If a product isn't assigned anything category or assigned only "default" category, the system is showing the error and doesn't render frontend when a client tries to view the product by link.
Please take a look at the screenshots.

**To reproduce**
Steps to reproduce the behavior:
1. Unassign the categories from the produ

[2020-03-06 11:40] koushikch7 commented on #1725
@soumya-ashok  this alike would be better which is relative as well,
https://loading.io/spinner/shopping/-e-commerce-purchase-buy-shop-cart-pay-order

[2020-03-06 11:40] andrewbess commented on #2223
Hello.
I am going to fix it because I have already fixed this problem on my project.
Please assign it to me.
Thank you in advance.

[2020-03-06 16:17] megastallman commented on #2212
Thanks @tjwiebell
Probably, I've missed the variables. Looks like working now.

[2020-03-06 16:17] #2212 closed

[2020-03-09 14:49] awilcoxa opened #2227 "[feature]: Add Sorting feature to Search Results Page"
**Is your feature request related to a problem? Please describe.**
Category sorting was implemented in #360 and now needs to also be implemented for the search results page.

As a shopper, after I use the search feature to find specific items in the store I want to be able to sort the returned products by the available criteria: price (low to high), price (high to low), best match

**Describe the

[2020-03-09 14:50] awilcoxa commented on #2227
@larsroettig just to follow up on the conversation from last community sync, created the follow on issue we discussed.

[2020-03-09 15:09] larsroettig commented on #2227
@awilcoxa if like you can assign me I will work on this next week

[2020-03-09 15:28] awilcoxa commented on #2223
Created in Jira backlog for grooming/prioritization: PWA-430

[2020-03-09 15:31] awilcoxa commented on #2210
Removed bug label as this is currently working as designed, this issue represents a feature request.

Currently price on the PDP is designed to remain static and specific to a single unit. Price updates (based on quantity) are specific to cart/checkout interactions.

Adding needs-ux label for design review of feature request.

[2020-03-09 15:36] vasilii-b commented on #2210
Thank you @awilcoxa!

[2020-03-09 16:07] awilcoxa commented on #2204
Removed bug label as the feature is working as designed. Initial design did not include a specific required field flag/indicator since all of the fields in the checkout flow are currently required.

@soumya-ashok tagging for UX review since there is a use case in a more complex checkout flow where there is some X% of required vs optional fields that would make sense to clearly delineate between re

[2020-03-09 17:35] awilcoxa commented on #2198
Created in Jira backlog for grooming/prioritization PWA-434

[2020-03-09 17:41] awilcoxa commented on #2170
Closing since it appears everything is working as intended and this is project specific. @hoangtrankeen @huykon if you need additional follow up also feel free to post in the community slack.

[2020-03-09 17:41] #2170 closed

[2020-03-09 17:43] awilcoxa commented on #2158
Created in Jira backlog (PWA-383). During grooming team discussed that this needs additional research spike and currently marked as Priority 3.

[2020-03-09 17:45] awilcoxa commented on #2152
Created in Jira backlog PWA-382. During grooming, team determined that this is would be a great contribution for new extension model. @LukasKiederle we're currently working on publishing the new docs for extensions, once complete we'd like to work with you to convert into an extension.

For now, placing a "hold" on this issue.

[2020-03-09 17:48] awilcoxa commented on #2136
closing this issue as resolved by #2148

[2020-03-09 17:48] #2136 closed

[2020-03-10 00:51] luke-denton-aligent opened #2230 "[bug]: Home Page query is not fetching from network/updating cache"
**Describe the bug**
I've noticed that Apollo in PWA Studio isn't updating its local cache (`apollo-cache-persist` in localStorage) from the network (for page content in my case), it's only serving from cache. This means that making changes to a page doesn't ever get reflected in the app until this cache is manually cleared.

**To reproduce**
Steps to reproduce the behavior:
1. Navigate to homepag

[2020-03-10 01:50] brendanfalkowski commented on #2230
During development, we started passing {fetchPolicy: 'network-only'} in every GQL request because this became too annoying for every B2B context (multi-site, multi-account, multi-user).

Docs for this do not exist: https://github.com/apollographql/apollo-client/issues/1626

But somebody blogged it: https://medium.com/@galen.corey/understanding-apollo-fetch-policies-705b5ad71980

We have a pre-laun

[2020-03-10 09:58] Jordaneisenburger opened #2231 "[bug]: URLs are not set for breadcrumbs they are all linking to the current page"
**Describe the bug**
The breadcrumbs don't seem to link to the proper url

**To reproduce**
Steps to reproduce the behavior:
1. Go to https://venia.magento.com/shop-the-look/minimalist-sensibility.html
2. Check link behind 'Shop the Look'
3. Confirm this is the same url you are already on

**Expected behavior**
Every breadcrumb should have it's own link

**Please complete the following device info

[2020-03-10 10:06] Jordaneisenburger commented on #2227
@larsroettig just giving my 2 cents here but I think we should make the sorting a dropdown-select so the user has visual confirmation on what's the current sorting order. Right now a user needs to click 'Sort' before they can see context.

@soumya-ashok what do you think ?

[2020-03-10 13:26] sirugh commented on #2231
Doesn't look like this is a bug in develop: https://develop.pwa-venia.com/shop-the-look/minimalist-sensibility.html

Originally the intermediate breadcrumbs did this because there was no data for how to get to that category. So it was intentional. Probably should have just left them without underline or something.

Anyways, closing as not a bug!

[2020-03-10 13:26] #2231 closed

[2020-03-10 13:38] sirugh commented on #2230
This is how `cache-and-network` works, as @brendanfalkowski said. When we originally coded the gql queries we did not fully utilize the fetch policies so you may see some behavior like this across the app.

Actually, if we code the components correctly we won't have to use the service worker for this (that's what displays the "new version available" toast), we can just trust that Apollo will "show

[2020-03-10 13:51] LucasCalazans opened #2232 "[doc]: SH code not working with ctrl+c/ctrl+v"
**Describe the request**
SH code not working with ctrl+c/ctrl+v in the step 4 (Create the .env file)

**Devdocs Page**
https://magento.github.io/pwa-studio/venia-pwa-concept/setup/#step-4-create-the-env-file

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (ie. spelling, organizati

[2020-03-10 13:57] jcalcaben commented on #2232
@LucasCalazans Can you provide more details for this issue?

[2020-03-10 14:01] LucasCalazans commented on #2232
@jcalcaben oh, sorry. Actually I had opened a PR about that.

It is just a small change. This page https://magento.github.io/pwa-studio/venia-pwa-concept/setup/, has a code that we need to ctrl-c + ctrl-v on the terminal and it doesn't work without a slash (**\**).

[2020-03-10 14:10] andrewbess commented on #2190
Hello, folk.
I am going to fix it.
Please assign it to me.
Thank you in advance.

[2020-03-10 14:32] LucasCalazans commented on #669
I agree with @niklaswolf. I think that the phrases that are in the components should be translated by PWA Studio and those who came from Magento should be translated by the modules with the store language, with that Magento will translate it on the APIs using the default "__" method.

[2020-03-10 15:45] Jordaneisenburger commented on #669
@chris-brabender, that sounds promising! Would this be something you could show on fridays community sync ?

[2020-03-10 15:51] vasilii-b commented on #669
@Jordaneisenburger, @LucasCalazans  what if the theme (pwa) wants to adjust the translation that comes from the Magento? How this can be covered?

[2020-03-10 15:53] soumya-ashok commented on #2227
@Jordaneisenburger Not sure I fully understand your feedback. Are you saying that instead of the label "sort" the button should have the current sorting label added "sort : newest"?

The design intent is to have it function as a dropdown once the button is tapped/clicked.

[2020-03-10 15:54] Jordaneisenburger commented on #669
So I haven't seen @chris-brabender 's code but I assume there would be some sort of deep merge

[2020-03-10 15:54] LucasCalazans commented on #669
@chris-brabender any news about your implementation? I'm available to contribute to this issue.

Also, about the libraries, what do you guys think is best to use?

https://github.com/i18next/react-i18next
https://github.com/formatjs/react-intl

In my opinion, i18next/react-i18next may be better because it supports translations with tags (https://react.i18next.com/guides/the-drawbacks-of-other-i18n

[2020-03-10 15:57] LucasCalazans commented on #669
@vasilii-b Maybe it could be done by a response code.

Normally we have a code inside the response body that says what is the message.

[2020-03-10 15:59] Jordaneisenburger commented on #2227
![Screenshot 2020-03-10 at 16 58 07](https://user-images.githubusercontent.com/19858728/76332232-65ee2380-62f0-11ea-85d1-4881727eb80e.png)

@soumya-ashok exactly, as a user I don't want to lose context

[2020-03-10 16:23] tjwiebell commented on #2209
Looping in @soumya-ashok, as this has a UX element to it that would need approved. Do we have mocks that intend on supporting Category descriptions? These have typically been block level rich content areas that display above the product grid, so it would be a noticeable change.

[2020-03-10 16:28] tjwiebell commented on #1725
@LucasCalazans - This scope has been reduced to just logo replacement, so I removed your assignment from several months back. If you're still interested in fulfilling the reduced scope, let us know, and you can jump on it once we get the new loading asset.

@soumya-ashok - If this requires some time investment and research, please just let us know, and we can plan accordingly.

[2020-03-10 19:53] soumya-ashok commented on #2227
@Jordaneisenburger - Agree with your feedback on providing context to the user. However, the way we are currently set up with the placement of the buttons for filter and sort (particularly on mobile) makes it challenging to implement something that looks like your screenshot in terms of having the space to add the additional text outside the dropdown.

@schensley has some ways we could make the de

[2020-03-10 21:27] schensley commented on #2227
Hi. @larsroettig
I am in agreement with @Jordaneisenburger, in that it's best to give the shopper context as to how the page is sorted without requiring them to perform some action (i.e. click to view a dropdown list).  Obviously layout can present some challenges when for instance stacking controls may push products/content down the page.  One tweak that could be made to the current Venia design

[2020-03-10 22:07] brendanfalkowski opened #2237 "[bug]: watcher runs out of memory"
**Describe the bug**
After developing for some time, the watcher process fails after running out of memory.

This is happening with increasing frequency over the last few weeks as our project gets bigger. It happens maybe every other day now.

**To reproduce**
Steps to reproduce the behavior:
1. Start a watcher
1. Work for a long time
2. Eventually it'll run out of memory

**Expected behavior**
In

[2020-03-10 22:10] brendanfalkowski commented on #2237
Note: this never happens when starting the watcher, and restarting always gets me back to work. Non-blocking but just seems undesired so reporting.

[2020-03-10 22:45] luke-denton-aligent opened #2238 "[bug]: `yarn create @magento/pwa` failing - "Unexpected end of data""
**Describe the bug**
I am unable to create a new Magento PWA Studio project using the `yarn create` syntax. `npm init` works as expected

**To reproduce**
Steps to reproduce the behavior:
1. Create a new directory
2. cd into directory
3. Run `yarn create @magento/pwa`
4. See error

**Expected behavior**
Expect the interactive questionnaire to be started

**Screenshots**
![image](https://user-image

[2020-03-11 09:25] Jordaneisenburger commented on #2237
@brendanfalkowski I had the same running at 5.0.1 but i thought I'd probably messed up somewhere. This indeed only happens when you have your watcher running for 6-8+ hours without restarting.

[2020-03-11 10:43] Jordaneisenburger opened #2239 "[bug]: RootComponents can't have // commented code in their files"
**Describe the bug**
Leaving code comments in RootComponents/Category/category.js prevents webpack from running after a restart

**To reproduce**
Steps to reproduce the behavior:
0. Start watcher with `yarn run watch:venia`
1. Go to packages/venia-ui/lib/RootComponents/Category/category.js
2. comment out
`
if (totalPagesFromData === null) {
     return fullPageLoadingIndicator;
}
` with this `//`

[2020-03-11 10:44] Jordaneisenburger commented on #1990
@brendanfalkowski I encountered a similar issue check https://github.com/magento/pwa-studio/issues/2239

[2020-03-11 14:39] sirugh commented on #2237
I think the leak is more obvious since the watcher doesn't have to be restarted as often.

[2020-03-11 18:03] brendanfalkowski commented on #2237
Agreed, super low priority. 6-8 hours (or overnight...) seems about right for the failure interval.

Just thought I'd post in case someone loves this kind of debugging challenges.

[2020-03-11 18:18] danlupo opened #2241 "[bug]: Wrong value type in useCategoryTree"
**Describe the bug**
In the navigation, a Leaf maybe miss identified as a branch containing children, despite its children_count being 0

**To reproduce**
Create a sub-category under root, that has no children

**Expected behavior**
Should be a rendered as a Leaf

- [x] `peregrine`

See "@magento/peregrine/lib/talons/CategoryTree/useCategoryTree.js" line 52

`const isLeaf = category.children_count

[2020-03-11 18:40] brendanfalkowski commented on #2239
@Jordaneisenburger I was just about to add some notes here.

We hit the same bug around April and again in September, and needed @zetlen to lend an eye to understand it. It's the directive parser for root components that trips up expecting (if I recall correctly) a single comment block only which contains the "type" information.

[2020-03-11 19:59] soumya-ashok commented on #2210
@vasilii-b - Thanks for working on this.

Based on the many sites we have looked at, the standard and expected pattern is for the PDP to show unit price and for the cart to show price based on quantity.

The only time I have seen the unit price change on a PDP with retail sites is if one of the variants of a configurable product is on sale or has a promo associated, or if a larger size for example

[2020-03-12 08:49] sumeet-synergytop opened #2242 ".env.dist is not present here"
.env.dist is not present here when get clone then  .env.dist is not in packages/venia-concept

[2020-03-12 11:04] codynguyen1 commented on #1641
This problem seems to be fixed with the pwa-studio 5.0, @amsterdamharu have you tried again?

[2020-03-12 16:31] #2232 closed

[2020-03-12 18:49] soumya-ashok commented on #1725
@tjwiebell I'm fine with taking the simplest possible route now and using a standard spinner like in the link @awilcoxa above if we're just replacing the logo and not working on the first paint / loading experience in a more comprehensive way.

[2020-03-12 19:12] #2223 closed

[2020-03-12 21:59] luke-denton-aligent opened #2244 "[bug]: Tests don't work or pass OOTB when creating new project with `@magento/create-pwa`"
**Describe the bug**
Directly after `npm init @magento/pwa` has finished, running `yarn test` will not work. (mixing `npm` and `yarn` commands because the `yarn create @magento/pwa` [currently doesn't work](https://github.com/magento/pwa-studio/issues/2238))
There are multiple reasons for this:
- `jest` isn't an included packge that is installed!
  - Therefore the config also isn't present
- `esli

[2020-03-12 22:01] luke-denton-aligent commented on #2244
I have looked at the failing tests to see if I can fix them myself, but I wasn't sure where to start, so I was hoping that someone with more knowledge of the areas where the tests are failing, possibly even the person who originally wrote the code, can port over the correct code from the main Venia repository, as tests in that repo are running and passing.

[2020-03-13 04:10] codynguyen1 commented on #2227
@Jordaneisenburger  if you are going to update this, then the product listing sorting option would also be updated right?

[2020-03-13 08:14] LukasKiederle commented on #2152
Ok, I will be patient :)

[2020-03-13 11:55] 0ctothorp commented on #1934
Yeah, also this is causing the same problem in `create-pwa` since it uses `venia-concept` as a template for new projects. Everytime I start a project I need to change `engines.node` to `>=10.x` in package.json.

[2020-03-13 17:58] 0ctothorp commented on #2109
I'm still encountering this behaviour :/ After `yarn build` and `yarn start` the manifest.json is not served. I tried creating `venia-static` and `static` directories in the project root and. Neither of them gets copied to the `dist`.

[2020-03-13 18:43] tjwiebell commented on #2109
@0ctothorp  - until we publish the fix to npm, you will still encounter this behavior. You can simulate pulling a new release from npm by running `DEBUG_PROJECT_CREATION=1 packages/create-pwa/bin/create-pwa` from the repo root. You should hopefully see `venia-static` now.

[2020-03-13 18:47] 0ctothorp commented on #2109
@tjwiebell thanks! I wasn't sure if it was published or not.

[2020-03-14 04:00] hitesh-wagento opened #2252 "[bug]: Not loading Magento2 media image in PWA"
**Describe the bug**

I have changed path in upward.yml but still not loading images.
`pattern: '^/(graphql|rest|media)(/|$)`
**TO**
`pattern: '^/(graphql|rest|media|pub)(/|$)`

**To reproduce**
Steps to reproduce the behavior:
1. Setup Latest Magento2
2. Add backend URL in **.env** like https://127.0.0.1/venia
3. In the browser, I can find below path
`src="/venia/pub/media/catalog/product/i/m/img

[2020-03-14 16:13] atwixfirster opened #2253 "[bug]: CREATE ACCOUNT. Mutation does not send a subscribe flag"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Account'
2. Click on 'Subscribe to news and updates'
3. Click 'Submit'

**Expected behavior**
Argument [is_subscribed](https://devdocs.magento.com/guides/v2.3/graphql/mutations/create-customer.html) should be send.

**Screenshots**
![2253](https://user-images

[2020-03-19 10:08] #2210 closed

[2020-03-19 15:10] awilcoxa commented on #2190
@andrewbess any updates?

[2020-03-19 15:17] awilcoxa commented on #2171
@jimbo to review

[2020-03-19 16:27] sirugh commented on #613
Now that cart/checkout are being refactored this is unnecessary. Mini-cart display will change eventually, and we can open a ticket at that time for it.

[2020-03-19 16:27] #613 closed

[2020-03-19 18:03] mikhaelbois opened #2270 "[bug]: RadioGroup cannot pass a disabled attribute to the Radio component"
**Describe the bug**
When using the RadioGroup component, we cannot specify if its items are disabled or not.

https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/RadioGroup/radioGroup.js#L34
In the RadioGroup component, the items only accepts a label and a value.

**Expected behavior**
We should have a way to render the Radio items as disabled or not.

**Possible s

[2020-03-20 20:14] chris-brabender commented on #669
Hey all here is a preview of where I am at right now with the implementation.

General concept:
**Translation files**
- Supports translation files from Venia UI / Peregrine
- Supports local translation files (venia-concept)
- Supports remote (magento) translations, fetched and generated as locale files on build time
- Very much work in progress piece for buildback designed to scan all files for th

[2020-03-22 12:55] 1200rist commented on #2244
I tried porting over the config from main repo, made some progress, but still doesn't work 100%. For example importing from src doesn't work.
Also some additional packages need to be installed: identity-obj-proxy, jest-transform-graphql.
Jest config:
[test-files.zip](https://github.com/magento/pwa-studio/files/4365234/test-files.zip)

[2020-03-23 07:16] hitesh-wagento opened #2274 "[bug]: Can't click on First level categroy in Navigation"
**Describe the bug**
We can't go on first level category when clicking on left navigation but we can go when we will click on home page categories

**To reproduce**
Steps to reproduce the behavior:
1. Open develop site https://develop.pwa-venia.com/
2. Click on home page categories (It's working fine)
3. Click on left side navigation first-level categories (This is not working)

**Expected behavio

[2020-03-23 17:22] sirugh commented on #2274
I just tried it and the left nav appears to be functioning as intended:

[![Image from Gyazo](https://i.gyazo.com/c9face54395bb6d9783098ab6da53335.gif)](https://gyazo.com/c9face54395bb6d9783098ab6da53335)

If you meant that you should be able to click "Bottoms" and go to the "Bottoms" category page from left nav, that is not how we originally wrote the feature. I'm going to close this as not a bug

[2020-03-23 17:22] #2274 closed

[2020-03-24 03:34] hitesh-wagento commented on #2274
Hi @sirugh

If I am customer and I want to buy bottom how can I go that category? because I can go when click on home page category

[2020-03-24 03:39] hitesh-wagento opened #2276 "[feature]: Provide a way to access top/intermediate level categories through left nav"
**Is your feature request related to a problem? Please describe.**
We can't go on the first level category when clicking on left navigation but we can go when we will click on home page categories

**Describe the solution you'd like**
Left side navigation first-level categories should redirect to a category

I have created Issue in https://github.com/magento/pwa-studio/issues/2274 but @sirugh sugg

[2020-03-24 03:40] sirugh commented on #2274
I would use the home page button for "Bottoms" in that case. However you may be onto something - there might not be an easy way to access intermediate categories. For example, were Bottoms -> Shorts -> Men's Shorts the categories available how would you get to Shorts? Still, glad you opened a new feature request. :)

[2020-03-24 03:49] hitesh-wagento commented on #2274
Hi @sirugh

For example, when I will click on Bottom it' redirect luma or open *All Bottom* Like Magento2
![Home Page](https://user-images.githubusercontent.com/23443991/77386324-91711380-6db0-11ea-813d-2592a74b2c17.png)

I have created feature request #2276

[2020-03-24 13:13] abso-bmarquis opened #2277 "[bug]: Forgot Password doesn't send an email"
**Describe the bug**
When submitting a forgot password request, there is nothing posted (no graphql query)

**To reproduce**
Steps to reproduce the behavior:
1. Go to 'Forgot Password' from
2. Enter your email
3. Click on 'Submit'
4. The form with message 'If there is an account associated with bmarquis@dsafasd.com, you will receive an email with a link to change your password.' but nothing is pos

[2020-03-24 15:03] awilcoxa commented on #2227
@larsroettig any updates?

[2020-03-24 15:07] awilcoxa commented on #2270
Good value add and relatively low LOE, moving to prioritized for pickup by interested community member(s)

[2020-03-24 16:57] larsroettig commented on #2227
@awilcoxa I started working on it but then I have to move

[2020-03-24 20:35] Jordaneisenburger opened #2281 "[feature]: Talons should optionally return the raw data."
**Is your feature request related to a problem? Please describe.**
In many cases the category pages will be customized to fit the customers needs. Let's say we've added an arbitrary attribute like 'category_awesome_attr' to the category query. If we would like to show that on the frontend. We need to overwrite the whole talon, just to display one extra value.

Doing this would decrease upgradabili

[2020-03-26 20:58] Jordaneisenburger opened #2287 "[bug]: The generateSrcset can generate broken images"
**Describe the bug**
The util function `generateSrcset` has the possibility to generate broken images.

if we take a look at the function you can see at line 69 we are dividing a `with` by a ratio. This works in most cases but when this division doesn't end in a round number we have an issue.
https://github.com/magento/pwa-studio/blob/f179f80d4863839371d833accac3b8473a3d7249/packages/venia-ui/lib/

[2020-03-26 23:18] brendanfalkowski opened #2289 "[feature]: Always scroll to top on a router change"
**Is your feature request related to a problem? Please describe.**
When a long page links to a short page, the former scroll-y position doesn't exist, so the browser keeps the lowest scroll position possible. This means links from anywhere to anywhere can often land on the footer of a new page render.

**Describe the solution you'd like**
When routing (link or redirect) the page should always scro

[2020-03-26 23:20] brendanfalkowski commented on #2289
I have code for this improvement (basically React router's recommended solution) and would like to PR if approved.

[2020-03-30 16:55] Jordaneisenburger commented on #2289
Yeah we've used the recommended solution as well and works great. see https://reacttraining.com/react-router/web/guides/scroll-restoration

[2020-03-30 17:49] awilcoxa commented on #2230
Moved to Jira backlog for prioritization in grooming

[2020-03-30 17:51] awilcoxa commented on #2237
Created in Jira backlog for grooming/prioritization

[2020-03-30 17:53] awilcoxa commented on #2238
Created in Jira backlog for prioritization/grooming

[2020-03-30 17:55] awilcoxa commented on #2239
Created in Jira backlog for grooming/prioritization

[2020-03-30 17:57] awilcoxa commented on #2241
Created in Jira backlog

[2020-03-30 17:59] awilcoxa commented on #2244
Created in Jira for grooming/prioritizaton

[2020-03-30 18:25] awilcoxa commented on #2237
Marked as P3S3.

[2020-03-30 18:27] awilcoxa commented on #2238
Marked as P2S1

[2020-03-30 18:30] awilcoxa commented on #2239
Marked as P3S3 given available workaround (@zetlen)

[2020-03-30 18:38] awilcoxa commented on #2244
Marked as P2S2 to address the tests that are exposed currently and will also create a follow on feature request

[2020-03-30 21:26] #2130 closed

[2020-03-31 00:58] RicardoHds opened #2296 "[bug]: Pagination div active it's outside"
**Describe the bug**
Pagination component add an div when current page it's active, but the number it's outside of this div.

**To reproduce**
All paginator shows the same error.

**Expected behavior**
For a better manipulation the number should be inside of div with the classname "title.

**Screenshots**
![Capture](https://user-images.githubusercontent.com/30476148/77975743-29db2c80-72b8-11ea-8b0

[2020-03-31 03:06] fooman opened #2297 "[bug]: @magento/create-pwa not working in version v1.1.0-beta.1"
**Describe the bug**
Trying to install the latest beta version of create-pwa ends up with error message ` Cannot getTargetsOf("@magento/pwa-buildpack"): @magento/pwa-buildpack has not yet declared`

**To reproduce**
Steps to reproduce the behavior:
1. `npm init @magento/pwa@1.1.0-beta.1`

**Expected behavior**
Command succeeds

**Actual behavior**
[code]

**Please complete the following device inf

[2020-03-31 13:43] tjwiebell commented on #2297
@fooman - I'll have to double check documentation for `create-pwa` and the underlying `buildpack create-project` utility it uses, but I would not expect this to work. I thought you would maybe still get a successful install, but it would be the latest stable `5.0.1`, so I'll run this down some more just in case this is a release bug. Some explanation first.

There was a vision for a much more robu

[2020-03-31 15:18] awilcoxa commented on #2289
moving to prioritized for community contribution, @brendanfalkowski feel free  to open the PR and we'll get the team on review

[2020-03-31 16:22] andrewbess commented on #2190
Hello @awilcoxa
Sorry, I didn't see your last message.
I am going to finish with it on this weekend.

[2020-03-31 17:22] #2241 closed

[2020-04-01 01:07] fooman commented on #2297
Can confirm that the clone approach seems to work:

[code]

And the resulting `./my-project/package.json` gives me a starting point for finding out the mix of dependencies and version numbers to merge into my existing project to update to the latest beta.

[2020-04-01 01:16] fooman commented on #2297
Might not apply cleanly as there is a few other packages in there but here's my diff on package.json:

[code]

[2020-04-01 01:32] fooman opened #2301 "[bug]: error [pertain] "@magento/venia-ui" declares a "pwa-studio.targets.declare""
**Describe the bug**
Can't start dev server with PWA Studio 6.0.0-beta1

**To reproduce**
Steps to reproduce the behavior:

1. git clone git@github.com:magento/pwa-studio.git tmp-pwa-create
2. cd tmp-pwa-create
3. git checkout release/6.0
4. yarn install
5. DEBUG_PROJECT_CREATION=1 packages/create-pwa/bin/create-pwa
6. cd into new project folder, ie my-project
6. yarn watch

[code]

**Expected beh

[2020-04-01 01:33] fooman commented on #2297
Follow on issue posted here https://github.com/magento/pwa-studio/issues/2301

[2020-04-01 10:53] paales commented on #2171
Related #1585

[2020-04-01 11:41] mercs600 opened #2302 "[bug]: checkbox doesn't work with isRequired rule"
**Describe the bug**
rule isRequired from `venia-ui/lib/util/formValidators.js` doesn't work with something else than string.

**To reproduce**
Steps to reproduce the behavior:
1. Use checkbox in your templates with isRequired validate rule
[code]

**Expected behavior**
Validate rule isRequired works with checkbox also.

**Additional context**
TypeError: (value || "").trim is not a function

**Pos

[2020-04-01 13:28] larsroettig commented on #1585
@paales best is maybe close it and move information in the new ticket what's you thing about this approve

[2020-04-01 15:10] LucasCalazans opened #2304 "[feature]: Add custom environment variables"
**Is your feature request related to a problem? Please describe.**
We would be able to add new env variables using the scaffolding project. Now when we add new env variables it is not loaded because this variable is not present in the envVarDefinitions.json

**Describe the solution you'd like**
I would like to add any variables possible to my PWA Studio project and have access to it.
Another featu

[2020-04-01 17:31] #1585 closed

[2020-04-01 17:47] zetlen commented on #2301
Thanks @fooman and sorry about this silly bug. The diagnosis from @tjwiebell is accurate and this should be fixed in https://github.com/magento/pwa-studio/pull/2305/files.

This happened because we use the `files` property of `package.json` to restrict which files are published to NPM. This is a good practice, because it makes the packages lighter and quicker to install, but the pattern didn't inc

[2020-04-01 17:55] brendanfalkowski commented on #2302
We implemented a similar change to catch number and boolean in that validator:

[code]

[2020-04-01 18:44] mercs600 commented on #2302
thanks @brendanfalkowski I pushed PR #2303 ;-)

[2020-04-01 18:49] tjwiebell commented on #2297
Closing in favor of #2301

[2020-04-01 18:49] #2297 closed

[2020-04-01 20:46] #2301 closed

[2020-04-01 21:12] fooman commented on #2301
No worries - that's why we have pre-releases right?

Happy to report that I can confirm beta2 solves this.

[2020-04-03 05:23] LucasCalazans opened #2306 "[bug]: Checkbox.css has an error in a variable usage"
**Describe the bug**
It has a small bug on the usage of a variable in the checkbox.css

**To reproduce**
Steps to reproduce the behavior:
1. Go to `packages/venia-ui/lib/components/Checkbox/checkbox.css`, line 23

This code has a syntax error `z-index: var(--base-z-index + 1, 1);`

**Expected behavior**
Just use the --base-z-index variable with a default value like `z-index: var(--base-z-index, 1)

[2020-04-03 23:11] brendanfalkowski opened #2308 "[bug]: CHECKOUT_BRAINTREE_TOKEN has changed in PWA Studio Buildpack v5.0.0"
**Describe the bug**
Buildpack complains about Braintree token, but no clue what the correct value is.

[code]

**To reproduce**
Steps to reproduce the behavior:
1. Setup a repo as described here: https://magento.github.io/pwa-studio/venia-pwa-concept/setup/

**Expected behavior**
The generated ENV file or DevDocs should provide a working Braintree token out of box, or clearly describe how to bypa

[2020-04-04 13:15] linhtv97 opened #2311 "Disable address validation for PayPal Express Checkout"
I'm working with pwa and magento back end 2.3.4
When I pay by Paypal Express Checkout method using graphql api, If the user enters an incorrect address, paypal will not accept payment error.
Is there any way to turn this off in magento 2.3.4?
![Screenshot from 2020-04-04 20-09-00](https://user-images.githubusercontent.com/48935244/78451634-e5cd9a80-76b0-11ea-88d8-c8b0489d2eca.png)

[2020-04-04 21:00] tjwiebell commented on #2308
@brendanfalkowski - I see where the confusion lies, and have an idea for improvement.

First, the message output is mostly useless in this case, the only useful piece is at the end `This project is using the old default value for CHECKOUT_BRAINTREE_TOKEN. Check to make sure the change does not cause regressions.`. This was intended to prevent developers from thinking they can use our token with th

[2020-04-04 22:51] brendanfalkowski commented on #2308
@tjwiebell – That would work fine for a PR-contribution environment, but what about setting up a client project?

The one I'm working on will not use Braintree, and in fact I've only had one Magento project use Braintree in the last 11 years (in 2013). Nothing against it. It's not my call what payment service a client chooses, so it seems like there should be an obvious escape hatch for "project d

[2020-04-04 23:16] LucasCalazans commented on #2296
@RicardoHds I could not reproduce this issue.

![image](https://user-images.githubusercontent.com/21162174/78463238-e8c88b00-76b0-11ea-9641-9da041cb8cd2.png)
![image](https://user-images.githubusercontent.com/21162174/78463243-f4b44d00-76b0-11ea-9594-3ba0671cae54.png)

I'm running a clone of this repository.

Is it in the category page or in another one?

[2020-04-05 00:37] tjwiebell commented on #2308
@brendanfalkowski - Good points. Since the variable is required you have to provide something, but you will only receive that error if you're using our token. Instead just use `stripe4lyfe` to suppress the warning.

It does appear that `envVarDefinitions` is targetable, so it should be possible to intercept and remove `CHECKOUT_BRAINTREE_TOKEN` from the validation check. Happy to provide you a sam

[2020-04-05 03:00] tjwiebell commented on #2308
`intercept.js`
[code]

Not so bad, but I anticipate as BuildBus becomes more widely used, Braintree would probably be its own package, and payment methods would be a targetable composite, and removing Braintree would be as simple as removing that package dependency.

I'm still going to fix that warning message though, because you've reminded me how annoying it has become 😂

[2020-04-05 05:19] brendanfalkowski commented on #2308
Here's what happens for various Braintree values present in `.env` with:

- Code from 2020-04-04 on `develop` branch.
- `MAGENTO_BACKEND_URL=https://master-7rqtwti-mfwmkrjfqvbjk.us-4.magentosite.cloud/`
- Run `yarn run build` depending on  while connected to the Cloud site:

Just for my own sanity:

— — — — — — — — — —

## Case 1: Sandbox value

[code]

Gets a WARNING:

[code]

## Case 2: garbage

[2020-04-05 05:26] chris-brabender commented on #669
### Status update

- Parse translations is now functioning as expected, PR submitted to Core Magento 2 to allow for this to work properly
- Fetching available store views from magento on build via webpack / pwa-buildpack
- Added additional cache key to apollo cache storage which includes store code
- Store switch now pulls from available store views remote data
- Overall, seems to be functioning
-

[2020-04-05 23:28] fooman opened #2317 "[bug]: create-pwa can't handle a space in the folder hierarchy"
**Describe the bug**
If create-pwa is executed in a folder with a space it fails.

**To reproduce**

1. git clone git@github.com:magento/pwa-studio.git 'folder with space'
2. cd folder\ with\ space
3. git checkout release/6.0
4. yarn install
5. DEBUG_PROJECT_CREATION=1 packages/create-pwa/bin/create-pwa

[code]

**Expected behavior**
Command succeeds

**Please complete the following device informa

[2020-04-05 23:49] fooman opened #2318 "[bug]: create-custom-origin not able to handle existing certificate file"
**Describe the bug**
create-custom-origin can't read existing cert file on Macos

**To reproduce**
Create 1st project - observe it works including running `yarn run buildpack create-custom-origin .` (this was with PWA Studio 5)
Create 2nd project (this was with PWA Studio 6 beta.2). Run `yarn run buildpack create-custom-origin .` errors with
[code]

**Expected behavior**
Multiple custom origins sh

[2020-04-06 07:58] andrewbess commented on #2190
Hello @awilcoxa.
I am waiting for the decision about my PR on the backed part.
I think it is a lousy way to alter it later.
The GraphQL for merging carts looks like incorrect. It doesn't use Magento best practices.
I don't understand why it has been changed from the correct code to incorrect.
Please take a look at commits below.
Correct commit (IMHO)
https://github.com/magento/graphql-ce/pull/950

[2020-04-06 14:04] jcalcaben commented on #2311
hi @linhtv97 ! we don't normally address implementation question in the issues forum, but you can post this question in our [community slack channel](https://magentocommeng.slack.com/archives/C71HNKYS2) and the community may be able to help.

[2020-04-06 14:04] #2311 closed

[2020-04-06 15:41] #2253 closed

[2020-04-06 17:33] #2287 closed

[2020-04-07 16:03] tjwiebell commented on #2242
`.env` creation is a CLI command in buildpack, we do not distribute a `.env.dist`.

https://magento.github.io/pwa-studio/venia-pwa-concept/setup/#step-4-create-the-env-file

Closing as not a bug, but please let us know if there is outdated documentation somewhere that set this expectation.

[2020-04-07 16:03] #2242 closed

[2020-04-07 16:11] awilcoxa commented on #2281
created in Jira backlog for grooming/prioritization

[2020-04-07 16:11] awilcoxa commented on #2252
created in  Jira backlog for grooming/prioritization

[2020-04-07 16:12] awilcoxa commented on #2289
Jira story created and prioritized

[2020-04-07 16:14] awilcoxa commented on #2296
created in Jira backlog for triage.

[2020-04-07 16:16] awilcoxa commented on #2302
created in Jira backlog for prioritization/review

[2020-04-07 16:18] awilcoxa commented on #2304
Created in Jira backlog for grooming/prioritization

[2020-04-07 16:21] awilcoxa commented on #2306
created in Jira backlog for prioritization/review

[2020-04-07 16:26] awilcoxa commented on #2308
created in Jira backlog fro grooming/prioritization

[2020-04-07 16:29] awilcoxa commented on #2317
created in Jira backlog for grooming/prioritization

[2020-04-07 16:33] awilcoxa commented on #2318
created in Jira backlog for grooming/prioritization

[2020-04-07 20:17] tjwiebell commented on #2238
@luke-denton-aligent - Are you still seeing this error? It appears to be related to the `event-stream` exploit from 2018, where npm unpublished this version, but I'm not quite sure where that dependency is coming from. Its not a direct dependency that I can find in the repo, so might be an outdated library that has since been updated.

https://blog.npmjs.org/post/180565383195/details-about-the-eve

[2020-04-07 22:43] luke-denton-aligent commented on #2238
Hi @tjwiebell, thanks for looking into this.

I've just re-tried, and rather than getting "Unexpected end of data", I'm now getting "404 Not Found". Very odd.

![image](https://user-images.githubusercontent.com/18253422/78726100-4807f300-7970-11ea-9f01-804be18ae3bd.png)

As we can see in the image above, I then tried your suggestion of removing `@magento/create-pwa` from the global scope, but I do

[2020-04-07 23:21] #2306 closed

[2020-04-08 00:28] #2158 closed

[2020-04-08 19:14] tjwiebell commented on #2238
@luke-denton-aligent - I've followed these steps and have not had any luck re-creating your error. I did get `node-gyp` warning output because I didn't have Python installed, but still got to the wizard prompt, since it was an optionalDependency.

1. `docker pull centos:centos7.7.1908`
2. `docker run -i -t centos:centos7.7.1908`
3. Install NVM: `curl -o- https://raw.githubusercontent.com/nvm-sh/nv

[2020-04-08 19:37] tjwiebell commented on #2304
@LucasCalazans - This PR made `envVarDefinitions` targetable, and this functionality should now be possible. Take a peek at the `intercept.js` file in the `pagebuilder` package for a good example.

https://github.com/magento/pwa-studio/pull/2174

I think this would cover everything you've outlined, but please confirm, and then I'll close this request.

[2020-04-08 23:07] luke-denton-aligent commented on #2238
@tjwiebell Hmm, that's interesting.. I'm happy to mark this issue as invalid then, as I think it's pretty clear to just be an issue with my machine (I have seen people on Slack using the command without any issues 🤷).. The other weird part is that swapping to the `npm` create command worked perfectly fine..
Anyway, thank you for looking into this, as I said, happy for this to be closed and chalked

[2020-04-09 14:22] tjwiebell commented on #2238
@luke-denton-aligent - New release should be published at the end of April, maybe that will resolve this if its a cache problem. My only other idea is to check your `.yarnrc` for custom registries, or you could try a manual wipe of `@magento/create-pwa` from the yarn cache.

Closing at your request, but please re-open if you track down some reproducible steps.

[2020-04-09 14:22] #2238 closed

[2020-04-09 15:20] awilcoxa commented on #2276
Needs UX review to determine impact @soumya-ashok

[2020-04-09 15:25] soumya-ashok commented on #2276
@awilcoxa I've had a look at the issue. Will discuss with the team and update the issue.

[2020-04-09 20:16] awilcoxa commented on #2230
Marked as P2S1, needs additional investigation

[2020-04-09 20:37] awilcoxa commented on #2252
Marked as P1S1

[2020-04-09 20:49] awilcoxa commented on #2296
This issue should be resolved in latest develop

[2020-04-09 20:50] awilcoxa commented on #2296
Closing as resolved

[2020-04-09 20:50] #2296 closed

[2020-04-09 20:52] awilcoxa commented on #2317
@zetlen

[2020-04-09 20:56] awilcoxa commented on #2318
Marked P2S3

[2020-04-09 20:58] awilcoxa commented on #2302
@jimbo

[2020-04-09 21:04] awilcoxa commented on #2296
fixed in: https://github.com/magento/pwa-studio/pull/2272

[2020-04-10 06:47] dani97 opened #2325 "Cannot use middleware other than express js."
This is hard dependecy to express js framework. UPWARD can be  made to be used as middleware with servers other than express.

https://github.com/magento/pwa-studio/blob/c952de12fb5294223b41d380b47d0d8d62732ffa/packages/upward-js/lib/resolvers/DirectoryResolver.js#L3

[2020-04-10 12:10] dani97 commented on #2325
creating middleware on express js and connect js both failed.

[2020-04-10 12:14] dani97 opened #2326 "Talons should only get every information as prop from venia"
Talon  should not import venia module, this makes talons dependent on venia-ui library, which is only a reference theme.
Every information to talon hook should be passed only as prop.

https://github.com/magento/pwa-studio/blob/c952de12fb5294223b41d380b47d0d8d62732ffa/packages/peregrine/lib/talons/ProductImageCarousel/useProductImageCarousel.js#L10

[2020-04-12 20:54] itjunkii83 opened #2328 "Help - How to deploy to production"
After running yarn run build I have packages/venia-concept/dist however trying to execute this from a virtual host on my local machine produces constant 404 errors as it is trying to POST to www.myvirtualhost.com/graphql which does not exist.

If I use yarn run watch:all I am able to run the site on my virtual host and interact with my online Magento 2 site.

Can you please let me know what I am m

[2020-04-13 18:22] awilcoxa commented on #2308
Marked as P2S4 during grooming

[2020-04-14 06:21] larsroettig opened #2331 "[feature]: Add Sort Status lable also to Category Page"
**Describe the solution you'd like**
PR #2294 was also a status text for sort added. We need to move this logic in a `useSort` Hook. Also, include them on the packages/venia-ui/lib/RootComponents/Category/categoryContent.js

A Good example of a hook you can find here: packages/peregrine/lib/hooks/usePagination.js

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-con

[2020-04-14 13:14] Jordaneisenburger opened #2332 "[bug]: Serviceworker is not strict enough in checking 'catalog' cache resources"
**Describe the bug**
When the serviceworker is enabled it caches all the images on the catalog page into a cache layer named 'catalog'. It stores the full path to the image, for example:
`'/media/catalog/product/cache/691e61e8e08ed9d562b3a62dd421fb27/5/x/5xb40.png?auto=webp&format=png&width=250&height=346'`

When switching to another category it loads new products and their images but since we use

[2020-04-14 13:26] Jordaneisenburger opened #2333 "[feature]: Image component should have an optional 'ratio' prop"
**Is your feature request related to a problem? Please describe.**
As a developer I'd love to re-use the `<Image/>` component for all custom components that render images. Unfortunately that's not ideal since images produced by the `<Image/>` component are always in a 4:5 ratio meaning that a banner image that needs to be 16:9 won't work properly.

**Describe the solution you'd like**
I'd like to

[2020-04-14 15:16] tjwiebell commented on #1126
@larsroettig to provide first draft of description changes to outline expected spike outcome.

[2020-04-14 15:45] tjwiebell commented on #2190
@andrewbess - Was tracking the progress of that issue and saw GraphQL closed as expected behavior and intended design. Are we unblocked to implement this into PWA, or is there still an issue with that endpoint that prevents the functionality we're after?

[2020-04-14 21:05] #2227 closed

[2020-04-15 17:03] zetlen commented on #2304
@LucasCalazans Tommy is right; the `envVarDefinitions` target lets you define new required environment variables from a module, without manually importing them into your project configuration. Let me know if I can help you integrate this feature; the docs are still in process.

[2020-04-15 17:03] #2304 closed

[2020-04-15 21:20] zetlen commented on #1612
Jordan is right; my instinct is to try and make a "friendlier" API for it, but Webpack's existing configuration API works well. We can close, and our documentation can link out.

[2020-04-15 21:20] #1612 closed

[2020-04-16 09:09] Jordaneisenburger opened #2340 "[bug]: transparent png's get a black background"
**Describe the bug**
When you have .png file with a transparent background they end up with a black background when rendered on the frontend.

**To reproduce**
Steps to reproduce the behavior:
1. upload a .png (transparent background) file as a product image
2. go to product and you should see the background black instead of transparent

**Expected behavior**
When using .png's I'd want them to kee

[2020-04-16 10:18] Jordaneisenburger commented on #1126
@larsroettig For a new customer we need to provide real-time prices so did some digging around and figured that Apollo supports something called "Subscriptions" https://www.apollographql.com/docs/react/data/subscriptions/ this looks like the functionality we are after but I'm not sure if the SW can leverage this.

[2020-04-16 16:11] zetlen commented on #2317
Hey @fooman! At first I read this wrong and thought it was an issue with your shell usage, but now I see that it's `create-pwa` using the shell wrong. I'm on it.

[2020-04-17 20:55] dpatil-magento commented on #2252
@hitendra-wagento Can you pls check if https://github.com/magento/pwa-studio/pull/2339 fixes this issue?

[2020-04-18 16:40] fahadjabbar8 opened #2342 "[bug]: yarn create @magento/pwa stuck at first question on Windows"
**Describe the bug**
When i am trying to use the cli command `yarn create @magento/pwa`  its is stuck in the first question and giving error for almost any string address i provide **Invalid directory path; contains illegal characters**.

**To reproduce**
Steps to reproduce the behavior:
1. Go to windows PC install all dependencies mentioned latest python, node , yarn
2. Now to setup this project

[2020-04-19 02:24] fahadjabbar8 commented on #2342
I have gone through your package code and identified the issue is with this package **is-invalid-path**
at line number 31 in create-pwa index file where its being used for validating path apparently this package is suppose to validate only windows path as per package documentation but as ironic as it seems it might be failing for windows only :)

For now updating the local cli code to generate the

[2020-04-20 12:35] Jordaneisenburger commented on #2342
Might not be the reason you setup is failing but you don't really wanna develop your project on windows directly. I'd suggest trying the docker setup, saves you a lot of headaches in the long run.

[2020-04-20 12:47] fahadjabbar8 commented on #2342
@Jordaneisenburger Are you referring the complete source code one having all packages locally or is there an independent setup using **yarn create @magento\pwa** with a docker configuration file i would be interested in the second one.

[2020-04-20 13:48] tjwiebell commented on #2342
@fahadjabbar8 - Our docker setup is in the monorepo, and is not distributed or supported in a scaffolded app (`yarn create @magento/pwa`). The docker files are hard-coded to monorepo paths, but could easily be used as a template on how to roll your own.

I would suggest using the Linux sub-system if available, otherwise Docker would be your next best bet. We'll still review this in our grooming, b

[2020-04-20 17:37] awilcoxa commented on #2325
Created in Jira backlog

[2020-04-20 17:39] awilcoxa commented on #2331
pulling onto community board for review

[2020-04-20 17:41] awilcoxa commented on #2332
created in Jira backlog

[2020-04-20 17:43] awilcoxa commented on #2342
Created in Jira backlog

[2020-04-20 17:54] soumya-ashok commented on #2209
@tjwiebell - Not entirely sure what "category description" is? Is it just text under the main header on the category landing page?

[2020-04-20 18:36] tjwiebell commented on #2209
It's a WYSIWYG-enabled content area, so it can be just text, or any html content. I've seen most sample data rely on Category Image, which is typically the image banner you see before products and would need a similar treatment, but this PR seems isolated to just Description content. I've added one on this instance so you can see it in Luma.

https://venia-cicd-lrov2hi-mfwmkrjfqvbjk.us-4.magentosi

[2020-04-20 20:40] fahadjabbar8 commented on #2342
@tjwiebell We have decided to go with vagrant since its failing on next steps and even to build the project as well. This issue is an easy fix and i would love to do that but the issues after that need some more time to think through.
With current support of pwa-studio for windows its really hard to work with windows environment.
The easiest solution could be docker support for scaffolded app i.e

[2020-04-20 22:01] #2270 closed

[2020-04-20 22:50] ksaleem25 commented on #2301
@tjwiebell  the issue seems to be back in rc1
![image](https://user-images.githubusercontent.com/17887732/79806989-26046c80-8383-11ea-92d1-16e7bc62ffc3.png)

[2020-04-20 23:04] tjwiebell commented on #2301
@ksaleem25 - I was unable to reproduce this locally (Node 10, `npm` and `yarn` both worked). Please open a new bug with all your environment details and we can investigate further.

[2020-04-21 07:45] technicalopt opened #2346 "[feature]: A short, simple sentence describing the feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-21 07:45] #2346 closed

[2020-04-21 07:50] technicalopt opened #2347 "Support to change backend_url while webapp working"
Hi

Thank for your useful tools :)
I have a question:
Can we get BACK_END_URL from localStorage instead of ENV ? I want to use one webapp for specify backend store each time login.

[2020-04-21 20:18] #2289 closed

[2020-04-21 22:39] brendanfalkowski opened #2350 "[bug]: Variables in `.env` are not readable by components"
**Describe the bug**
We want to use the `.env` file in our package to hold simple key:value pairs. Examples:

- API key for service XYZ
- feature flag if something is enabled or disabled

Typically this would be stored in Magento admin config, but...

1. We don't want to slow down the user querying for this, so it made sense (to us) to store it as environment variables.
1. We don't want to write a

[2020-04-22 09:20] Jordaneisenburger opened #2351 "[bug]: Serviceworker requests wrong file chunks"
**Describe the bug**
This is a bug that sometimes happens after a deploy to a running server. We don't yet know the exact cause for this issue, but there are 2 theories discussed in the slack channel.

**Theory 1**
Everytime the `index.html` is requested, the SW will first return the `index.html` that it has cached and fetch the new file in the background. Once the file is downloaded if they happe

[2020-04-22 12:55] Jordaneisenburger commented on #2351
Mhh I did some testing but it's really hard to get some valuable test cases that consistently provide a white screen after deploy.

But we also have another issue described below.

1. Open terminal run `yarn start`
2. Open homepage in the browser (don't navigate, but keep the tab active)
3. Change something in a sub bundle thats loaded on the category page
4. Open a new terminal and run `yarn buil

[2020-04-22 13:31] Jordaneisenburger commented on #2351
Found another issue that might have something todo with all this.

1. Open terminal run yarn start
2. Open homepage in the browser
3. Change something in `src/index.js` for example add `console.log('blabla')`
4. Open a new terminal and run yarn build
5. Now close the homepage tab and reopen the homepage in a new tab
6. Open the chrome console, you should see the following error

![Screenshot 2020-

[2020-04-22 13:49] niklaswolf opened #2352 "Use storybook in scaffolded app"
**Describe the bug**
It's not directly a bug, but it isn't a new feature either, it's somethingin between, maybe a featug ;)
Anyway, this came up in the slack chat: currently it's not possbile to show the stories from `venia-ui` in a scaffolded app. It would be great to include the storybook configuration in the scaffolding template (`venia-concept`), maybe it would even encourage more people to w

[2020-04-22 19:31] soumya-ashok commented on #2276
@hitesh-wagento Thank you for raising the concern. This is an issue we are aware of, but there are technical and accessibility issues we would need to address before we can redesign the pattern for the main nav.

For now, the approach that @jimbo and I would like to take is to add an "All" link within each category nav. at the top and make the category landing page accessible that way.

**Mockup**

[2020-04-23 00:31] brendanfalkowski commented on #2350
Well, figured out the edge cases with some help from Slack.

Turns out the reason that `ENABLE_AHRI` worked is not that it was written first or cached somewhere in build, but my teammate implemented this a while back and actually figured it out.

Editing `packages/pwa-buildpack/envVarDefinitions.json` works to prevent that env var being stripped out. That allows access from a component like `conso

[2020-04-23 03:32] hitesh-wagento commented on #2276
Hi @soumya-ashok

For my understanding currently, when we will click on Bottoms we will add **All Bottoms** text with **venia-bottoms.html** links, Right ?

![image](https://user-images.githubusercontent.com/23443991/80056107-0c108880-8541-11ea-8797-ed531e5e0892.png)

[2020-04-23 03:39] soumya-ashok commented on #2276
@hitesh-wagento Yes, on the top level of the main menu, if a user clicks "Bottoms", this would show them a list of sub categories along with a link for "All Bottoms" like you have which would lead to venia-bottoms.html

[2020-04-23 09:45] Jordaneisenburger commented on #2351
Since I couldn't upload it here, check: https://www.youtube.com/watch?v=IzNF-vv4Kow

[2020-04-23 18:59] BigCX commented on #2351
I can confirm this. Its really annoying... after deployment user gets blank page... there should be a solution asap.

`function __webpack_require__(n) {
        if (t[n])
            return t[n].exports
        var a = t[n] = {
            i: n,
            l: !1,
            exports: {}
        }
          , r = !0
        try {
            e[n].call(a.exports, a, a.exports, __webpack_require__),

[2020-04-24 05:10] joturako opened #2357 "Bug in CheckoutPage: useShippingMethod missing useEffect to call onSave"
**Describe the bug**

When an user completed choosing shipping method (step2) and refresh the page. The page is in inconsistent state: because the 2nd step is completed, the form is not show. But because the onSave is not called, the 3rd step (payment info) is not automatically shown. Thus to continue the checkout process, user have to press Edit and then Update on the Shipping Method modal.

This

[2020-04-24 13:06] tjwiebell commented on #2357
@joturako - Thank you for the bug report. The CheckoutPage is not accessible in the app yet, so I would not expect it to be completely bug free until we've actually made it routable in the app. This is a known problem (especially with features being developed in parallel) and there is already a PR up that resolves, #2354 ([fix here](https://github.com/magento/pwa-studio/pull/2354/files#diff-e8b160

[2020-04-24 13:06] #2357 closed

[2020-04-27 18:28] awilcoxa commented on #2325
Marked as P2S2 @zetlen to follow up

[2020-04-27 18:34] awilcoxa commented on #2332
Marked as P1S2

[2020-04-27 18:39] awilcoxa commented on #2342
Closing this as a bug per Tommy's comment, Window's support currently doesn't exist for scaffolding.

[2020-04-28 05:00] senioritydev opened #2361 "webpack issue when yarn run build"
I'm getting following error while building the app
As done few modifications in the category root component

error
`ERROR in (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js?id=webpack-inject-module-1
    Module build failed (from (webpack)-inject-plugin/dist/webpack-inject-plugin.loader.js):
    TypeError: Cannot read property 'type' of undefined
        at Parser.match (/var/www/html

[2020-04-28 15:22] awilcoxa commented on #2190
Unassigned and moved back to prioritized, needs a contributor

[2020-04-28 15:23] awilcoxa commented on #1633
2.3.5 released today, needs review

[2020-04-28 21:37] larsroettig opened #2364 "[bug]: Scaffolding does not work with lasted 6.0.0 release"
**Describe the bug**
Scaffolding does not work with lasted 6.0.0 release

**To reproduce**
Steps to reproduce the behavior:
1. Execute `yarn create @magento/pwa`
2. Enter project name like `pwa_test60`
3. Use sample Data Instance

**Expected behavior**
- Scaffolding should work

**Screenshots**
[code]

**Additional context**

This line here is the culprit, attempting to tap into targets before we’

[2020-04-29 00:14] fooman commented on #2364
Fix should hopefully be https://github.com/magento/pwa-studio/pull/2363

[2020-04-30 15:00] larsroettig commented on #2364
Fixed by #2363

[2020-04-30 15:00] #2364 closed

[2020-04-30 17:37] #1725 closed

[2020-04-30 18:30] larsroettig commented on #2361
Not reproducible pls add more details

[2020-04-30 18:33] #2361 closed

[2020-05-01 01:53] dani97 commented on #2277
The forget password mutation is not yet available from graphql

[2020-05-01 09:56] larsroettig opened #2373 "[Spike]: Check granular webpack chunking"
**Is your feature request related to a problem? Please describe.**

Evaluated can we reduce our bundle size with [`CommonsChunkPlugin`](https://webpack.js.org/plugins/commons-chunk-plugin/)

**More details you can find here:**
- https://web.dev/granular-chunking-nextjs/

**Describe the solution you'd like**
-

**Describe alternatives you've considered**
-

**Additional context**
zeit/next.js#7631

[2020-05-01 10:24] larsroettig commented on #2277
On hold need to for GraphQL mutation. @abso-bmarquis can you created please a ticket at https://github.com/magento/magento2

Thanks in advance

best regards,

Lars

[2020-05-01 10:32] larsroettig commented on #2347
@Jordaneisenburger what do think over this issue we definitely need more details.
I don't know if it makes sense maybe as plugin

[2020-05-01 11:54] Jordaneisenburger commented on #2347
Seems to me this is something very specific for that particular project and won't add any benefits to others using Studio. So therefore I would suggest closing this issue to prevent cluttering the backlog

[2020-05-01 15:55] #2347 closed

[2020-05-01 20:02] dani97 commented on #2190
@larsroettig  sorry I saw this issue is not assigned and I have completed and gave PR.

[2020-05-01 20:50] larsroettig commented on #2190
No problem I have not invested so much time on it. Next time I would better
to write a the ticket.
Thank you for the contribution 🎉🎉.

best regards,

Lars

christopher daniel <notifications@github.com> schrieb am Fr. 1. Mai 2020 um
22:02:

--

 <https://www.techdivision.com>

*TechDivision GmbH*

Spinnereiinsel 3a
83059 Kolbermoor
*Lars Röttig*
Software Engineer

Magento Community Maintainer
Magen

[2020-05-02 14:36] dani97 opened #2378 "[bug]: Expired token results in graphql errors in mini cart"
**Describe the bug**
Cart query cached by apollo in local storage needs to be purged after token expired.

**To reproduce**
Steps to reproduce the behavior:
1. Login as customer add products to cart
2. Wait for token expiry time, https://venia.magento.com is 1 hour I believe
3. After token  is expired, open the site and check the cart, the minicart will show items in cart but when you open it, gra

[2020-05-02 14:41] dani97 commented on #2378
@sirugh @jimbo @supernova-at , This bug could affect UX of customers. @larsroettig @Jordaneisenburger @awilcoxa  please proritize this issue.

[2020-05-04 01:47] sirugh commented on #2378
Just to clarify, did you mean cart expiration or login token expiration? Either way this sounds pretty important. I'll see what we can do. Thanks for reporting this @dani97!

[2020-05-04 02:12] sirugh commented on #2378
We set the auth token expiry to 60 minutes manually when we first set it. After 60 minutes, if a user refreshes and the app goes through initialization it _should_ delete the old user token **(it does, I just checked**) and the mini cart logic _should_ re-fetch as a guest user and allow. (**it does not, the old cart id, for the old token, persists**).

Perhaps we should be expiring the cart id aft

[2020-05-04 05:08] dani97 commented on #2378
@sirugh I have seen guest carts expire in luma store but not sure that applies for PWA. But authorized carts should be expired once token is expired.

[2020-05-04 16:03] sirugh commented on #2378
Adding the error to the invalid check is easy enough, I do it in #2379. But I do notice there are some other visual discrepancies to handle.

If a user leaves the PC and comes back an hour later and attempts some action like adding an item to the cart it will now work **however** the cart trigger item count and the user data in the left drawer will persist incorrectly.

If the user refreshes the p

[2020-05-04 18:15] dani97 commented on #2378
This is from magento frontend where they achieve it via persistant cookie https://docs.magento.com/m2/ce/user_guide/sales/cart-persistent.html. Since cookie should not be used for authentication in pwa, only increasing token expiry time is an option for guest users. Registered users on the other hand can retrieve their cart by merge carts mutation (should be using nonce or something like that)

[2020-05-05 17:18] #2198 closed

[2020-05-05 19:25] soumya-ashok commented on #2209
@vasilii-b - Apologies for the long response time on this issue.

Please see attached screenshots for recommended placement of category text. As long as your work matches the placement, this is UX approved.

![Screen Shot 2020-04-30 at 10 15 56 AM](https://user-images.githubusercontent.com/25960021/81106964-066d5800-8edc-11ea-835f-6752fb4a37fd.png)
![Screen Shot 2020-04-30 at 11 05 48 AM](https://

[2020-05-06 16:04] zetlen commented on #2325
@dani97 We're only using the Express static server there, which should work with anything that follows the middleware pattern.

If it feels bad to be toting the `express` dependency when we're not using Express, we could try replacing it with https://www.npmjs.com/package/serve-static and doing a regression test. But I don't know if that will fix your problem.

Can you please post a little bit mor

[2020-05-06 17:09] #2209 closed

[2020-05-07 08:02] dani97 commented on #2325
@zetlen Thanks for looking into this. I remember I just setup simple connect js server and installed upward and tried a minimal upward.yml config. Then it failed starting that it requires Express static, I didn't try installing express server or anything. I just felt that if this middleware is generic it shouldn't have express as dependency

[2020-05-07 15:49] Jordaneisenburger commented on #2340
Wondering if the above provided fix would be future proof, since we are always setting a "hardcoded" format? Wouldn't it be better to check the actually extension and set that as the format dynamically. Let's say someone loads an image with a future format ex. ".xjpeg" it wouldn't make sense to add jpeg or webp to it as a format. We then ofcourse also must check the dynamic extension vs the suppor

[2020-05-07 18:32] #1633 closed

[2020-05-10 19:53] miguelbalparda commented on #2328
I'm having the same issue using develop or master branch + trying to build this with both --env.mode development and --env.mode production. It always tries to fetch current.domain/graphql when it should make the requests to the .env MAGENTO_BACKEND_URL variable. This is how it looks in a live url: https://4f69552836.nxcli.net/

[2020-05-10 21:02] miguelbalparda commented on #2328
Maybe we are getting this wrong and /graphql should resolve somewhere else? I always thought that request was going to the Magento 2 instance to fetch stuff and that is why I expected that URL to show.

[2020-05-10 21:32] fooman commented on #2328
There is https://magento.github.io/pwa-studio/frequently-asked-questions/#how-do-i-deploy-to-production. PWA Studio would not be able to talk to an M2 backend directly. PWA Studio talks to an upward server. When developing locally an upward server is started as part of the watch command. There are 2 options of running upward, either the js implementation which requires nodejs or the php implementa

[2020-05-10 22:02] miguelbalparda commented on #2328
Thanks Kristof! So instead of connecting directly to Magento, we conecto to UPWARD trough domain/graphql? In any case I’d expect the URL used is not current.domain but the domain we configured as the backend url in the .env file. I now understand the way venia connects to Magento but the issue is still there for all practical matters.

[2020-05-10 23:11] fooman commented on #2328
If I understand the question correct you would communicate with upward at domain. And this https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/upward.yml#L8 would then proxy any request from upward-domain/graphql to backend-instance/graphql.

[2020-05-10 23:23] miguelbalparda commented on #2328
So upward domain/graphql is basically a magento 2 instance with the upward module and backend instance/graphql is also a magento 2 instance but this time is for real graphql? Are those the same instances? In my case I deployed the dist folder content to a publicly accessible url and tried to connect it to the test instance which lives in another server. How would my deployed dist folder know how t

[2020-05-11 00:10] fooman commented on #2328
They can be as Magento Cloud would do something like it.

The best example I can come up with is
https://4f69552836.nxcli.net/create-account
vs
https://master-7rqtwti-mfwmkrjfqvbjk.us-4.magentosite.cloud/create-account
you need something on your domain that lets the browser know the right html and js to load, and that is before communicating to any backend (this particular url is a static route wh

[2020-05-11 09:55] miguelbalparda commented on #2328
Very well then. For me that means venía is not a standalone app but something you need to put on top of Magento bc it requires UPWARD. In the case you want to use a remote backend you will effectively need two instances of Magento running or use something like https://gist.github.com/jissereitsma/c67b8b035ddbc15cde07791dee8a2c8e for a single server setup if I understand this correctly.

[2020-05-11 10:01] fooman commented on #2328
You wouldn't necessarily need two Magento instances as you could run UPWARD standalone via nodejs.

Agreed that further information for serving a PWA frontend and Magento instance from the same server is needed.

[2020-05-11 10:04] miguelbalparda commented on #2328
The nodejs upward server is a no go for me, there’s no way I can start and keep that process running effectively, at least not in the first phase. I was also trying to avoid editing the vhost to make the install as self service as possible but I’m not sure that’s even doable at this point.

[2020-05-11 11:32] miguelbalparda commented on #2328
One more question: does the UPWARD php specification act as a real server as in you have to start and stop it and expose it to the internet or is it a Magento 2 module that uses Magento’s capabilities? UPWARD JS seems to be a “real” server, how about the PHP version?

[2020-05-11 16:39] awilcoxa commented on #2333
Created in Jira backlog for grooming

[2020-05-11 16:41] awilcoxa commented on #2340
created in Jira backlog for grooming

[2020-05-11 16:42] awilcoxa commented on #2350
created in Jira backlog for grooming

[2020-05-11 16:44] awilcoxa commented on #2351
Created in Jira Backlog for grooming

[2020-05-11 16:46] awilcoxa commented on #2352
created in Jira backlog

[2020-05-11 16:51] awilcoxa commented on #2378
created in Jira Backlog

[2020-05-11 17:43] dani97 opened #2391 "[feature]: React-refresh to improve reloading components at development"
**Is your feature request related to a problem? Please describe.**
PWA Studio currently uses `react-hot-loader` for reloading components, styles when developing.
React introduced `fast refresh` last year to improve browser reloading. We have to remove react-hot-loader and add react-refresh improving developer experience, also hot loader will be deprecated in favor of react-refresh

**Describe the

[2020-05-11 17:55] dani97 commented on #2328
@miguelbalparda  it can be used both ways but I have not tried both. The upward-php gives detail only for magento-cloud, https://github.com/magento-research/magento2-upward-connector

[2020-05-11 18:42] awilcoxa commented on #2340
Marked as P1S1

[2020-05-11 19:06] awilcoxa commented on #2352
Marked as a P2S3 feature request and @zetlen to review PR.

[2020-05-11 20:55] itjunkii83 commented on #2328
Thanks for bringing some new life to this issue @miguelbalparda - I have tried to follow the tutorials for getting the php upward server to work with no luck since it is completely geared towards cloud not self hosted...

[2020-05-11 21:30] tjwiebell commented on #2328
If you'd like to use the UPWARD connector on a non-cloud deployment, the deltas are:

1. Build your PWA somewhere on the filesystem your web server has access (for simplicity, let's assume this is `./pwa` in your document root).
2. Install connector module and configure path to UPWARD file (example with CLI: `bin/magento config:set web/upward/path ./pwa/dist/upward.yml`)
3. Set all required enviro

[2020-05-11 21:59] miguelbalparda commented on #2328
Thank you so much @tjwiebell! Is #3 documetned anywhere? Or is it just for the MAGENTO_BACKEND_URL var?

[2020-05-12 15:30] awilcoxa commented on #2340
In progress with core team

[2020-05-12 17:45] #2332 closed

[2020-05-12 21:56] larsroettig commented on #895
@codeAdrian is this still relevant can be closed?

[2020-05-12 22:03] larsroettig commented on #1947
I think can be closed @awilcoxa should be fine now

[2020-05-12 22:17] larsroettig opened #2395 "[feature]: Create E2E cypress Packaged"
**Is your feature request related to a problem? Please describe.**
- E2E Test helps use to cover the functionality with tests. Developers use this collection to build E2E based on the venia storefront. This will improve the quality of venia and agency projects.

**Describe the solution you'd like**
- Navigate to Homepage
	- SHOP BY CATEGORY should be rendered
- Navigate to https://develop.pwa-veni

[2020-05-13 12:27] miguelbalparda commented on #2328
I was able to find the variables here https://magento.github.io/pwa-studio/tutorials/cloud-deploy/#add-required-environment-variables
I'm almost there --> https://b371620e44.nxcli.net/ but now I have weird issues like
[code]

[2020-05-13 13:24] tjwiebell commented on #2328
@miguelbalparda - I'm using Chrome v81 and I do not see any issues on that instance. The error does look like something an unsupported browser might say, but Service Workers are pretty widely supported now. Let us know what browser you're using, and we'll see if this is a compatibility problem we need to create a bug for.

I did want to point out, when using the UPWARD-PHP deployment, you do lose

[2020-05-13 13:35] miguelbalparda commented on #2328
Indeed @tjwiebell, it looks like the errors I posted are no longer there. Regarding to the image optimization stuff, it's the next thing I'm tackling. This seems to be yet another assumption pwa-studio is making irt the environment where it's hosted since fastly seems to be the only option considered to optimize the images. Again, million thanks for all the help here!!!

[2020-05-13 14:23] Jordaneisenburger commented on #2395
Hey Lars,

We like many others also use Cypress for E2E testing. I think this is as important as unit testing but since we don't want pwa studio to be extremely opinionated towards a 3rth party solution I think it won't make sense to incorporate this into the core.

What does make perfect sense to me is that we jus like the `pwa-devdocs` folder make another folder for example named `community-pack

[2020-05-13 18:18] #2331 closed

[2020-05-14 12:32] romeof1980 opened #2401 "Venia binding only to 127.0.0.1. Can access only locally"
**Describe the bug**
- can connect to venia storefront http:ozforest.net:33499 _only_ from same machine (via curl wget) where pwa-package is installed
- can't connect via curl/wget from external machine
- consequently can't access via browser

**To reproduce**
Steps to reproduce the behavior:
1. install pwa package and link to magento storefront (ozforest.net) in .env
2. yarn run build && yarn run

[2020-05-14 15:41] romeof1980 commented on #2401
ok it's solved editing our /etc/hosts (on the server).
This following is now presented after yarn run watch:all (at the very bottom):
[HPM] Proxy created: /  ->  https://mydomain.net/

A line
127.0.0.1    mydomain.net
was present in the /etc/hosts file, probably triggered (most probably) when installing the certificate via
yarn buildpack create-custom-origin packages/venia-concept

[2020-05-14 15:41] #2401 closed

[2020-05-14 15:51] jissereitsma commented on #2328
I can see this discussion has already gone pretty far. But when I hear that UPWARD is a solid requirement for running Magento PWA Studio in production, I strongly disagree. Maybe it is a suggestion. But the very definition of GraphQL requests routing through UPWARD is that UPWARD is designed to be a stateless proxy, so no caching, no tuning, no nothing. In short, in production, UPWARD would be a m

[2020-05-14 18:52] #2351 closed

[2020-05-14 22:03] #2340 closed

[2020-05-17 06:08] sivakumarkoduru commented on #294
Its better to add item status in the grid ,for example delivered on 12th May 2019 , cancelled,returned etc,

[2020-05-19 12:31] Jordaneisenburger opened #2404 "[feature]: Multiple themable storefronts on 1 magento instance"
**Is your feature request related to a problem? Please describe.**
As a merchant I can have multiple storeviews/websites on the same Magento backend. In default M2 we could couple different theme's to different websites. As far as I'm aware that's not possible right now with pwa studio.

**Describe the solution you'd like**
I would love to see a solution where we can create different theme/storefr

[2020-05-19 14:29] awilcoxa commented on #1126
Placing on hold until we've refined the expected outcome for POC

[2020-05-19 15:22] awilcoxa commented on #2404
This is an upcoming epic on the roadmap but a spike and POC would be ideal. We need to ensure that the spike is aligned with current architecture and framework (ex: style guide).

We should loop in @jimbo and @zetlen for guidance/feedback on proposed approach.

[2020-05-19 15:29] awilcoxa commented on #2025
We're still in design/research  phase for the additional product type support. Once completed we'll be able to move this forward.

[2020-05-19 17:45] zetlen opened #2407 "[enhancement]: Create a staging server utility instead of a script in `venia-concept`"
Improve the experience and performance of the staging server in Venia and other PWAs, _as well as slimming down the install time and dependency size of PWA Studio itself._

**Is your feature request related to a problem? Please describe.**
We don't have a coherent place for staging server scripts. NodeJS is one of our core supported technologies; we should have a more complete story for staging an

[2020-05-19 18:52] #1934 closed

[2020-05-19 19:31] awilcoxa commented on #2407
Created in Jira Backlog. Marked for community contribution.

Marked  as P3S3

[2020-05-19 19:32] awilcoxa commented on #1958
Marked as P3S3

[2020-05-20 08:26] paales opened #2410 "[feature]: Publish compiled npm packages"
**Is your feature request related to a problem? Please describe.**

So I’m trying to use the `@magento/venia-ui` and `@magento/peregrine` as a library but it seems the packages are only published on NPM as source versions.

Because of this I'm running into issues like this:
https://github.com/zeit/next.js/blob/master/errors/css-npm.md

**Describe the solution you'd like**
I'd like for the ability

[2020-05-20 08:30] paales opened #2411 "[bug]: Too strict peerdependency requirements"
**Describe the bug**

I'm installing the `@magento/peregrine` and `@magento/venia-ui` packages but it seems lots of packges are defined with a tilde `~`

[code]

**To reproduce**
Install the packages on an existing node project

**Expected behavior**
I'd expect the dependencies be less strict.

**Possible solutions**
Since most packages are following semver strictly they dont have to be required u

[2020-05-20 08:41] paales commented on #1110
@awilcoxa Not wanting to get this forgotten, are followup tickets created?

[2020-05-20 13:33] Eddcapone opened #2413 "Feedback on page: /technologies/theme-vs-storefront/"
Can you develope an online shop and have both: PWA and a normal website with a normal magento theme for the same shop? Or do you have to choose one approach?

[2020-05-20 16:47] zetlen commented on #2350
Hey @brendanfalkowski. You are exactly right that we don't expose all environment variables in the Node build process for use in the built frontend bundle. This is not obvious behavior and it needs documenting. Let me try to describe it briefly first.

(Okay. Not that brief. If this is something you and @jcalcaben judge useful, I'm sure he would be able to tighten it right up.)

My big followup qu

[2020-05-20 17:27] #1759 closed

[2020-05-20 22:34] #2378 closed

[2020-05-20 23:12] fooman opened #2414 "[feature]: Use react-helmet-async instead of react-head"
**Is your feature request related to a problem? Please describe.**
The creators of react head seem to now use react-helmet-async. The latter provides more flexibility to interact with the Head content for example to add "application/ld+json" script content.

**Describe the solution you'd like**
Provide react-helmet-async as the underlying mechanism to manipulate the Head content.

**Additional con

[2020-05-22 04:52] ArunKathir98 commented on #2297
How to setup pwa  on windows system anyone help me please.

[2020-05-22 05:22] sivakumarkoduru opened #2419 "Feedback on page: /tutorials/pwa-studio-fundamentals/add-a-static-route/"
Dear Community,

To just add  simple route and component so many files need to modify, is there any simple way to get things done.

[2020-05-22 23:41] IgorVitol opened #2422 "[feature]: Allow Magento HTTP Backend (without SSL) when configured"
**Is your feature request related to a problem? Please describe.**
In case when you want to set - "**MAGENTO_BACKEND_URL**" to URL without SSL (e.g. http, not a https) - you would get an error - "http is not supported".

I think such possibility would be great for cases when you are running "**pwa-studio**" as separate docker container on the same host or within same kubernetes cluster together wi

[2020-05-22 23:43] IgorVitol commented on #2422
@magento I am working on this

[2020-05-23 06:24] shikhamis11 opened #2424 "Incorrect Item Price display in mini cart"
**Describe the bug**
Incorrect Item Price display in mini cart

**To reproduce**
Steps to reproduce the behavior:
1. Go to any configurable Product Page which has multiple options with different prices
2. Click on add to cart
3. In mini cart the it is showing default price not the exact one of that particular item
4. the same issue occurs when any catalog price rule is applied

**Expected behavior

[2020-05-23 09:58] shikhamis11 opened #2426 "Error if product is out of stock"
**Describe the bug**
Error if product is out of stock

**To reproduce**
Steps to reproduce the behavior:
1. Go to Product Page of any out of stock product
2. Make sure in magento backend the below setting is set to `NO`
    Store->Configuration->Catalog->Inventory->Display Out of Stock Products
3. Error on Product Page

**Expected behavior**
It should show message `This Product is currently out of

[2020-05-23 12:29] IgorVitol opened #2428 "[feature]: PWADevServer: Avoid binding/listening by domain name"
**Is your feature request related to a problem? Please describe.**
Currently **PWADevServer** will do DNS lookup for specified domain name ("**DEV_SERVER_HOST**" env variable) in order to start listening for specified port.

So, when you specifying something like - "**pwa-docker.localhost**" - it will lookup your DNS entry to IP and start listening on IP.

For current docker-compose setup, it work

[2020-05-23 12:29] IgorVitol commented on #2428
@magento I am working on this

[2020-05-25 11:22] paales opened #2431 "[feature]: Publish develop branch on npm"
**Is your feature request related to a problem? Please describe.**
I'm trying to install @magento/venia-concept via npm but my node version is 12 which isn't allowed by the 6.0.1 version, but is already in the develop branch.

**Describe the solution you'd like**
Publish the latest branch of pwa-studio after each commit on npm with a @develop tag.
https://www.npmjs.com/package/@magento/venia-conce

[2020-05-26 11:39] Jordaneisenburger commented on #2426
If it's set to "No" it should say that the product or url does not exists and therefor give a 404. Because we don't want people to be able to access a url that should not be accessible.

[2020-05-26 11:43] Jordaneisenburger commented on #2419
Hi, Best bet is to ask the question in the community slack. We want to keep these issues to Feature requests / Bug reports or Documentation Request. Right now the way to add a route is the way it's written in the mentioned docs.

[2020-05-26 11:43] #2419 closed

[2020-05-26 12:13] paales commented on #2171
Hi Guys! I’ve been working on generating typescript declarations for the peregrine and venia-ui packages and was wondering how to proceed in contributing them back to the project?

Especially in the sense that I don’t know what the best solution would be how these types should be integrated. Should they be distributed throughout the project (close to the actual files), should they be separate pack

[2020-05-26 12:27] larsroettig commented on #2171
@paales I will add this to our internal meeting today

[2020-05-26 12:55] paales commented on #2171
I was for example able to generate the following for `@magento/venia-ui/lib/components/ProductFullDetail`

[code]

Which results in a fully working typescript declarations with strict typescript validation. Of course there are holes in lots of typescript declarations and there are lot of `any` types in the created definitions for methods/functions with non-component files.

The generation is based

[2020-05-26 14:32] shikhamis11 commented on #2426
Hi @Jordaneisenburger
Thanks for the feedback. I also think it should show 404 page, don't know why there is message written in product root component for the out of stock condition

[2020-05-26 19:14] #2352 closed

[2020-05-27 19:17] lfaz opened #2435 "can't import custom fonts in css files"
I am having difficulties to import custom fonts into css files, for some reason webpack complains that there is no file loader configured, I could not find in the documentation something related to this.

I know how to configure for normal projects the file loader for webpack, but kinda seems abit different the webpack under venia-concept/.

I tried to modify and add something like this on the web

[2020-05-27 22:59] svalveson opened #2437 "[bug]: The venia-static directory is not being removed from dist"
**Describe the bug**
The **venia-static** folder keeps being generated in the `./dist` folder, even when the `veniaStaticIncludes` is redefined with an own static folder (e.g. **customxyz-static**).

**To reproduce**
Steps to reproduce the behavior:
1. Edit the `./upward.yml` replacing the veniaStaticIncludes directory from **./venia-static** to **./customxyz-static**
2. Create the folder **custom

[2020-05-28 08:14] WestArjan opened #2438 "Node version requirement - >= 10.x LTS"
Hey,

I was wondering if PWA-studio is also stable with the latest LTS node version ( 12.x ). I am running on Fedora 31 at the moment and I can't seem to find an available repository for Node.js that is lower than version 10.17. Will continue running at 12.17 LTS give me issues?

[2020-05-28 08:45] paales commented on #2438
The latest release is only compatible with node 10, the current develop branch is compatible with node 12. Created this ticket to alleviate this https://github.com/magento/pwa-studio/issues/2431

[2020-05-28 17:16] tjwiebell commented on #2045
Actually closed by #2005 now.

[2020-05-28 17:16] #2045 closed

[2020-05-28 22:44] luke-denton-aligent opened #2441 "[bug]: ProductSort/CategorySort component shouldn't be conditional on filters being present"
**Describe the bug**
The `ProductSort`/`CategorySort` component (it seems to have had a name change recently?) is rendered in a `.headerButtons` container, which is defined in `venia-ui/lib/RootComponents/Category/categoryContent.js` on line 44. This means that if there are no filters available, then sorting is also unavailable.

This appears to be left over logic from when the only header button

[2020-05-29 20:46] danlupo opened #2442 "[bug]: Filterable product attributes wrong language/store"
**Describe the bug**
Have multiple storefronts in different languages (default english + french). Create a custom searchable/filterable product attribute and configure it's different labels.

In PWA Studio will access the default/english store, however the labels are french

**To reproduce**
Steps to reproduce the behavior:
1. Go to category listing page
2. Click on filters
3. Scroll down to see y

[2020-06-01 04:14] sivakumarkoduru opened #2444 "[bug]: docker run fails"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
$ docker/run-docker

===========================================================================

         Adding env vars from ./docker/.env.docker.dev to ./.env for docker setup.

===========================================================================

########## .env.docker ###########################

[2020-06-01 04:33] sivakumarkoduru commented on #2444
after passing env  variables manually from the command ,still i got below issue.
Ensuring valid environment...
': No such file or directory

info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
error Command failed with exit code 1.
Service 'pwa' failed to build: The command '/bin/sh -c yarn install --frozen-lockfile' returned a non-zero code: 1

===============

[2020-06-01 14:12] miguelbalparda commented on #2328
I compiled everything I've learned from this issue [here](https://help.nexcess.net/magento-2/how-to-install-venia-storefront-pwa). I think it's safe to close this issue for now given that we managed to deploy this somewhere else than Magento Cloud. Thanks!!

[2020-06-01 20:28] IgorVitol commented on #2428
@Jordaneisenburger Could you pls take a look at this issue - what next steps required after PR creation?

[2020-06-01 20:29] IgorVitol commented on #2422
@Jordaneisenburger Could you pls take a look at this issue - what next steps required after PR creation?

[2020-06-01 21:10] #2333 closed

[2020-06-02 14:52] sven-codeculture opened #2448 "[bug]: Upward crashes on Image Optimization"
**Describe the bug**
When turning on the PWA Image optimization, the Upward Server crashes as soon as someone tries to load any image.

Error log shows:

[code]

**Expected behavior**
Image is shown to the customer and Optimized for the PWA.

**Please complete the following device information:**
 - PWA Studio Version: 6.0.1
 - NPM version `npm -v`: v6.13.4
 - Node Version `node -v`: v10.18.1

**Pl

[2020-06-02 15:47] Jordaneisenburger commented on #2448
Hi @sven-codeculture ,

I'm experiencing the same issue, did this happen after you've updated to 6.x ?

I tried connecting the PWA to our staging domain instead of live and that seems to resolve the issue. Making me wonder if the new version of pwa studio's sharp lib can't properly handle nginx redirects.

[2020-06-02 21:18] davemacaulay commented on #2230
I've opened a draft PR which implements the `cache-and-network` fetch policy for the CMS Page here: https://github.com/magento/pwa-studio/pull/2453.

@sirugh @jimbo there are a number of "bugs" or "issues" with how Apollo handles the `loading` state when using the `cache-and-network` fetch policy. It'll leave `loading` as true even if it manages to hit the cache for the data. Meaning the user woul

[2020-06-02 21:44] jimbo commented on #2230
#### `loading`

Right. From Apollo's docs:

#### Solutions

It looks to me like the docs recommend using `networkStatus`, which we do in some other places where we have this issue. Basically, whenever `loading` is ambiguous because of caching policy, we should look at `networkStatus`—and that should probably be a lot more often as we optimize our caching.

That said, as long as this conditional (`

[2020-06-04 14:23] #2442 closed

[2020-06-04 14:52] tjwiebell commented on #2431
@paales - This is an interesting idea, and we have _most_ of our publication automated, so let me check with the team if this is something that could be done easily. I assume we could just follow React's style of publishing version `0.0.0-<latest-commit-hash>` to avoid worrying about real versioning. Ideally I would like to see us releasing more often, but I won't get into why that's not possible

[2020-06-04 15:06] tjwiebell commented on #2438
@WestArjan - as mentioned, we expanded support for node12 in `develop`, and will be released in line with Magento `2.4.0` currently estimated mid-July.

Since this seems to be a general question I'm going to close this out. I see you've found the #pwa channel over on our Community Slack, so feel free to message me if you have any followup questions.

[2020-06-04 15:06] #2438 closed

[2020-06-04 17:43] #2414 closed

[2020-06-04 21:37] tjwiebell commented on #2437
@svalveson - I was unable to reproduce this on `develop` so I believe this to be fixed. I did notice there are two spots in `packages/venia-ui/upward.yml` that reference `venia-static`, so its possible the second reference is why you still saw that in the build.

Going to close as no longer a bug, but please re-open if you're still able to reproduce against `develop`.

[2020-06-04 21:37] #2437 closed

[2020-06-04 22:27] jimbo commented on #895
@larsroettig Yes, this issue is still relevant.

It would certainly be nice to find a way to prune empty rulesets during the build. Even without such a solution, though, we should avoid authoring empty rulesets in the first place. A task to solve this issue might involve manually pruning empty rulesets from the codebase—perhaps commenting them out at first.

Another thing highlighted by this issue

[2020-06-05 21:47] #2302 closed

[2020-06-08 08:15] paales commented on #2431
Thanks for your response, very much appreciated! I've got a few questions / points:

1. Are the publication steps open source in this repo, or is that private somewhere, if so, can that be made public? In the spirit of 'open development'?

2. Some form of release would be nice. I do understand that we can directly work with the latest GitHub version with `npm link`, but that's not always what we a

[2020-06-08 08:28] paales commented on #2171
Since communication happened on Slack and over Bluejeans I'll try and state my points:

If you're developing PWA Studio with Visual Studio Code, you are already getting the benefits of TypeScript: VSCode's IntelliSense is being fed by the TypeScript compiler.

What IntelliSense doesn't do is: evaluate all javascript modules inside the node_modules folder, because that would be way to heavy. It can

[2020-06-08 08:37] paales commented on #2411
I see that dependabot is already installed: https://github.com/magento/pwa-studio/pulls?q=is%3Aopen+is%3Apr+label%3Adependencies but dependabot isn't able to handle peerDepenencies properly it seems: https://github.com/dependabot/dependabot-core/issues/1242

[2020-06-08 09:52] sven-codeculture commented on #2448
@Jordaneisenburger i think it was after the 6.x update yes. I did not do the update myself, but one of my co-workers did.
I hope this issue gets solved ASAP since turning of the optimization is also not a solution but only a workaround.

[2020-06-08 14:25] tjwiebell commented on #2431
This is now private. There's a secret exposure vector that we have to protect if we expose the repository that's actually used, but perhaps we could expose a public fork that's kept in sync. Will review with the team.

Our internal priorities align with our roadmap, which is heavily in favor of feature parity work; so I would say more of the latter. There's a bigger team conversation that needs to

[2020-06-08 15:12] Jordaneisenburger commented on #2448
Yeah it's been mind boggling for us, looks like hastly is throwing it's error to sharp. Still investigating .

Strange thing is that we don't have the issue if we talk to our staging env but only get it when talking to live. Seems to be server related.

[2020-06-08 19:23] LucasCalazans opened #2468 "[bug]: New folder in venia-static is not generated on build"
**Describe the bug**
I'm trying to configure a TWA (Trusted Web Activity) with our PWA Studio store, but I can't add the `.well-known/assetlinks.json` file.

This file is required on TWA.

**To reproduce**
Steps to reproduce the behavior:
1. Create a new project using the scaffolding command
2. Go to `<root>/upward.yml`
3. Add the following code to your upward.yml
[code]
4. Create these folders an

[2020-06-09 04:37] awilcoxa commented on #2391
created in Jira backlog (PWA-653)

[2020-06-09 04:44] awilcoxa commented on #2395
Created in Jira backlog for triage

[2020-06-09 04:46] awilcoxa commented on #2404
Created story in backlog for triage (PWA-655)

[2020-06-09 04:47] awilcoxa commented on #2410
created in Jira backlog for triage (PWA-656)

[2020-06-09 04:48] awilcoxa commented on #2411
Created in Jira backlog for triage (PWA-657)

[2020-06-09 04:52] awilcoxa commented on #2424
Created in Jira backlog for triage (PWA-659)

[2020-06-09 04:54] awilcoxa commented on #2426
Created in Jira backlog for triage (PWA-660)

[2020-06-09 04:57] awilcoxa commented on #2435
Created in Jira backlog for triage (PWA-663)

[2020-06-09 04:58] awilcoxa commented on #2431
Created PWA-662

[2020-06-09 04:59] awilcoxa commented on #2441
Created PWA-664

[2020-06-09 05:00] awilcoxa commented on #2444
Created PWA-665

[2020-06-09 05:01] awilcoxa commented on #2448
Created PWA-666

[2020-06-09 05:02] awilcoxa commented on #2468
Created PWA-667

[2020-06-09 07:25] Jordaneisenburger commented on #2448
"666" the issue from hell

[2020-06-09 08:31] denisn-ewave opened #2469 "[bug]: PageBuider crashes on IE11"
**Describe the bug**
Empty page is displayed if use PageBuider package on IE11

**To reproduce**
Steps to reproduce the behavior:
1. Open any page where used 'PageBuider'
2. Open console
3. See syntax error

**Expected behavior**
Page Builder does not break page on IE11

**Screenshots**
![ie11-console](https://user-images.githubusercontent.com/66664396/84124928-87bc8b00-aa44-11ea-8bb3-f785e9ba6ec3

[2020-06-09 13:22] tjwiebell commented on #2469
The PageBuilder extension for PWA Studio does not support IE11, you can find our supported browsers requirement here:

https://github.com/magento/pwa-studio/wiki/Definition-of-Quality#browser-support

Closing as not a bug.

[2020-06-09 13:22] #2469 closed

[2020-06-09 14:54] tjwiebell commented on #2277
This endpoint has been added to `2.4.0`, so we can start supporting this feature with our next release. I've tagged the next release as `8.0.0` for now, but it's possible it will not be a major. Work can start on this feature, but we will not merge into `develop` until after `7.0.0` has been released (mid-July).

[2020-06-09 14:56] tjwiebell commented on #2204
Closing this out as expected UI. I believe @soumya-ashok wanted to provide some justification for our design choice, which will be provided here soon.

[2020-06-09 14:56] #2204 closed

[2020-06-09 15:00] m2-assistant[bot] opened #2473 "[Issue] Unable to find a readme for @magento/create-pwa@1.1.1 in npmjs.com"
This issue is automatically created based on existing pull request: magento/pwa-studio#2415: Unable to find a readme for @magento/create-pwa@1.1.1 in npmjs.com

---------

## Description

TODO: Describe your changes in detail here.
Unable to find a readme for @magento/create-pwa@1.1.1 in npmjs.com
## Related Issue

Closes #ISSUE_NUMBER.

## Acceptance

### Verification Stakeholders

### Specificat

[2020-06-09 20:01] awilcoxa commented on #2391
Marked as P3S4 and will require further follow up

[2020-06-10 10:13] paales opened #2479 "[feature]: Replace react-router-dom instances with @magento/venia-drivers to support "bring your own router""
**Is your feature request related to a problem? Please describe.**

So, we're trying to create a NextJS compatible implementation to use the venia-ui components in our application. To be able to do that, we need to have a router that is compatible with react-router-dom.

I believe there is an intention to support this by having @magento/venia-drivers implementable by the user. However, it seems th

[2020-06-10 11:16] mercs600 commented on #2044
@pankajvc How did you fix this issue ? I have the same issue ? @dpatil-magento what about master branch ? Because on develop this is ok, but on the master branch I got the same things what @pankajvc shows.

[2020-06-10 11:58] pankajvc commented on #2044
Please go to this path in your project pwa-studio/packages/venia-concept/webpack.config.js then compare your file this code `const {
    configureWebpack,
    graphQL: { getMediaURL, getUnionAndInterfaceTypes }
} = require('@magento/pwa-buildpack');
const { DefinePlugin } = require('webpack');
const HTMLWebpackPlugin = require('html-webpack-plugin');

module.exports = async env => {
    const medi

[2020-06-10 11:59] pankajvc commented on #2044
serviceWorkerConfig.output = {
    globalObject: 'this'
};
please add this code in the file

[2020-06-11 00:40] fooman opened #2485 "[bug]:request.headers.user-agent should be useable in upward"
**Describe the bug**
It's currently not possible to use the following
[code]
due to the `-` character.

**To reproduce**
Steps to reproduce the behavior:
1. Create upward rule with the above

**Expected behavior**
see pull request #2484

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`

[2020-06-11 18:17] #2308 closed

[2020-06-12 21:26] #2230 closed

[2020-06-15 23:55] fooman commented on #1126
@Jordaneisenburger Subscriptions would be neat to build on top of, but I believe Magento 2 as a back-end is not ready for that yet as it is missing the type:
![image](https://user-images.githubusercontent.com/455508/84716732-12166900-afc8-11ea-9815-36694876c54d.png)

[2020-06-15 23:57] fooman commented on #1126
@larsroettig sorry only commented which seems to have unassigned you and I can't undo it ?!

[2020-06-16 02:57] fooman commented on #2431
@paales I am currently experimenting with something like this

[code]

And then running something like
`DEBUG_PROJECT_CREATION=true ./pwa-studio-dev-packages/packages/pwa-buildpack/bin/buildpack create-project tmp-to-delete --template "venia-concept" --name "tmp-to-delete" --author "Kristof Ringleff, Fooman <kristof@example.com>" --backend-url "https://master-7rqtwti-mfwmkrjfqvbjk.us-4.magentosite

[2020-06-16 06:04] larsroettig commented on #1126
@fooman currently we can do nothing on this topic we need to define simple use case order shipment is very hard to implement for security reasons

[2020-06-16 07:55] paales commented on #2431
Our current process:

1. Clone this repo to some folder on your system.
2. Run `yarn link` in each package directory.
3. It will now output the command you can use in your project to link them.

This works fine in our case, but again, this is not always what we want.

[2020-06-16 08:17] Jordaneisenburger commented on #2237
Crashed again, But this only seems to happen when you as @brendanfalkowski said keep the watcher on overnight so at least 12+ hours.

extra debug info:
<--- Last few GCs --->

[87389:0x10264a000] 24052326 ms: Mark-sweep 1381.9 (1411.9) -> 1381.9 (1412.4) MB, 351.1 / 0.0 ms  (average mu = 0.136, current mu = 0.003) allocation failure GC in old space requested
[87389:0x10264a000] 24052642 ms: Mark-s

[2020-06-16 12:02] Frodigo commented on #2276
Hi guys!

I want to help you with this feature. Could somebody assign this issue to me?

[2020-06-16 12:36] mercs600 opened #2489 "[bug]: Disable Apollo RetryLink when offline ?"
**Describe the bug**
When we are offlline and when we're trying to open some cached page then we will get the cached page, but after this ApolloRetryLink is trying to call some requests and after then we get Data Fetch Error

**To reproduce**
Steps to reproduce the behavior:
1. Being online go to some product page
2. Switch browser to offline mode
3. Open the same product page (must be cached)
4.

[2020-06-16 13:17] sirugh commented on #2489
This is definitely a bug but I don't think we should disable the link when offline. The retry link is actually intended for situations where the app goes offline. Check out the [docs](https://www.apollographql.com/docs/link/links/retry/), they say this:

What might be better is if we try to understand why the `Data Fetch Error` is being shown. I would expect cached data to display until the app co

[2020-06-16 13:33] tjwiebell commented on #2473
Created in internal JIRA: PWA-688

[2020-06-16 14:42] tjwiebell commented on #2485
Created in internal JIRA for grooming: PWA-689

[2020-06-16 15:33] mercs600 commented on #2489
@sirugh Ya, you re right, generally we should avoid displaying the error if we have already product data from apollo cache. That small PR fix this https://github.com/magento/pwa-studio/pull/2490

[2020-06-17 14:09] huykon opened #2491 "[feature]: Unable to use my custom currency symbol"
**Describe the bug**
When I tried to custom my currency symbol on frontend. It's working normally on Magento default but nothing change on PWA.

**To reproduce**
Steps to reproduce the behavior:
1. Go to **Magento admin** > **Stores** > **Currency** > **Currency Symbols**
2. Change currency symbol as you want (I tried ø ) then Click to **Save currency symbols** + Clear cache
3. Go to Magento front

[2020-06-17 16:45] larsroettig commented on #2441
@magento I am working on this

[2020-06-17 16:45] larsroettig commented on #2441
@magento add to contributors team

[2020-06-17 16:46] larsroettig commented on #2441
@magento I am working on this

[2020-06-18 08:45] fooman commented on #2431
fyi just built something interim https://github.com/fooman/pwa-studio-canary/actions which all going well should build and publish packages weekly from the develop branch of pwa-studio.

Current week (24) outputs: https://canary-packages.fooman.com/pwa-create/package-24.json and includes the references to install from url.

[2020-06-18 18:48] awilcoxa commented on #2411
Marked as P3S3 in backlog

[2020-06-18 18:55] awilcoxa commented on #2424
Needs review.

[2020-06-18 18:58] awilcoxa commented on #2428
@zetlen to review

[2020-06-18 19:46] sirugh commented on #2426
I agree here. If the configuration specifies not to show out of stock products then we should show a 404 or that the url does not exist.

I would have expected something to catch that before you even get to the product root component. I'm curious how graphql behaves when you have it set to "no". Should we even be rendering the product component? Does the product query made return an error signifyi

[2020-06-19 08:20] paales commented on #2411
Not sure what P3S3 means, is there documentation available somewhere? Maybe create a label with a description in GitHub?

[2020-06-22 05:00] kiennguyen1101 opened #2501 "Feedback on page: /technologies/basic-concepts/client-side-caching/"
The link in the last line: "Caching for Apollo is set up in the `src/drivers/adapter.js` file." which leads to: https://github.com/magento/pwa-studio/blob/master/packages/venia-concept/src/drivers/adapter.js is invalid. It returns a 404 page.

Also, it would be great if a document is added on the default setup of apollo-cache-persist (how Magento PWA is using this lib) and how to prioritize on net

[2020-06-22 11:36] Jordaneisenburger opened #2502 "[feature]: Make the pwa handle redirect urls"
As a merchant I'd like to be able to make use of magento's redirect urls, right now those are not being handled by PWA Studio

**Describe the solution you'd like**
I'd like to see a solution where urls get redirected to the right page when there is a redirect set in magento.

**Additional context**
I will submit a PR, so this issue is just for reference.

**Please let us know what packages this fe

[2020-06-22 11:52] Jordaneisenburger commented on #2502
@magento I am working on this

[2020-06-22 16:33] #2190 closed

[2020-06-22 17:47] dani97 commented on #2413
Are you looking something like this https://github.com/magento-research/magento2-upward-connector#front-name-whitelist

[2020-06-22 18:23] awilcoxa commented on #2435
Marked feature request as P2S3, @zetlen will jump in to help you with your immediate questions @lulzimfazlija

[2020-06-22 18:26] awilcoxa commented on #2441
Marked P2S3, in review

[2020-06-22 18:29] awilcoxa commented on #2444
This is a currently a low priority for internal/core team but would be a great candidate for community contribution assuming there is enough interest in supporting docker/windows

[2020-06-22 20:49] #2424 closed

[2020-06-22 21:33] #2426 closed

[2020-06-23 10:11] Jordaneisenburger commented on #2448
@sven-codeculture did you find a solution, clue or workaround for this issue?

[2020-06-23 10:15] sven-codeculture commented on #2448
@Jordaneisenburger unfortunatly no, since we don't have the time to look into this we just disabled the Image optimization for now

[2020-06-23 11:06] Jordaneisenburger commented on #2448
@sven-codeculture Thanks for the response, unfortunately that's not a solution for us. Will keep you posted on any progress

[2020-06-23 15:22] #2489 closed

[2020-06-23 22:52] zetlen commented on #2325
It's a fair point! We could reimplement the DirectoryResolver with a different static file server, or with the [send](https://www.npmjs.com/package/send) library directly, which is what express-static uses under the hood.

However, it's not a high priority for us, and it sounds like you could fix the issue by installing Express as a dependency. It's only in use as a library here; installing it doe

[2020-06-23 22:52] #2325 closed

[2020-06-24 13:07] Jordaneisenburger commented on #2448
**Update:**

So we have 1 customers running in Live modus hosted on a hypernode server from Byte and our own internal project running on the same version.

When I'm developing locally and connect to the live MAGENTO_BACKEND_URLS it crashes both for the internal project and the live customer  :(

But I'm developing locally and I connect the MAGENTO_BACKEND_URLS to our stagings (hosted by ourselves)

[2020-06-24 17:31] zetlen commented on #2410
Hi Paul. Thanks for your patience while we catch up with a backlog of worthy discussions.

For a while, we did publish transpiled CommonJS for Peregrine. We decided to stop, though, because we strongly advocate using ES Modules everywhere possible, and didn't want to make it easier for folks to make what we considered to be a bad choice for performance.

It is true that this is easier to fix if yo

[2020-06-24 17:31] #2410 closed

[2020-06-24 18:02] zetlen commented on #2448
It only took 16 days for me to chime in! Sorry for the wait, folks.

The repro for this is tough. My first task will be to try and float errors from sharp better in hastily.

In the meantime, an independent repro would be really nice to have.

[2020-06-24 18:05] zetlen commented on #2448
Aha, just caught @Jordaneisenburger mentioning nginx redirects. That could be it! I don't think that's a use case I tested for in hastily.

The main change in hastily is that we now process the image _as the request is streaming_, by patching the streaming methods of the HTTP response. In prior versions which used `express-sharp`, the middleware was fetching the entire image in a separate HTTP cal

[2020-06-25 07:16] Jordaneisenburger commented on #2448
No worries, thanks for taking the time to look at this. If it helps I can give you a Magento backend url that fails or even the whole repo for that matter. DM me if needed.

[2020-06-26 04:14] fooman opened #2515 "[bug]: pwa-studio section missing from packages.json"
**Describe the bug**
pwa-studio section missing from packages.json when installed via create-pwa

**To reproduce**
Note comment in `local-intercept.js`
[code]
try to locate the above in a project based on create-pwa.

**Expected behavior**
The above should exist.

**Possible solutions**
https://github.com/magento/pwa-studio/pull/2514

**Please complete the following device information:**
 - Device

[2020-06-26 13:33] Jordaneisenburger commented on #2435
So this might not be the preferred solution but it should work just fine.

**Step 1**
[code]
**Step 2**
Create `/fonts/SBonusDisplay-Black.woff2` and `/fonts/SBonusDisplay-Black.ttf` in your `PROJECT_ROOT/static`

**Step 3**
In upward.yml add ttf and woff2 to fileExtension like shown below
[code]

[2020-06-26 13:43] Jordaneisenburger commented on #2515
Hi @fooman ,

I think this happens because create-pwa scaffolds from 6.0.1 hence this is not included in the `package.json`.

[2020-06-29 21:18] luke-denton-aligent opened #2519 "[bug]: Array index being used as key prop for rendering list of Gallery Items"
**Describe the bug**
In `gallery.js`, a list of products/items are rendered. This is done using a `map` function, with each of the rendered items being given a `key` of its index in the array. This is considered bad practice, but also causes actual real world problems when trying to pre-pend a list of items to that gallery component

**To reproduce**
No steps to reproduce, just need to look at the

[2020-06-29 21:20] luke-denton-aligent commented on #2519
@magento I am working on this

[2020-06-30 07:13] Jordaneisenburger commented on #2448
@sven-codeculture James figured out that it has something to do with Brotli-compression so if you are able to turn it of server side (NGINX), you should.

[2020-07-01 23:46] fooman opened #2521 "[feature]: TalonWrapper needs Component injection"
**Is your feature request related to a problem? Please describe.**
The extension points are currently limited when trying to inject additional content/components.

**Describe the solution you'd like**
Currently for the useProductFullDetails we can wrap this function
[code]
unfortunately it is a bit of dead end if we want to have additional content rendered. Consider

[code]
there doesn't seem to b

[2020-07-02 03:26] fooman opened #2522 "[feature]: Don't pile onto the backend"
**Is your feature request related to a problem? Please describe.**
If the backend is experiencing issues (ie responding with a server 500 error) PWA Studio aggressively keeps trying to reconnect.
![image](https://user-images.githubusercontent.com/455508/86312907-ea85f880-bc77-11ea-9252-df25bf12bb0f.png)
![image](https://user-images.githubusercontent.com/455508/86314719-76018880-bc7c-11ea-8950-66f6

[2020-07-03 11:18] Jordaneisenburger commented on #2521
This might be related with https://github.com/magento/pwa-studio/issues/2281

[2020-07-03 11:20] Jordaneisenburger commented on #2522
I believe it's default is to retry every failed call 5 times, that's why the errors start to pile up. What we figured is that if we get a 503 we go show a maintenance page. Not sure if we can do the same for 500's

[2020-07-03 11:23] fooman commented on #2521
@Jordaneisenburger Definitely related. I see #2281 as the use case where one is already customising venia-ui. The above would be trying to inject content completely via a separate package without the need to customise venia-ui.

[2020-07-06 15:05] sirugh commented on #2522
@Jordaneisenburger is correct, the retry link should limit it to some number like 5. If you're seeing an excessive amount of calls there may be some buggy logic in the code that is attempting a retry beyond what is handled by Apollo.

[2020-07-06 17:25] awilcoxa commented on #2479
Created PWA-726 in internal Jira for review

[2020-07-06 17:29] awilcoxa commented on #2491
Created PWA-727 in internal Jira for grooming.

@huykon we'll provide additional feedback but just as an initial response, Venia currently doesn't fully support admin configuration/settings.

[2020-07-06 17:30] awilcoxa commented on #2501
Created PWA-728 in Jira backlog for grooming

[2020-07-06 17:31] awilcoxa commented on #2502
Created PWA-729 for tracking

[2020-07-06 17:32] awilcoxa commented on #2515
Created PWA-730 in Jira backlog for grooming

[2020-07-06 17:36] awilcoxa commented on #2522
Created PWA-732 in Jira backlog for further grooming

[2020-07-07 08:14] Jordaneisenburger commented on #2404
So we've came up with a solution for this in our project.

Basically what we are doing is inside the root of the project we create a new `storeViews` folder that holds all the custom theme's. This can include css styling, .js files or whole components.

![Screenshot 2020-07-07 at 10 06 56](https://user-images.githubusercontent.com/19858728/86744029-9d1fd780-c039-11ea-9e9b-d4b51f5e6135.png)

So in

[2020-07-07 14:32] tjwiebell commented on #2468
@LucasCalazans - [This little hint](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/upward.yml#L126:L131) in `venia-ui/upward.yml` lead me to a solution. If you add this rule to your `upward.yml`, that should get your assets copied over.

[code]

Alternatively, if this file doesn't need to be nested in `venia-static`, you can serve from your own static directory and you wouldn

[2020-07-07 17:00] kevintunchan commented on #2318
For Mac, delete 'devcert' folder in /Users/usrs/Library/Application Support/devcert and run 'sudo yarn run buildpack create-custom-origin <folder directory>'

[2020-07-07 20:04] #2473 closed

[2020-07-07 22:36] zetlen commented on #2448
@sven-codeculture Jordan is right! Your issue is that your nginx is configured out of the box to gzip images, which is a bad idea!

The bug was in `hastily`; it crashed instead of bypassing when it encountered a gzipped image. I've released a new version which logs an appropriate warning message when your backend isn't configured right, and forwards the image through without optimizing. This is th

[2020-07-07 22:42] fooman opened #2534 "[bug]: Cache Storage increased substantially"
**Describe the bug**
Comparing the cache storage from current development to last release shows a big increase.

**To reproduce**
Steps to reproduce the behavior:
1. Visit https://venia.magento.com/venia-dresses.html
2. Open dev tools
3. Clear storage
4. Hard page reload - take note of cache storage value
5. Repeat for a current PR

**Expected behavior**
Similar numbers for the same page.

**Scree

[2020-07-07 23:21] zetlen commented on #2318
@fooman This seems like a feature request for [devcert](/davewasmer/devcert), which has an upgrade process that ought to reconcile permissions problems for previous versions.

[2020-07-07 23:40] fooman commented on #2522
Any graphql was returning a 500 error. Something like this reproduces it for me.

yarn build
edit packages/venia-concept/dist/upward.yml
[code]
cd packages/venia-concept
yarn start

Open site.

[2020-07-07 23:41] fooman commented on #2522
There is also this message
`client.d7d157a7dfd7446e50e4.js:1027 Unhandled ApolloError30W Error: Network error: Response not successful: Received status code 500`

[2020-07-07 23:49] fooman commented on #2318
@zetlen I believe it's a buildpack issue. If memory serves me right this call here
https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/Utilities/configureHost.js#L69
fails as it also requires sudo privileges. Moving this line up https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/Utilities/configureHost.js#L71 to before should solve it.

[2020-07-08 09:30] Jordaneisenburger commented on #2448
@zetlen While developing I found another issue not sure if this is just on dev or on live as well I should check PM2 logs

`      throw er; // Unhandled 'error' event
      ^

Error: VipsJpeg: Premature end of JPEG file
VipsJpeg: out of order read at line 0
VipsJpeg: Premature end of JPEG file
VipsJpeg: out of order read at line 0
VipsJpeg: Premature end of JPEG file
VipsJpeg: out of order read at

[2020-07-08 11:27] Jordaneisenburger commented on #2448
Mhh I assume we might have some sort of broken image, just crashed again in development. So for completeness:

[code]

[2020-07-08 15:44] zetlen commented on #2448
Uh oh. Can you reproduce that with any other image?

[2020-07-08 16:53] drc0 opened #2536 "[bug]: Can't add product to cart if another out of stock product is in the cart"
**Describe the bug**
If I add a product to the cart, and then this products goes out of stock, I cannot add more products to cart, no error message is shown but the api returns this error `{"errors":[{"message":"Some of the products are out of stock.","extensions":{"category":"graphql-input"}}],"data":{"addSimpleProductsToCart":null}}`

**To reproduce**
Steps to reproduce the behavior:
1.Add produ

[2020-07-08 17:00] drc0 opened #2537 "[bug]: No product is shown until I sort by price instead of best match"
**Describe the bug**
In the category page no product is shown until I sort by price instead of best match, don't know if is relevant bu I have multiple inventory sources, assigned to a custom "website stock", all products have quantities in those sources but not in the default one.

 - Magento Version: 2.3.5
 - PWA Studio Version: 6.0.1 (0837e212a81312473f365cd17d4ff7530ed2ce15)

[2020-07-09 15:16] #2422 closed

[2020-07-10 01:49] #2485 closed

[2020-07-10 11:05] jemoon opened #2546 "[bug]: Minicart container is preventing filters to be used on category pages"
**Describe the bug**
Latest minicart changes introduce issue on each category page while browsing on mobile devices - filters button doesn't trigger Filters Modal anymore.

**To reproduce**
Steps to reproduce the behavior:
1. Visit category page on mobile device (480px width for example)
2. Click on 'Filters'

**Expected behavior**
Modal with filters should be shown

**Screenshots**
https://www.dr

[2020-07-10 13:59] sirugh commented on #2546
I'm unable to repro this on my Windows 10 box using Chrome@ 83.0.4103.116 (Official Build) (64-bit) or on my Pixel 3 with Chrome.

If you are able to repro consistently could you record and share a video of the steps from a fresh page load with a clean cache?

[2020-07-10 15:00] tjwiebell commented on #2546
I ran into this today reviewing some mobile views, his suggestion seems correct; I don't understand why some elements remain clickable, but likely some z-index luck.

![](https://gyazo.com/c7969b1efe586c2d270c017d9805ee68.gif)

[2020-07-10 15:10] sirugh commented on #2546
OH! I saw this happen then, but on product page. When I selected the right most color option on a product, then selected the one to the left, the right most option would stop being clickable.

It stopped happening after a while so I just figured my mac had a problem.

[2020-07-10 15:23] dpatil-magento commented on #2546
I can reproduce it on reduced window size, part of button is not clickable.

<a href="https://gyazo.com/a2e5849ddb6110ff65889660764e884d"><img src="https://i.gyazo.com/a2e5849ddb6110ff65889660764e884d.gif" alt="Image from Gyazo" width="1000"/></a>

[2020-07-10 16:32] supernova-at commented on #2546
Thanks for reporting, I can fix this quickly.

[2020-07-11 20:29] larsroettig commented on #2277
@magento I am working on this

[2020-07-13 08:43] mercs600 opened #2551 "[bug]: responses with 404 code should not be cached"
**Describe the bug**
Hi guys. I see we use `apicache` connected with hastly to optimize and cache images. We face with the issue caching of 404 responses on media proxy. I mean when something is wrong with the media server and proxy is not able to create image then we get 404, but after when media server is back and images are available, then cache is still valid and we see 404 error page still.

[2020-07-13 09:25] Jordaneisenburger commented on #2536
I can confirm this is an issue indeed. Pretty sure we did some graphQL changes to return the product even when it's out of stock but then check it's stock status and show a message/disable checkout buttons

[2020-07-13 17:24] awilcoxa commented on #2534
Created PWA-745 in backlog for grooming

[2020-07-13 17:26] awilcoxa commented on #2536
Created PWA-746 in backlog for grooming

[2020-07-13 17:27] awilcoxa commented on #2537
Created PWA-747 in backlog for grooming

[2020-07-13 17:28] awilcoxa commented on #2546
Created PWA-748 in backlog

[2020-07-13 17:29] awilcoxa commented on #2551
Created PWA-749 in backlog for grooming

[2020-07-13 18:05] sirugh commented on #2546
Should be resolved with https://github.com/magento/pwa-studio/pull/2547

[2020-07-13 18:20] tjwiebell commented on #2468
Closing as not a bug, but please re-open if you're still having issues getting custom assets into your build.

[2020-07-13 18:20] #2468 closed

[2020-07-13 18:50] awilcoxa commented on #2491
Groomed with team and currently a low priority for core but willing to accept community contribution (or spike) to prove out feature request.

[2020-07-14 10:36] mercs600 opened #2552 "[doc]:How to add custom route on express level - upward proxy"
**Describe the request**
Hi, I would like to create custom endpoint on express server for robots.txt file - solution from venia it doesn't fit for us, because this is one static file and I need multiple configuration of robots per environment.
Generally I have stuck. There is no problem to express config, but what should I setup in upward.yml to allow connect to node server directly ?

My server.j

[2020-07-14 14:15] tjwiebell commented on #2537
@drc0 - The sort component in PWA hard-codes what is presently the `product` query default `sort: {relevance: "DESC"}`, so I suspect that even just a `products` query with no sort input would give you the same output. I'm feeling like this is going to be an issue with GraphQL and MSI, but happy to help debug so we can help them isolate the root cause.

I replicated your setup, and while I struggle

[2020-07-14 19:46] zetlen commented on #2448
@Jordaneisenburger From our conversation at the meeting this morning, I took your suggestion to try an invalid PNG instead of a JPG, and I reproduced your error.

I just wasn't handling errors in the sharp mapper or sharp stream properly. It's a quick fix! I just released hastily v0.4.7 and the PR #2535 is now up to date with that version. Let me know if it fixes your issue (we can continue in the

[2020-07-14 20:37] #2519 closed

[2020-07-14 21:28] fooman commented on #2515
@awilcoxa I'd probably take the severity down on this one. It's possible to manually copy this into one's own package.json and there would currently be nothing in existence that would break due to it missing. Longer term it has more an educational impact on introducing a common way to customise pwa studio via targets.

[2020-07-14 21:34] #2441 closed

[2020-07-15 08:35] Jordaneisenburger commented on #2448
Hi @zetlen, It was hard to consistently reproduce this error so I will update my packages and keep monitoring it. I'll close this issue

[2020-07-15 08:35] #2448 closed

[2020-07-15 19:10] #2546 closed

[2020-07-17 00:32] fooman opened #2561 "[bug]: Please reopen #2351"
There seem to be at least 2 comments indicating that https://github.com/magento/pwa-studio/issues/2390 is not a complete fix for https://github.com/magento/pwa-studio/issues/2351 - can we please reopen it.

[2020-07-17 01:21] fooman opened #2563 "[feature]: CSS with jpg files"
**Is your feature request related to a problem? Please describe.**
`background-image: url("./bg_image.jpg");` should just work. Webpack already places them into the root folder as well as adds them to the assets-manifest.json. From there they aren't accessible as they are missing an upward entry. It works when using the webpack dev server.

**Describe the solution you'd like**
#2562

**Please let

[2020-07-17 02:41] kokitamoto opened #2564 "Feedback on page: /technologies/basic-concepts/client-side-caching/"
In the last line , adapter.js file link is 404 file not found.

https://magento.github.io/pwa-studio/technologies/basic-concepts/client-side-caching/

[code]

[2020-07-20 17:57] awilcoxa commented on #2563
Created PWA-772

[2020-07-20 18:54] revanth0212 commented on #2534
Hey @fooman, thanks for reporting the issue.

I would like to point out that this is expected behavior. Part of the changes we have published as part of #2390, [is adding all the assets emitted by webpack into the precache manifest of the SW](https://github.com/magento/pwa-studio/pull/2390/files#diff-6930053b68fa55d460ac81bc09551108R28).

The advantage is, the app always has all the assets it need

[2020-07-20 22:19] fooman commented on #2534
Glad to hear some of is anticipated.

I believe I might have narrowed this down a bit more (but not visible on https://pr-2558.pwa-venia.com/). It seems that when the back-end doesn't provide CORS headers and the PWA is using as media backend the back-end url we end up with 'opaque' responses for the images. These, irrespective of actual size, are padded to 7MB which adds up quickly, especially si

[2020-07-22 07:15] huykon opened #2570 "[feature]: Customer account - Newsletter Subscription"
**Is your feature request related to a problem? Please describe.**
The customer account functions are necessary in PWA Studio, while Newsletter Subscription page is one of them.

**Describe the solution you'd like**
Define new Magento route in PWA Studio

**Additional context**
I will submit a PR, so this issue is just for reference.

## Story Description
Sign up for email/newsletter

Design shoul

[2020-07-22 09:05] drc0 commented on #2537
@tjwiebell Yes was testing against develop. Anyway that could be some sort of caching issue, I realized that from a different browser the issue was not there, I should dig how I'm supposed to clear the client/graphql cache maybe?

[2020-07-22 09:14] huykon commented on #2570
@magento I am working on this

[2020-07-22 09:15] huykon commented on #2570
@magento add to contributors team

[2020-07-22 13:26] tjwiebell commented on #2570
@huykon - We appreciate the feature request and quick PR, but you need to check in with in an internal team member before you pick up feature work that isn't groomed and prioritized on the [Community Board](https://github.com/magento/pwa-studio/projects/3). This does not adhere to the mocks we have for this feature, and we also have a lot of My Account work in flight that is going to change how th

[2020-07-23 01:16] huykon commented on #2570
@tjwiebell  Thanks for your response.

[2020-07-23 01:44] tjwiebell commented on #2570
@huykon - if you're willing to iterate on this a little bit, @awilcoxa has agreed to let you own this feature. Tomorrow morning I'll attach some mocks to follow, as well as some implementation guidance; and will give an initial pass through your PR. You might be blocked on some requirements given this Story's position in the Epic, but I'll try to break off what's ready to go. If you have any quest

[2020-07-23 01:59] huykon commented on #2570
@tjwiebell Thank you. I hope to contribute this feature and my ideas for magento PWA Studio. I always here and Community Slack to see your and team core responding.

[2020-07-23 20:38] sirugh commented on #2522
@fooman I'm looking into this now - I'm able to replicate without modifying files - just clear cache and block `<your-domain>/graphl` network requests in chrome's dev tools (or via a proxy mechanism).

At a glance it looks like the logic in our actions were not written to handle unrecoverable errors. They all assume that an error is retry-able. In this case, if there is no cart id, we ask /graphql

[2020-07-23 21:38] sirugh commented on #2522
https://github.com/magento/pwa-studio/pull/2574

[2020-07-27 17:12] #2515 closed

[2020-07-27 17:45] awilcoxa commented on #2570
Linked to PWA-285

[2020-07-27 18:25] tjwiebell commented on #2537
@drc0 - Ideally we should be making better use of `cache-and-network` fetch policies, but for development purposes to manually clear all caches in Chrome: Dev Tools > Application Tab > Clear storage > Clear site data.

I am going to close this issue out as not a bug, but please let me know if you continue to experience any problems.

[2020-07-27 18:25] #2537 closed

[2020-07-27 18:28] revanth0212 commented on #2534
Yeah, I have noticed it. As you mentioned, it depends on the backend handling of resources.

I am going ahead and closing the issue for now. If you notice anything out of order, feel free to open this or create a new one.

Thanks for documenting the issue with the details, might helps future devs.

[2020-07-27 18:28] #2534 closed

[2020-07-28 08:39] andhikaribrahim opened #2581 "[bug]: Server Response Error on Venia Demo App"
**Describe the bug**
The API calls returns 500 error on https://venia.magento.com as its backend URL pointing to this address: https://jnz3dtiuj77ca.dummycachetest.com/

It seems like the backend URL is blocked by CORS policy

**To reproduce**
Steps to reproduce the behavior:
1. Go to https://venia.magento.com
2. Open Browser Console, see errors on console/network tabs.

**Expected behavior**
Back

[2020-07-28 13:10] Monika-Thakur commented on #1570
No its not working.

[2020-07-29 09:12] huykon opened #2586 "[bug]: Sticky register form at Receipt screen is overwritten by footer on resolution 1440px"
**Describe the bug**
[Desktop resolution: 1440x900] After place order with guest successfully. At the Receipt screen, scroll page to the bottom the we found the right register form is overwritten by footer.

**To reproduce**
Steps to reproduce the behavior:
1. Add product to cart
2. Go to checkout page
3. Fill all required fields and Place order
4. At Receipt screen, scroll to bottom
5. See error

[2020-07-29 09:13] huykon commented on #2586
@magento I am working on this

[2020-07-29 13:13] tjwiebell commented on #2586
We recently picked this up internally, and should be resolved by #2582.

[2020-07-29 13:17] huykon commented on #2586
@tjwiebell  Ok. Thanks

[2020-07-29 18:37] #2522 closed

[2020-07-29 20:28] #2586 closed

[2020-07-30 07:56] caovanhoi12 commented on #1847
Hay

[2020-07-30 13:40] prakashsaran opened #2589 "incomplete guide with pwa-studio publish on server"
hi Team i all most step complete developent,
now i have issue with
How to publish my pwa website on server ?
i`m searching on google from 5 days. i couldn`t found any solution.
Please me with this issue 😫  😫. 😫. 😫. 😫  😫  😫

[2020-07-31 02:54] fooman commented on #2281
Just to add to what @Jordaneisenburger said, it currently feels odd that queries are purposefully kept out of peregrine but then the talon is gatekeeping the information that flows back to the provider of the query.

Currently it's providing the illusion that one can easily just adapt the query which is not the case.

[2020-07-31 06:10] prakashsaran opened #2591 "(node:4891) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"
(node:4891) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated
[HPM] Proxy created: /  ->  https://magento-domain.com/

![Screenshot 2020-07-31 at 11 31 40 AM](https://user-images.githubusercontent.com/36918911/89005304-b9095700-d321-11ea-9bea-90205fb6561c.png)
![Screenshot 2020-07-31 at 11 34 46 AM](https://user-images.githubusercontent.com/36918911/89005354-e229e780-d

[2020-07-31 10:37] Jordaneisenburger opened #2592 "[bug]: @magento/upward-security-headers not published to the "npm" registry."
**Describe the bug**
As the title mentioned @magento/upward-security-headers is not published. This issue occurs when you're updating a custom storefront. The reason it works on the PWA Studio mono-repo is because it's a local package.

**To reproduce**
Steps to reproduce the behavior:
try installing "@magento/upward-security-headers": "~0.0.1", from your storefront

**Expected behavior**
should b

[2020-07-31 12:22] sirugh commented on #2591
Hi there! The warning message is related to you using node 12, I believe. It is expected as we have documented in our changelog for the upcoming release. That said, it seems your screenshot is a different issue - I might even suspect a graphql problem. Have you asked in the slack channel?

[2020-07-31 13:52] Jordaneisenburger commented on #2592
I'm retarded

[2020-07-31 13:52] #2592 closed

[2020-07-31 19:45] davemacaulay commented on #669
Huge shoutout to @chris-brabender for providing the PR to help our initial investigation. This gave us a huge step up and allowed my team to truly understand how a solution can be built.

After a research effort including polls, discussions and online discovery we formulated a high level plan to execute upon to deliver what we believe as the simplest and best solution to provide localization as a

[2020-08-01 13:46] larsroettig commented on #669
@davemacaulay but there is no PR you already something that we can review?

[2020-08-03 04:53] sruthitechfriar opened #2597 "Custom Route not found error on PWA"
I need to create a custom route in PWA and i followed below documentation

https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/add-a-static-route/

but I'm getting "That page could not be found. Please try again." error.

- [ ] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2020-08-03 14:24] davemacaulay commented on #669
@larsroettig we do research upfront to determine how to execute upon a feature of work, these are the findings from our initial research spikes which will help direct us in our implementation.

There will be a number of small iterative PRs opening over the coming weeks to get us to this end goal.

[2020-08-03 18:42] awilcoxa commented on #2581
@andhikaribrahim can you still reproduce this issue?

[2020-08-03 18:56] awilcoxa commented on #2597
Created PWA-823 to validate the existing tutorial

[2020-08-04 02:59] andhikaribrahim commented on #2581
@awilcoxa nope, it looks good now. Closing issue, thank you!

[2020-08-04 02:59] #2581 closed

[2020-08-04 06:25] wdhrudra opened #2603 ".env missing?"
Hi,

In this new git clone, "packages/venia-concept/.env" is missing? or anything modified?

Kindly update me.

[2020-08-04 07:44] Jordaneisenburger commented on #2603
Hi,

If you want to work with the monorepo you need to run `yarn prepare` from root. This will prepare the packages and create a .env file for you to use. After that you can run the watch command `yarn watch:venia`

[2020-08-04 09:29] jaballah-dorsaf opened #2604 "Liaison pwa-studio et magento2.3.5"
bonjour ,
j'ai installé magento2.3.5 dans Ubuntu 16.04 et pwa-studio 6.0.1 mais j'ai un problème comment je peut faire la liaison entre pwa-studio et magento2 .
merci

[2020-08-04 17:09] arjunadobe opened #2606 "Wrong version in .env while creating createDotEnvFile"
[**Describe](url) the bug**
I have created a project using "yarn create @magento/pwa".

 When the package was installed we are creating a .env file and the file responsible to create the ".env file " is this "pwa-buildpack\lib\Utilities\createDotEnvFile.js".

 When I looked in to the ".env "file, It has Invalid Version Description  "Generated by @magento/pwa-buildpack v5.1.1 on 2020-08-04T10:50:31

[2020-08-05 08:07] Jordaneisenburger commented on #2604
Hi @jaballah-dorsaf,

If you have any questions, issues, or suggestions, please join the #pwa Slack channel at magentocommeng.slack.com or take a look at https://magento.github.io/pwa-studio/

ps: keep it english

[2020-08-06 17:57] zetlen commented on #2479
Hi @paales . Once again, our turnaround is slow--especially mine, because I'm working mostly on extensibility. But this is a very good suggestion and an important thing to talk about. I'm going to start with your problem, because I have an initial question, but then I'll talk about the situation with `@magento/venia-drivers`.

### Your problem

You want to put components that use `react-router` in

[2020-08-06 17:57] #2479 closed

[2020-08-06 18:13] zetlen commented on #2551
@mercs600 Thanks for your patience. Maybe the simplest solution here would be to remove the `apicache` middleware entirely. The image opt middleware is NOT meant to directly handle HTTP requests in production; caching should be handled in another layer, ideally the web server or CDN.

The only reason we'd keep this middleware is if there's a severe performance degradation when you remove it. Can y

[2020-08-06 19:14] jemoon commented on #2606
@arjunadobe I think that the issue is just because latest version of create-pwa package was not published on npm yet and once it will be published version of pwa-buildpack will be 6.0.0.

In order to scaffold latest version now You can also use alternative method which is described here https://magento.github.io/pwa-studio/pwa-buildpack/reference/buildpack-cli/create-project/ as pwa-buildback in l

[2020-08-07 08:33] huykon opened #2613 "[feature]: Customer account - Account Information"
**Is your feature request related to a problem? Please describe.**
The customer account functions are necessary in PWA Studio, while Edit Account Information page is one of them.

**Describe the solution you'd like**
Define new Magento route in PWA Studio

**Additional context**
I will submit a PR, so this issue is just for reference.

**Please let us know what packages this feature is in regards

[2020-08-07 08:33] huykon commented on #2613
@magento I am working on this

[2020-08-07 10:29] arjunadobe commented on #2606
Ok Thanks @jemoon

[2020-08-07 15:01] larsroettig commented on #2407
@magento I am working on this

[2020-08-07 17:26] tjwiebell commented on #2613
@huykon We are working on this Story internally as part of the My Account epic in progress, so please hold off on this. I'm going to work on funneling some more feature work into the [Community Backlog](https://github.com/magento/pwa-studio/projects/3), but I think #2276 could be a good next feature for you if you're interested. Mocks are in the comments.

[2020-08-07 17:26] #2613 closed

[2020-08-07 18:53] #2536 closed

[2020-08-08 07:53] huykon commented on #2276
@magento I am working on this

[2020-08-09 01:41] zetlen commented on #2350
Hey Brendan, I'm gonna close this because you solved the mystery yourself, but this this issue crystallized the fact that we need a simple how-to for putting an environment variable in the bundle.

We'll probably wanna preserve the limitation that you have to declare, describe, and document a variable as an `envVarDefinition` before it makes it into the build, **BUT** we'll make that clear and do

[2020-08-09 01:41] #2350 closed

[2020-08-10 00:45] zetlen commented on #2428
@IgorVitol I left comments on #2429 a few weeks ago, asking some questions and suggesting some changes. Do you have the time and the continued need to work on this? If not, we'll backlog an issue to do a slightly different change--namely, to bring back the `DEV_SERVER_PUBLIC_PATH` env var. This is slightly different from the solution you created in #2429, so if it doesn't solve your use case, plea

[2020-08-10 17:14] mattmast opened #2617 "[feature]: offline add to cart?"
**Is your feature request related to a problem? Please describe.**
I'm not sure if it's possible, but is there capability of adding to the cart while offline.  If not any suggested approaches? I tried joining the slack channel to ask but don't have the right email domain. It would be nice if I could add to the cart without a requiring a network connection.

**Describe the solution you'd like**
...

[2020-08-10 18:56] awilcoxa commented on #2391
Moved to P2 and In Review for core team

[2020-08-11 14:54] #2604 closed

[2020-08-11 22:00] wokakira commented on #2515
How would you use the local-intercept.js file?

[2020-08-11 22:26] revanth0212 commented on #2277
Handling this in #2619

[2020-08-11 22:52] fooman commented on #2515
@wokakira you could for example add a new route
[code]

module.exports = localIntercept;

[2020-08-12 18:12] #2570 closed

[2020-08-12 18:57] #2563 closed

[2020-08-13 08:32] Jordaneisenburger opened #2622 "[bug]: Category will always show stale data"
**Describe the bug**
Categories always shown stale data. This happens because the `useLazyQuery` in `category.js` doesn't have a fetch policy. A quick solution could be setting `fetchPolicy: 'cache-and-network'` but I found that this strategy doesn't actually do what you'd expect it to do.

**What I thought this would do is:**
return data from cache immediately and in the background do a call to p

[2020-08-13 10:18] mrtuvn opened #2623 "[doc]: Custom footer not success render"
**Describe the request**
run the scaffolding
Follow this doc but after the end i can't render page. We should update this doc too
https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/modify-site-footer/

**Possible solutions**
How would you word this addition or change?

**Screenshots**
If applicable, add screenshots to help explain the problem.
Compile success, but browser rende

[2020-08-13 11:54] Jordaneisenburger commented on #2622
So I managed to get something working the same way we would do for product pages but not sure if this makes sense or if there's a better way/flow.

[code]

[code]

[2020-08-13 16:14] larsroettig commented on #2623
@magento I am working on this

[2020-08-13 17:04] mrtuvn commented on #2623
@larsroettig i found missing minicart import
in file src/components/App/app.js
import MiniCart from '@magento/venia-ui/lib/components/MiniCart';

[2020-08-13 17:06] larsroettig commented on #2623
@mrtuvn This tutorial from point of view updated should be removed is not good praxis to overwrite 3 components to get a different Footer

[2020-08-13 17:11] mrtuvn commented on #2623
thanks for your response. But i think we should update content (correct some wrong path) and possible add some related links for new guys

[2020-08-13 17:15] larsroettig commented on #2623
@jcalcaben what do think we should mark this Tutorials as outdated or remove the outdated tutorials I don't like that we referencing not good approaches in official docs

[2020-08-13 17:24] larsroettig opened #2624 "[doc]: Add a static route should be update to extensibility framework"
**Is your feature request related to a problem? Please describe.**
The site:
https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/add-a-static-route/

Should be updated to https://github.com/magento/pwa-studio/blob/release/7.0/CHANGELOG.md#extensibility-framework

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternat

[2020-08-13 17:43] jcalcaben commented on #2623
I agree. Outdated tutorials are not a good developer experience. I try to identify and update content as they become outdated, and I also appreciate the community's help with this. I'm happy work with anyone who wants to help fix our docs.

[2020-08-13 19:47] AmaanKulshreshtha opened #2625 "[bug]: ERR_INVALID_PROTOCOL"
I was following [this](https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/project-setup/) to setup the project. Now I am getting an

`INVALID_PROTOCOL ERROR; Protocol "http:" not supported. Expected "https:"`

**Steps to reproduce the behavior:**

1. `yarn create @magento/pwa`
    1.1. For the question, magento instance to use as a backend, I put my local magento instance
    1

[2020-08-14 01:33] huykon commented on #2625
That mean your magento url should be supported by https protocol.

[2020-08-14 01:45] sirugh commented on #2622
`cache-and-network` should behave like you'd expect - it should return cached data immediately and true-up with the network. I think this might actually just be as simple as only rendering the loading state when `loading && !data`.

If that doesn't work could you provide a video of repro? I really want to avoid more manual implementations of `cache-and-network` 😄

[2020-08-14 06:53] Jordaneisenburger commented on #2622
I'm such a noob haha :/ I somewhere knew I was doing something stupid. Thanks Stephan!

[2020-08-14 07:56] AmaanKulshreshtha commented on #2625
I did try generating the certificate as given [here](https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/project-setup/#add-a-custom-hostname-and-ssl-cert), but that didn't work

Also the thing with the other #2170 is that it does not provide a solution for when the setup is done using the [scaffolding tool](https://magento.github.io/pwa-studio/pwa-buildpack/scaffolding/), and t

[2020-08-14 08:24] Jordaneisenburger opened #2627 "[bug]: A disabled product will crash the PDP"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. Go to a product page
2. disable the product in Magento
3. reindex & flush cache
4. force reload the PDP

**Expected behavior**
Show a 404

**Screenshots**
![Screenshot 2020-08-14 at 10 20 28](https://user-images.githubusercontent.com/19858728/90229197-cc371f00-de17-11ea-9d

[2020-08-14 17:10] brendanfalkowski commented on #2622
Topic for DevDocs maybe. Been working on PWA Studio for a long time, and still have pretty low confidence I've seen all the Apollo / cache / network / `loading && !data` edge cases and understand the techniques and reasons for solving each.

I'd love to see a single-page that discusses the techniques beyond trolling the codebase. We had so many issues with it, that we just switched everything to `

[2020-08-14 18:10] sirugh commented on #2622
@Jordaneisenburger I'm going to reopen this issue because it does warrant a fix, and it should be really easy - just applying `cache-and-network` fetch policy will do the trick.

[2020-08-14 18:13] sirugh commented on #2622
@brendanfalkowski that's unfortunate! I'd be happy to listen to the pain points if you'd like to share in another issue or on slack. For what it's worth, apollo client has been an evolving project and I'm in the middle of upgrading us to v3 which should make things a bit easier to understand. I'd also be happy to work with @jcalcaben on documentation. Let me know how I can help!

[2020-08-14 18:14] sirugh commented on #2627
Have we solved the disabled product ui before? My assumption was that we just display it as out of stock right now.

[2020-08-14 21:22] jcalcaben commented on #2622
@sirugh @brendanfalkowski Yes! Let's brainstorm what you would like to see in that doc topic, such as what use cases/issues you've encountered and which solutions worked for you.

[2020-08-14 22:35] zetlen opened #2628 "[bug]: Extensions shouldn't have to tap `specialFeatures` constantly"
Any extension with a React component, or any file that will go into the bundle, has to do this in its intercept: file

[code]

This is tedious, because most extensions WILL contain those types of modules. These flags should be set by default for every module.

The `specialFeatures` target is meant for extensions to flag that they contain certain file types which will be included into the build. Wi

[2020-08-16 14:41] bdenham opened #2629 "[doc]: Remove GraphQL query results limitation"
**Describe the request**

In the Page Builder `Known Limitations` docs, this is no longer a limitation:

Here are the relevant links that fixed this limitation:

- https://github.com/magento/pwa-studio/commit/e87808fb57704565b61a1d6b54494e9b3cd0372b

- https://github.com/magento/pwa-studio/blame/develop/packages/pagebuilder/lib/ContentTypes/Products/products.js#L97

**Possible solutions**

Delete

[2020-08-16 16:31] bdenham opened #2631 "[doc]: Add Page Builder integration videos"
**Describe the request**

This issue's PR adds the long lost Page Builder videos to the overview page of the Page Builder integration docs.

**Possible solutions**
Done in PR #2632

**Screenshots**

![image](https://user-images.githubusercontent.com/1828494/90339061-e9a0f000-dfb3-11ea-968b-1d52128056f9.png)

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New T

[2020-08-16 20:44] larsroettig opened #2633 "[feature]: Idea for static code analysis of PWA Stduio modules"
**Is your feature request related to a problem? Please describe.**

All PWA modules should be checked for consistency through a validation process.
This should work similarly to the Magento Coding Style an idea would be to build an `eslint` rule

**Describe the solution you'd like**

Idea we parse `package.json` check for `"pwa-studio": {"targets": { "intercept"` there
is defined if it is an PWA E

[2020-08-17 03:08] bdenham commented on #2629
@magento I am working on this

[2020-08-17 03:17] bdenham commented on #2631
@magento I am working on this

[2020-08-17 06:36] nadeefit6 commented on #2025
Is there any update for this issue? How can we use Custom Options in pwa-studio?

[2020-08-17 07:27] Jordaneisenburger commented on #2627
Yeah we've had the same issue for categories when no products are found. Not sure what UI is shown when a product is out of stock but we should redirect to a 404 when the `data?.productDetail.items[0]` array is empty right ?

[2020-08-17 10:14] huykon commented on #2627
I have seen if product loaded on PWA then disable product on Magento backend then reload product still have enable status without re-call GraphQl API.

[2020-08-17 18:46] brendanfalkowski opened #2635 "[doc]: recommend pairs of Apollo fetch-policy and conditionals in the render flow"
**Describe the request**
A clear and concise description of the documentation request or where the documentation can be improved.

Apollo Client can be frustrating during development. We had two problems:

- Changing our GQL API while building our frontend leads to stale responses. It's annoying clearing local storage constantly.
- We implemented multi-store and B2B account switching, but response

[2020-08-17 18:46] brendanfalkowski commented on #2622
@sirugh — Partly, this is because we forced multistore and B2B account switching into the project. The Apollo cache wouldn't differentiate the same requests in different stores/accounts until we figured out why. The short-term fix was just "yay no cache". It also became frustrating when working on the GQL API and the frontend using it at the same time, cache kept giving stale responses so we stopp

[2020-08-17 19:36] sirugh commented on #2635
This isn't an answer to the problem, but I want to point out that in v3 there seems to be a way to override the default fetch policy when initializing your client: https://www.apollographql.com/docs/react/api/core/ApolloClient/#example-defaultoptions-object

[2020-08-17 22:23] jimbo commented on #2635
This is a very good suggestion. You're right, `fetch-policy` and query states (and thus conditional renders) are very interrelated, and more so in Apollo 3. Having a resource to consult would be useful internally as well as externally. We'll bring it up with the rest of the team.

[2020-08-18 05:32] huykon opened #2638 "[bug]: Category didn't refresh data when click back previous or next page of browser"
**Describe the bug**
Click to an category have more than 1 page in left navigation, then click to page 2 of this category. After that, click to back on browser (not at pagination at bottom)
<img width="1079" alt="Screen Shot 2020-08-18 at 12 00 54 PM" src="https://user-images.githubusercontent.com/9253798/90472387-93b28080-e14a-11ea-9826-8509846602b0.png">
The data of page 1 is not loaded.

**To r

[2020-08-18 07:24] huykon commented on #2638
@magento I am working on this

[2020-08-18 09:03] lano-vargas opened #2639 "[feature]: Validate Widget Template"
**Not sure this is already implemented so I'm just assuming is a feature request.**

**Is your feature request related to a problem? Please describe.**
I have set it up PWA with my custom instance Backend Url in my home I have a widget for a product list and get invalid template.

`Error filtering template: Invalid template file: 'product/widget/content/grid.phtml' in module: 'Magento_CatalogWidge

[2020-08-18 10:30] lano-vargas commented on #2442
@danlupo I have the same issue! I have 5 store view and I played around with the labels with store view when I leave all of them empty it will pick the Admin Value.
But What I notice if I started adding them back one at the time and loading the PWA I noticed that it seem to be picking it up some sort of alphabetically order.

**I've added for IE store view and here is the setup:**
<img width="1509

[2020-08-18 13:14] danlupo commented on #2442
@lano-vargas we actually moved this issue to magento support as it was not a PWA studio issue. Moreover we found the source and provided a patch there. Please check it out below. I hope this helps solve your issue.

`--- a/vendor/magento/module-catalog-graph-ql/DataProvider/Product/LayeredNavigation/Builder/Attribute.php	2020-06-22 14:52:49.421201000 +0000
+++ b/vendor/magento/module-catalog-graph

[2020-08-18 14:46] sirugh commented on #2638
Took a screen capture of the issue:

[![Image from Gyazo](https://i.gyazo.com/c55cfc262136ee68e5a26ac7c8305bf7.gif)](https://gyazo.com/c55cfc262136ee68e5a26ac7c8305bf7)

[2020-08-18 16:23] larsroettig commented on #2624
@magento I am working on this

[2020-08-18 16:28] larsroettig commented on #2633
@zetlen what do think about this?

[2020-08-18 20:16] #2502 closed

[2020-08-18 21:43] #2629 closed

[2020-08-19 03:23] fooman commented on #669
First such PR https://github.com/magento/pwa-studio/pull/2643

[2020-08-19 09:32] huykon commented on #2237
I have same issue:
`ℹ ｢wdm｣: Compiling...
 41% building 10/19 modules 9 active ...roductListing/CartItem/index.jsWarning: fragment with name CheckoutPageFragment already exists.
graphql-tag enforces all fragment names across your application to be unique; read more about
this in the docs: http://dev.apollodata.com/core/fragments.html#unique-names
 95% emitting CopyPlugin
<--- Last few GCs --->

[3

[2020-08-19 19:01] tjwiebell opened #2644 "[feature]: Support configured URL suffix across entire app"
**Is your feature request related to a problem? Please describe.**
As a developer using PWA Studio, there's too many manual code changes required to support cleaner looking URLs that don't contain a hard-coded `.html` suffix. If all URLs were driven by configuration, I could simply just update my configuration in the backend to get the URL behavior I want.

**Describe the solution you'd like**
- A

[2020-08-19 19:08] tjwiebell commented on #1928
Given the scope of this, we're going to pull this internal as we work out the final resting place of queries and fragments.

[2020-08-19 19:08] #1928 closed

[2020-08-19 21:37] #2501 closed

[2020-08-19 21:37] #2564 closed

[2020-08-20 01:18] huykon commented on #2644
I think GraphQl `storeConfig` should be called to get config from backend

[2020-08-20 21:06] fooman commented on #2644
Just to note the suffix can be configured independently for category and product pages in the admin.

[2020-08-21 13:07] ArunKathir98 opened #2648 "[bug]: Searching product"
**Describe the bug**
While entering product name on search field . It displays list of keyword products and when i am clicking
**To reproduce**
Steps to reproduce the behavior:
1. Go to 'search product'
2. Click on 'product keyword' then enter and it list products
3. Scroll down to 'click on any products'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2020-08-23 17:50] AmaanKulshreshtha commented on #2625
Solved the issue by running the local magento instance with ssl. Closing this issue.

[2020-08-23 17:50] #2625 closed

[2020-08-24 13:29] AmaanKulshreshtha opened #2650 "[bug]: Workaround for react ssr"
Is there a workaround to adding react as a templating engine?

In my `server.js` file, I have the following code:

[code]

And in the spec file i have the following code

[code]

Yet I am facing `TemplateResolver` issue

`Error: Template engine 'jsx' unsupported`

Can you tell me what is it that I am missing here as well

PS: I already went through [this](https://github.com/magento/pwa-studio/tree

[2020-08-24 14:19] sirugh commented on #2650
Is `jsx` a valid template engine?

https://github.com/expressjs/express/wiki#template-engines

[2020-08-24 14:51] AmaanKulshreshtha commented on #2650
I installed [express-react-views](https://github.com/reactjs/express-react-views), and got the `jsx` template engine from there

[2020-08-24 16:31] awilcoxa commented on #2603
closing issue. @wdhrudra if you have any additional questions please follow up.

[2020-08-24 16:31] #2603 closed

[2020-08-24 16:37] awilcoxa commented on #2617
Hi @mattmast as of now we haven't specifically included a method for offline add to cart but will explore doing so in a future epic (offline add to cart is one of the primary use cases for the upcoming epic). We are planning on revisiting online/offline capabilities later this year (see roadmap) so stay tuned! I'll close this request out for now.

[2020-08-24 16:37] #2617 closed

[2020-08-24 16:56] awilcoxa commented on #2622
Created PWA-862

[2020-08-24 16:58] awilcoxa commented on #2623
Created PWA-863

[2020-08-24 17:01] awilcoxa commented on #2624
Created PWA 864

[2020-08-24 17:03] awilcoxa commented on #2627
Created PWA-865

[2020-08-24 17:04] awilcoxa commented on #2628
Created PWA-866

[2020-08-24 17:05] awilcoxa commented on #2631
Created PWA-867

[2020-08-24 17:06] awilcoxa commented on #2633
Created PWA-868

[2020-08-24 17:07] awilcoxa commented on #2635
Created PWA-869

[2020-08-24 17:09] awilcoxa commented on #2638
Created PWA-870, prioritizing for review

[2020-08-24 17:10] awilcoxa commented on #2639
Created PWA-871

[2020-08-24 17:12] awilcoxa commented on #2644
Created PWA-872

[2020-08-24 18:13] tjwiebell commented on #2428
Closing for inactivity, see comment in #2429.

[2020-08-24 18:13] #2428 closed

[2020-08-25 12:25] ArunKathir98 commented on #2648
When i am pointing to cloud  back end URL it is working fine, but if i changed URL to magento local back-end it shows above error.

[2020-08-26 15:49] #2407 closed

[2020-08-27 11:52] irajneeshgupta commented on #2025
@awilcoxa

Let us know if any updates on this feature request.

Thanks.

[2020-08-27 19:05] #2631 closed

[2020-08-27 21:43] #2391 closed

[2020-08-27 22:54] luke-denton-aligent opened #2661 "[doc]: A short, simple sentence describing the doc request"
**Describe the request**
The upgrade instructions in the README for people who have npm packages as dependencies isn't as clear as it could be. The suggestion in the README essentially says to manually edit the `package.json` file, which I think adds unnecessary risk of breaking things

**Possible solutions**
Update the README.md upgrade instructions to provide a simple command that can be run, th

[2020-08-27 23:00] luke-denton-aligent commented on #2661
@magento I am working on this

[2020-08-28 22:54] #2276 closed

[2020-08-31 09:03] AmaanKulshreshtha commented on #2650
any updates on this?

[2020-08-31 15:16] sirugh commented on #2650
Have you tried asking in the slack channel? You may find help there :)

[2020-08-31 16:11] sirugh opened #2666 "[feature]: Regions are not always required"
**Is your feature request related to a problem? Please describe.**
The region input field is currently always required although some countries do not use them or require them.

https://github.com/magento/pwa-studio/pull/2659#issuecomment-682238724

If someone wants to disable the requirement they have to duplicate the component just to remove the `validate` prop on the region field.

**Describe th

[2020-08-31 16:53] awilcoxa commented on #2661
Added to PWA-883

[2020-08-31 20:55] tjwiebell opened #2668 "[feature]: My Account: Account Information"
## Description
As a shopper, I want to see all associated information for my account so that I can view/edit/delete data (contact info, billing, address, etc.) saved to my profile.

In-scope:

Create the page for my account information with all necessary components for both desktop and mobile views.

My Account page, should include (components or  links for) :
* Name
* Email
* Password
  * Change

[2020-08-31 21:01] tjwiebell commented on #2668
@magento assign to @huykon

[2020-08-31 21:34] #2661 closed

[2020-09-01 01:09] huykon commented on #2668
@magento I am working on this. Thanks @tjwiebell

[2020-09-01 06:10] AmaanKulshreshtha commented on #2650
I actually did, but no luck there as well...

[2020-09-01 08:25] evan-burrell commented on #2650
The engine that its referring to I believe comes from https://github.com/magento/pwa-studio/blob/develop/packages/upward-js/lib/resolvers/TemplateResolver.js#L6, where mustache is the only resolve supported by upward out of the box

[2020-09-01 10:22] squishz opened #2669 "[feature]: Update draw Checkout"
**Is your feature request related to a problem? Please describe.**
I does look like the `Checkout` component, being the draw checkout, has been replaced by the `CheckoutPage`. Since the `Checkout` component still exists, It would be nice if the checkout draw would also be a viable alternative to use as from a UX point of view i personally think it works great.

There are multiple problems with the

[2020-09-02 07:23] larsroettig commented on #2551
@magento I am working on this

[2020-09-02 10:31] AmaanKulshreshtha commented on #2650
I am trying to add `react` as a templating engine, by creating `ReactTemplate.js` inside https://github.com/magento/pwa-studio/tree/develop/packages/upward-js/lib/compiledResources. Feel free to float any ideas regarding the implementation as well 😄

[2020-09-03 02:12] #2623 closed

[2020-09-03 04:52] quynhvv commented on #2515
@wokakira: You can try with steps as followings:
**1**. In the file at path: **path_to_your_custom_project/**package.json
you declare as the following:
`"pwa-studio": {
    "targets": {
      "intercept": "./local-intercept.js"
    }
  }`
**2**. In the file at path: **path_to_your_custom_project/**local-intercept.js
you declare as the following:
`function localIntercept(targets) {
    targets.of('

[2020-09-03 16:34] wokakira commented on #2515
Thanks @quynhvv @fooman

[2020-09-03 21:13] #2644 closed

[2020-09-04 19:35] tjwiebell opened #2677 "[bug]: Filter and Sort buttons should display at same time"
**Describe the bug**
URL - https://develop.pwa-venia.com/

Steps -
1. Go to any category and observe button display

Expected - Sort and FIlter buttons should display at sametime.
Actual - Sort button displays first and then Filter.

Note - Looks like it does work on Search page.

Suggestion - (Stephen Rugh)
The filter data is based on a query but the data is passed as a prop. We could wait for th

[2020-09-04 19:40] tjwiebell opened #2678 "[bug]: Zip does not get cleared on switching country"
**Describe the bug**
URL - https://develop.pwa-venia.com/

Steps -
1. Add product to Cart and go to /cart page
2. Enter shipping details for USA and get available shipping methods.
3. Now change the country

Expected - State/Region and Zip should get cleared And Get Shipping Options button should displayed.
Actual - Zip does not get cleared.

Note -
1. This needs UX review. Attached screen has act

[2020-09-04 19:41] tjwiebell commented on #2678
Linked to internal JIRA issue [PWA-672](https://jira.corp.magento.com/browse/PWA-672).

[2020-09-04 19:42] tjwiebell commented on #2677
Linked to internal JIRA [PWA-751](https://jira.corp.magento.com/browse/PWA-751).

[2020-09-04 20:53] tjwiebell opened #2679 "[feature]: Replace ProductQuantity on Product Page with QuantityFields stepper"
### Description
The quantity selector on PDP and cart don't currently match either in the way they look or in the way they behave.

The cart stepper is the latest design, and the quantity selector on PDP should be updated to match this.

### Acceptance Criteria
- ProductQuantity is deprecated and replaced with quantity stepper component currently on CartPage (you will want to use `QuantityFields`,

[2020-09-05 04:24] huykon commented on #2678
@magento I am working on this

[2020-09-06 14:55] huykon commented on #2677
@magento I am working on this

[2020-09-07 08:59] larsroettig opened #2682 "Feedback on page: /venia-pwa-concept/component/add-to-wishlist/"
Outdate or needs to implement?

[2020-09-07 08:59] larsroettig commented on #2682
@jcalcaben

[2020-09-08 13:52] jcalcaben commented on #2682
This is really old content that shouldn't be published anymore. This and other topics under `/venia-pwa-concept/component` should be deprecated and removed.

[2020-09-08 15:32] larsroettig commented on #2628
@magento I am working on this

[2020-09-08 20:25] larsroettig commented on #2682
Can be close is done by #2682

[2020-09-08 20:26] #2682 closed

[2020-09-09 02:41] JordanDDisch opened #2688 "[feature]: Use either Redux or useContext to manage state, not both."
Is there a reason why PWA Studio is using both Redux and useContext?

Just curious as i've never seen this type of state management pattern before.

I would assume it's better to manage state through one state manager rather than two.

[2020-09-09 03:37] fooman opened #2689 "[bug]: React Refresh is not working with webpack mode dev"
**Describe the bug**
React refresh is throwing error.

**To reproduce**
Steps to reproduce the behavior:
1. with latest develop branch
2. Run `webpack --no-progress --env.mode development`
3. Note error
[code]

**Expected behavior**
no error

**Additional context**
Same as reported here https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/169

**Possible solutions**
possible fix is to cha

[2020-09-09 13:23] huykon commented on #2679
@magento I am working on this

[2020-09-09 14:40] irenelagno opened #2691 "Test issue."
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2020-09-09 14:42] irenelagno commented on #2691
@magento give me 2.4-develop instance

[2020-09-09 14:42] #2691 closed

[2020-09-09 19:24] fooman commented on #2688
I am guessing legacy. Initially useContext wasn't around but is now adopted for new code with redux slowly getting phased out.

[2020-09-09 23:31] JordanDDisch commented on #2688
@fooman its just very confusing to work with two global state management systems. IMHO it would be more beneficial to just stick with Redux as its better and managing complex application state. Was lost trying to figure out why my cart data was being stored with useContext and checkout state was being stored with Redux.

Thanks I will have a look at that PR.

[2020-09-10 00:33] fooman commented on #2688
Agreed. Can't really comment for the pwa-studio team but following some of the developments my guess is that there is not much of redux left with it completely gone soon. So hopefully that removes at least that confusing aspect.

[2020-09-10 01:46] JordanDDisch commented on #2688
On another note, my current team is using a whole standard version behind the current one, so upgrading probably wont be an option when that happens 🤦

[2020-09-10 05:07] NandiniJivainfotech123 commented on #2627
@magento I am working on this

[2020-09-10 14:18] sirugh commented on #2627
@NandiniJivainfotech123 thanks for picking this up - we're not sure that this is still a problem so it would be good to first check the repro steps.

If you look at [the code](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/RootComponents/Product/useProduct.js#L34-L36) that is throwing the error, you'll see that we should never end up in `mapProduct` if `items[0]`

[2020-09-11 08:13] NandiniJivainfotech123 commented on #2627
I am not able to repro the issue

[2020-09-11 13:28] sirugh commented on #2627
Closing as previously fixed :)

[2020-09-11 19:37] jimbo commented on #2688
Good observations. 😄

At the moment, the Redux store is considered legacy. We still need it for a few bits of orchestration that can't really be refactored at this point, but these days we prefer to use Apollo client's cache for new app state. (Ironically, the Apollo client itself uses Redux to manage its internal state.)

When we created the project in 2018, React hooks didn't exist, so we starte

[2020-09-12 00:55] JordanDDisch commented on #2688
@jimbo thanks for that thoughtful response! It was very informative and I learned something new about global state management 👍

[2020-09-13 12:32] larsroettig commented on #2628
@zetlen `runPhase` already know about what are is active PWA Studio extensions.

https://github.com/magento/pwa-studio/blob/6da17c185871bbc1260646be04dfc7a1d6e76435/packages/pwa-buildpack/lib/BuildBus/BuildBus.js#L179-L202

[2020-09-14 17:31] awilcoxa commented on #2679
Linked to JIRA [PWA-918](https://jira.corp.magento.com/browse/PWA-918)

[2020-09-14 17:36] awilcoxa commented on #2689
Linked to internal JIRA PWA-919

[2020-09-14 17:43] acandael opened #2704 "instructions to add a custom component to the header component are unclear"
I'm going through the tutorial 'Manage component and application state' under 'PWA studio fundamentals'.

Currently I'm stuck a the section 'Add component to the storefront'. The instructions are not clear to me:

But at this point in the tutorial there is no Header component. So should I use the same steps from the footer tutorial to create the Header component? If that is the case, this won't wo

[2020-09-14 19:50] #2638 closed

[2020-09-15 07:14] Frodigo opened #2707 "[bug]: Homepage Images are not displayed in the Safari browser"
**Describe the bug**
Homepage Images are not displayed in the Safari browser. Errors apears in console

**To reproduce**
Steps to reproduce the behavior:
1. Open the Safari Browser
2. Go to Venia Homepage: https://develop.pwa-venia.com
3. See that images are not displaying

**Expected behavior**
Images are displayed in the Safari browser

**Screenshots**
![Screenshot 2020-09-15 at 09 06 28](https:

[2020-09-15 08:15] NandiniJivainfotech123 commented on #2689
@magento I am working on this

[2020-09-15 13:17] huykon commented on #2707
the param `auto=webp` or `quality=85` of background-image is not working on safari. Remove one in 2 that params, it will working on

[2020-09-15 15:18] sirugh commented on #2707
PWA-801 is tracking this internally.

[2020-09-15 17:33] larsroettig commented on #2597
Can be closed tutorial is updated and works

[2020-09-16 15:36] NandiniJivainfotech123 commented on #2689
I executed the steps which you have provided I didn't find any issue,

1.with latest develop branch
2.Run webpack --no-progress --env.mode development
3.Note error

![reference](https://user-images.githubusercontent.com/70904231/93356717-271bc600-f85d-11ea-87d9-a68ab29d57c1.PNG)

[2020-09-16 16:04] larsroettig commented on #2597
@sruthitechfriar is updated
Thank you for your contributions

kind regards,

Lars

-------
Magento PWA Community Team

[2020-09-16 16:04] #2597 closed

[2020-09-16 17:52] sirugh commented on #2689
@fooman are there other steps? Is this from the repo or from a scaffolded app?

[2020-09-17 01:56] fooman commented on #2689
Indeed this was with the scaffolded app. The command is taken from
https://github.com/magento/pwa-studio/blob/develop/packages/venia-concept/package.json#L16

[code]

![image](https://user-images.githubusercontent.com/455508/93410366-fc794e00-f8ec-11ea-980d-da7e2f6d4a00.png)

To note both
`./node_modules/webpack-cli/bin/cli.js --no-progress --env.mode production` and
`./node_modules/.bin/webpack-d

[2020-09-17 20:10] jpmii opened #2713 "[feature]: Create a hook for createAccount's signIn"
**Is your feature request related to a problem? Please describe.**
I wanted to wrap all talons that dealt with a user signing into their account. I noticed when someone registers a new account it logs them in. I attempted to wrap createAccount/useCreateAccount.js's handleSubmit > signIn. I was able to wrap createAccount/useCreateAccount.js's handleSubmit just fine but couldn't capture that actual

[2020-09-18 14:15] NandiniJivainfotech123 commented on #2689
@fooman ,i executed the below steps, I didn't find any issue.
git clone git@github.com:magento/pwa-studio.git
cd pwa-studio
DEBUG_PROJECT_CREATION=true ../pwa-studio/packages/pwa-buildpack/bin/buildpack create-project scaffold-test-1 --template "venia-concept" --name "scaffold-test-1" --author "test123 test@example.com" --backend-url "" --braintree-token "" --npm-client "yarn"
cd scaffold-test-1
y

[2020-09-19 00:52] brendanfalkowski opened #2717 "[bug]: Difficulty upgrading mono-repo to 7.x because of pwa-buildpack targets"
**Describe the bug**
I am upgrading a mono-repo project that originated in 2018-11 from version 5.x to 7.x (diff taken 2020-07-22).

By mono-repo project, what I mean is we forked the full `magento/pwa-studio` and established the folder `packages/custom` which duplicated Venia UI/Concept and has been heavily customized. We have backmerged updates at 3.x, 4.x, 5.x, and now 7.x to maintain forward c

[2020-09-19 16:09] acandael commented on #2704
@magento I am working on this

[2020-09-19 16:54] acandael commented on #2704
@magento add to contributors team

[2020-09-19 16:59] acandael commented on #2704
@magento add to contributors team

[2020-09-21 21:03] davemacaulay opened #2720 "[discussion] i18n ID format"
We have started our implementation of `react-intl`, part of it's API requires an ID within the code to identify which string you wish to present on the page in the users designated language. We've identified the need to define the format of these ID's and we've formed 2 potential solutions.

## Use `en_US` version of string
The first option aligns with the translation implementation of Magento Cor

[2020-09-21 21:11] #2720 closed

[2020-09-21 21:11] davemacaulay commented on #669
We have started our implementation of `react-intl`, part of it's API requires an ID within the code to identify which string you wish to present on the page in the users designated language. We've identified the need to define the format of these ID's and we've formed 2 potential solutions.

## Use `en_US` version of string
The first option aligns with the translation implementation of Magento Cor

[2020-09-21 21:32] fooman commented on #669
I'd like to add some considerations:

### Pro using IDs:

in the past developers where not aware that the initial en_US translation doubled up as the lookup for translations. This lead to the following scenario:

initial string:
"This is an en_US string", "This is an en_US string"

translations happen
"This is an en_US string", "Dies ist ein de_DE Satz "
[...]

Now someone comes along and doesn't

[2020-09-21 22:51] brendanfalkowski commented on #669
My two cents. Lessons from managing ~5000 translations across 3 languages for my most complicated project.

1. We never used the "language packs" provided by Magento because we had so much custom language.

2. Due to #1, I personally find it far simpler to manage the "default presented language" directly in code by editing code (easy to "find all" in project). We never had a goal to avoid touching

[2020-09-22 08:46] ilyahuman commented on #2688
@jimbo Hi, Im really interested in ``(Ironically, the Apollo client itself uses Redux to manage its internal state.)`` where can I find this in apollo-clien core ? Cause now I cant see redux there

[2020-09-22 13:31] Jordaneisenburger commented on #2717
Hi @brendanfalkowski ,

I've build a mono-repo as well, we have a storefront scaffolded with the pwa studio storefront-concept as it's base structure. We've also created our own packages/ui and managed to get it working properly.

inside `packages/ui/lib/targets/venia-ui-intercept.js`
[code]
Not sure if this helps, if you'd like we could jump on a quick call. let me know

[2020-09-22 15:06] sirugh commented on #669
Not sure this is a con - we may want to start with global strings and only specify context when necessary.

[code]

------

@fooman I understand the concern here but as far as I know we haven't been using existing translations/strings for the UI so any matches would be coincidence. If we use the `english string key` pattern or the `context.id` pattern there are still likely many new strings that w

[2020-09-22 15:46] sirugh commented on #2720
I kinda prefer this issue rather than holding the convo within the #669 PR but its too late!

[2020-09-22 15:48] sirugh commented on #2688
Oops looks like [they removed it](https://github.com/apollographql/apollo-client/commit/2b52e53231e9dcc5531844fecb358583eed85eec)