[2019-05-28 15:53] zetlen commented on #1260
@dpatil-magento In order to release to NPM, you need an NPM account, and then I need to add the account to the ownership tier of the `@magento` scope. This is the next step!

[2019-05-28 17:11] haxim0r commented on #775
I also wish to learn why I can't get PWA to work remotely, and would appreciate insight on production deployment.

The link from previous is dead (https://magento-research.github.io/pwa-studio/pwa-buildpack/reference/pwa-dev-server/) !

[2019-05-28 17:55] sirugh opened #1279 "[feature]: Danger CI tooling to automate initial github PR/issue checks"
**Is your feature request related to a problem? Please describe.**
When any user opens a PR there is a minimal amount of information we ask for in the description via the PR template. If this info is not provided it creates extra work for the PWA team and can add delays to communication between the reviewer and the contributor.

**Describe the solution you'd like**
Immediately upon PR opening and

[2019-05-28 21:07] #1226 closed

[2019-05-28 21:10] #1237 closed

[2019-05-29 10:12] codeAdrian commented on #669
Agreed with @brendanfalkowski . My question is whether store-view switching can also be implemented at this point? So not only the language preference, but also the rest of Magento store view configs?

[2019-05-30 10:16] narendravyas24 opened #1281 "[feature]: Implement quantity dropdown as increment decrements with text-box on PDP"
**Description:**
As currently on PDP and on product-edit a dropdown is provided for "Quantity" in venia theme. That doesn't seems to be good from a user point of view.

So instead of dropdown we may prefer going with an increment-decrement (+/-) with a text-box as well. So that user may simply increase/decrease value as per the need or may provide any quantity inside the text-box of quantity.

![i

[2019-05-30 15:09] #975 closed

[2019-05-30 15:15] #1260 closed

[2019-05-30 17:40] dpatil-magento opened #1282 "PWA-3.0.0 Regression testing"
Close this once all the test cycle under PWA Release 3.0.0 are executed.

[2019-05-30 17:42] dpatil-magento commented on #1282
https://jira.corp.magento.com/browse/MC-17050   Core bug to be fixed in order to complete PWA remaining test cycles.

[2019-05-31 14:55] #1195 closed

[2019-05-31 15:14] sirugh opened #1284 "[feature]: When a user hovers over or presses into a toast the timeout should pause"
**Is your feature request related to a problem? Please describe.**
When a user hovers on a toast or clicks in a toast (not the dismiss/cta) or presses on it as in a mobile press to copy the text we should **pause** the timeout. Imagine a short-living toast that has some text a user wants to copy so they click into it to copy but it disappears. That would be frustrating!

**Describe the solution yo

[2019-05-31 15:30] Jordaneisenburger commented on #1223
When i check https://magento-venia.now.sh I can't reproduce the issue, but when i setup venia locally i can reproduce it. I'd like to take ownership of this issue but want to be sure that it's still an actual problem ?

[2019-05-31 15:41] awilcoxa commented on #1281
@soumya-ashok

[2019-05-31 16:07] dpatil-magento commented on #1223
@Jordaneisenburger  https://magento-venia.now.sh  has PWA 2.1.0 release.  Please check on develop branch i.e. https://develop.pwa-venia.com

[2019-05-31 16:19] Jordaneisenburger commented on #1223
@dpatil-magento I'd like to take ownership of this issue.

[2019-05-31 17:01] dpatil-magento commented on #1145
Rough idea assuming there are no merge conflicts to master (Happy Path):
Once QA sign-off stable branch for a release-
1. Update release versions in parameter-store or simple text/config file in pwa-cicd repo
2. Edit the source of AWS code pipeline to QA signed-off branch and hit on Release button in AWS release pipeline ( set restrictive access to this pipeline) - Actions to Automate:
A - Downloa

[2019-05-31 18:26] tjwiebell commented on #1247
No development needed here, just need to add a step to publication instructions to make sure all environment variables are set that you want baked into the build, like `BRAINTREE_TOKEN`.

[2019-05-31 18:26] #1247 closed

[2019-05-31 18:30] supernova-at opened #1285 "[bug]: Missing Shopping Cart Badge Indicator"
**Describe the bug**
The Shopping Cart in the Header doesn't show how many items are in the cart until the cart is opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an item to your cart
1. Refresh the page
1. See that the Shopping Cart badge icon does not appear
1. Open your shopping cart
1. Close your shopping cart
1. See that the Shopping Cart badge icon appears and accurately in

[2019-05-31 19:15] tjwiebell commented on #1223
Looks like a community member submitted a PR for this already (#1252)

[2019-05-31 20:14] awilcoxa commented on #1182
closing as a duplicate of #1279

[2019-05-31 20:14] #1182 closed

[2019-05-31 20:18] awilcoxa commented on #1256
thanks @niklas-wolf we'll take a look at this in next week's grooming.

[2019-05-31 20:19] awilcoxa commented on #1254
closing this issue as a duplicate of #1256

[2019-05-31 20:19] #1254 closed

[2019-05-31 20:24] awilcoxa commented on #1154
@lewisvoncken did you end up opening a PR for this?

[2019-05-31 20:25] awilcoxa commented on #1108
@zetlen

[2019-05-31 20:33] awilcoxa commented on #837
closing as a duplicate of #1154

[2019-05-31 20:33] #837 closed

[2019-05-31 20:37] tjwiebell commented on #1255
Duplicate of #898. We suggest Windows users use Docker in the meantime, instructions can be found here:

https://github.com/magento-research/pwa-studio/tree/develop/docker

[2019-05-31 20:37] #1255 closed

[2019-05-31 20:40] awilcoxa commented on #1122
Believe this is related to the same issue reported in #1256

[2019-05-31 21:11] tjwiebell commented on #1122
@awilcoxa - Yep, this is a duplicate of #1256.

[2019-05-31 21:11] #1122 closed

[2019-05-31 21:49] tjwiebell commented on #746
Magento 2.3.1 introduced introspection in production mode, so this should no longer be an issue. Please re-open if you're still having problems.

[2019-05-31 21:49] #746 closed

[2019-05-31 21:49] tjwiebell commented on #756
Duplicate of #898. We suggest Windows users use Docker in the meantime, instructions can be found here:

https://github.com/magento-research/pwa-studio/tree/develop/docker

[2019-05-31 21:49] #756 closed

[2019-05-31 21:51] tjwiebell commented on #740
Closing as obsolete, bug doesn't appear to be present in `develop` anymore.

[2019-05-31 21:51] #740 closed

[2019-05-31 21:58] tjwiebell commented on #769
Closing as obsolete, re-ran repro steps and didn't see validation error anymore.

![Screen Shot 2019-05-31 at 4 58 09 PM](https://user-images.githubusercontent.com/462953/58736965-5b981400-83c5-11e9-8070-38da0ad66fad.png)

[2019-05-31 21:58] #769 closed

[2019-05-31 22:01] tjwiebell commented on #763
Due to delays on our end, this bug may be obsolete with our migration to yarn workspaces and lots of additional changes to the build system. I'm going to close, but please re-open and update the repro steps if you're still having dependency issues with `yarn build`.

[2019-05-31 22:01] #763 closed

[2019-05-31 22:02] tjwiebell commented on #819
This appears to be fixed, closing.

<img width="340" alt="Screen Shot 2019-05-31 at 5 02 26 PM" src="https://user-images.githubusercontent.com/462953/58737106-ea0c9580-83c5-11e9-9e50-7511ef2d485e.png">

[2019-05-31 22:02] #819 closed

[2019-05-31 22:07] tjwiebell commented on #914
Duplicate of #1256 (has a PR up already, just waiting to merge).

[2019-05-31 22:07] #914 closed

[2019-05-31 22:08] #996 closed

[2019-05-31 22:12] tjwiebell commented on #1003
Related to #898, closing as duplicate. We suggest Windows users use Docker in the meantime, instructions can be found here:

https://github.com/magento-research/pwa-studio/tree/develop/docker

[2019-05-31 22:12] #1003 closed

[2019-05-31 22:18] andrewlstanley commented on #763
@tjwiebell I actually am getting the same error when using yarn build.  Are we supposed to be using npm to install or yarn as the documentation says?

[2019-05-31 22:21] tjwiebell commented on #1051
Obsolete, GraphQL bug was fixed.

[2019-05-31 22:21] #1051 closed

[2019-05-31 22:27] tjwiebell commented on #763
We only support yarn, we're tightly coupled to workspaces now. There are several known issues with Windows identified in #898, and we suggest using Docker in the meantime. If that doesn't apply to you, please create a new issue using the Bug template, and provide as much detail as you can.

[2019-06-01 02:59] khoa-le commented on #1223
Yes, I created my first PR on pwa-studio 2 weeks ago. Can you review and give me feedback?

[2019-06-01 21:05] lewisvoncken commented on #1154
@awilcoxa I have just created the pull request.

[2019-06-03 15:50] awilcoxa commented on #1208
closing as dupe of #1257

[2019-06-03 15:50] #1208 closed

[2019-06-03 16:00] #1212 closed

[2019-06-03 16:06] #361 closed

[2019-06-03 18:39] awilcoxa opened #1287 "Peregrine: Translate Venia Components to Peregrine Component Hooks"
Represents the final effort after Venia Component to functions refactor to translate Venia into Peregrine component hooks.
@jimbo : add additional technical details and conduct further breakdown of story

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [x ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`

[2019-06-03 19:43] #783 closed

[2019-06-03 20:07] sirugh commented on #957
The deployment for `magento-venia` looks like it is based on whatever was deployed before the [now.sh rework](https://github.com/magento-research/pwa-studio/pull/1165).

The current develop state, https://magento-venia-develop.now.sh/js/, displays a 404 rather than the vulnerable page. So I think this is technically no longer a bug and we can probably close it when #1165 is fully released.

[2019-06-03 20:56] dpatil-magento commented on #957
OWASP no more complaint about these kind of error on PWA develop branch. Closing this one.

[2019-06-03 20:56] #957 closed

[2019-06-03 21:18] dpatil-magento opened #1289 "[bug]: Browser title does not get updated on accessing categories. Updates only after manual browser reload."
**Describe the bug**
Browser or Window title does not get updated on accessing categories. It gets update if user is on category and does browser reload.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Venia home page.
2. Access any category.

**Expected behavior**
Browser title should change to category name.

**Screenshots**
In this screen Browser title still says Home page - V

[2019-06-04 05:28] dodiya-divyarajsinh commented on #1052
Hi All, I face the same issue. Please see screenshot.
https://i.stack.imgur.com/ZsGio.png

![ZsGio](https://user-images.githubusercontent.com/25686742/58853352-98ab2180-86b7-11e9-9efb-b2d46961f67c.png)

[2019-06-04 09:15] paales opened #1290 "Architecture questions about UPWARD / feature requests"
I'm trying to use UPWARD and am trying to extend it by adding additional backends, custom resolve logic etc. But.. I'm running into issues, hope you guys can answer my questions:

- The proxy doesn’t allow us to add header information to the request? Isn’t that something that should be possible in upward? We need to add Authentication bearer tokens for our endpoint.

- How can we debug the request

[2019-06-04 13:50] tjwiebell commented on #1289
Duplicate of #422, which also includes meta tags in the bug scope.

[2019-06-04 13:50] #1289 closed

[2019-06-04 14:39] sirugh commented on #1052
@dodiya-divyarajsinh can you execute `which graphql` in your terminal and show me the output? What you want is to use the graphql installed by `pwa-studio` located within your node_modules:

[code]

[2019-06-04 15:34] dpatil-magento opened #1291 "Setup cicd for upward-php"
Need to setup ci for upward-php.

To Do-
Once Pull request created run unit tests.
TBD.....

[2019-06-04 18:02] #1256 closed

[2019-06-04 20:14] sirugh commented on #1231
While we're at it, we also request images multiple times in the `miniCart` when toggling between checkout and back:

[![Image from Gyazo](https://i.gyazo.com/03d25def8e1cfd571ec2648a2ef95b33.gif)](https://gyazo.com/03d25def8e1cfd571ec2648a2ef95b33)

[2019-06-05 00:40] jimbo opened #1293 "Peregrine: MiniCart Component"
Refactor the minicart within the right drawer, to prepare for migration to Peregrine.

- [x] Refactor class components to functional ones
- [ ] Add unit tests for new components
- [ ] @jimbo to add more checklist items here

[2019-06-05 00:40] jimbo opened #1294 "Peregrine: Checkout"
Refactor the checkout components within the right drawer, to prepare for migration to Peregrine.

- [ ] Refactor class components to functional ones
- [ ] Add unit tests for new components

[2019-06-05 01:07] jimbo opened #1295 "Peregrine: Add a hook for making REST calls"
## Background

When creating PWA Studio, we decided not to create an abstraction for REST calls, in order to favor and encourage GraphQL usage. This decision was made possible by relegating REST calls to Redux actions, which are already full of boilerplate and generally less friendly than components. As we move more of Redux state into local, hook-oriented state, we will inevitably need a new REST

[2019-06-05 04:46] dodiya-divyarajsinh commented on #1052
Hi, @sirugh thank for the response,
It will show nothing(blank) as follow

![image](https://user-images.githubusercontent.com/25686742/58930825-d6bd4980-877a-11e9-8648-b83a41579d20.png)

[2019-06-05 04:56] DanielRuf commented on #1052
And `stat node_modules/.bin/graphql`?

[2019-06-05 08:09] dodiya-divyarajsinh commented on #1052
![image](https://user-images.githubusercontent.com/25686742/58940537-50633080-8797-11e9-9852-cdf3af1437ab.png)

I have use YARN

[2019-06-05 14:57] #1279 closed

[2019-06-05 16:46] #918 closed

[2019-06-05 16:55] #1270 closed

[2019-06-05 17:55] dpatil-magento opened #1297 "[bug]: Duplicate Image request calls on Category page"
**Describe the bug**
On Venia Category page every image has 2 image request calls instead of just one.

**Note**
Issue does not occur when Fastly enabled backend is used with `IMAGE_OPTIMIZING_ORIGIN=backend`

**To Reproduce**
1. Navigate to Venia Home page on develop branch https://magento-venia-develop.now.sh/
2. Open dev tools on chrome and click on any Category say - Tops.

**Expected behavior

[2019-06-05 19:42] supernova-at opened #1298 "Repository Security Alert: js-yaml"
There are security alerts on GitHub for our repository for the `js-yaml` dependency.

These occur in both the [upward-js](https://github.com/magento-research/pwa-studio/network/alert/packages/upward-js/package.json/js-yaml/open) and [upward-spec](https://github.com/magento-research/pwa-studio/network/alert/packages/upward-spec/package.json/js-yaml/open) packages.

GitHub indicates that these are b

[2019-06-05 19:43] supernova-at opened #1299 "Repository Security Alert: axios"
There is a security alert on GitHub for our repository for the `axios` dependency.

This occurs in [pwa-devdocs](https://github.com/magento-research/pwa-studio/network/alert/pwa-devdocs/package-lock.json/axios/open).

GitHub indicates that this is a `High Severity` alerts.

The recommendation is to upgrade the `axios` dependency.

[2019-06-05 19:46] supernova-at opened #1300 "Repository Security Alert: webpack bundle analyzer"
There is a security alert on GitHub for our repository for the `webpack-bundle-analyzer` dependency.

This occurs in the [venia-concept](https://github.com/magento-research/pwa-studio/network/alert/packages/venia-concept/package.json/webpack-bundle-analyzer/open) package.

GitHub indicates that this is a `Moderate Severity` alert.

The recommendation is to upgrade the `webpack-bundle-analyzer` dep

[2019-06-05 20:05] dpatil-magento opened #1301 "[feature]: Branded first render #1275 follow up ticket"
For every visual design that is meant to be linkable and could be viewed as the first page of a session, we need a fallback for first render with minimal variation across pages of this type to satisfy the use case of slower connections.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

*

[2019-06-05 20:11] dpatil-magento commented on #1273
Issue still exists on search page. example: https://develop.pwa-venia.com/search.html?query=top

[2019-06-05 20:50] #1248 closed

[2019-06-05 22:07] #567 closed

[2019-06-06 00:00] brendanfalkowski opened #1303 "Folder and file names for components have inconsistent casing"
**Describe the bug**
For components and root components, folder and file naming is inconsistent. Examples from Venia:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Discussed with @jimbo on Slack. Folders should be `PascalCase` + files should be `camelCase.ext`.

**Possible solutions**

1. Ma

[2019-06-06 00:00] brendanfalkowski commented on #1303
Assign to me. Working on PR now.

[2019-06-06 10:13] threescs opened #1305 "[feature]: Missing paging configuration parameter description"
**Is your feature request related to a problem? Please describe.**
Here I see the url set page parameter refresh page action,
I want to know where the code for the route listener parameter is.

![image](https://user-images.githubusercontent.com/29721759/59025426-b8447480-8886-11e9-9128-b38558a1ab09.png)

**Describe the solution you'd like**
A clear and concise description of what you want to happe

[2019-06-06 11:50] dheesbeen opened #1455 "Pwa Area"
I locally have a proof of concept version of the module which adds a **pwa** area to Magento 2.

So you will have
- frontend
- pwa
- adminhtml
- webapi_rest
- webapi_soap

This makes it possible, bij switching a server variable, to run a single storeview on pwa and a other storeview on (for example) Luma. It also makes it possible to serve certain pages in the pwa via the upward proxy with default

[2019-06-06 12:54] speedy008 opened #1306 "[bug]: continue shopping button background color and hover color"
**Describe the bug**
Continue shopping button background color and hover color fixed

**To Reproduce**
Steps to reproduce the behavior:
1. Minicart(Empty) check continue shopping button

**Expected behavior**
![expected1](https://user-images.githubusercontent.com/33230237/58155650-eaa08000-7c91-11e9-805b-5a3edaaf81da.png)
![expected2](https://user-images.githubusercontent.com/33230237/58155664-f12

[2019-06-06 13:45] sirugh commented on #1294
The `Checkout/` folder contains 10+ components. How do you feel about doing each component individually? I think it'll make it much easier to review.

[2019-06-06 15:29] supernova-at opened #1308 "Refactor ErrorView Component (Scalability)"
Currently the `ErrorView` component decides what error message to show based on a series of `boolean` `prop` values.

As `ErrorView` gets more use this isn't exactly scalable.

See [this comment](https://github.com/magento-research/pwa-studio/pull/1229#discussion_r290381700) for a possible solution.

Also refactor this component to a functional component.

[2019-06-06 16:42] #901 closed

[2019-06-06 17:52] #1282 closed

[2019-06-06 18:36] soumya-ashok commented on #1306
@speedy008 - The desired state of the button is dark gray when static, and teal on hover or focus. I think this matches with the first two screenshots you've shared in this issue. If that's the case, we can consider this approved.

[2019-06-06 18:59] #1142 closed

[2019-06-06 19:58] #1159 closed

[2019-06-06 20:37] jimbo commented on #932
We recently updated [`webpack.config.js`](https://github.com/magento-research/pwa-studio/blob/develop/packages/venia-concept/webpack.config.js#L91-L120) to allow third-party CSS (from `node_modules`) to circumvent CSS Modules. That said, we recommend avoiding third-party CSS where possible.

[2019-06-07 14:36] jcalcaben opened #1310 "[doc]: 404 links on certain pages"
**Describe the request**

Since the devdocs site is published from what is on `develop`, 'Edit this file' links on some pages 404 if they have not been merge into the master branch.

**Possible solutions**

Change the base url of the 'Edit this file` links to point to develop.

[2019-06-07 16:03] zetlen commented on #1162
@brendanfalkowski Just a quick ping: does your team have any followup questions? We want to check before we proceed with a document clarifying this. Right now, the rough draft outline is as follows:

## How A PWA Studio App Connects To Magento

- "Headless" Architecture Overview
- Magento's microservice push
- Runtime architecture
  - API-only relationships
    - GraphQL for client data and store

[2019-06-07 16:37] LucasCalazans commented on #1052
Same issue here.
Magento -> 2.3.1
PWA-Studio -> develop

After running `yarn run build`

[code]

[2019-06-07 16:57] tjwiebell commented on #1052
@LucasCalazans - It appears we're not allowing insecure backends in query validation, which is why you're seeing this error. I think it's reasonable to add the `insecure: true` flag to `packages/venia-concept/.graphqlconfig` so this validation works with self-signed certificates, especially since we only expect to validate queries in development environments (skipped in production builds). I'll up

[2019-06-07 17:12] tjwiebell opened #1311 "[bug]: Query Validation Doesn't Support Insecure Backends"
**Describe the bug**
Query validation that runs at build time will fail if the backend instance provided uses https but the certificate is self-signed or not trusted. Given query validation is a development build time activity where this setup would be common, we should allow insecure backends (similarly to how we ignore SSL errors for proxied requests to Magento).

**To Reproduce**
Steps to repro

[2019-06-07 17:46] LucasCalazans commented on #1311
I've added the flag insecure: true but I'm getting the same issue.

`yarn run build`:

[code]

My **.graphqlconfig** file (I'm not sure where I need to add this prop, so I've added in every node too :smile: ):

[code]

[2019-06-07 17:49] LucasCalazans commented on #1052
I think that the error I'm getting is the same reported:

[code]

[2019-06-07 17:55] jimbo opened #1312 "[feature]: Unified Peregrine Provider"
**Is your feature request related to a problem? Please describe.**

As we move state out of Redux and increase our usage of React Context, asking consumers to wrap `App` with a thousand context providers is going to become a problem.

**Describe the solution you'd like**

In addition to all the individual providers it offers, Peregrine should export a single provider with which we can wrap `App`.

[2019-06-07 18:01] LucasCalazans commented on #1311
Actually, it works.

I changed to **HTTP** in my .env file but my Nginx was redirecting to **HTTPS**.

[2019-06-07 18:09] tjwiebell commented on #1311
@LucasCalazans - I just pushed up PR #1313 with a working fix; looks like it was a CLI argument, not something you could configure in `.graphqlconfig`. As you've found, you can also just use an insecure backend.

[2019-06-07 19:08] LucasCalazans opened #1314 "[bug]: yarn watch:peregrine doesn't work as it should"
**Describe the bug**
1. After execute `yarn watch:peregrine` it stops the execution and doesn't watch for changes.
2. `yarn watch:all` doesn't work on peregrine scope

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the root directory
2. Execute `yarn watch:peregrine`

It will stop right after the compilation:
[code]

1. Go to the root directory
2. Execute `yarn watch:all`

**Expected

[2019-06-07 19:09] brendanfalkowski commented on #1162
@zetlen — This looks great to me, but I pinged teammates to comment here if they have questions.

[2019-06-07 19:49] soumya-ashok commented on #1281
@narendravyas24 Is your opinion that a dropdown is not good from a user point of you based on a desktop or mobile experience?

[2019-06-07 20:15] supernova-at opened #1315 "Icon component to use CSS instead of attributes"
Currently the [Icon](https://github.com/magento-research/pwa-studio/blob/develop/packages/venia-concept/src/components/Icon/icon.js) component takes an `attrs` prop that it applies directly to `react-feather` icons.

Unfortunately that requires us to keep presentational details in our JavaScript components, which is an anti-pattern.

It would be better to move these presentational details to CSS i

[2019-06-07 21:13] #1310 closed

[2019-06-07 21:20] brendanfalkowski commented on #1281
I'm working on migrating our "stepper" component from M1 into PWA next week:
https://www.gemaire.com/design/patterns/form/stepper/

We tend to avoid `<select>` whenever possible because it's at minimum two touches (or three if scrolling) to set a value. It also blocks setting a specific value that's not in the options.

The "stepper" provides one touch access for common quantity changes (+ 1,2,3)

[2019-06-07 22:41] jimbo commented on #669
@vitalics @brendanfalkowski Thanks for the library suggestions. This issue has come up a lot recently, so I'm going to start researching the translation landscape again. Ultimately, I'd like to come up with a spike or story for our team (or a community member) to work on.

### Basic approach

Depending on how the libraries out there work, we may not need any of them. The basics of translation shou

[2019-06-09 08:05] fooman commented on #669
Thanks for the update @jimbo. One of the things that I'd like to see included in the open questions is how do we make sure that all the previous translations efforts that have gone into Magento can be benefitted from (for example [here](https://crowdin.com/project/magento-2 t)).

[2019-06-09 18:34] gauravharsh15 opened #1317 "error on yarn install"
yarn install v1.15.2
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
[4/5] 🔗  Linking dependencies...
warning " > eslint-plugin-graphql@3.0.3" has unmet peer dependency "graphql@^0.12.0 || ^0.13.0 || ^14.0.0".
warning "eslint-plugin-graphql > graphql-config@2.2.1" has unmet peer dependency "graphql@^0.11.0 || ^0.12.0 || ^0.13.0 || ^14.0.0".
warning

[2019-06-10 05:29] narendravyas24 commented on #1281
@soumya-ashok

In my opinion drop-down is neither good in mobile nor in desktop, there can be various possible reasons for that, as:

1. Dropdown blocks the input of any desired quantity by user that is not specified in the dropdown.

2. Number of clicks/touches are more than one in case of drop-down's than the stepper.

3. Only stepper can also be very annoying to user so I mentioned to use a tex

[2019-06-10 10:33] threescs commented on #1052
hello,I am the same problem as you, have you solved it?

[2019-06-10 10:35] threescs commented on #1052
I am the same problem as you, have you solved it?

[2019-06-10 10:44] mhhansen commented on #1317
Hi @gauravharsh15, thanks for filling this out.
I've done a little research about this, and seems to be related to your yarn installation/OS.

Would you mind to double check this issue?
https://github.com/yarnpkg/yarn/issues/2432#issuecomment-328851785

Also would be great if you could update your first comment to include your local versions (which OS version, etc).

[2019-06-10 14:29] awilcoxa commented on #1315
@supernova-at is this related to #739?

[2019-06-10 14:32] sirugh commented on #1315
The reason for this abstraction is to provide a single "wrapping" component with a minimal API without enforcing opinionated styling within the `Icon` component itself. That said, the `Icon` component also takes `classes` and applies a root style to the surrounding span. Is it possible that we can just pass styling in this way? Methinks maybe this ticket isn't necessary and we just use css classes

[2019-06-10 14:38] sirugh commented on #1315
@awilcoxa I don't necessarily think these are the same issue but we should certainly take styling into account when we make changes to the icon component implementation.

[2019-06-10 14:49] awilcoxa commented on #932
@SharlSherif let us know if you have any other questions on third-party CSS based on the answer from @jimbo above. If not we'll close this out.

[2019-06-10 14:55] awilcoxa commented on #96
Closing issue given staleness

[2019-06-10 14:55] #96 closed

[2019-06-10 15:32] awilcoxa commented on #573
closing as dupe of #294

[2019-06-10 15:32] #573 closed

[2019-06-10 15:54] soumya-ashok commented on #648
@ntoombs19 - Sorry for the extremely delayed response on this issue. Is this something you are still interested in doing?

[2019-06-10 15:56] ntoombs19 commented on #648
@soumya-ashok - No worries. Yes, I am still interested.

[2019-06-10 16:00] soumya-ashok commented on #648
Awesome @ntoombs19 - There have been a lot of changes since you first opened this issue, and the "Shop the Look" page is not something we've fully thought through internally, so it would be good to collaborate if that's okay with you?

Let me get things together on my end, and maybe we can get on a quick call to discuss?

[2019-06-10 18:13] awilcoxa commented on #973
Based on grooming, converting current implementation of homepage adds no value (only contains a category widget).

We'll defer and this ticket and move back to backlog until venia homepage adds more value.

[2019-06-10 18:16] awilcoxa opened #1319 "Peregrine: Carousel Image component"
The image carousel is separate component which is currently implemented on product page. This component should exist and utilize Peregrine.

This effort should include ensuring that the carousel is an independent component that is not inherently tied to only the product page.

Acceptance criteria:
Image carousel component should be independent and able to be used across the storefront implementati

[2019-06-10 18:19] soumya-ashok commented on #973
@awilcoxa
1. Is the home page only going to be enabled by Pagebuilder content?
2. There are a lot of moving parts on the full design of the home page including featured products, carousels, shop the look etc. that haven't been implemented. Do we need to open separate stories for all of those, or maybe link already created issues to this one?

[2019-06-10 18:26] awilcoxa commented on #1245
@supernova-at: Since Peregrine components and hooks are meant for reuse, we need to ensure that folks know how to use them in the first place.

Ideally each hook and component has a summary of what it is and what it accomplishes, and example code to go with it.

[2019-06-10 18:39] awilcoxa commented on #1210
Toast solution is the preferred implementation for this defect. We should move forward assuming the second design above as the solution.

[2019-06-10 18:43] awilcoxa commented on #422
Moving ticket forward as the issues is still relevant. The previously proposed solution (below) was closed, but the team will re-investigate additional solutions.

~~Possible solutions:
Right now we do not update page title and meta tags inside head tags when we handle navigation on client side using react-router. We can use react-helmet to manage title and meta tags to the document head. https://

[2019-06-10 18:45] #1262 closed

[2019-06-10 18:45] tjwiebell commented on #1262
Closing as duplicate in favor of #1312. Both seem to outline the same problem/solution, but I'll make a note to reference this issue in review/QA to make sure we covered both.

[2019-06-10 18:46] awilcoxa commented on #898
Not a high priority at this time, moving the issue to backlog and @sirugh will close the PR and the team will come back to this at a later time/date.

[2019-06-10 18:48] awilcoxa commented on #900
Moving to groomed, prior to moving to ready needs final review from @soumya-ashok

[2019-06-10 18:50] awilcoxa opened #1320 "Discovery: Image loading and Responsiveness"
Research item to determine ideal implementation for image loading to ensure performance/responsiveness/etc. Needs input from @jimbo @zetlen based on #668

[2019-06-10 18:54] awilcoxa commented on #472
adding needs-ux for review from @soumya-ashok need to determine if closing this design gap is high priority based on input from UX/UI

[2019-06-10 18:56] awilcoxa commented on #619
Deferred for now until additional delivery against Peregrine epic

[2019-06-10 18:58] awilcoxa commented on #960
possible duplicate from other issue where answer was documented, I'll try to find that issue and close this out. Will still need to evaluate if we should formalize that into documentation.

[2019-06-10 19:01] awilcoxa commented on #493
did offline image get merged in previously referenced PR #486? @jimbo @zetlen

[2019-06-10 19:21] sirugh commented on #898
PR: https://github.com/magento-research/pwa-studio/pull/899

[2019-06-10 19:34] brendanfalkowski commented on #619
I'm ramping up more on the React side now, and thinking out loud with a couple questions. If the docs addressed this I think it would help people understand how Peregrine/Venia can scaffold customizations.

1. Can I use a Peregrine/Venia component's JS + tests, but provide my own CSS without having to maintain the full component in my /src? Can you extend a component but just override one import i

[2019-06-10 22:03] soumya-ashok commented on #900
@awilcoxa I've gone over the issue, and most of it is still valid. A couple of things.

As for the original point about wanting to just update the quantity - it is actually possible to do that without entering the "edit item" screen because quantity is more commonly changed in the cart when applicable as opposed to other parameters. If the shopper wants to make a more involved changed such as to c

[2019-06-10 22:24] soumya-ashok commented on #472
There has been a change to button styles since this issue was last discussed, updated mockups -

![Add to Cart.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/5b71c2a5-4d41-4ce7-a0e6-5152e3e227f5)

Reiterating the interaction detail -
When the shopper taps the add to cart button, provided that all required parameters have been selected, the button switches to the transition stat

[2019-06-11 03:00] ksandr-dev opened #1322 "Error in magento-pwa-venia router"
**venia-concept/src/components/app/renderRoutes.js**
[code]
**venia-concept/venia-upward.yml**
[code]

error:
![error_screen](https://user-images.githubusercontent.com/25770330/59240704-7e34f300-8c37-11e9-8def-705face547e3.png)

But in this case, router does works
**venia-concept/src/components/app/renderRoutes.js**
[code]
**venia-concept/venia-upward.yml**
[code]

[2019-06-11 03:24] dpatil-magento opened #1323 "Test PR - To test PR template changes"

[2019-06-11 14:53] dpatil-magento opened #1325 "[feature]: CICD - Implement how to trigger night build for all OPEN/Close PR's."
**Is your feature request related to a problem? Please describe.**
If user create a pull request and PR body is not per standards then danger will throw error. Now, if user update PR body per standards still the error will not be removed until next commit. Plan is to trigger nightly build which will run against updated template.

**Describe the solution you'd like**
Run nightly build :
   all open

[2019-06-11 16:01] #1311 closed

[2019-06-11 16:53] tjwiebell commented on #1273
@dpatil-magento - Opposed to the original bug, this behavior does seem intentional. We're using a React feature called Suspense that automatically handles rendering a fallback placeholder (most typically a loading indicator), but in this instance, we're rendering a search icon until the SearchBar component is loaded.

This may not be the preferred experience, so lets loop in @soumya-ashok, and see

[2019-06-11 17:21] soumya-ashok commented on #1281
@brendanfalkowski Thanks for sharing those links.
As far as the stepper design is concerned, I'm struggling with the same question as the one @belbiy asked in the PR. Having the increase and decrease buttons on either side of the field seems counter-intuitive.

On the subject of dropdowns, I don't disagree that they contribute to friction in a number of contexts in the shopper flow. However, I don

[2019-06-11 17:26] soumya-ashok commented on #1281
In the case of quantity, this is not usually up to the user to decide in a B2C flow. There are only a certain number of options, usually 1-10 that a user can choose from, so I am not sure what you mean by "blocking".

Depends on the quantity being chosen - On mobile, a dropdown is a tap, a scroll and another tap regardless of the quantity, but in a stepper the number of taps would vary.

Agreed.

[2019-06-11 17:45] brendanfalkowski commented on #1281
@soumya-ashok — Replies below :)

Replied in the PR comments before I saw this, but I disagree on this one and strongly because we tested it and it changed my mind. I was initially in the right-side buttons camp:

- 2012: https://dribbble.com/shots/745486-Add-To-Cart
- 2013: https://dribbble.com/shots/887571-Angry-Birds-Shop
- 2014 (after testing): https://dribbble.com/shots/1421955-Add-To-Cart

P

[2019-06-11 17:54] brendanfalkowski commented on #472
Just an idea — the latency of adding to cart sometimes makes this interaction ***feel*** slow. If you assume adding to cart will succeed 99/100 times (it basically always should when in stock), then it's an opportunity to instantly forward the UI to "added" state. Then finish the actual request invisibly. <1% of the time it fails you need to retread the UI, but overall it's a better experience.

[2019-06-11 19:35] soumya-ashok commented on #1281
I see. Thanks for sharing that.

No arguments on stepper being better than dropdown for immediate increments, I agree.
So you prefer an open input field in combination with a stepper to only an open input field and no stepper?

[2019-06-11 20:10] brendanfalkowski commented on #1281
@soumya-ashok — I'm always in the stepper camp now :)

It's just more utility in the same physical space. Some other examples from my projects where/why we've used them:

1. It's more discernable as a UI fixture because it has multiple elements and a fixed width. When some elements get super wide (text and select inputs, buttons) they suffer from decreased pattern recognition. Containing it helps

[2019-06-11 20:11] soumya-ashok commented on #1273
@tjwiebell The original intent is that when the search icon is tapped, the field appears, like in the linked screen
https://magento.invisionapp.com/share/PXRVAKRE9GH
The design needs improvement to begin with, and I haven't addressed that yet. For slow connections, I need to understand what is possible and what isn't in this case, based on the original design. Could we discuss?

[2019-06-12 10:08] narendravyas24 commented on #1281
@soumya-ashok

Regarding the blocking that I mentioned:
Say in dropdown if the options are (1-10), there is no option for user to buy even more than 10.

Also there is no option to change the dropdown options, the only solution is to change options from the code.

I think it's always better to add a stepper as well as with the text-box, most of the benefits are mentioned already by @brendanfalkows

[2019-06-12 15:04] soumya-ashok commented on #1281
Yes but this not something a stepper can solve. It is entirely the merchant's decision how many they want to make available for a customer to buy based on how they manage inventory.

In general, we could certainly switch the quantity selector to a stepper component but based on the screenshot, the styling of your stepper component is different than other elements in Venia. I will need to consult w

[2019-06-12 15:06] soumya-ashok commented on #1281
Yes, I'd agree with this.

During testing, were you able to observe that shoppers recognized the open field as something they could tap into and modify by typing?

Thanks for all the great examples, and for the feedback! I'll discuss with the team here and figure out how to move forward with this change.

[2019-06-12 15:32] cherdman opened #1326 "Update Compatibility Table for 3.0.0 Release"
We need to update the Compatibility Table on DevDocs for our 3.0.0 release: https://magento-research.github.io/pwa-studio/technologies/magento-compatibility/

We will need to indicate that versions of PWA Studio > 2.0.0 are compatible with versions of Magento >= 2.3.1.

[2019-06-12 15:46] dpatil-magento opened #1327 "[bug]: Package `graphql-cli-validate-magento-pwa-queries` not published under @magento org in npm."
**Describe the bug**
Package `graphql-cli-validate-magento-pwa-queries` is not published under @magento npm org.

**To Reproduce**
1. Login to npm and navigate to magento org.

**Expected behavior**
Package `graphql-cli-validate-magento-pwa-queries` should be present.

**Actual**
Package present outside @magento org.

**Possible solutions**
Update package.json "name" to be "@magento/graphql-cli-va

[2019-06-12 16:28] jcalcaben commented on #1245
Internal wiki link for review: [Documentation audit results](https://wiki.corp.magento.com/display/FF/2019+Documentation+Roadmap#id-2019DocumentationRoadmap-Documentationauditresult(2019-06-11))

[2019-06-12 16:31] supernova-at opened #1328 "Refactor the List Component away from Render Props"
The [List](https://github.com/magento-research/pwa-studio/tree/develop/packages/peregrine/src/List) component should be updated to a functional component and away from render props.

See https://github.com/magento-research/pwa-studio/pull/1266#discussion_r292105576.

[2019-06-12 18:49] brendanfalkowski commented on #1281
@soumya-ashok — Per:

Mind you this was 5 years ago, but I recall the test was a timed exercise like:

- Click provided link
- Add 1 to cart
- Click provided link
- Add 3 to cart
- Click provided link
- Add 25 to cart
- Visit cart
- Change item with 25 to 20
- Change item with 3 to 1

I don't recall anyone tapping (+) 25 times, and we put that in specifically to see if they would try typing— which

[2019-06-12 18:52] soumya-ashok opened #1329 ""Continue Shopping" button style in empty shopping cart"
Currently, the button looks like this -

![Screen Shot 2019-06-12 at 1.48.39 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/317edd7c-e7da-4aa1-bd26-ef8346c39046)

The correct styling would be -

![Screen Shot 2019-06-12 at 1.51.32 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/518795c9-d862-44da-8396-e45324a60b87)

with the button changing to the dark

[2019-06-12 18:54] soumya-ashok opened #1330 "Spacing between image and text in product listing"
Current treatment -

![Screen Shot 2019-06-12 at 1.53.01 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/978fcbb5-71a6-4eab-871d-e38e6f832a48)

The space between the bottom of the image and the product title needs to be increased.

[2019-06-12 18:57] soumya-ashok opened #1331 "Toast blocks header on add to cart failure"
Steps to reproduce:

Tap "add to cart" on the Isadora Skirt PD page, add to cart fails and the resulting error toast completely blocks the header.

Considering the add to cart failure was a result of user action, the toast message is unspecific. It should read "Unable to add product to cart. Specify options before trying again." or similar.

![Screen Shot 2019-06-12 at 1.55.36 PM.png](https://imag

[2019-06-12 19:03] soumya-ashok opened #1332 "Color tooltip needed on PD page"
Immediately upon color selection on the product detail page, this is the current state -

![Screen Shot 2019-06-12 at 2.01.13 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/3b09e4c7-e928-4744-bdd0-961678172613)

The desired state is -

![Screen Shot 2019-06-12 at 2.03.00 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/802722ef-3c76-45b2-85ca-b6de0b5f90a

[2019-06-12 19:08] soumya-ashok opened #1333 "Convert City and State Fields to Autocomplete fields"
Currently, the City and State fields are open text fields. In accordance with best practices, it would be preferable for these to be autocomplete fields similar to search when the user begins entering in them.

As an enhancement, if it is possible to collect ZIP first and auto populate City and State, it would reduce friction in form completion during checkout.

![Screen Shot 2019-06-12 at 2.05.05

[2019-06-12 19:12] soumya-ashok opened #1334 "Remove "back arrow" icon from first level of main menu"
The current state is this -

![Screen Shot 2019-06-12 at 2.08.52 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/1c6d5772-28c3-4386-b461-a3311fb1703e)

The back arrow performs the same thing as the close icon. It would be preferable to make the action clear by removing the back arrow and keeping just the close icon at the topmost level of the nav. menu.

![Screen Shot 2019-06

[2019-06-12 19:14] supernova-at commented on #1245
I think this is good but the acceptance criteria includes

So I think if you can actually create the issues (and link them on that wiki page), we'd be :thumbsup:.

[2019-06-12 19:16] soumya-ashok commented on #1281
Completely see this for B2B, I was only referring to the Venia use case for a fashion vertical, B2C situation. Based on what I've observed on most retail sites, the most common cap for a single item is 10, and it's usually in a dropdown 😄

Appreciate the details on the test!

[2019-06-12 21:59] soumya-ashok commented on #1273
@tjwiebell Mockup attached. Please let me know if this will work.

Static background that mimics a form field with a loading indicator that matches the one on the "add to cart" button. Colors adjusted for header.

![Search Loading.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/43a28d0e-5256-4f7c-85b0-5069dc66da99)

[2019-06-13 02:41] fooman opened #1336 "[bug]: Peregrine storybook does not run"
**Describe the bug**
Following the description here https://magento-research.github.io/pwa-studio/peregrine/testing/storybook/ I should be able to create a storybook for Peregrine. Currently it errors and nothing is visible.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:magento-research/pwa-studio.git
2. cd pwa-studio/packages/peregrine
3. yarn install
4. yarn run

[2019-06-13 06:10] fooman commented on #1336
Also tried `yarn build:dev` from the root folder

[code]

[2019-06-13 06:14] narendravyas24 commented on #1281
@soumya-ashok

I would still suggest using a stepper and if not stepper at-least even go with a text-box instead. For both B2B and for B2C.

But I have some questions:

1. Yes I have also seen dropdown in some fashion sites but in most of the eCommerce sites I have never seen the dropdown even not in various fashion sites.

2. Is it like this that Venia theme is been designed only from a fashion p

[2019-06-13 14:35] jcalcaben opened #1339 "[doc]: Code samples repository"
**Describe the request**

We should provide code samples for individual pieces of PWA-Studio to demonstrate how to import and use PWA Studio components outside the project repo.

This can be used with codesandbox.io to embed live project code into devdocs and act as a sandbox for developers.

**Possible solutions**

Set up a code samples repository under the Magento Research organization and creat

[2019-06-13 14:41] jcalcaben opened #1340 "[doc]: Improve Peregrine overview page"
**Describe the request**

The [Peregrine overview][] page looks bare and does not have much information about what Peregrine is.

[peregrine overview]:https://magento-research.github.io/pwa-studio/peregrine/

**Possible solutions**

Improve the content for Peregrine overview page with the current vision for Peregrine and what it provides.

**Screenshots**

n/a

**Please let us know whether this is

[2019-06-13 14:48] 0m3r opened #1341 "How can I integrate my custom magento2-module with venia theme (pwa-studio)"
I want to integration venia theme (pwa) and my custom module. But I can't find any documentation for this. No examples. No integration point in the code. Nothing.

Only https://github.com/Jordaneisenburger/fallback-studio

But I find many vue storefront module example

https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/modules/introduction.md

https://github.com/frqnck/awesome-vue

[2019-06-13 14:51] jcalcaben opened #1342 "[doc]: Toasts documentation"
**Describe the request**

There is no guidance on how to use the Toasts feature.

**Possible solutions**

Create documentation for Toasts, which include:

* Clear and understandable JSDocs in source code
* Reference documentation created
* Usage example/tutorial

**Screenshots**

n/a

**Please let us know whether this is a new topic or a topic change request:**
 - [x] New Topic Request (ie. missin

[2019-06-13 14:57] cherdman opened #1343 "Release Checklist 3.0.0 - GA"
### GA
- [ ]   In Github, create pre-release 3.0.0: @zetlen @jimbo
- [ ]   Push the release tag to the repo
- [ ]   Merge release 3.0.0 to master
- [ ]   Copy CHANGELOG to Github release details : @zetlen @jimbo
- [ ]   Publish devdocs: @jcalcaben
- [ ]   Publish to NPM/package managers: @zetlen
- [ ]   Rebase all outstanding PRs on develop @sirugh

[2019-06-13 14:59] cherdman commented on #1239
Closing this issue since we're done with RTM. Creating a [new issue](https://github.com/magento-research/pwa-studio/issues/1343) to track GA activities prior to release.

[2019-06-13 14:59] #1239 closed

[2019-06-13 15:00] jcalcaben commented on #1341
Hi @0m3r, we have many experienced community members who should be able to help answer these kinds of questions in our [#pwa slack channel](https://magentocommeng.slack.com/messages/C71HNKYS2).

[2019-06-13 15:00] #1341 closed

[2019-06-13 15:11] jcalcaben opened #1344 "[doc]: useWindowSize hook documentation"
**Describe the request**

There is no guidance on how to use the [useWindowSize][] hook.

[useWindowSize]: https://github.com/magento-research/pwa-studio/blob/develop/packages/peregrine/src/hooks/useWindowSize.js

**Possible solutions**

Create documentation for useWindowSize hook, which include:

* Clear and understandable JSDocs in source code
* Reference documentation created
* Usage example/tu

[2019-06-13 15:22] jcalcaben opened #1345 "[doc]: useEventListener documentation"
**Describe the request**

There is no guidance on how to use the [useEventListener][] hook.

[useEventListener]: https://github.com/magento-research/pwa-studio/blob/develop/packages/peregrine/src/hooks/useEventListener.js

**Possible solutions**

Create documentation for the useEventListener hook, which include:

* Clear and understandable JSDocs in source code
* Reference documentation created
*

[2019-06-13 15:31] jcalcaben opened #1346 "[doc]: usePagination hook documentation"
**Describe the request**

There is no guidance on how to use the [usePagination][] hook.

[usePagination]: https://github.com/magento-research/pwa-studio/blob/develop/packages/peregrine/src/hooks/usePagination.js

**Possible solutions**

Create documentation for the usePagination hook, which include:

* Clear and understandable JSDocs in source code
* Reference documentation
* Usage example/tutori

[2019-06-13 15:38] jcalcaben opened #1347 "[doc]: Publish product diagrams"
**Describe the request**

Product diagrams for PWA-Studio only exist in issue comments and in the internal wiki.
They need to be available in the docs site.

**Possible solutions**

Publish infographics from the Product Diagrams internal wiki page.

* Need to find or create appropriate page for these diagrams
* Finalize styles used in the diagrams
* Optimize image before uploading

**Screenshots**

[2019-06-13 15:45] jcalcaben opened #1348 "[doc]: How A PWA Studio App Connects To Magento"
**Describe the request**

There is no complete documentation for how a PWA Studio app connects to a Magento backend.

**Possible solutions**

Create a document using the outline proposed by @zetlen: https://github.com/magento-research/pwa-studio/issues/1162#issuecomment-499943126

**Note:** _Depending on how detailed we want to get with this doc, we may need to break this up into smaller issues._

[2019-06-13 16:00] jcalcaben commented on #1245
Issues created and linked in wiki

[2019-06-13 16:02] tjwiebell commented on #1210
Blocked until `createAccount` is re-factored to a functional component that can use `useToasts`. Will check with @jimbo if we want to bring that component into this scope, and merge in front of the larger #1191 left drawer re-factor.

[2019-06-13 16:21] supernova-at commented on #1334
Community member Narendra Vyas has picked up this ticket.

[2019-06-13 16:26] supernova-at commented on #1328
Revanth is taking a crack at this one as his first ticket :tada:

[2019-06-13 16:40] #1326 closed

[2019-06-13 16:40] cherdman commented on #1326
Merged.

[2019-06-14 08:19] 0m3r commented on #1341
Nice. You guys have pwa slack channel. But sorry I don't have a slack account.

[2019-06-14 09:00] brendanfalkowski commented on #1341
You can find info about signing up for the Slack here: https://devdocs.magento.com/community/resources/resources.html

[2019-06-14 15:53] #1245 closed

[2019-06-14 16:00] zetlen commented on #1327
Unfortunately graphql-cli plugins can't be under scopes.

[2019-06-14 16:00] #1327 closed

[2019-06-17 07:29] hammad261 commented on #679
![ecran-lenovo-li2054-195-ips-led](https://user-images.githubusercontent.com/51826161/59586117-ffa4df00-9096-11e9-8316-75672047d957.jpg)

[2019-06-17 07:31] hammad261 commented on #679
sale in on line perchasing All item
<a href="https://ssc.com.pk/">SSC</a>

[2019-06-17 08:51] bkmagnetron commented on #1128
@jcalcaben
Some kind of direction would be useful. We have been stumbling to launch a E-Commerce with Headless Magento for a long time now.
We started with less Magento knowledge. We thought the Standard Magento theme implementation won't be helpful with Native Mobile app. So, we decided to have both the web and mobile app as headless. That's why we came to try PWA Studio assuming that we can have

[2019-06-17 14:21] awilcoxa commented on #973
@soumya-ashok
1. No, this ticket was only meant to represent refactor of the existing home/landing page (which is essentially just a category view)
2. This ticket does not represent any new functionality. New features will have epics/issues created as needed in future (or that already exist in the backlog).

[2019-06-17 15:22] soumya-ashok commented on #1281
We are not addressing B2B cases with Venia, only B2C.

Venia is an example or reference theme with the most generic UI elements that feature on an E-commerce site. And yes, this particular example uses a fashion retail vertical because that is what the older version of Venia was based on.

Since any reference theme is customizable by the merchant, they can set or not set limits as they wish.

The

[2019-06-17 15:28] soumya-ashok commented on #472
Great recommendation @brendanfalkowski, I'll update the interaction description.

[2019-06-17 15:40] dpatil-magento opened #1356 "[RESEARCH] CICD - Implement feature on AWS to deploy PR's on individual instances automtically."
- [ ] Create new AWS Build or Pipeline based on PR create/update in `pwa-studio` repo.
- [ ] Setup buildspec with required env variables.
- [ ] Build PR
- [ ] Setup ELB part of script via AWS Cli - https://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/create-environment.html
- [ ] Deploy PR to ELB
- [ ] CNAME after deployment via AWS Cli - https://aws.amazon.com/premiumsupport/knowledg

[2019-06-17 17:03] sirugh opened #1357 "[dev]: Update eslint for react hooks"
We started using hooks with the Peregrine refactors but we did not update to our latest [eslint config](https://github.com/magento-research/magento-eslint/commit/5a35555daba8dd9fbf401c04d28e021e9dd563db) which provides access to the `eslint-plugin-react-hooks` plugin. So let's upgrade!

[2019-06-17 18:14] sirugh opened #1359 "[feature]: Image middleware should allow `height` and `crop`"
**Is your feature request related to a problem? Please describe.**
The product images from sample data are 25:31 ratio.
The placeholder image we use is 4:5.

This is a difference of only a few pixels but it leads to a poor UX where we sometimes have a placeholder image that is too large (ie. on the category page) or we have a UI that "shifts" down/up when we render a placeholder and then replace i

[2019-06-17 20:12] supernova-at commented on #1331
This has been fixed on `develop`. Keeping the issue but removing the `MM19UK` label pending verification.

[2019-06-17 20:32] jcalcaben commented on #1162
Closing this issue since #1348 has been created to track the effort described by Zetlen in this issue.

[2019-06-17 20:32] #1162 closed

[2019-06-17 20:48] supernova-at commented on #455
Removing the `MM19UK` label until we can verify that this is still a valid issue.

[2019-06-17 21:31] zetlen commented on #1074
@Banhawy Sorry it took a while to get back to you. You'd look in `packages/venia-concept/dist/js` in the contents of those files. It can be hard on text editors to open files of that size, so you might want to use a terminal command like `head -n 5 packages/venia-concept/dist/js/client.js` to get the first five lines of the file only (and that may still be pretty large!)

[2019-06-18 05:04] narendravyas24 commented on #1281
Thanks for that information @soumya-ashok.
I would like to work on the change as suggested by you, please open the issue for the same and I can work on that.
Thanks.

[2019-06-18 07:01] VZeroCool opened #1362 "yarn run buidl failed with exit code 127"
I'm getting below error while build yarn

OS : Ubuntu 16.04 , Magento 2.3 develop

Any solutions to fix ??

[2019-06-18 10:39] jflanaganuk commented on #1209
#mmuk2019

[2019-06-18 10:52] supernova-at commented on #854
Related PR #1363 .

[2019-06-18 10:52] supernova-at commented on #1209
Related PR #1363.

[2019-06-18 11:02] shakyShane commented on #1285
I've tested this, it appears to already to be fixed in the pwa-studio repo.

On page load, the cart is always requested now which makes this a none-issue :)

[2019-06-18 11:04] supernova-at commented on #1330
@realchriswells is going to pick this one up! #mm19uk

[2019-06-18 11:10] supernova-at commented on #854
It turns out this issue is already fixed on `develop`. Verified on https://magento-venia-develop.now.sh/.

[2019-06-18 11:10] #854 closed

[2019-06-18 11:18] johnhughes1984 commented on #1181
I don't believe either of these issues require a fix within Venia at present.

Breaking this down into 2 issues:

1.  'Fashion Color name should match the mock color'

The reason the color label doesn't match the actual color output on the page is because the colors are actually being randomised because the values (i.e. hexadecimal codes) are not currently available from the GraphQL endpoint.  I d

[2019-06-18 11:19] supernova-at commented on #1285
Confirmed that this is no longer an issue on both the latest release: https://veniapwa.com/, and on `develop`: https://magento-venia-develop.now.sh/.

Thanks @shakyShane !

[2019-06-18 11:19] #1285 closed

[2019-06-18 11:56] supernova-at commented on #1181
Thanks for the great write up @johnhughes1984 !

Closing as not a valid issue.

[2019-06-18 11:56] #1181 closed

[2019-06-18 12:00] supernova-at commented on #1332
Note: The desired UX is that the tooltip should appear for 2-3 seconds after click and then go away.

[2019-06-18 12:04] supernova-at commented on #1329
@johnhughes1984 is going to pick this one up for `MM19UK` 💪

[2019-06-18 12:08] supernova-at commented on #1332
@realchriswells is going to pick this one up for `MM19UK` 💪

[2019-06-18 12:11] sirugh commented on #1329
This may already have a PR associated: https://github.com/magento-research/pwa-studio/pull/1264

[2019-06-18 12:24] supernova-at opened #1365 "MiniCart Product Images Issues Re-Requested"
**Describe the bug**
When you click on the checkout button in the minicart the product images are re-requested.

**To Reproduce**
1. Open the MiniCart with product(s) in it.
2. Open the network tab and click on the checkout button
3. See that the thumbnails are requested twice!

**Expected behavior**
The images should not be re-requested.

**Screenshots**
[![Image from Gyazo](https://i.gyazo.com/0

[2019-06-18 12:25] supernova-at commented on #1231
I broke this out into its own issue: #1365.

[2019-06-18 12:34] supernova-at commented on #1070
Hi @MarynaVozniuk, sorry for the delayed response - are you still interested in picking up this ticket?

[2019-06-18 12:36] supernova-at commented on #1108
I don't see any technical reason why we shouldn't do this and `node-glob` seems a sensible solution to me :thumbsup:.

I'm cool if @Jordaneisenburger makes this improvement for sure.

[2019-06-18 13:01] sirugh commented on #1362
Can you provide more information? A screenshot or copy-paste of your terminal after running the command?

[2019-06-18 13:10] VZeroCool commented on #1362
Sorry @sirugh That was my bad. I get it resolved by changing URL variable from backend URL to base.
Dont know read somehwhere but at almost all places told me to add backend URL and it throws error :(

[2019-06-18 13:12] #1362 closed

[2019-06-18 13:28] supernova-at commented on #1284
Desired UX likely includes pausing **all** toast timeouts on hover of any individual toast.

If a user is attempting to copy the text of the third toast in a list of seven, and other toasts below it start disappearing because their timeout expires, that would be frustrating as well.

[2019-06-18 13:33] MarynaVozniuk commented on #1070
Hi @supernova-at, I think this issue can be closed, as I fixed this bug, see - https://github.com/magento-research/pwa-studio/pull/1129.
Sorry, I didn't add the link right

[2019-06-18 15:22] #1209 closed

[2019-06-18 15:31] jflanaganuk commented on #1284
#mmuk2019

[2019-06-18 16:51] dpatil-magento opened #1369 "[bug]: Registered user gets random errors after adding product to cart then logout and then sign-in back."
**Describe the bug**
If a customer has product added to cart and login to Venia then random unexpected errors shows up. Cant access cart at all.

**To Reproduce**
1. Login as registered customer and add a product to cart.
2. Sign-out and re-login to venia storefront.

**Expected behavior**
After login, user should be able to access cart and there should not be any random errors.

**Actual behavior

[2019-06-18 16:57] dpatil-magento commented on #1369
Console - ` client.js?__WB_REVISION__=d3692fbb24f2dc347445:1830 Unhandled TypeError298 TypeError: Cannot read property 'startsWith' of undefined
    at joinUrls (https://magento-venia-develop.now.sh/js/client.js?__WB_REVISION__=d3692fbb24f2dc347445:2286:106)
    at makeOptimizedUrl (https://magento-venia-develop.now.sh/js/client.js?__WB_REVISION__=d3692fbb24f2dc347445:2286:136)
    at Product.styl

[2019-06-18 17:15] #1306 closed

[2019-06-18 17:17] #1329 closed

[2019-06-18 17:47] #1330 closed

[2019-06-18 18:57] soumya-ashok opened #1370 "Convert quantity selector from drop-select to open text field"
Currently, the quantity selector on the PD page for Venia functions like a drop-select that uses the native device UI

![Screen Shot 2019-06-18 at 12.38.35 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/100ea486-586d-49f0-b9c4-630c0930b518)

The recommendation is to change this input type to be an open text input that pulls up a numeric keyboard when engaged.

Use-cases to b

[2019-06-18 19:00] soumya-ashok commented on #1281
I've opened the issue - https://app.zenhub.com/workspaces/pwa-studio-5b23bf79d195c635a1a218ce/issues/magento-research/pwa-studio/1370 - I am still working through some details

[2019-06-18 19:58] #1299 closed

[2019-06-18 21:01] sirugh commented on #1331
@soumya-ashok that is the old style banner/toast.

We could convert this into a feature request to add a toast to that specific error case with that specific messaging you desire.

[2019-06-18 22:18] soumya-ashok commented on #1331
@sirugh Sure, I assume we would need to make sure this is consistent with other toasts anyway?

[2019-06-19 06:36] threescs commented on #1322
me too

[2019-06-19 07:53] codynguyen1 opened #1371 "[bug]: Lost session on graphql at PWADev local server"
**Describe the bug**
I created a new API and use it to save a value to the session (both customer and checkout session) from parameters, then try to get it on the same request (which does not contain parameter), it's working fine on localhost Magento 2.3.1 version, but got error (session value disappear) on PWA dev server graphql (with url like: https://magento-venia-jyovz.local.pwadev:8971/graphq

[2019-06-19 13:55] narendravyas24 commented on #1281
@soumya-ashok : Thanks, I will work on the same and will perform changes on the PR already raised.

[2019-06-19 15:59] cherdman opened #1373 "Knowledge Transfer: How to run MFTF on pwa-studio repo"
@tjwiebell @dpatil-magento are the only two members of the team who know how to run the MFTF test suite against PWA Studio. It behooves us to share this knowledge with other members as a team.

[2019-06-19 17:32] sirugh commented on #1331
@soumya-ashok not sure what you mean by "make sure this is consistent with other toasts". Can you clarify?

The image above shows a banner that no longer exists. That error will now appear in a toast. I am suggesting that we can wrap whatever component owns the `Add To Cart` button with an error handler that will add the toast with a more helpful message instead of the "unexpected error message"

[2019-06-19 20:14] soumya-ashok commented on #1331
@sirugh That sounds good. I was merely saying that this old error treatment would be replaced by the toasts you implemented.

[2019-06-19 20:17] sirugh commented on #1331
We should reopen/recreate an issue once we are done with the peregrine refactors to add better error messaging where appropriate. It'll need to wait until the refactors because you can only use toasts within a function component.

[2019-06-19 20:17] #1331 closed

[2019-06-19 22:23] #1312 closed

[2019-06-20 03:31] threescs opened #1375 "[doc]: Missing documentation for publishing to production environment"
Hello pwa-studio developers , I want a simple release production documentation. For example, execute the package.json script.

[2019-06-20 14:17] jcalcaben commented on #1375
Hi @threescs, have you read our topic for deploying to Cloud?
https://magento-research.github.io/pwa-studio/tutorials/cloud-deploy/

[2019-06-20 14:33] #1273 closed

[2019-06-20 18:57] sirugh opened #1377 "[bug]: Fix useEffect dependency warnings in toasts"
**Describe the bug**
After adding the eslint plugin for hooks we identified that there is a potential to introduce bugs around some apis such as `addToast`.

Currently, a component may import and use `addToast` within a `useEffect` hook like so:

[code]

The above code would throw an eslint warning because `addToast` should be provided as a dependency to `useEffect`. However, if you add the `addTo

[2019-06-20 19:16] tjwiebell commented on #1377
This may also be helpful when coming up with a solution:

https://reactjs.org/docs/hooks-faq.html#how-do-i-implement-getderivedstatefromprops

[2019-06-21 12:22] rakeshgsharma commented on #1107
@soumya-ashok Is there any react based implemention done for the components like sales banner, new arrivals, etc. I can't seem to find any in the venia-concept/components. In the documentation also, there are  just reference images and no implementation in react. Will I have to write the HTML for them on my own?

[2019-06-21 13:27] #978 closed

[2019-06-21 13:36] dpatil-magento opened #1379 "Add "publishConfig" to "graphql-cli-validate-magento-pwa-queries" package to be in sync with other packages."
Issue - "graphql-cli-validate-magento-pwa-queries"   Does not have "publishConfig" key. For release automation we need this instead of blindly publishing all packages under `packages` directory.

{
  "name": "graphql-cli-validate-magento-pwa-queries",
  "version": "1.0.0",
  "description": "graphql-cli plugin for validating all queries in a Magento 2 PWA project",

**Peregrine example**
{
  "name"

[2019-06-24 08:33] riddhishbhayani commented on #569
Hello @ennostuurman  I am facing the same issue. tried with multiple setups but still cant figure out the root cause. I am using WAMP in Windows is that the issue ?

[2019-06-24 14:27] sirugh commented on #1297
Looks like this is related to pagination. When a category page first loads without a `page` query param the code sets it to `1` although the actual `currentPage` is `0`. This forces the `useEffect` in the Category component to re-run, which re-queries!

[2019-06-24 18:11] awilcoxa commented on #1373
Expected output: Generate clear documentation for using the tools to run the full test suite in the existing CI environment.

[2019-06-24 18:19] zetlen commented on #720
Rather than integrating an additional third-party tool for security vulnerabilities, we will have a much more robust CICD process if we just work with GitHub's [automated security patches](https://help.github.com/en/articles/configuring-automated-security-fixes) when they hit mainline.

[2019-06-24 18:19] #720 closed

[2019-06-24 18:21] awilcoxa commented on #1231
@sirugh are you actually working on this now?

[2019-06-24 18:23] awilcoxa commented on #982
consider impact of tab ordering as a part of this discovery effort

[2019-06-24 18:33] awilcoxa commented on #791
Can you try this on Node 10, if this still causes problems please verify that there are no existing bugs with jest integration and php storm. Also, can you try yarn clean all and yarn build all before running tests?

[2019-06-24 18:36] awilcoxa commented on #1336
Given the definition and direction of Peregrine, at this time we don't recommend storybook integration with the Peregrine library (which is not meant to contain visual components). We'll share more information/docs on this moving forward.

Also will remove storybook from Peregrine in a follow up ticket. Closing this ticket at this time.

[2019-06-24 18:36] #1336 closed

[2019-06-24 18:39] awilcoxa commented on #907
Using yarn vs npm is now the recommended approach. We'll update docs to reflect this.

[2019-06-24 18:39] supernova-at opened #1380 "Remove Storybook from Peregrine"
Given the definition and direction of Peregrine, at this time we don't recommend storybook integration with the Peregrine library (which is not meant to contain visual components).

As such, please remove Storybook from Peregrine.

Note that we may add this functionality back later if it becomes relevant.

[2019-06-24 18:39] supernova-at commented on #1336
Please see #1380.

[2019-06-24 18:39] soumya-ashok commented on #1107
@rakeshgsharma The only image carousel that has been implemented is the one currently on the product detail page.

As far as I know, we do not have any implementations of any of the static / marketing banners in the proposed design at the moment.  Are you interested in contributing this work?

[2019-06-24 18:42] awilcoxa commented on #908
@zetlen

[2019-06-24 18:43] awilcoxa commented on #933
@dereklew  can you please provide detailed repro steps?

[2019-06-24 18:45] awilcoxa commented on #934
This should be fixed when #1224 lands.

[2019-06-24 18:48] sirugh commented on #1231
@awilcoxa this issue, #1231, will be resolved by #1268.

[2019-06-24 18:49] awilcoxa commented on #1028
@zetlen: "Any URL ending in .html will first be checked to see if it is an SEO URL to a catalog page. This is standard Magento 2 behavior. Adding custom routes requires both editing the renderRoutes file and the UPWARD configuration file right now...a better approach is currently in planning."

[2019-06-24 18:49] zetlen commented on #908
The documentation should have been clearer that using `@magento/venia-concept` as a dependency was a temporary approach. In the future we'll make it clearer when a page in our documentation is experimental.

Very soon, we will debut a better way to include Venia components and we will support it going forward. For now, @tonai, thank you for your patience; your best bet is to copy and paste code un

[2019-06-24 18:49] #908 closed

[2019-06-24 18:49] #1028 closed

[2019-06-24 18:50] awilcoxa commented on #1089
this is likely a duplicate of #908. Closing as duplicate but will track against 908.

[2019-06-24 18:50] #1089 closed

[2019-06-24 18:52] awilcoxa commented on #1128
Needs a more comprehensive approach/response from architecture. Will move forward for team grooming.

[2019-06-24 18:57] awilcoxa commented on #1317
Closing, if you're still having the issue @gauravharsh15 please reopen

[2019-06-24 18:57] #1317 closed

[2019-06-24 18:59] awilcoxa commented on #1322
team to repro and investigate

[2019-06-24 19:01] supernova-at commented on #1128
This is what needs a more comprehensive approach from architecture. We'll get this prioritized.

Since your PWA will take over as your front end, all backend plugins will work and front end plugins will not.

There are some SEO benefits currently but the big missing piece is server side rendering (SSR). We're also currently in design on this.

Yep!  There are already a handful of PWA Studio PWAs i

[2019-06-24 19:52] #1357 closed

[2019-06-24 20:55] #1272 closed

[2019-06-24 21:10] supernova-at commented on #1223
@khoa-le Taking a look at your #1252 now :thumbsup:

[2019-06-24 22:23] #1145 closed

[2019-06-24 22:29] dpatil-magento opened #1383 "CICD - Release automation improvements."
1. Make version label on individual PR's mandatory. Scan for highest major/minor/patch for each package and then publish. Current approach is manually updating version for each package in config file.
2. Try for tools like yarn/npm or lerna for updating dependencies and devdependecies.  Current approach is shell script for find and replace.
3. `gren release`  creating its own release notes instead

[2019-06-25 14:52] #1314 closed

[2019-06-25 17:11] dpatil-magento opened #1384 "CICD - AWS pipeline `pwa-stable` is failing on deploy step."
Issue - `pwa-stable` is failing on deploy step.
Expected - After push to `master` , this pipeline should be successful.

Issues might be because of aws.json pointing demo pipeline.

[2019-06-25 17:52] sirugh opened #1385 "[bug]: loadingIndicator import in cartOptions.js is invalid"
**Describe the bug**
We updated the loading indicator to export a `fullPageLoadingIndicator`. We missed one spot in merging in `cartOptions`.

[code]

**To Reproduce**
Check out develop and `yarn install` and `yarn build`. You'll see the warning.
**Expected behavior**
A clear and concise description of what you expected to happen.

**Possible solutions**
Update the imports to the proper name and d

[2019-06-25 18:06] zetlen opened #1386 "[bug]: SearchTrigger button does not have an accessible name"
**Describe the bug**
The search trigger in the header contains a `<button>` element which violates accessibility guidelines by not having an accessible name.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Lighthouse on https://magento-venia-develop.now.sh
2. Scroll down to the Accessibility section.
3. Expand the "Buttons do not have an accessible name" warning.
4. See error

**Expected

[2019-06-25 18:08] zetlen commented on #1385
My bad.

[2019-06-25 19:43] #1303 closed

[2019-06-25 20:36] dpatil-magento opened #1389 "Post Release Activity : Merge `master` to `develop`"
Post Release Activity -
1. Merge `master` branch back to `develop`.
2. Resolve any conflicts
3. Test

[2019-06-25 20:52] supernova-at opened #1390 "[feature]: Update Swatch Treatments"
Immediately upon color selection on the product detail page, this is the current state -

![Screen Shot 2019-06-12 at 2.01.13 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/3b09e4c7-e928-4744-bdd0-961678172613)

The desired state is -

![Screen Shot 2019-06-25 at 9 37 21 AM](https://user-images.githubusercontent.com/25960021/60107706-f833a480-972c-11e9-8a7b-74ba3a0c63b2.png)

[2019-06-25 20:54] supernova-at commented on #1390
This issue has been assigned to @realchriswells.

[2019-06-25 20:56] supernova-at commented on #1332
Closing in favor of #1390.

[2019-06-25 20:56] #1332 closed

[2019-06-26 14:25] #1343 closed

[2019-06-26 16:09] #1347 closed

[2019-06-26 16:36] #1385 closed

[2019-06-26 20:07] #1223 closed

[2019-06-26 20:44] #1295 closed

[2019-06-27 11:27] PiotrSzlagura opened #1394 "How to add custom route, or handle cms page?"
**Describe the request**
Hello!
I'm trying to run some custom routes and cms pages using PWA Studio, but I have no idea where to start. I found that you use `urlResolver` from graphql, but so far it can't handle cms pages or my custom url rewrites. Where should I start? I failed to find anything regarding this topic in docs.

**Possible solutions**
It would be great if documentation included instr

[2019-06-27 13:50] khoa-le commented on #1386
Hi @zetlen . I try to add name on button search but the warning of Lighthouse keep appear. I see a link [here](https://developers.google.com/web/tools/lighthouse/audits/button-name) have suggest "For <button> elements and elements with role="button"". I changed it from "name" to "role='button'" but that change conflict with the eslint rule  "jsx-a11y/no-redundant-roles". (Show error :  The element

[2019-06-27 15:33] sirugh commented on #1386
I think the solution requested here is to add `aria-label` ie: `aria-label={'Search Button'}`. The actual label text is debatable.

[2019-06-27 15:48] zetlen commented on #1386
Hey @khoa-le! @sirugh has given you the right advice here; because this button is not displayed like a standard HTML button, where the inner text is visible, it needs an `aria-label` attribute so screen readers can describe it. If you can make that change to #1395 then we'll merge it right away!

[2019-06-27 16:17] zetlen commented on #1305
This is a good observation! Pagination should be handled entirely within the `usePagination` hook, with the URL query parameters never directly accessed. But "ownership" of that parameter is not entirely clear yet. We're having the discussion in #1381.

[2019-06-27 16:32] jcalcaben opened #1396 "[doc]: Audit docs for uses of the term `UI Component`"
**Describe the request**

As suggested by @jimbo :

https://github.com/magento-research/pwa-studio/pull/1376#issuecomment-506417688

**Possible solutions**

Do a search in the docs for the term and update as necessary.

**Screenshots**

n/a

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [ ] Topic Change

[2019-06-27 16:37] sirugh opened #1397 "[discussion]: How should we handle logging around `useReducer` and other hooks?"
**Is your feature request related to a problem? Please describe.**
With the advent of `useReducer` usage we will inevitably lose some of the logging currently handled by our [logging middleware](https://github.com/magento-research/pwa-studio/blob/develop/packages/venia-concept/src/middleware/log.js). We should replace it with something similar.

**Describe the solution you'd like**
Some logging so

[2019-06-27 16:45] #1340 closed

[2019-06-27 17:38] #1389 closed

[2019-06-27 18:12] tjwiebell opened #1399 "[feature]: Prevent PRs to master with Danger"
**Is your feature request related to a problem? Please describe.**
Community and team members may accidentally create PRs to `master`, which can easily slip through if you're not paying close attention. There is no current use case to create *any* PR to `master`, so we should prevent the behavior entirely.

**Describe the solution you'd like**
Update Danger to detect PRs against `master` and autom

[2019-06-27 18:51] sirugh commented on #1399
https://github.com/magento/pwa-studio-cicd/pull/9 bingo bango bongo

[2019-06-27 19:40] #1294 closed

[2019-06-27 20:43] tjwiebell opened #1400 "[SPIKE] Venia App Caching and Cache Busting"
Placeholder for a few general problems with our ServiceWorker file, and how we're handling updates to the application.

### Problem
Currently, when an update is pushed out to Venia, you will almost certainly run into some unexpected behavior with caching, and the only way to recover is to do a nuclear cache clear (Chrome DevTools > Application > Clear Storage > Clear site data + Hard Refresh). Thi

[2019-06-27 21:38] #1116 closed

[2019-06-27 21:58] dpatil-magento opened #1401 "[doc]: Minor doc updates needed. related to pr 1224"
**Describe the request**
#1224 made some changes which needs update to our dev docs.

1. Now .env is created as part of `yarn build`  and there is no `.env.dist` anymore.
Remove - https://magento-research.github.io/pwa-studio/venia-pwa-concept/setup/     'cp packages/venia-concept/.env.dist packages/venia-concept/.env'  step.

2. upward file 'venia-upward.yml ' renamed to 'upward.yml'
Update - htt

[2019-06-28 01:48] khoa-le commented on #1386
![Screenshot from 2019-06-28 08-47-06](https://user-images.githubusercontent.com/1911347/60311431-696b9580-9981-11e9-8ddc-32a39a9f79c1.png)

It's awesome with 100. Thank you.

[2019-06-28 08:37] threescs opened #1402 "[doc]: Documentation instructions for deploying to aws"
Hello pwa-studio developer, I want to know how to deploy to aws, I need such a document description, thank you

[2019-06-28 09:32] threescs commented on #1402
The development environment will randomly generate a definable domain name and port, then how do I open the production environment to configure to aws

[2019-06-28 10:39] threescs commented on #1402
https://venia-git-develop.magento-research1.now.sh/

I found the Venia storefront, I really want to know how it was deployed. I really want to ask, thank you. Thank you.

[2019-06-28 10:41] threescs commented on #1384
I also want to know, please let me know. Thank you.

[2019-06-28 11:28] zetlen opened #1403 "[feature]: Shareable Babel "preset" package to simplify build config"
Peregrine and Venia modules should be easy to consume in a third-party app, like any PWA created with the future scaffolding CLI. But in order to consume it, you need to be able to parse and transpile it.

Right now, we have no guarantees about transpiler configuration outside of this repository itself. So we have to keep Peregrine code, Venia code, and any other code that Webpack may bundle, alig

[2019-06-28 12:38] #1386 closed

[2019-06-28 15:29] sirugh opened #1405 "[feature]: Refactor local state for checkout out of redux"
**Is your feature request related to a problem? Please describe.**
Currently almost all state used within checkout is managed via redux.
Now that we have hooks and are using function components we can more easily manage local state without having to use something like redux.

**Describe the solution you'd like**
I want to evaluate the usage of redux within `Checkout/` and refactor to local state t

[2019-06-28 21:45] #1359 closed

[2019-06-29 12:53] jaimin-ktpl commented on #1322
Hello @ksandr-dev , Would you please add the content for file `templates/userSetting-shell.mst`. I have checked the same with `templates/generic-shell.mst` and its working fine with the provided URL structure.

[2019-07-01 14:57] dpatil-magento opened #1407 "Fix AWS `develop` branch build deployment."
https://develop.pwa-venia.com/    Errors out with 502 gateway error.

[2019-07-01 21:11] dpatil-magento commented on #1407
@zetlen  I have following in docker/.env.docker.prod

`NODE_ENV=production
STAGING_SERVER_HOST=localhost
STAGING_SERVER_PORT=8080
# magento graphql backend set to production mode
MAGENTO_BACKEND_URL=redacted
UPWARD_JS_UPWARD_PATH=upward.yml
CUSTOM_ORIGIN_ENABLED=0
UPWARD_JS_BIND_LOCAL=1
UPWARD_JS_LOG_URL=1
CHECKOUT_BRAINTREE_TOKEN=redacted`

on AWS docker log, I see following.

`yarn run v1.12.3
$

[2019-07-03 09:12] Akiyama246 opened #1409 "Graphql request with "Store" in header doesn't return the correct data from specific store."
**Describe the bug**
Graphql "Store" header value is set, but data from all store is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to graphql playground or tools that could query graphql
2. Query for CmsBlocks for example
3. Set "Store" header value to a specific store. (assume having 2 stores, A and B. "Store: B" header is set in graphql request)
4. CMS block data from all st

[2019-07-05 08:35] Jordaneisenburger opened #1412 "[bug]: CartCounter is not persistent after page reload"
**Describe the bug**
When a users adds a product to the cart the item counter gets updated in the header. But when the user refreshes the page (cntrl+r) the counter is not displayed anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Add product to cart
2. Refresh page with cntrl + r
3. See cart icon there should be a item count

**Expected behavior**
We expect the counter to be persist

[2019-07-06 19:57] umair-khanzada commented on #970
@JeoffScott Have you solved this issue I am facing the same one in windows 10.

![image](https://user-images.githubusercontent.com/8782817/60760653-1add8b80-a052-11e9-9e1f-c0c414f1cd65.png)

[2019-07-08 09:46] anthonyhacart opened #1413 "[docs]: Add "How to add env variables to .env" to docs"
**Describe the bug**
If I want to select another website using MAGENTO_WEBSITE_CODE variable in the .env file, Venia still grab the defautl website products

**To Reproduce**
Steps to reproduce the behavior:
1. Go to .env of venia-concept
2. Change MAGENTO_WEBSITE_CODE and put another website from your current Magento
3. Recompile and run Venia
4. See the results, all products and categories come

[2019-07-08 11:27] MarynaVozniuk commented on #1413
@magento give me develop instance

[2019-07-08 13:50] diazwatson opened #1414 "[bug]: No such file or directory creating .env file"
**Describe the bug**
Running the command yarn buildpack create-env-file packages/venia-concept to generate the .env file throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command yarn buildpack create-env-file packages/venia-concept

**Expected behavior**
[code]

**Actual**
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additiona

[2019-07-08 14:23] sirugh opened #1415 "[feature]: Update to react-feather 2.0"
**Is your feature request related to a problem? Please describe.**
We do some specific importing of react-feather which is less desirable than just using the named exports. We did this because old react-feather did not support tree-shaking.

**Describe the solution you'd like**
Update to react-feather 2.0.x and convert to named imports.

**Additional context**
May not be necessary if we plan on sw

[2019-07-08 15:07] jcalcaben commented on #1339
The code samples repository can be found at: https://github.com/magento-research/code-samples

It's companion CodeSandbox URL, which is used to embed live samples in the docs, is found at: https://codesandbox.io/s/github/magento-research/code-samples

[2019-07-08 15:15] sirugh opened #1418 "[bug]: Lazy-load braintree again!"
**Describe the bug**
Braintree's dropin is ~600kb parsed and I think ~80kb gzipped which is still BIG. We previously were lazy loading it but when #1309 was merged we undid that lazy load. We should get the lazy loading back but also make sure we keep the function component pattern.

https://github.com/magento-research/pwa-studio/pull/1309/files?file-filters%5B%5D=.js#diff-f027b8521137f7b866a9c952

[2019-07-08 15:34] jcalcaben opened #1420 "[doc]: Update configuration docs"
**Describe the request**

Docs need to be updated and published based on changes in #1224

**Possible solutions**

Revise and publish the following docs:
- pwa-devdocs/_drafts/configuration-management/index.md

Audit and revise as necessary, the following docs:
- pwa-devdocs/src/venia-pwa-concept/setup/index.md

**Screenshots**
If applicable, add screenshots to help explain the problem.

**Please

[2019-07-08 16:28] #1399 closed

[2019-07-08 16:40] #1339 closed

[2019-07-08 21:21] dpatil-magento commented on #1356
Need to attach “AWSElasticBeanstalkFullAccess”  policy to “codebuild-pwa-cicd-service-role2"  to continue with this one.

[2019-07-09 17:18] jcalcaben opened #1426 "[doc]: Update Venia Setup steps"
**Describe the request**

Changes in #1224 require an update to the Venia Setup steps.

**Possible solutions**

Update: pwa-devdocs/src/venia-pwa-concept/setup/index.md

**Screenshots**

n/a

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (ie. spelling, organization)

[2019-07-09 20:08] #1426 closed

[2019-07-10 14:34] sirugh commented on #1101
This issue will be "resolved" since we are reworking tooltips/swatches. See #1390

[2019-07-10 14:34] #1101 closed

[2019-07-10 14:35] sirugh commented on #1024
#1390 will make this unnecessary.

[2019-07-10 14:35] #1024 closed

[2019-07-10 14:40] sirugh commented on #1276
@soumya-ashok can you comment one way or other as to whether we want to add the "zoom" feature to our PDP images? If so we should discuss that here before you rework your PR @binucorra

[2019-07-10 14:43] sirugh commented on #1334
Blocked on #972

[2019-07-10 14:49] sirugh commented on #1293
@jimbo did this already get done in #1266? I'm confused as to whether we need this issue anymore.

[2019-07-10 15:17] sirugh opened #1429 "[bug]: create-account link doesn't work"
**Describe the bug**
Navigating to the `create-account` page is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://magento-venia-develop.now.sh/create-account

**Expected behavior**
The create account page should open

**Screenshots**
[![Image from Gyazo](https://i.gyazo.com/d19f1f4cc94e94b83c6c69f8d4d842e4.gif)](https://gyazo.com/d19f1f4cc94e94b83c6c69f8d4d842e4)

**Addit

[2019-07-10 15:20] soumya-ashok commented on #1276
@sirugh The design has an affordance for the zoom functionality on the PDP per this mockup - https://magento.invisionapp.com/share/YGOC5FM6EBQ

We have never discussed how we would like this functionality to work. Are we able to allow pinch-zoom on Venia?

[2019-07-10 15:26] sirugh commented on #1276
Pinch and zoom currently works on mobile through the native browser "magnifying" the page. I can show you in person if you like. This specific issue that was opened, based on the PR, seems to be wanting zooming on desktop.

[2019-07-10 15:42] sirugh commented on #1414
Will be resolved in #1404. Updated docs in #1420

[2019-07-10 15:42] #1414 closed

[2019-07-10 15:50] sirugh commented on #1322
@ksandr-dev you need to provide the `userSetting-shell.mst` file otherwise we cannot reproduce. Please do that and I'll re-open this issue.

[2019-07-10 15:54] ksandr-dev commented on #1322
[code]

[2019-07-10 16:03] sirugh commented on #1322
@ksandr-dev thanks! Can you also provide the component file you use for `userSetting` in `renderRoutes`

[2019-07-10 16:09] ksandr-dev commented on #1322
@sirugh
sorry, I can't do it. I think it doesn't matter.

[code]

[2019-07-10 16:26] sirugh commented on #1322
So I added all this code and I'm still unable to reproduce, sorry. Are you on `develop`? Or 3.0.0? The default bug template has some placeholders for you to provide information that helps us debug.

[2019-07-10 17:48] dpatil-magento commented on #1407
@zetlen Able to reproduce this issue on local env as well with below .env entries, I'm missing any variables?

NODE_ENV=production
STAGING_SERVER_HOST=localhost
STAGING_SERVER_PORT=8080
# magento graphql backend set to production mode
MAGENTO_BACKEND_URL=https://master-7rqtwti-vqnoqmbf7mivy.us-4.magentosite.cloud/
UPWARD_JS_UPWARD_PATH=upward.yml
CUSTOM_ORIGIN_ENABLED=0
UPWARD_JS_BIND_LOCAL=1
UPWA

[2019-07-10 18:27] prodev903 commented on #1322
version: 2.1.0

[2019-07-10 18:46] ksandr-dev commented on #1322
same

[2019-07-10 19:04] sirugh commented on #1322
OK -- we're doing some reworking of upward in the latest pwa-studio, so make sure you are developing against `3.0.0` or try develop if you want

[2019-07-10 20:35] soumya-ashok commented on #1276
@binucorra After discussion with @sirugh the direction we would like to adopt for the desktop zoom feature is to click the zoom icon, which will open a full screen gallery view with thumbnails, similar to what happens when you click the product image here - https://www.westelm.com/products/modern-industrial-metal-wood-writing-desk-h3541/?pkey=coffice-desks&isx=0.0 or with any products on Amazon wi

[2019-07-10 21:17] ericerway commented on #1400
Worth reviewing Workbox v5 (alpha) when this starts to see how this might be affected. https://twitter.com/workboxjs/status/1149021887709753344

[2019-07-11 11:50] awilcoxa opened #1432 "[Category Filtering]:Complete Category Filtering Feature w/ GQL"
In https://github.com/magento-research/pwa-studio/issues/361 we completed the UI requirements for Category filtering but at the time we were blocked on completion due to GQL dependency. That GQL requirement is now completed and so additional effort is required to connect the UI to the backing GQL endpoint.

GQL dependency: https://github.com/magento/graphql-ce/pull/259

**Describe the solution you

[2019-07-11 15:07] dpatil-magento opened #1433 "MFTF - Update develop branch with latest changes and release v3.0.0 for MFTF tests which are not dependednt on sample data."

[2019-07-11 15:07] #1433 closed

[2019-07-11 15:08] dpatil-magento commented on #1433
Should be opened in pwa-tests repo.

[2019-07-11 15:38] dpatil-magento commented on #1356
@cherdman You know anyone who can help with this in absence of @sharkySharks  ?

[2019-07-11 16:45] dpatil-magento commented on #1325
Checked with AWS team and they have opened Feature request to support "pull_request_edited" , ""pull_request_labeled" , "pull_request_unlabeled" etc.  Dont have direct link track ticket but we can check here https://aws.amazon.com/new/

[2019-07-12 05:36] binucorra commented on #1276
@soumya-ashok
Thanks for following this issue. I'd like to continue my contributions. Please provide the mockup.

[2019-07-12 11:25] mrRonyTran commented on #1052
Hey guys,

I also got the same errors.

Ubuntu 18.04
Magento 2.3.2 CE
yarn 1.16.0
node 10.16.0
npm 6.9.0
@magento/pwa-studio 3.0.0

$ graphql get-schema --project venia --insecure
⚠ request to https://magentoce232pwa.local/graphql failed, reason: getaddrinfo ENOTFOUND magentoce232pwa.local magentoce232pwa.local:443
Validating GraphQL queries in venia project...
✖ An error occurred:
Could not find

[2019-07-12 15:07] sirugh commented on #1432
@awilcoxa As far as I can tell we are still restricted to filtering products based on this schema: [ProductFilterInput](https://github.com/magento/graphql-ce/blob/dffe94dcd89a02ef3c3a7e5bec28f25346a9a67a/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L279-L315). If there is another way we are supposed to filter, I'd like to learn about it.

For context, we [currently filter](https://github.co

[2019-07-12 15:20] soumya-ashok commented on #1276
@binucorra Sounds good, I should be able to work on this next week. @sirugh Should we open a new issue with the mockups?

[2019-07-12 15:27] sirugh commented on #1276
@soumya-ashok no need, just edit this one.

[2019-07-12 17:07] sirugh commented on #1432
Ah, looks like this is related: https://github.com/magento/graphql-ce/issues/500

[2019-07-15 12:30] binucorra commented on #1276
Yes, @soumya-ashok Please edit this one.

[2019-07-15 15:39] awilcoxa commented on #1293
ticket is meant to address rework for logical components of minicart checkout.

[2019-07-15 17:15] dpatil-magento opened #1438 "CICD - Attach AWS Policies to IAM role via pull request"
TBD -  Need to check with @sharkySharks before we start working on this.

Example - attach as part of pull request AWS CLI - https://docs.aws.amazon.com/cli/latest/reference/iam/attach-role-policy.html

[2019-07-15 21:21] #1379 closed

[2019-07-16 13:46] jessetaverne opened #1441 "[bug]: Venia not rendering on iPhone 5s, iOS7"
**Describe the bug**
Veniapwa.com (and our app based on venia's codebase) doesn't render on iPhone 5s, iOS7.
According to [the devdocs](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements_browsers.html) for M2.3 this should be supported

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://veniapwa.com/ on an iPhone 5s, iOS7 (if you have a browserstack account, the

[2019-07-16 15:24] #1415 closed

[2019-07-16 15:38] #1418 closed

[2019-07-16 19:04] zetlen commented on #1384
@dpatil-magento Is this still happening to you? It looks like the most recent deploy succeeded.

[2019-07-16 19:14] dpatil-magento commented on #1384
@zetlen I did quick play around too work. And long term fix is in cicd private repo. Waiting for @sharkySharks to review.

[2019-07-17 03:52] mrRonyTran opened #1443 "[bug]: RequestError: Error: unable to verify the first certificate"
Hello,

I got some errors when I installed PWA.

**Describe the bug:**
RequestError: Error: unable to verify the first certificate.

**To Reproduce**
Steps to reproduce the behavior:
1. Build artifacts: yarn run build
2. Run the server: yarn run watch:venia

**Please complete the following device information:**
- Ubuntu 18.04
- Magento 2.3.2 CE
- @magento/pwa-studio version 3.0.0
- node v10.16.0
-

[2019-07-17 04:49] dpatil-magento commented on #1407
@zetlen  It worked after updating to 0.0.0.0. but the change needed in pwa-studio so created pr. please take a look #1444.

[2019-07-17 15:10] #1407 closed

[2019-07-17 19:04] #1429 closed

[2019-07-17 19:09] dpatil-magento opened #1445 "CICD - AWS Update braintree variable name in config files and parameter store."
From `BRAINTREE_TOKEN` To `CHECKOUT_BRAINTREE_TOKEN`

[2019-07-17 19:53] #1384 closed

[2019-07-17 20:41] dpatil-magento opened #1446 "CICD - Launch individual AWS ELB instance for each pwa-studio pull requests automtically."
Spike completed #1356.
Acceptance criteria -
1. user should be able access venia storefront on guessable url for every pull request created/updated/re-opened.
Ex : https://<pr-number><rest-static-url>

[2019-07-17 20:45] dpatil-magento opened #1447 "CICD - Remove CNAME in route53 and ELB environment after pull request is closed/merged."
Acceptance criteria-
1. Once pull request is merged then ELB app/env and related configs should be removed on AWS.

[2019-07-17 20:45] #1356 closed

[2019-07-19 15:37] #1403 closed

[2019-07-20 07:09] vinaysikarwar commented on #1317
I am also facing the same issue when run yarn install and my os version is
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

`warning " > @magento/babel-preset-peregrine@2.1.0" has unmet peer dependency "@babel/core@~7.3.4".
warning " > @magento/babel-preset-peregrine@2.1.0" has unmet peer dependency "@babel/plugin-proposal-class-properties@~7.3.4".
warning " > @mage

[2019-07-20 09:38] felipeblini commented on #763
I am using the last version, I am on Windows and following the docs, everything is going well in the steps of venia-pwa-concept/setup/ but I am stuck on the step 3. There is no command 'build' in the buildpack package. How should I procced?

[2019-07-22 13:11] niklaswolf opened #1451 "[feature]: Url-Resolver doesn't support Multistore-Setup"
Right now the urlResolver doesn't support multistore-setups.
https://github.com/magento-research/pwa-studio/blob/bf5a040944f94cadcdb5b1bb58d71bbf645eaa75/packages/peregrine/lib/Router/resolveUnknownRoute.js#L94

In the GraphQl documentation (https://devdocs.magento.com/guides/v2.3/graphql/send-request.html) it says, that you have to provide the store-code as an additional header. But since the hea

[2019-07-22 15:43] dpatil-magento commented on #1373
How to run MFTF - https://github.com/magento-research/pwa-tests

[2019-07-22 17:16] awilcoxa commented on #1370
related to #1324 need to review overall treatment and evaluate if we should do both changes togeter (stepper+open text) or simply one treatment

[2019-07-22 17:24] awilcoxa commented on #1135
closing as a duplicate of #476

[2019-07-22 17:24] #1135 closed

[2019-07-22 18:17] awilcoxa commented on #1432
https://devdocs.magento.com/guides/v2.3/rest/performing-searches.html

Needs additional GQL research to determine if we are blocked.

[2019-07-22 18:19] awilcoxa opened #1452 "Discovery: GQL research for filters"
We need to determine if there are any blockers for GQL filters that will prevent us from working on #1432

[2019-07-22 18:25] awilcoxa commented on #1413
Further discovery:
* all new variables must defined in the build pack variable definitions file; document this carefully so it's easy
* confirm how to access different website (store) catalogs through GQL

[2019-07-22 18:30] awilcoxa commented on #1441
iOS7 is not within current supported parameters based on market share. Closing ticket but we will update docs to reflect OS requirements

[2019-07-22 18:30] #1441 closed

[2019-07-22 18:37] awilcoxa commented on #1225
@jimbo @sirugh for further research

[2019-07-22 18:46] awilcoxa commented on #1052
@zetlen to weigh in

[2019-07-22 18:48] awilcoxa commented on #613
@cherdman to check in with Cris

[2019-07-22 18:50] awilcoxa commented on #1377
needs additional investigation for solution, but issue/bug warrants further discovery

[2019-07-22 18:53] awilcoxa commented on #1284
Moving to backlog, toasts feature is working as designed. This enhancement adds value but currently not a high priority. Will re-evaluate for future release.

[2019-07-22 18:55] awilcoxa commented on #1128
Social Auth is currently out of scope for PWA Studio. Closing but will re-open in future as needed.

[2019-07-22 18:55] #1128 closed

[2019-07-22 19:11] #1420 closed

[2019-07-22 20:14] dpatil-magento commented on #1071
@jimbo @sirugh Please check below observations -
1.  Desktop chrome browser > Home page, search results, category page shifts left on accessing Left/Right drawer.

![image.png](https://images.zenhubusercontent.com/5c585c5aecb0076f3e898431/e3fbfdaa-cb43-4b57-bde2-ad0ba680ad7b)

2. On Android - When user access shipping form and tap on Name field - Form shifts up and user cant see whats being typed.

[2019-07-22 20:47] #1345 closed

[2019-07-22 21:56] #907 closed

[2019-07-22 22:20] zetlen opened #1453 "[feature]: Add Content Security Policy to Venia"
**Is your feature request related to a problem? Please describe.**
Venia does not currently use any modern XSS prevention techniques beyond HTTPS and simple escaping. A production site with a serious security model must also use Content Security Policy, a system of headers which sets detailed restrictions on website behavior to prevent browser hijacking and other exploits.

**Describe the solution

[2019-07-23 05:17] narendravyas24 commented on #1370
Hi @awilcoxa :

Please let me know exactly what is to be implemented in this, in PR that I have raised #1324 stepper was implemented but as per discussion in #1281 I was suggested to use a open text instead.

Please suggest. Thanks.

[2019-07-23 14:52] niklaswolf opened #1454 "[bug]: MagentoRouteHandler gives InternalError instead of NotFound (404)"
When the urlResolver-Query can not resolve a URL (let's say '/asdf') it gives back NULL.
`{
  "data": {
    "urlResolver": null
  }
}`

Because of that `resolvedRoute` can not be destructered.
https://github.com/magento-research/pwa-studio/blob/70700cf7d9a745623cc9a44119520ff278d9c20e/packages/peregrine/lib/Router/magentoRouteHandler.js#L97

Which gets caught in the catch block, but because the `m

[2019-07-23 15:59] dpatil-magento commented on #1446
The pull request is in private repo.

[2019-07-23 15:59] dpatil-magento commented on #1447
Pull request is in private repo.

[2019-07-23 16:02] #1231 closed

[2019-07-23 16:02] #1319 closed

[2019-07-23 18:37] jcalcaben opened #1456 "[doc]: Update Venia Setup steps"
**Describe the request**

Recent changes in the codebase has made **Step 3** obsolete for setting up Venia.

**Possible solutions**

Remove this step and make sure the remaining steps still work.

**Screenshots**
N/A

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (ie. spelling, o

[2019-07-23 20:51] supernova-at opened #1459 "Out of Stock Products"
# Overview

A while back we closed ticket #1159 and now we display a message when a product is out of stock.

Ideally we'd still like to show the PDP with all the product's details instead of showing this message or popping up a toast containing this message.

Unfortunately an out-of-stock product's details aren't returned by GraphQL so we opened a ticket on their board (MC-17048).

It turns out t

[2019-07-23 20:58] supernova-at commented on #1459
Hi @soumya-ashok I added the `needs-ux` label for help with:

Long story short we now have the data we need to show the full PDP even for products that are out of stock. We just need to discuss how the UI/UX should differ for these products.

[2019-07-24 00:33] fooman commented on #1459
There is also a setting to allow stock to go negative, ie to backorder items. Plus the stock level for something to go out of the stock is also configurable.

![image](https://user-images.githubusercontent.com/455508/61756215-174a5280-ae0f-11e9-825e-0221e4009d02.png)

[2019-07-24 13:44] VitaliyBoyko commented on #791
HI @awilcoxa
On Node v10.16.0 the issue remains the same. Cleaning yarn build did not help either. Thanks!

[2019-07-24 13:47] VitaliyBoyko commented on #791
I've found a similar bug here https://stackoverflow.com/questions/50766289/configuring-jest-enzyme-to-run-tests-in-phpstorm. But with no solution there.

[2019-07-24 14:33] soumya-ashok commented on #982
Tab order should probably be linked to this ticket @awilcoxa since that is related to accessibility.

[2019-07-24 14:51] dpatil-magento commented on #1369
Verified on `develop` branch `https://magento-venia-develop.now.sh/`, issue does not happen anymore.

[2019-07-24 14:51] #1369 closed

[2019-07-24 15:07] jcalcaben commented on #1401
This issue will be closed when #1458 is merged

[2019-07-24 15:14] dpatil-magento commented on #903
Issue no more reproducible on `develop`. Closing this one.

[2019-07-24 15:14] #903 closed

[2019-07-24 15:39] dpatil-magento opened #1460 "[bug]: Desktop Only - Add product to cart > click checkout , without closing checkout right drawer > Sign in to account > Shows error."
**Describe the bug**
Add a product to cart and click on checkout button. Now without closing right drawer, click anywhere on the page then sign in to account from main menu. After login > User gets an error, PFA screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Venia and add a product to cart.
2. Click on checkout button.
3. Click on "Ship To" link. (Shipping address input form d

[2019-07-24 16:03] dpatil-magento commented on #827
No more reproducible on `develop` and also this part is being improved as part of $1449.

[2019-07-24 16:03] #827 closed

[2019-07-24 16:27] #1154 closed

[2019-07-24 16:40] awilcoxa commented on #1070
Closing issue as related PR has been merged.

[2019-07-24 16:40] #1070 closed

[2019-07-24 17:01] #1401 closed

[2019-07-24 17:01] #1456 closed

[2019-07-24 19:44] #1344 closed

[2019-07-24 19:52] #1297 closed

[2019-07-24 20:21] soumya-ashok commented on #982
Comprehensive list of things to meet WCAG - https://www.w3.org/WAI/WCAG21/quickref/

This would probably need to be broken down into granular tasks, and prioritized to be phased into the storefront / components.

[2019-07-24 22:26] soumya-ashok commented on #1459
@fooman How would you typically surface quantities below 0 on the product listing for the shopper? Would they be "waitlisted" or listed as "unavailable" with the option to notify when it becomes available, or would the shopper be able to add it to cart with the understanding that it could only be fulfilled past a certain restock date?

[2019-07-24 22:30] soumya-ashok commented on #1459
@supernova-at
We would also need to show "out of stock" status on a category listing, and here is one way we could do that
![Screen Shot 2019-07-24 at 5 23 45 PM](https://user-images.githubusercontent.com/25960021/61832968-7a9caa80-ae38-11e9-97f4-d82ded402c9b.png)

On the PDP, it could be a combination of elements like in the mockup below -
![Product Detail - Out of Stock](https://user-images.gith

[2019-07-24 22:40] brendanfalkowski commented on #1459
@soumya-ashok — Some cases:

For B2C, I've used a combination of:

- out of stock (red) (cannot be purchased)
- available on backorder (green) (can be purchased)
- backordered (gray) (with "notify me")

For B2B, some extra cases:

- The concept of "non-stock items" where the merchant never has inventory, but effectively drop-ships or just-in-time orders the item from the supplier/manufacturer. The

[2019-07-24 22:49] fooman commented on #1459
Magento currently has these options
![image](https://user-images.githubusercontent.com/455508/61833143-83888d00-aec7-11e9-9873-9804ae9007e7.png)
but it doesn't do much in terms of informing the customer out of the box on the PDP or catalog pages.

I know some maintain a custom product attribute that shows expected delivery timeframes (in warehouse - delivered in 1-2 days, on backorder - delivered

[2019-07-25 16:09] jimbo opened #1465 "[bug]: ApolloContext not available"
**Describe the bug**
The `react-apollo` module appears to no longer export `ApolloContext`. This causes an error in the build and at runtime; since the export is missing, the Apollo client can no longer be retrieved from context and queries can't be performed.

[code]

**To Reproduce**
1. `yarn watch:venia`
2. Open the app

**Expected behavior**

There should be errors in the build or the browser,

[2019-07-25 16:10] sirugh commented on #1222
I disagree. There are large tickets in progress for refactoring those components and I think we should separate the a11y concerns for each. For now this ticket should apply to the filter modal/view only.

[2019-07-25 16:12] #1071 closed

[2019-07-25 16:47] sirugh commented on #1390
@realchriswells how is this going? We are about to work on fixing the a11y for the filter modal and this will be part of it. If you are able to work on it, let us know, otherwise we will take over.

[2019-07-25 19:24] sirugh commented on #1222
Discussed with team but this will basically be blocked on #1432. It's just not a high priority right now as we have other modals that are closer to being refactored and functional.

[2019-07-25 19:27] soumya-ashok opened #1468 "[feature]: a11y for Mini-cart"
* Review and tweak keyboard tab order for the Venia mini-cart
See #1222 for possible related todos.

[2019-07-25 19:28] soumya-ashok opened #1469 "[feature]: a11y for Main menu"
* Review and tweak keyboard tab order for the Venia main menu
See #1222 for possible related todos.

[2019-07-25 19:28] soumya-ashok opened #1470 "My Account section tab order"
Review and tweak keyboard tab order for the Venia 'My Account' section

[2019-07-25 19:32] supernova-at commented on #1452
Just had a meeting with the GraphQL team, here's where we stand:

[GraphQL #500](https://github.com/magento/graphql-ce/issues/500) (MC-18450) may or may not be included in 2.3.3. We will know by August 9.

If the feature is included in 2.3.3 we can update Venia to use it and keep the existing UI / UX.

If the feature is not included in 2.3.3 we are left with a non-functional UI in Venia.
We have s

[2019-07-25 19:39] #1300 closed

[2019-07-25 19:49] #1298 closed

[2019-07-25 20:02] #1396 closed

[2019-07-25 20:06] soumya-ashok commented on #1459
@brendanfalkowski - Thanks for all the detailed information as always. The only case we have accounted for B2C now is similar to the third one you described where it is possible to add the item to a wishlist, but not purchase at this time. Would you recommend the path of "notify me" and collect the customer's email rather than "Add to wishlist"

In case 2, When available on backorder, does the cus

[2019-07-25 20:10] supernova-at opened #1472 "Migrate PWA Studio to magento Organization"
https://help.github.com/en/articles/transferring-a-repository#whats-transferred-with-a-repository
https://help.github.com/en/articles/transferring-a-repository#transferring-a-repository-owned-by-your-organization

# Plan of action:

🔁 denotes an item in progress

## Before the Move

- [x] Prune branches of `pwa-studio` repository
- [x] Identify CICD integrations that may potentially break
**Done:*

[2019-07-25 20:11] #1465 closed

[2019-07-25 20:12] soumya-ashok commented on #1459
@fooman For the options shown in the dropdown, these are my assumptions
No backorder - Same as case 1 in Brendan's comment
Allow qty below 0 - Same as case 2 in Brendan's comment
Allow qty below 0 and notify customer - Same as case 3 in Brendan's comment

Would this be correct?

[2019-07-25 20:23] brendanfalkowski commented on #1459
I wouldn't consider "add to wishlist" related to "add to cart" with respect to inventory status. Whether an item is saleable or not, I can't think of a reason that it shouldn't be saveable on a wishlist. So "notify me" is just an extra option.

It's been a while since I dealt with this, but I think most businesses will authorize the charge, but not capture the payment until the item is able to shi

[2019-07-25 20:24] awilcoxa commented on #1472
Are there any inbound/outbound links that we need to worry about breaking during the move? Docs, wiki, confluence, etc.?

[2019-07-25 20:26] supernova-at commented on #1472
We should definitely update those but GitHub will redirect for us in the meantime. The way I understand it, nothing will break. 🤞

[2019-07-25 20:35] brendanfalkowski commented on #1472
If we have a not-clone repo with a copy of all the code, and `magento-research/pwa-studio` is a remote that we forcefully pull from to get upstream changes...

As I understand it, that's how quite a few projects are keeping track and using PWA Studio today.

No idea if Git or GitHub gracefully handles that redirect. Probably not I'm guessing. Could be a confusing day weeks down the line if Git sta

[2019-07-25 21:35] fooman commented on #1459
@soumya-ashok yes the summary by @brendanfalkowski more than covers it.

Just to clarify what Magento currently does. With "Allow qty below 0 and notify customer" Magento will display the below "We don't have...." on the cart page after the product has been added:
![image](https://user-images.githubusercontent.com/455508/61910074-be51fa00-af87-11e9-910b-14c4603480bf.png)

with "Allow qty below 0"

[2019-07-26 07:20] codeAdrian commented on #613
@cherdman @awilcoxa I would like to work on this feature if it's free for taking.

[2019-07-26 10:37] Jordaneisenburger opened #1474 "[bug]: WARNING: heuristic fragment matching going on!"
**Describe the bug**
When you visit a simple product detail page you will see this error in the chrome console
`WARNING: heuristic fragment matching going on!`

Not 100% verified but when you visit a category page with multiple simple products the error gets thrown multiple times preventing the page from loading

**Please complete the following device information:**
 - Device [Mac]:
 - OS [e.g. iO

[2019-07-26 14:44] dpatil-magento opened #1475 "CICD - Research - Setup custom webhook for pull_request_closed"
Issue - AWS currently does not support webhook for pull_request_closed.  We need to find some solution to see if that can be done with Lambda function.

AWS suggested (They have not tried/tested) :
--> Create a API Gateway which has a endpoint url.
--> Specify endpoint url in the webhook for Github on the event PULL_REQUEST_CLOSED. Essentially, when a PULL_REQUEST_CLOSED event happens, you would m

[2019-07-26 14:56] supernova-at commented on #1472
Good point - @Jordaneisenburger that's how fallback studio works, right?

From what I understand, GitHub will redirect HTTP(S) and SSH requests to `magento-research/pwa-studio` to `magento/pwa-studio`. Those remotes should still be updated, but (at least in the short term) they will be redirected.

[2019-07-26 14:58] supernova-at commented on #1472
From https://help.github.com/en/articles/transferring-a-repository:

[code]

[2019-07-26 15:03] Jordaneisenburger commented on #1472
@supernova-at Fallback Studio is a full wrapper around the whole PWA Studio repo. It's used as a vendor and so Studio lives inside the fallback studio repo. Meaning that it wouldn't crash if the  Studio repo changed. I just have to update my upgrade script to get the latest Studio version from the new repo i think

[2019-07-26 15:19] dpatil-magento commented on #1475
Took a quick look and I don't think the suggested solution will work as there is not pull_request_close only webhook.
 ![image.png](https://images.zenhubusercontent.com/5c585c5aecb0076f3e898431/17de662a-745b-4ebe-8576-1979cedfa3e1)

[2019-07-26 15:59] supernova-at commented on #1452
We could create a ticket to use the REST API for this and open it up for community contribution since it is a highly desired feature by some key stakeholders.

[2019-07-26 16:07] sirugh opened #1476 "[bug]: pdp image jutter with transparent placeholder"
**Describe the bug**
The transparent placeholder is 4x5. Our sample data images are not 4:5 so manually enforce a crop where transparent placeholder is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pdp in desktop
2. Click on thumbnails and see image jutter.

**Expected behavior**
No page jutter since the placeholder and image are same size.

**Screenshots**
If applicable, add s

[2019-07-26 16:08] sirugh opened #1477 "[bug]: filter modal css is wrong"
The filter modal should appear similar to the left menu.

* slide out from left
* be 360px max width.

[2019-07-26 19:39] supernova-at commented on #1472
Okay here is EngCom's checklist from previous repository transfers:

1. Create full repo copy
1. Check redirects: GitHub, Wiki, Git console
1. Check list of outside collaborators. Move them to Community Contributors team with write permissions
1. Move to Magento org
1. Create DevOps tickets to update Jenkins configuration to use new location
1. Check CLA service integration
1. Backlog GitHub app i

[2019-07-26 20:28] supernova-at commented on #1472
Here is the full list of outside collaborators to add to the Community Contributors team:

0: {name: "zetlen", url: "https://github.com/zetlen"}
1: {name: "DrewML", url: "https://github.com/DrewML"}
2: {name: "jcalcaben", url: "https://github.com/jcalcaben"}
3: {name: "jimbo", url: "https://github.com/jimbo"}
4: {name: "supernova-at", url: "https://github.com/supernova-at"}
5: {name: "sirugh", url

[2019-07-26 21:47] #477 closed

[2019-07-26 22:10] VladimirZaets commented on #1472
@supernova-at.
About "Create full repo copy", we did it the first time, and yes, it's needed just to protect yourself from some extra cases.
1. We did duplicate using [GitHub mirror approach](https://help.github.com/en/articles/duplicating-a-repository).
2. No, you should transfer origin repository, duplicate it's just back up copy for an extra case.
3. The  fetch / pull / push and other manipulat

[2019-07-26 22:35] soumya-ashok commented on #1370
Feedback has been provided on the stepper PR. Since the work has already been done to implement the stepper, lets go with that approach once the feedback has been addressed @narendravyas24

[2019-07-26 22:43] soumya-ashok commented on #472
If this has not yet been worked on, we can keep the CTAs on the page (no sticky footer) but place them right under the configuration parameters. This is based on observations during a recent research study. We need some more time to validate if the sticky footer approach is suitable.

![Screen Shot 2019-07-26 at 5.42.54 PM.png](https://images.zenhubusercontent.com/5b89562fba905a6006740695/33334fcf

[2019-07-26 22:55] soumya-ashok commented on #1459
@brendanfalkowski and @fooman - Thank you for your comments, the screenshots are very helpful!

I will discuss with @supernova-at on how we would like to handle these cases and provide an update.

[2019-07-26 23:02] soumya-ashok commented on #900
@awilcoxa please review the question in my previous comment.

[2019-07-26 23:03] soumya-ashok commented on #1301
@jimbo to provide options based on discussion for what is possible to implement.

[2019-07-27 16:49] narendravyas24 commented on #1370
@soumya-ashok : Thanks a lot, hope to receive the feedbacks soon from other members as well so that I shall start.

[2019-07-27 22:17] kelvin2200 opened #1479 "Node js version fixed to 10.x. bug or expected?"
(some) Packages in pwa-studio have a node engine version fixed to 10.x... some require at least 10.x. Found this while trying to deploy on 12.6.0. Is this an expected behavior? Manually adjusting packages to use node ">=10.x" seems to work just fine, however, every deployment would require manual adjustment.

[2019-07-27 22:38] dpatil-magento commented on #1475
We can use github api, to get the list of closed PR's.
https://api.github.com/repos/magento-research/pwa-studio/pulls?state=closed

[2019-07-27 22:39] #1475 closed

[2019-07-27 22:41] dpatil-magento commented on #1325
#1475 solution can be used for this as well by getting list of open PR's.

[2019-07-28 12:27] sirugh commented on #1479
We changed this recently but I'm not sure if we meant to explicitly require `10.x`. @zetlen I think you made this change -- if so do you recall why you used the specificity?

[2019-07-29 08:00] realchriswells commented on #1390
Hi @sirugh - Looks like I am running out of time to get this finished. Might be best if it's taken over from me.

[2019-07-29 14:03] sirugh commented on #1390
Thanks for letting us know @realchriswells!

[2019-07-29 15:01] sirugh commented on #1365
Fixed in #1231

[2019-07-29 15:01] #1365 closed

[2019-07-29 15:39] #980 closed

[2019-07-29 16:07] sirugh commented on #1474
I'm not seeing this error. Can you share any more info? What constitutes a _simple_ product detail page?

[2019-07-29 16:34] zetlen commented on #1432
Posted [a comment](https://github.com/magento/graphql-ce/issues/500#issuecomment-516064481) in magento/graphql-ce#500 suggesting an alternate input structure that the GQL team _might_ find it easier to implement. They'd have to weigh in.

[2019-07-29 16:40] supernova-at commented on #1472
Integrations:
  * dangerJS
  * now
  * others TBD

[2019-07-29 18:15] Jordaneisenburger commented on #1474
@sirugh When i clone pwa-studio (no edits) and use the provided backend url and visit this page (see screenshot) i get the warnings. I tried the solution provided in this [medium](https://medium.com/commutatus/whats-going-on-with-the-heuristic-fragment-matcher-in-graphql-apollo-client-e721075e92be) post and it seemed to work but not all of the times if i recall correctly. Don't have enough knowled

[2019-07-29 18:38] #1346 closed

[2019-07-29 18:46] Jordaneisenburger commented on #1108
Problem seems to have been resolved. Check second last query file
![image](https://user-images.githubusercontent.com/19858728/62073886-e8364580-b241-11e9-9a09-96c20d51f2e0.png)

[2019-07-29 19:40] supernova-at commented on #1472
| User | Access |
| --- | --- |
| https://github.com/mehryar | Read |
| https://github.com/rowan-m | Read |
| https://github.com/tjwiebell | Admin |
| https://github.com/bbatsche | Admin |
| https://github.com/hrvojejurisic | Read |
| https://github.com/jahvi | Admin |
| https://github.com/antonkril | Admin |
| https://github.com/rganin | Admin |
| https://github.com/sirugh | Admin |
| https://git

[2019-07-29 19:58] supernova-at opened #1485 "[DO NOT MERGE] Update References to pwa-studio location in pwa-studio-cicd repo"
The `pwa-studio` repository is moving to the `magento` organization from the `magento-research` organization.

Update all references in the `pwa-studio-cicd` repo accordingly.

:warning: Added [DO NOT MERGE] to title because this should be only be merged after we move the repository to the `magento` organization :warning:

[2019-07-29 19:59] supernova-at commented on #1485
The accompanying PR is https://github.com/magento/pwa-studio-cicd/pull/13.

[2019-07-29 20:17] dpatil-magento opened #1486 "[bug]: Iphone 5/SE - Unable to select product attribute size/color in edit cart window if user first does scroll and then try to select color or size."
**Describe the bug**
Iphone 5/SE - Unable to select product attribute size/color in edit cart window if user first does scroll and then try to select color or size.  Issue does not happen on pixel3 might be because of bigger screen size.

**To Reproduce**
1. Add product to cart and go to Edit cart window.
2. Scroll page either up or down.
3. Try to select a size or color attribute.

**Expected beh

[2019-07-29 20:32] #1405 closed

[2019-07-29 20:34] Jordaneisenburger commented on #1477
Oops forgot to claim the issue.. can i have it? 😄

[2019-07-29 20:50] supernova-at commented on #1472
When we communicate the move to the community, this will be useful:

[code]

https://help.github.com/en/articles/changing-a-remotes-url

[2019-07-29 21:04] supernova-at opened #1487 "Update Now Configuration for Repository Move"
Our [Now configuration file](https://github.com/magento-research/pwa-studio/blob/a294b1fbad4c04b5a13e5af34ea26b1050f765f0/now.json#L7) should be updated to point to the `magento` organization instead of the `magento-research` organization.

[2019-07-29 21:48] sirugh commented on #1477
Already wrote the code!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jordan Eisenburger <notifications@github.com>
Sent: Monday, July 29, 2019 3:34:49 PM
To: magento-research/pwa-studio <pwa-studio@noreply.github.com>
Cc: Stephen Rugh <rugh@adobe.com>; Assign <assign@noreply.github.com>
Subject: Re: [magento-research/pwa-studio] [bug]: filter modal css is

[2019-07-29 21:54] #1477 closed

[2019-07-29 22:01] cherdman commented on #282
PR mentioned above has been merged.

[2019-07-29 22:01] #282 closed

[2019-07-29 22:08] cherdman commented on #46
Low priority and no action on this doc topic. The info already widely available outside of our own docs, so closing.

[2019-07-29 22:08] #46 closed

[2019-07-29 22:19] #1380 closed

[2019-07-29 22:19] cherdman commented on #447
Looking into CI/CD improvements, including integrating Lighthouse, Sauce Labs, and Web Page Test: https://app.zenhub.com/workspaces/pwa-studio-5b23bf79d195c635a1a218ce/issues/magento-research/pwa-studio/1185

[2019-07-29 22:19] #447 closed

[2019-07-29 22:25] cherdman commented on #657
We have some improved documentation on this now. Feel free to re-open if you still have questions! https://magento-research.github.io/pwa-studio/technologies/theme-vs-storefront/

[2019-07-29 22:25] #657 closed

[2019-07-29 22:27] #1013 closed

[2019-07-30 05:35] Jordaneisenburger commented on #823
I'd like to take ownership of this issue

[2019-07-30 05:58] Jordaneisenburger commented on #823
I'd like to take ownership of this issue

[2019-07-30 07:30] Jordaneisenburger opened #1489 "[FEATURE]: Breadcrumbs"
As a user I'd like to see breadcrumbs on most pages to give me a better idea of where I am while shopping.

**Describe the solution you'd like**
I'd like to see a new peregrine component that provides breadcrumbs

### JIRA issue for design
https://jira.corp.magento.com/browse/UXD-182

**Please let us know what packages this feature is in regards to:**
- [X] `venia-concept`
- [ ] `pwa-buildpack`
-

[2019-07-30 10:33] Akiyama246 commented on #1451
Is anyone actively working on this?

[2019-07-30 15:25] Jordaneisenburger opened #1490 "[bug]: Broken add to cart flow when product is out of stock"
**Describe the bug**
When in the store configuration "Display Out of Stock Products" equals "no" and one or more simple products on a configurable product are 'out of stock' even when qty is more than 0. The add to cart breaks with the following error.
![image](https://user-images.githubusercontent.com/19858728/62141550-0ad16880-b2ed-11e9-829b-a27e20fcbebd.png)

This happens because inside `src/pw

[2019-07-30 15:33] Jordaneisenburger commented on #1490
This seems to resolve the issue (at least in our setup). But not sure if this is a decent solution.

See highlight area in screenshot.
![image](https://user-images.githubusercontent.com/19858728/62143244-f2af1880-b2ef-11e9-8b22-3d2e7b3497b2.png)

[2019-07-30 15:37] Jordaneisenburger commented on #1490
seems to be related to https://github.com/magento-research/pwa-studio/issues/1459

[2019-07-30 16:00] #1446 closed

[2019-07-30 16:01] #1447 closed

[2019-07-30 16:32] jcalcaben opened #1491 "[doc]: Migration banner"
**Describe the request**

Since the pwa-studio repository is moving to another org, the URL for the docs site will change and visitors will get a 404 when visiting any old links.

**Possible solutions**

A banner needs to be put up as soon as possible to inform visitors of this change to mitigate the confusion.

**Screenshots**
n/a

[2019-07-30 16:38] supernova-at commented on #1472
# GitHub Pages Migration Plan

## tl;dr

The existing docs site is going to `404` after the repository moves.
We have to be proactive about communicating that the docs site has moved because GitHub will not automatically redirect traffic to it.

## Overview / Context

Currently, our repository publishes to a GitHub Pages site.

It accomplishes this by maintaining a `gh-pages` branch. When this bra

[2019-07-30 16:40] #1476 closed

[2019-07-30 17:44] supernova-at opened #1492 "Update GitHub Pages to Redirect to new location"
Our GitHub Pages site will not automatically redirect when the repository moves to the `magento` organization, it may serve stale content.

Update the GitHub Pages site before the move to redirect to http://pwastudio.io/ so that if stale content is served it will redirect to the new content.

Also update the 404 page to redirect.

See more details in https://github.com/magento-research/pwa-studio/

[2019-07-30 19:46] supernova-at commented on #1472
# Installing Required GitHub Apps

## bundlesize

https://github.com/siddharthkp/bundlesize

## Danger-JS

https://github.com/apps/danger-js

## Now

https://zeit.co/github

[2019-07-30 21:41] #1491 closed

[2019-07-31 00:43] #1479 closed

[2019-07-31 14:56] awilcoxa commented on #1452
I'm going to place this in blocked/hold for now until we hear the final outcome from GQL team on Aug 9th. Additional action items will be determined pending that update.

[2019-07-31 15:05] #1492 closed

[2019-07-31 15:34] zetlen opened #1502 "[feature]: Make Venia components less dependent on specific Webpack config"
Venia's root-relative imports and complex Webpack config file make it too easy to tightly couple its React components to the specific Venia app. If our code is to be portable this needs to change.

**Describe the solution you'd like**
- An abstraction of Webpack config into Buildpack
- Simplification and rigor applied to Venia

**Additional context**
Ultimately this will lead to modularity and a s

[2019-07-31 19:51] dpatil-magento opened #1503 "[feature]: Add support to run pwa-studio tests in a docker container"
**Is your feature request related to a problem? Please describe.**
Sometimes unit tests pass on local but fail on aws build.

**Describe the solution you'd like**
Add support to run tests on docker container.

**Describe alternatives you've considered**
NA

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-d

[2019-08-01 04:49] pratikhmehta commented on #626
Hello friends,

I need your help. I got an error
"failed: ServerParseError: Unexpected token < in JSON at position 0\n    at makePromise.then.catch.e". while i run yarn run watch:venia

Thanks in advance.

[2019-08-01 11:52] kelvin2200 commented on #1479
I remember reading somewhere through the docs about something related to this (can't quite remember), but i think the specificity was intentional, in order to prevent (potential) node bugs with un-tested versions. Initially it was fixed to 8.x then after testing with other versions it was moved up to 10.x. I can confirm it works for 12.6.0 on a centos setup, and with a local magento api.

[2019-08-01 12:26] dimitar-ivanov-tryzens opened #1504 "[bug]: Built in Docker container doesn't start a working server"
**Describe the bug**
When a docker container is started from the provided script it doesn't start a healthy working website. After a successful build, the webserver instead of loading Venia returns Invalid Host header

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `pwa-studio` root
2. Execute `bash docker/run-docker`
3. Wait for the image to build and for the dev server to start
4. Vi

[2019-08-01 13:11] dani97 commented on #1504
I too experience this issue. Because of this, I could not check service worker :(

[2019-08-01 15:12] #1305 closed

[2019-08-01 15:15] #1082 closed

[2019-08-01 15:15] #1030 closed

[2019-08-01 15:16] #934 closed

[2019-08-01 15:16] #933 closed

[2019-08-01 15:17] #932 closed

[2019-08-01 15:17] #869 closed

[2019-08-01 15:18] #390 closed

[2019-08-01 15:20] #446 closed

[2019-08-01 15:20] #409 closed

[2019-08-01 15:23] #960 closed

[2019-08-01 15:24] #455 closed

[2019-08-01 15:33] cherdman commented on #1452
Quick update: Talked to the GraphQL team and they have permission to work on this post-8/2 code freeze. However, there is still a lot of risk to getting this into 2.3.3. As stated, they'll know more by around August 9th.

[2019-08-01 15:34] jcalcaben opened #1507 "[doc]: Update repository links"
**Describe the request**

After the repository moves, all links need to be updated with the new location

**Possible solutions**

Search and replace `magento-research` with `magento` in the `pwa-devdocs` directory.

**Screenshots**
n/a

[2019-08-01 15:39] jedmao commented on #446
For context, I was told that Adobe has already opted against using Polyfill.io as not to rely on a 3rd party and/or perhaps for some performance implications.

[2019-08-01 16:19] supernova-at commented on #1472
Create ticket in JIRA - please check pwa-studio CLA integration

[2019-08-01 16:30] #1485 closed

[2019-08-01 16:36] sirugh commented on #455
@awilcoxa this is still technically a problem -- say you are log in on your phone and add an item to cart and then move to your computer and log in. In that scenario we display a grey box in place of the actual image because there is no image url in the cache (it's only on the phone!).

I actually noted this issue in a recent PR. The solution should probably be:

1) Check cache for image and displ

[2019-08-01 18:06] supernova-at opened #1509 "Update Repository References"
Please update all references to the repository in the `magento-research` organization. The repo now lives in the `magento` organization.

[2019-08-01 18:24] dpatil-magento opened #1510 "Research- Perfomance test framework for pwa-studio"
Some interesting  tools:
1. Lighthouse/Lighthousebot - https://github.com/GoogleChromeLabs/lighthousebot
2. Webpagetest - https://www.webpagetest.org/
                              https://github.com/marcelduran/webpagetest-api
3. Speedtest.io > Leaderboard > https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes

[2019-08-01 19:12] dani97 commented on #1390
@sirugh can you assign to me. I have made the changes. Need to write tests.

[2019-08-01 19:31] dani97 commented on #1390
Drafted PR #1512

[2019-08-01 19:45] jcalcaben commented on #1507
Closing as a duplicate of #1509

[2019-08-01 19:45] #1507 closed

[2019-08-01 19:46] brendanfalkowski commented on #1472
Suggestion: after the move, add PWA Studio to the pinned repositories for the `magento` org (top middle slot looks good).

[2019-08-01 21:38] niklaswolf commented on #1451
See https://github.com/mothership-gmbh/pwa-studio/blob/1451-urlresolver-multistore/packages/peregrine/lib/Router/resolveUnknownRoute.js
I'd be happy for some testcase contributions that cover these changes.

[2019-08-02 17:02] supernova-at opened #1519 "Now.sh"
After the repository move, `Now.sh` is reporting the following on Pull Requests:

The solution may be a configuration change in `Now.sh` itself, and/or an update like #1488.

[2019-08-02 17:07] supernova-at opened #1520 "Coveralls Reporting"
After the repository move, our Coveralls reporting is not working.

It is still pointing to the value from the repo in the `magento-research` organization:
![Screen Shot 2019-08-02 at 12.05.29 PM.png](https://images.zenhubusercontent.com/5bef16763560017fb6812f47/445b38d7-ab3f-47c8-88ef-20d68b607ff5)

The image is included in our main `README.md`:

If we update this to https://coveralls.io/repos/gi

[2019-08-02 17:22] dpatil-magento opened #1521 "CICD - Clean up `master` branch commit history in CICD repo."
CICD repo has unwanted commit messages added accidentally. Need to clean it up.

[2019-08-02 18:32] #1509 closed

[2019-08-02 19:38] #1487 closed

[2019-08-02 20:26] supernova-at commented on #1519
`magento-venia-develop` is an [alias](https://zeit.co/docs/v2/advanced/configuration/#alias) set in [our now.json file](https://github.com/magento/pwa-studio/blob/develop/now.json#L5).

A good first thing to try would be changing this alias, as we seem to be hitting collisions with it.

[2019-08-02 20:27] supernova-at commented on #1519
We probably don't need to change [scope](https://zeit.co/docs/v2/advanced/configuration/#scope) as #1488 tried to do.

[2019-08-02 20:32] supernova-at commented on #1519
I'm not exactly sure why Now is attempting to use `magento-venia-develop.now.sh` on a PR deployment though, I thought that was reserved for when we push to the default branch, `develop`.

[2019-08-03 00:59] brendanfalkowski opened #1523 "[bug]: /bin/sh: line 0: cd: OLDPWD not set"
**Describe the bug**
In a forked copy of PWA Studio that worked for several months of daily dev, suddenly it can't build. Running `yarn run build` terminates with this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn run build`

**Expected behavior**
Server should build and start.

**Additional context**
I cloned the same repo into a new folder, installed dependencies, ad

[2019-08-05 15:37] awilcoxa commented on #1474
We should/will tackle this as a larger effort for improving Apollo usage and overall performance. Backlogged for now.

[2019-08-05 15:39] awilcoxa commented on #1504
for follow up with @cherdman regarding docker resourcing

[2019-08-05 15:45] awilcoxa commented on #1486
Dev can you add a screen shot/gif of this?

[2019-08-05 15:45] awilcoxa commented on #1486
Also for follow up discussion, device support requirements.

[2019-08-05 16:25] supernova-at opened #1524 "Update Repository References in Internal Tools"
The repository has moved. Existing browser traffic to the old location (https://github.com/magento-research/pwa-studio) will redirect to the new location (https://github.com/magento/pwa-studio), but we should update references where possible in case that ever changes.

Places to change:
  - [ ] PWA Project Home in Confluence

[2019-08-05 16:25] supernova-at commented on #1524
@awilcoxa, @soumya-ashok are there other places like this we should change?

[2019-08-05 16:27] supernova-at opened #1525 "Delete pwa-studio-copy Repository"
The PWA Studio repository has moved. Before we moved it we created a copy called [pwa-studio-copy](https://github.com/magento-research/pwa-studio-copy) for backup purposes. This copy is no longer needed and can be deleted.

[2019-08-05 16:31] supernova-at opened #1526 "Move PWA Studio companion repositories"
Now that the `pwa-studio` repository has moved, we may want to move all or some of the following companion repositories:

- [ ] https://github.com/magento-research/upward-php
- [ ] https://github.com/magento-research/magento2-upward-connector
- [ ] https://github.com/magento-research/pwa-tests

[2019-08-05 16:32] supernova-at commented on #1526
@dpatil-magento , @zetlen, @tjwiebell :

1. Are there any other repositories that should be added to this list?
2. Are there any repositories that can be removed from this list?

[2019-08-05 16:50] supernova-at commented on #1472
Closing. Move complete!

[2019-08-05 16:50] #1472 closed

[2019-08-05 17:50] dpatil-magento commented on #1526
Looks good, nothing else I can think of.

[2019-08-05 18:09] awilcoxa commented on #739
Deferred for now but will revisit with Venia redesign/enhancements.

[2019-08-05 18:09] #739 closed

[2019-08-05 18:12] awilcoxa commented on #564
De-prioritizing as use case does not seem to valid for now. closing ticket.

[2019-08-05 18:12] #564 closed

[2019-08-05 18:14] awilcoxa commented on #400
Needs to be a request to GQL team. Will submit as feature/enhancement and link issue.

[2019-08-05 18:19] awilcoxa commented on #675
Should investigate implementing a simple version of venia that can be rendered in IE11 or outdated browsers.

As a part of addressing this issue, we should evaluate simply implementing messaging that informs the user that their browser is outdated and requires an update.

[2019-08-05 18:25] awilcoxa commented on #247
Will include in updated epic for SSR solution, @zetlen to link into new epic

[2019-08-05 18:27] awilcoxa commented on #641
Needs new investigation and discovery to determine extent of current issue.

[2019-08-05 18:28] awilcoxa commented on #642
Needs new investigation/discovery to determine extent of current issue.

[2019-08-05 18:31] awilcoxa commented on #643
Optimization to REST API is currently not a priority, we will instead resolve through use of GQL. Closing issue for now.

[2019-08-05 18:31] #643 closed

[2019-08-05 18:32] awilcoxa commented on #645
Closing for now, will revisit given future need.

[2019-08-05 18:32] #645 closed

[2019-08-05 18:38] awilcoxa commented on #1017
closing for now

[2019-08-05 18:38] #1017 closed

[2019-08-05 18:39] awilcoxa commented on #1099
implemented in previous PR

[2019-08-05 18:39] #1099 closed

[2019-08-05 18:40] awilcoxa commented on #1100
Closing for now.

[2019-08-05 18:40] #1100 closed

[2019-08-05 18:40] awilcoxa commented on #1115
addressed in #1498

[2019-08-05 18:40] #1115 closed

[2019-08-05 18:41] awilcoxa commented on #1144
Need to check with GQL to see if dependency is delivered

[2019-08-05 18:43] awilcoxa commented on #1160
Need to submit feature request to GQL and link to this ticket. Required for support of admin preview of a PWA

[2019-08-05 18:44] awilcoxa commented on #1179
@dpatil-magento can you add repro here and detailed description of the issue?

[2019-08-05 18:46] awilcoxa commented on #1180
@dpatil-magento @tjwiebell can you add more detail here for this feature request?

[2019-08-05 18:46] awilcoxa commented on #1186
@dpatil-magento can you add more detail?

[2019-08-05 18:47] awilcoxa commented on #1194
possibly addressed in #1498

[2019-08-05 18:58] awilcoxa commented on #1371
@zetlen @cpartica

[2019-08-05 18:59] awilcoxa commented on #1383
@dpatil-magento to validate issues and breakout to separate issues.

[2019-08-05 19:00] awilcoxa commented on #1394
#1499 contains refactors which will be documented before merge and should add clarity here

[2019-08-05 19:00] #1394 closed

[2019-08-05 19:01] soumya-ashok commented on #1524
@supernova-at I have a bunch of issues in the current backlog linked to UX items for tracking. Would those need to be updated?

[2019-08-05 19:08] awilcoxa commented on #1523
Fixed in #1498 by removing the CD commands

[2019-08-05 19:08] #1523 closed

[2019-08-05 19:24] brendanfalkowski commented on #675
IE11 support is very important for some B2B businesses. For one of my clients, that 14.5% share contributes $100M+ in revenue per year.

To me this is not a Venia problem, but a buildpack problem (aside from custom properties in Venia CSS).

PWA buildpack needs to transpile and polyfill the ES6 code being written so IE can understand it, and the application can't rely on service worker features to

[2019-08-05 19:25] dpatil-magento commented on #1486
This scenario is hard to capture as it happens only on device and not on desktop or Chrome dev tools mobile view.  But If you are unable to reproduce by following the steps please let me know.

[2019-08-05 19:27] #1519 closed

[2019-08-05 19:35] dpatil-magento commented on #1383
I will update this ticket as I start working on individual issues of this ticket.

[2019-08-05 19:37] dpatil-magento commented on #1180
Closing this ticket as its low priority item compared to other tickets in list. Also, it's not stopping us from running MFTF tests or to debug any MFTF test failure issues.

[2019-08-05 19:37] #1180 closed

[2019-08-05 19:47] dpatil-magento opened #1527 "[feature]: Enable/Disable Product attributes based on selected attribute."
**Is your feature request related to a problem? Please describe.**
On PDP page, Say if user selects Size option "M" then only show color options which are available in size M and disable rest color options with tool tip "Unavailable".

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-

[2019-08-05 19:50] zetlen commented on #1490
@Jordaneisenburger In your screenshot, it looks to me like `findMatchingVariant` ought to do the filtering. As it is, you're iterating through the variants at least twice, and maybe that's not necessary...

[2019-08-05 19:56] zetlen commented on #1371
Hey @codynguyen1, thanks for filing this in such detail. The GraphQL API does not automatically hook into the PHPSESSIONID cookie. Instead, you have to pass an OAuth bearer token through the `Authorization` header. Is your GraphiQL app doing this? If not, you can add headers to the GraphQL playground available in the PWADevServer.

[2019-08-05 19:56] dpatil-magento opened #1528 "[bug]: On PDP page if user selects size option then same images reload, unwanted api/graphql calls?"
**Describe the bug**
Go to Venia PDP page for configurable product and select size. Same Product images reloads which is not required.

**To Reproduce**
1. Go to Venia PDP page for configurable product example - /valeria-two-layer-tank.html
2. Select a size.

**Expected behavior**
Size should get selected and no other actions should happen.

**Actual behavior**
Same set of Images reloads which is

[2019-08-05 19:58] dpatil-magento commented on #1179
Closing this, created separate tickets with more details - #1527 and #1528

[2019-08-05 19:58] #1179 closed

[2019-08-05 20:01] jcalcaben commented on #1375
Moving to Blocked/Hold to bring up for discussion on the exact details we need to document about deploying to production.

[2019-08-05 20:34] zetlen opened #1529 "[feature]: Add static, compiled SSR to Venia"
Venia renders all pages dynamically and all requests through UPWARD. This is our current unified system for doing SEO and preload. We should change it. We should start delivering a fully statically served, client-rendered app to real users (mobile and desktop), as well as to fully rendering crawlers like Googlebot. We should only do SSR for the few relevant things (Link expanders for social media

[2019-08-06 05:35] Jordaneisenburger commented on #1490
@zetlen yep you are totally right. I checked the following (see screenshot highlight) and that seems to work as well.
![image](https://user-images.githubusercontent.com/19858728/62513507-9a5ea600-b81c-11e9-9673-03619587b5e0.png)

[2019-08-06 11:55] #1409 closed

[2019-08-06 13:19] Banhawy commented on #1290
I am here also trying to figure out how to set **Authentication header** in the upward graphql proxy. Our development servers require server authentication and I've had to use product endpoint just to be able to develop anything.

[2019-08-06 15:12] awilcoxa opened #1530 "EPIC: PWA Studio Internationalization/Localization"
Placeholder epic for effort to support internationalization and localization of PWA Studio. Goal: Support multi-locale storefronts with PWA.

[2019-08-06 15:57] supernova-at commented on #1375
The answer would be to have a Docker image that accomplishes this.

[2019-08-06 16:43] skynixukraine commented on #1092
@tjwiebell  probably, it is time reopen it and resolve the issue, is not?

[2019-08-06 18:24] supernova-at commented on #1520
The image has been updated to https://coveralls.io/repos/github/magento/pwa-studio/badge.svg in our main `README.md`.

The image returned is the "coverage unknown" image.

[2019-08-06 18:29] supernova-at commented on #1520
`pwa-studio` is listed in Coveralls' repository list for the `magento-research` organization, but not for the `magento` organization.

https://coveralls.io/github/magento-research
https://coveralls.io/github/magento

[2019-08-06 20:01] supernova-at commented on #1520
I have turned "On" Coveralls reporting for the `pwa-studio` repository in the `magento` organization.
I have updated the Coveralls Repo Token as well.

[2019-08-06 20:09] #1520 closed

[2019-08-06 20:23] supernova-at commented on #900
Not sure when this changed, but this is no longer the case in version 3.0.0: https://veniapwa.com/

[2019-08-06 22:27] soumya-ashok commented on #900
@supernova-at I see. That's odd. There will likely be changes to how we are handling cart item edits in the future, so in the interest of not adding scope at the moment, we can keep all editable parameters within the "edit" mode.

Any thoughts on my toast question in the previous comment?

[2019-08-07 04:50] codynguyen1 commented on #1371
Hi @zetlen ,
I see that pwa-studio is not modifying Header of request of apollo, do we have to do it manually and how to do that?
As I described above, the Graphql API is working fine if we do not use upward proxy server, so maybe there could be a solution that can be applied via Upward?

[2019-08-07 11:58] paales opened #1533 "[feature]: Remove all REST API endpoints from the system"
---

[2019-08-07 13:26] zetlen commented on #1502
Reopening because #1498 needs it as the tracking issue.

[2019-08-07 13:34] zetlen commented on #247
Related to #1529.

[2019-08-07 13:38] zetlen commented on #497
Hey @Vinai . Thanks for your infinite patience on this. (I imagine you checked this issue faithfully every day for months.)

I like the purpose of the backtick, but I think it might be better to do a major version of UPWARD which uses a variable prefix (like `@` or `$`) for _context_ lookups. Then, we no longer have to worry about disambiguation, so you could start saying stuff like

[code]

How's

[2019-08-07 13:39] zetlen commented on #791
@VitaliyBoyko Hey, is this still happening to you? It looks a lot like `babel-jest` isn't running, which might be the fault of the test runner. Can you please post a step-by-step repro so we can create this issue in our own copies of PhpStorm?

[2019-08-07 13:40] zetlen commented on #889
This is a very good point. However, we're closing this because #1529 will probably deprecate live DirectoryResolver resolution anyway, in favor of compile-time configuration that gets exported to nginx or Apache or Fastly, you name it. I bet you'd be happier with this anyway, @bbatsche .

[2019-08-07 13:40] #889 closed

[2019-08-07 13:42] zetlen commented on #1052
If this is still happening to you, would you mind posting the output of `curl https://magentoce232pwa.local/graphql`?

[2019-08-07 13:45] zetlen commented on #1194
I believe this has been fixed for a while, since `interactive` was an option in `configureHost`. If you're using Docker and you have an SSL terminator that works differently, then probably your best bet is to avoid `configureHost` altogether, which you can do by setting `CUSTOM_ORIGIN_ENABLED=0`.

[2019-08-07 13:46] zetlen commented on #1443
Does your backing Magento instance have a valid and locally trusted SSL certificate? If not, can you try using the `http://` URL as your `MAGENTO_BACKEND_URL` instead?

[2019-08-07 13:47] zetlen commented on #1451
This is a good observation and a real problem, but I don't think it will be fixed in `urlResolver`. We want to replace `urlResolver` with a clearer concept of `Route` in the schema. I'll link to that proposal document once it's ready. Then, it would be `Route` where we add multi-store capability and other conventions like that.

[2019-08-07 14:47] dpatil-magento opened #1534 "[CICD] Run MFTF tests as part of pull request"
Issue - For every PR which goes under QA, we are running MFTF tests on local docker container.  On AWS we have `pwa-mftf-test-staging` build but which runs on static URL after Manual deployment.

Solution - Update existing `pwa-mftf-test-staging` build to run on every Pull request.

[2019-08-07 14:51] dpatil-magento opened #1535 "[CICD] Update Danger message for pull requests."
Issue - We were not having setup to run nightly build for all open PR's, so we added generic message for danger to output.
Solution -
1.  Show error only when there is actually a PR template related error and not always.
2. Update message content, to indicate night build will update PR template  related danger errors.

Current Message - We are currently working on automating the PR metadata checks

[2019-08-07 14:56] niklaswolf commented on #1451
@zetlen Okay, I did not know about your plans to replace the urlResolver. I'm looking forward to see the proposal!

[2019-08-07 15:49] #1325 closed

[2019-08-07 19:01] dani97 commented on #1308
@supernova-at  @sirugh  @jimbo  we can refactor this to a function component and create a config map that holds error message, view component location against error code.

The `ErrorView` Component will receive the error_code as prop and we can get the component lazy loaded at runtime. The `view component`  can be decided and changed as a config.

Is this good to proceed?

[2019-08-08 11:10] Vinai commented on #497
Finally, an answer, I've almost given up after 9 months :)

I like the disambiguation, but for the purpose of specifying a one time string it would still require two records instead of one. So it's better because it's more readable but it's not as convenient as I would like it to be.

[2019-08-08 15:36] dpatil-magento opened #1539 "[CICD] - Report MFTF build status to pwa-studio pull requests"
Issue - MFTF build status is not showing under `pwa-studio` pull requests.

Solution - AWS only provides webhook for Primary source and pwa-tests in different repo. Need to make `pwa-studio` as primary source and add pwa-tests repo as secondary source. Update all file path refrences in buildspec and supporting files.

[2019-08-08 17:07] dpatil-magento commented on #1534
Related PR https://github.com/magento/pwa-studio-cicd/pull/16

[2019-08-08 18:21] #1502 closed

[2019-08-08 20:34] dpatil-magento opened #1540 "[CICD] - Release script updates"
Issue -
1.  .env.dist has been removed recently. so, `cp packages/venia-concept/.env.dist packages/venia-concept/.env` step will fail.

Solution - Just remove the step from build and creating .env will be taken care by `yarn run build`

2. pwa-studio #1379 is delivered, so need to un-comment npm publish condition.

[2019-08-08 21:18] dpatil-magento commented on #1540
Pull request - https://github.com/magento/pwa-studio-cicd/pull/17

[2019-08-09 12:30] Jordaneisenburger opened #1542 "[bug]: npx bundlesize will result in error"
**Describe the bug**
When you want to check the bundleSize this it will result in an error:
 `There is no matching file for ./packages/venia-concept/dist/js/{client,vendor}.js in /Users/jordan/experius/domains/pwa-studio `

**To Reproduce**
Steps to reproduce the behavior:
1. run `npx bundlesize`
4. See error

**Expected behavior**
Show PASS for all defined files

**Additional context**
The reason

[2019-08-09 15:40] dpatil-magento opened #1543 "[bug]: Update missing publishConfig key in package.json for upward-spec and upward-js packages."
**Describe the bug**
Update missing publishConfig key in package.json for upward-spec and upward-js packages to be in consistent with other packages.

**To Reproduce**
Steps to reproduce the behavior:
1. Check package.json content for upward-spec and/or upward.js

**Expected behavior**
 Key should be present -  "publishConfig": {
                                              "access": "public"

**

[2019-08-09 15:41] dpatil-magento commented on #1540
Blocked until #1543 is delivered.

[2019-08-09 15:50] #1534 closed

[2019-08-09 16:19] dpatil-magento opened #1545 "[bug]: Fix AWS nightly build failure issue"
**Describe the bug**
AWS nightly clean up build part is failing

**To Reproduce**
Steps to reproduce the behavior:
1. Check AWS nighty build logs

**Expected behavior**
Clean up build should not fail

[2019-08-09 16:34] dpatil-magento commented on #1545
PR - https://github.com/magento/pwa-studio-cicd/pull/18

[2019-08-09 17:26] zetlen commented on #1108
Excellent! Now that #1498 is merged and the `configureWebpack` function takes a special flag for `graphqlQueries`, I'd like to ask @Jordaneisenburger if it still works. It should now be driven by the presence of a file path in the UPWARD file, rather than a particular directory like `queries`.

[2019-08-09 17:41] zetlen commented on #1526
@supernova-at I think we have to move these as well:

https://github.com/magento-research/directive-parser (for parsing RootComponents)
https://github.com/magento-research/magento-eslint (for Magento-wide eslint config we should all use)

[2019-08-09 17:50] dpatil-magento commented on #1383
Removed `2. Fix #1379 - publishConfig related issue. Current approach is to publish anything under packages directory` as its being taken care by #1540

[2019-08-09 18:08] jcalcaben commented on #1526
should the code samples repository be moved too, or can it stay in magento-research?

[2019-08-09 18:24] zetlen commented on #1526
I think it can, since nothing is consuming it as a dependency.

[2019-08-09 20:56] dpatil-magento opened #1546 "[CICD] - Retire now.sh for pwa-studio"
As we have AWS instances running. We can retire now.sh deployments.

AWS -
`master` - https://prodtest.pwa-venia.com/
`develop` - https://develop.pwa-venia.com/
Individual PR's - https://PR-NUMBER.pwa-venia-staging.com/ example - https://pr-1536.pwa-venia-staging.com/

[2019-08-10 11:19] Jordaneisenburger commented on #1108
@zetlen it still works after the merge, well done!

[2019-08-10 11:19] #1108 closed

[2019-08-11 13:04] Jordaneisenburger opened #1547 "[BUG]: png's with transparent background are changed to black background"
**Describe the bug**
When product images are png's and have a transparent background the background will be changed to black by `@magento/expres-sharp` inside `packages/pwa-buildpack/node_modules/@magento/express-sharp/lib/transform.js` at line `17` format is hardcoded set to jpeg.

When i remove `format` from the object i get the desired effect: images with transparent backgrounds. You also want

[2019-08-11 14:04] DanielRuf commented on #1547
Seems the package still links to the old repo: https://www.npmjs.com/package/@magento/express-sharp

Where is the package hosted?

[2019-08-11 16:57] gauravagarwal1001 opened #1549 "[bug]: Sign in customer access create account page"
**Describe the bug**
Sign in customer is able to access create account page.

**To Reproduce**
Steps to reproduce the behavior:
1.  Sign in with customer detail .
2.  Now open create account page
3.  You are able to access create account page . Which is wrong customer need to redirect on home page or my account section.

**Expected behavior**
Customer need to redirect on home page or my account se

[2019-08-12 05:08] Jordaneisenburger commented on #1547
Looks to me like this is the package magento uses but also in this one the .jpeg seems hardcoded.
https://github.com/pmb0/express-sharp/blob/develop/lib/transform.js

[2019-08-12 05:14] DanielRuf commented on #1547
I don't think so. There is no recent change which relates to the last two releases on npmjs.

They forked it and host it under the magento org account.

But still links to the original repo owned by the creator, not any person from the Magento teams.

[2019-08-12 05:56] Jordaneisenburger commented on #1547
In terms of the bug i don't think it matters where the repo resides?

[2019-08-12 07:59] DanielRuf commented on #1547
At least if we want to fix it (contributors) ;-)
Would be great if we could contribute to it.

[2019-08-12 08:16] Jordaneisenburger commented on #1547
Agreed.

[2019-08-12 15:54] supernova-at commented on #1375
Assigned to Craig to escalate getting a Docker resource for this

[2019-08-12 15:56] supernova-at commented on #1452
This did not make it into `2.3.3`.

[2019-08-12 18:08] dpatil-magento opened #1550 "[bug]: Venia sample data repo's does not support PHP7.3"
**Describe the bug**
Magento 2.3.3 added support to PHP 7.3 but Venia sample data does not support PHP 7.3.

**To Reproduce**
1. Try to install venia sample data with PHP7.3
       “magento/module-catalog-sample-data-venia”: “dev-master@dev”,
       "magento/module-configurable-sample-data-venia”: “dev-master@dev”,
       “magento/module-customer-sample-data-venia”: “dev-master@dev”,
       “magen

[2019-08-12 19:18] zetlen commented on #1451
@niklaswolf I've opened the architecture proposal here! https://github.com/magento/architecture/pull/226

[2019-08-12 19:18] zetlen commented on #1451
I think we should rephrase this issue to cover multistore support throughout the PWA system. How would you feel about that?

[2019-08-12 19:23] zetlen opened #1551 "[feature]: Split Venia codebase into top-layer app and component library"
The Venia codebase consists of both reusable component code and fully integrate app code. Most implementors will want to use the former as a dependency, while managing their own copy of the latter. The current Venia codebase contains code that would never be imported as a dependency. Creating a new project requires either using fallback configuration or copying the entirety of Venia.

**Describe t

[2019-08-12 19:26] #1454 closed

[2019-08-12 19:48] cherdman commented on #1373
Dev's link above is sufficient to close out this issue.

[2019-08-12 19:48] #1373 closed

[2019-08-12 19:57] cherdman commented on #1375
New link to Cloud Deploy tutorial: https://magento.github.io/pwa-studio/tutorials/cloud-deploy/

[2019-08-12 21:02] supernova-at commented on #900
Loved it and added it to the acceptance criteria 😄

[2019-08-12 21:06] supernova-at commented on #900
Putting this on `hold` until #1328 (#1515) is resolved because this adds functionality on top of the `List` component that is being refactored in #1328.

Note to future self: If (1) configurable items can't be added to the mini-cart without the user selecting options first, and (2) those options appear immediately when editing an item, and (3) options can't be deselected, then there is no need to

[2019-08-12 21:46] #1543 closed

[2019-08-12 21:59] cherdman opened #1553 "[doc]: Tutorials and documentation on production deployment"
**Is your feature request related to a problem? Please describe.**
As a developer, I would like to learn about how to deploy my PWA to a production environment through documentation and/or tutorials.

**Describe the solution you'd like**
ex. Docker

**Describe alternatives you've considered**
Magento Cloud: https://magento.github.io/pwa-studio/tutorials/cloud-deploy/

*This ticket is in response t

[2019-08-12 22:01] cherdman commented on #1375
Created a new issue (https://github.com/magento/pwa-studio/issues/1553) to track this work and assigning to the backlog.

[2019-08-12 22:01] #1375 closed

[2019-08-12 22:38] #1551 closed

[2019-08-12 22:54] jimbo commented on #1293
@sirugh @awilcoxa
- All of the work to prepare for migration to Peregrine that could happen did happen in #1266.
- The work that couldn't happen (app state, REST calls) can't happen for the cart in isolation.
- Any remaining work should be tracked under "migrate app state to Peregrine" a la #1483

[2019-08-12 22:54] #1293 closed

[2019-08-13 06:41] sakshilakshkar commented on #1162
Any guidelines to make custom changes with PWA components or how to override them
How can venia components overridden ?

[2019-08-13 07:27] niklaswolf commented on #1451
@zetlen sure, go for it. I did not want to open such a big issue just out of a bug report, but as it turned out, it's of course a totally different point

[2019-08-13 12:10] sirugh commented on #1547
https://github.com/magento-research/express-sharp

[2019-08-13 13:39] sirugh commented on #1542
I think this can be fixed by just removing `js/` from the bundlesize config paths in the root package.json.

That said, we might want to consider updating these as I don't think they make sense anymore and we generate many more bundles than this checks. For example, there are the `RootCmp` files we should check along with `sw.js` and the renamed `vendor~client-[0-9]+.js` file.

[2019-08-13 14:49] Jordaneisenburger commented on #1547
@zetlen created a PR for this issue see https://github.com/magento-research/express-sharp/pull/1

[2019-08-13 17:42] supernova-at commented on #1322
Closing this issue as "Cannot Reproduce". Recommended solution is to upgrade to PWA Studio > `3.0.0`.

[2019-08-13 17:42] #1322 closed

[2019-08-13 18:02] #1540 closed

[2019-08-13 21:04] supernova-at opened #1555 "[bug]: Errant debugger statement in test file"
**Describe the bug**
An errant `debugger` statement made it into [the loadEnvironment test file](https://github.com/magento/pwa-studio/blob/4db08e08fa095933a99c0b242764a050d3e76851/packages/pwa-buildpack/lib/Utilities/__tests__/loadEnvironment.spec.js#L360).

This will pause execution while attempting to debug tests using `yarn run test:debug`.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-08-14 21:06] dpatil-magento commented on #1545
QA Pass.

[2019-08-15 08:15] Jordaneisenburger commented on #1441
@awilcoxa I don't think this is acceptable for a PWA I quote google "And most importantly, they're web apps that work in any browser." One of the concepts behind pwa's is progressive enhancement meaning it works everywhere but gets better depending on the browser's capabilities.

As @jessetaverne noticed there is a problem on iphone 5s, I've just now also discovered the same problem on
- Ipad mini

[2019-08-15 08:42] DanielRuf commented on #1441
This is because `AbortController` is only supported by modern browsers.
See
https://developer.mozilla.org/en-US/docs/Web/API/AbortController
https://caniuse.com/#feat=abortcontroller

We have to use a polyfill:
https://github.com/search?o=desc&q=abortcontroller&s=stars&type=Repositories

For example https://github.com/mo/abortcontroller-polyfill

Generally iOS 7 is also not supported by Apple anym

[2019-08-15 08:43] DanielRuf commented on #1441
This is because `AbortController` is only supported by modern browsers.

[code]

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/ReferenceError

See
https://developer.mozilla.org/en-US/docs/Web/API/AbortController
https://caniuse.com/#feat=abortcontroller

We have to use a polyfill:
https://github.com/search?o=desc&q=abortcontroller&s=stars&type=Repositories

For exam

[2019-08-15 08:45] DanielRuf commented on #1441
This is because `AbortController` is only supported by modern browsers.

[code]

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/ReferenceError

See
https://developer.mozilla.org/en-US/docs/Web/API/AbortController
https://caniuse.com/#feat=abortcontroller

We have to use a polyfill:
https://github.com/search?o=desc&q=abortcontroller&s=stars&type=Repositories

For exam

[2019-08-15 08:46] DanielRuf commented on #1441
This is because `AbortController` is only supported by modern browsers.

[code]

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/ReferenceError

See
https://developer.mozilla.org/en-US/docs/Web/API/AbortController#Browser_compatibility
https://caniuse.com/#feat=abortcontroller

We have to use a polyfill:
https://github.com/search?o=desc&q=abortcontroller&s=stars&type=

[2019-08-15 14:45] jcalcaben opened #1563 "[doc]: Environment variables documentation"
**Describe the request**

The environment variables defined in the [envVarDefinitions.json](https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/envVarDefinitions.json) file needs a documentation page.

**Possible solutions**

An auto-generated reference topic containing the same information as the definition file but in a more structured documentation format.

**Screenshots**

[2019-08-15 15:17] sirugh opened #1565 "Investigation: Dependency audit/cleanup"
## Goal

* We are multiple major versions behind several of our dependencies. Identify outdated dependencies and upgrade.

* Clean up unused dependencies in sub-packages such as `venia-concept`. ie `lodash.over`.

[2019-08-15 16:04] sirugh commented on #1565
[code]

[2019-08-15 16:58] #1549 closed

[2019-08-15 17:34] ericerway commented on #636
@awilcoxa do we need both epics for accessibility or can we consolidate? (reference: #623)

[2019-08-15 17:44] #1545 closed

[2019-08-15 18:01] sirugh commented on #1546
@dpatil-magento do we post a comment/have an easily accessible link in each PR now that AWS auto deploys? If not, we should :D

[2019-08-15 19:24] supernova-at commented on #1452
Closing this discovery issue as resolved: #1432 is blocked by [graphql-ce #500](https://github.com/magento/graphql-ce/issues/500).

[2019-08-15 19:24] #1452 closed

[2019-08-15 19:34] jcalcaben commented on #1402
Closing as a duplicate of #1553

[2019-08-15 19:34] #1402 closed

[2019-08-15 20:01] supernova-at commented on #1290
Unassigning folks, as automation moved the ticket to "in development" when that is not accurate.

Pinging @zetlen @jcalcaben instead.

[2019-08-15 20:02] supernova-at commented on #1112
@cherdman , your input is needed on this ticket.

[2019-08-15 20:06] supernova-at commented on #771
@jimbo any chance this is fixed in #1552 ?

[2019-08-15 20:09] supernova-at commented on #613
Hey @codeAdrian it looks like maybe we need some input from @cherdman, @cpartica, and @soumya-ashok before this is ready.

I'm going to un-assign you for now but when the team deems this ready it's all yours.

[2019-08-15 20:15] supernova-at commented on #476
Un-assigning @pcvonz as it has been ~9 months and the blocking ticket (https://github.com/magento/graphql-ce/pull/227) is still open.

We can re-assign when this issue is no longer blocked.

[2019-08-15 20:33] supernova-at opened #1568 "Investigate Replacing some CICD with GitHub Actions"
[GitHub Actions](https://github.com/magento/pwa-studio/actions) can perform a lot of the things we're currently doing in https://github.com/magento/pwa-studio-cicd such as running tests and linter on push, adding labels to pull requests based on which files changes (all of our `pkg:` labels), and more.

Our actions can be defined right here in our own repository, some other repo, or from a docker

[2019-08-15 21:38] #1412 closed

[2019-08-15 22:16] #1535 closed

[2019-08-15 22:16] dpatil-magento commented on #1535
Fixed.

[2019-08-16 14:14] kweij opened #1570 "[bug]: No category & product images displayed (404)"
**Describe the bug**
Images of categories & products are not shown on the frontend -- instead the request returns a 404. Following that image-url yields a 404 with the body-text:
`Error: ENOENT: no such file or directory, stat '/Users/kweij/Sites/m23pwa/venia/packages/venia-concept/dist/media/catalog/product/cache/71287b63bb7e25fa4a2739e268ab5a2f/v/a/va04-ll_main_2.jpg'`

**To Reproduce**
I have a

[2019-08-16 14:41] sirugh commented on #1570
@kweij we recently merged a big change to the structure of the repo. Can you try cleaning and reinstalling?

`yarn clean:all && yarn`
`yarn watch:all`

[2019-08-16 16:09] ericerway commented on #982
@awilcoxa @soumya-ashok Would it be worthwhile starting with Lighthouse considerations for Accessibility first on a page/route by page/route basis? We'll want to perform a formal audit with Accessibility in the future once we have the basics covered.

[2019-08-16 19:13] supernova-at commented on #1525
Done ☑️

[2019-08-16 19:13] #1525 closed

[2019-08-16 19:19] supernova-at opened #1573 "Update Contributing Guidelines"
**Describe the request**

Now that we have moved to the `magento` organization and we have a new process enforced by EngComm tools, we should agree on a process for ticket assignment and update our `CONTRIBUTING.md` file accordingly.

**Possible solutions**

The primary objective is to define a process that the community (and we) follow for assigning issues to community members.

[2019-08-16 19:52] supernova-at commented on #1546
It looks like [danger](https://github.com/magento/pwa-studio-cicd/blob/master/pwa-studio-configs/dangerfile.js#L468-L469) should be doing that for us.

[2019-08-16 19:54] dpatil-magento commented on #1546
@supernova-at   Mr @sirugh implemented it :)

[2019-08-16 20:35] supernova-at commented on #1524
Where are they linking, can you give me an example URL?  I'm thinking they probably don't.

[2019-08-16 20:53] supernova-at commented on #1524
Updated PWA Home page in Confluence

[2019-08-16 20:53] #1524 closed

[2019-08-16 21:02] supernova-at commented on #1308
@jimbo had some definitive thoughts on this one so I'll defer to him

[2019-08-16 21:40] #422 closed

[2019-08-16 21:57] zetlen commented on #1503
@dpatil-magento Can you please add an explanation to this ticket? We should prioritize this because:

- Core devs see unit tests pass locally and fail in CI
- Community contributors can't even see what tests are failing in CI
- Docker environment is part of the product and so devs should be using it and making sure it works

Maybe we can describe the reason to do this by quantifying how much time

[2019-08-18 10:39] Banhawy commented on #1570
I'm having the same issue with a fresh install of both PWA studio and M2 backend. Weirdly enough, some images work fine while the majority are not displaying. I can say that all the images I use in the backend are *.jpg

[2019-08-18 14:24] rogyar commented on #1443
I can confirm that it happens for self-signed certificates. Even if your cert is trusted for all users on your local machine, you will get this error since it's not trusted for Node. There are 2 solutions:
- Use a CA-Signed Certificate.
- Use http protocol instead of https to connect to Magento backend.

[2019-08-19 10:13] kweij commented on #1570
@sirugh, running the proposed commands (incl. `git pull -r` ) and thus fully updating to the latest `@dev-master` release has not fixed the problem

The `<img src` that is rendered for a product image is, for example `/media/catalog/product/cache/71287b63bb7e25fa4a2739e268ab5a2f/v/p/vp01-ll_main_2.jpg?auto=webp&format=pjpg&width=300&height=375`. Is this like it should be, anyway?

[2019-08-19 14:00] zetlen commented on #1371
@codynguyen1 Venia `upward.yml` isn't configured to do anything to headers like `Authorization`. For GraphQL requests, it's supposed to just be a simple proxy. If it's not doing that, then you've found a bug!

Can you please show me a request/response pair for calling GraphQL directly, and then a request/response pair for calling GraphQL through UPWARD? If we can narrow down how the requests are d

[2019-08-19 14:19] sirugh commented on #1570
@kweij Hmm ok what if you drop the `&height=375` from the url? Also try without all of the query params if possible. If I could repro locally it'd be easier but I can't unfortunately. Feel free to reach out to me on slack and we can try to do some debugging in real time.

[2019-08-19 14:28] #1555 closed

[2019-08-19 15:18] dpatil-magento opened #1576 "[feature]: CICD - Add 6 chars of commit hash to venia storefront URL deployed on AWS."
**Is your feature request related to a problem? Please describe.**
So currently storefront URL just has PR number which would cause confusion on which commit is being deployed.  Ideal scenario would be when pr-build job fails then still AWS instances would be running previous version of App and it might be confusing for team who dont not have access to AWS.

**Describe the solution you'd like**
Ad

[2019-08-19 15:32] dpatil-magento commented on #1503
@zetlen I can take this one as next item but need information as I don't run unit tests :)
  1. What all reasons which causes to work on local but not on aws?
       a. snapshot available on local but not pushed to github.
       b. ??
       c: ??

Either we can mount local project files to docker and run tests but this approach might not help as local changes might also get mounted OR  start doc

[2019-08-19 15:37] supernova-at commented on #1413
This may be a documentation issue.

[2019-08-19 15:40] supernova-at commented on #1227
See #1576 - use the commit hash. We can get the version from the commit hash if needed.

[2019-08-19 15:40] supernova-at commented on #1576
Is related to #1227 .

[2019-08-19 16:01] dpatil-magento commented on #1576
Closing the issue as #1227 will solve the problem.

[2019-08-19 16:01] #1576 closed

[2019-08-19 16:30] supernova-at opened #1577 "Venia UI Storybook is broken"
`yarn run storybook:venia` is currently broken with the following error:

[code]

There were some major updates to `webpack.config.js` in https://github.com/magento/pwa-studio/pull/1498.

[2019-08-19 16:39] supernova-at opened #1578 "Add all Public API components to Storybook"
Currently Venia UI's Storybook only has a handful of components available:

1. Image
1. Header
1. MiniCart
1. SearchBar
1. ToastContainer
1. Braintree Dropin

Since all of the components in Venia UI are considered part of our Public API, we should expect partners to be using them and therefore we should add them to our Storybook.

[2019-08-19 16:41] supernova-at opened #1579 "Publish Venia UI Storybook"
Currently, the only way to view the Venia UI Storybook is to clone & install the repository and run `yarn run storybook:venia`.

It would be great if we published the Storybook much like we do with the Venia app itself.

We should publish both the latest `release` version of the Storybook (including the release number would be a nice touch), along with the latest version on `develop`.

[2019-08-19 16:49] #1563 closed

[2019-08-19 16:54] jcalcaben commented on #1579
If we can't get a dedicated server to host this, we can export the latest release version as a static site and add those files as a subdirectory to the pwa-devdocs site.

https://storybook.js.org/docs/basics/exporting-storybook/

[2019-08-19 17:32] walkwizus commented on #1056
Add this in your docker-compose.yml:

[code]

[2019-08-19 17:53] #1328 closed

[2019-08-19 18:41] #771 closed

[2019-08-19 18:46] #1451 closed

[2019-08-19 18:47] cherdman commented on #1451
Closing in favor of later issue regarding multi-store support.

[2019-08-19 19:01] cherdman commented on #1533
That's the plan. Eventually. :)

[2019-08-19 19:01] #1533 closed

[2019-08-20 13:47] sirugh commented on #1225
To add to this issue - its technically impossible to cancel the http call that is made from the apollo client. That said, if we switch to the [apollo useQuery hook](https://www.apollographql.com/docs/react/essentials/queries/#the-usequery-hook) it may "Just Work" as we are probably doing some special state storage within our hook that they aren't doing.

[2019-08-20 19:57] jcalcaben opened #1583 "[doc]: 4.0.0 release notes"
**Describe the request**

Release notes need to be created for the 4.0.0 release

**Possible solutions**

Use the following query to generate the data for these notes:
https://github.com/magento/pwa-studio/pulls?page=1&q=is%3Apr+merged%3A%3E2019-05-08+base%3Adevelop&utf8=%E2%9C%93

**Screenshots**

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Reque

[2019-08-20 22:29] soumya-ashok commented on #613
@supernova-at @awilcoxa This would need us to revisit the current design for checkout. I foresee other changes to the design we have right now based on everything we have learned from research. Would you recommend that we do an interim solution for this based on what we have, or wait until we have more clarity on what the other changes might be and then revise the design?

[2019-08-21 08:27] paales opened #1585 "[feature]: Create typescript definitions for peregrine and venia-ui"
**Is your feature request related to a problem? Please describe.**
We're currently trying to use Peregrene / venia-ui components in our own polyglot frontend stack which is written in typescript. We'd like to have type safety when using the React elements.

**Describe the solution you'd like**
It would be nice if there are typescript definition files available for all components that can be used i

[2019-08-21 18:46] zetlen commented on #497
Closing in favor of upcoming improvements to UPWARD v3.

[2019-08-21 18:46] #497 closed

[2019-08-22 09:12] kweij commented on #1570
@sirugh Dropping `&height=375` or all query string params does not yield a different result, still no images.

But to see where the problem resides: is the URL to the image I mentioned above correct (comparable to your local environment)? Because if the URL isn't correct I should look into the URL generation, else I should look into the handler of that URL (a service-worker?).

Maybe relevant is t

[2019-08-22 14:13] sirugh commented on #1570
@Banhawy are you also using docker?

[2019-08-22 14:14] sirugh commented on #1570
@kweij compare your findings to the deployed version at veniapwa.com

[2019-08-22 14:17] Banhawy commented on #1570
@sirugh No, I am using normal local environment also on MacOS.

[2019-08-22 17:56] brendanfalkowski opened #1590 "[bug]: Uncaught Invariant Violation: You must pass a component to the function returned by connect. Instead received undefined"
**Describe the bug**
A clear and concise description of what the bug is.

Occasionally, with a dev server running like `yarn run watch:falkowski` a code change forcing a hot-reload will trigger this error:

Which traces into the `client.js` file (I think, will update if I see it again).

Hard refreshes don't fix it, but quitting and restarting the watcher works (every time). Everything is fine for

[2019-08-22 18:03] brendanfalkowski commented on #1590
Possibly related to circular dependency or wrong default import between components: https://haodong.io/redux-testing-invariant-violation-error

[2019-08-22 18:08] sirugh commented on #1590
To add to this, I was also getting this error when changing `ProductFullDetail` which is imported by `Product`, a RootComponent.

[2019-08-22 18:28] brendanfalkowski commented on #1590
Just reproduced it, here's the error:

![Screen Shot 2019-08-22 at 11 25 17 AM](https://user-images.githubusercontent.com/214924/63539730-98a90980-c4cf-11e9-9bbc-f3f13bde4769.png)

And exactly what I did beforehand:

1. Restarted my watcher.
1. Page loaded fine.
1. Edited `packages/ce/src/components/CreateAccountPage/createAccountPage.js`
1. Code change: added our `<Heading>` component as an impor

[2019-08-22 18:58] sirugh opened #1591 "[tooling]: scrap storybook until we can do it better!"
We have storybook in venia-ui...concept? one of those. Anyways, we should remove it so we can get rid of some added complexity until we get to a point where we have a stable API for our components and where we can dedicate some time to doing it right.

As is, we have maybe four components in storybook and we don't mandate writing new ones, nor do we really have time or feel it important enough to

[2019-08-22 21:33] #972 closed

[2019-08-23 06:18] kweij commented on #1570
Thanks! That's definitely a different URL to the image:

    /img/resize/300?url=%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2F90e62e6c776404d5aaa0e0d3e9f7d9af%2Fv%2Fa%2Fva06-ly_main_2.jpg

So something's off at the generation of the URL to the image.

[2019-08-23 13:52] bordeo commented on #1413
@awilcoxa how can we define new variables?

[2019-08-23 14:38] sirugh commented on #1578
I think we should turn this into a milestone and then create issues for each of the components missing storybook. Then it's easily trackable and it has a nice pretty progress bar for people who care about nice pretty progress bars :D

[2019-08-23 15:22] #1342 closed

[2019-08-23 15:28] supernova-at commented on #1134
We were just having a discussion about sharing your favorites list (unauthenticated).

I wanted to point out that while it may not be useful to an individual shopper, it would be great for registry-type shopping occasions like birthdays or holidays.

Sharing is inherently concerned with more than just the "individual shopper" anyway.

[2019-08-23 18:30] supernova-at commented on #1568
Here is also a curated list of useful actions: https://github.com/sdras/awesome-actions.

[2019-08-26 09:19] vinudelhi opened #1596 "PWA venia theme is not working in windows 10"
Hi Guys,
I'm using Windows 10 and trying to install PWA but its throwing error. Can anybody guide me how to install PWA on windows 10 machine?
![image](https://user-images.githubusercontent.com/16263998/63680168-ab457a80-c810-11e9-82ff-e24ac0fc8943.png)

[2019-08-26 10:10] zetlen opened #1597 "Code coverage has dropped while Coveralls has been disabled"
**Describe the bug**
Since we are waiting for Coveralls to be re-enabled after the repo migration, we have to be extra vigilant about code coverage. Especially me.

**To Reproduce**
Run a full test suite and observe that coverage has declined below 76%.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [ ] `venia-ui`
- [x] `pwa-buildpack`
- [ ] `peregrine`
-

[2019-08-26 15:30] sirugh opened #1599 "Investigate Redux replacement"
Most of our app state is kept in a global Redux store. Components subscribe to the store to get state, and dispatch actions to the store to set state. They also dispatch async actions, which orchestrate API calls, actions, and even other async actions.

Ideally, components would keep their own view state, make their own API calls, and allow the React scheduler to orchestrate. Hooks make this possi

[2019-08-26 15:33] sirugh opened #1600 "Extract view state from reducers"
View state should not be global, and async actions should not control it. Move view state from reducers and logic from actions into hooks within components. For example, in the user reducer `isSignedIn` is a valid user state but `signInError` is a view concern.

# TODO

* Depending on level of effort this issue may be broken down further per component. Make that call and update.

## State Work

Th

[2019-08-26 15:36] sirugh opened #1601 "Make global state available via context"
Regardless of whether global state is kept by a Redux store or React hooks, it should be exposed to the app by context providers so that components can consume it with a hook rather than wrapping themselves with an HOC.

There should be one provider per slice of global state.

[2019-08-26 15:36] sirugh opened #1602 "Move global state context provider to Peregrine"
Once global state is available from context providers, both the state and context providers should migrate from Venia to Peregrine.

If the Redux store is still in use, it should also move to Peregrine, which will require dependencies to be reorganized.

[2019-08-26 15:37] sirugh opened #1603 "Rebind components to consume context"
Once global state is available from Peregrine context providers, components should consume it from context rather than wrapping themselves with an HOC.

[2019-08-26 15:38] sirugh opened #1604 "Extract Venia component logic into Peregrine hooks"
Once components are consuming global state and managing local state with hooks, their logic should be ported to Peregrine hooks.

See #1483 for examples. Related issues:

- #1821
- #1822
- #1823
- #1824
- #1825

[2019-08-27 16:04] dpatil-magento opened #1609 "Sanity Check - Deploy pwa-studio "develop" branch on cloud starter."
Deploy `develop` branch on cloud starter with Upward and sample data changes for PHP7.3.

[2019-08-27 17:12] dpatil-magento opened #1610 "[bug]: Venia storefront not accessible on cloud starter. Cause PR #1499"
**Describe the bug**
Venia storefront not accessible on cloud starter. Getting error - ''{"error":"No definition for veniaResponse.status"}'

**To Reproduce**
1. Go to cloud starter storefront

**Expected behavior**
Venia home page should load.

** Actual **
Getting error `{"error":"No definition for veniaResponse.status"}`

**Additional context**
Looks like bug is related to /upward.yml changes.

[2019-08-28 06:51] senioritydev opened #1612 "[doc]: Webpack less configuration"
Please provide web-pack configuration file for less and css loader which should have scope of venia-ui repository

[2019-08-28 14:01] MargoNikk commented on #657
@cherdman Hi! Your link in previous comment is not available. Can you provide this information in other way?

[2019-08-28 14:14] Jordaneisenburger commented on #657
https://magento.github.io/pwa-studio/technologies/theme-vs-storefront/

[2019-08-28 14:47] cherdman opened #1613 "[bug]: Resolve GitHub Security Alerts"
**Describe the bug**
GitHub's automated security fixes has identified issues with two dependencies: `mixin-deep` and `set-value`.

https://github.com/magento/pwa-studio/network/alerts

**Possible solutions**
- Upgrade `mixin-deep` to version **1.3.2** or later.
- Upgrade `set-value` to version **2.0.1** or later

[2019-08-28 17:10] dpatil-magento opened #1614 "[bug]: Venia storefront not accessible on cloud starter. Cause PR #1498"
**Describe the bug**
On accessing venia on storefront getting exception.
Build on commit  - 4db08e08  #1498

**To Reproduce**
1. Deploy build on commit 4db08e08 to cloud env.
2. Access venia storefront. Check with @dpatil-magento for the env to reproduce.

**Expected behavior**
Venia home page should load.

**Actual**
Fatal error: Uncaught TypeError: file_get_contents() expects parameter 1 to be a

[2019-08-28 17:45] supernova-at opened #1615 "Cleanup Test Output"
When running tests via `yarn test` or `yarn test:dev`, the terminal is littered with console logs, warnings, and errors.

While all the tests pass, this doesn't build confidence.

We should cleanup the output to the terminal while running tests, preferably by fixing the warnings & errors as opposed to silencing them.

[2019-08-29 16:26] revanth0212 opened #1616 "[feature] Remove "Home Page" from template title"
This is an issue that was raised in one of the [comments](https://github.com/magento/pwa-studio/pull/1595#discussion_r318213156) of the PR: #1595.

@supernova-at had a nice point of changing the Title of the sample storefront to something that is similar to mainstream e-commerce websites.

@soumya-ashok can you please check [Andy's comment](https://github.com/magento/pwa-studio/pull/1595#discussio

[2019-08-29 16:50] revanth0212 opened #1617 "Fetch store name from the GraphQL server at compile time."
**Is your feature request related to a problem? Please describe.**
 This is related to #1595. As part of that PR, we have created a global variable called `STORE_NAME` that can be added to the bundle at compile time using the Webpack Define plugin. Instead of hardcoding it in Define plugin, can we request that from the GraphQL server and then insert that into the `global` object just like the Defi

[2019-08-29 17:42] sirugh commented on #1528
I think this happens because we recreate the map of `mediaGalleryEntries` in `productFullDetail.js`. I believe this fully remounts the carousel/thumbnails.

[2019-08-29 21:32] supernova-at opened #1620 "Turn on Test Coverage"
PR #1619 turned off Jest code coverage due to Jest attempting to instrument `.json` files.

Please dig deeper into this and come up with a solution that allows us to turn coverage back on.

See Jest options [collectCoverageFrom](https://jestjs.io/docs/en/configuration#collectcoveragefrom-array), [coveragePathIgnorePatterns](https://jestjs.io/docs/en/configuration#coveragepathignorepatterns-array-s

[2019-08-30 11:56] niklaswolf commented on #1290
+1
We also need a way for UPWARD to connect to a magento backend behind a basic auth.

[2019-08-30 14:42] supernova-at opened #1621 "Upgrade Dependencies"
We are multiple major versions behind several of our dependencies.

See which ones we can upgrade and upgrade them.

[2019-08-30 14:44] dpatil-magento commented on #1610
We need to pass upward.yml file path of dist folder.

[2019-08-30 14:44] #1610 closed

[2019-08-30 14:45] dpatil-magento commented on #1614
We need to pass upward.yml file path of dist folder.

[2019-08-30 14:45] #1614 closed

[2019-08-30 14:46] supernova-at commented on #1613
Closed because these dependencies were in devdocs and buildpack and the severity was not as indicated. Created a separate (non-critical) issue to upgrade dependencies here: #1621

[2019-08-30 14:46] #1613 closed

[2019-08-30 14:48] supernova-at commented on #1620
This was because [micromatch broke](https://github.com/micromatch/micromatch/issues/179) something in v4.

PR #1619 was closed and coverage was never turned off. Therefore this ticket is invalid.

[2019-08-30 14:48] #1620 closed

[2019-08-30 14:50] dpatil-magento opened #1622 "[bug]: venia logo does not load on storefront for upward-php."
**Describe the bug**
venia logo does not load on storefront for upward-php.

**To Reproduce**
1. Deploy pwa on cloud starter
2. Access storefront

**Expected behavior**
Storefront should load with all images.

**Actual**
Venia logo does not load.

**Screenshots**
<img width="879" alt="image" src="https://user-images.githubusercontent.com/40405790/64030122-936d3f80-cb0b-11e9-9c56-09e791b7e688.png">

[2019-08-30 15:01] sirugh commented on #1621
Duplicate of #1565

[2019-08-30 15:01] #1621 closed

[2019-08-30 15:08] sirugh commented on #1622
How do I repro? Do you have a link?

[2019-08-30 18:35] cherdman opened #1623 "[Research Story]: Audit Build Settings for Performance Improvements"
**What?**
Audit the Webpack build configuration to ensure that it builds the smallest and fastest possible app code.

**Why?**
We need to understand performance issues in relation to our build process. Webpack is very configurable and it's possible we could achieve great performance gains here.

**How?**
We will play with build settings, rebuild, measure, experiment, and repeat, logging our result

[2019-08-30 18:51] cherdman opened #1624 "[Research Story]: Audit Data Usage for Performance Improvements"
**What?**
Examine Venia and Peregrine code for patterns of inefficient data consumption and caching, focusing on GraphQL query performance and Apollo optimizations. Service worker optimizations have been split out into #1673.

**Why?**
Conserving data use increases performance, reduces server load, and lowers bandwidth costs for users; it directly correlates to good user experiences. The PWA Studi

[2019-08-30 18:59] cherdman opened #1625 "[Research Story]: Audit the efficiency of rendering and painting on the screen"
**What?**
Analyze Venia pages and components to see if they re-render unnecessarily or too frequently, or in general if they run repetitive code unintentially.

**Why?**
React UIs are easy to quickly make, but in exchange, certain patterns can make React do more work than necessary to repaint the UI. This causes bad performance, slow response times due to "layout thrashing", and high energy consum

[2019-08-30 20:52] dpatil-magento opened #1627 "[CICD] - AWS pass timeout parameter"
**Describe the bug**
In some cases health check is getting response after 5 (5.27) secs.  Default timeout is 5 secs. Which causes env status to Red.

**Solution**
Added timeout parameter during env creation

[2019-09-03 16:11] #900 closed

[2019-09-03 16:38] #1529 closed

[2019-09-03 17:53] sirugh commented on #1601
Resolved with #1608

[2019-09-03 17:53] #1601 closed

[2019-09-03 19:56] cherdman commented on #1622
https://develop.pwa-venia.com/
https://magento.pwa-venia.com/

[2019-09-03 19:58] sirugh commented on #1622
@cherdman I'm not seeing it happen on either of those.

[2019-09-03 20:08] dpatil-magento commented on #1622
@sirugh @cherdman  Above two runs on `upward-js`  so you dont see issue there.  If we deploy current `develop` branch on cloud starter then we can see the issue.  Let me know if you need cloud starter deployed instance.

[2019-09-03 21:50] juliosong commented on #1613
@cherdman Hi I've received the same alerts and tried the dependabot auto-fix. However, it says it can't fix the set-value issue as "as one or more other dependencies require a version that is incompatible with this update." I wondered if you knew any other way to fix this. Thanks!

[2019-09-04 09:44] zetlen commented on #1622
@dpatil-magento and I have been working on this since yesterday, though I've been on the road so I've been slower than usual. I have a branch `zetlen/inline-logo-svg` which should fix this issue, but I haven't opened it as a pull request yet.

This issue only appears with UPWARD-PHP on Cloud Pro, and I can't replicate those conditions locally. Therefore @dpatil-magento has to confirm that a pushed

[2019-09-04 10:11] zetlen opened #1631 "[feature]: Include cached lockfiles with venia-concept to make install faster"
Once #1500 is merged, the `venia-concept` folder will serve as a scaffolding template for new projects. This functionality is similar to [create-react-app](https://create-react-app.dev/).

When creating a new project, the scaffolding generator copies files into the new project directory and then installs dependencies. These new projects don't have lockfiles (either `package-lock.json` or `yarn.loc

[2019-09-04 16:39] #1348 closed

[2019-09-04 18:13] #1600 closed

[2019-09-04 18:19] jimbo opened #1632 "Replace remaining redux selectors with derived state values"
**Is your feature request related to a problem? Please describe.**

Putting selector functions for getting derived state from a redux store is not an uncommon pattern, but it's not one we ever endorsed or used widely. Now that we're providing redux state from context, with a single connector per slice, we shouldn't need them.

**Describe the solution you'd like**

- For derived state that's used w

[2019-09-04 18:20] sirugh commented on #1632
Added to Modular Component Library milestone as a follow-on/nice-to-have.

[2019-09-05 13:47] sirugh opened #1633 "[feature]: Utilize graphql returned color for swatches"
**Is your feature request related to a problem? Please describe.**
Currently we randomize the colors in the product component because GQL does not return the hex code or any way for the UI to determine what color to display. There is an open issue for this in GQL: https://github.com/magento/graphql-ce/issues/196.

**Describe the solution you'd like**
When the GQL issue is resolved/merged/released

[2019-09-05 14:07] supernova-at opened #1634 "Use List initial selections in Venia Edit Item"
Now that Peregrine's `List` component can support a set of initial selections, have Venia take advantage of that functionality in Minicart > Edit Item.

Configurable items should have their options pre-selected when the Edit Item screen is opened.

[2019-09-06 07:22] Jordaneisenburger opened #1638 "[BUG]: Privacy/Security issue"
**Describe the bug**
Personal private data stays persistent after user isn't logged in anymore. This becomes a problem when users use the storefront on public computers for example school, libraries etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Log In on the storefront
2. Go to the checkout and fill in shipping or payment information
3. Log out
4. Open chrome devtools and check local