[2020-09-22 17:47] supernova-at commented on #669
For developers whose primary language is English the `english string key` pattern seems like a way to simplify things but I think it only adds confusion to an already complicated system.

It is interesting to hear that translations rarely need to be context-aware. I definitely considered this a con. In that case, I like the
[code]
idea, but unfortunately I'd expect the subtle context differences n

[2020-09-22 19:45] davemacaulay commented on #669
From internal discussions / comments along with @fooman and @brendanfalkowski comments we're going to move ahead with using ID's based on the component name then the description of the string.

If anyone has a big reasoning as to why we shouldn't do this we can alter path with good enough reasoning.

[2020-09-22 21:15] fooman commented on #669
I guess this goes at the heart of my request. Is there any way to make this less of a coincidence? So after the process you outlined to find if we can translate via a coincidental legacy string can we include another pass to see if we really must introduce a new string.

Practical example here
https://github.com/magento/pwa-studio/pull/2721/files#diff-8d2cdbfbfb3f2a21b78dd839ac9f59d1R82
if we used

[2020-09-22 22:08] fooman commented on #2689
@NandiniJivainfotech123 Thanks for checking. As this still reproduces for me I wonder what differences there may be.

I did note in your output the Experimental Warning which I don't get. So I tested with various node versions
v14.12.0
v12.13.1
v10.18.1
on Macos and they all produce the same error.

[code]

Really not sure what other info I can provide at this stage.

[2020-09-22 22:10] sirugh commented on #669
Much of the pwa copy is just UI direction or our own best guess. I don't see why we can't attempt to reuse existing copy. However the system were opting for is context aware whereas existing copy may not be. This could present a challenge to reuse. I think we're getting into spike territory. Perhaps we should open an issue to sus out some tooling. Just need some existing translation files and time

[2020-09-22 22:51] fooman commented on #669
Existing translations are here https://crowdin.com/project/magento-2

[2020-09-23 19:04] sirugh commented on #1740
#2602

[2020-09-23 19:04] #1740 closed

[2020-09-23 20:03] brendanfalkowski commented on #669
@davemacaulay Just a suggestion, because I'm going to type this 10,000 times by next year. The component/prop naming is a handful.

`<FormattedMessage id={'Translated string'} defaultMessage={'Translated string'} />`

would be better as:

`<T id="global.greeting" t="Hello world" />`

Would also accept `<Tran>` or `<Translate>`. Just trying to save a few thousand keystrokes.

[2020-09-23 20:13] davemacaulay commented on #669
@brendanfalkowski we opted to not abstract or alias the functions so the `react-intl` documentation would hold true: https://formatjs.io/docs/getting-started/installation

You can certainly create a wrapping component or import with an alias to reduce your keystrokes, but we believe holding true to the original frameworks API will assist developers in their day to day and make it much easier to di

[2020-09-23 20:26] brendanfalkowski commented on #669
@davemacaulay I understood that reference: gripes go up the chain of command.

https://www.youtube.com/watch?v=dKbdE5LOGNQ

I should be complaining to `react-intl` :) Making that wrapper now...

[2020-09-24 14:46] chris-brabender commented on #669
I am not entirely sold on the id's implementation to be honest. If, for example, I want to update all Apply buttons to french, I need to do it 100 times in my translation file for each component? Eg:

`<FormattedMessage
                            id={'addressBook.applyButtonText'}
                            defaultMessage={'Apply'}
                        />`

One one side it means I can target

[2020-09-24 15:10] sirugh commented on #669
@chris-brabender I spent a little time on [this script](https://github.com/sirugh/translatotron) that can scan over whatever files you need to generate new translation json files for you assuming there are hits in the legacy files. It also can show you what keys/strings did not have matches.

I was hoping to take a lot of the manual work out of the process, and as @fooman mentioned we could go fur

[2020-09-24 15:25] davemacaulay commented on #669
@chris-brabender I think for known common strings we just wouldn't namespace them. So things like "Apply", "Default", "Save" could have generic global ID's like `apply`, `default` & `save`.

[2020-09-24 18:00] brendanfalkowski commented on #669
@chris-brabender @davemacaulay I'd suggest taking this one step further:

Make everything global by default, and only introduce namespaces if you actually find conflicts in usage. That'll help with maximum re-use and won't step on extensions who choose to namespace. I'd also personally hate seeing cross-component imports like `XXX` incorporates `YYY.someSpecificString` simply because that componen

[2020-09-26 17:37] #2624 closed

[2020-09-27 07:52] larsroettig commented on #2648
@ArunKathir98 I can not reproduce this issue maybe something with your local instance.

I close this issue pls reopen with better steps to reproduce.

kind regards,

Lars

[2020-09-27 07:52] #2648 closed

[2020-09-28 11:38] Jordaneisenburger opened #2733 "[bug]: Minicart is missing on /checkout"
**Describe the bug**
When you go to /checkout you are not able to edit your cart. I'm aware this is done on purpose probably for the reason of the "no distractions in checkout" rule. But In that case I feel you either need to minimize the whole header or keep the minicart trigger in the header. Pretty sure most agencies are gonna swap it back anyway.

This is for example how we've done it.
![Scree

[2020-09-28 14:01] sirugh commented on #2733
As you already stated, we [intentionally hide](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/Header/useCartTrigger.js#L49-L51) the mini cart trigger on the checkout page. We went back and forth on it but I think the decision was honestly split. It would be trivial to add back but I think we need to consider the options such as:

a) hiding the entire header on /ch

[2020-09-28 14:11] Jordaneisenburger commented on #2733
Your right it should be a feature request since it was intentionally hidden. I personally don't see why removing this functionality would improve checkout experience. But then again I'm not a UX designer so if you guys have already had discussions about we can close this.

[2020-09-28 14:11] #2733 closed

[2020-09-29 13:55] sankhalainfo commented on #2212
Sorry I am new to this. Can you please help me to understand how to provide run time variable. We are getting exact same issue that "{"error":"No definition for env.MAGENTO_BACKEND_URL"}".

1. pwa-studio/packages/venia-concept/.env has set the required variable.
2. yarn build has been done and dist folder is configured in Upward PHP file
3. Do i need to keep on yarn watch:venia in order to get it

[2020-09-29 14:18] sirugh commented on #2212
@sankhalainfo this issue is closed - can you open a new issue and provide your full error stack trace and some context for us? Thanks.

[2020-09-30 05:11] #2677 closed

[2020-09-30 15:58] sirugh commented on #2717
Made https://jira.corp.magento.com/browse/PWA-955 for internal tracking.

[2020-10-01 15:36] alitonia opened #2743 "[bug]: function retreiveAvailableShippingMethods has wrong spelling"
**Describe the bug**
Function ```retreiveAvailableShippingMethods``` in ```packages/peregrine/lib/store/actions/checkout/asyncActions.js``` has wrong spelling ( _retreive_ instead of _retrieve_)

**To reproduce**
Steps to reproduce the behavior:
1. Go to ```packages/peregrine/lib/store/actions/checkout/asyncActions.js```
2. Check on line 15 and 350.

**Expected behavior**
Method name is ```retriev

[2020-10-01 15:45] alitonia commented on #2743
@magento I am working on this

[2020-10-01 16:00] #2679 closed

[2020-10-02 18:58] #2668 closed

[2020-10-02 21:20] #2117 closed

[2020-10-03 08:17] huykon opened #2748 "[bug]: Submit Create Account form have not trimmed prefix/suffix space for all fields"
**Describe the bug**
I am trying to create account. The unlucky i put many spaces to the prefix of fields then it still push to server without trim any space

**To reproduce**
Steps to reproduce the behavior:
1. Go to Create Account form
2. Fill some spaces at the prefix/suffix any field: First name, Last name, ..
3. Click Create an Account
4. Server response the customer data without trim space

[2020-10-03 16:30] larsroettig opened #2750 "[feature]: Create new buildpack command `create-extension`"
**Is your feature request related to a problem? Please describe.**
As developer, I want to scaffold easily new PWA-Studio extensions.

**Describe the solution you'd like**

For this would be a template the best approach.
The template should contain the followings files and should create a standalone extension:

**package.json:**
[code]

Example starter repo:
https://github.com/larsroettig/pwa-stud

[2020-10-04 08:34] huykon opened #2751 "[bug]: Re-Change Zip code data in Estimate Shipping Form at cart page error"
**Describe the bug**
I tried to change to zip code data when I submitted Estimate shipping method at cart page and error showing.
`"Can't find field 'country' on object {
  "__typename": "ShippingCartAddress",
  "selected_shipping_method": {
    "__typename": "SelectedShippingMethod",
    "amount": {
      "__typename": "Money",
      "currency": "USD",
      "value": 0
    }
  }
}"`

**To reprodu

[2020-10-04 22:55] sirugh commented on #2751
Should be fixed by https://github.com/magento/pwa-studio/pull/2744 which was merged recently. Can you double check?

[2020-10-05 00:57] huykon commented on #2751
@sirugh I pulled the newest code from develop branch but still have that error

[2020-10-05 13:29] sirugh commented on #2751
Oh, that's because it was merged to the release/8.0 branch, which has not been backmerged yet!

[2020-10-05 14:09] tjwiebell opened #2752 "[bug]: [Cart Page] Product Name link is extended till Kebab menu."
### Describe the bug ###
In the CartPage, we made product names and images links that navigate back to the product, but accidentally made the entire grid area clickable. Only the name should be clickable.

### To reproduce ###
1. Add a product to cart.
2. Go to cart page and observe the Product name link area.

✅  Expected - Only Product name should be link.
❌  Actual - Its extended till Kebab men

[2020-10-05 14:17] tjwiebell opened #2753 "[bug]: Incorrect Message on Search Page When Searching for Less Than 3 Characters"
### Describe the bug ###
If a user submits a search for less than 3 characters, then the resulting page shows "No results found!". This is incorrect messaging & should be worded differently with something like "Must search for at least 3 characters". See attachments

 ### To reproduce ###
Steps to reproduce the behavior:
1. Create a product with name "simple1"
2. Go to PWA storefront & search for

[2020-10-05 20:20] chris-brabender commented on #2750
Great concept, something that could kickstart dev for some people for sure.

Would this maybe be better as a tool similar to 'npm create @magento/pwa' rather than a buildpack command? Ideally the extension would not reside in the project directory anyway?

[2020-10-05 21:57] brendanfalkowski commented on #2717
Going to self-close this. The Magento team helped track this down. Details for those interested:

At the time we cloned PWA Studio to diff for upstream merging (2019-08-22), there was a mismatch (in "develop" branch) between the PageBuilder dependency (2.0.0 required) and the code in PWA Studio which used extensibility features to implement it. Once associated changes were merged back to "develop"

[2020-10-05 21:57] #2717 closed

[2020-10-06 15:10] #669 closed

[2020-10-07 16:40] #1784 closed

[2020-10-07 17:44] #2748 closed

[2020-10-07 23:15] #2752 closed

[2020-10-10 10:56] shikhamis11 opened #2768 "[feature]: Add to Cart support for Virtual products"
**Add to Cart support for Virtual products**

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [x] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2020-10-10 11:13] shikhamis11 commented on #2768
#dmcdindia2020

[2020-10-12 11:32] mercs600 commented on #2707
@Frodigo  I was reporting this issue some time ago https://github.com/magento/pwa-studio/issues/2551

Main issue is related with caching - when you open PWAStudio on chrome - where webp are suported - then the image service will cache webp images - so when you try to open this page again on safari - you will get cached webp images.

To workaround, we have to keep pwa-buildpack locally and make cha

[2020-10-12 15:02] 0m3r opened #2770 "[feature]: PWA Studio Extensibility"
I am working on pwa-studio extension for our m2 module(s).
and I want to discuss my decision  (idea)

Let me know please can I do in this way?
POC

package.json
[code]
declare.js
[code]

in intercept.js I added
[code]

[code]

**Additional context**

- https://github.com/magento/pwa-studio/milestone/25
- [Getting started with PWA Studio Extensibility](https://larsroettig.dev/getting-started-with-p

[2020-10-12 17:53] larsroettig commented on #2770
Hi @0m3r,
I think you should take a look how it works in the not merged new API we have created a concept for use case there.

https://github.com/magento/pwa-studio/pull/2765

:exclamation:  this works only for local-intercept.js currently

I will close this issues next time to recommend create a gist and discuss in Slack channel.

kind regards,

Lars

[2020-10-12 20:49] davemacaulay commented on #1110
@ericerway can we share more information with @paales regarding his questions?

[2020-10-12 23:28] fooman opened #2773 "[bug]: Clicking on Label should focus Input"
**Describe the bug**
Add a product to the cart, head to checkout. Clicking on any label should put the focus on the associated input.

**To reproduce**
Steps to reproduce the behavior:
1. add product to cart
2. navigate to checkout
3. click on Email
![image](https://user-images.githubusercontent.com/455508/95798784-571c9300-0d4f-11eb-81ed-52f9aaf35f5e.png)

**Expected behavior**
Keyboard focus on

[2020-10-13 00:32] fooman commented on #2770
@larsroettig I believe the functionality desired here - creating a third party extension to change venia-ui components is not going to be added in #2765 exactly due to the limitation " this works only for local-intercept.js currently" you mentioned.

[2020-10-13 07:25] technikhil314 opened #2775 "How can I add social login links to the PWA"
I am using [miniorange sso login plugin](https://plugins.miniorange.com/magento-oauth-single-sign-sso) as I have to support SSO for PWA using our authentication server (using keycloak). How can I do it in PWA studio? Any help, link much appreciated.

Can some one please remove bug label and add help wanted label. I am not able to do it.

[2020-10-13 07:53] 0m3r commented on #2770
it looks fine but I still don't understand how can I "target" @magento/venia-ui components from my package?
@magento/venia-ui/lib/components/ProductFullDetail/productFullDetail.js

I see only @parent-company/contactform

https://github.com/magento/pwa-studio/blob/zetlen/targetables/pwa-devdocs/_drafts/targetables-explainer.md#example-project-customization

[2020-10-13 09:14] dani97 commented on #1222
@magento I am working on it

[2020-10-13 10:41] Skavengerr opened #2776 "How can I use the newest version of the pwa-studio?"
I am using the release version, but I want to use version 8.0.0, what is the best way to do this?

[2020-10-13 13:07] huykon commented on #2776
@Skavengerr checkout [this](https://github.com/magento/pwa-studio/tree/release/8.0)

[2020-10-13 13:09] tjwiebell commented on #2776
Our pre-releases are tagged in GitHub and published to npm, so you can get them either of those ways (pull pre-release tag or update your package.json dependencies to pre-release package versions). We will be releasing alongside Magento core in a couple days, but there should be no functional difference besides version bumps w/o pre-release suffix.

Going to close this out as a general question. I

[2020-10-13 13:09] #2776 closed

[2020-10-14 13:39] tjwiebell commented on #2773
@magento export issue to Jira project PWA as Story

[2020-10-14 13:39] magento-engcom-team commented on #2773
:x: Cannot export the issue. GitHub repo magento/pwa-studio is not supported in JIRA project PWA and type Story.

[2020-10-14 13:40] magento-engcom-team commented on #2773
:x: Cannot export the issue. GitHub repo magento/pwa-studio is not supported in JIRA project PWA and type Story.

[2020-10-14 13:40] magento-engcom-team commented on #2773
:x: Cannot export the issue. GitHub repo magento/pwa-studio is not supported in JIRA project PWA and type Story.

[2020-10-14 13:42] huykon commented on #2773
😮

[2020-10-16 03:52] #2751 closed

[2020-10-16 13:20] fkrawczyk opened #2784 "[bug]: Data Fetch Error after going to <product>.html"
I have installed Magento 2.4 and Magento PWA Studio. Connected them in .env file
_MAGENTO_BACKEND_URL=https://magento-b2c.localhost/_

Everything works as it should but cannot access product page.

![image](https://user-images.githubusercontent.com/72493812/96262749-838c1580-0fc2-11eb-82dc-97c97c376fd0.png)
![image](https://user-images.githubusercontent.com/72493812/96262775-8be45080-0fc2-11eb-8db

[2020-10-16 17:48] JuanPagola commented on #2435
I'm facing the same issue, and the steps suggested by @Jordaneisenburger did not fix the issue unfortunately.

[2020-10-19 13:41] Jordaneisenburger commented on #2784
You wanna check the chrome console and check the network tab as well. There might be an internal server error coming back from graphQL due to mismatch in schema's.

[2020-10-19 13:43] Jordaneisenburger commented on #2775
Hi @technikhil314, This feels like a very specific question related to your setup. Best chance is asking the question in the #pwa slack channel.

[2020-10-19 13:43] #2775 closed

[2020-10-19 20:16] tjwiebell commented on #2768
See https://github.com/magento/pwa-studio/pull/2769#issuecomment-712416440

[2020-10-19 20:16] #2768 closed

[2020-10-19 20:19] tjwiebell commented on #2628
Addressed by #2765, going to close this out.

[2020-10-19 20:19] #2628 closed

[2020-10-20 05:53] dani97 commented on #1470
@magento I am working on this

[2020-10-20 07:47] 1200rist opened #2790 "[bug]: create-pwa installs old version"
**Describe the bug**
`yarn create @magento/pwa` installs pwa-studio 7.0, not 8.0.

**Please let us know what packages this bug is in regards to:**
- [ ] `venia-concept`
- [ ] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [X] `create-pwa`

[2020-10-20 09:02] fkrawczyk commented on #2784
Hi, thanks for feedback
![image](https://user-images.githubusercontent.com/72493812/96564422-6f4a6000-12c3-11eb-8414-f47f1d560872.png)

Config element \"ImageSwatchData\" is not declared in GraphQL schema

seeing this error doesn't really help me, still no idea how to fix :(

[2020-10-20 09:06] Jordaneisenburger commented on #2784
What version of PWA Studio are you on and what version of Magento are you using. There seems to be a mismatch between Magento and PWA studio versions.

[2020-10-20 09:12] Jordaneisenburger commented on #2790
Hi @1200rist,

I think you're running into yarn cache so you might want to clean that. Also it might be confusing but some packages are at v7.x.x this doesn't mean it's pwa studio version 7.0.

[2020-10-20 09:44] fkrawczyk commented on #2784
Magento 2.3.4
PWA Studio 8.0

Just found [Magento compatibility](https://magento.github.io/pwa-studio/technologies/magento-compatibility/)
Thanks, gonna update Magento to 2.4 and check if it's working then!

[2020-10-20 09:51] Jordaneisenburger commented on #2784
Yeah you need to upgrade indeed.

[2020-10-20 10:13] fkrawczyk commented on #2784
It's working now, thank you!

[2020-10-20 10:13] #2784 closed

[2020-10-20 11:31] 1200rist commented on #2790
I ran `yarn cache clean , but it still installs the old version. Tried on a different computer and it installed the correct version. Either yarn cache clean doesn't work or there's some other cache somewhere.

[2020-10-20 11:42] michalburda3 commented on #2435
@lulzimfazlija
The below solution worked for me:

- create `src/fonts.css` and import this file in `src/index.css` (or declare font-faces directly in `index.css`)
- create `static/fonts/` folder in the root folder and add your font files
- add font-face declarations, for example:
[code]
- to webpack, add config
[code]
- delete `<style>` tag with default font-face declarations inside `template.html

[2020-10-20 11:49] Jordaneisenburger commented on #2790
Mhh not sure why this happens to you, seems like something just happening on your machine and not related to PWA Studio itself.

[2020-10-20 12:28] mercs600 opened #2791 "[bug]: Error: Can't resolve 'react-intl' after upgrade"
**Describe the bug**
We have noticed that error during build after upgrade npm packages to 8.0.0

[code]

I see this package in this commit:
https://github.com/magento/pwa-studio/commit/0146f514106a12744ec5ed9957063ea46f5c5075#diff-da721fbf209b91832a9bf35e427621cd2105cfbc7ade620287e33e9a61dc4075

In the current version of venia-concept this package is not available anymore:
https://github.com/mage

[2020-10-20 12:33] #2790 closed

[2020-10-20 13:30] sathiyaaa commented on #2743
@magento add to contributors team

[2020-10-20 13:33] sathiyaaa commented on #2743
@magento I am working on this

[2020-10-20 14:39] mercs600 commented on #2791
I see `react-intl` in venia-concept now. So I think it should fixed it.

[2020-10-20 14:39] #2791 closed

[2020-10-20 15:40] tjwiebell commented on #2606
This has been resolved in the latest release, closing as no longer a bug.

[2020-10-20 15:40] #2606 closed

[2020-10-20 19:56] tjwiebell commented on #2622
Fixed in #2686

[2020-10-20 19:56] #2622 closed

[2020-10-20 20:23] tjwiebell opened #2795 "[feature]: Re-factor Edit Payment to use Dialog"
### Description
Re-factor the Edit Payment component to use the Dialog component. This will ensure that all modals and dialogs in the app have a consistent look at feel.

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2020-10-20 20:25] tjwiebell opened #2796 "[feature]: Re-factor Edit Shipping to use Dialog"
### Description
Re-factor the Edit Shipping component on the CheckoutPage to use the Dialog component. This will ensure that all modals and dialogs in the app have a consistent look at feel.

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [

[2020-10-20 20:29] tjwiebell opened #2797 "[feature]: Re-factor Edit Product to use Dialog"
### Description
Re-factor the Edit Product component on the CartPage to use the Dialog component. This will ensure that all modals and dialogs in the app have a consistent look at feel.

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [x] `venia-ui`
- [ ] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `c

[2020-10-21 09:06] Jordaneisenburger commented on #2237
Mhh still happens even when watcher has been closed and restarted. PWA Studio v7.0
<img width="1646" alt="Screenshot 2020-10-21 at 11 04 15" src="https://user-images.githubusercontent.com/19858728/96698437-63c36b80-138d-11eb-8db8-08164a8bb6a7.png">

[2020-10-21 13:22] mherkarapetyan4 opened #2798 "Feedback on page: /technologies/basic-concepts/state-management/"
Hi.
How can i add new custom context and connect to  project  context api ?

[2020-10-21 18:55] larsroettig commented on #2770
@0m3r it should work with `@magento/venia-ui/lib/components/ProductFullDetail/productFullDetail.js` i tested with this PR worked fine

[2020-10-21 19:15] ericerway opened #2802 "[feature]: Update manifest with new Venia theme/background color"
**Is your feature request related to a problem? Please describe.**
Manifest needs to be updated to reflect the new Venia brand/design refresh. This is currently orange and not blue.

**Describe the solution you'd like**
Replacement of theme_color and review of others in manifest so that it appears correctly in app. Color should be HEX #1F39FF / RGB: 31 57 255.

**Describe alternatives you've consi

[2020-10-21 19:23] ericerway opened #2803 "[feature]: Auto-suggest installation of "Add to Home" for Venia"
**Is your feature request related to a problem? Please describe.**
Early version of Venia included an option to "add to home" and splash screen which is common for PWA. Please see Starbucks example as a reference. Functionality is mostly done and can be seen/tested on Android devices.

**Describe the solution you'd like**
Configuration (manifest?) to suggest "add to home" upon first visit of Venia

[2020-10-21 19:31] ericerway opened #2804 "[feature]: Add "maskable icon" to Venia for Google Lighthouse [PWA]"
**Is your feature request related to a problem? Please describe.**
Recent changes to Google Lighthouse v6 require a "maskable icon" as a proper PWA.

**Describe the solution you'd like**
Venia icon needs to be added to the manifest. SVG image for Venia is attached. This request should involve fixing the manifest and verifying with Google Lighthouse and addresses the requirements in PWA-959.

**Des

[2020-10-21 20:08] sirugh commented on #2803
I definitely saw this recently on develop.pwa-venia.com. Maybe it is caching the response and not asking again?

[2020-10-21 20:14] fooman commented on #2770
@larsroettig were you able to do this from your own extension or with manual changes to the project's local-intercept file? This comment here https://github.com/magento/pwa-studio/pull/2765/files#diff-19772db6109a6679b1cef33ac3f8ceab0cb57d487e6ff4b2ce3b02b2fb50aa2aR160 would indicate that an extension can't change another packages file. So if you wanted to do `yarn add foo/example` and that should

[2020-10-21 20:17] larsroettig commented on #2770
Works currently only for local but core team thing about remove limitations
but security is a big problem currently. We need to think about this

Kristof, Fooman <notifications@github.com> schrieb am Mi. 21. Okt. 2020 um
22:14:

--

 <https://www.techdivision.com>

*TechDivision GmbH*

Spinnereiinsel 3a
83059 Kolbermoor
*Lars Röttig*
Senior Software Engineer

Magento Community Maintainer
Adobe Cer

[2020-10-21 20:48] davemacaulay commented on #2395
@larsroettig @Jordaneisenburger there's certainly some interest in moving our E2E tests from MFTF to something that aligns with the ecosystem. Cypress appears to be the frontrunner in that regard and it's great to see that you're already using it internally.

Currently we maintain our MFTF test suite out of cycle of code delivery, which puts a burden on our QA and additional doesn't guarantee we a

[2020-10-21 21:29] ericerway opened #2805 "[feature]: Basic desktop improvements for Venia - Mega Menu"
<!--
Thank you for taking the time to report this issue!
GitHub Issues should only be created for problems/topics related to this project's codebase.

Before submitting this issue, please make sure you are complying with our Code of Conduct:
https://github.com/magento/pwa-studio/blob/develop/.github/CODE*OF*CONDUCT.md

Issues that do not comply with our Code of Conduct or do not contain enough inf

[2020-10-22 07:34] Jordaneisenburger commented on #2395
@davemacaulay sure, that'll probably be somewhere next week.

[2020-10-22 07:54] larsroettig commented on #2395
@davemacaulay @Jordaneisenburger I take this to hackathon on Friday

[2020-10-22 09:00] savlo opened #2808 "[bug]: Product - change colour add more images instead of just change colour"
**Describe the bug**
On product page, changing the colour of a product will add at the beginning of the carousel one more image.

**To reproduce**
Steps to reproduce the behavior:
1. Go to any product page where are multiple colours
2. Press any of the colours

**Expected behavior**
The images will just change with the right colour, but not change the images number

**Screenshots**
[https://paste.

[2020-10-22 15:27] sirugh commented on #2808
@savlo this is not a bug - when you select a color the corresponding images for that color is "prepended" to the beginning of the list of images, and the user's position in the image array is "moved" back to the beginning. You can see [here](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js#L87) how we prepend the images onto

[2020-10-22 15:27] #2808 closed

[2020-10-22 15:44] ericerway opened #2809 "[feature]: Visual Studio Code extension for PWA Studio"
**Is your feature request related to a problem? Please describe.**
As developers start to use Visual Studio Code with PWA Studio, having common extensions, templates and other utilities will be helpful to improve productivity/satisfaction.

**Describe the solution you'd like**
Similar to Magento for PHPStorm, PWA Studio for Visual Studio Code can help generate "boilerplate" code, folder structure

[2020-10-22 15:50] ericerway opened #2810 "[feature]: Improved Windows local development support for PWA Studio"
**Is your feature request related to a problem? Please describe.**
Windows local development (often using Docker) and troubleshooting PWA Studio is reported as more challenging than other environments. This feature request intends to improve this experience with help from those familiar with it.

**Describe the solution you'd like**
Review, analysis and suggestions (vis PR) to improve the Windows

[2020-10-22 17:18] bashizee commented on #261
in root folder of magento  rename auth.json.sample to auth.json
{
    "http-basic": {
        "repo.magento.com": {
            "username": "--------------",
            "password": "--------------"
        }
    },
    "github-oauth": {
        "github.com": "-------------"
    }
}
add those details
for username and password go to https://marketplace.magento.com/customer/account/
create access  k

[2020-10-22 19:11] sirugh commented on #2810
Much has changed since we last attempted to fix this, but #898 and #899 _may_ have some helpful info.

[2020-10-22 19:37] larsroettig commented on #2666
@sirugh i think we can close it rigth

[2020-10-22 20:47] sirugh commented on #2666
@larsroettig why do you think that? Doesn't look like either of my proposed solutions have made it :P

[2020-10-23 09:54] larsroettig opened #2816 "[feature]: Spike Payment Methods schould be expandable"
**Is your feature request related to a problem? Please describe.**
As developer, we want to build our own Payment methods as Extension for that reasons.
Payments should be extendable via Targetables

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [

[2020-10-23 10:17] larsroettig commented on #2804
![maskable_icon (2)](https://user-images.githubusercontent.com/5289370/96992070-a6ba4600-1529-11eb-8a7c-e58e2bba77e7.png)

[2020-10-23 11:39] Frodigo commented on #2797
@magento I’m working on it

[2020-10-23 11:48] Frodigo commented on #2797
@magento I am working on this

[2020-10-23 13:25] konarshankar07 commented on #2804
@magento I'm working on this

[2020-10-23 15:35] ericerway commented on #2805
Minor updates to the design/spec added. 👍

[2020-10-23 16:02] jemoon commented on #2796
@magento I am working on this

[2020-10-23 16:03] jemoon commented on #2796
@magento add to contributors team

[2020-10-23 16:04] jemoon commented on #2796
@magento I am working on this

[2020-10-23 16:10] #2678 closed

[2020-10-24 10:00] huykon commented on #2802
@magento I am working on this

[2020-10-24 10:13] huykon commented on #2805
@ericerway  I have seen the Women category (highest level) have 5 sub-categories are: What's New, Bottom, Tops, Outerwear, Accessories. If that have more than 5 sub-categories, what the next sub-category will show on?

[2020-10-26 07:17] larsroettig commented on #2809
@magento I am working on this

[2020-10-26 14:55] schensley commented on #2805
@huykon Great question! Ideally the area allowed for the menu items would be constructed in such a way that it would allow for that area to stretch to match the full-width of the header (here maxed at 1440px), this might allow for an additional column, BUT of course there may be merchants who have many sub-categories in which case there should be allowed to stack -- this would also be necessary wh

[2020-10-26 18:44] supernova-at opened #2829 "Implement tabs in graphIQL playground"
The PWA Studio development web server also spawns a graphIQL playground for developers to investigate and issue GraphQL requests.

A recent PR (TBD) removed the tabs in the graphIQL playground, as they were no longer straightforward to parse out of the codebase.

The ask here is to:
  1. Develop a strategy for which tabs we actually want to include. Note that it may not have to be "all GraphQL que

[2020-10-26 22:37] sirugh commented on #2829
Adding some context here - one of the reasons we completely removed the tabs was because we moved from `.graphql` files composed of raw gql to `.gql.js` files which export template strings interpreted to gql via `graphql-tag`.

So one solution here may be to figure out how to have the graphiql playground understand the new files/syntax.

[2020-10-27 15:26] lewisvoncken opened #2835 "[feature]: Change the ProductDetail query from url_key to id"
**Describe the solution you'd like**
You do a Product search based on url_key but the url_key is already resolved and returns the actual product id so you can just retrieve the data for that specific product and not query on the url_key. This is also better for performance.

see for more info https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/RootComponents/Product/product.js

[2020-10-27 21:57] larsroettig commented on #2025
@davemacaulay i think there is a design missing  we should  do ux research  first

[2020-10-27 22:01] larsroettig opened #2842 "[feature]: Spike Shipment Methods schould be expandable"
**Is your feature request related to a problem? Please describe.**
As partner developer I want to have a simple possibility to extend shipments for `venia-ui`

**Describe the solution you'd like**
Research possibility and Problems of extending shipments how a public interface should look like.

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots

[2020-10-28 11:31] Frodigo commented on #2025
@larsroettig, in my opinion, UX research is not necessary here. We can use global venia styles & elements and do this functionality similar as in Magento Luma frontend.

[2020-10-28 16:48] #2804 closed

[2020-10-28 17:24] #2816 closed

[2020-10-28 22:17] #2551 closed

[2020-10-28 22:17] #2707 closed

[2020-10-29 12:52] ericerway commented on #2809
Extension now available: https://marketplace.visualstudio.com/items?itemName=larsroettig.vscode-pwa-studio

[2020-10-31 17:10] Frodigo commented on #2805
@magento I am working on this

[2020-11-02 17:47] #2802 closed

[2020-11-03 00:52] #2795 closed

[2020-11-03 14:18] huykon commented on #2803
Like @sirugh comment, I saw A2H popup always show on android browsers when we come the website at the first time. Unfortunately, the browser on IOS have not support A2H so we could not found it.

[2020-11-03 17:47] vijaythummar opened #2845 "PWA Studio 4.0 Release : Request Timeout when exceed more than 2 minutes"
**Describe the bug**
If any API request exceeds more than 2 minutes than I am getting gateway timeout error. It could be issue of default timeout configuration of nodeJS.

**Expected behavior**
There should be no timeout.

**Possible solutions**
There should be no timeout or How I can increase timeout value to 5 minutes?

**Please complete the following device information:**
 - Device: PC
 - OS :

[2020-11-04 18:09] #2773 closed

[2020-11-06 09:05] MichalMichniewiczEpoint opened #2849 "Connect Magento 2.3.5-p2 with Magento PWA studio 8"
I need connect Magento 2.3.5-p2 with Magento PWA studio 8. What can be processed to make it work?

[2020-11-07 16:57] Frodigo commented on #2805
@ericerway I have one question. Take a look at the attached screenshot:

![Screen Shot 2020-11-07 at 17 50 39](https://user-images.githubusercontent.com/11998249/98447062-572b6b00-2122-11eb-9201-d0c032341f60.png)

I suppose that "Women" is an active category name, but I don't understand from the 'Clothing' phrase came from.

[2020-11-09 02:52] huykon commented on #2849
Magento pwa studio 8 supported the lowest magento version 2.40. You can see the compatible version of pwa studio [here](https://github.com/magento/pwa-studio/blob/b38e983f9e62223313304160c27def84f795d556/magento-compatibility.js#L7)

[2020-11-09 09:03] 1200rist opened #2851 "[doc]: Scaffolded project i18n intercept"
**Describe the request**
There's no example of how to add translation files in your scaffolded project. I haven't found a way of doing it with targets, only by importing my own localeProvider in the App component.

**Possible solutions**
Add a section for describing how to add translations to your base package without modifying venia-ui files.

**Please let us know whether this is a new topic or a

[2020-11-09 09:43] huykon commented on #2845
try this: https://github.com/apollographql/apollo-client/issues/1751

[2020-11-09 11:37] vijaythummar commented on #2845
Thanks Huy Kon,
But I am not sure how that will help? As far I know PWA4.0 uses windows Fetch API for request.
Where I can change timeout in appllo client?

Regards,
Vijay

[2020-11-10 11:15] ankurvr opened #2854 "[bug]: It's not showing any message when there are no supported payment methods available"
**Describe the bug**
It's not showing message when there are no supported payment methods available.
It's becoming and empty container instead of showing proper message.

**To reproduce**
Steps to reproduce the behavior:
1. Make sure you have braintree payment method disabled and other payment methods like Purchase order, bank transfer enabled.
2. Add any product to cart
3. Go to Cart -> Checkout

[2020-11-10 11:17] ankurvr commented on #2854
@magento I am working on this

[2020-11-10 23:50] JordanDDisch opened #2858 "[bug]: Repeated component in bundle from simple import"
When building our app and analysing the bundles generated, there is repeat of a component in two different bundles only after importing 'react-tabs'.

Not sure if this is expected behaviour, but I would imagine that importing a node_module into a component would not cause this issue.

With `import { Tab, Tabs, TabList, TabPanel } from 'react-tabs';`

<img width="503" alt="Screen Shot 2020-11-11 at

[2020-11-11 11:19] truongnx-dtn opened #2860 "[bug]: It gets stuck at loading when trying to open a sub-category that has been redirected"
**Describe the bug**
It gets stuck at loading when trying to open a subcategory that has been redirected.
In the source code, it used history.replace() function but missing the "/" for params.

**To reproduce**
Steps to reproduce the behavior:
1. Login to admin panel
2. Go to "Marketing / SEO & Search / URL Rewrites"
3. Add an URL rewrite for a subcategory (use 301 or 302 redirect)
4. Go to front-

[2020-11-11 11:20] truongnx-dtn commented on #2860
@magento I am working on this

[2020-11-11 11:22] truongnx-dtn commented on #2860
@magento add to contributors team

[2020-11-11 13:17] chiranjeevi-cj commented on #2860
@magento i am working on this

[2020-11-11 14:24] chiranjeevi-cj commented on #2860
@truongnx-dtn Below added screenshot is that what needs to be added?
![Screenshot from 2020-11-11 19-52-48](https://user-images.githubusercontent.com/52098385/98823117-b6a5b580-2457-11eb-99cc-fc5e63fd1e21.png)

[2020-11-12 02:42] truongnx-dtn commented on #2860
@magento i am working on this

[2020-11-12 03:15] truongnx-dtn commented on #2860
No. Sorry for unclear description. I've a pull request here, but how can I link it to this issue
https://github.com/magento/pwa-studio/pull/2861

[2020-11-12 08:03] truongnx-dtn commented on #2860
Hi @chiranjeevi-cj, sorry for my unclear description.
Do you know how to add a version label to my pull request? I think I don't have permission.

[2020-11-12 08:17] chiranjeevi-cj commented on #2860
@magento i am working on this

[2020-11-12 08:22] chiranjeevi-cj commented on #2860
@truongnx-dtn that will be added by the maintainer(reviewers). We are contributors, we don't have access to do.

[2020-11-12 08:27] truongnx-dtn commented on #2860
@chiranjeevi-cj Many thanks!
I have one more question: we must call maintainer to review or just wait?

[2020-11-12 15:16] ericerway commented on #2796
@jemoon any updates? Thanks for your help!

[2020-11-12 15:18] ericerway commented on #2239
@Jordaneisenburger can you confirm if this has been fixed in 8.0.0? Let's close if needed. Thanks!

[2020-11-12 15:28] ericerway commented on #2237
Reviewed for STR and priority. Adding to FAQ in PWADocs. @jcalcaben can you please add?

[2020-11-12 18:32] schensley commented on #2805
Hi @Frodigo I think that is simply meant to be a reference label for reenforce which category was tapped in the navigation, and the designer might have taken some liberties adding "clothing" to give it greater separation in terms of hierarchy. I suppose it could serve as a breadcrumb which could be handy if this menu were to appear as an entire page where instead of "Clothing" it led with "Home" o

[2020-11-13 09:28] Jordaneisenburger commented on #2239
Looks like it's fixed, I'll close for now.

[2020-11-13 12:23] jemoon commented on #2796
@ericerway @tjwiebell sorry but I wont be able to provide good quality PR as I got stuck so please unassign this one from me.

[2020-11-14 04:56] Frodigo opened #2864 "[doc]: Page builder to PWA integration documentation is out of date"
**Describe the request**
This doc is out of date: https://magento.github.io/pwa-studio/pagebuilder/custom-components/overview/

That is not true. Now it's possible to render page builder components on other CMS pages than Homepage.

**Please let us know whether this is a new topic or a topic change request:**
 - [ ] New Topic Request (ie. missing entire topic/section)
 - [x] Topic Change Request (

[2020-11-16 19:03] #2743 closed

[2020-11-16 19:14] sirugh commented on #2713
@jpmii can you provide any extra details about why you were unable to capture the signin event? I was hoping something like [this](https://github.com/magento/data-services-pwa-recs/pull/16/files#diff-68d33e0c399fa21053752c4d6332f845R41-R43) would work for you, as it is the expected approach. If it's not working, I'd like to know why.

[2020-11-17 08:00] KevinGorjan opened #2866 "[feature]: "price" attribute to "price_range""
**Is your feature request related to a problem? Please describe.**
I would like to use features like discounts, special prices, minimum and maximum prices. Therefore I suggest we need to create a new <PriceRange /> component and rewrite some of the GraphQL queries.

**Describe the solution you'd like**
When there is a discount or special price, I would like to see this on the category-, product-pa

[2020-11-17 14:09] ericerway commented on #2866
@schensley can you take a look? We should add this to our special pricing/promos work. Thanks! 👍

[2020-11-17 14:47] sirugh commented on #2866
To add, we may want to have this scope encompass _all_ areas of venia that use price:

* cart
* mini cart
* product page
* search page
* search box (autocomplete results)
* category page.
* wishlist

[2020-11-17 15:18] sirugh commented on #2809
@larsroettig to open a PR against our readme or docs where appropriate so we can assign points/value to this effort (since the extension exists outside of this repo/codebase)

[2020-11-17 15:23] sirugh commented on #2805
@schensley could we just say that for this iteration we _dont_ include the breadcrumb/thing at the top as indicated? Just want to provide clear instructions for @Frodigo .

[2020-11-17 21:14] #2277 closed

[2020-11-17 21:14] abso-bmarquis commented on #2277
Working on v8.0.0

[2020-11-18 20:05] jpmii commented on #2713
@sirugh I had a debugger on the createAccount/useCreateAccount/handleSubmit talon and the signIn/useSignIn talon. When creating an account the page logged in before the debugger was triggered so I couldn't capture the event. This was a few months ago so I'm not sure if something changed since then.

[2020-11-19 12:54] irajneeshgupta commented on #2849
@MichalMichniewiczEpoint i had similar issue with my magento store and in my case it was klarna payment was causing some issue.

you may easily debug it by viewing in `packages/pwa-buildpack/lib/Utilities/graphQL.js:32`

Body :

`{"query":"query availableStoresConfigData {\n    availableStores {\n        code\n        id\n        store_name\n        default_display_currency_code\n    }\n}\n"}`

Re

[2020-11-19 13:32] huykon commented on #2866
I have seen in document that price attribute is deprecated. So is that right?
<img width="1187" alt="Screen Shot 2020-11-19 at 8 30 37 PM" src="https://user-images.githubusercontent.com/9253798/99672583-2a723e80-2aa6-11eb-8b0c-ec59bcf9d9ce.png">

[2020-11-19 16:02] sirugh opened #2869 "[feature]: Display page level error and disable checkout button when no available payment methods"
**Is your feature request related to a problem? Please describe.**
When a there are no available payment methods (usually a backend issue) a user can get to the checkout page and continue all the way to the payment information section before seeing any indication of a problem (#2854). They can also still click "Review Order" even though they haven't entered payment information. After clicking the

[2020-11-19 17:18] sirugh commented on #2713
Ah, well I think the new extensibility api should suffice so I'm going to close this for now. If you find a need for this again, and are unable to accomplish it with the extensibility api, please re-open a ticket and we will investigate further :)

[2020-11-19 17:18] #2713 closed

[2020-11-19 17:20] sirugh commented on #2849
As @huykon pointed out, 2.3.5 is compatibile with PWA Studio v7. Please upgrade your backend according to the compatibility matrix.

[2020-11-19 17:20] #2849 closed

[2020-11-19 19:17] jcalcaben commented on #2809
The README file would be the most appropriate place for promoting these types of tools and resources.
My suggestion would be to create a **Community Resources** section under **Useful Links** after **Venia** that lists helpful tools and blogs created by our community members.

[2020-11-19 21:14] sirugh commented on #2809
@larsroettig do you have a sec to make a PR for this? Could get you some points for your work if you open it. If you're busy, we can also just take care of it for ya. Let us know!

[2020-11-20 02:58] huykon commented on #2866
as I checked [price_rage](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/product-interface.html#PriceRange) documentation, so :
1. Should we use maximum_price or minimum_price or both?
2. Which mockup or design UX for situations display price(discount, promotion rule, ...) ?

[2020-11-20 04:59] ericerway commented on #2866
@jcalcaben can you take a look at the docs question? Thanks!

[2020-11-20 11:17] KevinGorjan commented on #2866
Hi @huykon

I think we should use the **minimum_price** for simple products.
When it comes to configurable products, we add the **maximum_price**

For example this GraphQL query.

[code]

the response is like

[code]

Based on this, you need to some comparing on the frontend ;-)

[2020-11-21 17:16] beHitesh commented on #1110
Hi, Do we have any documentation or implementation examples for SSR support? It would be really helpful- thank you.

[2020-11-23 19:37] #2854 closed

[2020-11-24 02:20] huykon commented on #2866
@jcalcaben @ericerway can you give me an exactly answer?

[2020-11-24 09:20] ankurvr commented on #2869
@sirugh As per the screenshot shown the title "Checkout" (check below) is not there in current design. Do you want me to add that too?
<img width="425" alt="Screen Shot 2020-11-24 at 2 47 49 PM" src="https://user-images.githubusercontent.com/3338156/100074101-59046680-2e64-11eb-871f-8810faf734c1.png">

[2020-11-24 09:25] ankurvr commented on #2869
@sirugh Can you please also verify and approve the form error message for Guest user and Logged in user both in terms of UI?

![pwa-docker localhost_8080_checkout (2)](https://user-images.githubusercontent.com/3338156/100074722-1a22e080-2e65-11eb-929c-98dcaa0b4b41.png)
![pwa-docker localhost_8080_checkout (1)](https://user-images.githubusercontent.com/3338156/100074729-1beca400-2e65-11eb-8bed-d222

[2020-11-24 12:33] Jordaneisenburger commented on #2798
Hi @mherkarapetyan4,

We try to use github for Issues / feature requests. If you need help with a project your best bet is asking in the public #pwa slack channel.

[2020-11-24 12:33] #2798 closed

[2020-11-25 10:02] Jordaneisenburger opened #2872 "[feature]: Trace actions calls"
**Is your feature request related to a problem? Please describe.**
As a developer I'd like to easily trace where redux calls are evaluated.

**Describe the solution you'd like**
Give Redux devTools the possibility to use the trace functionality. Not sure if this has some significant downside ?

**Describe alternatives you've considered**

**Additional context**
In @magento/peregrine/lib/util/compo

[2020-11-26 13:01] KevinGorjan opened #2874 "[feature]: Dynamic price range (by input / slider)"
**Is your feature request related to a problem? Please describe.**
As a customer, I want to set the minimum and maximum price by myself instead of choosing with checkboxes.

**Describe the solution you'd like**
Give the option that we select between:
- Checkboxes
- Input (min / max)
- Slider
- Combination of input + slider

**Describe alternatives you've considered**
None

**Additional context**
!

[2020-11-26 13:09] KevinGorjan opened #2875 "[bug]: Filter labels don't update"
**Is your feature request related to a problem? Please describe.**
When I change the filter label name (ex: Price to Price_updated) it doesn't update the label in Venia.

**Describe the solution you'd like**
I think the GraphQL should be updated or there is something going wrong in the frontend

**Describe alternatives you've considered**
none

**Additional context**
![image](https://user-images.g

[2020-11-26 14:06] mhaack opened #2876 "[bug]: resolveUnknownRoute.js does not work with a custom GraphQL endpoint."
**Describe the bug**
resolveUnknownRoute.js does not work with a custom GraphQL endpoint.

https://github.com/magento/pwa-studio/blob/df8720144f6e0e275c30d4adc3b8feb79e776394/packages/peregrine/lib/Router/resolveUnknownRoute.js#L114 seams wrong as the `opts.apiBase` already contains the absolute URL to the GraphQL endpoint. `apiBase` is constructed in index.js in venica-concept. If I pass `https:/

[2020-11-30 05:02] vijaythummar commented on #2845
I have fixed issue by updating proxy settings of upward.

Thanks.

[2020-11-30 05:02] #2845 closed

[2020-11-30 19:32] it-getprice-pl opened #2878 "Feedback on page: /tutorials/hello-upward/simple-server/"
I needed to add 'react' as a dependency.

[2020-12-01 14:08] sirugh commented on #1222
This ticket was being worked on but the original contributor had other demands of their time so for now it is moving to the backlog.

Whomever wishes to pick this up, please reference existing the existing PR, #2787, that may contain relevant context about the desired solution.

[2020-12-01 14:08] sirugh commented on #1470
This ticket was being worked on but the original contributor had other demands of their time so for now it is moving to the backlog.

Whomever wishes to pick this up, please reference existing the existing PR, #2822, that may contain relevant context about the desired solution.

[2020-12-01 17:37] #2876 closed

[2020-12-01 21:55] jimbo commented on #2876
@mhaack Thanks for opening this issue.

The code and concepts in `resolveUnknownRoute` are some of the oldest in PWA Studio, so they're definitely more manual and outdated than the rest of our GraphQL-related code. [We recently merged a PR](https://github.com/magento/pwa-studio/pull/2859) to `develop` that deprecates this file and moves its responsibilities into a normal GraphQL query to be execut

[2020-12-02 08:13] mhaack commented on #2876
Yes thanks that will solve the issue. Also, I saw #2877 was merged now.

[2020-12-02 17:56] magento-engcom-team opened #2883 "Update "Data Fetch Error" page to improve user experience"
Current Data Fetch Error is not useful and should be replaced with a friendlier page/route based on recommendation from UX. Merchant and shopper see this as an "404" error instead of an incorrect page.

<https://github.com/magento/pwa-studio/search?q=%22data<ins>fetch</ins>error%22>

categoryList
cmsBlock
category
product

Desired:

* Implement 404 page as a component.
* Use 404 page in place of e

[2020-12-02 17:56] magento-engcom-team commented on #2883
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/PWA-1032

[2020-12-03 16:49] sirugh opened #2884 "Update react-feather dependency"
https://github.com/magento/pwa-studio/pull/2533

2.03 -> latest

**Acceptance Criteria**

1. All icons should work
2. Bundle should not be much larger.

[2020-12-03 16:49] sirugh commented on #2884
@magento export issue to Jira project PWA as Task

[2020-12-03 16:49] magento-engcom-team commented on #2884
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1175) is successfully created for this issue.

[2020-12-03 16:53] m2-assistant[bot] opened #2885 "[Bug] Work around order details issue"
This issue is automatically created based on existing pull request: magento/pwa-studio#2850: Work around order details issue

---------
## Description

Users have encountered an issue in production where the `useOrderConfirmationPage` talon throws Javascript errors.

This should never happen; the talon is very simple. All it does is flatten the order data (cart data, shipping address data) into a

[2020-12-03 16:55] sirugh commented on #2885
@magento export issue to Jira project PWA as Bug

[2020-12-03 16:55] m2-assistant[bot] opened #2886 "[Feature] Add Adobe client data layer"
This issue is automatically created based on existing pull request: magento/pwa-studio#2852: Add Adobe client data layer

---------
## Description

Add the Adobe Client Data Layer as an extension, enabling product recommendations and others to do their work. As an extension, the script is optional, and it should be loaded with the [lowest priority possible](https://addyosmani.com/blog/script-prior

[2020-12-03 16:57] sirugh commented on #2885
@magento export issue to Jira project PWA as Story

[2020-12-03 16:57] magento-engcom-team commented on #2885
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1176) is successfully created for this issue.

[2020-12-03 16:59] sirugh commented on #2886
@magento export issue to Jira project PWA as Story

[2020-12-03 16:59] magento-engcom-team commented on #2886
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1177) is successfully created for this issue.

[2020-12-03 17:04] m2-assistant[bot] opened #2887 "[Issue] Bump node-fetch from 2.3.0 to 2.6.1"
This issue is automatically created based on existing pull request: magento/pwa-studio#2701: Bump node-fetch from 2.3.0 to 2.6.1

---------
Bumps [node-fetch](https://github.com/bitinn/node-fetch) from 2.3.0 to 2.6.1.
<details>
<summary>Release notes</summary>
<p><em>Sourced from <a href="https://github.com/bitinn/node-fetch/releases">node-fetch's releases</a>.</em></p>
<blockquote>
<h2>v2.6.1</h2

[2020-12-03 17:05] sirugh commented on #2887
@magento export issue to Jira project PWA as Task

[2020-12-03 17:05] magento-engcom-team commented on #2887
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1178) is successfully created for this issue.

[2020-12-04 10:37] papiliond opened #2892 "[feature]: Path array for venia-ui routes pattern"
**Is your feature request related to a problem? Please describe.**
Passing an array of paths to the `pattern` field of venia-ui route definition does not work. This value is passed as a string value in BabelRouteInjectionPlugin.js (86:76). It should also accept an array, as react-router path does (see [docs](https://reactrouter.com/web/api/Route/path-string-string)).

**Describe the solution you'd

[2020-12-04 10:39] papiliond commented on #2892
@magento I am working on this

[2020-12-04 10:56] papiliond commented on #2892
@magento add to contributors team

[2020-12-04 11:26] #2878 closed

[2020-12-04 14:49] sirugh commented on #2892
@magento export issue to Jira project PWA as Story

[2020-12-04 14:49] magento-engcom-team commented on #2892
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1181) is successfully created for this issue.

[2020-12-04 15:34] m2-assistant[bot] opened #2894 "[bug] Allow self signed certs for backend validation"
This issue is automatically created based on existing pull request: magento/pwa-studio#2891: Allow self signed certs for backend validation

---------
## Description

Fixes an issue with using self signed certs (`valet secure`) and the new sample backend validator.

If you use a local backend with some self signed cert, it fails to validate:

[code]

## Related Issue

Closes #ISSUE_NUMBER.

## Acc

[2020-12-04 15:35] sirugh commented on #2894
@magento export issue to Jira project PWA as Bug

[2020-12-04 15:35] sirugh commented on #2894
@magento export issue to Jira project PWA as Story

[2020-12-04 15:36] magento-engcom-team commented on #2894
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1182) is successfully created for this issue.

[2020-12-07 02:22] fooman opened #2898 "[bug]: yarn buildpack create-custom-origin . errors"
**Describe the bug**
`yarn buildpack create-custom-origin .`  produces error

[code]

**To reproduce**
Steps to reproduce the behavior:
1. latest develop
2. run scaffold command
3. remove @magento/venia-sample-backends package
4. run  `yarn buildpack create-custom-origin . `

**Expected behavior**
custom origin created

**Screenshots**
see #2897

**Additional context**
Add any other context about

[2020-12-07 02:23] fooman commented on #2898
@magento I am working on this

[2020-12-07 10:20] dankhrapiyush opened #2899 "[bug]: Adding a trailing comma on run prettier:fix command"
**Describe the bug**
On run `yarn run prettier:fix` command, it's adding a trailing comma under an array

**To reproduce**
Steps to reproduce the behavior:
1. In packages/venia-concept directory
2. Run `yarn run prettier:fix your-custom-extension-directory` command
3. Check file update history
4. It is adding a trailing comma under an array
[code]

**Expected behavior**
It should not add a trailin

[2020-12-07 10:21] dankhrapiyush commented on #2899
@magento I am working on this

[2020-12-07 15:56] sirugh commented on #2899
The `prettier.config.js` file in the root of the pwa studio repo should handle this already. Do you have any thoughts on why it might not be working for your use case? It looks like there is a `venia-concept/prettier.config.js` so maybe it's overwriting instead of extending the root config. I'd be interested in a resolution to this issue that includes consolidating the configs.

[2020-12-07 15:59] sirugh commented on #2898
@magento export issue to Jira project PWA as Bug

[2020-12-07 16:06] sirugh commented on #2898
@magento export issue to Jira project PWA as Story

[2020-12-07 16:06] magento-engcom-team commented on #2898
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1184) is successfully created for this issue.

[2020-12-07 16:06] davemacaulay commented on #1490
This issue is tracked under https://jira.corp.magento.com/browse/PWA-125

[2020-12-07 16:08] davemacaulay commented on #1990
This is tracked under https://jira.corp.magento.com/browse/PWA-166

[2020-12-07 16:09] davemacaulay commented on #1947
This is tracked internally within https://jira.corp.magento.com/browse/PWA-168

[2020-12-07 16:12] davemacaulay commented on #1796
Due to lack of activity we've opted to close this issue.

If you encounter this issue you should stop the watch command and restart your build.

[2020-12-07 16:12] #1796 closed

[2020-12-07 16:14] davemacaulay commented on #1222
This is being tracked internally at https://jira.corp.magento.com/browse/PWA-174

[2020-12-07 16:18] davemacaulay commented on #895
We deem this as a feature request and are tracking internally under the story: https://jira.corp.magento.com/browse/PWA-176

[2020-12-07 16:40] papiliond opened #2901 "[bug]: Error on build:dev"
**Describe the bug**
Running the `build:dev` script gives the following output:

[code]

**To reproduce**
Steps to reproduce the behavior:
1. Run `yarn build:dev`
2. See the output.

**Expected behavior**
When HMR isn't enabled on webpack, the `@pmmmwh/react-refresh-webpack-plugin` shouldn't be added to the webpack plugins. (See ths issue: https://github.com/webpack/webpack/issues/1151)

**Possibl

[2020-12-07 18:11] #2892 closed

[2020-12-07 19:31] #2884 closed

[2020-12-07 22:05] #2898 closed

[2020-12-08 02:00] fooman opened #2903 "[bug]: Webpack dev server not matching production behaviour"
**Describe the bug**
The dev experience should work in a similar fashion to the production environment.

**To reproduce**
Steps to reproduce the behavior:
1. Start with a scaffolded project
2. `yarn build`
3. `DEBUG=hastily:*,upward* yarn start`
4. `curl URL of upward + image` (for example `curl https://fooman-pwa-frontend-gh6ov.local.pwadev:9730/venia-static/veniaClosed.png`)
5. note upward outpu

[2020-12-08 02:03] fooman commented on #2901
looks like https://github.com/magento/pwa-studio/issues/2689

[2020-12-08 05:36] dankhrapiyush commented on #2899
@sirugh I am facing this issue on the scaffolding `yarn create @magento/pwa`.

[2020-12-08 07:30] papiliond commented on #2689
I think the ReactRefreshWebpackPlugin should only be included when running the web server. In case I want to make a development build with `webpack --no-progress --env.mode development`, I don't necessary want to hot reload.

[2020-12-08 11:57] Frodigo commented on #2805
@schensley @sirugh I think that we can include this breadcrumb here. I can use the root category name as the first breadcrumb item and the hovered first-level category name as the second breadcrumb item.

Please confirm that it is OK for you.

Thanks,
Marcin

[2020-12-08 16:57] schensley commented on #2805
@Frodigo that sounds like that would accomplish things nicely.

[2020-12-08 21:46] brendanfalkowski commented on #2805
Two cents & grain of salt — breadcrumbs are just plain weird to include *inside* a menu. The level-1 categories are the root of all nav from the user's perspective. The menu shouldn't need orientation.

Worse, in practice, I don't think stores frequently rename "root category" or develop any content there because it's too broad to have a point. That's what the home page serves. With this UI a bunc

[2020-12-09 14:39] papiliond opened #2905 "[feature]: Upgrade style-loader"
**Is your feature request related to a problem? Please describe.**
It would be great to upgrade style-loader to `2.0.0` and leverage the loader options. Currently the version `~0.23.1` is used.

The main thing that would improve the style loading is the `injectType: singletonStyleTag` option, which would place the bundled styles into a single style tag.

**Describe the solution you'd like**
- Upgr

[2020-12-09 21:50] papiliond commented on #2905
@magento I am working on this

[2020-12-14 16:10] davemacaulay commented on #2318
We're tracking this bug internally with the following ticket: https://jira.corp.magento.com/browse/PWA-504

[2020-12-14 16:21] davemacaulay commented on #2411
@paales this means priority 3 and severity 3, it's how we track the importance of issues to help with triaging.

We're tracking this item internally with the following ticket: https://jira.corp.magento.com/browse/PWA-657

[2020-12-15 11:59] Skavengerr opened #2908 "How do you edit the PWA manifest after scaffolding?"
Hello, now when i opening my manifest in builded project i see that one
![image](https://user-images.githubusercontent.com/41162650/102212174-71085c80-3edd-11eb-92a6-be509ba9da15.png)
I tried adding mine in the root of the project, but nothing worked.
So how can I edit my manifest?

[2020-12-15 17:34] #2797 closed

[2020-12-15 21:16] #2894 closed

[2020-12-16 02:03] huykon commented on #2908
You can edit manifest.json on path: `packages/venia-ui/venia-static/manifest.json`

[2020-12-16 06:36] Skavengerr commented on #2908
@huykon Yeah, but it's in a node_modules and if I reinstall them I have to edit again

[2020-12-16 06:45] huykon commented on #2908
no. This file not in path of node_modules

[2020-12-16 06:52] Skavengerr commented on #2908
@huykon
I created a project with 'yarn create @magento/pwa' and after installing the project I have this structure
![image](https://user-images.githubusercontent.com/41162650/102314844-cb57fa80-3f7b-11eb-9e82-f2aef48d4be2.png)

[2020-12-16 16:34] sirugh commented on #2908
@Skavengerr One idea - clone `venia-static` to a new folder in your project root and update your `upward.yml` to route to a different static folder instead of `venia-static`. That might work. I might be missing something but I would have thought it'd be easy to modify the manifest after scaffolding. @revanth0212 you've got some experience around this directory/upward. Any thoughts?

[2020-12-16 17:31] revanth0212 commented on #2908
Theoretically, the workaround that @sirugh suggested should work, since we are adding a new `manifest.json` file to the project and the new scaffolded app's `template.html` has a link mentioned this way `<link rel="manifest" href="/manifest.json">`.

That said, I will create a ticket in our backlog to make the scaffold logic to eject a manifest.json file during the creation process. Not sure why w

[2020-12-16 17:54] revanth0212 commented on #2908
Hello, @Skavengerr I have created an internal ticket on our backlog to investigate the issue. Thank you for your question, please let us know if the workaround that @sirugh suggested works.

[2020-12-16 17:58] #2908 closed

[2020-12-16 21:35] #2885 closed

[2020-12-16 23:22] #2886 closed

[2020-12-20 21:09] fooman opened #2913 "[bug]: Question on buildpack dependencies"
**Describe the bug**
This might only impact me as I am building weekly packages of PWA-Studio [here](https://github.com/fooman/pwa-studio-canary/runs/1585717876?check_suite_focus=true). This week's build failed due to the changes coming from https://github.com/magento/pwa-studio/pull/2891. More specifically the introduction of the lodash package in create.js

[code]

I believe I am only seeing thi

[2020-12-20 23:22] fooman commented on #2913
Solved the chicken/egg problem I had with yarn install on the repo level and that solved it.

[2020-12-20 23:22] #2913 closed

[2020-12-21 07:38] KevinGorjan opened #2914 "[bug]: Can't load the same component for multiple routes"
**Describe the bug**
Hi all.
I'm developing a package where I need that creates multi URLs but load the same components.
This is needed for the side-menu I need.
[code]
But when I re-start the development server, I receive this error
[code]
But when I load a new component for `Customers orders`, it can compile, but that's not what I need :-)

**To reproduce**

**Expected behavior**
To load the sam

[2020-12-21 14:25] ericerway opened #2915 "[feature]: Accessibility improvements for Venia via Google Lighthouse"
Accessibility improvements for Venia via Google Lighthouse.

[2020-12-21 14:28] ericerway commented on #2915
@magento give me 2.4.0 instance

[2020-12-21 15:39] sirugh commented on #2914
I asked Kevin to open the issue so we could document this incase folks run into the problem in the future as it is fixed on `develop` and should be fixed in the upcoming v9 release.

Just to check,  I added a route to the top of `defaultRoutes.json`, which duplicated the AccountInformationPage with a different name and pattern. It worked and I was able to use both `/account` and `/account-informat

[2020-12-21 15:39] #2914 closed

[2020-12-22 08:48] Skavengerr commented on #2908
@revanth0212  @sirugh Thank's a lot, I will try it. Could you provide an example of updated upward.yml?

[2020-12-25 06:11] NagendraKodi opened #2919 "[doc]: Feedback on page: /technologies/basic-concepts/client-side-caching/, src/sw.js 404 Link not found."
**Describe the request**
Feedback on page: [/technologies/basic-concepts/client-side-caching/](https://magento.github.io/pwa-studio/technologies/basic-concepts/client-side-caching/#venia-service-worker
), [src/sw.js](https://github.com/magento/pwa-studio/blob/master/packages/venia-concept/src/sw.js) 404 Link not found.

**Screenshots**
![image](https://user-images.githubusercontent.com/28343427/10

[2020-12-25 11:59] divyeshmehta820 opened #2920 "Feedback on page: /404.html"
Please add new link

[2020-12-27 02:54] huykon commented on #2883
@schensley Do you have any design for error page?

[2020-12-29 10:27] dani97 commented on #2491
@magento I am working on this

[2020-12-30 15:32] dani97 commented on #2491
Lack of graphql support for currency symbol, we can fetch only shows symbol of default currency of the store and symbol of base currency. `available_currency_codes` field of `Currency` query should return symbol and code.

[2020-12-30 15:43] dani97 commented on #2491
https://github.com/magento/magento2/issues/31494

[2021-01-04 13:37] 0m3r opened #2923 "[bug]: PageBuilder is not extensible"
I try to add my richContentRenderers
something like [here](https://github.com/magento/pwa-studio/blob/develop/pwa-devdocs/src/pwa-buildpack/extensibility-framework/index.md#example)

and some logic in [richContent.js](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/RichContent/richContent.js#L29) is weak (wrong) in my opinion
if I add my custom richContentRender

[2021-01-05 15:08] ericerway commented on #2805
@frodigo any updates since the demo? Let us know when you think even a basic PR would be ready when you have a moment. Thanks!

[2021-01-05 20:15] ericerway opened #2927 "[feature]: Static payment methods for Venia (check/money order)"
**Is your feature request related to a problem? Please describe.**
The current version of Venia ships with Braintree for credit/debit payment types. With the new extensibility capabilities in Q4-2020, adding additional payment types is not straightforward and possible including static methods like check or money order. These are basic options found in the Magento 2 standard configuration.

**Descr

[2021-01-06 10:31] Frodigo commented on #2805
Hi @ericerway, I plan to create PR this week, stay tuned!

[2021-01-06 18:49] ericerway opened #2930 "[feature]: Google Tag Manager support (extensibility)"

[2021-01-06 19:06] Jordaneisenburger commented on #2930
@developer that's going to thing about a solution to add GTM and Enhanced ecommerce. Feel free to reach out to me since I've already built a pretty extensible solution running on 2 live shops without issues.

[2021-01-07 11:34] drpayyne opened #2931 "[bug]: Duplicate thumbnails are generated on PDP swatch change"
**Describe the bug**

In the swatch images PDP of Venia with Venia sample data installed, duplicate thumbnails are being generated on the left when switching between the swatch colors.

**To reproduce**
Steps to reproduce the behavior:
1. Go to any product with swatch images for example http://0.0.0.0:10000/carola-infinity-scarf.html
2. Switch between all swatch icons
3. Whenever the user moves fr

[2021-01-07 11:36] drpayyne commented on #2931
Note: switching between secondary colors doesn't generate duplicates

[2021-01-11 15:19] Frodigo opened #2933 "[feature]: Support for videos in the gallery on PDP"
As a merchant, I want to add videos for products, and these videos should be displayed on a Storefront. I have the opportunity to add Youtube/Vimeo videos in the Magento administration panel, but these videos not working in the Storefront.

**Describe the solution you'd like**
Extend Venia Gallery component(s) and add support for Videos.

**Please let us know what packages this feature is in regar

[2021-01-11 15:47] Frodigo opened #2934 "[feature]: Adding a product to Wishlist from the PDP"
Issue is re-opened to unify experience across all storefront areas: catalog/CMS/PDP

### Story

**Preconditions**
* Wishlist is enabled in Magento Admin Panel>Stores > Settings > Configuration > Customers > Wish List
* User is on Venia storefront PDP
* User is not logged in

**Precondition 1 - single wishlist**
* Magento doesn't have multiple wish-list (CE) or multi-wishlist is disabled in Stores

[2021-01-12 01:48] huykon commented on #2934
@magento I am working on this

[2021-01-12 06:34] chiranjeevi-cj opened #2937 "Feedback on page: /pagebuilder/custom-components/setup-component/"
**Code:**

exampleQuote.js:

import React from 'react';
import { mergeClasses } from '../../../../../classify';
import defaultClasses from './exampleQuote.css';
import { shape, string } from 'prop-types';

const classes = mergeClasses(defaultClasses, props.classes);

// Component for testing setup
const ExampleQuote = props => {
    return (
        <div className={classes.testClass}>

[2021-01-12 06:36] chiranjeevi-cj commented on #2937
@magento I am working on this

[2021-01-12 10:41] huykon commented on #2934
@schensley do you have any design for this?

[2021-01-12 14:03] #2937 closed

[2021-01-12 15:29] sirugh commented on #2934
We should have the ability to do this starting in Magento 2.4.2.

FYI @huykon might be better to pick up tickets that have been groomed. We don't normally add detail until then, and we don't normally evaluate necessity or feasibility until then.

Thanks!

[2021-01-12 15:31] huykon commented on #2934
@sirugh thank for your response. I push a draft PR in [2939](https://github.com/magento/pwa-studio/pull/2939)

[2021-01-13 21:21] sirugh commented on #2934
I have created internal ticket to track this work, [PWA-1267](https://jira.corp.magento.com/browse/PWA-1267)

[2021-01-14 18:02] arturtreiberg opened #2945 "[feature]: Add option to use custom https certificates with buildpack"
**Describe the solution you'd like**
Add option to add custom https certificates to buildpack serve

**Please let us know what packages this feature is in regards to:**
- [ ] `venia-concept`
- [ ] `venia-ui`
- [x] `pwa-buildpack`
- [ ] `peregrine`
- [ ] `pwa-devdocs`
- [ ] `upward-js`
- [ ] `upward-spec`
- [ ] `create-pwa`

[2021-01-14 18:15] arturtreiberg commented on #2945
@magento I am working on this

[2021-01-15 14:12] gabs77 opened #2947 "Multiple theme inheritance ?"
I know how to create a theme on pwa-studio with the create-pwa command.
But i'm looking for to build multiple 2 themes with a double dependencies.
Example :
- 1st theme : packages/my-abstract-theme-vanilla depends by venia-concept
- 2nd theme : packages/my-final-theme depends by packages/my-abstract-theme-vanilla
- 3nd theme : packages/my-second-final-theme by packages/my-abstract-theme-vanilla

I

[2021-01-18 20:36] levygrunwald commented on #1110
@paales was there ever a follow up on this. I feel strongly about the benefits of SSR for optimized first contentful paint. Was also considering next.js.

Also wondering on your person solution to this outside of the official framework.

[2021-01-19 09:17] paales commented on #1110
Last I've heard, they are not planning on implementing SSR. We're developing our own frontend stack because of this and because of: lack of typescript support, lack of graphql code gen support (typescript related), wrong abstractions on the extensibility framework (creating webpack overrides), lack of first class support of other cms'es (can't blame them for this, but still a consideration for us)

[2021-01-19 09:56] Kein1945 opened #2949 "[bug]: Can't use shipping address in checkout step."
Hi, everyone!

**Describe the bug**
Short: I get error in JS console: Guest checkout is not allowed. Register a customer account or login with existing one
Long: I'm trying to look at new features in 8.0.0 release like order history, but can't complete checkout.
I'm using fresh version of pwa-sudio and newly installed Magento 2.4.0 as backend.

**To reproduce**
Steps to reproduce the behavior:
1.

[2021-01-19 16:20] jimbo commented on #1110
Yes, we're aiming to implement Node-based SSR this year; that epic is on our roadmap now and we'll hopefully begin next quarter. As part of that work, we'll determine how SSR and Upward fit together. And when that time comes, we'd always welcome another pair of eyes. 🙂

[2021-01-19 17:07] sirugh commented on #1470
@magento export issue to Jira project PWA as Story

[2021-01-19 17:07] magento-engcom-team commented on #1470
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1278) is successfully created for this issue.

[2021-01-19 17:10] m2-assistant[bot] opened #2950 "[Issue] [Fix bug]: Fix redirect error for sub-categories"
This issue is automatically created based on existing pull request: magento/pwa-studio#2861: [Fix bug]: Fix redirect error for sub-categories

---------
## Description
It gets stuck at loading when trying to open a subcategory that has been redirected.
In the source code, it used history.replace() function but missing the "/" for params.

### Possible solutions
Append "/" to the head of params wil

[2021-01-19 17:11] sirugh commented on #2860
@magento export issue to JIRA project PWA as Bug

[2021-01-19 17:12] sirugh commented on #2950
Oops - already created. Closing as dupe of #2860

[2021-01-19 17:12] #2950 closed

[2021-01-19 17:18] sirugh commented on #2860
@magento export issue to JIRA project PWA as Story

[2021-01-19 17:18] magento-engcom-team commented on #2860
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1279) is successfully created for this issue.

[2021-01-19 17:20] sirugh commented on #2869
@magento export issue to Jira project PWA as Story

[2021-01-19 17:21] magento-engcom-team commented on #2869
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1280) is successfully created for this issue.

[2021-01-19 17:25] sirugh commented on #2899
@magento export issue to Jira project PWA as Task

[2021-01-19 17:25] magento-engcom-team commented on #2899
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1281) is successfully created for this issue.

[2021-01-19 17:27] m2-assistant[bot] opened #2951 "[chore] Update anchor links in index.md"
This issue is automatically created based on existing pull request: magento/pwa-studio#2917: Update index.md

---------
Fixed multiple broken anchor links and update some of the files name that were changed.

## Description

page with multiple outdated content like broken anchor links, some of the files name were changed. Fixed anchor link with filename.

## Affected Page

https://magento.github.i

[2021-01-19 17:28] sirugh commented on #2951
@magento export issue to Jira project PWA as Task

[2021-01-19 17:28] magento-engcom-team commented on #2951
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1282) is successfully created for this issue.

[2021-01-19 17:28] sirugh commented on #2905
@magento export issue to Jira project PWA as Story

[2021-01-19 17:28] magento-engcom-team commented on #2905
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1283) is successfully created for this issue.

[2021-01-19 17:30] sirugh commented on #2945
@magento export issue to Jira project PWA as Story

[2021-01-19 17:30] magento-engcom-team commented on #2945
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1284) is successfully created for this issue.

[2021-01-19 17:30] sirugh commented on #2805
@magento export issue to Jira project PWA as Story

[2021-01-19 17:30] magento-engcom-team commented on #2805
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/PWA-1285) is successfully created for this issue.

[2021-01-19 23:31] deloreyj opened #2953 "[bug]: Adobe Client Data Layer event array doesn't exist"
**Describe the bug**
The event array is created in a `useEffect` hook which means it won't be run until after the initial render of the component tree. It would be better if that array were instantiated as early as possible in case someone tries to push to it.

**To reproduce**
Steps to reproduce the behavior:
1. Enable the data layer extension
2. Push to the data layer in the body of a component

[2021-01-20 03:55] ankurvr commented on #2869
@sirugh Can i still continue working on this issue after after creating internal Jira ticket? Or it will be taken care by Magento team from here?

[2021-01-20 17:24] magento-engcom-team commented on #235
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/PWA-1331.

[2021-01-20 19:08] deloreyj commented on #2953
Likely not a bug after discussing with @jimbo. Will close this issue and recreate later if it does turn out to be a problem

[2021-01-20 19:08] #2953 closed

[2021-01-20 19:38] sirugh commented on #2869
You can still work on this, of course! Can you rebase and handle the merge conflicts? Also there was some initial feedback given.

[2021-01-20 21:10] schensley commented on #2805
@Frodigo I just had a look at the mega menu work you did and while it was designed pretty much to the UI design provided, I think there are some _tweaks_ that should be made.

- Let's discard the breadcrumb text. Initially I thought it might help provide better context, but it seems to add noise and maybe some confusion. We'll allow the underline in the Main Nav list to help the shopper know what

[2021-01-21 00:29] elliot-zoerner-aligent opened #2957 "[bug]: yarn watch fails after adding a comment in root component talon"
**Describe the bug**
Overriding a `RootComponent` talon and adding a commented out `if` statement causes the `yarn watch` process to fail with the following error:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Copy `useCategoryContent.js` from peregrine into your source folder.
2. Override the talon by adding the following to `componentOverrideMapping`:
[code]
3. Edit the talon by a

[2021-01-21 15:51] Maksss2018 opened #2959 "__fetchLocaleData__"

[2021-01-22 08:40] caedes opened #2964 "Add Documentation to that explains the test example to scaffold"
This used to be a dev story that we desired t\not to do and add a documentation to the scaffolding to have those tests created by the end used as part of the best practices
Cmment from <~aterrano>

**Original Ticket**
In PWA-476 we removed the out of the box tests from the scaffold because they were copying over internal tests and causing confusion. Recently a community member asked for this funct

[2021-01-22 08:56] caedes opened #2965 "[bug]: Yarn test doesn't run, because it's missing in package.json"
**Describe the bug**
Wanting to run my test suite, but failed because no `test` script was found in `package.json`.

**To reproduce**
Steps to reproduce the behavior:
1. Create a new project with `yarn create @magento/pwa`.
2. Default answer everywhere.
3. `yarn test` failed.

**Expected behavior**
A test script, with Jest, as I see it somewhere in the doc.

**Screenshots**
<img width="614" alt="C

[2021-01-22 09:00] caedes commented on #2964
Related to #2965

[2021-01-22 15:40] sirugh commented on #2965
Hi there @caedes, and thanks for shining a light on this! Unfortunately, this is not a "bug" but is actually an intentional choice we made to [remove the out-of-the-box tests](https://github.com/magento/pwa-studio/pull/2321) from the scaffold.

For now, the addition of a test runner to your scaffolded app entirely your choice! You can pick your own test runner, and implement tests for your custom

[2021-01-22 15:40] #2965 closed

[2021-01-22 15:42] sirugh commented on #2964
@jcalcaben, I have opened an internal ticket to add an example test/runner to the scaffolded app, https://jira.corp.magento.com/browse/PWA-1340. I leave the documentation and handling of this/internal issues to you. :)

[2021-01-23 04:02] sirugh commented on #2959
Hi there, not sure what you are reporting here. Feel free to open the issue with some details (follow the template!).

Cheers!

[2021-01-23 04:02] #2959 closed

[2021-01-24 13:11] 0m3r opened #2968 "[feature]: Extensibility point (new target) to Pagebuilder setContentTypeConfig"
Now we have a good way to add pagebuilder content type with setContentTypeConfig

https://github.com/magento/pwa-studio/blob/develop/packages/pagebuilder/lib/config.js#L29

https://github.com/magento/pwa-studio/issues/2130
https://github.com/magento/pwa-studio/pull/2131

but setContentTypeConfig is hard to using

I must use my custom babel plugin to insert my "component" before each <RichContent .

[2021-01-25 10:02] Frodigo commented on #2805
Hey, @schensley thanks for your feedback! I'll add changes soon.

[2021-01-25 15:10] schensley commented on #2805
@Frodigo thank you, sir.

[2021-01-26 12:55] nadeefit6 opened #2970 "[feature]: When create sitemap in Magento there should be option to add PWA url and generate urls from upward server."
**Is your feature request related to a problem? Please describe.**
Magento2 create sitemap.xml files through cron. Need this feature on PWA.
**Describe the solution you'd like**
When create sitemap in Magento there should be option to add PWA url and generate urls from upward server.

**Describe alternatives you've considered**
A quick fix is really appriciated

**Additional context**
Add any othe

[2021-01-26 15:15] Skavengerr opened #2971 "Overriding default route"
Hello, how can I override default route in pwa? I need it because I should redirect to our magento checkout.

![image](https://user-images.githubusercontent.com/41162650/106421007-8c670100-6464-11eb-93e5-76a313574d04.png)

![image](https://user-images.githubusercontent.com/41162650/105863482-9cf92080-5ff9-11eb-826c-19e727f130a1.png)

Error: @magento/venia-ui: Conflict in "routes" target. "@magento

[2021-01-26 21:32] sirugh commented on #2025
@magento export issue to Jira project PWA as Story

[2021-01-26 21:34] sirugh commented on #2025
Thanks for bringing this up @ankitpatel2931! I've linked this to an internal ticket so we don't lose track. This is an important feature and we want to make sure we give it adequate attention/detail. We will come back and update when we make progress on it.

[2021-01-26 21:44] sirugh commented on #2237
We will add this to our "known issues/troubleshooting" and provide a workaround (restart your watcher?).

[2021-01-26 21:44] #2237 closed

[2021-01-26 21:47] sirugh commented on #2395
Thanks for bringing this idea up! We have internal resources allocated to working on this effort.

[2021-01-26 21:47] #2395 closed

[2021-01-26 21:49] sirugh commented on #2491
Adding hold label until backend exposes this information.

[2021-01-26 22:40] sirugh commented on #2688
Closing this as it will likely be a slow, but inevitable shift, as @jimbo stated.

[2021-01-26 22:40] #2688 closed

[2021-01-27 08:07] ngocvon opened #2975 "[bug]: Could not setup development domain:Error: Command failed: openssl"
I have setup pwa studio but to step three show error Could not setup develop domain:
Error: Command failed: openssl
![image](https://user-images.githubusercontent.com/5688818/105964306-94b1eb80-60b4-11eb-97ba-a992ac1bcf9d.png)
Veryone let help me please. I installed node v10.15.1 and yarn -v 1.17.3
![image](https://user-images.githubusercontent.com/5688818/105961616-50711c00-60b1-11eb-970d-4f6a3a2

[2021-01-27 08:10] plamenh opened #2976 "[feature]: Switch to font with cyrillic support (Muli (font) does not support)"
**Describe the bug**
Default font has no cyrillic support, so cyrillic characters default to a sans font.

**To reproduce**
Steps to reproduce the behavior:
1. Setup shop
2. Translate into a cyrillic-based language

**Expected behavior**
Font is consistent between latin and cyrillic characters.

**Additional context**
Yes, I know we can change that with template and CSS changes, but it does not ma

[2021-01-27 09:01] ngocvon commented on #2170
I use ubuntu dont work. Pls for me why
![image](https://user-images.githubusercontent.com/5688818/105967804-dcd30d00-60b8-11eb-8c25-59ea5bb141bd.png)

[2021-01-29 15:30] sergeycherepanov opened #2979 "[bug]: Refused to load the stylesheet because it violates the following Content Security Policy"
**Describe the bug**
I enabled the SASS support by the official guide and it works in debug/watch mode. But after yarn build && yarn start the styles where broken and the console says:

[code]

**To reproduce**

1.  Enable the saas support by the following guide: https://magento.github.io/pwa-studio/tutorials/enable-sass-less-support/
2.  Rename the index.css to index.scss and import in the index.

[2021-01-30 01:50] brendanfalkowski opened #2981 "[bug]: Toasts don't fallback to DEFAULT_TIMEOUT"
**Describe the bug**

The `useToasts` hook appears to support a DEFAULT_TIMEOUT but the way it's implemented it can't be used.

You shouldn't need to specify the timeout every time a Toast is added.

**To reproduce**

Steps to reproduce the behavior:

1. Add a toast anywhere
2. But don't pass the `timeout` prop

**Expected behavior**

The Toast should timeout after the DEFAULT_TIMEOUT value specif

[2021-01-30 01:51] brendanfalkowski commented on #2981
@magento I am working on this

[2021-02-01 14:56] schensley commented on #2927
Updated screen mock ups to include "Billing address same as shipping address checkbox" in Check/MO payment section.

[2021-02-01 16:57] sirugh commented on #2981
Yea, the docs indicate the prop is optional. And the code reads like it should function without it. I'm curious what the error is.

[2021-02-01 17:42] sirugh commented on #2171
I'm currently working on a proposal to add typescript to the repo. Im going to close this issue for now but will continue to reference it internally and in my proposal moving forward. Thanks for raising this @larsroettig!

[2021-02-01 17:42] #2171 closed

[2021-02-01 18:27] brendanfalkowski commented on #2981
@sirugh Hmm, that seems to just trade `timeout` for a different prop `dismissable` that needs to be specified. The normal behavior for toasts (in wider use) seems to be they default to self-dismissing. Just short confirmations that don't really require attention or action, unless you override it.

Ideally, the mental footprint to use it should be low so it's just `{ message, type }` being passed i

[2021-02-01 18:30] sirugh commented on #2901
Closing as duplicate of #2689. Thanks for reporting!

[2021-02-01 18:30] #2901 closed

[2021-02-01 18:34] sirugh commented on #2689
Using the release candidate, `v9.0.0-rc1`, I saw no errors from this :/

I installed with `yarn` and ran `yarn build:dev` and `yarn build:prod` which both run `webpack` and saw no errors.

[code]

I also ran `./node_modules/webpack-cli/bin/cli.js --no-progress --env.mode development` and it built without error. I'm not sure what to say except that this appears to be working on the release client.

[2021-02-01 18:38] sirugh commented on #2858
@JordanDDisch can I get a little more info? To which component(s) are you adding the `import`? I agree, this is odd, but I. need more info before we can call this a bug with PWA Studio.

[2021-02-01 18:53] sirugh commented on #2976
Implementation Guidance:

* Use `Open Sans` font.
* Update `default-font-include.mst` and `venia-concept/template.html` using output of `https://fonts.googleapis.com/css?family=Muli:400&display=swap`. Be sure not to remove the `Source Serif` lines.
* Update all other references from `Muli` to `Open Sans`

[2021-02-01 19:05] sirugh commented on #2976
@magento export issue to Jira project PWA as Story

[2021-02-01 19:49] sirugh commented on #2976
@magento export issue to Jira project PWA as Task

[2021-02-01 20:05] sirugh commented on #2981
@magento export issue to JIRA project PWA as Bug

[2021-02-01 20:05] sirugh commented on #2981
@magento export issue to JIRA project PWA as Story

[2021-02-01 20:14] sirugh commented on #2981
@magento export issue to JIRA project PWA as Task

[2021-02-01 20:15] sirugh commented on #2981
Maybe one of the above will work...

[2021-02-01 21:24] lenaorobei commented on #2981
@magento export issue to JIRA project PWA as Task

[2021-02-01 21:26] sirugh commented on #2949
Hi @Kein1945 thanks for reporting this issue. Would you be able to provide more context here? Error messages from the graphql calls or your browser developer console would be very helpful. Adding a video/screenshots capturing the issue would also go a long way.

As for whether `customer.id` can be `null`, well I tried on develop.pwa-venia.com and saw the same response but a functioning UI, so I th

[2021-02-01 21:27] sirugh commented on #2981
@magento export issue to JIRA project PWA as Bug

[2021-02-01 21:29] sirugh commented on #2981
@brendanfalkowski maybe :D I wrote this stuff almost two years ago and I've slept very little since then so we're in the same boat. At some point it might be worth it for us to clean up the toast implementation. For now, I think we can just accept your PR as is.

Also, sorry about the spam on this issue - we're trying to figure something out with our jira-github sync tool.

[2021-02-01 21:40] sirugh commented on #2979
Thanks for reporting this! For what it's worth the headers are defined in the `upward-security-headers` extension. The solution will probably have to do with modifying the headers to allow `blob`.

[2021-02-01 21:51] sirugh commented on #2975
There looks to be some permissions errors in your error log. Can you check permissions on your `certificate.cert` file? They should be `read`.

This is mine, that I use for my local development:
![](https://i.gyazo.com/2c5e0d9b105547968a0511c75dda1f79.png)

[2021-02-01 22:03] sirugh commented on #2957
I'm not sure what `componentOverrideMapping` is. Could you provide repro steps with using targets?

[2021-02-01 22:07] sirugh commented on #2931
I tried this locally using the latest release candidate, `v9.0.0-rc1` and it looks like this is no longer an issue. If I'm incorrect, or misunderstood the repro steps, please let me know and we can reopen the issue. Thanks!

[![Image from Gyazo](https://i.gyazo.com/435a80a500a73ed78f5856cc0687b783.gif)](https://gyazo.com/435a80a500a73ed78f5856cc0687b783)

[2021-02-01 22:07] #2931 closed

[2021-02-01 22:11] sirugh commented on #2923
Hi @0m3r, I'd like to help but I'm a little unsure of how to repro your issue. Can you provide specific repro steps including your custom rich content renderer as well as your "targeting" code? It would also help if we had some error messages or other information that would help us debug. "Doesn't work anymore" can only get you so far :)

[2021-02-01 22:27] sirugh commented on #2903
Confirming this as an issue. Thanks for the repro steps @fooman.

Output from `yarn start`:

[code]

[code]

Output from `yarn watch`:

[code]

[code]

[2021-02-01 22:27] sirugh commented on #2903
@magento export issue to Jira project PWA as Bug

[2021-02-01 22:27] sirugh commented on #2903
@magento export issue to JIRA project PWA as Bug

[2021-02-01 22:28] sirugh commented on #2903
@magento export issue to Jira project PWA as Story

[2021-02-01 22:38] brendanfalkowski commented on #2981
@sirugh I hear you. I wrote myself the `// TODO: why do we have to specify timeout in every call?` comment 7 months ago, and just ran across it again last week, so debugged. Eventually, it gets better.

[2021-02-02 09:05] AdamGulmantowicz opened #2984 "[doc]: How to create your own package that uses venia ui components?"
I am creating my own package which uses venia-ui components. This is not a storefront or a theme, but a reusable component like the checkout shipping method. The problem comes when I try to build my package. I've got:

`
ERROR in ./node_modules/@magento/venia-ui/lib/components/LoadingIndicator/static.js 6:4
Module parse failed: Unexpected token (6:4)
You may need an appropriate loader to handle th

[2021-02-02 15:33] sirugh commented on #2976
@magento export issue to Jira project PWA as Story

[2021-02-02 15:36] sirugh commented on #1553
Closing this. See https://magento.github.io/pwa-studio/tutorials/cloud-deploy/ for tutorials about prod deployment!

[2021-02-02 15:36] #1553 closed

[2021-02-02 18:42] sirugh commented on #2979
@magento export issue to JIRA project PWA as bug

[2021-02-02 18:42] sirugh commented on #2979
@magento export issue to JIRA project PWA as Bug

[2021-02-02 18:43] sirugh commented on #2979
@magento export issue to JIRA project PWA as Story

[2021-02-02 18:56] sirugh commented on #2979
@magento export issue to JIRA project PWA as Bug

[2021-02-02 19:29] sirugh commented on #2979
@magento export issue to JIRA project PWA as Bug

[2021-02-02 19:32] sirugh commented on #2561
@fooman We lost track of this - do you have any idea if this is still an issue?

[2021-02-02 20:16] dpatil-magento commented on #1653
No more reproducible, Closing the issue.

[2021-02-02 20:16] #1653 closed

[2021-02-02 21:30] fooman commented on #2561
I suspect there could be, but it could also be my CDN settings masking something. Need to investigate.

I suspect it is an ongoing consideration with PWAs on how to force them to update and how to monitor I would suggest the following ideas as improvements for PWA Studio:

- implement some diagnostics being sent from each PWA build. Maybe modifying the user agent to include a build number/date if

[2021-02-03 09:06] plamenh commented on #2720
@davemacaulay what was the final decision here? I am ready to take the initiative and localize all jsx files. I would vote for the ids (much easier to reuse ids in components, e.g. label.checkout.agreement.question is much easier  to remember (and type) than ‘Do you agree with ...’). Plus, IDs give the possibility of sorting the translation files and having all related strings one next to the othe

[2021-02-03 09:19] plamenh commented on #669
Has someone taken on replacing strings with <FormattedMessage /> in all jsx files as well as producing a matching en_EN.json? I can take on that, if it’s not already done.

[2021-02-03 15:01] sirugh commented on #669
That work should have been done, but it is possible we missed some. Would certainly welcome any pull requests for strings we missed!

[2021-02-03 16:07] sirugh commented on #2118
As we haven't received a response in some time, I'm going to close this issue. If you still experience this please open a new ticket with some more details and steps to repro so that we can help debug. Thanks!

[2021-02-03 16:07] #2118 closed

[2021-02-03 16:38] #2899 closed

[2021-02-03 17:14] #2981 closed

[2021-02-03 18:05] abrhim opened #2987 "[feature]: Cart event pub/sub"
**Is your feature request related to a problem? Please describe.**
Data Solutions uses cart events to track user behavior. Right now we are looking thru Peregrine to find talons and wrapping handleAddToCart and handleRemoveFromCart functions, but this is proving to be difficult because these functions are callbacks called within a react hook later. This removes the ability to call any of our custo

[2021-02-03 18:25] sirugh commented on #2689
Ok, FWIW I see that we have actually added the suggested lines to the plugins: https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js#L191-L197

Note that the code in question was moved from `getClientConfig` to `PWADevServer`.

I'll close this for now as it seems to be working and the suggested fix seems to have snuck its way into the repo :)

[2021-02-03 18:25] #2689 closed

[2021-02-03 22:14] umarusaf commented on #2927
Working for me as expected. Hope it will be merged soon. Thanks magento pwa community.

[2021-02-04 01:07] fooman commented on #2561
@sirugh There may now be another issue potentially masking this one. In recent months we have added default caching headers to static files served from a directory. This also applies to sw.js

![image](https://user-images.githubusercontent.com/455508/106830020-1bd51400-66f2-11eb-9f4a-98b637052537.png)

From my current understanding this would mean that even if the server has an updated sw.js the b

[2021-02-04 07:46] Frodigo commented on #2805
@schensley I added changes based on your comments and updated PR.

![Screenshot 2021-02-04 at 07 47 47](https://user-images.githubusercontent.com/11998249/106860957-68562a80-66c5-11eb-96a5-1bcce75fdf8a.png)
![Screenshot 2021-02-04 at 07 48 07](https://user-images.githubusercontent.com/11998249/106860965-6ab88480-66c5-11eb-9a1b-c4e10e697239.png)

[2021-02-04 09:27] 0m3r commented on #2923
Step to reproduce
1) [Create your own Module](https://larsroettig.dev/getting-started-with-pwa-studio-extensibility)

package.json
[code]
intercept.js
[code]

/lib/components/SomeComponent/index.js
[code]

detectSomeComponent.js
[code]
someComponent.js
[code]
2) add to cms page content
  - add any data-content-type= (data-content-type="html")
  - add SomeComponent string

3) Check what will be ren

[2021-02-04 15:28] sirugh commented on #2923
Thanks for providing these detailed steps! I'll see if we can repro and prioritize this issue from here.

[2021-02-04 16:31] schensley commented on #2805
Thank you @Frodigo I think things are looking much cleaner.
The second sample you provided reveals something. The spacing between categories should be greater to more easily differentiate where one category title ends and the next one begins. Maybe increasing that minimum space to ~32px to 40px, room to span from the left edge of the logo to the right edge of the basket icon in the header, then wr

[2021-02-05 13:01] mohanelamurugan opened #2993 "[bug]: Page redirects to Luma theme after clicking account confirmation mail"
**After clicking the account confirmation link on confirmation mail, It redirects the customer to Luma theme instead of Venia store**

**To reproduce**

Steps to reproduce the behavior:

1.     Login to admin panel
2.     Navigate to Stores > Configuration
3.     Go to Customers > Customer Configuration
4.     Click “Create New Account Option“
5.     Set “yes” in Require Email Confirmation
6.

[2021-02-05 13:17] mohanelamurugan opened #2994 "Wrong verbiage in account create warning"
**After enabling account confirmation through email, Warning message verbiage is wrong**

**To reproduce**

Steps to reproduce the behavior:

1.   Login to admin panel
2.     Navigate to Stores > Configuration
3.     Go to Customers > Customer Configuration
4.     Click “Create New Account Option“
5.     Set “yes” in Require Email Confirmation
6.     Save the configuration.
7.     Register a new a

[2021-02-05 15:10] sirugh commented on #2994
Hi @mohanelamurugan thanks for reporting this issue. Unfortunately, this is not a bug with PWA Studio but is an issue with the magento graphql response to the `signIn` mutation. Please open an issue against the [magento2](https://github.com/magento/magento2) repo. You can reference this issue if you like. I would also suggest adding the graphql response from the network tab in your developer tools

[2021-02-05 15:10] #2994 closed

[2021-02-05 15:18] sirugh commented on #2993
@revanth0212 @tjwiebell I recall there was some discussion around this when we implemented the "forgot password" piece. Did we account for confirmation emails?

[2021-02-05 15:21] revanth0212 commented on #2993
Not that I can recall. We only worked on the Forgot Password part.

[2021-02-05 16:54] sirugh commented on #2561
We investigated this a bit internally and found that while the `cache-control` header was present, the service worker was always being refetched. We did create an internal issue. https://jira.corp.magento.com/browse/PWA-1396, to remove the cache-control header from sw.js _just_ to be safe, but it looks like browsers don't respect the cache-control header on the sw file unless you explicitly tell i

[2021-02-08 10:53] elliot-zoerner-aligent commented on #2957
@brendanfalkowski You're right - it looks like this is the same issue as in #2239 and has been fixed in 8.0.0.

[2021-02-08 10:53] #2957 closed

[2021-02-08 23:21] fooman commented on #2561
hey @sirugh not really concerned if this gets closed or the other reopened. Just glad to hear it is on your radar. This discussion https://github.com/GoogleChrome/workbox/issues/1528#issuecomment-443228522 seems to indicate that cache-control headers on sw.js can be an issue.

[2021-02-09 02:26] fooman opened #2999 "[bug]: Image cache max size not working"
**Describe the bug**

PWA studio sets a max entry for number of images in cache of 60. This does not seem to happen.

**To reproduce**

Steps to reproduce the behavior:

1. Navigate venia.magento.com, be sure to select multiple different products with images
2. Open developer tools,
3. see total entries go above 60

**Expected behavior**

max size of 60 is enforced
https://github.com/magento/pwa-s

[2021-02-09 02:38] fooman commented on #2999
Also to note there is a performance impact where it the service worker images have response times in the 1-2 second range.

![image](https://user-images.githubusercontent.com/455508/107307865-6dafdc80-6aec-11eb-9dcc-87dcdc0dec6b.png)

[2021-02-09 04:55] sirugh commented on #2999
@magento export issue to JIRA project PWA as Bug

[2021-02-09 07:42] umarusaf commented on #2927
As mentioned in the ReadME.md running `yarn add -D @magento/venia-sample-payments-checkmo` from the pwa-studio root gives this issue

![image](https://user-images.githubusercontent.com/15929006/107331024-49083480-6aed-11eb-8727-5c0907cd8535.png)

I must admit I don't have much knowledge working with yarn. Any input/direction will be highly appreciated

[2021-02-09 07:54] larsroettig commented on #2927
Hi Umar this is still in development so we dont published a package yet I
will in form you maybee copy it under my name space provide a temporary
copy. kind regards

Lars

Umar Yousaf <notifications@github.com> schrieb am Di. 9. Feb. 2021 um 08:42:

--

 <https://www.techdivision.com>

*TechDivision GmbH*

Spinnereiinsel 3a
83059 Kolbermoor
*Lars Röttig*
Senior Software Engineer

Magento Community

[2021-02-09 14:01] #2561 closed

[2021-02-09 15:18] sirugh commented on #2883
This was resolved in #2936

[2021-02-09 15:18] #2883 closed

[2021-02-09 15:38] sirugh opened #3001 "[feature]: Switching stores results in error page if slug changes between stores"
**Is your feature request related to a problem? Please describe.**
 1) The store switcher uses product name in the url as the argument to the url resolver.
 2) A client that uses localized names for an entity will cause the error page to be shown when switching store views on a product or category page.

Example:

Assume you are on `mystoreview.com/it/pomodoro` and switch to `en`, you would get `m

[2021-02-09 15:39] sirugh commented on #3001
@magento export issue to JIRA project PWA as Story

[2021-02-09 15:47] sirugh commented on #2993
@magento export issue to JIRA project PWA as Bug

[2021-02-09 15:52] sirugh commented on #2987
@magento export issue to JIRA project PWA as Story

[2021-02-09 15:56] tjwiebell commented on #2993
FYI - there is no GraphQL support for this feature yet, so there's nothing we can do here until an email confirmation mutation is added.

[2021-02-09 16:09] sirugh commented on #2971
Hi @Skavengerr sorry I'm so delayed in responding. In the future I would recommend bringing these sorts of questions to the slack channel as you're likely to reach a wider audience and get a quicker answer.

Anyways, I'm not sure why this isn't working for you, but it seems to work on v9 (tested on v9.0.0-rc.1).

This is my local-intercept.js
[code]

And I have a component named `checkout.js` that

[2021-02-09 16:09] #2971 closed

[2021-02-09 16:11] sirugh commented on #2970
I'm not quite sure what this is asking. @tjwiebell or @eug123 are you guys familiar with magento site map generation? Do you understand what the ask is here?

[2021-02-09 16:12] sirugh commented on #2951
Closed this internally. Lack of response from contributor.

[2021-02-09 16:12] #2951 closed

[2021-02-09 16:14] sirugh commented on #2947
@jimbo might have some thoughts on the subject.

I'd also recommend taking this question to the public slack channel where you're more likely to get help :) I'm going to close this as it's more a question than a bug/feature request.

[2021-02-09 16:14] #2947 closed

[2021-02-09 16:16] sirugh commented on #2920
In the future please fully detail the issue as indicated by the template. I am closing this for lack of detail.

[2021-02-09 16:16] #2920 closed

[2021-02-09 16:20] sirugh commented on #251
Done in linked ticket, PWA-77

[2021-02-09 16:20] #251 closed

[2021-02-09 16:21] sirugh commented on #294
This is outdated. We have internal work to address the order history page now, starting with #2611

[2021-02-09 16:21] #294 closed

[2021-02-09 17:16] eug123 commented on #2970
Hello @nadeefit6, you can try to set your PWA url as `Base URL` for your store view scope, and generate sitemap for this store view.

[2021-02-10 07:33] 0m3r commented on #2770
[Targetables API](https://magento.github.io/pwa-studio/pwa-buildpack/extensibility-framework/#targetables)

https://github.com/magento/pwa-studio/blob/develop/packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableReactComponent.js

[2021-02-10 07:33] #2770 closed

[2021-02-10 08:09] #2984 closed

[2021-02-11 18:51] m2-assistant[bot] opened #3010 "[chore/feature] Move PriceSummaryFragment to peregrine"
This issue is automatically created based on existing pull request: magento/pwa-studio#3007: Move PriceSummaryFragment to peregrine

The `PriceSummaryFragment` needs to be moved to peregrine so that extension work can continue in #2969.
There are quite a few files moving so this is being broken out separate of the dependent PR.

[2021-02-11 18:52] sirugh commented on #3010
@magento export issue to JIRA project PWA as Story

[2021-02-11 20:07] sirugh commented on #2803
Just checked on venia.magento.com after the latest release on my mobile Chrome browser. Rendered!

[2021-02-11 20:07] #2803 closed

[2021-02-11 20:08] sirugh commented on #1136
Done.

[2021-02-11 20:08] #1136 closed

[2021-02-11 20:09] sirugh commented on #1107
@ericerway can we close this now that we have the PageBuilder impl on the sample sites develop.pwa-venia.com and venia.magento.com?

[2021-02-11 20:09] sirugh commented on #1144
This was resolved with the addition of #2377

[2021-02-11 20:09] #1144 closed

[2021-02-11 20:10] sirugh commented on #1668
Done!

[2021-02-11 20:10] #1668 closed

[2021-02-11 20:12] sirugh commented on #1925
Closing this as we have implemented a good portion of multi-store compatibility including a store switcher and gql header additions.

[2021-02-11 20:12] #1925 closed

[2021-02-11 20:12] sirugh commented on #1901
Done! #2124

[2021-02-11 20:12] #1901 closed

[2021-02-11 20:14] sirugh commented on #1843
Not sure this is necessary anymore - we have cleaned up most instances of GQL to use the apollo client in browser including those in Peregrine.

[2021-02-11 20:14] #1843 closed

[2021-02-11 20:15] sirugh commented on #1671
We just spoke about this today in dev time. Looking to start using more of the apollo utils when writing/updating tests. Not sure this needs to be a feature, as it'll just need to be something we enforce when writing pull requests.

[2021-02-11 20:15] #1671 closed

[2021-02-11 20:16] sirugh commented on #1666
This should be handled with the migration to Apollo v3 type policies. Going forward, normalization issues will result in console warnings during development and can be handled at that time.

[2021-02-11 20:16] #1666 closed

[2021-02-11 20:20] sirugh commented on #1739
We already do this in the webpack configurator. Unclear whether that should continue to happen now that we support multi-store and also we need to be able to react to config changes without forcing a client to rebuild their runtime bundle.

The storeConfig query provides a lot of information but it is store specific. Perhaps a better thing to do would be to understand the specific data we want to

[2021-02-11 20:20] #1739 closed

[2021-02-11 20:23] sirugh commented on #1711
Do we still want this? I think it's a cool idea, unless we have some other perf metric tests that run on PRs.

Also the marketplace link doesn't seem to work, but there is this: https://github.com/JCofman/webPagetestAction. Maybe it's the same?

If you still want this, let's move it internal, as it'll be unlikely that an external contributor would have permission to add this stuff.

[2021-02-11 20:23] #1711 closed

[2021-02-11 20:24] sirugh commented on #1747
The old Mini Cart was deprecated in 2020 :)

[2021-02-11 20:24] #1747 closed

[2021-02-11 20:26] #2328 closed

[2021-02-11 20:34] sirugh commented on #1107
Discussed with Eric - closing this as we do have the PB example. MagentoCE users can still use the cms blocks, just without PB.

[2021-02-11 20:34] #1107 closed

[2021-02-11 20:39] sirugh commented on #623
Closing this as stale.

@awilcoxa can we make sure that these needs are captured in an a11y epic internally? Then we can export issues to github as necessary.

[2021-02-11 20:39] #623 closed

[2021-02-11 20:40] sirugh commented on #575
Closing this as stale. We have done a lot of refactoring since this was opened and the menu and cart views have been reworked. We also have some open issues for handling these going forward.

[2021-02-11 20:40] #575 closed

[2021-02-11 20:41] sirugh commented on #1573
Closing this as stale.

[2021-02-11 20:41] #1573 closed

[2021-02-11 20:42] sirugh commented on #1591
Closing as stale. Who was this guy... :P

[2021-02-11 20:42] #1591 closed

[2021-02-11 20:44] sirugh commented on #1568
We've got a pretty decent CICD set up right now. Closing this as stale. We can open up specific feature/tooling requests in new issues :)

[2021-02-11 20:44] #1568 closed

[2021-02-11 20:54] sirugh commented on #1616
We set page titles in cms, product, and category pages as well as many of the custom browser side routes. The only place this would be necessary any more is in the `template.html` file.

Because the template file is rendered for ALL routes and then updated later with data, there is a flash of the incorrect title. As such, I would ask that this be modified to remove the `Home Page` from the templat

[2021-02-11 20:54] sirugh commented on #1616
@magento export issue to JIRA project PWA as Bug

[2021-02-11 21:07] sirugh commented on #1617
@magento export issue to JIRA project PWA as Story

[2021-02-12 09:21] evan-burrell commented on #1616
Just looking a bit at this, I removed the title tag from `template.html`, however, there is still a flash of an incorrect title coming from `packages/venia-ui/lib/components/App/app.js` as the title gets set in there as well.

[code]

![Recordit](http://g.recordit.co/QgiLgSVbvo.gif)

[2021-02-12 14:02] sirugh commented on #1616
Wow good catch, I assumed the template was the reason but it seems only half. We should also remove the app title set because it is not accurate since the real landing page, or whatever page you're on, should add its own text, and it is wrong to assume it will be the "Home page".

[2021-02-12 15:14] evan-burrell commented on #1616
@sirugh After looking back through the comments and [Andy's Comment](https://github.com/magento/pwa-studio/pull/1595#discussion_r319137750) on the original PR, would an acceptable solution be to update `template.html` and the title tags in `app.js` to read STORE_NAME - Official Site? And then update the French translation as well to be `Boutique officielle`? If so I'm happy to make a PR.

[2021-02-12 17:55] brendanfalkowski commented on #1616
Can it just be `STORE_NAME` and drop `Official Site`? It's just a bit too hard of a flex, and it won't fit a lot of businesses.

[2021-02-12 21:07] sirugh commented on #1616
I agree with @brendanfalkowski, I think just store name is what we want here, as the initial title. I think we can remove the translation for it. Once data fetched we will have the url resolved to a route and can render an updated, accurate title.

[2021-02-15 10:45] rycastaneda opened #3013 "Fix pagebuilder null check bug"
**Describe the bug**

After pb v4.0.0, getting an error {code:Cannot} read property 'setAttribute' of null{code} when trying to retrieve a custom page built on pagebuilder. My suspicion is that custom CMS block are unable to render after upgrading pagebuilder to 4.0.0

**To reproduce**

Steps to reproduce the behavior:

1. Go to localhost <ins> '/custom-page'
1. See error

**Expected behavior**

C

[2021-02-16 17:32] sirugh commented on #3013
Ah yes, looks like `document.querySelector`, added in [this code](https://github.com/magento/pwa-studio/commit/890276bc9121f67279bd50c914b1933c27d85c35#diff-0ac5973a3114802c4351d3ecd2a918eab0d5336f1fa68277f13647a45e368679R106-R116) can return null. A quick scan leads me to believe that code is trying to apply styles to a node that may or may not exist - so we should have a `null` check there.

[2021-02-16 17:32] sirugh commented on #3013
@magento export issue to JIRA project PWA as Bug

[2021-02-16 23:42] rycastaneda commented on #3013
Thanks for the response!

[2021-02-17 10:55] j209 opened #3014 "compare with vue storefront"
How magento pwa-studio compare with [vuestorefront](https://github.com/vuestorefront/vue-storefront)?

[2021-02-17 13:40] sirugh commented on #3013
@rycastaneda If you're able to try the fix out yourself and even push a PR we would LOVE the contribution :)

[2021-02-17 20:15] eug123 commented on #3013
@rycastaneda How custom `styles` block is added to your page? Could do you try to add it using `HTML Code` content type?

[2021-02-17 21:51] #1616 closed

[2021-02-17 22:44] #2979 closed

[2021-02-17 23:55] fooman commented on #2975
seems the same as this https://github.com/magento/pwa-studio/issues/2318

[2021-02-18 00:31] rycastaneda commented on #3013
Here it is @sirugh https://github.com/magento/pwa-studio/pull/3016

[2021-02-18 00:37] rycastaneda commented on #3013
@eug123 HTML Code works fine after adding the fix.

[2021-02-18 14:41] vasilii-b commented on #2860
Couldn't reproduce the issue on the latest `develop` branch.

![Storefront](https://user-images.githubusercontent.com/13456702/108372633-b0b63200-7207-11eb-8b06-06f9d2efba27.png)

![Admin-URL-Rewrites-Entries](https://user-images.githubusercontent.com/13456702/108372673-b875d680-7207-11eb-8e3e-05574437245b.png)

Here is what I did:

1. Took a category for the experiment `women/top-women.html`
2. R

[2021-02-18 15:12] vasilii-b opened #3017 "[GraphQl] Category page results in error page when using the main navigation if category URL Rewrite entry changed"
**Describe the bug**

When using the main navigation to land on a category page it results in an error page. It happens in case the URL Rewrite for the chosen category is changed from the default one (generated by the magento system).

![image](https://user-images.githubusercontent.com/13456702/108376265-7d75a200-720b-11eb-8da3-6ea08424dc7c.png)

**To reproduce**

1. Chose a category to visit on t

[2021-02-18 15:54] sirugh commented on #3017
Thanks for clear repro steps @vasilii-b! I'll get this into our internal backlog. In the meantime, if you have a solution, we would love a PR!

[2021-02-18 15:55] sirugh commented on #3017
@magento export issue to JIRA project PWA as Bug

[2021-02-19 02:58] trung-pham commented on #1089
Is this issue resolved ?

[2021-02-19 07:36] vasilii-b commented on #3017
#### Update

After a quick investigation, I've found the issue is on the GraphQl side.
The mentioned issue can be reproduced in the Breadcrumbs as well.

[2021-02-19 14:15] sirugh commented on #3017
Thanks for that info! I have asked in some channels how to handle this and will try to come back and update this asap.

[2021-02-19 14:17] sirugh commented on #1089
@trung-pham did you check the linked issue? I'd at least move your comment to the non-dup issue if I were you :)

[2021-02-19 17:36] revanth0212 commented on #1617
I have checked both the queries and both seem to be returning the `store view name` instead of the name of the store, for instance, I was expecting it would return `Venia` but it was in fact returning `Default Store View`.

Here are the results of both the queries:

getStoreConfigData.graphql
[code]

getAvailableStoresConfigData.graphql
[code]

Is this expected?

[2021-02-19 18:14] sirugh commented on #1617
Yes

[2021-02-20 00:33] #3010 closed

[2021-02-20 13:08] vasilii-b commented on #1222
@magento I am working on it

[2021-02-20 13:17] vasilii-b commented on #3017
Thank you, @sirugh!

[2021-02-20 18:37] sirugh commented on #1222
@vasilii-b thanks for taking a look at this! Please reference the prior history, specifically any discussion from #2787

[2021-02-22 00:16] CoutoDev opened #3020 "Feedback on page: /tutorials/create-taglist-component/"
I was trying to follow the PWA Studio Tutorial to learn something about it, but then I found some outdated sections, like [#edit-the-graphql-query](https://magento.github.io/pwa-studio/tutorials/create-taglist-component/#edit-the-graphql-query) for example. The `packages/venia-ui/lib/queries/getProductDetail.graphql` file doesn't exists so I wasn't able to keep following through this tutorial. If

[2021-02-22 12:00] vasilii-b commented on #1222
Thanks for the suggestion @sirugh.
I've read the thread and went down to #2843. Do you have any insights about that PR being closed?

I was researching what other library can we use for this scope, so we don't end up in a bunch of code written again and again for each modal on the website, and ended up with https://www.npmjs.com/package/focus-trap-react.

To my understanding, `react-aria` and `foc

[2021-02-22 16:13] #2993 closed

[2021-02-22 17:54] sirugh commented on #1222
If you mean the spike, we just closed it because it was a research spike to evaluate feasibility. If you want to use it as a baseline for your work, that would be acceptable.

Using `react-aria` would be preferable, especially given that it is an Adobe library and Magento is part of Adobe :)

I want to say that we are slowly consolidating around a single use of modal/dialog but this specific issue

[2021-02-22 20:04] Frodigo commented on #2805
Hey @schensley, I added final adjustments.
![Screenshot 2021-02-22 at 19 55 52](https://user-images.githubusercontent.com/11998249/108763111-437d0680-7551-11eb-987f-d3e20a2bfa37.png)
![Screenshot 2021-02-22 at 19 55 44](https://user-images.githubusercontent.com/11998249/108763119-4677f700-7551-11eb-91dd-4e62de744fd2.png)

[2021-02-22 20:21] schensley commented on #2805
@Frodigo excellent.  Thank you!  UI/UX approved.

[2021-02-22 21:34] sirugh commented on #3020
Thanks for the report @CoutoDev. I'll bring this into our backlog but in the meantime we would love a contribution if you happen to be up for it.

[2021-02-22 21:34] sirugh commented on #3020
@magento export issue to JIRA project PWA as Task

[2021-02-22 21:35] sirugh commented on #3020
cc @jcalcaben

[2021-02-23 07:10] vasilii-b commented on #1222
Thanks for the details, @sirugh!
I'll continue with a11y for now, as suggested.
Thank you!

[2021-02-23 16:13] sirugh commented on #2120
Closing this as we have implemented buid-time fetching of initial/default store config data as @larsroettig described in option 1. Right now this results in some initial data such as store name/locale being stored in the build and used in the initial render. If the actual data differs, it changes once the client GQL request completes for that data.

[2021-02-23 16:13] #2120 closed

[2021-02-23 16:14] sirugh commented on #1958
@magento export issue to JIRA project PWA as Story

[2021-02-23 16:21] sirugh commented on #2281
This is linked to https://jira.corp.magento.com/browse/PWA-497, which is currently in our backlog.

The desire for raw data is clear here, but we do need to consider that some talons call multiple queries/mutations. One way we could handle this might be an array or map of `queryname: data`, sort of like we do [here](https://github.com/magento/pwa-studio/blob/3ee1bc0b44ce484f95685f3139b4111eae8984e

[2021-02-23 16:24] sirugh commented on #1432
Category filtering is operational in the search page.

[2021-02-23 16:24] #1432 closed

[2021-02-23 16:24] sirugh commented on #2809
This has been completed: https://marketplace.visualstudio.com/items?itemName=larsroettig.vscode-pwa-studio

[2021-02-23 16:24] #2809 closed

[2021-02-23 16:39] sirugh commented on #2875
@KevinGorjan If you're able to, could you provide me with the data from the network response for the `GetProductFiltersByCategory` query? You can see in the below screenshot from `develop` that we use the `aggregations` label as the rendered text for the filter. My theory is that either there is a bug in GQL or we are not using the correct label/attribute to render the filter item.

![](https://i.

[2021-02-23 18:11] jcalcaben commented on #3014
Hi @j209 you may get a better answer by posting this in our community slack channel:

https://magentocommeng.slack.com/archives/C71HNKYS2

[2021-02-23 18:11] #3014 closed

[2021-02-23 18:15] jcalcaben commented on #2552
@mercs600
you may get the answer you need by posting this question in our community slack channel:

https://magentocommeng.slack.com/archives/C71HNKYS2

[2021-02-23 18:15] #2552 closed

[2021-02-23 18:18] jcalcaben commented on #2964
Clearing my assignment to give the community an opportunity to pick this up

[2021-02-23 18:23] jcalcaben commented on #2851
@1200rist
this topic provides an overview of how the i18n feature works: https://magento.github.io/pwa-studio/technologies/basic-concepts/internationalization/

the project also includes a sample language package as an example of what a language package project looks like: https://github.com/magento/pwa-studio/tree/develop/packages/extensions/venia-sample-language-packs

[2021-02-23 18:23] #2851 closed

[2021-02-23 18:24] jcalcaben commented on #2635
Clearing my assignment to give the community an opportunity to pick up this issue if they are interested

[2021-02-23 18:27] CoutoDev commented on #3020
@sirugh Ok, I can do this but how should I proceed?

[2021-02-23 18:30] jcalcaben commented on #3020
@CoutoDev
you can update the contents of this markdown file:

https://github.com/magento/pwa-studio/blob/develop/pwa-devdocs/src/tutorials/create-taglist-component/index.md

[2021-02-23 19:18] sirugh commented on #3020
See my guidance in comment above.

[2021-02-24 15:07] sirugh commented on #2317
@zetlen It's been a bit - do you know if this was resolved?

[2021-02-24 15:11] sirugh commented on #648
Unfortunately Soumya is no longer with the company and this seems to have fallen through the cracks. As this issue is almost 2 years old I am going to close it for now, but if we are able to allocate resources to providing mocks/design guidance then we can re-open this.

[2021-02-24 15:11] #648 closed

[2021-02-24 15:23] sirugh commented on #3001
Guidance:

When a shopper clicks a new store, we need to make a urlResolver query with the new store's code in the headers so that the path data returned is accurate to the "next" view.

First, explore possible options to swap headers for single requests. It is preferable to utilize existing frameworks such as ApolloClient and Apollo Links.

If the header swap is possible, we should then make the

[2021-02-24 15:56] sirugh commented on #2860
Thanks for checking @vasilii-b! Closing this issue.

[2021-02-24 15:56] #2860 closed

[2021-02-24 16:03] sirugh commented on #2964
Guidance:

* Add a basic test runner to the scaffolded app.
* Add a basic example test to the scaffolded app.

[2021-02-24 17:22] sirugh commented on #3017
I have spoken to the GQL team and this is a GQL issue in their backlog. Same linked JIRA issue.

[2021-02-24 17:23] #3017 closed

[2021-02-24 17:24] sirugh commented on #2975
Closing for lack of response.

[2021-02-24 17:24] #2975 closed

[2021-02-24 17:24] sirugh commented on #2970
Closing for lack of response.

[2021-02-24 17:24] #2970 closed

[2021-02-24 17:25] sirugh commented on #2949
Closing for lack of response. If you feel this is still an issue please reopen and provide some more info :)

[2021-02-24 17:25] #2949 closed

[2021-02-24 17:26] sirugh commented on #2923
@magento export issue to JIRA project PWA as Bug

[2021-02-24 17:27] sirugh commented on #2858
Closing for lack of response. If you feel this is still an issue please reopen and provide some more info :)

[2021-02-24 17:27] #2858 closed

[2021-02-24 18:15] zetlen commented on #2431
Publishing nightly edge releases should be managed by Support and CICD (if they decide it should be done). Tip @dpatil-magento :)

[2021-02-24 18:20] zetlen commented on #2435
I'm unassigning myself because @Jordaneisenburger and @michalburda3 gave better answers than I could. Better font handling could be built into the core Buildpack code by adding the suggested loaders.

[2021-02-24 18:57] sirugh commented on #2317
Couldn't find the original JIRA issue. Using the sync tool to get this on the board.

[2021-02-24 18:57] sirugh commented on #2317
@magento export issue to JIRA project PWA as Bug

[2021-02-24 20:39] sirugh commented on #1530
The initial effort to support i18n has been completed. Future feature work may include tooling around translations.

[2021-02-24 20:39] #1530 closed

[2021-02-24 21:09] #946 closed

[2021-02-24 21:09] #947 closed

[2021-02-24 21:09] #400 closed

[2021-02-26 09:30] 0m3r commented on #2945
https://community.magento.com/t5/Magento-2-x-PWA-Theming-Layout/How-to-set-custom-certificate-for-Node-in-Magento-PWA/m-p/127137#

[2021-02-26 10:45] larsroettig commented on #3020
@magento I am working on it

[2021-02-26 16:28] sirugh commented on #3020
Lars and I discussed this morning - the original tutorial is no longer valid and needs to be re-written using a scaffold approach rather than clone. Lars will update :)

[2021-02-26 18:37] #2869 closed

[2021-02-28 04:22] CoutoDev commented on #3020
Thanks a lot! I was trying to figure out how to rewrite this section because many things are now different from the tutorial. I appreciate that you guys are going to rewrite.

[2021-02-28 10:35] larsroettig commented on #3020
@jcalcaben you take it over ?

[2021-03-01 15:16] sirugh commented on #2987
This is blocked internally by a spike to research possibilities for a secure, built-in eventing system, PWA-1389.

[2021-03-01 15:42] jcalcaben commented on #3020
yes I am working on this

[2021-03-01 15:43] larsroettig commented on #2999
@magento I am working on it

[2021-03-02 08:32] plamenh commented on #2927
@larsroettig thanks for taking care of this. I am being lazy, I know, but any chance we can get some kind of easily implementable 'patch' to work with before this gets merged (download -> extract -> overwrite relevant files)? If not, I'll just manually input the changes from the merge.

[2021-03-02 15:54] Jordaneisenburger opened #3029 "[bug]: Breadcrumbs always return .html suffix"
Because an empty string "" is a falsy in javascript it will always return .html as the suffix.

**See:**
https://github.com/magento/pwa-studio/blob/0573cfca9e6c6d3b9295b61032c217e537f3530d/packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js#L47

**We can just change it to:**
[code]

[2021-03-02 16:19] sirugh commented on #3029
Nice find :) Wanna open a PR?

[2021-03-02 16:31] Jordaneisenburger commented on #3029
Already fixed in 9.0 lol

[2021-03-02 16:31] #3029 closed

[2021-03-02 16:59] convenient commented on #2927
This is really great to see a PR in progress, we use checkmo for some automated checkout tests on some internal QA environments so this will be really useful for future projects.

[2021-03-02 18:15] m2-assistant[bot] opened #3031 "[Issue] [FEATURE] Added the xfwd option to the proxyMiddleware so HTTP_X_FORW…"
This issue is automatically created based on existing pull request: magento/pwa-studio#2986: <FEATURE] Added the xfwd option to the proxyMiddleware so HTTP*X*FORW…
##
…ARDED_HOST can be used to determine the store

[!--
Before submitting this pull request, please make sure you have read our Contribution Guidelines and your PR meets our contribution standards:
https://github.com/magento/pwa-studio/

[2021-03-02 18:16] sirugh commented on #3031
@magento export issue to JIRA project PWA as Story

[2021-03-02 19:14] #2919 closed

[2021-03-02 19:42] supernova-at commented on #1459
PWA-1477 in the Core backlog is a more up-to-date version of this issue.

[2021-03-02 19:42] #1459 closed

[2021-03-02 19:44] supernova-at commented on #1526
These repositories are staying in `magento-research` for now.

[2021-03-02 19:44] #1526 closed

[2021-03-02 19:46] supernova-at commented on #747
Internal epic PWA-1240 will tackle this.

[2021-03-02 19:46] #747 closed

[2021-03-02 19:47] supernova-at commented on #1578
Internal core epic PWA-1031 covers Storybook improvements.

[2021-03-02 19:47] #1578 closed

[2021-03-02 19:48] supernova-at commented on #1579
This will be covered by internal core epic PWA-1031.

[2021-03-02 19:48] #1579 closed

[2021-03-02 19:52] supernova-at commented on #1659
Closing as too old / no longer applicable.

[2021-03-02 19:52] #1659 closed

[2021-03-03 08:51] plamenh opened #3033 "[doc]: Instructions on how to display backend homepage (from CMS) as a homepage for Venia"
**Describe the request**
Currently, there are no instructions on how to set the homepage to either a concrete CMS page from the backend or the designated (backend) homepage. This is very important for anyone not using EE and Page Builder.

**Possible solutions**
In order to use a CMS page as a home page you need to:
1. XXX
2. YYY
3. ...

**Please let us know whether this is a new topic or a topic

[2021-03-03 10:02] plamenh opened #3035 "[bug]: Title capitalization in CSS"
**Describe the bug**
Some title are capitalized in CSS. Not all languages capitalize titles. It is best to leave capitalization to internationalization files.

**To reproduce**

Steps to reproduce the behavior:

1. Load profile information
2. Edit profile
3. "Edit Profile Information" title is capitalized regardless of the localization/language chosen.

**Expected behavior**

Text is not capitaliz

[2021-03-03 13:28] plamenh opened #3036 "[feature]: Advanced Search"
**Is your feature request related to a problem? Please describe.**
There is no advanced search functionality similar to classic Magento.

**Describe the solution you'd like**
A component similar to FilterModal with an interface that respects Magento's attribute settings (e.g., a dropdown/select for dropdowns, text input for text, etc.) and can be placed anywhere in store (therefore, it should not

[2021-03-03 14:32] plamenh opened #3037 "[bug]: Special (discounted) price missing on catalog and product page."
**Describe the bug**

Product page not showing discounted price.

**To reproduce**

Steps to reproduce the behavior:

1. Add special price to product
2. Open catalog or product
3. Regular price is displayed, instead of discounted price.

**Expected behavior**

Actual discounted price is displayed.

**Possible solutions**

I checked the graphql query (peregrine) and it only includes regular price.

[2021-03-03 15:00] sirugh commented on #3035
@magento export issue to JIRA project PWA as Bug

[2021-03-03 15:01] sirugh commented on #3035
@plamenh can you give me an example where this would be incorrect (or not make sense)? The capitalization is a stylistic choice unrelated to the use of English.

[2021-03-03 15:05] sirugh commented on #3036
@magento export issue to JIRA project PWA as Story

[2021-03-03 15:07] sirugh commented on #3033
@magento export issue to JIRA project PWA as Story

[2021-03-03 15:07] sirugh commented on #3037
@magento export issue to JIRA project PWA as Bug

[2021-03-03 15:08] sirugh commented on #3033
@plamenh thank you for this request - I have created linked it to our internal backlog and we will get to it when we can :)

[2021-03-03 15:11] sirugh commented on #3037
@plamenh thank you for this request - I have created linked it to our internal backlog and we will get to it when we can :)

[2021-03-03 15:12] sirugh commented on #3036
@plamenh thank you for this request - I have created linked it to our internal backlog and we will get to it when we can :)

[2021-03-03 17:28] sta1r opened #3038 "[doc]: Reference to @apollo/react-hooks breaks"
**Describe the request**
In this tutorial https://magento.github.io/pwa-studio/tutorials/intercept-a-target/modify-talon-results/ there is a line that needs updating.
[code]

The package.json above does not list a dependency on `@apollo/react-hooks` so this breaks the demo.

**Possible solutions**
Replace the line with:
[code]

and update the dependency in package.json to `"@apollo/client": "~3.0.

[2021-03-03 18:49] sirugh commented on #3038
@magento export issue to JIRA project PWA as Task

[2021-03-04 04:16] plamenh commented on #3035
@sirugh Capitalizing titles (whether it's a heading or a title of a modal is immaterial) is based on a rule of English (or French or whatever). I know this is wrong and looks wrong in my language. If you want an example of popular languages, which do not capitalize titles, look at Spanish (450M people) or Russian (150M). There are more, for sure. This is a localization issue, not a stylistic one,

[2021-03-04 04:54] sirugh commented on #3035
Oh of course how obtuse of me. This makes perfect sense. I'll talk to our design team and make sure we take i18n into account going forward in styling text. In the meantime we would welcome a pull request updating the css for localized strings to use the provided translation casing. Thanks!

[2021-03-04 06:24] plamenh opened #3042 "[bug]: Shipping information: All countries are always available to choose from regardless of restrictions"
**Describe the bug**

When countries are disabled in Magento backend, they are still available to choose on checkout.

**To reproduce**

Steps to reproduce the behavior:

1. Disable all countries except one in m backend
2. Initiate the checkout process
3. Try to estimate shipping costs
4. Choose a country which is disabled in backend
5. Get stuck at 'Loading regions...'.

**Expected behavior**

On

[2021-03-04 07:18] plamenh commented on #3033
I found the source of the confusion (at least for me):

useCmsPage Line 62:

[code]

I think this line should go. If it does not, we need this in the docs.

[2021-03-04 14:57] sirugh commented on #3033
Are you talking about the static text `CMS homepage content goes here.`? I believe that comes from the back end, which means that if you had customized your cms (and replaced that string) it would no longer be present, so your custom homepage would render.

[2021-03-04 15:02] sirugh commented on #3042
I would expect that the `countries` query response is dynamic and responds to the changes made to the country options in the back end. What magento back end version are you using?

cc @cpartica

[2021-03-04 16:48] plamenh commented on #3033
Yeah, I understood that, but I don't get the reasoning behind it. Why not just display the homepage content there regardless of whether it's been changed from default or not? I spent a few hours trying to figure out how to display my homepage when all I had to do is change a text that is stored in the db. Does not make any sense. I mean, why would frontend logic depend on a string of text stored i

[2021-03-04 16:49] plamenh commented on #3042
2.4.1 here.

[2021-03-04 19:46] cpartica commented on #3042
I tested this on 2.4.1 and 2.4-develop and the country query it seems to work and obey the store settings.
[code]
this will return only allowed countries.
When you're saying `Try to estimate shipping costs` what are the queries you're using for this? do you re-query countries?
Did you cache initially countries before restricting countries?

[2021-03-04 20:17] schensley commented on #1222
@vasilii-b This looks really good, but there is one thing that doesn't behave as requested...

Instead when the filters are applied (and the drawer closed) the user will find themselves back at the top of the page, having to tab, tab, tab back to the Filters button. (adding a video for reference).

Otherwise things look good.

[2021-03-04 21:45] #3038 closed

[2021-03-04 23:17] #2945 closed

[2021-03-05 05:18] plamenh commented on #3042
@cpartica Website restrictions do not work here. I checked all available settings (Default Config, Main Website, Default View) and they are all restricted. However, on the frontend (not only in estimating shipping costs but on the checkout page as well) I see all countries. Apparently, this query:

export const GET_COUNTRIES_QUERY = gql`
    query GetCountries {
        countries {
            id

[2021-03-05 14:52] vasilii-b commented on #1222
Thanks for noticing that @schensley.
Seems I missed it, my bad.

I'll look into it

[2021-03-05 14:57] cpartica commented on #3042
It's interesting because I did test with 2.4.1 and does restrict, except for the case I posted above, including default country. So you can't reproduce my posted query response correct? it always returns everything? Have you tried clearing cache? What I am after is to know a cache config problem or a server caching problem. Are you using get or post? Can you clear Magento cache ?

[2021-03-05 15:30] tjwiebell commented on #3042
The `Country` component uses the default fetch policy which is `cache-first`, so @cpartica is correct in that after you updated these settings in the backend, your browser still had the full list in it's cache. At the time of building we didn't feel this setting would change much and used a fetchPolicy that saves us a network call, but if you want the frontend to react to the backend changing, jus

[2021-03-05 16:53] sirugh commented on #3042
@plamenh unfortunately I was able to get the query to work on my back end and the `countries` query only returns allowed countries now. So at this point it seems like you might have an issue with your back end or cache as @cpartica suggested.

As for the other issues you might be seeing with the shipping estimator, let's not confuse this specific topic. Please open new issues for other bugs you mi

[2021-03-05 18:58] mikhaelbois opened #3046 "[bug]: Cannot place order again after initial order was declined"
**Describe the bug**

When placing an order, if the initial order is declined and cause a Checkout Error, we won't be able to try again without reloading the page.

**To reproduce**

Steps to reproduce the behavior:
1. Create an order that will be de declined.
 In our case, we are using Braintree in sandbox mode and had an order between 2000.00 - 2999.99.
 <https://developers.braintreepayments.com

[2021-03-05 20:42] #2905 closed

[2021-03-06 01:35] sirugh commented on #3046
@magento export issue to JIRA project PWA as Bug

[2021-03-06 10:43] trung-pham commented on #1089
@sirugh I checked the linked issued but it does not provide any lead. Anyway I configured it myself.

[2021-03-08 16:17] sirugh commented on #1089
Great! What did you have to do?

[2021-03-09 21:02] fooman commented on #3046
As a sidenote Braintree does not support (confirmed with their support) using different credit card numbers to illicit a different payment gateway response. As such it will not be possible to test the following

1. enter not working credit card details
2. braintree declines
3. enter working credit card details
4. braintree accepts and order is placed

without navigating away (or some other action

[2021-03-09 23:04] #1617 closed

[2021-03-10 17:45] abrhim opened #3050 "[feature]: Extension's ability manipulate Venia-Ui JSX"
**Is your feature request related to a problem? Please describe.**
Extensions have limited access to extending the JSX markup in components. In Product Recommendations' use case, we would like to add a `onClick` handler to <Link> tags inside of the `GalleryItem` component to enable rendered recommendation product tracking.

**Describe the solution you'd like**
Short term: merge this pr  https://gi

[2021-03-10 19:24] #2317 closed

[2021-03-11 16:38] #3013 closed

[2021-03-11 22:02] wesleyalmd commented on #2866
Any news regarding this implementation?

[2021-03-12 14:51] syno-jde opened #3057 "[bug]: Guest checkout, France region validation failed"
 

**Describe the bug**

As guest, there is an error about address region (with country = France) when customer wants to proceed to shipping step.

**To reproduce**

Steps to reproduce the behavior:
1. Go to the checkout as guest with a valid cart
1. Set the address country with 'France'
1. Set the region with 'Ain' (the first one)
1. Fill all the required fields as usual
1. Click on "Continue to

[2021-03-12 15:17] #3020 closed

[2021-03-12 18:11] #2927 closed

[2021-03-14 15:11] plamenh commented on #3042
Sorry for not answering for a long time, I was offline. I will check the cache (it probably is the culprit) and will report back.

[2021-03-14 21:45] fooman commented on #3057
We ran into this as well. I am not 100% sure this can be solved in PWA Studio alone. France seems the only country where the region is mapped to numeric values (Ain => 01).

I believe the issue is around here:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/Address/AbstractAddress.php#L374
Which somehow GraphQl runs into while Magento with Luma does not.

The f

[2021-03-15 14:08] plamenh commented on #3042
It was cache indeed. However, there's another issue - when only one country is available and selected by default, the form gets stuck at 'Loading Regions...'. I'll open a new ticket, though. Thanks everyone for the input. In any case, it's a good idea to make it known this query has a cache-first policy (comments maybe?).

[2021-03-15 14:08] #3042 closed

[2021-03-15 14:12] plamenh opened #3059 "[bug]: Shipping Information Form Stuck at 'Loading Regions...'"
**Describe the bug**

Guest Shipping Information Form Stuck at 'Loading Regions...'

**To reproduce**

Steps to reproduce the behavior:

1. Make a store with only one country available and the same default country. (Not "United States")
2. Try to enter your address in guest checkout.
3. Scroll down 'Region' and try to select a region.
4. The select/dropdown is stuck at 'Loading Regions'.

**Expect

[2021-03-15 14:29] sirugh commented on #3059
@magento export issue to JIRA project PWA as Bug

[2021-03-15 14:32] sirugh commented on #3059
Thanks for reporting this - in the meantime if you think you might know of a fix, we would love a contribution. Thanks!

[2021-03-15 14:33] sirugh commented on #3057
This seems like a special case with the data. I'd prefer not to include special case fixes in the UI, especially since we would have to revert once fixed in the back end.

@cpartica can you confirm this is an issue with Magento Core or at least GQL?

[2021-03-15 14:33] sirugh commented on #3057
In the meantime I will open an internal bug and we can get it into triage hopefully.

[2021-03-15 14:33] sirugh commented on #3057
@magento export issue to JIRA project PWA as Bug

[2021-03-15 16:36] mmwogwdk opened #3060 "[doc]: describe in detailse configs requerents for webpack.config.js"
the problem is, that I'm getting error at the production  when setting an ServiceWorkerPlugin  configs:
[code]
there is an error like
[code]
but this directory are not global - I guess.
And I dig around this question - did'nt get success. Can you please  explain me  what could be a problem in this case.

**Describe the request**
A clear and concise description of the documentation request or where

[2021-03-15 17:27] sirugh commented on #3060
Hi @mmwogwdk, given the error you are seeing, it is possible your versions are not correct, but difficult to say without more detail. There is a script we provide that should get this output - `yarn build:report`. Please run that and bring the output and your question to the public slack channel where you are likely to get help.

[2021-03-15 17:27] #3060 closed

[2021-03-16 07:09] plamenh commented on #3059
I am on it. Any idea what might be causing this?

`[GraphQL error]: Message: The country isn't available., Location: [object Object], Path: country`

[2021-03-16 15:19] sirugh commented on #3036
@plamenh are you on the public slack? I can try to hop on a chat and help you debug.

In the meantime, [these lines](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/FilterModal/useFilterModal.js#L109-L141) may be of interest. The filter state is really maintained entirely in the url. When the drawer opens, we read from the url and set the items accordingly. When th

[2021-03-16 15:56] Frodigo commented on #2796
@magento I am working on this

[2021-03-16 16:07] sirugh commented on #2796
@magento export issue to JIRA project PWA as Story

[2021-03-16 17:43] #3031 closed

[2021-03-17 09:03] #3033 closed

[2021-03-17 13:49] sirugh commented on #3033
@plamenh Apologies! I forgot to respond. ~17 months ago we made a change to this file in this PR: https://github.com/magento/pwa-studio/pull/1872. There was a [comment](https://github.com/magento/pwa-studio/blame/d4dd9dc1dfa1777857ccabb11b1fb533c6e16604/packages/venia-ui/lib/RootComponents/CMS/cms.js#L32) which seems to have been lost: `Only render <RichContent /> if the page isn't empty and doesn

[2021-03-17 13:54] sirugh commented on #3033
Ok I spoke to @davemacaulay who reminded me that the reason for this code is so we can render our venia-ui `CategoryList` component in the event users have not configured the default cms content. Basically, it is a fall back component rendered specifically in that case.

[2021-03-17 14:28] plamenh commented on #3033
It's all good, just that comment is now missing, it would be great if it's back there. Someone might just skim through line 36 w/out investing much thought (as I did).

[2021-03-17 14:37] sirugh commented on #3033
https://github.com/magento/pwa-studio/pull/3062/files

done

[2021-03-17 14:48] plamenh commented on #3036
It worked, thanks a lot.

[2021-03-17 17:52] #2805 closed

[2021-03-18 15:01] Karlasa opened #3064 "[bug]: Configurable product specific image"
**Describe the bug**
Cart Page and minicart is showing base image instead of configuration specific image.

**To reproduce**

Go https://venia.magento.com/default/karena-halter-dress.html
Select color Latte.
Add product to the cart
Go to the Cart page/Check minicart

**Expected behavior**
Product has configuration specific image (in Latte colours)

**Screenshots**

**Possible solutions**

**Debug

[2021-03-18 18:24] #3050 closed

[2021-03-18 20:14] sirugh opened #3066 "[feature]: Clean up duplicated code between credit card and billing address"
**Is your feature request related to a problem? Please describe.**
In #2969 we copied a bunch of logic from credit card to a separate component, BillingAddress. To reduce the scope in that work, we did not de-dupe the work.

**Describe the solution you'd like**
This ticket should go through the credit card component and talon and try to clean it up to use the approach now implemented at least by t

[2021-03-18 20:15] sirugh commented on #3066
@magento export issue to JIRA project PWA as Story

[2021-03-19 06:52] plamenh opened #3069 "[bug]: placeholder image for products not served properly"
**Describe the bug**

placeholder image for products not served properly from path /static/...

**To reproduce**

Steps to reproduce the behavior:

1. Create a product w/out image.
2. Open category
3. Scroll down to product
4. See missing image icon

`Error: ENOENT: no such file or directory, stat '/Users/XXX/dev/projects/pwa9/static/version1611738522/frontend/Magento/luma/bg_BG/Magento_Catalog/im

[2021-03-19 10:21] Jordaneisenburger opened #3070 "[bug]: When clicking a submenu in the mega the submenu won't close"
**Describe the bug**

When a user clicks on a submenu item in the new mega menu the site navigates to the new page but the submenu stays open. When your submenu has more children this becomes very annoying.

(shame on me I knew this bug would surface and totally forgot to report it whilst the PR was open)

**To reproduce**

Steps to reproduce the behavior:
1. Hover over a menu item that has a subm

[2021-03-19 14:11] sirugh commented on #3070
I cant repro this on develop.pwa-venia.com. Can you provide an example of how we should configure some sample data to repro the issue?

[![Image from Gyazo](https://i.gyazo.com/f49e51fc16d3136feddd40926ca258fe.gif)](https://gyazo.com/f49e51fc16d3136feddd40926ca258fe)

[2021-03-19 14:12] sirugh commented on #3069
@magento export issue to JIRA project PWA as Bug

[2021-03-19 14:21] Jordaneisenburger commented on #3070
@sirugh  after a click don't move your mouse. you'll see the menu stays open.

[2021-03-19 14:40] Jordaneisenburger commented on #3070
I understand why it stays open technically but that's not the point. What I meant is that on almost every other (non js driven) website the mega menu closes after navigate because the DOM reloads (basically resetting the state). So if for Example the menu isn't just 100px in height but like 500 ish it's hard for users to detect they navigated to another page.

Let's check some other websites for e

[2021-03-19 14:45] sirugh commented on #3070
OK, I think this is good info. Let's see what @schensley says when he gets back from PTO. I think there may be some middle ground where we have the prop I suggested or we detect the amount of items or the height of the menu to auto close :)

[2021-03-19 15:03] davemacaulay commented on #3070
I agree with you @Jordaneisenburger, I thought this was an interesting UX choice when I started playing with mega menu. Naturally as @sirugh has said we'll defer to @schensley.

[2021-03-19 15:52] m2-assistant[bot] opened #3071 "[Issue] [chore]: Cleanup invalid function ref in billing address"
This issue is automatically created based on existing pull request: magento/pwa-studio#3065: [chore]: Cleanup invalid function ref in billing address

---------
Oops.

Fixed that.

Also cleaned up some exposed console errors so they only show up outside of prod.

[2021-03-19 15:53] sirugh commented on #3071
@magento export issue to JIRA project PWA as Bug

[2021-03-19 16:19] #3071 closed

[2021-03-19 18:29] brendanfalkowski commented on #3070
Piling on because it's Friday — the menu should close when you click because the user intends to see content not menu (clicking is intent).

[don't say it, don't say it] ...also the menu shouldn't open on hover because hover isn't intent (clicking is, hover is deciding). I hate seeing hover menus especially if they're mega because it's about as frustrating as anything to avoid tripping. Hover a bu

[2021-03-20 13:45] plamenh commented on #3069
This appears to be caused by missing placeholder images. When there are no placeholder images set, Magento apparently falls back to frontend/Magento/luma/xx_XX/Magento_Catalog/images/product/placeholder/small_image.jpg, which is not served properly.

[2021-03-20 14:30] sirugh commented on #3070
https://css-tricks.com/in-praise-of-the-unambiguous-click-menu/

How serendipitous :) posted the same day we merged mega menu!

[2021-03-21 06:56] plamenh opened #3074 "[bug]: Enabling product image watermarking replaces all category product images with placeholder"
**Describe the bug**

When watermarking is enabled, category product images are all replaced with the placeholder image.

**To reproduce**

Steps to reproduce the behavior:

1. Enable watermarking
2. Open any category with products that have images
3. See all product images replaced with placeholder image

**Expected behavior**

If not seeing watermarked images, at least see regular product images

[2021-03-21 07:27] plamenh opened #3075 "[feature]: Order note at checkout"
**Is your feature request related to a problem? Please describe.**
PWA can't select a default country when rendering a directory Form like signup or checkout so Customers cannot see US as default making it frustrating to scroll every-time they fill out forms

**Describe the solution you'd like**
Expose default country in store config and Country object so PWA devs can choose which one to use.

**D

[2021-03-21 14:44] plamenh opened #3076 "[bug]: Product images do not load in product view, because mediaBackend is wrong."
**Describe the bug**

Product images do not load, because local browser cache is not populated properly.

**To reproduce**

Steps to reproduce the behavior:

1. Open a product

**Expected behavior**

Images show fine

**Possible solutions**

makeUrl util cannot read the base media url, because local cache is not populated.

**Please let us know what packages this bug is in regards to:**

-   [x] `

[2021-03-22 08:20] Jordaneisenburger commented on #3070
@brendanfalkowski I never thought about it this way, this makes a lot of sense to me lol

[2021-03-22 09:28] Jordaneisenburger opened #3077 "[bug]: browser back buttons isn't responsive"
**Describe the bug**

The browser back button isn't responding properly when a user clicks the button.

**To reproduce**

Steps to reproduce the behavior:
1. Go to <https://venia.magento.com/default/venia-tops/venia-blouses.html?page=1]
1. Add some filters
1. Now click on the browser back button **once**
1. You should see nothing changed and we are still on the same url.

**Expected behavior**

Wh

[2021-03-22 11:22] plamenh commented on #3059
Ok, apparently, fieldState value is not synced in the Select component. See screenshot (left is logged in user, right is no-user).

<img width="1279" alt="Screenshot 2021-03-22 at 13 21 16" src="https://user-images.githubusercontent.com/14073311/111982455-a9898900-8b11-11eb-82e0-9a486a0ebe17.png">

[2021-03-22 13:41] plamenh commented on #3059
I found (one of )the issue(s) - line 49 of @magento/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js:

[code]

In order to fix it we need to put the default store config country. Can someone direct me as to how I can get store config from context?

[2021-03-22 13:44] sirugh commented on #3059
Not at my computer right now, but you can check other components where we make a store config query, like the store switcher. Use a query to fetch the value, which is essentially context :)

[2021-03-22 15:13] sirugh commented on #3077
@magento export issue to JIRA project PWA as Bug

[2021-03-22 15:14] sirugh commented on #3076
@magento export issue to JIRA project PWA as Bug

[2021-03-22 15:16] sirugh commented on #3076
@plamenh can you provide some more clarification? You can see product images just fine on develop.pwa-venia.com, so I'm not sure how we can repro with the steps you have provided.

[2021-03-22 15:16] sirugh commented on #3075
@magento export issue to JIRA project PWA as Story

[2021-03-22 15:17] sirugh commented on #3074
@magento export issue to JIRA project PWA as Bug

[2021-03-22 15:56] plamenh commented on #3059
I just used countries {} query and picked the first available country. Now it works fine. Changed that in CartPage and CheckoutPage. Just wondering why we need two different components for essentially the same task, though (AddressForm in CheckoutPage and ShippingForm in CartPage).

Would you like me to put these changes in a PR? It's kind of messy (though it works).

[2021-03-22 15:59] plamenh commented on #3076
I think this might be an issue with my environment, maybe Magento backend. I think it went wrong when I updated to 2.4.2. I will try to pin it down. If not, I will close the issue.

[2021-03-22 19:04] sirugh commented on #3059
I'd ask first whether we are hoping to auto-select the _default_ country or the user's preferred country. Using the `countries` query and picking the first sounds like a good way to have a default selection, though I'm not confident that whether that is a documented intent of the query (first item === default?). I'd prefer if there was a `storeConfig.default_country` value like there is for `store

[2021-03-22 20:03] plamenh commented on #3059
Yeah, I was looking for the same,  but couldn’t find it in the GraphQL docs.

[2021-03-23 12:54] KrishnaK-Z commented on #626
For configurable products, the options of type swatch need to be maintained in the separate model file. In venia, this in done in the following path
node_modules/@magento/venia-ui/lib/components/ProductOptions/getOptionType.js

so the fashion_color won't be available in magento backend and it might be the cause for this issue.

[2021-03-23 13:58] plamenh opened #3081 "[bug]: Modifying Routes component breaks routing for default routes"
**Describe the bug**

When I tried modifying the Routes component (so I can get a custom homepage), cart and checkout routes return not found.

**To reproduce**

Steps to reproduce the behavior:

1. Copy Routes from `@magento/venia-ui/lib/components` to `src/components`
2. Change Routes import path in (already copied) app.js from `@magento/venia-ui/lib/components/Routes` to `../components/Routes`

[2021-03-23 19:58] sirugh commented on #3081
@magento export issue to JIRA project PWA as Bug

[2021-03-24 17:15] evanc420 opened #3083 "[bug]: A short, simple sentence describing the bug"
**Describe the bug**

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Possible solutions**

Add any i

[2021-03-24 17:15] #3083 closed

[2021-03-26 06:04] plamenh commented on #3081
I suspect for some reason route injection fails in this case, as both routes are supposed to be coming from defaultRoutes.json. Any thoughts?

[2021-03-26 06:24] drpayyne commented on #3070
@brendanfalkowski, very interesting take on UX behaviour.

I'm curious on what you think about hovering over tooltip icons which open a popup showing more information? This is similar to hovering over a category title which opens a popup (just bigger) showing its subcategories, right? Hovering over a category title doesn't navigate to said category as your example of 'hovering over add to cart - a

[2021-03-26 07:03] plamenh opened #3084 "[bug]: Broken product urls when url suffix (.html) is removed."
**Describe the bug**

When I remove the html suffix, urls get broken:

URL with .html suffix: /product.html
URL without .html suffix: /productnull

**To reproduce**

Steps to reproduce the behavior:

1. Remove .html suffix from Magento backend
2. Open category and try to open product
3. Page not found

**Expected behavior**

Correct url is generated

**Possible solutions**

Items in category have

[2021-03-26 07:04] plamenh commented on #3084
@magento I am working on this

[2021-03-26 07:05] plamenh commented on #3084
@magento add to contributors team

[2021-03-26 07:06] plamenh commented on #3084
@magento add to contributors team

[2021-03-26 07:06] plamenh commented on #3084
@magento I am working on this

[2021-03-26 07:14] plamenh commented on #3084
My bad, this has been resolved, I had been using an old version of GalleryItem in my src folder.

[2021-03-26 07:14] #3084 closed

[2021-03-26 09:34] Frodigo commented on #3070
Hey,

I am used to navigations that open on hover, and I expect if I click on the navigation link, I will go to dedicated pages. For instance, I click on Tops, and I go to the Tops category page.

Opening dropdowns on click causes one issue: you cannot go to the dedicated page because click on the link prevents this from opening the submenu.

Anyway, I know that each project can have different req

[2021-03-26 13:31] coresh opened #3085 "Feedback on page: /pagebuilder/custom-components/add-component/"
During detailing steps request

An example:

```Step 1: Add local props and prop-types```

`Full /path/to/pwa/root/theCurrentFileName.js` -> would be useful.

Conclusion:

`theCurrentFileName.js`

Expected the full file path/name

Thank you

[2021-03-26 14:12] sirugh commented on #3070
I think those ideas are good, @Frodigo, but I also think we need to consider the UX for accessing top-level categories. Right now it hovers but you can still navigate to the top-level categories by clicking on them even after the hover is open. If the mega menu only opens on click, how do you access root categories?

[2021-03-26 14:14] jcalcaben commented on #3085
Thanks for the feedback @coresh

This topic is part of a tutorial set that begins with: https://magento.github.io/pwa-studio/pagebuilder/custom-components/overview/

If you follow the topics in sequence, the details about the file path for the `ExampleQuote` component is provided during the [component setup](https://magento.github.io/pwa-studio/pagebuilder/custom-components/setup-component/) phase

[2021-03-26 14:25] Jordaneisenburger commented on #3070
@sirugh  A solution for the top level click is being given in the post you mentioned right?

[2021-03-26 17:53] brendanfalkowski commented on #3070
@drpayyne Generally speaking, I haven't built anything hover-first in a long long time because touch devices are never going away. Click-first reaches more people with predictable behavior and doesn't need the overhead of supporting a duplicate affordance in hover, and it frees hover to just helping people understand the element is interactive if they're using a mouse.

Having said that, tooltips

[2021-03-27 18:20] plamenh opened #3088 "[bug]: Broken sizing of small product images"
**Describe the bug**

On the category landing page, when product image is low resolution (e.g., 225x351), it is stretched and spills over into other components (both product view and catalog view)

**To reproduce**

Steps to reproduce the behavior:
1. Add a small product image to your catalog and assign it to a category
1. Open the category that the product belongs to on Venia
1. See image spills

[2021-03-27 23:08] sirugh commented on #3088
@magento export issue to JIRA project PWA as Bug

[2021-03-28 07:04] plamenh opened #3089 "[bug]: Category Image expands beyond Tile"
**Describe the bug**

This particular image extends beyond the bounds of its tile on the Category page.

**To reproduce**

Steps to reproduce the behavior:
1. Upload this specific image as a product image
1. Navigate to the Category page that displays this product
1. See that this image extends beyond the bounds of the tile and overlaps product name and price information

**Expected behavior**

Im

[2021-03-28 12:55] sirugh commented on #3089
@magento export issue to JIRA project PWA as Bug

[2021-03-28 17:06] plamenh commented on #3081
By the way, all default routes are not working, so the issue is definitely there.

[2021-03-30 14:01] sirugh commented on #3064
@magento export issue to JIRA project PWA as Bug

[2021-03-30 14:33] sirugh commented on #1222
@vasilii-b hey are you still working on this? Looks like we're just waiting for that last fix before we move this to review.

[2021-03-30 14:36] supernova-at commented on #3076
@plamenh any luck investigating this one?

[2021-03-30 16:39] plamenh commented on #2212
This is extremely unclear. environment variables for PHP or node? None of these seem to work with our setup (neither setting variables in index.php (PHP), nor setting them at build time (node).

[2021-03-30 16:40] plamenh commented on #3076
@supernova-at, see the pull request above.

[2021-03-31 11:51] Karlasa opened #3094 "[feature]: Email field validation"
**Is your feature request related to a problem? Please describe.**
Currently Email field validation is done on backend side.

**Describe the solution you'd like**
Improve form validators with email specific validation in frontend

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

**Please let us know what packa

[2021-03-31 11:52] Karlasa commented on #3094
@magento I am working on this

[2021-03-31 13:40] sirugh commented on #3094
@magento export issue to JIRA project PWA as Story

[2021-03-31 15:24] supernova-at commented on #2171
We may start with TypeScript in the Peregrine talons

[2021-03-31 18:32] #3046 closed

[2021-04-01 14:45] evan-burrell opened #3097 "[bug]: Babel JSX Plugin Dependency Mismatch"
**Describe the bug**

Babel plugin for parsing JSX has the incorrect dependency.

**To reproduce**

Steps to reproduce the behavior:

1. Create a new PWA Studio project using the scaffolding tool `yarn create @magento/pwa`
2. Use latest tag (10.x)
3. Once installed, remove the storybook directory, and uninstall `@storybook/react`
4. Run `yarn build` or `yarn watch`, see build failures.

To see dep

[2021-04-01 18:39] sirugh commented on #3097
@magento export issue to JIRA project PWA as Bug

[2021-04-01 20:22] supernova-at commented on #3081
Yes, the recommended approach at this time is to tap the routes target instead:

[code]

See the [add a static route tutorial](https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/add-a-static-route/?itm_source=pwa-devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=route#tap-into-the-extensibility-framework) for more information.

[2021-04-01 20:22] #3081 closed

[2021-04-02 00:45] HaidarZ commented on #2949
What is the best backend proper configuration for pwa ?

[2021-04-02 07:33] plamenh commented on #3081
Another question then - how do I customise the ErrorView component? AFAIK it goes through Routes, doesn't it?

[2021-04-02 11:43] plamenh opened #3100 "[bug]: Broken Add to Cart for logged in users"
**Describe the bug**

when a guest cart is merged with an user's cart, the new item quantity becomes the sum of the item quantities from the individual carts. If it goes beyond the item's stock quantity, GQL responds with "The requested qty is not available".

Also, once this happens, logged in user cannot add any other products to the cart, it always gives back error 'the requested qty is not ava

[2021-04-02 14:31] plamenh commented on #3100
The issue appears to be with two open tabs/browsers. One browser had the same user logged in and it had a cart with items added. The other was firing that error all the time. Do you think this is even possible?

[2021-04-02 14:44] sirugh commented on #3100
@plamenh can you provide exact repro here? Also please run `yarn build:report` so we know what versions you are running. The use case you described is one that we test often so I'd be surprised if it was just broken without some special edge case.

At the core of this is the code that runs when you log in. An authed user only has one cart in the database. We perform a `mergeCart` mutation, which t

[2021-04-02 15:04] plamenh commented on #3100
Another idea: could me clearing app cache manually somehow break cart fetching? The funny thing in the whole situation is that the cartTrigger was showing quantity (e.g., 12), but when the miniCart was triggered or the CartPage was open, it was empty. total_quatity in both places was different.

[2021-04-02 15:29] plamenh commented on #3100
Ok, I found the edge case (not that edge, by the way). You can see it on https://venia.magento.com/:

1. Add 999 pcs. of Candace Dress/Peach/XS (https://venia.magento.com/default/candace-dress.html);
2. Sign in
3. Sign out
4. Add 999 pcs. of Candace Dress/Peach/XS (https://venia.magento.com/default/candace-dress.html);
5. Sign in
6. Broken cart - it shows 99+ as quantity on accountTrigger, the min

[2021-04-04 07:08] vasilii-b commented on #1222
Hi @sirugh ,
I was working on the fix for the mentioned bugs but had some difficulties with handling them.
Whom I can contact for a hand of help?
Thanks in advance.

[2021-04-04 16:55] sirugh commented on #1222
Push whatever the latest state is for your changes and let me know and I'll try to look next week. We're out Monday but will be back Tuesday.

[2021-04-05 02:16] codynguyen1 commented on #3100
This is more like a GraphQl issue, but from the frontend, should we still show the cart items to give customers the ability to remove the out-stock product? The same problem could happen if we add a product to the cart, and then it goes out of stock, and we refresh the cart.
![image](https://user-images.githubusercontent.com/16347586/113530079-58889300-95ef-11eb-9fc3-4ffae47a40f5.png)

[2021-04-05 04:57] vasilii-b commented on #1222
Thanks, @sirugh!

What I have achieved so far in the scope of bug fixing - set the focus to the "Filters" button after there is applied some filters that are already in the cache. Didn't figure it out how to do it for the case when the category component is re-rendered completely.

Please let me know what I did wrong.

[2021-04-05 07:13] plamenh commented on #3100
That’s a good idea. It works similarly in the cart page when you try to add more quantity than available - it shows you a warning.

The other option would be for the frontend client to do this automatically (reduce cart quantity to the max available).

[2021-04-05 13:13] sirugh commented on #3100
So we originally blocked the UI on errors but in certain situations, such as this, it can lead to impassible conditions. We also want to be in the practice of showing people the data we do have _and_ letting them make a decision about what to do next. So your idea here would be the right direction, and is what we've tried to do in [other parts of the app](https://github.com/magento/pwa-studio/blob

[2021-04-06 15:10] sirugh commented on #3100
@magento export issue to JIRA project PWA as Bug

[2021-04-06 15:14] sirugh commented on #3100
@codynguyen1

Unfortunately I don't think this will be possible if the `items` array contains a `null` entry for the OOS product. In order for the front end to provide a way forward to the user we would need the item id so we could remove it from the cart. This is most likely going to need to be fixed in the backend/GQL layer.

[2021-04-06 16:44] larsroettig opened #3102 "[feature]: EditModal should not depend on CreditCard"
**Is your feature request related to a problem? Please describe.**
* The `EditModal` for Payment is coupled to the credit card component and contain hardcoded information about the Braintree payment see [editModal.js](https://github.com/magento/pwa-studio/blob/40247e2651b37b5d41b96deaccc5879a3d618603/packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js#L33)

**Describe the

[2021-04-06 16:46] larsroettig commented on #3102
@magento I am working on this

[2021-04-06 17:46] sirugh commented on #1222
The app currently re-renders the entire `Category` component when new filters are applied. Once it makes the new query for data, it caches those results, which is why sometimes everything is unmounted and other times it seems to only update the result set.

The auto-focus of the `Filter` button works properly when there is cached data because the `FocusScope` can return focus back to the button. W

[2021-04-06 18:20] supernova-at commented on #3089
Hi @plamenh , thank you for reporting this issue and including the original image.

We cannot reproduce the black rectangle but this image does incorrectly exceed the bounds of the category tile:
![Screen Shot 2021-04-06 at 1 16 42 PM](https://user-images.githubusercontent.com/13182778/113759354-98787480-96da-11eb-968f-4efc2c041335.png)

I have repurposed the corresponding JIRA ticket to investiga

[2021-04-06 18:29] #3064 closed

[2021-04-06 18:49] dpatil-magento commented on #3064
Its controlled via admin configs -

![image](https://user-images.githubusercontent.com/40405790/113763026-d4153d80-96de-11eb-9455-91824a9599ef.png)

[2021-04-07 15:51] m2-assistant[bot] opened #3107 "[Issue] Use pre-render to boost Larget Contentful Paint (LCP)"
This issue is automatically created based on existing pull request: magento/pwa-studio#3090: Use pre-render to boost Larget Contentful Paint (LCP)

---------

## Description
This will add hydrate option when root element has children. This is a follow-up for requested default Rendertron Middleware support in #3058

This PR depends on this Rendertron PR https://github.com/GoogleChrome/rendertron/pu

[2021-04-07 15:52] sirugh commented on #3107
@magento export issue to JIRA project PWA as Story

[2021-04-07 18:25] m2-assistant[bot] opened #3109 "[Issue] 🪄 Product Item style fixes"
This issue is automatically created based on existing pull request: magento/pwa-studio#3108: 🪄 Product Item style fixes

---------
### Description

#### Gallery Item Inset Shadow

Products in Venia (and most products) have a white background. Here I added a subtle inset shadow to separate product items from each other.

![image](https://user-images.githubusercontent.com/316104/113910214-2ff2cb80-9

[2021-04-07 18:25] sirugh commented on #3109
@magento export issue to JIRA project PWA as Story

[2021-04-07 19:09] aagasi opened #3110 "[doc]: Tapping into Routes"
**Describe the request**
In the same way we tap into the routes to "push" new routes we can also change the default routes defined in /packages/venia-ui/lib/defaultRoutes.json

**Possible solutions**
How would you word this addition or change?

**Screenshots**
As we can see in the following image, makeRoutesTarget() initializes the Routes component. As part of this initialization if we have a targ

[2021-04-07 19:47] sirugh commented on #3110
@magento export issue to JIRA project PWA as Task

[2021-04-08 02:24] #3109 closed

[2021-04-08 04:13] sivamind opened #3111 "Invalid template: could not get tarball url from npm: Command failed: /bin/sh -c npm view --json @magento/venia-concept /bin/sh: 1: npm: not found"
sivajik34@C1ML41715:~/pwa$ yarn create @magento/pwa
yarn create v1.22.5
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@2.3.2: The platform "linux" is incompatible with this module.
info "fsevents@2.3.2" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.13: The platform "linux" is incompatible with this module.
info "fs

[2021-04-08 04:36] sivamind commented on #3111
sorry npm not installed

[2021-04-08 04:36] #3111 closed

[2021-04-08 14:40] sirugh commented on #3094
@Karlasa thanks for opening this issue, but we've actually gone in circles around this and have decided not to implement email validation in the front end. You can see [this PR](https://github.com/magento/pwa-studio/pull/2157) where we removed it for context:

As such, I am closing this issue and related PR. At least now we have an issue that is easy to find :)

[2021-04-08 14:40] #3094 closed

[2021-04-09 13:33] Jordaneisenburger opened #3112 "Queries fire multiple times"
**Describe the bug**

Whilst I was updating my project to PWA Studio 8.0 I noticed that some queries run twice. Couldn't directly see why this was happening so decided to check https://venia.magento.com/ where the same issue occurred.

**To reproduce**

Steps to reproduce the behavior:

1. Go to https://venia.magento.com/
2. Open the chrome network tab and set the filter to XHR + graphql
3. Click

[2021-04-09 14:13] tjwiebell commented on #3112
@Jordaneisenburger
Keen eye, this seems pretty easily reproducible. This query [fires in an effect](https://github.com/magento/pwa-studio/blob/develop/packages/peregrine/lib/talons/RootComponents/Category/useCategory.js#L121:L157) with a pretty big dependency list, so it's likely the query fires, one of those deps change, and it fires again. This query is luckily cacheable, but definitely somethin

[2021-04-09 14:33] sirugh commented on #3112
@magento export issue to JIRA project PWA as Bug

[2021-04-09 15:26] sirugh commented on #3112
Copied curl for both `GetCategories` calls and they are identical.

[2021-04-11 23:08] plamenh commented on #2328
I'd like to add some details, as I couldn't find any clear instructions on how to deploy to production in our use case. So I thought this might be helpful.

The upward-connector way does not work for us (first, not compatible with 2.4.2, second, can't get it to work on 2.4.1, because of complaints about missing MAGENTO_BACKEND_URL variable).

upward-js works great running locally at port 8000 behi

[2021-04-12 08:32] plamenh opened #3114 "[bug]: useCmsPage nextFetchPolicy: 'cache-first'? (also cmsBlock)"
**Describe the bug**

You load a CMS page/block once and it stays like that forever.

**To reproduce**

Steps to reproduce the behavior:

1. Load a CMS page
2. Change content of CMS page
3. Reload CMS page
4. Old content

**Expected behavior**

Fresh content

**Possible solutions**

Change policy to something that makes sense (e.g., cache-and-network). CMS content changes. It's true it happens inf

[2021-04-12 16:10] #3036 closed

[2021-04-12 16:13] supernova-at commented on #3036
We checked with our internal search team who advised us that this can be closed: based on their research, there are no plans to add advanced search as part of our new search offering.

[2021-04-13 02:22] tkacheva opened #3115 "[feature]: Desktop optimization for the layered navigation"
As a Merchant I want filtering products by their attributes on product listen page to be optimized to the viewport that shopper is using *so that* I deliver better customer experience while reducing TCO

*Preconditions*

- Website with products that have product attributes "use in layered navigation ti be set to "filterable with results" created
- Customer is browsing a website on a desktop device

[2021-04-13 07:25] huykon commented on #3114
that's right

[2021-04-13 11:22] orienteed opened #3116 "Venia, PLP, filters, Color, Results show up wrong color"
Test case:
1) Open PLP: https://venia.magento.com/default/venia-dresses.html
2) Filter by color: "Latte": https://venia.magento.com/default/venia-dresses.html?page=1&fashion_color%5Bfilter%5D=Latte%2C73
3) The results show up dresses in different colours

Taking as example the first product
"Karena Halter Dress"
It seems it is reported in the results because it has, as variant, the color "Latte" b

[2021-04-13 13:29] JustinConabreeAbsolunet commented on #3115
@magento I am working on this

[2021-04-13 13:29] JustinConabreeAbsolunet commented on #3115
@magento add to contributors team

[2021-04-13 13:30] JustinConabreeAbsolunet commented on #3115
@magento I am working on this

[2021-04-13 16:52] arielapaula opened #3117 "[bug]: Payment is currently unavailable in checkout default"
**Describe the bug**

Payment methods aren't showing in PWA checkout.
I already enabled them in the Magento 2 backend as you can see in the second screenshot

**To reproduce**

Steps to reproduce the behavior:

1. Create pwa studio app with `yarn create @magento/pwa`
2. Change enviroment variable in `.env`
3. Allow payment methods in the backend
4. Upgrade and compile magento backend
5. See error

[2021-04-13 20:09] dpatil-magento opened #3118 "[bug]: browser back buttons isn't responsive on Search Page"
**Describe the bug**

The browser back button isn't responding properly on search page.

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://develop.pwa-venia.com/default/search.html?query=tops+dress&page=1
1. Add some filters
1. Now click on the browser back button **once**
1. You should see nothing changed and we are still on the same url.

**Expected behavior**

When a user clic

[2021-04-13 20:12] dpatil-magento commented on #3118
Fix and tests similar to https://github.com/magento/pwa-studio/pull/3078 needed here https://github.com/magento/pwa-studio/blob/6c1a51ae232f20db147ca4b4e8b69c5bf2148bb0/packages/peregrine/lib/talons/SearchPage/useSearchPage.js#L189

[2021-04-13 20:25] #3077 closed

[2021-04-14 09:46] huykon opened #3120 "[bug]: Configurable product selectable variation out of stock"
**Describe the bug**

We still selectable product variation out of stock in configurable product. I think it should be make disable like magento default

**To reproduce**

Steps to reproduce the behavior:

1. Go to backend and make a product variation out of stock
2. Navigate on pwa site to this configurable product
3. Select out of stock variation
4. See we still selectable out of stock options.

[2021-04-14 17:49] dpatil-magento commented on #3118
@magento export issue to JIRA project PWA as Bug

[2021-04-15 13:56] #3118 closed

[2021-04-15 16:24] wesleyalmd commented on #3120
@huykon Are you work on the solution? I have a modification of the useProductFullDetail talon using wrapWith that solves this problem. I could contribute here.

![Previw](https://i.imgur.com/ocDBu1Q.png)

[2021-04-15 16:31] wesleyalmd commented on #3117
You need have extensions that add the payment method using the `checkoutPagePaymentTypes` entry point. PWA Studio offers an offiline checkmo payment extension. Have you already added it to your project?

Repo: https://github.com/magento/pwa-studio/tree/develop/packages/extensions/venia-sample-payments-checkmo

`yarn add @ magento / venia-sample-payments-checkmo`

You must create a new extension fo

[2021-04-15 19:12] nikatvaimo commented on #3120
@wesleyalmd could you share an example of your talon wrapper?

[2021-04-16 01:42] huykon commented on #3120
@wesleyalmd Please contribute your solution 👍

[2021-04-16 02:21] fooman opened #3124 "[bug]: Default Category sort set to by position"
**Describe the bug**

The category default sort order should align with the default back-end sort order.

**To reproduce**

Steps to reproduce the behavior:

1. open category page
2. note order of products

**Expected behavior**
Products ordered by position in ascending order

**Screenshots**

![image](https://user-images.githubusercontent.com/455508/114962128-485d9700-9ebe-11eb-80fd-bc77e7c46eb8.

[2021-04-16 03:17] fooman commented on #3124
@magento I am working on this

[2021-04-16 09:26] tim-breitenstein-it opened #3126 "[bug]: Can´t install PWA Studio: ERESOLVE unable to resolve dependency tree"
**Describe the bug**

Can´t install PWA Studio

[code]

**To reproduce**

Steps to reproduce the behavior:

1. Run: `npx @magento/create-pwa`
2. Configuration:
[code]
3. See error:
[code]

**Expected behavior**

Fresh Magento 2 PWA studio installation

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Possible solutions**

Add any ideas about possible solutions to th

[2021-04-16 13:48] chris-brabender opened #3127 "[bug]: Page max width is inconsistent and not compatible with PageBuilder full bleed"
**Describe the bug**

Venia content is globally contained in a div (in Main) that implements the --venia-global-maxWidth. This restricts Page Builder content from respecting the Full Bleed option administrators may select.

![Screenshot 2021-04-16 093813](https://user-images.githubusercontent.com/5144830/115032856-ca869500-9e97-11eb-892a-8e7f51138d37.png)

Removing the max width on the Main compon

[2021-04-17 17:10] vasilii-b commented on #1222
Thanks for the help here @sirugh.
Changes have been added.

[2021-04-18 06:21] vasilii-b commented on #1470
Hi @sirugh , @soumya-ashok,
I wonder if this issue is still actual and whenever the changes made for #1222 covers what's required here.
Isn't "Left Nav" = "Filters"? 🤔
Looking forward to your thoughts.

[2021-04-18 09:02] Kein1945 commented on #2949
Apologize, I forgot how I solved that. But that was some configuration
option at admin panel

On Fri, 2 Apr 2021 at 07:45, Haidar Zeineddine ***@***.***>
wrote:

[2021-04-19 13:35] sirugh commented on #1470
You're right - this may not be necessary anymore since we implemented Mega Menu and no longer show left nav on desktop. Let me double check with the team :)

[2021-04-19 16:13] supernova-at commented on #3110
Hi @aagasi , thanks for reporting this.

We have just triaged it and assigned it to an upcoming epic expanding extensibility. Unfortunately we do not have an estimate on when this will be completed at this time.

[2021-04-19 17:06] #3097 closed

[2021-04-20 09:07] evan-burrell commented on #3126
@tim-breitenstein-it It looks like you are using NPM 7, this happens when there is a peer dependency mismatch, you should be able to install by using `npm install --legacy-peer-deps`

[2021-04-20 15:55] Jordaneisenburger opened #3134 "[feature]: Storefront needs to automatically update the newly added/changes translations"
**Is your feature request related to a problem? Please describe.**
As a developer when I add new translations or edit existing ones the watcher needs to be restarted. This is obviously not ideal since it really breaks the development flow/focus.

At the moment the watcher actually restarts but it doesn't reflect on the frontend until we restart the watcher.

**Describe the solution you'd like**
I'

[2021-04-20 15:56] sirugh commented on #3134
@magento export issue to JIRA project PWA as Story

[2021-04-20 16:50] chatart commented on #3120
@wesleyalmd Will you tackle on this one? :)

[2021-04-20 17:31] plamenh commented on #3100
Not meaning to complain, just wanted to figure out what the standard procedure and timing for the project is: Does it usually take such a long time to address such (major in my opinion) bugs for pwa studio? This issue has been staying in 'ready for grooming' for almost 2 weeks now. I've already encountered slow progress for non-critical issues, but I was kind of expecting a bit better progress for

[2021-04-20 18:19] sirugh commented on #3100
Hi @plamenh, apologies. We've had some folks out on PTO lately and this got lost in all of that. I've pinged some folks internally and will try to get some update on this. For what it's worth I would suggest opening an issue against magento2 as well.

https://devdocs.magento.com/contributor-guide/contributing.html#report

[2021-04-20 20:17] tkacheva opened #3135 "[feature] Enhance mobile layered"
As a Merchant I want a shopper to see number of products matching the filter they apply in layered navigation on mobile device so that I deliver better customer experience while reducing TCO

*Preconditions*

Website with products that have product attributes "use in layered navigation" to be set to "filterable with results" created
Customer is browsing a website on a mobile device
Customer is on

[2021-04-20 20:43] sirugh commented on #3100
@plamenh looks like we're getting a fix in GQL:

[2021-04-20 23:05] wesleyalmd commented on #3120
Yes, I'm already working on the solution

[2021-04-21 05:26] Frodigo commented on #2796
I met an issue with the Dialog component here.

When I changed the Edit shipping form to use Dialog, the initial values of the form are no populated, and I see errors like this:

[code]

Here is the code: https://gist.github.com/Frodigo/e106254dc9d30b774475155370f51430 to reproduce this issue on a local instance, you can replace a file packages/venia-ui/lib/components/CheckoutPage/ShippingInformat

[2021-04-21 15:47] tkacheva commented on #3135
@magento export issue to JIRA project PWA as Bug/Task/Story

[2021-04-21 15:56] sirugh commented on #3135
@magento export issue to JIRA project PWA as Story

[2021-04-21 20:10] sirugh commented on #3115
@magento export issue to JIRA project PWA as Story

[2021-04-22 08:27] #3126 closed

[2021-04-22 11:41] HaidarZ commented on #3059
Hello,
I'm facing the same issue here, I've implemented a solution to read default country from environment variables.
Unfortunately, I wasn't able to find any other proper way to do that. Magento doesn't return the default country neither from the graphql nor from the rest api.
I need to refactor my code before opening a pull request. Is it preferred to explicitly access the process.env for each

[2021-04-26 15:10] sirugh opened #3143 "[bug]: fix quantity field warning"
**Describe the bug**

This warning is spammed several times when you load a (product?) page:

![](https://user-images.githubusercontent.com/1278869/116105745-38407700-a677-11eb-84ec-99d54bcbd3f7.png)

**To reproduce**

Steps to reproduce the behavior:
1. Go to `/default/night-out-collection.html`
1. Look at console warnings

**Expected behavior**

Should not see this warning in console.
### Accept

[2021-04-26 15:10] sirugh commented on #3143
@magento export issue to JIRA project PWA as Bug

[2021-04-26 17:21] sirugh commented on #3059
Here's a gif of what you might see:

[![Image from Gyazo](https://i.gyazo.com/92485ba3024b3368a8e68a3f63a027f7.gif)](https://gyazo.com/92485ba3024b3368a8e68a3f63a027f7)

[2021-04-26 18:04] sirugh commented on #3059
Also looks like we have https://jira.corp.magento.com/browse/PWA-1687, to add `defaultCountry` :)

[2021-04-26 18:41] tkacheva commented on #3115
@sirugh, do we have a cloud instance with the changes deployed?

[2021-04-26 19:03] #3075 closed

[2021-04-26 19:05] sirugh commented on #3115
I don't believe so.

[2021-04-26 19:08] supernova-at commented on #3075
Hey @plamenh,

Thanks for writing this up. There is no GraphQL support for this. Additionally, as a feature request, we have decided not to prioritize this at this time, either and as such I have closed this issue.

P.S. the JIRA sync bot completely replaced this issue description with some other problem statement. I copy/pasted the original description back from the associated JIRA ticket. Weird.

[2021-04-26 20:08] #3057 closed

[2021-04-26 20:27] sirugh commented on #3059
Oh no, sorry I was just noting this for the paper trail. We have an internal ticket for adding this to the GQL schema.

[2021-04-27 09:51] MajorKuprich opened #3144 "[bug]: Venia doesn't work with base Magento instance"
**Describe the bug**

Venia doesn't work with base Magento instance with sample data.

**To reproduce**

Steps to reproduce the behavior:

1. Install Magento 2.4.1 with sample data.
1. Install Venia 10.0.0.
1. Set up .env file for PWA (point MAGENTO*BACKEND*URL param to Magento app).
1. Build modules & start storefront server: `yarn build && yarn watch:venia`.
1. Reindex & flush cache from Magento

[2021-04-27 20:32] fooman commented on #3144
PWA Studio 10.0.0 is only compatible with Magento 2.4.2
source https://github.com/magento/pwa-studio/blob/develop/magento-compatibility.js#L7

[2021-04-27 20:36] fooman commented on #3115
Isn't this https://pr-3137.pwa-venia.com/venia-dresses.html?page=1  it?

[2021-04-27 21:26] sirugh commented on #3115
@fooman you're right, I think I got confused. @tkacheva that should work.

[2021-04-27 21:30] sirugh commented on #3144
Thanks for providing that link @fooman.

@MajorKuprich please report back and reopen if you have problems running with 2.4.2

[2021-04-28 15:03] 0m3r opened #3147 "Why ResourceImage doesn't use height attribute in <img"
@supernova-at @dpatil-magento

https://github.com/magento/pwa-studio/blob/99270701b2b607551f2e5881af272ed48ba7064c/packages/venia-ui/lib/components/Image/resourceImage.js#L29

[code]

[2021-04-28 15:32] sirugh opened #3148 "[feature]: Improved loading experience for Venia"
**Purpose**

Determine if we can come up with an elegant way to "progressively" load page-level content.

Currently, we think we are stuck showing a full-page loading spinner until we get the results of the `urlResolver` query. After that, we can instrument the app to show page-level skeletons but they'll (usually) only be in view for a short time before actual page content appears. The combinatio

[2021-04-29 11:21] Jordaneisenburger commented on #3148
Haven't thought about it to much but I think adding a skeleton/shimmer for each component makes more sense than a general shimmer for a whole page type. For these reasons:
- When you change the component layout you're less likely to forget you also need to update the skeleton that lives in the same folder.
- If you have components that conditionally render based on query data you're not showing a

[2021-04-29 20:24] sirugh commented on #3124
@magento export issue to JIRA project PWA as Bug

[2021-04-29 20:28] sirugh commented on #3124
@fooman I'm assuming the other options for "product listing sort by" might include "relevance" or whatever other options are included in the dropdown?

The issue suggests that this code will now match the backend, but it will only do so if the backend has selected "position", right?

[2021-04-29 20:37] sirugh commented on #3127
@magento export issue to JIRA project PWA as Bug

[2021-04-29 20:42] sirugh commented on #3117
@arielapaula can you confirm whether your payment types have included the necessary extensions? For example, the [venia-ui](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/targets/venia-ui-intercept.js#L32-L37 intercept adds the braintree type. Any additional type will need an extension/implementation.

[2021-04-29 20:44] sirugh commented on #3114
@magento export issue to JIRA project PWA as Bug

[2021-04-29 20:47] sirugh commented on #3116
@orienteed as far as I know the plp displays the "default" image for a product, not the filtered color for that product. This sounds like a feature request, so I'll close this for now but please feel free to create a new issue using the feature request template provided.

[2021-04-29 20:47] #3116 closed

[2021-04-29 21:24] ak77-prime opened #3149 "Feedback on page: /404.html"
``Work with GraphQL`` page goes to 404

https://magento.github.io/pwa-studio/tutorials/pwa-studio-fundamentals/work-with-graphql/?itm_source=pwa-devdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_term=graphq

[2021-04-29 22:33] fooman commented on #3124
@sirugh this PR is about aligning out of the box behaviour of Magento and PWA Studio.

For open source I am seeing these options:
![image](https://user-images.githubusercontent.com/455508/116626014-b44ffd00-a99e-11eb-88f5-ad6c315772ae.png)

With position being the default. I do not know where relevance comes from.

As an additional feature request PWA Studio could implement the values which seem t

[2021-04-29 22:33] fooman commented on #3124
correct with position being the default on a vanilla Magento install

[2021-04-30 01:04] Amooryjubran opened #3151 "WrongPackageManagerError: This project can only be used with the "yarn" package manager,"
Every time i run yarn install i get this error

yarn install v1.22.5
$ node -e 'process.env.CI||process.exit(1)' || npx npm-is yarn
/Users/omar/node_modules/npm-is/npm-is.js:67
    throw new WrongPackageManagerError(allowed, invoked);
    ^
<img width="1460" alt="Screen Shot 2021-04-29 at 9 04 05 PM" src="https://user-images.githubusercontent.com/54118716/116636080-70bdaa80-a92e-11eb-9bfa-0b71fe8e